[2019-02-11 14:31] icq4ever commented on #826
open closed issue here. (check below link)
https://github.com/processing/p5.js/issues/3512

[2019-02-11 16:28] Camilo318 opened #827 "Nature of issue?"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-02-11 16:29] #827 closed

[2019-02-11 20:19] grege2 opened #828 "Need to be able to check rev of p5.js in Web Editor and elsewhere"
#### Nature of issue?

- New feature request

#### New feature details:

The issue https://github.com/processing/p5.js/issues/3512 shows a case where it is quite misleading checking something in the Web Editor, without knowing what release of p5.js it is running.

I had this problem myself (ie. not knowing the rev behind the web editor) in a recent issue https://github.com/processing/p5.js/issues/

[2019-02-11 23:27] jaytay579 commented on #790
A bump on this issue and a related question. I now have my students back working locally in Brackets instead of using editor.p5js.org until we have a reliable workaround for the issue discussed in this thread, but not being able to use the online editor for in-class experimentation _really_ slows down the pacing of an already packed-to-the-gills course!

Which brings me to my related question: **D

[2019-02-12 04:03] L05 commented on #790
As a small follow up, I've found that disabling Autosave does not resolve this issue.

@jaytay579 I haven't tested it in a class setting, but it may be worth trying [Codepen](https://codepen.io). Here's a template:
https://codepen.io/L05/pen/KJREpO?editors=0010#0

[2019-02-12 07:12] hellonearthis opened #829 "customize the editors cursor"
The ability to customize the cursor would help with accessibility.
Like VS Code being able to select **block, block-outline, line, line-thin, underline, or underline-thin**

Also selecting the colour of the cursor would be help too as it's got zero contrast to much of the sketches text.

[2019-02-12 12:33] hellonearthis commented on #826
This can be updated by the user via the index.html
<img width="1386" alt="screenshot_19" src="https://user-images.githubusercontent.com/121805/52635669-5e165100-2f2f-11e9-8a67-4b50c96846cb.png">

[2019-02-12 12:42] icq4ever commented on #826
@hellonearthis good to know that :)

[2019-02-12 13:51] sanketsingh24 commented on #826
@hellonearthis I think that way is not beginner friendly, and we should be responsible for the version update stuff

[2019-02-12 15:32] hellonearthis commented on #828
Opening the index.html will show you the p5 version being used and you can change that to a newer version if you desire.
<img width="1386" alt="screenshot_19" src="https://user-images.githubusercontent.com/121805/52646844-662eba80-2f48-11e9-8dfa-a54ea14d9c9d.png">

[2019-02-12 15:39] hellonearthis commented on #790
Being a VS code fan @L05 i've been trying out [blitzStack]( https://stackblitz.com/edit/p5-basic)
Still I;m lucky that I've not see this problem in the p5.editor

[2019-02-12 16:19] jbracey2004 commented on #790
As far as using p5 in JSFiddle, I found this demo:
https://jsfiddle.net/SamyBencherif/5xuxrwpu/
Not sure about how it sandboxes. Looks like the magic functions work.

[2019-02-12 19:45] grege2 commented on #828
Thanks for that, I didn't know you could check index.html in the Web Editor. The current version is certainly running 0.7.2

![webeditrev](https://user-images.githubusercontent.com/33416604/52662473-68007a00-2f58-11e9-9d65-ebc1f190d72e.png)

There are other cases where you can't easily check this, eg. openprocessing.org, where the p5.js lib is buried in a huge framework, I was never able to find i

[2019-02-14 01:19] bmoren opened #830 "File missing in amplitude analysis sound example"
#### Nature of issue?

- Found a bug

#### Details about the bug:

File missing in amplitude analysis sound example:
https://editor.p5js.org/p5/sketches/S1EgmNgJXuQ

the file assets/lucky_dragons_-_power_melody.mp3 does not exist and causes the editor to crash when the sketch is run.

- Web browser and version:

Firefox 64.0.2
Google Chrome | 72.0.3626.96 (Official Build) (64-bit)

- Operating Sys

[2019-02-15 14:02] inspiredlabs commented on #627
This isn't working:
- Web browser and version:
  - Chrome 74.0.3694.0 (Official Build) canary (64-bit)
  - FF 65.0.1 (64-bit)
- Operating System: MacOSX 10.13.4

Asynchronous data loading JSON example (https://editor.p5js.org/p5/sketches/BJnQVekQOX), borks on either browser above, displaying a blank page.

Both console read: `Failed to load resource: the server responded with a status of 404 ()` &

[2019-02-15 14:04] inspiredlabs opened #831 "Asynchronous data loading JSON is displaying a blank page"
This isn't working:
- Web browser and version:
  - Chrome 74.0.3694.0 (Official Build) canary (64-bit)
  - FF 65.0.1 (64-bit)
- Operating System: MacOSX 10.13.4

Asynchronous data loading JSON example (https://editor.p5js.org/p5/sketches/BJnQVekQOX), borks on either browser above, displaying a blank page.

Both console read: `Failed to load resource: the server responded with a status of 404 ()` &

[2019-02-15 14:12] shiffman commented on #831
I can confirm that the error occurs with the editor using the built-in p5 example.

https://editor.p5js.org/p5/sketches/BJnQVekQOX

I was able to get it to work through the following steps:

1. Update the p5 library to 0.7.3.
2. Re-create the `bubbles.json` file manually.

I'm not sure what was causing the error with the example. Here is a working version:

https://editor.p5js.org/codingtrain/sket

[2019-02-15 18:12] lee2sman commented on #825
Hi, I have been able to reproduce this in Firefox and Chrome. Appears to be a new bug? It happens when I am not logged in.

Choosing Add File and Add folder produce the "enter filename" dialogue but don't appear to work.

[2019-02-16 01:39] meiamsome commented on #831
The script that generates these was fixed in 65c1c35d10c66e80d06280c82234d0b397ecd7d4 but it looks like the examples on the current site have yet to be updated.

[2019-02-16 03:46] meiamsome opened #833 "Page Crashes Under certain console.error situations"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Steps to reproduce this bug:

Any call to `console.error` where the first argument is not a string will cause a crash.
This includes all of the following:
`console.error()`
`console.error({})` // any object that doesn't support `indexOf`
`console.error({}, 'A string here')`

In particular, some parts of p5 will call `console.error`

[2019-02-16 03:48] meiamsome commented on #831
Ok, I've narrowed down the crash behaviour and opened up a specific issue for the more generic form of that ( #833 )

It looks like this example sketch is quite an old version of the one from the p5.js examples so they need to be updated.

[2019-02-16 23:14] rozim commented on #826
Ditto, reproduced, a simple sketch that calls circle(10, 10, 10) fails with
"Uncaught ReferenceError: circle is not defined...".

[2019-02-16 23:19] chrisorban commented on #795
Is this now migrated to http://editor.p5js.org ? The behavior still seems the same to me on firefox. I still can't drag the scroll bar with the mouse. Issue is less bad with chrome.

[2019-02-17 20:04] VashaTS commented on #172
I get the error:
"Access to XMLHttpRequest at 'https://assets.editor.p5js.org/' from origin 'https://editor.p5js.org' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource."

When trying to upload a font file to the editor.

Is this the same error? I don;t use any external servi

[2019-02-18 17:05] Judithricketts opened #835 "additional tabs"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-02-19 14:26] Janglee123 commented on #833
just for sake of information, passing number inside `console.error()` is one more reason for crashing editor.

[2019-02-19 17:39] bmoren opened #836 "add soft wrap for long text"
#### Nature of issue?

- New feature request

#### Feature enhancement details:

in the examples, and when writing examples for my classes, there tends to be long descriptive comments. It'd be amazing to have the ability to toggle softwrap or even have a setting for it in the editor so these comments can automatically remain within the editor window and prevent excess scrolling.

perhaps we could

[2019-02-19 17:42] bmoren commented on #836
comment/continuecomment.js

comtinue Comment addon could be an alternative  to achieve a similar ease of commenting

[2019-02-19 23:50] bmoren commented on #836
This is maybe also as easy as adding a toggle to the settings for lineWrapping here? : https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/Editor.jsx#L82

[2019-02-20 16:06] catarak commented on #811
no worries! getting development environments set up can be tricky.

did you run the command `docker-compose -f docker-compose-development.yml run --rm app npm run fetch-examples`?

[2019-02-20 16:08] #822 closed

[2019-02-20 17:24] catarak commented on #725
a new version of JSHint has been released, see https://github.com/jshint/jshint/releases. this issue should be pretty easy to fix now—just updating JSHint in the web editor!

[2019-02-20 17:37] catarak commented on #745
if you look in https://github.com/processing/p5.js-web-editor/blob/master/client/styles/vendors/_codemirror.scss, you can see the basic CodeMirror styles, and in https://github.com/processing/p5.js-web-editor/blob/master/client/styles/components/_editor.scss, some of the custom styles.

[2019-02-20 17:39] catarak commented on #702
@LakshSingla i don't have any near-term plans to work on this issue, but feel free to take it up if you feel it is important!

[2019-02-20 17:44] catarak commented on #820
the issue here is that rawgit has been sunset—the examples need to be updated to use a service besides rawgit!

[2019-02-20 17:46] limzykenneth commented on #820
I forgot about this but yes I found this across a lot of the sketches under the p5 account, lots of the assets are all trying to pull from rawgit.

[2019-02-20 17:46] catarak commented on #821
this is definitely related to #790! i'm going to prioritize working on fixing this issue—i've been traveling but now am back and can work on this.

[2019-02-20 17:50] catarak commented on #824
it would be great if you did some of this refactoring! when i started working on this project, redux and react were totally new to me and i did the best i could. don't feel like you have to do a ton of refactoring to make a PR—i think this can be done in small stages!

[2019-02-20 18:54] andytilia commented on #821
Great - thanks! The scenario in #790 happened to me yesterday as well.

Meanwhile my student has recreated her lost file, so no need to hunt for that specific case.

[2019-02-20 18:54] #821 closed

[2019-02-20 19:25] #502 closed

[2019-02-20 19:59] catarak commented on #568
the OS issue was fixed, but adding a project name limit would also be good to add.

[2019-02-20 20:07] catarak commented on #829
For me, one of the driving principles of the web editor is not adding a ton of configuration options. Would it instead make sense to change the cursor by default in the high contrast theme? Do you have an idea as to what a good default style for the cursor would be?

[2019-02-20 20:09] catarak commented on #790
sorry for the slowness in getting to work on this—i've been out of town and away from my computer! this ticket is high priority and hopefully i will have a fix soon, within the next week or so.

[2019-02-20 20:20] catarak commented on #828
hi @grege2! thanks for making this issue. i think this could be partially covered in the web editor, and partially in the p5 library itself. getting p5 to return its version number would be handled in the library. however, one feature we've been wanted to add to the web editor is library management, see #4, which i think would also help with this.

[2019-02-20 20:25] catarak commented on #830
thanks for reporting! i'm pretty sure this is due to the sunsetting of rawgit. also reported in #820.

[2019-02-20 20:27] catarak commented on #627
hi @inspiredlabs! i think the issue you're running into is that any of the examples that use external assets are broken, as reported by #820, #830. i'll get a fix in for this soon!

[2019-02-20 20:37] meiamsome opened #837 "Race condition when updating a project"
#### Nature of issue?
- Found a bug

#### Details about the bug:
Whilst looking through the code for other things, I discovered there is multiple `res.json` calls when a project is updated to have a different amount of files. In particular,
https://github.com/processing/p5.js-web-editor/blob/master/server/controllers/project.controller.js#L80 should be in an else clause.

I wasn't able to cause th

[2019-02-20 20:39] catarak commented on #825
thanks for reporting! i tried the add file and add folder options while not logged in, and it's still working for me. can you add more details about how to reproduce? for example, does this happen if it's a new sketch, if you're logged in, if the sketch already exists. etc.

[2019-02-20 20:45] meiamsome commented on #825
Oh, come to think of this, perhaps this is a side-effect of #837 ?

[2019-02-20 20:47] catarak commented on #825
@meiamsome could be! though i think if a user is not logged in, then that code wouldn't be called.

[2019-02-20 20:50] meiamsome commented on #825
@catarak Yeah, in that case it wouldn't be called, @lobertrand didn't specify if they were logged in with this problem or not, though, so maybe they were. That said, I don't think we should assume they are related, so I'd suggest leaving this open in case anyone can reproduce the issue for the time being?

[2019-02-20 20:54] catarak commented on #831
i think there are a few things going on here:

1. as pointed out in #820, #830, the examples that use external assets are broken due to the sunsetting on rawgit. they should be moved to jsDelivr!
2. #833

@meiamsome i'll take a look at your PR for #833, and get a fix for (1) within the next few days.

[2019-02-20 20:57] #833 closed

[2019-02-20 21:02] catarak commented on #826
thanks for reporting! i agree with @sanketsingh24, that changing the version in the index.html is not beginner friendly. it would be great if this version updated automatically (see #144, in which it took me forever to figure out a real solution, which has not yet been implemented). for now, i will update this manually 😄

also, i think this points to more support of #4—it would be great if you cou

[2019-02-20 21:03] #826 closed

[2019-02-20 21:06] catarak commented on #795
@chrisorban not yet! some changes still need to be added to PR #818

[2019-02-20 21:15] catarak commented on #172
@VashaTS can you link to the sketch that has this issue? i think that'll help me figure out what's happening here.

[2019-02-20 21:16] meiamsome commented on #44
@catarak Looks like this issue has been solved by #367 and should be closed?

[2019-02-20 21:16] catarak commented on #835
hi @Judithricketts! can you go into more detail about what you are requesting? there isn't enough here for me to figure out what you are suggesting. thanks!

[2019-02-20 21:17] catarak commented on #44
yep!

[2019-02-20 21:17] #44 closed

[2019-02-20 21:22] catarak commented on #836
i, personally, prefer not to have soft wrapping when writing code, as i find it confusing to look at. i see the value of it for comments, and i think perhaps the best approach would be the codemirror continuecomment addon, or a different codemirror addon that i don't know about (it seems there are a lot of these).

[2019-02-20 21:27] #837 closed

[2019-02-20 21:28] catarak commented on #825
@meiamsome i agree!

[2019-02-20 22:53] lee2sman commented on #825
Here's some more info. If I open a new private window and open the editor page but don't login (I'm testing with Chrome and Firefox)  and I choose add file or add folder, I am able to get that to work without having logged in. I don't have an option to upload an image (Maybe that's an intentional choice? if so, might want to have the dialogue box say 'Log in to be able to upload media files'). I'm

[2019-02-20 22:58] bmoren commented on #836
I agree that having softwrap, especially for functions with a lot of parameters, gets really confusing.
eg.
[code]

It seems like the continue comment addon would be the ticket. If it's a welcome thing to try I can maybe have a go at it this weekend and see if it's a good behavior

[2019-02-20 23:18] hellonearthis commented on #829
Making it 2px wide and 'red' would be a good start if it was part of the high contrast theme.

<img width="106" alt="screenshot_35" src="https://user-images.githubusercontent.com/121805/53131843-c968be80-35d2-11e9-851b-56eb4e467c23.png">

[2019-02-20 23:35] lobertrand commented on #825
The problem occurred whether I was connected or not, my internet connection was fine and it happened for several days in Chrome, Edge and Firefox. But now it seems to work again ^^

[2019-02-21 10:26] Judithricketts commented on #835
Apologies, this was a mistake - regards Judith

[2019-02-21 15:30] Sunomikey opened #839 "loadStrings String Addition/Concatenation in Filepath"
#### Nature of issue?
- Found a bug

#### Details about the bug:
loadStrings() won't load anything past a direct file path.

What I can do:
loadStrings('test.txt')

OR
x = 'testFolder/test.txt';
loadStrings(x);

What I can't do:
ext = '.txt';
loadStrings('test'+ext');

OR
i = "1";
loadStrings('test'+i+'.txt');

- Web browser and version: Chrome p5 Web Editor 72.0.3626.109 (Official Build) (64-bit)

[2019-02-21 19:44] CTeam30 opened #840 "p5.js Web Editor crashing"
- Found a bug

#### Details about the bug:

when adding ';' to the line    'for (game.level; game.level = game.level + 50____)'    in the space marked with ___  and run the code. The page will crash and has to be restarted.

- Web browser and version: Chrome 72.0.3626.109 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10 Home, Version 1803
- Steps to reproduce this bug:
add

[2019-02-21 20:16] Sunomikey commented on #840
What's your expected outcome here?

The reason your page is crashing is most likely due to an Infinite loop. The for loop is expecting

[code]

The most basic for loop will need:
[code]

There are some more advanced versions of this but I don't think that's what you're going for here.

[2019-02-21 20:22] CTeam30 commented on #840
ohh ok thank you.

I was attempting to draw a rectangle every time the level went up but I can see why what I wrote created an infinite loop.

[2019-02-21 20:23] #840 closed

[2019-02-21 20:34] catarak commented on #836
go ahead and play around with it! in my experience, including codemirror plugins isn't super hard, it's just a matter of including the file and then updating the CodeMirror configuration when you instantiate it.

[2019-02-21 20:41] catarak commented on #829
You can change the style of the cursor using CodeMirror: https://codemirror.net/doc/manual.html#styling, and then scroll to 'CodeMirror-cursor'

[2019-02-21 20:43] #835 closed

[2019-02-21 21:06] catarak commented on #839
thanks for reporting! i'm not able to reproduce this, for me it is working, see https://editor.p5js.org/cassie/sketches/tk22ndoWs

[2019-02-21 21:13] catarak commented on #825
thanks for the details! it seems like this bug is not currently reproducible, so i'm going to close this ticket for now. if it happens again, please reopen this issue!

[2019-02-21 21:26] Sunomikey commented on #839
Hi @catarak!

That was working for me as well. My problem came with adding strings together to make a filepath.

Modifying your code would be:

[code]

[2019-02-21 21:32] #825 closed

[2019-02-21 21:56] meiamsome commented on #839
This is the same underlying issue as #813 I believe, that you can't refer to local files properly. #771 #674 also seem at least partially related. All of these cases are referring to local files in the code that aren't being served up correctly.

For example, in @catarak 's sketch above the file at `https://editor.p5js.org/cassie/sketches/tk22ndoWs/test.txt` returns a 404 instead of the correct co

[2019-02-21 21:57] catarak commented on #839
ahh sorry! did not read closely enough 😸

and @meiamsome, yes, you're right. that url should return the text content like it does for images.

[2019-02-21 22:05] Sunomikey commented on #839
Thanks @meiamsome for linking the other issues. The definition of "When the file names are generated programmatically, rather than just a string inline, it loads the files in a different way." in 674 would be a good way to describe this.

Good to know I'm not crazy and that the example code "should" work.

Thanks for the help everyone!

[2019-02-21 22:13] meiamsome commented on #839
For anyone looking to work on this, I believe the issue is in this function: https://github.com/processing/p5.js-web-editor/blob/e75c98b299c4912db0e9931b77691725b8024f8c/server/controllers/project.controller.js#L151-L182

Specifically, it does not account for the case where `file.content` is used instead of `file.url`. I'll work on a fix for this in the next few days if someone else hasn't picked

[2019-02-21 22:15] #820 closed

[2019-02-21 22:15] #830 closed

[2019-02-21 22:15] #831 closed

[2019-02-21 23:03] catarak commented on #790
spent some time looking at this! i think there's a couple things going on here, but i _think_ at least merging #838 fixed one of the issues. another one is the delay in propagating data between CodeMirror (the library that this project uses for the editor) and Redux (the front-end state manager). i'm going to work on some changes for the latter, but keep me updated if you've noticed any improvemen

[2019-02-21 23:06] REAS commented on #790
Thank you for the update! Will do.

[2019-02-22 21:59] meiamsome opened #842 "Multiple Files of the Same Name in folders"
#### Nature of issue?
- Found a bug

#### Details about the bug:
When there are two files with the same name but in different folders, the frontend UI can get confused and overwrite the wrong file contents.

- Steps to reproduce this bug:

1. Create a new project
2. Add a folder
3. Create file 'style.css' inside the folder, and add some contents and save
4. The contets of 'style.css' in the root f

[2019-02-22 22:57] catarak commented on #842
thanks for reporting! i would assume there's some code that checks which file to update by name and not by the full path and/or id.

[2019-02-22 23:05] #839 closed

[2019-02-22 23:11] meiamsome commented on #842
@catarak yep, that is the case - is it safe to assume a file in redux will always have an attached unique `id`? I have a PR to change this to be id-based but I don't know if there will be such cases where there is no id?

[2019-02-24 22:55] meiamsome opened #845 "Naming a folder 'root' causes issues"
#### Nature of issue?
- Found a bug

#### Details about the bug:
This is a related issue to #842, but requires a more in-depth refactoring to fix.

- Steps to reproduce this bug:
Create a folder called `root`. The folder is created, but shows up as blank in the sidebar due to the special behavior for a directory based on this name.

You can also cause a crash by doing the following:
Create a folde

[2019-02-25 17:26] catarak commented on #842
@meiamsome yes, the id's should be unique! it uses the mongodb objectid's, which are generated client side

[2019-02-25 17:57] #842 closed

[2019-02-25 18:01] catarak commented on #845
thanks for reporting! i figured this would come up eventually. in creating the tree structure for the files/folders, for some reason i came up with this solutions, which down the line i realized wasn't perfect, but so be it. my proposed solution is
- change the root folder to be denoted by the `fileType` attribute
- change change the code that looks for `file.name === 'root'` to `file.fileType ===

[2019-02-25 18:40] meiamsome commented on #845
@catarak That does sound like a reasonable suggestion, but might I suggest the following refactor instead:

Add to the project schema a `rootFileId` field. This field would be used for looking up the root folder and so it would not have anything special about it in the `files` structure. That would mean that it is less likely that someone will try and create multiple files of type 'root' or any si

[2019-02-25 19:45] catarak commented on #845
given that these are unique per project, i agree, it makes sense to put them at a project level. and i think we'd figure out a way to make the data migration as painless as possible.

also, with respect to the selected file attribute—i've wondered if this should be persistent and saved server-side or if it's fine to just select the "main" javascript file (determining this is non-trivial) when a us

[2019-02-25 21:46] catarak commented on #790
just merged some commits that should fix the scenario described by @anuraghazra (will take a few minutes to deploy), would be great to get some testing!

[2019-02-25 21:47] shiffman commented on #790
Woohoo! I'll do some serious testing of this tomorrow during class! Thank you @catarak! 🥇

[2019-02-25 21:52] #725 closed

[2019-02-25 21:57] catarak commented on #828
i'm going to close this issue as it's a duplicate of #4 and also #144, and your other suggestion should be put into the p5.js library itself.

[2019-02-25 21:57] #828 closed

[2019-02-26 01:06] meiamsome commented on #845
@catarak I definitely agree that it is a bit weird to keep that state on the server when it's clearly a user/editor preference kind of thing, but I think it makes sense as a way to remove the non-trivial operation you describe. I would definitely be for creating an issue where we could rethink that property from a wider perspective. It might even be worth storing the currently selected file in som

[2019-02-26 05:39] bengrosser commented on #790
I have not seen this bug for a while (the last week?), so it certainly
appears your efforts are working out for me. Will continue to watch for it.
Thanks!

On Mon, Feb 25, 2019 at 3:47 PM Daniel Shiffman <notifications@github.com>
wrote:

[2019-02-26 08:18] grege2 commented on #828
Hi @catarak  - that's fine to close this issue in the p5 web editor list. What do you think I should do about progressing it in p5.js ?

[2019-02-26 21:56] catarak commented on #845
this sounds good to me! maybe for now it makes sense to create the `rootFileId` and `selectedFileId` for each project in this way (since the workflow is basically the same), and then open another ticket that's more generally rethinking the "selected file".

[2019-02-26 22:25] catarak commented on #828
i just took a look at the ticket you made in the p5 repository (processing/p5.js#2525)—if you think it's important, feel free to reopen it! i recommend adding some use cases and some examples of libraries that add this behavior, as it will help determine how high priority it is with respect to other open tickets.

[2019-02-27 02:53] grege2 commented on #828
Hi @catarak. Thanks. I'll look around, and maybe submit an implementation as well. Always easier to approve a mod/PR that's already been solved :=) Ciao.

[2019-02-28 19:19] cebasfu93 opened #850 "Error 502 Bad Gateway"
#### Nature of issue?

- Unable to download sketch.

#### Details about the bug:

- Web browser and version: Firefox 65.0 and Chrome 72.0.3626.119
- Operating System: Windows 10
- Steps to reproduce this bug: On the sketch's page: File -> Download. A new window is opened trying to download the sketch. It fails with "Error 502: Bad gateway". I have tried other sketches and browsers with no success.

[2019-02-28 19:21] catarak commented on #850
thanks for reporting! this is working for me on Mac so maybe it's a Windows issue. will investigate!

[2019-03-01 06:15] siddhant1 opened #851 "Add project setup and start instructions in Readme.md"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
I think we should add start scripts to help people in the setup workflow

[2019-03-01 06:21] siddhant1 opened #852 "npm run clean and npm run start fails (cross env is not recognised as a command)"
#### Nature of issue?

- Found a bug

#### Details about the bug:
npm run clean and npm run start fails in powershell (Windows)
- Operating System:
Steps to reproduce
1. Run npm run fetch-examples on a new fork

![image](https://user-images.githubusercontent.com/30566406/53620252-4c63c780-3c18-11e9-8c2e-9eb35fa356f6.png)

[2019-03-01 06:23] siddhant1 commented on #852
Looks like we have to hit npm install first
I think we should mention it somewhere in readme.md. This should be in readme instead of https://github.com/processing/p5.js-web-editor/blob/master/developer_docs/installation.md

[2019-03-01 06:25] siddhant1 commented on #824
Rather than using redux ,we have good support for context api now (with react hooks too), redux adds a lot of complexity and we can use something like https://github.com/jamiebuilds/unstated for state management

[2019-03-01 06:28] siddhant1 commented on #824
If you are still with redux, I can also help refactor this @catarak @meiamsome can you help me get started with it?

[2019-03-01 06:35] siddhant1 opened #853 "Remove redundant console.logs"
I think we should remove console.logs from the code

Links :- https://dev.to/mornir/-dont-leave-console-logs-in-production-14na
https://hackernoon.com/please-stop-using-console-log-its-broken-b5d7d396cf15

I can send in a PR

Have a look @catarak

[2019-03-01 06:37] siddhant1 opened #854 "Add husky to prevent committing poorly formatted code"
I think we should add a pre-commit hook to lint-staged files to prevent committing poorly formatted code

[2019-03-01 06:50] siddhant1 opened #855 "Give signin with google and signin with github options on the signup page"
We should give sign in with google and sign in with github options on signup page because the user first creates an account and then he will sign in.
If there are no options present in the signup page , he will create a normal ID

[2019-03-01 07:30] siddhant1 opened #857 "Upgrade to React Router 5"
Upgrade to React Router 4 as it brings too many new things and performance improvements.
Links to migrate :- https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/migrating.md

I can work on it and send a PR @catarak

[2019-03-01 07:40] siddhant1 opened #858 "Enhancement :- Move from momentjs to date-fns to improve performance"
This is a very small enhancement in the editor but I we should use date-fns over momentjs because it is super small and imporves performance.

Links :- https://twitter.com/addyosmani/status/1037587112730611714?lang=en

[2019-03-01 20:01] bmoren commented on #745
I'd also like to add that there is an issue while typing that I believe is related to this one where the scroll bar is not caught up to the overflowing text:

![ezgif com-optimize](https://user-images.githubusercontent.com/1385996/53663126-8342d900-3c2a-11e9-8e9d-ece3b6bb2fae.gif)

[2019-03-01 20:17] catarak commented on #850
just tried this on Windows 10 Firefox/Chrome, and I'm not able to reproduce. i think that when you tried to download, there must have been an issue with the hosting. i'm going to close this for now, feel free to reopen if this comes up again!

[2019-03-01 20:21] catarak commented on #851
sure! what do you think is hard and/or missing?

[2019-03-01 20:24] catarak commented on #852
The installation guide is mentioned in the README, though it's indirect. There's a link to the developer docs, which is the README in `developer_docs`, which links to the installation guide. Maybe the copy in the root README can be more clear—something like, "contributors, start here!".

[2019-03-01 20:26] catarak commented on #824
I'd prefer to keep redux for now. I know hooks are cool and all but I think there are certain technical updates/cleanup things that are more important for this project.

[2019-03-01 20:27] siddhant1 commented on #852
Yeah sure that'll good , I think we should also add a list of starting steps in the readme to make it beginner friendly
Something like this
# Setting up the project
This project requires Node.js version >= 8.10 and yarn

Install dependencies
`yarn`
Run development
`yarn start`
Deployment
`yarn build`

[2019-03-01 20:27] catarak commented on #853
totally! it would be amazing to add a logging library. maybe this ticket could be that—investigate and add logging library?

[2019-03-01 20:29] siddhant1 commented on #853
Yeah , I will look into it and start refactoring

[2019-03-01 20:38] catarak commented on #854
there's already linting checks integrated into travis ci, which get run every time a commit is pushed to github. what's the benefit of using husky too?

[2019-03-01 20:42] siddhant1 commented on #854
Husky runs every time when user commits , Travis ci runs when he makes a pull request.

Adding husky will let the user know about the mistakes on committing.
Also we can use `prettier --write` to autoformat the code on committing according to .prettierrc

[2019-03-01 20:45] catarak commented on #855
agree! i don't think it's totally clear you can sign up with google/github. i think there's a few things that could be cleaned up with the authentication flow in general 🌈

[2019-03-01 20:51] catarak commented on #857
this would be great to upgrade!

[2019-03-01 20:53] catarak commented on #858
for how little this project uses momentjs, i agree, i think this is a great idea. hopefully would even be too hard!

[2019-03-01 20:54] catarak commented on #745
@bmoren that does look like the same issue!

[2019-03-01 21:00] catarak commented on #852
i don't think it should be added to the root README! i had the installation instructions in there for a while, but it got way too long. in my opinion, the point of the root README is to be a landing page for the project, and adding the installation instructions are too detailed.

[2019-03-01 21:07] catarak commented on #854
i can see the benefit of this, but for this project, i don't think it makes sense. p5.js and the p5.js web editor attract a lot of folks with a variety of programming experience, and a lot of times new contributors will make [wip] pull requests, which i think is totally cool if there are linting errors. to me, this is not a big issue that this project is having, and i think the costs outweigh the

[2019-03-01 23:30] bmoren commented on #836
can someone point me to the places I'll need to work in order to add a feature in the settings.  I'm new with react, and there's a lot going on here!

[2019-03-02 03:07] siddhant1 commented on #858
Working on this and sending a PR!

[2019-03-02 03:08] siddhant1 commented on #857
Working !

[2019-03-02 03:14] siddhant1 commented on #854
I think this makes sense , thank you for reviewing

[2019-03-02 03:14] #854 closed

[2019-03-02 03:48] siddhant1 commented on #852
So should we make a link saying "contributers here" and link them to the installation instructions.

[2019-03-02 10:11] siddhant1 commented on #855
Can you tell me what should I do to clean up the flow?

[2019-03-02 10:11] #851 closed

[2019-03-02 11:42] siddhant1 opened #861 "Enhancement : Add a .prettierrc file to match with the .eslintrc"
We should add a .prettierrc file to match with the .eslintrc .
I had my global prettierrc setup (which autoformats on save) which includes no-semicolon rule.
But in this project the no-semicolon rule breaks the rules in .eslintrc
To prevent this we should add local .prettierrc file that  follows .eslintrc rules

@catarak you can create one using the playground https://prettier.io/playground/ and I

[2019-03-02 11:46] siddhant1 opened #862 "Implement Code Splitting"
I think we should implement route based code splitting ,this will be easy to implement but will serve great improvements for the performance of the app.

Links :- https://medium.com/@addyosmani/the-cost-of-javascript-in-2018-7d8950fbb5d4
https://reactjs.org/docs/code-splitting.html
https://github.com/jamiebuilds/react-loadable
https://medium.com/airbnb-engineering/server-rendering-code-splitting-a

[2019-03-02 11:46] siddhant1 commented on #862
I can work on it while working on #857

[2019-03-02 17:52] siddhant1 commented on #853
As I was looking through the code , I found out that most of the console statements were used for debugging and some for handling errors.
There are 2 ways to solve this.
1. Remove console.logs used for debugging
2.find a way to disable console.logs on the prod mode and enable in dev mode which agains boils down to adding a logging library

[2019-03-02 17:54] siddhant1 commented on #789
Is this still being worked at? @catarak can i take this one?

[2019-03-02 18:02] GaurangTandon commented on #789
Yeah, @siddhant1 you can take this issue. Sorry I was unable to work on it.

[2019-03-02 18:03] siddhant1 commented on #789
Alright ! I will work on this one

[2019-03-03 07:25] siddhant1 opened #863 "Bug : Login with github and login with google fails"
Screenshots attached:
![screenshot from 2019-03-03 12-49-57](https://user-images.githubusercontent.com/30566406/53692324-9339f480-3db3-11e9-8ab0-5cbddc427fac.png)
![screenshot from 2019-03-03 12-50-17](https://user-images.githubusercontent.com/30566406/53692325-9503b800-3db3-11e9-804c-e37b3c3666ce.png)

[2019-03-03 10:38] siddhant1 commented on #390
@catarak @LakshSingla is this still being worked on?

[2019-03-03 11:55] siddhant1 commented on #789
@catarak @GaurangTandon  Can you have a look at https://github.com/siddhant1/p5.js-web-editor/tree/feature
I am not able to point at the problem , in my sense it should work .
Can you help me fix this

[2019-03-03 12:42] siddhant1 commented on #789
Fixed it ! Sending a PR soon

[2019-03-03 14:41] LakshSingla commented on #863
Is this on your localhost ?

[2019-03-03 14:42] LakshSingla commented on #390
@siddhant1 #819

[2019-03-03 15:00] LakshSingla commented on #702
In lieu of making the editor more mobile friendly, I believe they should be added (Although may be proposed as a long term goal). I propose adding a small button to the share modal which would open another overlay containing the QR Code. Here's a react library we may use [qrcode.react](https://www.npmjs.com/package/qrcode.react). It should be easy to implement if there are no problems with the pos

[2019-03-03 15:00] siddhant1 commented on #863
Whoops ! Looks like it was the problem ! Thanks for claryifying

[2019-03-03 15:00] #863 closed

[2019-03-03 16:45] LakshSingla commented on #231
@catarak After the new implementation of the new SketchList layout, I would like to take up this issue. What all are the features one would like to search upon ?? :thinking:

[2019-03-03 17:01] slowizzm commented on #231
I would like to be able to search by name, date, and an option to tag sketches and search by tag would be wonderful too.

[2019-03-03 19:28] LakshSingla commented on #231
@slowizzm How do you propose searching by date ? Should there be some fixed format that the user should enter and it should filter the sketch by that. Alternatively, can you enumerate some sample queries (esp. pertaining to date, which could be entered in the search box).
Also, for the tags part, I believe it would require a change in the database schema and it makes sense to break it into a new i

[2019-03-03 19:46] LakshSingla opened #864 "Option to tag the sketches"
#### Nature of issue?
- New feature request

#### New feature details:
Option to create tags (custom defined) and tag the sketches (#231), so as to categorize them and increase the ease of use for users with a large amount of sketches. (Credit @slowizzm). Goes hand in hand with the search feature.
I believe that there is an existing issue (#557), but it does not quite talk about tags being a separ

[2019-03-04 01:04] slowizzm commented on #231
After thinking about it, name and tags would be more than sufficient. When I said “date”, I was thinking about being able to search for date ranges corresponding with specific semesters. But, I think once the gallery is implemented, that will work better than searching by date.

So, my vote is a way to search by name and tag. If all else, by tag.

Thanks.

[2019-03-04 08:01] LakshSingla commented on #836
@catarak @bmoren If I may weigh in, wrapping is a feature that is generally not preferred while writing code, but may become indispensable sometimes when editing long lines of code(say if copied from internet) where one may need to look upon whole line at once. Since the person is focusing only on that line(or small chunk) of code, it is not confusing for him/her for that particular period to enab

[2019-03-04 15:20] bmoren opened #865 "resizing console only comes into effect after re-engaging with the code editor window"
#### Nature of issue?

The console must be tied into the update of the codemirror editor. when resizing the console, it will only accept the resize when re-engaging with the editor.

- Found a bug

#### Details about the bug:

- Web browser and version:  FF 65.0.1 (64-bit)
- Operating System:  MAC OS 10.13.4
- Steps to reproduce this bug:
1. drag up the console to a new size
1. it will snap back t

[2019-03-04 16:59] catarak commented on #852
i just added another link to CONTRIBUTING.md and the root README. if think it should be clearer, feel free to make a PR, but it's under the section "Get Involved", so i'm not sure how to make it more clear than that.

[2019-03-04 16:59] #852 closed

[2019-03-04 17:01] catarak commented on #855
there's a few other open tickets:
- #760
- #695 - possibly related to some weirdness with connecting email/pw accounts with oauth accounts

[2019-03-04 17:11] catarak commented on #861
this could be a nice to have! for another project i'm using [EditorConfig](https://editorconfig.org) and i'm not sure if that would be better, or if both would be great, or if only a prettier config would be good enough.

[2019-03-04 17:15] catarak commented on #862
hopefully this would have a meaningful impact on the site loading—given that the web editor is mostly the code editor/preview window, i wonder if this would make a significant impact. it's worth investigating!

[2019-03-04 17:16] catarak commented on #853
sounds great to me!

[2019-03-04 17:19] siddhant1 commented on #862
If the user is only there for the editor , we can save some valuable loading times by not downloading login page and examples page JavaScript

[2019-03-04 17:21] siddhant1 commented on #695
@migom6 are you still working on it?

[2019-03-04 17:23] siddhant1 commented on #861
https://stackoverflow.com/questions/48363647/editorconfig-vs-eslint-vs-prettier-is-it-worthwhile-to-use-them-all

[2019-03-04 17:24] catarak commented on #862
yeah, i think it is worth investigating! i wonder if there's a way to do some incremental tests so all of this work doesn't happen for a small improvement.

[2019-03-04 17:56] catarak commented on #864
i'd be curious to discuss whether it makes sense to add tags, or implement #43, or both. for me, one principle of the web editor is less is more, so i think it's worth thinking about how these features are related. #43 is a high priority issue to be worked on in the near future, so it's important to have this discussion now.

[2019-03-04 17:57] catarak commented on #231
i think date could be handled by being able to view sketches in ascending/descending order!

[2019-03-04 18:06] catarak commented on #836
with respect to adding this as a setting, i'm wondering if that makes sense. a guiding principle of the web editor/editor configuration is less is more. however, if it feels like it comes up a lot, i'm open to adding it.

[2019-03-04 18:11] shiffman commented on #864
I am not sure whether "tags" or "folders" or "collections" or all of the above is the right terminology or implementation either! For me, the two main things I see a need for are:

1. A way for me to organize a group of sketches in my own account into a "collection" or "folder" that can be viewable from a single link. An example of this is "Nature of Code book examples" or "All Coding Train coding

[2019-03-04 18:14] catarak commented on #836
are there other scenarios in which adding a soft-wrap setting would be useful? one of the guiding principles of the web editor is keeping the amount of configuration options low, so i want to be cautious about adding stuff, and think carefully about its utility.

one thing to think about is a feature that's coming up is different editor views: code full screen, preview full screen, and code + prev

[2019-03-04 18:14] catarak commented on #865
i've noticed this, but haven't figured out steps to reproduce, so thanks for this!

[2019-03-04 18:17] catarak commented on #861
thanks! my concern with adding this stuff is that it's another thing to install, which might be intimidating for new contributors. however, i guess adding these files to the project doesn't do any harm if you don't have these installed, and the linter will pick up the styling errors anyway.

[2019-03-04 18:37] catarak commented on #864
@shiffman thanks for breaking this down! sometimes it's hard to separate "user stories" from "implementation", and focusing on collections/tags feels like focusing on implementation. i think it would be helpful to think about incrementally implementing these features rather than focusing on implementation details, which will then help figure how what is necessary here.

[2019-03-04 19:05] siddhant1 commented on #865
Will investigate and fix !

[2019-03-04 19:05] siddhant1 commented on #858
Closing ! Fixed

[2019-03-04 19:05] #858 closed

[2019-03-05 14:41] siddhant1 commented on #789
@GaurangTandon @catarak What icons should I use for carat symbol.
Should I include font-awesome?

[2019-03-05 15:26] eharkins100 opened #868 "Unclear console message if image in loadImage is not found"
#### Nature of issue?

- Found a bug (more likely a user error by me)

- Web browser and version: <Google Chrome | 72.0.3626.119 (Official Build) (64-bit)>

- Operating System: <MacOSX Sierra 10.12>

- Steps to reproduce this bug:

In openprocessing.org code editor, this code works the way I want it, but in the p5 editor, I get his console message:

Event {isTrusted: true, constructor: Object}

`v

[2019-03-05 20:40] LakshSingla commented on #868
@eharkins100 It seems as if you have not actually imported `aa.png` and `bb.png` in your sketch.
Solution:
 - Under `Sketch` menu on top bar, click on `Add File`.
 - Drag the PNGs from your desktop on the blank area provided (below text box).

Alternatively, you can host the images on another site and provide its URL instead of `aa.png` or `bb.png`

[2019-03-05 21:25] #865 closed

[2019-03-05 22:21] catarak commented on #789
in the design there's not currently a carat for the sorting; however, i do think that there should be one to the right of each heading. this project uses modern pictograms, so that's a good place to pull icons from. i'm thinking these icons for now:
<img width="98" alt="screen shot 2019-03-05 at 5 21 17 pm" src="https://user-images.githubusercontent.com/6063380/53841585-20737980-3f6b-11e9-9067-d1d

[2019-03-05 22:31] catarak commented on #868
i'm finding the same thing, that i'm able to get that console message to appear if i just copy your code into a new sketch and don't upload any images. however, the console message is not clear, and that's an issue!

[2019-03-06 02:34] LakshSingla commented on #868
@catarak I can help investigating this

[2019-03-06 03:26] bmoren opened #870 "Feedback for inability to use Add Folder / File Menu on non-owned shetches"
#### Nature of issue?

- Existing feature enhancement

- Web browser and version:  FF 65.0.1 (64-bit)
- Operating System:  OSX 10.13.4
- Steps to reproduce this bug: Open a sketch that is not owned by your account and attempt to add  a file in the sketch menu

#### Feature enhancement details:

When looking at a sketch that is not your own (under you logged in account) you cannot add a file / fold

[2019-03-06 08:48] siddhant1 commented on #789
Yeah ! Please share them

[2019-03-06 15:10] eharkins100 commented on #868
thanks for your help!

very appreciated

On Tue, Mar 5, 2019 at 7:31 PM Cassie Tarakajian <notifications@github.com>
wrote:

--
*Ed Harkins*
Middle School Technology
eharkins@nido.cl | +56 9 8198 9359

--
_Confidentiality Notice: This email and any attachments contain information
belonging to Nido de Aguilas which may be confidential. This information is
intended solely for the individual or entit

[2019-03-06 15:54] catarak commented on #870
i agree that it is not clear when you are looking at a sketch that is yours vs one that is not. i'm open to discussion and ideas about how to make this clearer!

[2019-03-06 16:18] ajuusola commented on #437
I'm also having this issue.
I've been attempting to work in p5 throughout the week, but I keep running into issues where my sketch will revert back to a previous duplicate I have made of it several minutes (sometimes even days) ago. No matter how many times I save, restart my computer/browser, or duplicate my documents, it still decides to jump back to a previous version of the sketch I've been us

[2019-03-06 17:00] LakshSingla commented on #870
There can be 2 courses of action according to me, 1. The option should be blurred out and on hovering on the disabled button, there should be a Tooltip (in language of Material Design) displaying that the user should clone the sketch first.
2. On the other hand, one can display the Modal on clicking the Add File/Add Folder menu that the person should clone the sketch first.
Both have relative draw

[2019-03-06 17:09] nimishagarwal76 opened #871 "Menu hiding Main Navigation Tabs"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 70.0.3538.77 (Official Build) (64-bit)
- Operating System: Ubuntu 18.04.1 LTS

#### Bug details:
![screenshot from 2019-03-06 22-00-23](https://user-images.githubusercontent.com/37630020/53899201-ae309100-405f-11e9-8154-f9ef3bedc3d2.png)

I am not sure if this was intended this way, but would defin

[2019-03-06 17:26] bmoren commented on #870
Since there are no tool tips anywhere in the menu as it exists, it seems like a better solution would be to use an alert / modal for notification. It feels more immediate and would require very limited scope to implement.

as a third option, we could simply disable menu items based on the relationship of the sketch to the owner. eg. if you don't own the sketch, don't show the add file/folder.

yet

[2019-03-06 19:38] Whitevinyl opened #872 "Center sketch in "Present" mode"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I think it would be nice if the canvas was centered in the browser when using the Present mode (file > share). It's visually more pleasing and makes a bit more sense if demoing a sketch on large screen/projector.

The following kind of styling should center small canvases, while still allowing much larger can

[2019-03-07 03:24] bmoren commented on #745
related, flexbox issue:

https://github.com/codemirror/CodeMirror/issues/4142

[2019-03-07 14:57] ankitjena commented on #231
@LakshSingla are you working on this? Or am I free to work on it?

[2019-03-07 16:17] siddhant1 commented on #861
Can you create a .prettierrc to match with the code style  I will configure eslint to work with it

[2019-03-07 16:27] siddhant1 commented on #853
@catarak I was thinking of a solution to this ticket.
Should I monkey patch window.console.log which checks if we are in dev mode or prod mode and logs only in dev mode?

[2019-03-07 19:26] catarak commented on #871
thanks for reporting! i agree that this UX could be improved.

[2019-03-07 20:54] LakshSingla commented on #870
@bmoren According to me adding Duplicate Sketch button in the front of UI would not convey the fact that one needs to duplicate it in order to add files or folders(and would give a more general `Fork me on GitHub` sense of feeling). If we can find someplace to add the advantages of Duplicating the sketch, it would be much better. Also I agree with your idea of dropping the tooltips altogether beca

[2019-03-07 20:56] LakshSingla commented on #231
I am not working on this issue, you can work on it. Although I believe that there is sorting functionality to be implemented after new SketchList design is implemented. Also regarding tags, there is a seperate discussion on #864, which is more evolved than this and you might like to read up on before starting to code.

[2019-03-08 13:41] nimishagarwal76 commented on #704
@catarak I feel that sorted alphabatical order would be nice. VS Code follows similar structure, its really nice. Even sublime follows the same.

If it is to be implemented I would like to work upon it.

[2019-03-08 13:48] nimishagarwal76 commented on #704
Isn't #789  and this issue same?

[2019-03-08 16:16] nimishagarwal76 opened #873 "Highlight current file"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
![screenshot from 2019-03-08 21-43-32](https://user-images.githubusercontent.com/37630020/54040460-722a3700-41eb-11e9-9288-4588db298d52.png)

Like most of the editors, the file on which user is currently working upon can be highlighted. It helps a lot when the project size becomes big.

[2019-03-08 16:18] nimishagarwal76 commented on #873
@catarak I would like to work upon the issue if it is to be implemented

[2019-03-08 16:27] #873 closed

[2019-03-08 17:41] nimishagarwal76 opened #874 "Multiple file options"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 70.0.3538.77 (Official Build) (64-bit)
- Operating System: Ubuntu 18.04.1 LTS
- Steps to reproduce this bug:
    - Right click on mutiple files

On losing focus file menu needs to be closed. Otherwise it looks ugly when no option is selected from file menu and another file is right clicked.

![scre

[2019-03-08 18:24] catarak commented on #872
thanks for the suggestion! this has come up before, and my opinion is that this can be more harm than help, as i'm sure there are plenty of times that folks _wouldn't_ want the sketch to be centered. my suggestion for this is to edit the sketch's CSS so that the canvas is centered on the page.

[2019-03-08 18:24] #872 closed

[2019-03-08 18:30] catarak commented on #853
`process.env.NODE_ENV` is already passed to the front end (e.g. in [App.jsx](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/App/App.jsx)), so removing console logs when in prod should be pretty simple!

[2019-03-09 05:28] EOstling commented on #681
@catarak I would like to help with this issue, what needs to be done?

[2019-03-09 07:09] Janglee123 commented on #711
@pwjablonski as I think change in `padding` or `log_icon_height`
may be not works, but if you got it then kudos to you. Problem seems to be inside `console-feed`. I have opened [issue](https://github.com/samdenty/console-feed/issues/17) in console-feed repo. That will surely be help you.

[2019-03-09 13:12] siddhant1 commented on #871
@catarak Since I picking up on this one , what kind of design change you'd expect

[2019-03-09 13:39] nimishagarwal76 commented on #871
@siddhant1 apart from design changes I think some functionality changes would also be required. Even if you margin the menu down you would be required to click on a menu twice to open it. Once for closing the already opened menu and other for opening the required menu.

[2019-03-10 20:11] nik72619c opened #879 "non-optimal function bindings at Nav component"
#### Nature of issue?

- Found a bug

#### Details about the bug:
The functions inside the class components like Nav.jsx are bound inside the render function which should not be done since this is gonna make react use reconciliation and cause a re-render, as it would find a new instance of this function every time. So this must be corrected in order to prevent any optimisation issues.
- Web browse

[2019-03-11 03:44] siddhant1 commented on #879
Doesn't look like a huge deal to me but will give some performance boost , I will refactor it

[2019-03-11 03:47] siddhant1 commented on #855
Both of the tickets seem inactive , should I refactor it and send another pr?

[2019-03-11 03:48] siddhant1 commented on #871
I think we can just space out stuff when the drop-down is on

[2019-03-11 07:41] nik72619c commented on #879
I'm working on it

[2019-03-11 07:42] siddhant1 commented on #879
I don't think it's that big of a deal , let @catark have a look and then start

[2019-03-11 07:43] nik72619c commented on #879
cool...but this is necessary because its gonna pose problems when the app grows

[2019-03-11 11:50] siddhant1 commented on #855
Also I think we shoudl include checking of the previous session on refresh , once you login and refresh it logs you out .

[2019-03-11 12:46] siddhant1 commented on #861
@catarak Can you see if this prettierrc works.
[code]

[2019-03-11 17:43] Whitevinyl commented on #872
Ah cool - I've since discovered the lefthand folder view (had no idea that was there!) with the css & html, and it makes much more sense to me now why it is how it is. Thanks!

[2019-03-11 20:04] nik72619c commented on #879
@catarak

[2019-03-11 20:06] Whitevinyl commented on #790
I've recently experienced this bug similar to how Ben described it.
Working on a sketch and making multiple saves/rerunning, and then at some point when saving it reverts to a previous version.
I can't recreate it but in my case these have been projects created using the duplicate option, and they revert all the way back to the original duplication, before any changes were made.

[2019-03-11 22:17] dhruvdutt commented on #863
@siddhant1 I'm also facing some similar issue. What's `GITHUB_ID` and `GITHUB_SECRET`? Do we need to create a personal access token or an OAuth app from GitHub?

[2019-03-12 05:35] ankur54 commented on #874
So, is this issue still open, or is it closed? If possible I would like to work on it.

[2019-03-12 05:42] nimishagarwal76 commented on #874
yeah i looking into it

[2019-03-12 05:44] ankur54 commented on #90
Hi. I would like to work on this issue. I am thinking of using jQuery color picker plugins like jQuery Color Picker or Drupal Color Picker etc. so that on hovering over the color code, the color picker appears. Is that all you want?

[2019-03-12 06:11] ankur54 commented on #380
Hi. I would like to work on this project. I am thinking of adding a "save to GitHub" option and on clicking it, the code with first be stored in a local file, and from there we can redirect to create a new gist using "POST /gists" router. Please correct me if my way is not an efficient one, as I am new to open source community.

[2019-03-12 11:13] nimishagarwal76 opened #881 "Autofocus not working for add file menu"
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 70.0.3538.77 (Official Build) (64-bit)
- Operating System: Ubuntu 18.04.1 LTS

Upon clicking Add File option from file-navigation, input in new file form does not get focussed whereas it gets focussed in case of Add Folder.

[2019-03-12 16:28] catarak commented on #790
i think the issue with duplicating reverting to an older version is a separate issue from the one i was focusing on. i'll do some investigation!

[2019-03-12 16:30] catarak commented on #704
i agree that alphabetical would be best. while a custom order would be nice, i think it introduces some complexity to the UI/UX that i don't think is totally necessary. and no, it is not the same as #789, since that is in references to sketches, rather than the files that are contained within a sketch.

[2019-03-12 17:01] catarak commented on #681
i just thought about this again, and i think that the whole sketch _shouldn't_ be saved when you change a file name. it should, however, mark that there are unsaved changes. so, to address your question @EOstling, what you can do is investigate why the sketch is not being marked as unsaved when a file name is updated.

[2019-03-12 18:51] catarak commented on #871
i don't like the idea of spacing the nav items when the dropdown is open. i think they should be that spaced out to begin with, or the dropdown should open below the item, or the dropdown should be reshaped so it doesn't hide the other items. i'm not a ui/ux designer so i'm open to input on which of these is best.

[2019-03-12 19:03] nimishagarwal76 commented on #871
I feel that putting dropdown below the item is generally followed and a better idea. Google Docs follow the same.

[2019-03-12 19:40] catarak commented on #879
@nik72619c i'm definitely not an expert on react optimizations, so good catch! this seems like a fairly simple fix, so go ahead and pick it up.

[2019-03-12 19:49] catarak commented on #863
@dhruvdutt you need to create an OAuth app on Github. That will give you a `GITHUB_ID` and `GITHUB_SECRET`, and you'll need to fill in a callback url (http://localhost:8000/auth/github/callback).

[2019-03-12 19:51] catarak commented on #693
closing this as a duplicate

[2019-03-12 19:51] catarak commented on #874
this is a duplicate of #679

[2019-03-12 19:56] meiamsome commented on #879
I wonder if we'd be better off collapsing the content Nav component into a data structure and then rendering it from that, which would mean that the callbacks are created only when that structure was created, something like:
[code]

Possibly splitting out those two maps into their own mini-components.

That would be my suggestion, so that the Nav file reduces its current HTML duplication where it

[2019-03-12 19:59] catarak commented on #90
i don't want to add a jquery dependency to this project. honestly, i think this issue is pretty low priority, so unless you feel strongly that it should be in the web editor, i recommend picking up another issue.

[2019-03-12 20:02] catarak commented on #879
@meiamsome i think it would be great to split up the navigation into smaller components and remove duplication!

[2019-03-12 20:04] catarak commented on #380
since github oauth is already integrated into the application, i think it would make sense to leverage this along with the github api.

[2019-03-12 20:04] catarak commented on #380
@ankur54

[2019-03-12 20:17] #881 closed

[2019-03-12 20:28] catarak commented on #871
i like the google docs dropdown design. i like that when you open one of the dropdowns, and then hover to another top level item (e.g. from "File" to "Edit"), the dropdown under the next menu item will open.

[2019-03-12 20:30] ankur54 commented on #380
Just to be on the same page, according to you, GitHub OAuth is already integrated into the simulation area, Is that what you are saying? Please correct me if I am wrong.

[2019-03-12 20:36] catarak commented on #380
i'm not sure what you mean by simulation area (i'm assuming you mean the sketch preview?), however, it is possible to log into the web editor using Github, so I think that could be leveraged to make integrating with the GIthub API easier.

[2019-03-12 20:38] ankur54 commented on #380
Yes, sketch preview is what I meant. Sorry for that. So is the code for logging in with GitHub already present in the code section?

[2019-03-12 20:40] ankur54 commented on #679
Hi. Has anyone taken up this issue? I would very much like to work on it.

[2019-03-12 20:41] catarak commented on #380
no worries! it sounds to me like you're confusing the code for a sketch and the code for the editor itself, which are separate.

[2019-03-12 20:42] catarak commented on #679
there's currently an open PR (#876), though it has not been merged yet as i have asked for changes.

[2019-03-12 20:43] ankur54 commented on #380
Sorry once again. I mean code for the editor. Github API is integrated into it, right?

[2019-03-12 20:44] ankur54 commented on #679
Ok. So, someone else is working on this, right?

[2019-03-12 20:50] catarak commented on #380
the Github API is not currently integrated. though [passport](http://www.passportjs.org/), users are able to log into the editor with github. i am suggesting that maybe this could be leveraged to help with the integration with the github api so that users could upload their code there.

[2019-03-12 20:50] ankur54 commented on #522
Hi. I would like to work on this issue if no one is currently working.

[2019-03-12 20:50] catarak commented on #679
yes! i would wait to see if they don't finish it within the next week or so.

[2019-03-12 20:54] ankur54 commented on #380
Oh ok, I see. So my guess is, we would use passport.js and use the github details of the user, as they log in with github account, and use it instead to save the sketch.

[2019-03-12 20:58] ankur54 commented on #90
To be honest I think, this feature would be the a bit cooler to have, as we can dynamically select color just by adjusting the pointer. Thats just my opinion though

[2019-03-12 21:09] ankur54 commented on #380
@catarak am I getting it wrong?

[2019-03-12 22:16] AnkurIngale commented on #711
Can I work on it?

[2019-03-12 22:21] AnkurIngale commented on #659
Is it still there?

[2019-03-12 23:52] slowizzm commented on #850
Currently getting this error, sure everyone is aware, just wanted to point it out.

[2019-03-13 04:39] siddhant1 commented on #879
https://cdb.reacttraining.com/react-inline-functions-and-performance-bdff784f5578

Also I think we should install a webpack plugin to measure performance , personally I don't think this will give a lot of advantage considering the work

[2019-03-13 07:09] hellonearthis opened #883 "Accessibility for dyslexic users"
I was just reading this story about dyslexic fonts that could help some dyslexics.  http://www.serendavies.me/dyslexic-fonts/2016/01/04/dyslexic_fonts.html

Would it be worth having in the accessibility options the ability to use this font to help dyslexic users?

- New feature request

Feature enhancement would go into the editor configuration section with accessibility.

New feature details,  is

[2019-03-13 09:51] nik72619c commented on #879
@catarak will work on this issue !

[2019-03-13 10:55] siddhant1 commented on #883
This improvement will be super helpful to make the editor accessible .
I would like to take this one up.

[2019-03-13 14:29] nik72619c commented on #879
I personally don't feel the need for this right now !

[2019-03-13 15:04] catarak commented on #522
@ankur54 go ahead and work on it!

[2019-03-13 17:03] nimishagarwal76 opened #885 "Unnecessary Scroll Bar"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 70.0.3538.77 (Official Build) (64-bit)
- Operating System: Ubuntu 18.04.1 LTS
- Steps to reproduce this bug:

There always exist an unnecessary scroll bar in the file-navigation which is only needed when files exceed the div. We can just change the  ```overflow:scroll``` to ```overflow:auto``` to r

[2019-03-13 21:30] catarak commented on #380
i don't know! i haven't researched it and i'm only trying to add information to help this issue ✨

[2019-03-13 21:32] catarak commented on #711
@AnkurIngale absoutely! though it might not be possible to fix at the moment, see https://github.com/samdenty/console-feed/issues/17

[2019-03-13 21:34] catarak commented on #659
@AnkurIngale yes, this is still a bug

[2019-03-13 21:40] EOstling commented on #681
Sounds good! I am on it!

[2019-03-14 06:52] plxity opened #886 "Hover effect on sidebar elements"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome
- Operating System:  Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
add hover effect on side bar elements
![Capture](https://user-images.githubusercontent.com/28510494/54337007-9e164400-4653-11e9-8428-30dc5c442e74.PNG)

Earlier there was no hover effect o

[2019-03-14 07:14] plxity opened #888 "Add eye button to see password in login form"
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
Add eye button to see the password in the password field like usual login / signup form
![Capture](https://user-images.githubusercontent.com/28510494/54338053-d3706100-4656-11e9-85ca-401c3766db8f.PNG)

##

[2019-03-14 07:27] plxity opened #889 "Add minimum length of at least 6 characters for password"
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
As of now, the user can signup with 1 character length also, at least a minimum of 6 character length should be there for making application more strong

[2019-03-14 10:23] ankur54 commented on #380
Can I look into this issue too? I mean if no one is working on it that is...

[2019-03-14 10:48] ankur54 commented on #522
After a little bit of searching over the internet, I came across a dependency "slugify" npm, which I intend to use. Also, could you please tell me in which file should I make changes?

[2019-03-14 18:54] catarak commented on #883
this is an interesting idea! i'd like to do some research about this first before adding it. following that link you posted, it points to some fonts that are dyslexic friendly, which i think would make more sense to consider rather than adding a whole new font option that it doesn't even seem like there's a consensus as to whether it's helpful or not.

[2019-03-14 20:12] #874 closed

[2019-03-14 20:13] catarak commented on #679
fixed by #876!

[2019-03-14 20:13] #679 closed

[2019-03-14 20:14] ankur54 commented on #679
@catarak was it just a css issue, or was some other technology involved?

[2019-03-14 20:19] catarak commented on #679
@ankur54 it turned out to be just a css issue!

[2019-03-14 20:21] catarak commented on #879
@nik72619c i agree with you. i assume there's a bunch of low hanging fruit with respect to code loading time that can be fixed, since it hasn't been a focus for this project.

[2019-03-14 20:25] catarak commented on #885
thanks for reporting! i'm also seeing this scrollbar appear on Windows. feel free to fix this issue.

[2019-03-14 20:26] catarak commented on #886
thanks for reporting! yes, this is in the design and hasn't been implemented yet.

[2019-03-14 20:29] plxity commented on #886
I have added a Pull request for the same. Please review it @catarak.

[2019-03-14 20:30] catarak commented on #886
@plxity currently working on a review!

[2019-03-14 21:11] catarak commented on #888
thanks for reporting! this feels useful, but also not high priority or urgent.

[2019-03-14 21:11] catarak commented on #889
thanks for reporting! i agree that this is a good idea and important.

[2019-03-14 21:12] catarak commented on #380
@ankur54 go ahead!

[2019-03-14 21:14] catarak commented on #522
slugify is already included, and you can already navigate to sketches via their slug. however, it's never linked to on the front end, so this issue is about linking it on the front end. there's not currently a design for this, and also i have some open questions which i listed above

[2019-03-14 21:19] ankur54 commented on #522
a) I think there should be a length limit. Around 40 letters would do, I think. If the length exceeds we can represent it with "...".
b)  if a user changes the name of the sketch, I think, it would be better if slug updates automatically.

What do you think?

[2019-03-14 21:25] catarak commented on #522
a) in #568 there's a discussion about the maximum length of a sketch name. i wonder if that would fix this issue. i think it depends on the maximum length of a url (which off the top of my head, i don't know what that is)
b) the problem with generating a new slug automatically is if a user has linked to that sketch. then, a link they possibly thought was permanent has changed.

[2019-03-14 21:48] AnkurIngale commented on #711
@catarak please visit this link : https://github.com/samdenty/console-feed/issues/17#issuecomment-473078066

[2019-03-14 23:21] AnkurIngale commented on #659
https://github.com/processing/p5.js-web-editor/pull/891#issue-261372952 Please review.

[2019-03-15 02:39] plxity commented on #889
@catarak I will add the Pull request for the same.

[2019-03-15 02:41] plxity commented on #888
@catarak Yes Okay. I'll all the Pull request for the same.

[2019-03-15 11:59] plxity opened #894 "Integrate surge links within the project"
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
Adding surge will provide a smooth option for the other contributors and mentors/reviewer to check the changes made by the person. Adding this will be beneficial for the long run.

#### New featu

[2019-03-15 12:01] plxity commented on #894
@catarak What do you think about this feature?

[2019-03-15 14:09] AnkurIngale opened #895 "Entire line selection on clicking the index number/"
#### Nature of issue?

- New feature request

#### Details about the bug:
Like other editors, there should be a feature to select the entire line on clicking the index number of that line.
- Web browser and version:  On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug:

#### New feature details:
This can be done by setting an onclick method and indexing the lines to their respective

[2019-03-15 14:13] AnkurIngale commented on #888
@plxity Can i do it?

[2019-03-15 14:18] AnkurIngale commented on #673
Can I work on it?

[2019-03-15 14:57] AnkurIngale opened #896 "Repetition in Console after changing "Accessible text-based canvas" options."
#### Nature of issue?
Repetition in Console after changing "Accessible text-based canvas" options.

<img width="1140" alt="Screenshot 2019-03-15 at 8 29 08 PM" src="https://user-images.githubusercontent.com/33569473/54440590-0737ad80-4761-11e9-95ed-1bf8ccd7e94f.png">

- Found a bug

#### Details about the bug:

- Web browser and version: On Chrome
- Operating System: MacOSX
- Steps to reproduce th

[2019-03-15 15:39] plxity commented on #888
@AnkurIngale Actually, I have already started working on this.

[2019-03-15 17:00] #885 closed

[2019-03-15 17:05] yanickrochon opened #897 "Fetching file contents from JavaScript does not return correct content"
#### Nature of issue?

- Found a bug

- Steps to reproduce this bug:
1. Create a new project,
2. Add a new file (ex: `async-file.js`)
3. Edit that file with anything
4. Go to the file URL (using another tab), for example : `https://editor.p5js.org/<user_name>/sketches/<sketch_id>/async-file.js`
5. Go back to the editor and modify `async-file.js`
6. Save the whole project
7. Go back to the other ta

[2019-03-15 17:27] catarak commented on #894
what is surge?

[2019-03-15 17:32] catarak commented on #895
wow, i didn't even know you could do this! i wonder if there's an addon to codemirror that makes this easy to implement.

[2019-03-15 17:33] catarak commented on #895
to me, this issue is not high priority, but it doesn't seem like it overcomplicates the editor or gets in the way. implement it if you think is important!

[2019-03-15 17:33] catarak commented on #673
@AnkurIngale yes!

[2019-03-15 17:36] catarak commented on #896
thanks for reporting! this is definitely a bug.

[2019-03-15 17:36] plxity commented on #894
@catarak  Check this surge implementation by Fosassia 👍 https://github.com/fossasia/accounts.susi.ai/pull/724 (It is implemented in every fossasia project)

If you submit a PR, Just mention your PR number in the link and it will create the website with the changes you have made in a PR. Mentors can easily check what changes are made by the contributor.

[2019-03-15 17:37] catarak commented on #888
@plxity this project is using an icon set called Modern Pictograms, make sure you use the eye icon from that! it's not free, so i can send you the icon if you need it.

[2019-03-15 17:39] plxity commented on #888
@catarak Okay I will use that. Please send me the icon.

[2019-03-15 17:43] siddhant1 opened #899 "Nav item first toggles back then openes"
Click on any navbar say 'Help & Feedback' , now click on Edit ,it won't open.
This is happening because the dropdown is set to 'none' first time and then changes to edit.
Will send a PR Soon

[2019-03-15 17:45] catarak commented on #894
ah cool! as a place to stage changes. that would be super cool!

[2019-03-15 17:49] plxity commented on #894
@catarak Can I work on this?

[2019-03-15 17:51] catarak commented on #894
sure! i think the first step is making a plan, since the staging will need to integrate with a lot of different services.

[2019-03-15 17:54] plxity commented on #894
@catarak Yes, I agree.  So how to proceed with that?

[2019-03-15 17:55] catarak commented on #897
thanks for reporting! i am seeing this issue. i wonder what's going on here...

[2019-03-15 17:56] plxity commented on #894
https://blog.fossasia.org/auto-deployment-of-pull-requests-on-susper-using-surge-technology/
@catarak  Please read this once.

[2019-03-15 17:56] yanickrochon commented on #897
I added an URL GET parameter, and it seems to fix the problem. It is perhaps server caching?

[2019-03-15 17:57] catarak commented on #897
i think it must be a serving caching issue.

[2019-03-15 17:58] catarak commented on #894
you tell me! this project already integrates with travis and builds a docker image.

[2019-03-15 18:14] yanickrochon commented on #897
As far as I can tell, it seems like the files are stored on AWS, and directly accessing a project file through GET URLs make an internal redirect to AWS. Is it possible that the content of the file is not correctly updated on the remote server? Or perhaps AWS performs caching on it's own there.

See [`project.controller.js`](https://github.com/processing/p5.js-web-editor/blob/f8ee62a1b5e3c4e9b2e1d

[2019-03-15 18:37] catarak commented on #897
small, plaintext files are not stored on AWS but are instead stored in mongodb

[2019-03-15 18:44] catarak commented on #888
here it is! https://www.dropbox.com/sh/i3sq7y4jy16znur/AABqsv2KaSgRoQ95yDwGG6-Ua?dl=0

[2019-03-15 18:45] catarak commented on #899
yeah, this UX is a little awkward—you have to click "Edit" twice for it to open.

[2019-03-15 18:46] siddhant1 commented on #899
Investigating and working on this :)

[2019-03-15 18:49] siddhant1 commented on #897
I will take this @catarak , will try to investigate and fix

[2019-03-15 18:52] siddhant1 commented on #894
I had an opinion on this , personally I feel we should surely add a service to deploy on every pr and I have tried netlify , it's continuously integration is super good and deploys within seconds and super easy to setup

[2019-03-15 18:56] plxity commented on #894
@siddhant1 We can use netlify(Both are same), but I have experience with surge and find its implementation easy.

[2019-03-15 19:15] catarak commented on #899
i wonder if this is indirectly solved by #900?

[2019-03-15 20:26] siddhant1 commented on #899
Nope  , it's still happening . Will fix it and send a separate pr tomorrow.

[2019-03-15 21:15] shakeabi commented on #896
I would like to take a swing at this if no one's working on it.

[2019-03-15 21:18] AnkurIngale commented on #896
@shakeabi Sorry but I am working on it.

[2019-03-15 21:20] shakeabi commented on #896
No problem. General Doubt: @catarak should we push package-lock.json while giving a pr?

[2019-03-15 21:35] #889 closed

[2019-03-15 21:44] catarak commented on #896
@shakeabi if you change or add an npm library, then you should change `package-lock.json`. to prevent your `package-lock.json` from changing for other reasons, make sure you're using the node/npm versions specified in `package.json` (under "engines").

[2019-03-15 21:51] shakeabi opened #906 "Passwords do not match error in signup page is not intuitive"
#### Nature of issue?

- Found a bug

The passwords do not match error in signup page is not intuitive.

All other error messages popup only after the respective fields are filled in.
However, 'passwords do not match' error pops up immediately after the focus of the password field is blurred. This is slightly non-intuitive and irritating. I think this error should come up only after,
1. the user h

[2019-03-15 22:36] AnkurIngale commented on #895
@catarak  https://codemirror.net/doc/manual.html#addLineClass If we apply this and select the code, this should work. What do you think?

[2019-03-16 05:28] shanrauf opened #908 "Nav item CSS:hover is applied before the nav item is even clickable"
#### Nature of issue?

- Found a bug

#### Details about the bug:
- Web browser and version:  On Chrome
- Operating System: Windows 10
- Steps to reproduce this bug: Hover over a nav item where your cursor is causing the :hover effect to be applied, but since your cursor is not hovering over the text, the nav item dropdown is still not clickable

#### New feature details:
It causes confusion when

[2019-03-16 14:14] AnkurIngale commented on #895
@catarak I have made this feature but there is a problem I want to know about. Are all the edits in the editor possible only after clicking on them? I mean it specifically for the template code at the start. Because once clicked then the selection works fine on double click.

[2019-03-16 14:19] AnkurIngale opened #911 "Another option doesn't open on clicking when one is open in the menu bar."
#### Nature of issue?

- Found a bug

#### Details about the bug:
Like if you click on Sketch, the Sketch menu opens up. But if I click on Edit keeping Sketch Menu open, the edit menu doesn't open. Rather, the Sketch menu closes and I need to click again to open the latter. (Sorry for a long explanation.)
- Web browser and version: On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug

[2019-03-16 14:23] AnkurIngale commented on #911
Are you working on it or can I work on it?

[2019-03-16 14:23] AnkurIngale commented on #908
Are you working on it or can I solve this one?

[2019-03-16 14:25] AnkurIngale commented on #908
Also, I'll like to do it. :-P

[2019-03-16 14:29] AnkurIngale commented on #911
I guess its same as #899 .

[2019-03-16 14:29] #911 closed

[2019-03-16 16:01] mrseoliveira opened #912 "Mixed Content/CORS errors are not displayed"
Hi,

No error message in this code below, but not working. The problem is http API, instead of https.

[code]

[2019-03-16 19:13] plxity commented on #888
@catarak I need two different types of eye SVGs. One you send can be used when the password is visible. I need one more when the password is not visible. Please send that too.

[2019-03-16 19:15] shakeabi commented on #912
@mrseoliveira I don't think its recommended to use API calls over http as they're generally not secure.
However many API servers are http based and thus we can have an option to enable http based API calls.
And http API's can be fetched using a **meta tag**.
LINK: [Why one shouldn't use http based API on HTTPS](https://stackoverflow.com/a/33507729)
LINK: [Optional Solution](https://stackoverflow.c

[2019-03-16 20:12] shanrauf commented on #908
You're right, making the whole area clickable is a better solution. I've been trying to work on this for a while and am having one small problem.

I created a new class for the nav item button so that this CSS does not affect the` .nav__dropdown` CSS).
[code]
Nav.jsx:
[code]

The problem with this is that the padding of the li elements is not clickable. So there are these small spaces (padding) be

[2019-03-16 20:14] plxity opened #914 "Align in one line"
#### Nature of issue?

- Found a bug

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/54481065-22381980-4856-11e9-97fd-a99682258f48.PNG)

- Web browser and version:  Edge
- Operating System: Windows
- Steps to reproduce this bug:

Both the fields should be in one line.

[2019-03-16 20:20] plxity opened #915 "Link OAuth accounts from user settings page"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Chrome
- Steps to reproduce this bug:

#### Feature enhancement details:
As the user is already logged in, It makes no sense to display "Login with github" on the page.

[2019-03-16 20:21] plxity commented on #915
@catarak What do you think about this?

[2019-03-16 20:25] plxity opened #916 "Change color of logo when theme is changed."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
When the theme is changed to high contrast the logo on extreme top left should also be changed to yellow in color.

[2019-03-16 20:25] plxity commented on #916
@catarak What do you think about this?

[2019-03-17 00:57] siddhant1 commented on #916
I don't think it's that big of a deal

[2019-03-17 05:29] plxity commented on #916
@siddhant1 yeah I know, but these are the basic UI changes which builds your app.

[2019-03-17 07:18] siddhant1 commented on #908
Since we are changing NAV styles, I will try to tackle it with #910 , no need for an extra pr

[2019-03-17 07:28] siddhant1 commented on #748
@catark should I add them in the FAQ section?
Any particular styling you want?

[2019-03-17 07:34] siddhant1 commented on #704
I think I can work on maintaining an alphabetical order for now , should I start @catarak?

[2019-03-17 08:29] siddhant1 commented on #698
@catarak can you help me with this.
I think we have to make changes in the previewEntry.js file?

[2019-03-17 08:56] Shubhanshu88 opened #917 "Navbar not responsive on mobile devices"
#### Nature of issue?

- Found a bug

#### Details about the bug:
On mobile devices , some navbar elements tend to overlap due to which the ui is not displayed as predicted

- Steps to reproduce this bug: Either use mobile view in chrome devtools or open the editor on a mobile device

![IMG_20190317_132647](https://user-images.githubusercontent.com/42772987/54487760-8f33c980-48bf-11e9-824d-367693c

[2019-03-17 09:37] abhieshekumar opened #919 "Issue in styling"
#### Nature of issue?

- Found a bug

#### Details about the bug:

I was going through the source code of the project and came across few issues related to CSS

- The file [variables.scss](https://github.com/processing/p5.js-web-editor/blob/master/client/styles/abstracts/_variables.scss) seems to have a spelling mistake on Line 39 if Line 38 is used as a reference.

37     `modal-button-background

[2019-03-17 10:50] siddhant1 commented on #908
I have completed the implementation , thanks for bringing it though :)

[2019-03-17 10:59] siddhant1 opened #921 "Enhancement : Automatically format code when indentation amount is changed."
When the indentation is changes , the previous code remains as it is until the user presses shift+tab.
An easy fix would be to call codemirrors tidy function ad componentWillUnmount .

[2019-03-17 12:11] siddhant1 commented on #921
Hm , sometimes it happens and sometimes it does'nt.

[2019-03-17 12:28] siddhant1 opened #922 "There is no way of knowing that these switches are on"
![Screenshot from 2019-03-17 17-59-48](https://user-images.githubusercontent.com/30566406/54490733-7be42680-48de-11e9-94ad-18f95317a281.png)

[2019-03-17 14:39] siddhant1 opened #923 "Enhancement :- Give control of ctrl + +/- to the editor and change the font"
I think we should give access to ctrl + +/- to the editor.
I can work on it and send a pr :)

[2019-03-17 14:45] AnkurIngale commented on #914
You doing it or can I?

[2019-03-17 14:48] AnkurIngale commented on #922
Which switches are you talking about? The three options below? They turn to yellow on selecting them. Correct me if I am wrong.

[2019-03-17 14:50] siddhant1 commented on #922
Ah , the css is so weak I can't see it , but it is happening , thanks for responding .

[2019-03-17 14:53] AnkurIngale commented on #923
That would be much needed. But on chrome, if you do the ctrl + +, it zooms up everything, which is also not too bad 😅

[2019-03-17 15:01] AnkurIngale opened #924 "Unable to type indentation amount and text size."
#### Nature of issue?

- Found a bug

#### Details about the bug:
When tried to manually enter Text size, it lands up on 8, 16 or 36. Also, the indentation amount can only be changed by selecting the entire number and typing a new one. Hitting backspace to the existing value automatically sets it to 2 and on typing directly, it sets up to 6.
- Web browser and version: On Chrome
- Operating System:

[2019-03-17 16:07] GaurangTandon commented on #917
Hey, I tried fixing this but soon enough realized that this cannot be fixed reasonably well enough unless we use a collapsing/hamburger navbar at lower widths.

One simple fix I tried was to remove all padding between the list items, even then the navbar breaks at near ~400px viewport width. Reducing the font size beyond the current set would make the navbar almost invisible though, so there does

[2019-03-17 16:13] GaurangTandon opened #925 "Very low contrast ratio for several heading texts in light theme"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome latest
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug: visit editor.p5js.org

![image](https://user-images.githubusercontent.com/6308683/54494171-85c95200-48fd-11e9-9a9a-bcb555b4b17a.png)

Notice the contrast ratio value. It is much below the acceptable 4.5 AA benchmark set by the W

[2019-03-17 17:53] GaurangTandon commented on #922
@AnkurIngale hey, where did you find the rules for yellow text color? All I find is  a `#333` grey text color on `[aria-checked="true"]`. I agree with @siddhant1 that it is impossible to know whether the switches are on unless you look into the html markup.

[2019-03-17 18:08] GaurangTandon commented on #925
PR: #926

[2019-03-17 18:15] vidasdemo opened #928 "Displaying shapes using coordinates from Posenet in web editor also produces clicking sounds"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-03-17 18:20] siddhant1 commented on #928
Can you elaborate @vidasdemo ?

[2019-03-17 18:21] siddhant1 commented on #698
I have made some progress but not able to catch the infinite loop , I have asked the developer of this library to help me with it . I will send a PR soon to close this.

[2019-03-17 18:27] siddhant1 commented on #917
I think that the whole ui is still not mobile responsive and needs to be done , maybe @catarak can shed some light on this.

[2019-03-17 18:30] vidasdemo commented on #928
Hi,
This is my first post so apologies if my request is hard to follow!
I have just tried out the Posenet demo in ml5 for drawing a skeleton. The demo works as expected but in the p5 web editor each time a symbol is drawn which uses the coordinates provided by posenet a horrible sound is produced.  If I comment out the "draw skeleton" function and just request a symbol using hard coordinates there

[2019-03-17 18:30] #928 closed

[2019-03-17 19:12] plxity opened #932 "Modal/ snackbar should be displayed when settings are saved."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
Whenever Settings are saved on https://editor.p5js.org/account page, a modal or snack bar should be displayed confirming settings are saved

[2019-03-17 19:13] plxity commented on #932
And I am working on it. :)

[2019-03-17 19:13] GaurangTandon commented on #897
@siddhant1 	If you're not working on this issue, may I take it up?

[2019-03-17 19:14] siddhant1 commented on #897
Still working on this :)

[2019-03-17 19:16] GaurangTandon commented on #380
@ankur54 if you're not working on this issue, may I take it up?

[2019-03-17 19:20] GaurangTandon commented on #693
Hi @catarak, did you accidentally forget to close this issue, or is there anything else that needs to be done here?

[2019-03-17 19:21] ankur54 commented on #380
I am sorry for the delay. I was busy with college works for the last few days.
@GaurangTandon Do you have an idea of how to implement it? Maybe we can do it together. Can you brief me with your idea?

[2019-03-17 19:22] GaurangTandon commented on #853
@siddhant1 Could I please work on this issue while you're working on the other ones? Thank you!

[2019-03-17 19:24] siddhant1 commented on #853
Hey Gaurang , this issue was already solved and needs to be closed. You can work on other ones :)

[2019-03-17 19:39] Shubhanshu88 commented on #917
There might be 2 ways to fix this :
1. The current base-font-size maybe decreased accordingly with screen size

2. A certain constant width of Navbar (and hence the whole Editor) has to be fixed below which horizontal overflow is possible and the user can scroll horizontally   (this width might be around 363px for current base font size)

OR Possibly a combination of both OR other ideas can be imp

[2019-03-17 19:43] GaurangTandon commented on #380
@ankur54 Here's my brief:

@catarak regarding: "i am suggesting that maybe this could be leveraged to help with the integration with the github api so that users could upload their code there." Sorry, I do not think that is possible. Even when we are implementing user profile login, we are doing it with a `user:email` scope (`passport.js` line 69) - which is the right way to implement user login.

[2019-03-17 19:57] GaurangTandon commented on #836
@catarak Soft wrap is implemented in https://jsfiddle.net, and I honestly feel it's been implemented very neatly. They're also using Codemirror and if you'll notice carefully quite a few things happen when a line wraps:

1. that entire single line is given the uniform grey background even if it spans several "visual" lines
2. the line numbering does not change, it remains 1 and spans several "visu

[2019-03-17 20:04] GaurangTandon commented on #917
Hey @Shubhanshu88, I have questions regarding your fixes:

1. We cannot decrease the font-size beyond a certain limit of readability, so the display will still not be proper on smaller phones (5.5" and below I believe)

2. I am sorry but I have never seen horizontally scrolling navbars in popular websites, and thus they might be very counter-intuitive to new users. Are they common? Can you link to

[2019-03-17 20:10] ankur54 commented on #380
@GaurangTandon you may take the issue.

[2019-03-17 21:20] Shubhanshu88 commented on #917
I agree that the font size can be decreased only to certain extent, yet unlike other sites a dropdown for nav items would not be user-friendly.

A Better implementation could be:
To keep the p5 logo and Log in nav-item on one nav and just below that the other nav-items(file, edit .. ) on another nav.
This would be much like what Github itself implements for mobile devices.This might work out.

Til

[2019-03-17 21:53] Shubhanshu88 opened #933 "Responsive IDE: Rearranging IDE Panes for Mobile devices"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Some panes of IDE maybe arranged column-wise instead of row-wise specifically for mobile devices for enhancing UI

In future, this feature could also provide a reponsive UI for PWA

[2019-03-17 21:56] Shubhanshu88 commented on #933
The layout could be similar to that of codepen or w3 schools editor

[2019-03-18 02:24] siddhant1 commented on #768
@catarak I was going through the issues and this is happening very regularly that developers are turning on accessing features by accident , I think we should make a toast or something after accessibility is turned on . What do you say

[2019-03-18 02:30] siddhant1 commented on #654
I will work on this :)

[2019-03-18 02:31] siddhant1 commented on #645
Will take a look on this

[2019-03-18 02:33] siddhant1 commented on #588
Anything left here? @catarak

[2019-03-18 02:35] siddhant1 commented on #568
Will send a pr to close this

[2019-03-18 08:19] GaurangTandon commented on #799
@catarak can this issue please be assigned to me? Also, do you have an initial idea in my mind, or should I submit an initial design first?

[2019-03-18 08:41] GaurangTandon commented on #868
Hello @catarak, I'd like to work on this issue. I did basic research about it and it seems that the issue is not with `Console.jsx`. That file is displaying all the information it receives as `consoleEvent`. Now, it receives `consoleEvent` from `IDEView`, so I believe the problem might be there. However, I have not yet been able to pinpoint the source of lacking event information yet.

What I plan

[2019-03-18 08:51] GaurangTandon commented on #380
@ankur54 Cool, @ankur54. However, before that I'd like to ask @catarak for green signal or any improvement suggestions to start working on this feature the way I described in my comment above :)

[2019-03-18 09:17] GaurangTandon opened #934 "Merge together the exact same console events"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Consider the following code:

[code]

Run it and you will get an output similar to this:

[code]

Basically, the number of times parameter keeps changing, and a new console event keeps getting logged, even though the console event is literally the same. Therefore, I feel this can be considered as a feature en

[2019-03-18 09:30] plxity commented on #914
![2019-03-18](https://user-images.githubusercontent.com/28510494/54520285-64fd0d00-498e-11e9-8cd5-7a343bf1316c.png)
Check the left corner where the file name is written.
And I am taking this up. :)

[2019-03-18 09:51] plxity opened #936 "Show the count of search elements found"
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
![2019-03-18 (1)](https://user-images.githubusercontent.com/28510494/54521558-2c126780-4991-11e9-8a6d-a00b62cb2582.png)
 When seacrhed for some word, count of the results found should be displayed

[2019-03-18 09:51] plxity commented on #936
and I am working on this. :)

[2019-03-18 10:28] GaurangTandon commented on #936
I went through the [codemirror manual](https://codemirror.net/doc/manual.html). It'd be interesting to see if this feature is already available in Codemirror @plxity . See if you can find something :)

[2019-03-18 10:48] GaurangTandon commented on #468
Is #868 a duplicate of this issue?

[2019-03-18 12:13] AnkurIngale commented on #924
@GaurangTandon I was working on this issue. You should have at least asked before.

[2019-03-18 12:16] AnkurIngale commented on #922
@GaurangTandon he himself said that it's happening. Please look carefully.

[2019-03-18 12:17] AnkurIngale commented on #924
And I am working on it :)

[2019-03-18 12:18] siddhant1 commented on #922
Ikr , it's happening but the contrast is very low and I am waiting for @catarak views on this :)

[2019-03-18 12:19] siddhant1 commented on #924
Hey Gaurang , please comment on issues you are working on to maintain the dignity of oss .
Thanks

[2019-03-18 12:23] AnkurIngale commented on #924
Yeah, it's totally fine. BUt @GaurangTandon Please comment on the issue you want to solve as someone else might already working on it.

[2019-03-18 12:26] AnkurIngale commented on #914
<img width="763" alt="Screenshot 2019-03-18 at 5 45 01 PM" src="https://user-images.githubusercontent.com/33569473/54529832-114aed80-49a7-11e9-9196-7aec584a74cb.png">
Totally fine with me.

[2019-03-18 12:29] GaurangTandon commented on #924
@AnkurIngale @siddhant1 yeah, alright!

[2019-03-18 12:31] GaurangTandon commented on #914
@plxity facing the same issue. @AnkurIngale what's your screen resolution? And are you at 100% zoom?

[2019-03-18 12:33] AnkurIngale opened #937 "Is Autosave working?"
#### Nature of issue?

- Found a bug

#### Details about the bug:
I made a new project. Wrote a line of code. Saved it. Then wrote another line of code. It doesn't save. My question is what is Autosave doing?
- Web browser and version:  On Chrome
- Operating System: MacOSX/Linux along with version -->
- Steps to reproduce this bug:
Do the same as above.

I'll be working on it.

[2019-03-18 12:39] AnkurIngale opened #939 "For unsaved projects/files, save them on running the sketch."
#### Nature of issue?

- New feature request

#### Details:
Many in-built IDEs have this feature that on running the code, it first saves it and then runs it. We can have such a feature in this IDE as well.

#### Feature enhancement details:
We need to implement save actions on the run button as well. I'll have to dig more inorder to give a clear image of it.

And I will start working on it.
Views

[2019-03-18 12:41] AnkurIngale commented on #934
I feel the console has divided count on purpose. Correct me if I am wrong.

[2019-03-18 12:42] GaurangTandon commented on #939
Since people are generally cautious of not losing unsaved work, they probably already save and run their sketch everytime. Thus, this feature will certainly help avoid redundant clicks of the run and save button every time.

Also since the save operation doesn't generate revision histories and because it's not very expensive, I am sure it can be the default mode, aka, Run button can be renamed Sav

[2019-03-18 12:42] plxity commented on #914
@AnkurIngale which browser are you using?

[2019-03-18 12:45] GaurangTandon commented on #934
@AnkurIngale I am not sure why that should be on purpose. Even in the Chrome developer console, subsequent identical logs are clubbed. (try running `setInterval(() => console.log(1), 1000);` with varying time intervals)

[2019-03-18 12:45] plxity commented on #936
@GaurangTandon Okay sure, I'll look into it once. Thanks for the help:)

[2019-03-18 12:48] AnkurIngale opened #940 "Icons and labels in find not visible."
#### Nature of issue?

- Found a bug

#### Details about the bug:
The next and previous icons (the up and down arrows) are barely visible in contrast mode. In fact, I didn't know there was such a feature.
- Web browser and version:  On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug:

Ill do it.

[2019-03-18 12:50] plxity commented on #940
@AnkurIngale Can you a SS of the issue? Thanks.

[2019-03-18 13:02] GaurangTandon opened #941 "Autocomplete bracket and quotation mark pairs"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I know this has been brought up first in #55. The case was made that beginners might find it confusing. I agree with that. The first impression can certainly be confusing. However, within two-three days of programming, I believe they will realise how nice it would be to have brackets autocomplete themselves :

[2019-03-18 13:22] GaurangTandon commented on #940
Something like this @plxity:

![image](https://user-images.githubusercontent.com/6308683/54532914-01370c00-49af-11e9-883d-2c1e9b0867dd.png)

[2019-03-18 13:28] siddhant1 commented on #941
I was also thinking of opening an issue for this

[2019-03-18 13:29] siddhant1 commented on #940
I think once @catarak shares her views we can work on this together with #922

[2019-03-18 13:30] GaurangTandon opened #942 "Ctrl-G opens "find" dialog instead of "goto line" dialog"
#### Nature of issue?

- Found a bug

- Web browser and version: Chrome latest
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:

1. Open editor.p5js.org and press Ctrl-G while inside the code editor.

Expected behavior: goto line dialog box should open. This is the standard implementation across all possible code editors.
Actual: Find dialog box opens.

I'll start working on this is

[2019-03-18 13:31] siddhant1 commented on #942
According to https://codemirror.net/demo/search.html , ctrl+g is mapped for this purpose

[2019-03-18 13:33] siddhant1 commented on #942
Also chrome follows the same behaviour which makes this issue redudant , Also I feel rather than making issues and making prs , let @catarak present her views.

[2019-03-18 13:34] siddhant1 commented on #940
@AnkurIngale I will merge this with #922 so you can close this one, many issues make it difficult to reply to everyone .

[2019-03-18 13:38] GaurangTandon commented on #942
Hmm, thanks for pointing it out @siddhant1 ! Isn't it very counter-intuitive though? I am coming from a VS Code background, and I believe users of this website's editor will eventually migrate to similar code editors, where behaviour of Ctrl-G is standard.

Sorry but Chrome is not a code editor.

Indeed. Initially, I did not know this is by default in Codemirror. I traced the origins of that featu

[2019-03-18 13:41] siddhant1 commented on #934
I feel it's done on purpose , not sure why though

[2019-03-18 13:50] siddhant1 commented on #698
I have made some progress and its running with var and while loops but for (let) loops are still not working

[2019-03-18 13:53] GaurangTandon opened #943 "UX issues with the rename/delete dropdown in the file explorer"
1. The rename/delete buttons are not clickable unless you hover right over them. Common UX interpretation would suggest being able to click in the whitespace on the right side should also work.

![image](https://user-images.githubusercontent.com/6308683/54534753-0dbd6380-49b3-11e9-9830-cb6fd95a543f.png)

2. Being able to press Escape inside an input to abandon all changes and quit is a common UX p

[2019-03-18 14:00] GaurangTandon opened #945 ""Add folder" button creates a folder which opens to the side in the code editor"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome latest
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:

1. Open a new sketch and click the dropdown for "project-folder"
2. Click Add folder and add a new folder.
3. Click on the newly folder in the explorer.

Result: folder is editable in the code editor!

![image](https://user-ima

[2019-03-18 14:04] siddhant1 commented on #521
Working!

[2019-03-18 14:05] siddhant1 commented on #503
@MathuraMG are you still working on it? I can pick this one up.

[2019-03-18 14:09] vidasdemo commented on #928
Did you see the explanation? Was it clear enough?

cheers

From: siddhant <notifications@github.com>
Sent: March 17, 2019 2:20 PM
To: processing/p5.js-web-editor <p5.js-web-editor@noreply.github.com>
Cc: vidasdemo <vidas.puodziunas@rogers.com>; Mention <mention@noreply.github.com>
Subject: Re: [processing/p5.js-web-editor] Displaying shapes using coordinates from Posenet in web editor also produce

[2019-03-18 14:18] nik72619c commented on #879
#918

[2019-03-18 14:23] siddhant1 commented on #928
Hey @vidasdemo , i thought you it was resolved from your side since you closed the issue , if it still persists kindly open it , I will have a look :)

[2019-03-18 14:23] siddhant1 commented on #928
Also can you confirm that the accessibility is turned off in the settings panel?

[2019-03-18 14:30] vidasdemo commented on #928
Not resolved and its driving me nuts!

It’s my first post so not quite sure on mechanics. I did not mean to close the thread

From: siddhant <notifications@github.com>
Sent: March 18, 2019 10:23 AM
To: processing/p5.js-web-editor <p5.js-web-editor@noreply.github.com>
Cc: vidasdemo <vidas.puodziunas@rogers.com>; Mention <mention@noreply.github.com>
Subject: Re: [processing/p5.js-web-editor] Display

[2019-03-18 14:35] siddhant1 commented on #928
Have you check the accessibility is turned of , you can press ctrl/CMD + shift +2 to turn off that too ,

[2019-03-18 14:49] #940 closed

[2019-03-18 14:51] AnkurIngale commented on #942
<img width="357" alt="Screenshot 2019-03-18 at 8 20 59 PM" src="https://user-images.githubusercontent.com/33569473/54539015-5ed15580-49bb-11e9-819d-7d6378eb20c8.png">
This is currently what ctrl G does.

[2019-03-18 14:53] AnkurIngale commented on #942
Rather I'll say we should have a keyboard shortcut like ctrl L or something for goto line. If needed, I can work this up.

[2019-03-18 15:28] vidasdemo commented on #928
Problem solved!

Where can I find a reference to an explanation on what “accessibility”  does?

cheers

From: siddhant <notifications@github.com>
Sent: March 18, 2019 10:35 AM
To: processing/p5.js-web-editor <p5.js-web-editor@noreply.github.com>
Cc: vidasdemo <vidas.puodziunas@rogers.com>; Mention <mention@noreply.github.com>
Subject: Re: [processing/p5.js-web-editor] Displaying shapes using coord

[2019-03-18 16:02] siddhant1 commented on #928
Awesome it got solved !
The accessibility settings are buried under settings panel .
Also many people are accidentally turning on accessibility settings , I have proposed a possible fix , waiting for @catarak views :)

[2019-03-18 16:06] AnkurIngale commented on #945
It might be a bug but it's a good way to document things up in that folder 😅

[2019-03-18 17:12] AnkurIngale opened #948 "Auto include files in index.html."
#### Nature of issue?

- New feature request

#### New feature details:
I feel on adding a new file, it should automatically be included in index.html.
Views?

[2019-03-18 17:27] taco-tues-on-a-fri commented on #790
I had this bug happen to me twice in the last two days. I had auto-save and auto-refresh on.  While moving some code around that was introducing errors into the console the editor reverted back to a save from hours ago.  All current code is gone.

[2019-03-18 17:38] siddhant1 commented on #948
Don't think it's that important imho

[2019-03-18 17:46] AnkurIngale commented on #948
Yeah but it's not a bug, it's a feature which can be implemented anytime 😄

[2019-03-18 18:24] AnkurIngale commented on #745
I'll take this one.

[2019-03-19 00:49] VashaTS commented on #172
@catarak https://editor.p5js.org/sajmon313/sketches/NaXcy24Lp

[2019-03-19 01:56] GaurangTandon commented on #948
I don't think that should happen. Not all files always need to be included in index.html, for example, css files that are imported by other css files.

[2019-03-19 02:12] GaurangTandon commented on #231
@ankitjena Are you still working on this issue? Because I have gone through this issue in detail and would like to work on this.

[2019-03-19 04:53] abhinavsagar opened #951 "No condition for checking if only username or password is provided or if neither is provided"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome
- Operating System: Windows 10
- Steps to reproduce this bug: Inappropriate action when user just types username and forgets to type password or vice versa or neither of the two.

If a user forgets to type in any of the two ie username or password then no action is happening. Rather user sho

[2019-03-19 07:54] siddhant1 commented on #698
Not sure if this is happening but I feel that we need to transpile down to es5 and then createa the transformed code , I converted it to use jsbin/loop-protect but it still stucks on for(let) loop #947

[2019-03-19 12:59] Shubhanshu88 opened #953 "Preview iframe boundaries not visible: add border to iframe only when play starts"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
When developing certain sketches, the user may not find a clear distinction between the iframe section and rest of the editor background.This can cause problems in case of interaction sketches if boundaries are not visible.

The proposed solution is to display a border similar to code editor pane when play sta

[2019-03-19 13:04] Shubhanshu88 commented on #953
This issue is visible in flocking example sketch in dark theme, the background and iframe cannot be distinguished easily

[2019-03-19 14:07] siddhant1 commented on #939
I researched a bit on this and found this .
1. You have to be logged in to save a sketch
2.Saving a sketch will generate a shareable url

This isn't beneficial for someone who is just coming to come for the first time and as soon as he hits play we are asking him/her to login.
So I think we have the best solution to not save and run .

Still let's keep this issue open and let @catarak decide.

[2019-03-19 17:41] nik72619c commented on #879
@catarak kindly see !

[2019-03-19 18:05] nik72619c opened #955 "Enhancement: Unresponsive UI of the editor"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
The Code Editor is un-responsive for mobile views.

[2019-03-19 18:07] nik72619c commented on #955
![Capture](https://user-images.githubusercontent.com/30630904/54630467-ec867100-4a9f-11e9-8252-845df41bbce1.PNG)

[2019-03-19 18:08] nik72619c commented on #955
please tell if I can make a PR on this one

[2019-03-19 19:40] AnkurIngale opened #956 "Unsaved file circle disappears on opening assets but file remains unsaved and changes still present."
#### Nature of issue?

- Found a bug

#### Details about the bug:
The circle which displays if the file is unsaved disappears on opening My assets( or anything which prompts that you have unsaved files). According to me, the unsaved changes should either disappear or the circle should still be present because it's still not saved. Look into gif for better understanding.
![ezgif-3-41c5130a6add](htt

[2019-03-19 19:53] siddhant1 commented on #956
Hm, The dialog box says that you have unsaved changes and if you click yes the changes will be lost , so that's expected that changes will not be saved . Am i missing something?

[2019-03-19 22:05] catarak commented on #836
now that i'm thinking about it, in teaching contexts, soft wrap makes makes sense. @shiffman do you have any thoughts/opinions on line wrapping?

[2019-03-19 22:06] catarak commented on #853
@siddhant1 / @GaurangTandon this issue hasn't been solved. no logging library has been added.

[2019-03-19 22:07] #693 closed

[2019-03-19 22:09] catarak commented on #588
@siddhant1 this bug has not been fixed and is still happening!

[2019-03-19 22:10] catarak commented on #932
agreed, there should be feedback here!

[2019-03-19 22:32] catarak commented on #895
which PR? it's not linked to this issue so i can't find it.

[2019-03-19 22:35] bmoren commented on #836
Teaching context was my original reasoning for opening this issue, I'm still in favor of it for this reason. especially for adding long  paragraph comments to describe whats happening in the code!

I do think that it should be a setting that can either be enabled or disabled, which makes me wonder what folks think the setting should be by default?

[2019-03-19 22:47] hellonearthis commented on #895
Having the text caret/cursor on a line without selecting any text lets you use ctrl-c and ctrl-x to copy and cut the entire line BTW.

[2019-03-20 05:28] siddhant1 commented on #588
Ok , I will send a fix :)

[2019-03-20 05:31] siddhant1 commented on #853
The issue was originally to remove logs which was done , for adding logging library , I will send a pr soon

[2019-03-20 08:22] AnkurIngale commented on #895
@catarak #907 This one.

[2019-03-20 08:26] AnkurIngale commented on #956
I agree with you @siddhant1 . But the changes aren't lost, they are still present, just not saved. My belief is we can either continue to display the unsave circle or remove the changes made.

[2019-03-20 08:28] siddhant1 commented on #956
Yes they are not saved and they won't be reflected in the shareable url (if you open in another browser) the changes are lost

[2019-03-20 09:34] plxity commented on #932
@catarak Should I simply display a  `alert` or Snakbar? I guess alert will do, What do you think?

[2019-03-20 10:36] jonathan-s opened #959 "Move examples from file menu to stand on its own"
#### Nature of issue?
- Existing feature enhancement

#### Feature enhancement details:
Right now examples are quite hidden in the file menu. For a first time user you'd want this to be front and center so the user can get an impression (and possibly inspiration) of what can be done.

So I'd argue that examples should be moved to the main navigation for visibility. I was looking for a while to see

[2019-03-20 16:07] catarak commented on #836
maybe... soft wrap on by default?

[2019-03-20 16:09] catarak commented on #906
thanks for reporting!

[2019-03-20 16:31] catarak commented on #888
hmmm, that's not part of the modern pictograms icon set. i did a little UX research about this, and i think it would be better to (1) change the button to say "Show" or "Hide" or (2) have a checkbox that says "Show password" under the form.

[2019-03-20 16:33] LakshSingla commented on #836
@catarak Would it be better if:
 - One could toggle between wrap and no wrap
 - There is a provision in the `Settings` for the user, whether he wants by default soft wrap on or off (would only make sense if it is a common thing like Theme or Autosave)

[2019-03-20 16:38] catarak commented on #912
thanks for reporting! one solution is to use https://cors-anywhere.herokuapp.com/.

but also, yes, there should be a clear error here and there's not. #868 is possibly related.

[2019-03-20 16:40] catarak commented on #915
Rather than "Login with Github" this button should display whether or not a user has linked their Github/Google account to their account.

[2019-03-20 16:44] catarak commented on #916
yes, it should be changed!

[2019-03-20 16:46] catarak commented on #748
before thinking about styling, i think it makes sense to actually write out the content we want in the FAQ.

[2019-03-20 16:46] catarak commented on #704
@siddhant1 go ahead!

[2019-03-20 16:52] #919 closed

[2019-03-20 16:58] plxity commented on #888
@catarak Okay sure, I will figure that out. :)

[2019-03-20 17:15] catarak commented on #921
yeah, i've noticed some funkiness with this. it's worth investigating the codemirror configuration and seeing if anything needs to change?

[2019-03-20 17:16] catarak commented on #923
what do you think ctrl & +/- should do?

[2019-03-20 17:17] siddhant1 commented on #923
Increase the font size when the editor is focused

[2019-03-20 17:21] catarak commented on #925
This is addressed in some design changes on Zeplin that have no yet been integrated. Can you use the colors from there?

[2019-03-20 17:25] plxity commented on #916
@catarak Can you please send me the yellow logo? :)

[2019-03-20 17:27] plxity commented on #915
@catarak Okay, I will add the Pull Request for the same. :)

[2019-03-20 18:00] catarak commented on #917
on [Zeplin](https://zpl.io/scene/agQmKD2) there are mobile designs not yet implemented! i'd start from those.

[2019-03-20 18:02] catarak commented on #933
it would be great to start working on this! there's been tons of requests to get this to work on mobile. feel free to add wireframes and/or reference designs.

[2019-03-20 18:07] catarak commented on #768
i think users are hitting some keyboard shortcut or something and turning on the accessible features. maybe it would be helpful to note that the accessibility features are in "alpha", and also something in the toolbar that appears when they are on.

[2019-03-20 18:08] #654 closed

[2019-03-20 18:11] catarak commented on #799
@GaurangTandon go ahead and work on this! i don't have an initial design, but yes, i think it would be helpful to have a design in mind. feel free to post references or wireframes!

[2019-03-20 18:12] GaurangTandon commented on #906
@catarak I already sent out a PR, please check it out :)

[2019-03-20 18:21] catarak commented on #868
there's a file called `client/utils/previewEntry.js` that's loaded into the preview that catches console messages. i think there's an issue with this, or another event handler needs to be added.

[2019-03-20 18:23] catarak commented on #380
@GaurangTandon i'd check out the github import/export flow on glitch.com for reference.

[2019-03-20 18:28] #795 closed

[2019-03-20 18:30] catarak commented on #468
yep! they are the same issue.

[2019-03-20 18:30] catarak commented on #868
closing as duplicate of #468

[2019-03-20 18:31] #868 closed

[2019-03-20 18:34] catarak commented on #922
i agree, the difference between on and off here is small.

maybe, given [this design](https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/59413d86749bc4afbca08994), it should be blue when selected?

[2019-03-20 18:37] catarak commented on #937
hmm, i'm not able to reproduce. i tried from a new sketch and an existing sketch.

[2019-03-20 18:38] catarak commented on #937
was your internet connected maybe interrupted?

[2019-03-20 18:39] siddhant1 commented on #922
Yes , I will send the fix

On Thu, 21 Mar, 2019, 12:04 AM Cassie Tarakajian, <notifications@github.com>
wrote:

[2019-03-20 18:44] siddhant1 commented on #959
Maybe a separate section in the header besides help & feedback?

[2019-03-20 18:48] shakeabi commented on #906
@GaurangTandon Please check for claims before giving a PR

[2019-03-20 18:59] shakeabi commented on #906
@GaurangTandon Also I believe its better to check for the existence of confirmPassword before the equality check and keeping the error in error.password makes it dynamic.

[2019-03-20 19:37] catarak commented on #941
if this were added as a setting, it would definitely be off by default. i could be convinced that this should be added, but for now, it's not high priority. i'd want some input from beginner coders about their experience.

[2019-03-20 19:41] catarak commented on #921
i just had a thought, with respect to #836 and #941. are those more important than text indentation? i think font size is important, and i use it all of the time, but i have never changed the indentation, nor have i seen anyone do it. or changed it from spaces or tabs. is this something that beginner coders even care about?

[2019-03-20 19:51] bmoren commented on #836
@LakshSingla my preference would be to have it be a provision in the Settings for the user (with wrap on by default)

[2019-03-20 20:11] catarak commented on #934
it's not on purpose!

[2019-03-20 20:11] catarak commented on #934
go ahead and work on this!

[2019-03-20 20:22] catarak commented on #943
thanks for reporting, and I agree, this is annoying!

[2019-03-20 20:32] catarak commented on #521
this is a big issue, so i recommend making small PR's!

[2019-03-20 20:39] catarak commented on #503
@siddhant1 i don't think she is. i think this will have to be added as a setting under the "accessibility" settings/

[2019-03-20 20:47] catarak commented on #922
hmmm, the arrows shouldn't be blue though. they should be the same color as other icons in the theme.

[2019-03-20 20:58] catarak commented on #942
the UX here is... odd. it works when i open the find dialog with metaKey + G but doesn't work with metaKey + F? maybe codemirror isn't being configured right?

[2019-03-20 21:26] catarak commented on #928
@vidasdemo thanks for reporting, and sorry for the frustration! did you turn on the accessibility features, or were they just on? i think a lot of folks are turning them on accidentally.

[2019-03-20 21:27] catarak commented on #945
this is related to #645. for folders, long files, and assets, the code editor should be replaced with something else 😄

[2019-03-20 21:28] shakeabi commented on #568
@siddhant1 I don't think a front-end check would cut it. You must also include a backend validation.

[2019-03-20 21:34] vidasdemo commented on #928
Hi Cassie,

I did not turn on the accessibility features…the “on” state seems to be the default when opening a new script.

Now I know about this “feature” I can switch it off.

My suggestion would be to add an explanation of what “accessibility” is about somewhere in the getting started /reference section.

It’s one thing to know the “cure” but it would also be nice to know something about the “c

[2019-03-20 21:36] catarak commented on #790
i'm sorry, that's really frustrating! could this maybe have to do with having the same sketch open in different windows?

[2019-03-20 21:38] catarak commented on #928
@vidasdemo that's helpful. it's not on by default, but what happens is that it gets turned on, and then that setting is saved to your account.

[2019-03-20 21:40] catarak commented on #745
the CodeMirror editor is in a flexbox container, so it could the same issue that @bmoren linked to.

[2019-03-20 21:41] shakeabi commented on #521
@catarak As the task is huge, I too would like to contribute to this.

[2019-03-20 21:53] #906 closed

[2019-03-20 22:00] catarak commented on #172
@VashaTS thanks! this is actually the correct behavior. the web editor can't load the font files hosted on your server because of CORS!

[2019-03-21 01:19] VashaTS commented on #172
@catarak why I can't upload font files to the editor then? The error message I provided in the earlier post was when trying to upload file into the editor.

[2019-03-21 02:43] dinolinjob commented on #945
I'm Dinolin yp job, I would like to work on this issue.

[2019-03-21 03:46] meiamsome commented on #521
Are we prefer the promise `.then` chains, or should the code be using `async`/`await`? I would prefer the latter for readability

[2019-03-21 03:54] meiamsome commented on #521
Are we prefering the promise `.then` chains, or should the code be using `async`/`await`? I would prefer the latter for readability personally.

[2019-03-21 04:08] GaurangTandon commented on #906
Sorry, I do check if someone has written they'd like to work on an issue, but I missed this one from you. Saw just now.

[2019-03-21 04:09] GaurangTandon commented on #945
@catarak What do you think should it display? Would a simple "Sorry, the file type is unsupported in our editor." suffice? I can work to incorporate it.

[2019-03-21 05:55] LakshSingla commented on #836
What about a provision of both? Most editors have both. As long as it doesn't interfere with the minimalistic setup ideology of Web editor. In case it is implemented, I would like to take it up.

[2019-03-21 06:14] awarua opened #963 "Need to double-click data folder to add files"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome

- Operating System: Windows

- Steps to reproduce this bug:
* Add a 'data' folder to the project folder
* Click on the down-arrow next to the folder to 'add file'
* Choose the file (e.g. an image) to upload.
* It will upload, but will not be inside the folder.

You need to double-click the folder

[2019-03-21 10:50] AnkurIngale commented on #939
@siddhant1 yes you are right. What we can implement is save and run on logging in and just run when not logged in.

[2019-03-21 10:53] AnkurIngale commented on #937
@catarak   try writing in one sketch. Without saving, open another sketch. Comeback. I did the above steps and no changes were saved. If needed, I'll attach a gif.

[2019-03-21 11:01] AnkurIngale commented on #945
Yeah it's a bug. But honestly speaking, it's good. I mean I can document things of that folder there. No need to create text files. Maybe it's just me being lazy 😅

[2019-03-21 11:34] shakeabi commented on #906
@catarak I still think it the error should be given with the password input for the reasons stated in #960.
This way we can dynamically indicate the user whether his password matches or not.

[2019-03-21 14:33] bmoren commented on #836
I'm not sure what you mean by a provision of both,

I imagined it would be a setting toggle like the current implementation of autosave in the user settings

Getting the softwrap enabled is no issue. There is a setting in the code mirror config that just needs to be set to true, see https://codemirror.net/doc/manual.html#config `linewrapping`. I've tested this, and it works great with the current

[2019-03-21 14:38] bmoren commented on #921
@catarak I'd second removing indentation amount from the settings and hard fixing it, it seems like a much lower level feature to font size / softwrap / bracket&quote autocomplete.  I also have never changed indentation. I use font size almost every time I open the editor, especially in a teaching context.

[2019-03-21 17:07] LakshSingla commented on #836
By both I mean a person can set one of it as the default one, which would be applied whenever a person opens the browser or a new sketch . A hotkey binding  can be further added to quickly toggle between wrap and no-wrap (which would only apply for the current session only). One use case for this might be for when someone prefers the no-wrap version but needs to toggle it for a moment to see a hug

[2019-03-21 18:05] DexterShepherd commented on #933
I'm interested in helping out with this if no one is already working on it.

[2019-03-21 19:32] catarak commented on #948
i like this idea and i've definitely talked about this before! i want to think it through though. some thoughts/questions:
- how much "magic" do we want the web editor to have? i'm hesitant to introduce things that folks have to unlearn, i.e. when adding a file in another text editor, they would have to add it manually. but maybe this is okay.
- if a user then removes the file from the `index.html

[2019-03-21 19:46] catarak commented on #951
thanks for reporting! i unfortunately don't understand what the issue is you are trying to report. can you list steps to reproduce, or explain it another way?

[2019-03-21 19:50] catarak commented on #953
thanks for suggesting! i think this would cause more harm than good. i think this is an issue with the specific sketches, rather than the web editor. a user can simply update the CSS if they would like the canvas to have a border.

[2019-03-21 19:50] #953 closed

[2019-03-21 20:00] catarak commented on #955
what change are you suggesting?

[2019-03-21 20:14] catarak commented on #956
yeah, this is a strange edge case. i think the issue is that the dialog shouldn't appear if you've opened one of the overlays, it should only open if you close the page or open a new sketch.

[2019-03-21 20:15] catarak commented on #932
no, don't use an alert! there's a `Toast` component which should be used.

[2019-03-21 20:19] catarak commented on #923
i think for accessibility reasons this is not a good idea. sometimes users want to use the +/- keys to increase the font size of the whole web page, that is the expected behavior, and i think it's a bad idea to change this.

[2019-03-21 20:19] #923 closed

[2019-03-21 20:21] catarak commented on #916
it's an SVG so you can use CSS to change the color.

[2019-03-21 20:22] siddhant1 commented on #923
I was thinking of doing this when the editor is focused.

On Fri, 22 Mar, 2019, 1:49 AM Cassie Tarakajian, <notifications@github.com>
wrote:

[2019-03-21 20:23] catarak commented on #923
@siddhant1 even if the editor is focused, i still don't think it's a good idea.

[2019-03-21 20:28] catarak commented on #959
thanks for reporting! i think i used the Processing application to decide that "Examples" should be under "File", but i can see how that could be too buried. since all of the other menu items are dropdowns, could it be weird that "Examples" would be the only one that's not a dropdown?

[2019-03-21 20:47] catarak commented on #172
oh i see! i thought that was the error you got when you tried to load your font from your server.

i just tried making a simple sketch with your font file (https://editor.p5js.org/cassie/sketches/y7kv56ZM6) and it seems like it's not supported by p5.js.

[2019-03-21 20:48] catarak commented on #521
i definitely prefer async / await! i'll update the issue title.

[2019-03-21 20:50] siddhant1 commented on #521
We have to change the error handling mechanics with async/await , I have some links , I will post them here

[2019-03-21 20:52] jonathan-s commented on #959
Personally I wouldn’t find it weird if it was the only thing that didn’t
have a Dropdown

On Thu 21. Mar 2019 at 21:28, Cassie Tarakajian <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-03-21 20:53] catarak commented on #963
thanks for reporting! i can reproduce.

[2019-03-21 21:08] #659 closed

[2019-03-21 21:19] catarak commented on #939
would it make sense to just make the autosave interval smaller? i think this is perhaps an overcomplicated solution.

[2019-03-21 21:20] catarak commented on #937
did you save the first sketch at least once? autosave doesn't get turned on unless you save the sketch at least once after opening it.

[2019-03-21 21:22] catarak commented on #945
it shouldn't be an error. one solution would be that folders can't be selected, and when you click on them, it simply opens/closes the folder.

[2019-03-21 21:30] catarak commented on #921
i think indentation got included because it was in the original mockups, and is in the p5 desktop editor, so i never questioned it.

[2019-03-21 21:30] catarak commented on #836
i'm officially on board with adding this! this should be in Preferences as "Word Wrap"

[2019-03-21 21:32] LakshSingla commented on #836
Lemme begin work on this :).

[2019-03-21 21:33] siddhant1 commented on #963
I will fix this soon

[2019-03-21 21:56] catarak opened #965 "Remove indentation options from user preferences"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

4.3% of registered users have changed the indentation amount. 3% have changed space indentation to tab indentation. This seems pretty small. Since one goal of this project is to keep configuration options down, let's get rid of this and use a smart default. Since the airbnb eslint configuration uses "two spac

[2019-03-21 21:58] catarak commented on #921
okay, i made an issue to remove it (#965). i moved #836 up to being a tagged ticket. i'm still on the fence about #941.

[2019-03-21 21:59] nik72619c commented on #955
The particular aspect I am pointing out to is the arrangement of UI according to the viewport but since you mentioned that work is going on for mobile-friendly views, I can help write media queries for the same :)

[2019-03-21 22:05] catarak commented on #933
@DexterShepherd go ahead! this is a big issue so feel free to make small, incremental changes.

[2019-03-21 22:07] DexterShepherd commented on #933
@catarak Awesome! I saw you mention zeppelin comps in another issue relating to mobile. Are there already mock ups for this somewhere?

[2019-03-21 22:08] catarak commented on #959
another concern is too many nav items. i don't feel like i have the UI/UX expertise to answer these questions.

[2019-03-21 22:13] catarak commented on #955
okay! can you update this issue title/description with the specific thing you are proposing to change?

[2019-03-21 22:13] catarak commented on #933
There are a few, though it's not totally complete. See https://zpl.io/scene/agQmKD2

[2019-03-22 00:25] qualitymanifest commented on #965
I'll take a crack at this, it looks like it mainly just involves reverting most of the changes from this PR https://github.com/processing/p5.js-web-editor/pull/9/files

[2019-03-22 06:21] dhruvdutt commented on #231
I would like to work on this as well. ✋

[2019-03-22 07:56] AnkurIngale commented on #948
I feel we can add them the first time the user makes a file and give the user a notification that the newly created file has been added. If the user wishes to remove it, he can remove it later.

[2019-03-22 08:00] AnkurIngale commented on #937
I wrote a line of code, saved it, wrote another line of code, left the current project and came back. The latter line is not saved. Is it working for you @catarak ?

[2019-03-22 08:10] #951 closed

[2019-03-22 08:13] siddhant1 commented on #836
@LakshSingla have you started on this? I was previously looking on this issue and had some work done previously , can I send in a pr if you don't mind , just wanted to ask before sending.

[2019-03-22 08:40] plxity opened #969 "update "preview sound" button to match design"
#### Nature of issue?

- Feature enhancement

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:

![Capture](https://user-images.githubusercontent.com/28510494/54810395-05fc0880-4cac-11e9-9419-bb104fd78e2a.PNG)
 ' Preview sound ' is actually a button and proper border  should be present to mak

[2019-03-22 09:09] Shubhanshu88 commented on #917
The above pr makes the nav responsive till almost 380px after which nav width cannot be decreased.

Below 380px, the navbar may be made horizontally scrollable with a fixed width(just like github) or seperate navbars may be made for logo,login and one for other nav items or some other fix,
@catarak  what would you suggest?

[2019-03-22 09:21] LakshSingla commented on #836
@siddhant1 Yes, I have started work on this,

[2019-03-22 14:38] Shubhanshu88 opened #972 "Responsiveness for Log in screen: Currently, elements not working as intended"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Steps to reproduce this bug:
    - Open Log in screen on any mobile device (either portrait or landscape view or both)

         - The buttons do not behave as intended (decreased height, even shorter than logo),
         - Also below certain width the "Log In" form heading is not properly aligned vertically (in few cases, not ev

[2019-03-22 14:40] Shubhanshu88 commented on #972
The solution may be to fix the form width so that the form heading does not shift beyond screen height

[2019-03-22 17:32] siddhant1 commented on #861
@catarak can you help me close this one too

[2019-03-22 21:03] catarak commented on #231
okay, well, the first person to claim this ticket is working on it.

[2019-03-22 21:16] catarak commented on #948
i like the idea of it being an explicit thing that's happening. not quite sure what the UI/UX for this would look like.

[2019-03-22 21:37] catarak commented on #937
hmmm, i just tried that and it is working for me. do you have javascript disabled if a tab doesn't have focus?

[2019-03-23 00:22] VashaTS commented on #172
Hmm ok then, what type of font will work?
 I tried both .ttf and .otf

Some font has to work sicne there is loadfont() function

[2019-03-23 00:27] VashaTS commented on #172
I guess I have to do my own function drawing the font pixel by pixel then :(

[2019-03-23 03:20] Shubhanshu88 opened #974 "Direct navigation to Log In screen does not render elements properly"
#### Nature of issue?

- Found a bug

#### Details about the bug:

When user navigates directly to Log in screen without initially going to the editor screen, the github and google buttons are not displayed as intended

- Steps to reproduce this bug:
    - Navigate directly to https://editor.p5js.org/login without opening https://editor.p5js.org

[2019-03-23 03:23] Shubhanshu88 commented on #974
In this case, the buttons do not contain theme classes and placeholders are not imported.

A possible solution may be to hard code css properties.

[2019-03-23 12:53] dhruvdutt commented on #695
@migom6 Any update here? I would like to work on this as well. ✋

[2019-03-23 12:55] dhruvdutt commented on #681
@EOstling Are you still working on this?

[2019-03-23 13:06] dhruvdutt commented on #650
How can I replicate this?

[2019-03-23 13:07] dhruvdutt commented on #597
@catarak This can be closed I guess.

[2019-03-23 13:26] dhruvdutt commented on #437
Couldn't reproduce it. @catarak were you able to reproduce it by any chance?

[2019-03-23 14:30] siddhant1 opened #975 "Refactor all HTTP requests to use axios"
As I was working on #521 , we use a package named 'request' which only supports callbacks.
I think we should switch to request-promise alternative.
LInks :- https://github.com/petkaantonov/bluebird
https://github.com/request/request-promise-native

@meiamsome @catarak Should I switch it up?

[2019-03-23 14:42] siddhant1 opened #976 "Enable treeshaking"
Currently the tree-shaking is not enabled, treeshaking works only with esm and we are transpiling them to cjs.

https://medium.com/@lawliet29/tree-shaking-in-real-world-what-could-go-wrong-b398c2b2ebbb

[2019-03-23 17:48] Janglee123 opened #978 "Missing p5.js keyword/function highlights"
#### Nature of issue?

- Found a bug

#### Details about the bug:

After marking that the new `circle` and `square`  are not highlighting like other p5 functions. I have generated a list of functions that not highlighted by the editor.

Here you go:
https://editor.p5js.org/Janglee123/sketches/z5DUgwwjy

[2019-03-23 18:04] siddhant1 commented on #978
Can you attach a ss , for me they are working completely fine.

[2019-03-23 20:39] plxity commented on #673
@AnkurIngale Are you working on this? or can I take this up?

[2019-03-23 20:58] plxity commented on #377
I will take a look at this issue.

[2019-03-23 21:06] plxity commented on #387
@catarak  I would like to give this a look and work on it. :)

[2019-03-23 22:42] AnkurIngale commented on #673
@plxity I am working on it. Sorry for taking too long.

[2019-03-24 06:01] pranavtharoor opened #981 "Drop-down arrow pertaining to 'My Account' should be clickable"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome | 73.0.3683.75 (Official Build) (64-bit)
- Operating System: Ubuntu 16.04.1 LTS
- Steps to reproduce this bug: Click the arrow on the drop-down pertaining to 'My Account'

![p5js-cropped](https://user-images.githubusercontent.com/22600061/54875484-454e6480-4e26-11e9-9814-eb1f9ea7a006.png)

T

[2019-03-24 06:01] pranavtharoor commented on #981
I would like to submit a PR for this

[2019-03-24 06:19] plxity commented on #673
@AnkurIngale No issues.

[2019-03-24 10:53] dhruvdutt commented on #419
@catarak Can this be closed?

[2019-03-24 10:58] dhruvdutt commented on #391
@catarak Is there some work left on this? I can probably pick it up if anything is pending.

[2019-03-24 11:05] dhruvdutt commented on #388
@catarak Can I pick this up? ✋
The current modal for adding new file is slightly different since it also includes some space for uploading files/drag and drop box.

[2019-03-24 11:06] dhruvdutt commented on #387
Would love to work on this. @plxity Let me know if you need any help.

[2019-03-24 11:19] plxity commented on #387
@dhruvdutt Sure.

[2019-03-24 11:31] dhruvdutt commented on #385
@catarak  This seems to be the current behaviour. What's the change required?

[2019-03-24 12:30] dhruvdutt commented on #386
What's the required change here?

[2019-03-24 12:38] dhruvdutt commented on #368
Couldn't reproduce the original issue but the issue that @aferriss mentioned still prevails.

The only way to dismiss the menus is by right clicking them again.

@catarak Can I work on fixing this?

[2019-03-24 12:39] dhruvdutt commented on #231
@ankitjena Hope you're working on this.

[2019-03-24 15:23] rmacdonaldbeaver commented on #790
I've also been experiencing this problem frequently over the past week: the online editor occasionally reverts back to an old version and recent work is lost.  I've been using the duplicate option, and maybe that's the source of the bug.  FWIW, I've had auto-save on, but not auto-refresh.  Any updates would be great.  Thanks!

[2019-03-24 16:43] barik10101 opened #983 "The word "circle()" is not colored in the High Contrast mode"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-24 20:12] AnkurIngale commented on #895
@hellonearthis Yeah, right! Is it documented somewhere?

[2019-03-24 22:09] AnkurIngale commented on #983
I'll do it.

[2019-03-24 22:11] AnkurIngale commented on #983
Ill fix this.

[2019-03-24 22:34] AnkurIngale opened #985 "Cannot exit log in and sign up pages on opening sign up page from log in page."
#### Nature of issue?

- Found a bug

#### Details about the bug:
Opened log in page, from there I opened sign up page. Now when I click on 'X' (exit), it brings me back to log in. Again clicking on exit brings me back to Sign up. And this continues.
- Web browser and version:  On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug:
Do as above.

@catarak views? Obviously, I won't be p

[2019-03-25 02:49] siddhant1 commented on #985
Hm , looks like some kind of bug , will try to reproduce

[2019-03-25 02:50] siddhant1 commented on #981
Will be solved by #900

[2019-03-25 04:04] plxity commented on #983
@AnkurIngale Try to make it similar as shown in the pic.
![Capture](https://user-images.githubusercontent.com/28510494/54894534-121cdb80-4ee1-11e9-8b29-34d7f4163898.PNG)

[2019-03-25 07:46] Janglee123 commented on #978
NO, they don't, just checkout  #983

[2019-03-25 08:29] AnkurIngale commented on #978
Yeah I have noticed it in #983 and will be working on it.

[2019-03-25 11:17] plxity opened #986 "Feature: Clicking on username appearing in navigation bar should direct the user to Settings page."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

Clicking on the username in the navbar should redirect the user to account settings page.
In most of the web apps, there is a feature like this. So, I think implementing this would be a great option.  @catarak W

[2019-03-25 12:53] nimishagarwal76 opened #987 "Multiple File Options"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Latest Merge ```Fixed Issue #659 (#964)``` causes multiple menus to remain open.
![Screenshot (1)](https://user-images.githubusercontent.com/37630020/54921104-ef171980-4f2a-11e9-8650-6df203cfad4f.png)

#876 removed the issue but it comes again now.

[2019-03-25 15:59] pwjablonski commented on #711
@Janglee123 Apologies for the delay here and thanks for the input. @AnkurIngale sounds good to me!  I unfortunately won't have as much time to dig into this as I had thought at the moment and happy to pass it off.

@catarak would you like me to close down #832 since @AnkurIngale is taking this up?

[2019-03-25 18:12] AnkurIngale commented on #983
circle is not a keyword. Infact, all these words https://editor.p5js.org/Janglee123/sketches/z5DUgwwjy are not keywords. Either, we should make them keywords or make a separate group for them. Views @catarak @plxity ?

[2019-03-25 18:25] Marton6 commented on #987
Hello! I would like to work on this issue.

[2019-03-25 19:56] catarak commented on #969
i don't think it needs a border. in the [design](https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/595987f3dfe43c83d043bcf7) it is simply a different color and i think that is enough.

[2019-03-25 20:20] catarak commented on #917
i'm honestly not sure at the moment, as i'm not a UI/UX designer. i think the approach is going to be something like
- a few things in the nav menus that are most commonly used will need to be top-level visible
- everything else will be hidden by a hamburger menu on the left, and account stuff on the right of the nav

[2019-03-25 20:24] catarak commented on #972
yep, go ahead and work on this!

[2019-03-25 20:33] catarak commented on #861
can you make a PR?

[2019-03-25 20:37] catarak commented on #172
otf and ttf fonts should work! i think there is something not right with that specific font file. i don't really know anything about font formats, but maybe there's a font file validator or something like that?

[2019-03-25 20:39] catarak commented on #172
update: just tried using the mac font validator and it says it's okay. i recommend opening an issue in the p5.js library itself, and attach the font file.

[2019-03-25 20:44] catarak commented on #172
i just found a typo in https://editor.p5js.org/cassie/sketches/y7kv56ZM6, and have now fixed that 🤦‍♂️ the good news is, is that you should be able to use the font file! let me know if you are able to use the font file by duplicating that sketch.

[2019-03-25 20:46] catarak commented on #974
thanks for reporting! i think a better solution would be to figure out how to import the theme classes properly.

[2019-03-25 21:15] Marton6 opened #989 "Folder can be renamed to "" empty string"
#### Nature of issue?

- Found a bug

#### Details about the bug:
It is possible to clear the name of a folder by renaming it to "" and files can be renamed to only contain a valid extension (".js", ".css" etc.).
Moreover two or more folders with an empty name ("") can be contained in the same folder which will probably cause issues.

- Web browser and version: Chrome 71.0.3578.98
- Operating Syst

[2019-03-25 21:17] catarak commented on #695
if an issue hasn't been updated within a month, i think you can safely assume they are not working on it anymore 😄

[2019-03-25 21:21] catarak commented on #650
@dhruvdutt i don't think i ever figured out the steps to reproduce. figuring that out would be super helpful!

[2019-03-25 21:22] #597 closed

[2019-03-25 21:24] catarak commented on #437
i'm thinking that this has to do with having multiple versions of the same sketch open.

[2019-03-25 21:28] catarak commented on #975
`request-promise` is already a dependency, so feel free to refactor accordingly.

[2019-03-25 21:34] catarak commented on #976
i think there are so many more important things to do before this, and from that blog post it looks difficult to set up and maintain.

[2019-03-25 21:34] #976 closed

[2019-03-25 21:49] catarak commented on #377
this is the design while uploading: https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/59413d7fd21d1d37bd2615ae

[2019-03-25 22:04] #419 closed

[2019-03-25 22:04] catarak commented on #391
i think this is done ✨

[2019-03-25 22:04] #391 closed

[2019-03-25 22:05] catarak commented on #388
@dhruvdutt absolutely work on this!

[2019-03-25 22:06] catarak commented on #387
@plxity go for it!

[2019-03-25 22:06] #385 closed

[2019-03-25 22:07] #386 closed

[2019-03-25 22:15] catarak commented on #368
@dhruvdutt sure!

[2019-03-25 22:18] catarak commented on #231
i'm thinking about adding one of those Github bots that will automatically assign users to an issue if they claim it and unassign them if they haven't completed it, to avoid situations like above.

[2019-03-26 03:47] ZiyaoWei opened #990 "Inconsistency between the results and the code"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome 72.0.3626.121 (Official Build) (64-bit)
- Operating System: Mac OS X 10.13
- Steps to reproduce this bug:

1) Copy the following into the editor:
[code]
2) Run the code, verify logging works;
3) Do this as fast as possible: comment the line `console.log(1);` and run the code again;
BUG: 1s s

[2019-03-26 04:37] plxity commented on #377
@catarak okay, then what is this design for? :)

[2019-03-26 05:39] siddhant1 commented on #975
Cool , I will have a look

[2019-03-26 05:43] siddhant1 commented on #989
Looks like a bug to me , will fix this soon!

[2019-03-26 05:44] siddhant1 commented on #861
Sure!

[2019-03-26 16:18] catarak commented on #790
it could have to do with duplicating too! i think some further investigation needs to be done. but thanks for all of the updates, it's really helpful.

[2019-03-26 16:25] catarak commented on #985
thanks for reporting! this is a bug and i can reproduce.

[2019-03-26 16:33] catarak commented on #981
i just tested this, and it is not fixed by #900 at the moment.

[2019-03-26 17:02] catarak commented on #983
thanks for reporting! i'm going to mark this as a duplicate of #978.

[2019-03-26 17:03] #983 closed

[2019-03-26 17:06] catarak commented on #978
i can reproduce! this project forks the CodeMirror JS syntax highlighting file, which needs to be updated to include the new p5.js keywords.

[2019-03-26 17:07] catarak commented on #978
The file that needs to be updated is https://github.com/processing/p5.js-web-editor/blob/master/client/utils/p5-javascript.js

[2019-03-26 17:38] catarak commented on #981
fixed by #982

[2019-03-26 17:38] #981 closed

[2019-03-26 17:48] catarak commented on #986
i think it makes sense to leave it as it is now. in the future, it would be nice to have individual profile pages for users, so if anything, i think the username should link to that.

[2019-03-26 17:48] #986 closed

[2019-03-26 17:49] plxity commented on #986
@catarak Okay no issues:)

[2019-03-26 17:55] plxity commented on #969
@catarak Okay, I will add a PR for the same.

[2019-03-26 18:21] catarak commented on #711
@pwjablonski no worries!

[2019-03-26 18:30] catarak commented on #990
thanks for reporting! i can reproduce. i recently added a [commit](https://github.com/processing/p5.js-web-editor/commit/2cc0d578fbc24ca7ce9e12f7bd26d28fb4ad28ce) that helps with fixing this issue.

[2019-03-26 18:31] catarak commented on #377
the other two screens are for when the asset is uploading, and whether or not it has successfully been added.

[2019-03-26 18:40] catarak commented on #989
thanks for reporting! this is a bug and i can reproduce.

[2019-03-26 19:22] LakshSingla commented on #392
Since this has been dead for a long time, may I take up this issue?

Just to be clear, the objective is to redesign the following view (the input text fields have black background due to OS specific settings)...
![Screenshot from 2019-03-27 00-49-01](https://user-images.githubusercontent.com/30999375/55027003-3506d700-502a-11e9-98ed-80cb3f592e07.png)

[2019-03-26 19:23] nik72619c commented on #383
I was thinking of some designs like:-
![login](https://user-images.githubusercontent.com/30630904/55027136-8e6f0600-502a-11e9-9a5b-dd36f85aa212.PNG)

[2019-03-26 19:23] nik72619c commented on #383
or:-
![login2](https://user-images.githubusercontent.com/30630904/55027213-beb6a480-502a-11e9-984d-8f7a5a0ada64.PNG)

[2019-03-26 19:24] nik72619c commented on #383
Shall I work on this and file a PR? @catarak

[2019-03-26 19:25] catarak commented on #383
hi! thanks for your design suggestions; however, there are already designs. also, i would hold on this—i'm thinking about switching the login/signup/account settings to overlays rather than full screen views, since there's no longer issues with http/https.

[2019-03-26 19:27] nik72619c commented on #383
didnt get the word "overlay " here...Could you please explain?

[2019-03-26 19:28] catarak commented on #383
overlay as in the way that the sketch list, sketch preferences, etc. are rendered.

[2019-03-26 19:37] #836 closed

[2019-03-26 19:39] nik72619c commented on #383
@catarak could I have some personal chat with you, if you dont mind?

[2019-03-26 19:40] nik72619c commented on #383
could you provide your gmail/twitter/telegram account?

[2019-03-26 19:41] catarak commented on #383
feel free to reach out via Gitter.

[2019-03-26 19:52] #965 closed

[2019-03-26 21:06] catarak commented on #392
@LakshSingla please do!

[2019-03-26 23:53] bmoren opened #993 "Must click into canvas preview pane before key events are recognized"
#### Nature of issue?

- Found a bug
This is maybe not really a bug, but more of an thing I noticed that might trip up beginners

#### Details about the bug:

You have to click into the canvas pane in order to make key events recognized.
take the following:

[code]

If you run this code with the play button – after you press it, you first have to click in the preview window before the 'A' key is r

[2019-03-27 00:02] bmoren commented on #948
I feel like it's a very processing like behavior to have it auto-add to the index.html, and I like that. But as this is the web (and linking tons of files is so common) I feel that the user should at least be aware that something magic happened.

If tabs are going to be a thing at some point, maybe there is something there that could happen there? maybe the new file opens and also the index.html o

[2019-03-27 00:05] bmoren commented on #959
I'd maybe say that they should be moved to the help & feedback menu, since they are more 'helpful resources' than file functions.

breaking it out to it's own seems fine too!

[2019-03-27 06:13] nik72619c opened #994 "Migrate to server-side rendering"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
The current version of the editor is client side rendered. Server side rendering of the application not only boosts performance and startup time for the app but also provides search engine optimisation.

[2019-03-27 06:13] nik72619c commented on #994
@catarak please give your thoughts on this

[2019-03-27 07:38] abhinavsagar opened #995 "Documentation improvement"
The deployment and installation docs are not that beginner friendly specially for windows users. Same goes for pull request docs.

[2019-03-27 13:11] plxity commented on #916
@catarak I tried changing color, But it's not happening. Can you help me with this?

[2019-03-27 15:34] catarak commented on #993
thanks for reporting! this has come up before (see #654), and had decided to leave it as it is, for now. my instinct is that it is more harm then helpful: for times when a user is writing code and refreshing the sketch using auto-refresh or the keyboard shortcuts, it would be really annoying for the code editor to lose focus. you can explicitly tell the canvas to focus on play, as I spelled out in

[2019-03-27 15:48] catarak commented on #948
that's a good point about it being processing-like behavior. it's hard to know with this project what is okay magic and what is too magical, which i think is related to the difference between JS and Java.

i think only JS and CSS files could even be auto-added anyway (because... can you add other types of files to HTML?), which is a nice constraint.

[2019-03-27 15:51] bmoren commented on #993
both the issue and the comment make sense to me. I was hesitant to make this a 'bug'. It's the behavior I'd expect, but perhaps there is a way to clear this up with a UI element for the users. I wonder if there is a way to make the active pane more noticeable or explicitly called out?

no commitments here (I'm really not sure about all of this .... can you tell!), but perhaps something like a bord

[2019-03-27 15:54] bmoren commented on #993
I'll also report that I'm not getting the expected behavior with the
`this.focus()` outside the p5 functions to focus the preview window

[2019-03-27 15:59] bmoren commented on #948
I think you're right, css files are the only other thing to link. But, I'd be hesitant to even link those since it's not that uncommon to link dozens of css files for fonts, modules, and other styles & this is not really intended to be a 'web' development ide, but a p5.js editor, where typically the CSS is very light, if not non-existent all together!

[2019-03-27 16:13] catarak commented on #994
yeah, this would be nice! i've never done server-side rendering before so i don't know where to start with this.

[2019-03-27 16:29] #969 closed

[2019-03-27 16:45] nik72619c commented on #994
Not an issue, will make a pr on this

[2019-03-27 16:51] #908 closed

[2019-03-27 16:51] #871 closed

[2019-03-27 16:57] catarak commented on #916
changing the colors for SVGs is different than colors—you will have to target the svg element (it's `<g>` or `<svg>`), and you will have to use `fill` rather than `color`.

[2019-03-27 17:37] siddhant1 commented on #899
I think  we can close this @catarak

[2019-03-27 18:30] AnkurIngale commented on #948
@bmoren Even I feel only js files should be added. CSS files are generally not needed and if they are required, the user can add it himself. But for the js files, I feel we should automatically add it. Giving user a notif will do it.

[2019-03-27 19:06] catarak commented on #993
hmmm! i just tried it, and for me, this [stripped down sketch works](https://editor.p5js.org/cassie/sketches/CQUX7SRTa), whether `this.focus()` is in `setup()` or outside of it.

[2019-03-27 19:16] plxity commented on #916
@catarak  Yeah, I figured that out. I checked the SVG in illustrator. The layers are not structured properly. Can you just check once?

[2019-03-27 19:23] catarak commented on #899
i think this needs to be fixed for keyboard users. try the following:
1. Tab to "File"
2. Hit enter
3. Tab through the options until "Edit" is highlighted
4. Dropdown under "File" is still open.

I think one of two things should happen, either (1) the dropdown under "File" should close, or (2) the dropdown under "Edit" should open.

[2019-03-27 19:35] bmoren commented on #993
Looks like it's a FF vs Chrome issue

FF 65.0.1  `this.focus()` 👎
Chrome  72.0.3626.121 `this.focus()`  👍

[2019-03-27 19:42] catarak commented on #948
i'm definitely warming up to this issue! maybe simply adding new JS files to the `index.html`, and adding a notification is enough.

[2019-03-27 19:53] #987 closed

[2019-03-27 19:54] catarak commented on #993
ahhh, good to know!

[2019-03-27 19:56] AnkurIngale opened #998 "Remove Nav item border on clicking it."
#### Nature of issue?

- Found a bug

#### Details about the bug:
If I open a nav item, say Sketch, and hover over Edit, it opens the options in Edit but the border still remains on Sketch. Also, on clicking any other nav item again, options shut down.
- Web browser and version:  On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug:
Do as above.

Anybody can work on it. @catarak revi

[2019-03-27 20:00] catarak commented on #998
thanks for reporting! i wonder what best practice is here, whether it's okay to programmatically change the focus like that, and how it affects keyboard users/screen readers.

[2019-03-27 20:06] AnkurIngale commented on #998
* When tabbing through the nav items, if some nav is open, I have to press enter twice to open my desired nav.
* I believe, hovering should be removed for the time being. Opening a single nav would be preferable. Just making sure that one click opens the desired nav and closes any other opened nav.

[2019-03-28 05:22] progfay commented on #943
I found the difference of pulldown menus design between `.nav__dropdown` and `.sidebar__file-item-options`

### `.nav__dropdown`

[![Image from Gyazo](https://i.gyazo.com/3df882e6133a02e67afd79c324c26dc1.png)](https://gyazo.com/3df882e6133a02e67afd79c324c26dc1)

### `.sidebar__file-item-options`

[![Screenshot from Gyazo](https://gyazo.com/9d23319df2ece56e26f6e85f6c55e261/raw)](https://gyazo.com/9

[2019-03-28 05:23] progfay commented on #943
Wow, I found #886 and it will be solved by #887 .

[2019-03-28 05:36] progfay commented on #974
I found same bug on https://editor.p5js.org/account (navigate directly)

[![Screenshot from Gyazo](https://gyazo.com/6c095d38db02730e3861bef9ac4d6562/raw)](https://gyazo.com/6c095d38db02730e3861bef9ac4d6562)

[2019-03-28 09:35] progfay commented on #974
In my research, no `<style>` difference between `/` and `/login` .
I suggest there is not provide Theme className for `/login` .
And, `.light .github-button` style does not appied for '.github-button' in '/login' .

[2019-03-28 10:44] Marton6 commented on #985
I would like to fix this.

[2019-03-28 11:10] Marton6 opened #1003 "Add file and add folder dialog can be opened at the same time"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: On Chrome
- Operating System: Linux and Windows
- Steps to reproduce this bug:
    1. Click add folder option in the file navigator
    2. Click add file option in the file navigator

Being logged in makes this stand out even more since the add file dialog will be larger and partially visible under the ad

[2019-03-28 14:50] AnkurIngale commented on #985
@Marton6 Make sure you get the permission before doing it. Thanks btw.

[2019-03-28 16:22] Marton6 commented on #985
@AnkurIngale I'm sorry, will pay attention to this in the future. Thanks for pointing it out!

[2019-03-28 17:07] #368 closed

[2019-03-28 18:21] #916 closed

[2019-03-28 18:27] plxity commented on #915
@catarak I just wanted to ask, what is the point of displaying that? :)

[2019-03-28 19:22] prcoy opened #1004 "Gray Text on White Background is not WCAG compliant"
#### New feature details:

Screenshot of WAVE extension, which has 51 contrast errors.
![editor P5js](https://user-images.githubusercontent.com/7294437/55185692-46a3c800-516b-11e9-9142-83713039710a.png)

[Contrast Reference](webaim.org/resources/contrastchecker)

Colors could be updated to be AA compliant (and the high contrast theme can be AAA compliant).

[2019-03-28 19:30] catarak commented on #1004
thanks for pointing out these design issues. i would request in the future that you refer to the [p5.js community statement](https://p5js.org/community/) in submitting issues. this project is worked on by humans who are trying their best, who are dedicated to keeping this project free and open source, who deserve respect.

you are welcome to make a pull request to suggest changes you think are imp

[2019-03-28 19:46] prcoy commented on #1004
The title was simply a reference to a popular internet meme. I'm sorry you took offence. My apologies to all involved.

--
 Securely sent with Tutanota.

Mar 28, 2019, 3:30 PM by notifications@github.com:

[2019-03-28 19:51] kaidrumm commented on #768
Ah you guys bumped the thread :) Yes, it was an issue with accessibility features.

Another issue that has persisted after we turned those off is that he cannot press tab without freezing the editor. So the shift+tab autoformatting option doesn't work.

[2019-03-28 19:56] catarak commented on #768
oh no! that sounds annoying. did it just start happening? a [PR was just merged](https://github.com/processing/p5.js-web-editor/pull/966) the overrides the tab key within the context of the code editor, so maybe it's related to that.

[2019-03-28 20:15] catarak commented on #1004
thanks for the apology, and i hear you that it was not your intention to be disrespectful.

[2019-03-28 20:25] kaidrumm commented on #768
No, good idea but it has been happening for at least a month.

[2019-03-28 20:29] catarak commented on #768
okay, thanks. it must be something else then! a couple of other questions:
- does this happen if the student is logged in on any computer?
- does this happen if another account is logged in on the computer the student had been using?

[2019-03-28 20:34] #995 closed

[2019-03-28 20:45] catarak commented on #974
@progfay thanks for investigating!

[2019-03-28 21:11] catarak commented on #985
@Marton6 / @AnkurIngale unless an issue has been claimed, you can assume it's open and available to work on! no need to as permission.

[2019-03-28 21:15] plxity opened #1005 "Fix Colors in "Add Folder" dialog box"
#### Nature of issue?

- Found a bug

#### Details about the bug:

On hover, Color of the button should change and error message colour should be displayed according to the theme set.

![Capture](https://user-images.githubusercontent.com/28510494/55193296-8fd83400-51cc-11e9-9a17-13f063f782ed.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

I am wo

[2019-03-28 21:16] catarak commented on #1003
thanks for reporting! i agree that the interaction with the add file/add folder dialogs is weird.

[2019-03-28 21:17] catarak commented on #915
i'm not sure what you're referring to!

[2019-03-28 21:18] catarak commented on #1005
thanks for reporting!

[2019-03-28 21:21] plxity opened #1006 "Feature : Change setting's page UI as per the selected theme."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:
The current theme is :

![Capture](https://user-images.githubusercontent.com/28510494/55193469-13922080-51cd-11e9-916a-8a7c85095c2e.PNG)

The present UI of the settings page looks like:
So I think if we change th

[2019-03-28 21:21] plxity commented on #1006
@catarak What do you think about this? :)

[2019-03-28 21:25] catarak commented on #1006
i'm hoping to move a few pages to being overlays, rather than full screen views, including this one. i would hold off for the moment 😸

[2019-03-28 21:26] plxity commented on #1006
@catarak  oh okay, so should I close this one?

[2019-03-28 21:27] plxity commented on #915
@catarak I meant, is it necessary to display if they have linked their account to Github/google on settings page?

[2019-03-28 21:27] catarak commented on #1006
yeah, i think this will probably get fixed when that fix happens.

[2019-03-28 21:27] #1006 closed

[2019-03-28 21:30] catarak commented on #915
yeah! i think it would be good to give users the ability to link or unlink these accounts.

[2019-03-28 21:31] plxity commented on #915
@catarak Okay, I will try to figure out the best approach to implement this. :)

[2019-03-29 00:08] dhruvdutt commented on #368
Why is this closed?

[2019-03-29 02:39] ZiyaoWei commented on #990
Cool, thanks! Just to clarify - since 2cc0d578fbc is already merged into master, this still needs a fix?

[2019-03-29 09:08] siddhant1 commented on #998
I also think on tabbing or moving across the menus should focus them

[2019-03-29 09:10] siddhant1 commented on #998
Interestingly google docs close dropdown on tab.

[2019-03-29 17:41] plxity opened #1007 "Error while "npm run start""
![Capture](https://user-images.githubusercontent.com/28510494/55252028-dfc00500-5277-11e9-8cf2-e9c4cb803a6d.PNG)

I updated my codebase to work on an issue and getting this error while the app is starting.

[2019-03-29 17:41] plxity commented on #1007
Can anyone help?

[2019-03-29 17:42] meiamsome commented on #1007
Did you re-run `npm install`?

[2019-03-29 18:17] plxity commented on #1007
@meiamsome Thank you so much :)

[2019-03-29 18:19] #1007 closed

[2019-03-29 19:11] plxity opened #1009 "Drag file text missing when theme is changed."
#### Nature of issue?

- Found a bug

#### Details about the bug:
In the light theme text is present.

![image](https://user-images.githubusercontent.com/28510494/55256837-23207080-5284-11e9-8749-87caf4f3c3f0.png)

But in dark theme it is not visible.

![Capture](https://user-images.githubusercontent.com/28510494/55256948-798daf00-5284-11e9-90b3-bee24d9d241f.PNG)

- Web browser and version: Chrome

[2019-03-29 20:36] abhinavsagar opened #1010 "Option to add files and folders without going to the nav bar"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
There should be a way to add files and folders by just right clicking in the files and folders already present. This feature is commonly used in IDE's and I think users would prefer this rather than going back to nav bar every time.

[2019-03-29 20:38] catarak commented on #368
because it was fixed as #988

[2019-03-29 20:39] catarak commented on #990
yeah, it still needs to be fixed! i changed it so that when you save a sketch, it pulls from the CodeMirror context, rather than the redux store, and i think the same thing could be done when running a sketch.

[2019-03-29 20:40] plxity commented on #1009
It is present but the font color is not appropriate that's why it is invisible.

[2019-03-29 20:43] plxity commented on #1010
@abhinavsagar I think this would be a great feature to implement.

[2019-03-29 20:44] abhinavsagar opened #1011 "Login with facebook missing"
#### Nature of issue?
- Existing feature enhancement

#### Feature enhancement details:
There should also be a log in with facebook option as some users prefer avoiding the hassle of logging into google account and some who just prefers facebook over google.

[2019-03-29 20:45] catarak commented on #1011
thanks for the suggestion, but this project will not be adding login with facebook.

[2019-03-29 20:45] #1011 closed

[2019-03-30 01:01] charlie-openschool commented on #174
I notice that if I have a loop that executes for longer than the 500ms threshold I get the expected Exiting potential infinite loop exception unless I alter the code and remove a semicolon at the end of a line. The altered code will run to completion even though the elapsed time is greater than 500ms. Here is a simple example that demonstrates the behavior: https://editor.p5js.org/charlie-openscho

[2019-03-30 10:28] siddhant1 commented on #1009
#946 resolves this

[2019-03-30 10:31] siddhant1 commented on #1004
@catarak is this high priority , if yes, I can have a look

[2019-03-30 10:32] siddhant1 commented on #989
@catarak I think just adding a length cap might work?

[2019-03-30 10:33] siddhant1 commented on #989
I think as discussed on https://github.com/processing/p5.js-web-editor/pull/962#issuecomment-475330642 we should also add some validations at the backend and s3

[2019-03-30 11:22] plxity commented on #1009
@siddhant1 Cool.

[2019-03-30 11:22] #1009 closed

[2019-03-31 06:15] dhhepting commented on #794
I have a question about removing assets from the editor: I've added some files there that I would like to delete. I noted that the illustration in #393 shows download and delete functionality.  I see that at present, I am able to download assets but I have not found a way to delete assets. Is this feature currently available? I'm using Chrome Version 73.0.3683.86 (Official Build) (64-bit) on macOS

[2019-04-01 11:57] ananya32 opened #1012 "Web editor Crashes every time I try to open a file"
#### Can't open any previously saved files.

- Found a bug

#### Details about the bug:
- Every time I click 'Open' the whole page just goes blank. Literally all blank white.

- Chrome, Version 73.0.3683.86
- Operating System: MacOS Mojave version 10.14.3

- Steps to reproduce this bug: Every time I log in to my account and click 'Open' the whole page just goes blank. Literally all blank white.

-

[2019-04-01 14:25] bmoren commented on #473
some more discussion about offline access over on the forum:

https://discourse.processing.org/t/p5-js-desktop-editor/9728/6

some discussion points that came up:
+ take the code from the current web-editor and compile it as an electron app so it would be a stand alone editor.
+ Another way to do this might be adding support for the Offline Web Applications API directly to the p5 web editor. http:

[2019-04-02 06:06] ananya32 opened #1013 "Web Editor 'Open' button keeps crashing."
**### Can't open any previously saved files.**
Found a bug
Details about the bug:
Every time I click 'Open' the whole page just goes blank. Literally all blank white.

Chrome, Version 73.0.3683.86

Operating System: MacOS Mojave version 10.14.3

Steps to reproduce this bug: Every time I log in to my account and click 'Open' the whole page just goes blank. Literally all blank white.

I lost a lot o

[2019-04-02 06:47] anku255 commented on #921
@catarak Hey! If I am not mistaken then this issue can be closed now. #966 has removed the indentation configuration option.

[2019-04-02 07:05] anku255 commented on #1012
@ananya32 Sorry to hear about your lost files. I am not sure but I think the files must be safe in the server. This might be happening due to an error on the client side.

Can you please post the screenshot of your Developer Tools console tab when you click on Open? You can use the shortcut `Ctrl Option J` to open the console on Chrome.

Also, I would recommend you to try to reproduce this bug in

[2019-04-02 08:19] anku255 commented on #1010
I am a little confused about "option to add new files/folders by right clicking on the existing file/folders".

Right clicking on a folder in the sidebar already presents an option to create a file/folder within that folder.

![image](https://user-images.githubusercontent.com/22813027/55383067-e33be080-5544-11e9-9894-f957ea3d25c9.png)

Can you please clarify your suggestion?

[2019-04-02 19:52] catarak commented on #998
i think that we should follow this method: https://staff.washington.edu/tft/tests/menus/html5/index.html

...which i think the nav is actually doing, except using the `tab` key to get through the menu items, rather than the arrow keys (which i _think_ is better). you'll notice that when you click on the menu, and then hover onto another one, the focus stays on the first one.

[2019-04-02 19:52] #998 closed

[2019-04-02 19:59] catarak commented on #174
@charlie-openschool that is weird behavior! the `loop-protect` library has been updated since i added it to this project (i had to fork it in order to change the threshold time), and hopefully updating it will fix this.

[2019-04-02 20:08] catarak commented on #1004
@siddhant1 this is an issue that needs design input, so i would wait on it.

[2019-04-02 20:09] catarak commented on #989
i think there should be frontend and backend validations.

[2019-04-02 20:58] AnkurIngale commented on #998
Which is exactly the behaviour right now. Cool then we will keep this.

[2019-04-03 06:04] #1010 closed

[2019-04-03 15:09] plxity opened #1014 "When clicked anywhere inside the model the automatically closes."
#### Nature of issue?

- Found a bug

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/55490073-bf65c100-5650-11e9-977c-43d3069193f7.PNG)

Whenever clicked anywhere in the modal, lt automatically closes.
- Web browser and version: Chrome
- Operating System: Windows 10.
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature detai

[2019-04-03 15:59] #879 closed

[2019-04-03 16:22] catarak commented on #794
@dhhepting you can delete assets by going directly into the sketch, and deleting the file there. i know it's not perfect, and it is annoying if you want to delete lots of files.

[2019-04-03 16:24] catarak commented on #473
i think it would be better to support the offline web applications API—as we learned from the desktop editor, supporting different OS's with an electron app is difficult.

[2019-04-03 16:35] catarak commented on #921
yep!

[2019-04-03 16:35] #921 closed

[2019-04-03 16:37] catarak commented on #1012
thanks for reporting @ananya32! that sounds really frustrating. if you can, it would be really helpful if you could post an screenshot of your Developer Tools console.

[2019-04-03 17:34] catarak commented on #1013
thanks for reporting! closing this as a duplicate of #1012.

[2019-04-03 17:34] #1013 closed

[2019-04-03 18:04] catarak commented on #1014
i'm not able to reproduce!

[2019-04-03 18:28] catarak commented on #768
i did some investigation of this. if a user clicks on "start accessible output" in the nav, it actually turns on all of the accessibility features and saves that to their account. i think, for now, the best solution is to remove these options from the nav. i'm going to leave the keyboard shortcuts enabled, for now, and see if this causes issues.

[2019-04-03 18:32] catarak commented on #738
closing this as a duplicate of #768

[2019-04-03 18:32] #738 closed

[2019-04-03 18:32] #471 closed

[2019-04-03 18:38] catarak commented on #764
closing due to lack of clarification. i'm going to assume this is a duplicate of #768.

[2019-04-03 18:38] #764 closed

[2019-04-03 19:12] Spongman commented on #978
i know this would be a huge change, but i wonder if switching to the [Monaco editor](https://microsoft.github.io/monaco-editor/index.html) and using the [p5.d.ts](https://github.com/p5-types/p5.ts) wouldn't give a significantly better editing & completion experience?

similar to this:

![image](https://user-images.githubusercontent.com/1088194/55506193-abe33780-5609-11e9-8444-f7b20c6030b0.png)

[2019-04-03 19:15] catarak commented on #978
unfortunately the Monaco editor doesn't have mobile support! and i also don't know how accessible it is. i imagine the typings could be used for autocomplete in the codemirror editor, however.

[2019-04-03 19:27] AnkurIngale commented on #895
I tried the following code but on a discussion, we found that it is not an appropriate solution.
<img width="562" alt="Screenshot 2019-04-04 at 12 55 05 AM" src="https://user-images.githubusercontent.com/33569473/55507042-7de70d00-5674-11e9-870d-8b4c50e3e9da.png">
You can go through our discussion here: https://github.com/processing/p5.js-web-editor/pull/984

[2019-04-03 19:29] AnkurIngale commented on #895
I then planned on making a line active (grey background) on clicking on respective line number. But then if I couldn't differentiate between fold marker and line number click as of now. Here's a snippet of the code:
<img width="552" alt="Screenshot 2019-04-04 at 12 54 27 AM" src="https://user-images.githubusercontent.com/33569473/55507217-cbfc1080-5674-11e9-912b-2d16f1668328.png">
So we decided no

[2019-04-03 20:12] Spongman commented on #978
here's the [Monaco Editor Accessibility Guide](https://github.com/Microsoft/monaco-editor/wiki/Monaco-Editor-Accessibility-Guide).

not sure about mobile support, it works fine on my android tablet and iPhone.

[2019-04-03 21:16] dhhepting commented on #794
@catarak Thank you for the reply. I have been using the editor for a few months now but I had not discovered the project-folder view.  Looking at "my assets", I thought that the issue was small but now that I see the project-folder view, I realize that my problem is big (lots of files to delete).  A few things come to mind as desirable features:

- the ability to delete an entire sketch, or to rev

[2019-04-04 04:31] siddhant1 commented on #1003
I agree on this as well , dialog boxes and modals should close on leaving focus

[2019-04-04 12:13] todonnell7 opened #1016 "Line 0 error"
#### Nature of issue?

- Found a bug
Maybe its not so much a bug as some other glitch but code that was running fine a few days ago is now often not running - am seeing the following error:

Script error. (: line 0)

Was also trying to edit some old examples to share with a new class today and at one point just could not edit it any more due to freeze ups-

#### Details about the bug:

- Web brows

[2019-04-04 17:57] anku255 commented on #1016
@todonnell7 Hi! Would it be possible for you to share the code for us to take a look?

[2019-04-04 18:00] anku255 commented on #1014
I am not able to reproduce this bug on Windows 10/Chrome as well.

[2019-04-04 18:05] todonnell7 commented on #1016
Thanks, I figured it out - for some reason all the accounts have tripped the

Accessible text-based canvas

switches ... odd but we were able to get our work done today.

Thank you for responding so fast.

Tom O'Donnell

Computer Science Teacher

IS 220, John J. Pershing

4812 9th Ave

Brooklyn, NY 11220

(718) 633-8200

“The end of a melody is not its goal: but nonetheless, had the melody not rea

[2019-04-04 18:05] plxity commented on #1014
@catarak Go to Edit->File Next and then a modal opens and click anywhere on it.

[2019-04-04 18:11] anku255 commented on #1014
@plxity Okay. Seems like the bug is present in *Find Next Modal* and not in *Find Modal*.  If you are not working on this then I would like to fix this.

[2019-04-04 18:15] plxity commented on #895
@AnkurIngale The features seem nice. I am thinking about this issue. I will let you know if I get a proper solution or reference.

[2019-04-04 18:20] catarak commented on #794
i'm going to respond to your feature requests:

you can delete a sketch by going to File -> Open, hovering over the sketch you want to delete, and then clicking on the trash can that appears. i admit it is not the best UX. it will soon change to a down arrow in which you can select multiple sketch options, one of which is delete sketch.

i don't understand why i have waited so long to fix this UX

[2019-04-04 18:32] catarak commented on #1016
thanks for reporting @todonnell7! i've noticed that folks have accidentally been turning on these features and i've been trying to pin down why. i removed a misleading interaction yesterday—keep me updated if it keeps coming up!

[2019-04-04 18:32] #1016 closed

[2019-04-04 18:33] catarak commented on #1016
@todonnell7 fyi i just removed your personal information from this issue—if you reply to a Github issue via email, your email signature gets included!

[2019-04-04 18:49] catarak commented on #1005
hmmm, i don't know if the error should be the logo color! i think for this ticket, a new color should be defined that's like, "error color" that's a red color that has a good contrast with the black background.

[2019-04-04 18:51] plxity commented on #1005
@catarak Yeah, showing red color would be a nice idea. I will make the changes. :)

[2019-04-04 19:03] catarak commented on #1014
i can reproduce!

[2019-04-04 19:41] SacuL opened #1017 "Instance Mode no longer supported/broken"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: On Chrome Version 73.0.3683.86 (Official Build) (64-bit)
- Operating System: Windows 7
- Steps to reproduce this bug:
Open online editor. File > Examples. Choose "Instance Mode : Instantiating". Hit Play.
Error on console:  "Script error. (: line 0)"

#### Description:

Up until yesterday I used to write

[2019-04-04 19:42] catarak commented on #1017
thanks for reporting! can you go into your settings (the cog icon) and then accessibility, and see if any of the accessible outputs are on?

[2019-04-04 19:45] SacuL commented on #1017
"Lint warning sound" is off and Sound is checked for "Accessible text-based canvas"

[2019-04-04 19:46] SacuL commented on #1017
Turning Sound off makes everything works again =D

[2019-04-04 19:48] catarak commented on #1017
i'm glad that fixed it! do you remember turning that setting on, or did you turn it on accidentally?

[2019-04-04 19:52] SacuL commented on #1017
I certainly didn't turn it on. Is there a keybind I might have accidentally pressed?

[2019-04-04 19:53] catarak commented on #1017
i'm thinking that's the case. issues similar to this one have popped up with some regularity, and i'm trying to pinpoint how users are accidentally turning it on.

[2019-04-04 20:02] SacuL commented on #1017
Well yesterday I was running my sketch on this very low end notebook and at some point the thing simply froze. I remember pressing a few keybinds, like ctrl+w, trying to close the window without success. I had to reboot using the power button. I can't remember if the problem happened right after turning the notebook on again or some time after.

Anyway thank you for the quick reply and let me know

[2019-04-04 20:17] plxity commented on #1014
@anku255 I am working on it.

[2019-04-04 20:22] plxity commented on #1014
@catarak I have a suggestion. Apparently, we don't need 'find next' and 'find previous'. We already provide an option to users to find next/previous matched word in the 'find' modal.  have never seen options like these in the navbar. What do you think?
Just for reference: This is the edit menu of visual studio code editor.
![Capture](https://user-images.githubusercontent.com/28510494/55585917-688d

[2019-04-05 15:40] catarak commented on #1014
on other applications, it does appear though (e.g. Chrome):
<img width="456" alt="Screen Shot 2019-04-05 at 11 39 47 AM" src="https://user-images.githubusercontent.com/6063380/55639533-98fe6d80-5797-11e9-9fe4-9630f8d728ca.png">

[2019-04-05 16:10] mattertater opened #1018 ""Uncaught TypeError object.function is not a function" when copy/pasting to new editor"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
   - Google Chrome | 73.0.3683.86 (Official Build) (64-bit) (cohort: Stable)
   - Revision | f9b0bec6063ea50ce2b71f5b9abbae7beee319a6-refs/branch-heads/3683@{858}
- Operating System:
  - Windows 10
- Steps to reproduce this bug
  - Write code with object containing a function, run to see it working, then

[2019-04-05 20:31] catarak commented on #1017
thank you, that's helpful!

[2019-04-05 20:40] catarak commented on #1018
thanks for reporting! do you have any of the accessibility features enabled? you can check this by clicking on the "Preferences" icon (the cog), and then clicking on the "Accessibility" tab.

[2019-04-05 20:45] mattertater commented on #1018
Lint warning sound is off, and all of the "Accessible text-based canvas" options are checked.

If it means anything, I've also just found out that the error only pops up when I am NOT logged into my account.

[2019-04-05 21:05] catarak commented on #1018
i would try turning off all of the accessible options, and see if that fixes it!

[2019-04-05 21:06] catarak commented on #1018
i just noticed that all of the accessible options are being turned on by default—will investigate!

[2019-04-05 21:09] mattertater commented on #1018
Turning them all off worked for the test code in this issue, and the longer code I had the problem with originally. Thank you!

[2019-04-05 21:14] #1018 closed

[2019-04-05 21:14] catarak commented on #1018
fixed and merged—will be deployed in ~10 min

[2019-04-07 11:49] Shreevathsa99 opened #1020 "Script error. (: line 0)"
![Screenshot from 2019-04-07 17-16-51](https://user-images.githubusercontent.com/45475433/55683074-2fc65800-5959-11e9-924c-3500f972b616.png)

#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details

[2019-04-07 15:04] aspenforster opened #1021 "Inconsistent behaviour with external p5 libraries.."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome, Firefox + Edge
- Operating System: Windows
- Steps to reproduce this bug:

https://editor.p5js.org/aspenforster/sketches/CnJHxqp3f

This sketch runs in the Edge browser.. but only if I'm logged out...?
If I'm logged in, I get the "Script error. (: line 0)" error.

Are external libraries supported

[2019-04-07 19:43] dhruvdutt commented on #1020
@Shreevathsa99 It's bad to hear about such issues. Can you please send a reproducible snippet for the issue so we can debug and resolve it?

[2019-04-08 13:33] jayjey3 commented on #590
PROJECT PREVIOUSLY WORKING BUT NOW GETTING ERROR "SCRIPT ERROR LINE:0

ITS RUNS IN FULL SCREEN MODE BUT ANY EDITS GIVES AN ERROR AS ABOVE

[2019-04-08 18:32] shakeabi commented on #1021
@aspenforster I'm not able to reproduce the error. It works for me when I try to create the same sketch when I'm logged in.

[2019-04-08 19:28] shakeabi opened #1022 "Feature request: A mini-tutorial tour of the editor"
#### Nature of issue?

- New feature request

#### New feature details:

It would be really helpful to beginners if there was a mini guided tutorial when a user first uses the editor, explaining all the options and their functions. Something like this ([link](https://react-joyride.com/)).

@catarak What are your thoughts on this?

[2019-04-08 19:29] shakeabi commented on #1022
P.S. I would like to work on it. :)

[2019-04-08 23:17] Thatguyjs opened #1023 "Random sounds playing after drawing a shape to the screen"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Browser: Microsoft Edge 42.17134.1.0
Browser HTML: Microsoft EdgeHTML 17.17134

Operating System: Windows 10

#### Example:

// Move the mouse
function setup() {
  createCanvas(400, 400);
}

function draw() {
  background(220);
  rect(mouseX, 0, 20, 20);
}

#### Additional Details:

 - The problem only seems to occur while drawing

[2019-04-09 05:10] greggelong opened #1024 "Getting "TypeError: Interceptor.getColorName(...) is undefined," only when editing for saving"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Starting 4/19/2019 10am Beijing time,
I started getting a,
 TypeError: Interceptor.getColorName(...) is undefined,
when passing a color to a class.

The error started on code that previously ran without a problem.
I found however if I use the share option and view it in another tab it runs error free.
(It also runs locally on my br

[2019-04-09 19:16] catarak commented on #1020
@Shreevathsa99 thanks for reporting! could you try turning off the accessibility features and see if this still comes up? there was a bug that was turning them on by default. you can turn them off by going to preferences (the cog icon) -> accessibility -> unchecking everything.

[2019-04-09 19:17] catarak commented on #590
@jayjey3 could you try looking at the accessibility options again? there was a bug a few days ago that was turning them on by default, which would explain why this is coming up again.

[2019-04-09 19:35] catarak commented on #1024
@greggelong thanks for reporting! can you try turning off the accessibility features? you can do this by going to preferences (the cog icon) -> accessibility -> uncheck everything. there was a bug a few days ago in which these features were being turned on by default, which i fixed.

[2019-04-09 19:41] catarak commented on #1021
@aspenforster thanks for reporting! can you try turning off the accessibility features by going to preferences (the cog icon) -> accessibility -> uncheck all of the boxes? there was a bug a few days ago that i fixed in which these features were being turned on by default.

[2019-04-09 19:43] catarak commented on #1022
@shakeabi this is a great idea! i think this is captured as #806.

[2019-04-09 19:43] #1022 closed

[2019-04-09 19:44] catarak commented on #1023
@Thatguyjs thanks for reporting! can you try turning off the accessibility features? you can do this by going to preferences (the cog icon) -> accessibility -> uncheck all of the boxes. there was a bug a few days ago that a fixed in which these were getting turned on by default, but i think it got saved to your account if you updated your preferences.

[2019-04-09 20:02] catarak commented on #1023
@Thatguyjs i actually ran a database command to reset this, so it shouldn't be an issue anymore!

[2019-04-09 20:02] #1023 closed

[2019-04-09 20:02] catarak commented on #1021
@aspenforster i actually ran a database command to reset this, so it shouldn't be an issue anymore!

[2019-04-09 20:02] #1021 closed

[2019-04-09 20:03] catarak commented on #1024
@greggelong  i actually ran a database command to reset this, so it shouldn't be an issue anymore!

[2019-04-09 20:03] #1024 closed

[2019-04-09 20:03] catarak commented on #1020
@Shreevathsa99  i actually ran a database command to reset this, so it shouldn't be an issue anymore!

[2019-04-09 20:03] #1020 closed

[2019-04-09 20:08] catarak commented on #1017
since this has been popping up so much, and because of a bug that turned on these features by default, i decided to run a DB command to turn this off for all users. they can obviously be turned on again, but hopefully this will fix the instances in which users accidentally have turned it out, and i can start fresh and get a better sense of how users are turning this on.

[2019-04-09 20:08] #1017 closed

[2019-04-09 21:11] Thatguyjs commented on #1023
Thanks for replying, the database command fixed it for me!

[2019-04-09 23:34] greggelong commented on #1024
@catarak Thanks! Working great now!

[2019-04-10 05:10] shakeabi commented on #806
I would like to have a go at this if no one is working on it. My suggestion would be to try something like this.
[link](https://react-joyride.com/). This would be a great intro to the editor. Also we can set a flag in localstorage so that this tutorial happens only the first time a user opens the editor. What do you guys think?

[2019-04-10 12:52] olalekanteeblaze commented on #989
I'm a first time contributor, is this still open for me to work on?

[2019-04-10 14:21] siddhant1 commented on #989
Hey sure , go for it ! What you need to do an to counter this one.
1. Add backend model level validations for folder name
2. Add a front end validation or some sort of min length validation
3.  I think we have some prs already doing the 1 , you can pick up (2).

If you have any doubt , most people here will be happy to help(or just tag me).
Congratulations of your first oss project.
Cheers!

[2019-04-10 18:43] aparrish opened #1026 "default name generator produces upsetting results (content warning for language in thread)"
The default name generator introduced in #184 often produces upsetting results. For example, just now when creating a new sketch I looked up to find it was named `abusive dad`. A quick glance at the list of [adjectives](https://github.com/aceakash/project-name-generator/blob/master/src/adjectives.js) and [nouns](https://github.com/aceakash/project-name-generator/blob/master/src/nouns.js) in `proje

[2019-04-11 12:39] garrytaulu opened #1027 "Undo does not work on iOS 12.2"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Unable to undo typing in the editor. CMD + Z does not work and neither do the software undo and redo buttons.

- Web browser and version: Safari
- Operating System: iOS 12.2
- Steps to reproduce this bug: Use editor on iPad with either software keyboard or hardware keyboard

[2019-04-11 12:50] garrytaulu commented on #1027
Did some quick research on this, it looks like CodeMirror 5.x has broken undo/redo on iOS as it works fine in CodeMirror 3. Probably not much you can do but I’ve raised the issue with CodeMirror as well [https://github.com/codemirror/CodeMirror/issues/5850](url)

[2019-04-11 20:03] catarak commented on #806
@shakeabi i appreciate your enthusiasm for working on this, but i think before thinking about technically how to implement something like this, we need to think about this from a design perspective.

also, i made a video that introduces the basic concepts of the editor—as a bare minimum, we could link to that.

[2019-04-11 20:05] Shubhanshu88 commented on #917
@catarak I have added some designs for the navbar and toolbar, would you please review and give your suggestions?
[Link](https://xd.adobe.com/view/233c8b0a-d72f-46f1-62ef-b8593a39016d-550d)

[2019-04-11 20:14] catarak commented on #1026
thanks for reporting! wow, yes, there are some not so great words in there. i think it's a great idea, and would be super simple to move to the Glitch friendly words.

[2019-04-11 20:25] #1026 closed

[2019-04-11 20:26] catarak commented on #1026
just pushed a fix, to be deployed in ~10 min when the CD finishes running

[2019-04-11 20:45] catarak commented on #1027
thanks for reporting! i wonder if there's a work around...

[2019-04-11 20:47] aparrish commented on #1026
wonderful, thank you <3

[2019-04-12 16:59] #978 closed

[2019-04-12 17:03] catarak commented on #917
@Shubhanshu88 thanks for making those! i will be able to review them in a few days.

[2019-04-12 17:44] plxity opened #1029 "Mismatching of colors."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System: Windows 10
- Steps to reproduce this bug:
1) Change the theme of the editor
2) Go to Login route
3) Click on Login with GitHub
 As a user clicks on the button, the onClick event sets the color to pink. Even if the theme is High Contrast.

#### Feature enhancement details:

####

[2019-04-12 18:17] abhieshekumar opened #1030 "Misaligned dialog box"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Steps to reproduce this bug
   - Goto Edit > Find on the menu bar.
   - Goto Sketch >  Add Folder on the menu bar.
   - The respective dialog boxes will pop-up. The 'Find' dialog box is aligned to the centre of the web page but the 'Add Folder' dialog box is not aligned to the centre of the web page. The same behaviour is shown by