[2020-03-24 00:14] shakti97 commented on #1337
Yes this would be an amazing feature, already added to my todo list, will work on it , and provide you update on it asap.

[2020-03-24 01:00] bmoren commented on #1337
Amazing, I'm not much of a react programmer, but I'm happy to help in whatever capacity I have to make this a reality asap! I do have some experience with node and socket.io

do you have any ideas on how you might approach the implementation so I could do some reading and investigation?

[2020-03-24 19:29] catarak commented on #1337
This would be an awesome feature to add. Just to list out some of the details that this would involve, to get a sense of how big of an undertaking this would be:
* Adding authorization for multiple users to edit a sketch
* Shared undo/redo stack
* Add socket.io to share the sketch state among clients
* Fundamentally change how sketch files are updated. Right now, when a sketch is saved, the whole

[2020-03-24 19:57] #442 closed

[2020-03-24 20:04] catarak commented on #276
@carlesgutierrez can you post a link to your sketch? I'm not able to reproduce.

[2020-03-24 20:18] catarak commented on #1203
A possible solution is [disabling serialization](https://www.npmjs.com/package/console-feed#disabling-serialization).

[2020-03-24 20:21] catarak commented on #1055
Seems like this is the same underlying issue as #1203.

[2020-03-24 20:47] catarak commented on #1249
This is on my mind as I was thinking about how to implement #1337. Would it perhaps make sense to solve this in the same way as handling updates for multiple users? Or should they be handled differently?

[2020-03-25 01:17] aldrinjenson commented on #4
We'd also need to have some list of libraries related to p5 itself (like collision, sound etc).. so is there an API or any other url from where we could get this list as well in addition to npm libraries

[2020-03-25 11:14] moacdieh opened #1341 ""Speed reduced by 2.5X" dismiss button"
#### Nature of issue?

Add a dismiss button to the speed reduced toast, because it hides the code (or change it's display)
- New feature request

![image](https://user-images.githubusercontent.com/16903864/77530713-11bb7580-6e92-11ea-8047-38ef7c28a95d.png)

It covers the code.

#### Feature enhancement details:

[2020-03-26 01:03] mjaything opened #1343 "getting_started.md file missing in the developer_docs directory"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome Version 80.0.3987.132
- Operating System:  MacOS Catalina Version 10.15.3
- Steps to reproduce this bug: Click [Getting Started](https://github.com/mjaything/p5.js-web-editor/tree/master/developer_docs) of the README.md in the developer_docs directory

404 This is not the web page you are looking

[2020-03-26 01:17] mjaything opened #1344 "Title typo of the installation.md in developer_docs directory"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Spotted the title typo of the installation.md in developer_docs directory
- Web browser and version:  Version 80.0.3987.132
- Operating System: MacOS Catalina Ver 10.15.3
- Steps to reproduce this bug:
See the first line of the installation.md in developer_docs directory. [Link](https://github.com/processing/p5.js-web-editor/blob/ma

[2020-03-26 13:16] ykabusalah commented on #1137
Can I try doing this?

[2020-03-27 09:33] andrewn commented on #1344
Thanks for opening this issue, but I'm not sure this is a typo. Having "Development Installation" in the title makes it clear that the instructions relate to installing a development environment.

I'm going to close, but reopen if you think the title could be better or is unclear.

[2020-03-27 09:33] #1344 closed

[2020-03-27 10:03] andrewn commented on #1343
#1335 removes the link to "Getting Started" so I'm going to close this issue.

[2020-03-27 10:03] #1343 closed

[2020-03-27 10:06] mjaything commented on #1344
@andrewn Andrew, thanks for handling it. I thought it was a typo, because there are some inconsistencies. The file name is installation.md, not development_installation.md. If you take a look at all the other files in the [developer_docs directory](https://github.com/processing/p5.js-web-editor/tree/master/developer_docs#list-of-documents), the first line of each file is same as its file name. You

[2020-03-27 10:48] andrewn commented on #1337
This would be an amazing feature! I looked into approaches to collaborative text editing for another project and it seems the two main approaches for synchronising edits across clients are:
- Operational transforms (OT) as used by Google Docs
- Conflict-Free Replicated Data Type (CRDT)

OpenProcessing [seems to be using](https://www.openprocessing.org/assets/js/sketch/sketch_liveCode.js) [Firebase

[2020-03-27 11:39] totalcloud-tc commented on #1337
Yes I have added a similar approach to work on adding this feature in my proposal. Can you please check it once and provide your feedback @catarak

[2020-03-27 11:58] shakti97 commented on #1337
I already added a similar approach to build this feature in my gsoc proposal. Can you please check it once and provide feedback @catarak

[2020-03-27 12:00] #1218 closed

[2020-03-27 12:06] #1328 closed

[2020-03-27 12:12] #1326 closed

[2020-03-27 13:33] bmoren commented on #1337
this seems like a really promising stack to implement this. it seems like this could be a good place to start with the editor. @catarak do you think that we could get around some of the update issues if we implemented the realtime editing with out the ability for the collaborator to save the sketch? basically they just get a link to login and change the editor instance live, but the owner of the s

[2020-03-27 14:31] siusoon opened #1346 "Not support uploading LSTM models as add files"
<img width="616" alt="Screenshot 2020-03-27 at 15 26 15" src="https://user-images.githubusercontent.com/1446073/77766078-77993000-703f-11ea-9abf-318acbdd3d07.png">

#### Nature of issue?
- Existing feature enhancement

#### Feature enhancement details:
For uploading files (add files), it only check for file size? Currently it doesn't support to upload other LSTM training models (see the dim files

[2020-03-27 19:36] leonardof131 opened #1347 "Stuck trying to run npm build"
Hello! I'm following the deployment docs to try and run the web editor on an EC2 Ubuntu 18 stance as an learning exercise to learn and run aplications on EC2 instances.

Everything goes to plan until the step where I should run `$ npm run build`.
The terminal just stops like this: https://i.imgur.com/0OD83gA.png
The same happens if I run the command with `sudo npm run build`

The web editor works

[2020-03-27 21:46] hydrosquall opened #1348 "[dev-task] Separate Webpack Dev server from API server"
#### Nature of issue?

- Refactoring to enable devs to make frontend changes without running an API server or database, as suggested by @andrewn

#### Feature enhancement details:

#### New feature details:

- https://github.com/processing/p5.js-web-editor/pull/1257#issuecomment-604924715

[2020-03-27 21:54] gruselhaus opened #1349 "No Username in share link in ShareModal Component"
#### Nature of issue?

- Found a bug

***reproducible with https://editor.p5js.org/danno484/full/s_tE8ND4R***

#### Details about the bug:

<img width="486" alt="Bildschirmfoto 2020-03-27 um 22 47 48" src="https://user-images.githubusercontent.com/33380107/77803639-e1382f00-707d-11ea-9842-aef39daaed90.png">

https://github.com/processing/p5.js-web-editor/blob/b8d47c60b735a69ab8637e81e74b2903dddc46

[2020-03-28 22:44] min-kim42 opened #1350 "Add Korean Translation"
#### Nature of issue?

- New feature request

#### New feature details:
I have translated two documents([README.md](https://github.com/processing/p5.js-web-editor/blob/master/README.md), [installation.md](https://github.com/processing/p5.js-web-editor/blob/master/developer_docs/installation.md)) into Korean. However, I am not sure where to add these translated files. Could anyone let me know the g

[2020-03-30 03:46] waittwhat opened #1351 "Error : This is not a function"
Hi, guys, I writing my soundex code and when I type result.splice() it shows I have an error, it is not a function I don't know what happen :(

function setup() {
noCanvas();
soundex('Hyddra');
}

function draw() {

}

function soundex(s){
let result = [];
for ( i = 1; i < s.length; i++){
su = s.toUpperCase();
if (su[i] === 'A' || su[i] === 'E'|| su[i] === 'I' || su[i] === 'O' ||
su[i] === 'U' ||

[2020-03-30 13:54] leonardof131 commented on #1347
I installed the progress-bar-webpack-plugin to see if the process was just taking a long time or it was really stuck.
After running it multiple times and leaving it for half an hour, I cant get past 90%

![Screenshot](https://user-images.githubusercontent.com/54316766/77920444-de535f00-7274-11ea-99ea-0969496feb0d.PNG)

[2020-03-30 14:52] daniel-n-kaye opened #1352 "file upload graphic issue"
When I upload multiple files (on chrome OR edge) the loading bars graphics never seem to work right, but the uploading works! see the attached screen shot

- Found a bug

#### Details about the bug:

- Web browser and version: Microsoft Edge - Version 80.0.361.69 (Official build) (64-bit)
- Operating System: Windows 10 Home - 18362.720
- Steps to reproduce this bug: Upload multiple files (using dr

[2020-03-30 17:17] #1351 closed

[2020-03-30 20:07] #1095 closed

[2020-03-30 20:07] #650 closed

[2020-03-30 20:07] #1142 closed

[2020-03-30 20:07] #168 closed

[2020-03-30 20:27] catarak commented on #985
Fixed by the merge of #1340

[2020-03-30 20:27] #985 closed

[2020-03-30 20:27] catarak commented on #383
fixed by #1340.

[2020-03-30 20:27] #383 closed

[2020-03-30 20:28] catarak commented on #1115
fixed by #1340.

[2020-03-30 20:28] #1115 closed

[2020-03-30 20:28] catarak commented on #272
fixed by #1340.

[2020-03-30 20:28] #272 closed

[2020-03-30 20:29] catarak commented on #390
fixed by #1340.

[2020-03-30 20:29] #390 closed

[2020-03-30 20:30] catarak commented on #1029
fixed by #1340.

[2020-03-30 20:30] #1029 closed

[2020-03-30 21:07] slowizzm opened #1353 "Collections adding multiples"
When adding sketches to a collection there ends up being multiples added.

To reproduce:
 create a collection
 add a sketch (1 sketch in the collection)
 add sketch (now there are three sketches in the collection, 2 of the first sketch added, plus this)
 add sketch (now there are 5 sketches, 2 of the first and 2 of the second, plus this)

ect ect ...

https://editor.p5js.org/slow_izzm/collections/

[2020-03-30 21:11] #1264 closed

[2020-03-30 21:23] catarak commented on #1241
It would be great to add husky and lint-staged!

[2020-03-30 22:07] catarak commented on #1266
thanks for reporting! you are right that this `title` should be removed. See https://developer.paciellogroup.com/blog/2012/01/html5-accessibility-chops-title-attribute-use-and-abuse/!

[2020-03-31 00:27] amozeng opened #1354 "Cannot upload font (.ttf) file anymore"
Hi, the new version of web editor no long support drag to upload file, and limited the file format to only .js, .css, .json, .txt, .csv, .tsv, .frag, and .vert.
And I no longer can upload my font file anymore, which is a huge loss for me cos I am trying to make some project using different fonts with p5.js and share it to my co-worker by web editor...
Can we bring the function back again?
Thank yo

[2020-03-31 13:24] bmoren opened #1355 "collection with many items, background color does not extend, layout issue, easy css fix"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox 74.0
- Operating System: Mac OS 10.13.6
- Steps to reproduce this bug: add many sketches to a collection

It looks like the CSS is set on the body: height: 100%; is causing issues in FF with long collections for me, un checking height: 100%; solves the problem.

![ezgif com-video-to-gif](https://u

[2020-03-31 22:30] dskeithbuck commented on #1337
Glad to see this issue is being worked on! I'm about to teach a processing workshop via Google Hangouts and this would be super helpful.

[2020-04-01 04:07] ashu8912 commented on #1241
Ok Catrak I am working on this

[2020-04-01 10:47] totalcloud-tc commented on #1355
Thanks for reporting this issue @bmoren . Will work on it

[2020-04-01 17:24] catarak commented on #1263
In looking at #1342, I think there are also some CSS specificity issues!

[2020-04-01 17:47] #1270 closed

[2020-04-01 17:54] shakti97 commented on #1355
Thanks for reporting this issue @bmoren . Will work on it

[2020-04-01 17:54] #807 closed

[2020-04-01 17:55] catarak commented on #807
Thanks for the idea! I unfortunately don't think that giving users the ability to define their own themes makes sense for this project.

[2020-04-01 18:36] catarak commented on #1282
I'm into this idea! What is a good value for the shortcut? Here's some options:
- Glitch.com uses <kbd>Command</kbd> + <kbd>I</kbd>
- VSC uses <kbd>Command</kbd> + <kbd>B</kbd>
- Sublime Text uses  <kbd>Command</kbd> + <kbd>K</kbd>, <kbd>Command</kbd> + <kbd>B</kbd>
- Atom uses <kbd>Command</kbd> + <kbd>\</kbd>

seems like there's no consensus....

[2020-04-01 18:41] catarak commented on #1282
in XCode and Sublime Text, <kbd>Command</kbd> + <kbd>B</kbd> is mapped to "Build".

[2020-04-01 18:50] catarak commented on #702
I think ultimately it doesn't make sense to add this to the web editor. Just searching "generate qr code from url" returns tons of results, and it's is probably way more customizable.

[2020-04-01 18:50] #702 closed

[2020-04-01 18:50] shakti97 commented on #1282
I picked up that command which is being used by popular editor like vscode, codesandbox. I will research on it and get back to you.

[2020-04-02 17:25] catarak commented on #1268
Thanks for reporting! I am able to reproduce. Here's a basic example that shows it not working: https://editor.p5js.org/cassie/sketches/anZcPs6GU.

The issue is that in fullscreen/present mode, the sketch is making a request to `https://editor.p5js.org/cassie/present/anZcPs6GU/dog.jpg`, which doesn't exist, but `https://editor.p5js.org/cassie/sketches/anZcPs6GU/dog.jpg` does. Therefore, the option

[2020-04-02 17:42] catarak commented on #1284
thanks for reporting! i agree that it makes sense to center this loader.

[2020-04-02 17:45] #1284 closed

[2020-04-02 18:06] catarak commented on #1286
I'm into adding this keyboard shortcut as well (like #1282), but I want to think carefully about what this shortcut should be:
- VSC uses <kbd>Control</kbd> + <kbd>`</kbd>
- CodeSandbox uses <kbd>Control</kbd> + <kbd>`</kbd>
- Glitch.com uses <kbd>Command</kbd> + <kbd>Shift</kbd> +  <kbd>X</kbd>
- CodePen uses <kbd>Command</kbd> + <kbd>Option</kbd> +  <kbd>4</kbd> (where 1-3 focuses on different w

[2020-04-02 18:36] shakti97 commented on #1286
Right now I added {metakey}+` . Should I changed it with control.

[2020-04-02 19:33] catarak commented on #1290
I can't really think figure out a reason why we left it in. I think it had been there before the filter onChange was working and then it didn't make sense to take it out? I'm trying to figure out what the right thing to do with respect to web accessibility is but I'm not having much luck...

[2020-04-02 19:55] #1290 closed

[2020-04-02 20:13] catarak commented on #1292
I'm wary of adding too many keyboard shortcuts. Especially since this tool is used in a lot of beginner teaching contexts, and lots of keyboard shortcuts can be kind of overwhelming/make the tool feel advanced. Open to discussion about what feel like important keyboard shortcuts!

[2020-04-02 21:05] #1296 closed

[2020-04-02 21:53] #1298 closed

[2020-04-02 21:54] catarak commented on #1300
I don't think it makes sense to add a keyboard shortcut for this!

[2020-04-02 21:54] #1300 closed

[2020-04-02 21:57] catarak commented on #1288
This is intentional—the extension is really important in determining how the file is handled. I'd like to prevent newer coders from accidentally changing the extension and therefore changing how the file is handled. Even though it seems like more steps, I think it's better for users to simply create a whole new file.

[2020-04-02 21:57] #1288 closed

[2020-04-02 21:58] #1303 closed

[2020-04-02 21:59] #1304 closed

[2020-04-02 22:01] catarak commented on #1304
This year I didn't have the bandwidth to respond directly to proposal ideas. I hope y'all found help on the Processing forum!

[2020-04-02 22:02] #1289 closed

[2020-04-02 22:10] catarak commented on #1310
Thanks for reporting! I'm sorry you're having issues with the sizing on projectors. But first, I want to reiterate that this is a non-profit open source project supported by volunteer work and grants, and we are doing our best to make it work. It is pretty rude to say "a better tool has to be used instead" and "this should be an easy CSS fix", and I would like to point you to the [p5.js Community

[2020-04-03 01:40] ankiiitraj commented on #1353
Looks like this has been fixed. I can't reproduce this on Firefox

[2020-04-03 02:55] #1338 closed

[2020-04-03 16:59] violetcraze commented on #1353
@ankiiitraj Had the same problem a couple minutes ago using firefox.

When the page is refreshed the first sketch is duplicated in the list. You can see in the screen shot that there are 21 sketches but if you go to the page there are now 22. https://editor.p5js.org/codingtrain/collections/xiEko8cTN

![Screenshot at 2020-04-03 10-44-07](https://user-images.githubusercontent.com/43045568/78385660-7

[2020-04-03 18:08] fadookie opened #1359 "Can't get microphone capture to work reliably in Chrome"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO (Microphone)
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

[2020-04-04 07:43] elit-altum commented on #1263
@catarak Can I work on the high contrast theme ?

[2020-04-04 11:31] NikitaChernenky opened #1362 "Can't upload image to a folder"
Hi there!
I am no longer able to upload an image into a folder. So when I create a new project and add a new folder. If I click on this folder, I am only able to Add File (Create) and not actually Upload File. So I am unable to upload an image into a folder.
#### Details about the bug:

- p5.js version: - 0.10.2
- Web browser and version:  Version 80.0.3987.163 (Official Build) (64-bit).
- Operati

[2020-04-04 20:15] NikitaChernenky opened #1361 "Can't upload a file to a folder"
Hi there!
I am no longer able to upload an image into a folder. So when I create a new project and add a new folder. If I click on this folder, I am only able to Add File (Create) and not actually Upload File. So I am unable to upload an image into a folder.

Details about the bug:
p5.js version: - 0.10.2
Web browser and version: Version 80.0.3987.163 (Official Build) (64-bit).
Operating System: W

[2020-04-04 20:16] NikitaChernenky commented on #1354
+1. Can't drag and upload files to the folder

[2020-04-05 02:59] davidbmx commented on #1268
I would like to work on this, this change has to be done on the server in the folder server/routes/embed.routes.js  ?

[2020-04-05 18:05] Rohitaicyber opened #1363 "Why does the error comes even though the function is defined?"
here is the link to my project https://editor.p5js.org/rohitgokul817/sketches/yhOcLU2KX

please help me to figure out the error the function is defined buti am getting the error Uncaught ReferenceError: antsweets is not defined (sketch: line 164)

please help me as soon as possible

[2020-04-06 02:03] thegitone23 commented on #1056
I would like to work on this issue, if it's still not done.

[2020-04-06 03:50] shakti97 opened #1364 "Trim query before search"
#### Nature of issue?
- Existing feature enhancement

- Operating System: Ubuntu 18.04

#### Feature enhancement details:
Search Bar in the modal should only search for valid query, not for empty spaces.

[2020-04-06 06:54] maartenwijntjes commented on #1362
I got the same problem, on a Mac+safari/chrome/firefox, I guess it is not related to the browser. Did this maybe happen during the editor redesign?

[2020-04-06 07:42] hellonearthis commented on #1362
It's a security feature of the browsers to prevent cross origin loading.
https://stackoverflow.com/questions/50445639/fetch-api-cannot-load-file-c-users-woshi-desktop-p5-p5-json-birds-json-url

[2020-04-06 16:52] #1311 closed

[2020-04-06 16:56] catarak commented on #1306
closing for lack of steps to reproduce. duplicate of #698.

[2020-04-06 16:56] #1306 closed

[2020-04-06 16:59] catarak commented on #1315
according to the [design system](https://www.figma.com/file/cyHiandYyEAPj0Kj6tJbHc/p5-design-system-2018?node-id=0%3A1) it should be 12px.

[2020-04-06 17:03] #1315 closed

[2020-04-06 17:08] catarak commented on #1313
I think this is a good idea! The component [Toast.jsx](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/Toast.jsx) should appear and disappear.

[2020-04-06 17:08] catarak commented on #1318
I think this is a great idea! It is in fact already captured on #57.

[2020-04-06 17:08] #1318 closed

[2020-04-06 17:13] shakti97 commented on #1313
Would like to work on this issue , if @ankiiitraj has no issue in letting me work on this.

[2020-04-06 17:17] ankiiitraj commented on #1313
Hi @shakti97, let me try on this and if I can't do this, you can help me. Thanks

[2020-04-06 17:19] catarak commented on #1167
After looking over this discussion again, I think the right solution is to add <kbd>Command</kbd>/<kbd>Control</kbd> + <kbd>.</kbd> as an alternative keyboard shortcut for different keyboard layouts.

[2020-04-06 17:19] shakti97 commented on #1313
Okay no issue, go ahead @ankiiitraj

[2020-04-06 17:20] ankiiitraj commented on #1312
Hello @catarak, Can I work on this? Thanks

[2020-04-06 17:24] catarak commented on #1320
Awesome! If I make changes to the English docs, would it be possible to get updates to these docs as well?

[2020-04-06 17:28] #1322 closed

[2020-04-06 17:55] slowizzm commented on #1362
Same ... Unable to upload any files into a folder. the only option is to 'Create File'.

Firefox/Chrome/Edge

[2020-04-06 17:56] Phe0 commented on #1320
@catarak sure!!

[2020-04-06 18:21] trych commented on #1167
I agree. That should be simple to implement and give all those an easy alternative that cannot use the primary shortcut.

[2020-04-06 18:30] catarak commented on #1324
Duplicate of #99.

[2020-04-06 18:30] #1324 closed

[2020-04-06 18:44] maartenwijntjes commented on #1362
no this is not the problem as far as i can tell (i thought that occurs when you use an image from a different server), it is purely a function that is
suddenly gone. My students also experienced it, somebody who is making the editor (which is really cool and new collection feature is great!) should maybe check it out.

[2020-04-06 19:07] catarak commented on #1325
In your example here you've put in a youtube url, which returns an entire web page. You need to put in a url to a specific sound file, something like `http://example.com/data/loop.mp3`.

[2020-04-06 19:07] #1325 closed

[2020-04-06 19:13] catarak commented on #91
This is being actively worked on by @Khensura21.

[2020-04-06 19:15] #1331 closed

[2020-04-06 19:15] #1339 closed

[2020-04-06 22:13] catarak commented on #1314
I just went down a fun rabbit hole learning about whether email addresses are case sensitive. It turns out they _technically_ are, but basically no services treat them as case sensitive and it is best not to.

However, usernames can be can sensitive, or at least they could be presented to the user as case sensitive. Username should store their case **but** be case insensitive for login.

[2020-04-07 04:05] jeremydouglass commented on #1314
And for account creation. Don't let use "FOO" create an account if there exists a user "foo".

[2020-04-07 15:39] YoshK opened #1369 "Creating new Html files in the sketch directory"
Hi,
I was just wondering why .html isn't a supported extension when adding new files in a sketch project over the web editor?
It seems interesting to be able to do a bunch of forms to gather data that you will then use in your .js canvas.

Cheers,
YP

[2020-04-07 19:57] catarak commented on #1336
Thanks for reporting! You are right, according to the [design system](https://www.figma.com/file/cyHiandYyEAPj0Kj6tJbHc/p5-design-system-2018?node-id=0%3A1) this should be 12px font size.

[2020-04-07 20:01] shakti97 commented on #1336
Can I work on this issue @catarak ?

[2020-04-07 20:02] catarak commented on #1341
I have no idea what this overlay is? It must be a browser extension/plugin you have installed since this is not part of the web editor.

[2020-04-07 20:02] #1341 closed

[2020-04-07 20:10] catarak commented on #1346
The web editor is actually checking for the file type, and accepts files up to 5MB. The training files have no file extension, and therefore the web editor doesn't know how to handle them.

Are these training files used with ml5.js? How are they used? Maybe it would also be possible to host them elsewhere and link them to the web editor via URL (if there are no CORS issues).

[2020-04-07 20:35] catarak commented on #1349
Thanks for reporting! I am able to reproduce. I think the issue is that the ShareModal is connected to the wrong username—it's trying to fill in the current user's username rather than the the username of the user that the sketch belongs to.

[2020-04-07 21:04] #1349 closed

[2020-04-07 21:06] catarak commented on #1350
Thank you! In your PRs you have put them in the right place ✨

[2020-04-07 21:09] mjaything commented on #1350
Thanks for confirming @catarak !

[2020-04-07 22:06] siusoon commented on #1346
@catarak Yes it is not a problem to host somewhere but just think would be good if p5.js web editor allows uploading those files as a whole for beginners so they don't have to switch to different places. (yes those files are used with ml5 for the program like charNN: https://github.com/ml5js/ml5-examples/blob/development/p5js/CharRNN/CharRNN_Text/sketch.js)

[2020-04-07 22:08] siusoon commented on #1337
yes definitely this will help a lot in teaching. :)

[2020-04-07 22:46] catarak commented on #1347
My suspicion is that the EC2 instance is running out of RAM. You could try use htop to be sure that's the case. You could try using an EC2 instance with more RAM, or create [swap space](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-memory-swap-file/).

However, rather than building your own instance, you could downloading a [Docker image of the p5.js Web Editor from Docker Hub](https:

[2020-04-07 22:46] #1347 closed

[2020-04-07 22:47] catarak commented on #1347
Closing as this isn't a bug with the web editor. Feel free to open issues about deployment documentation!

[2020-04-07 22:48] catarak commented on #1352
Thanks for reporting! I believe this is captured as #389.

[2020-04-07 22:48] #1352 closed

[2020-04-07 22:49] catarak commented on #1352
The "file" icon is attempting to denote that these are "files" (as opposed to a "folder"), but yes, it doesn't match the media type.

[2020-04-07 22:58] catarak commented on #1355
Thanks for reporting!

[2020-04-07 23:21] #1355 closed

[2020-04-07 23:47] ghalestrilo commented on #681
Hi everyone, given the recent inactivity on this, I decided to attempt a solution. The PR above fixes this issue, and describes the solutions. Feedback much appreciated ❤️

[2020-04-08 09:04] hellonearthis opened #1373 "Update CSSLint to StyleLint"
I was trying to use css grids fr units and they didn't seem to work,  gave me a red squiggly

- Found a bug
I don't know if it's a bug or something that's not supported or if I've made a booboo

#### Details about the bug:
The css I used was
`html, body {
  height: 100%;
  margin: 0px;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  background-color: #f2f2f2;

[2020-04-08 17:05] catarak commented on #1286
Command +  ` is a shortcut on Mac to cycle through open windows on the application you have selected, so I don't want to override that one (I use it a lot!). So it should be Control + ` for Mac and Windows/Linux.

[2020-04-08 17:18] catarak commented on #1353
Thanks for reporting! I'm not able to reproduce this right now, so any other steps/context would be helpful.

[2020-04-08 17:40] catarak commented on #1359
Thanks for reporting! I'm... honestly not sure this is an issue with the web editor? If the behavior persists when you download and run the sketch locally (outside of the web editor), I think that would point to an issue with p5.sound. [Looking at @stalgiag's comment](https://github.com/processing/processing-sound/issues/48#issuecomment-549501045), it seems like p5.sound is trying to create an Aud

[2020-04-08 17:59] slowizzm commented on #1353
[screen-recording.zip](https://github.com/processing/p5.js-web-editor/files/4452046/screen-recording.zip)

[2020-04-08 18:52] knectardev opened #1375 "Enable the ability to add, upload or drag media files to folder"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The create a folder feature is nice, but it's not terribly useful without the ability to either add / upload or drag media assets into.

[2020-04-08 18:58] shakti97 commented on #1286
Thanks @catarak . Will do the recommended changes and then update you

[2020-04-08 19:46] catarak commented on #1216
Thanks for trying out both of these options! Spent a bunch of time looking at your two PRs and I agree, I think Storybook is the way to go forward. Being able to change the themes is a huge plus, and the knobs are a nice feature as well.

I definitely want to try my own hand at making a story, but also I think we should spend some time thinking about we want to configure/design storybook. I was lo

[2020-04-08 19:47] catarak commented on #1216
It's also really helpful to look at the examples for reference on how to actually make a component library 🙃

[2020-04-08 19:59] catarak commented on #1361
Thanks for reporting! I'm able to reproduce.

[2020-04-08 20:03] bmoren opened #1376 "comments in high contrast theme no-longer greyed out"
#### Nature of issue?

The comments in the high-contrast theme are no longer grey, they are now the same white as statements. This seems like an error to me and If I recall they were grey in the past?

- Found a bug

#### Details about the bug:

<img width="580" alt="Screen Shot 2020-04-08 at 3 00 01 PM" src="https://user-images.githubusercontent.com/1385996/78828165-e2d0f380-79a9-11ea-99b4-27098a

[2020-04-08 20:08] catarak commented on #1376
thanks for reporting! i believed this is due to #1360 being merged, which i will revert now.

[2020-04-08 20:09] #1376 closed

[2020-04-08 20:19] #1361 closed

[2020-04-08 20:24] catarak commented on #1354
Hi @amozeng! You need to select "Upload file" rather than "Create file" in the dropdown.

[2020-04-08 20:24] #1354 closed

[2020-04-08 20:30] catarak commented on #1268
@davidbmx yes!

[2020-04-08 21:28] catarak commented on #1363
This is the place to submit bugs and feature ideas for the web editor. To get help with p5.js code, I recommend posting to the [Processing forum](https://discourse.processing.org/) or StackOverflow.

[2020-04-08 21:28] #1363 closed

[2020-04-08 21:36] catarak commented on #1312
@ankiiitraj yes!

[2020-04-08 21:40] catarak commented on #1362
Fixed as #1361.

[2020-04-08 21:40] #1362 closed

[2020-04-09 04:44] davidbmx commented on #1266
Hi @catarak i create a pr for this issue ref #1382

[2020-04-09 15:37] MiWeiss opened #1383 "Attempted to save stale version of project"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: `Chrome Version 80.0.3987.149 (Official Build) (64-bit)`
- Operating System: `Win 10`
- Steps to reproduce this bug:  `Unclear`

When I worked on a previously saved sketch, I noticed it cannot be saved. Neither using [Ctrl + s] nor via the menu. Recording network traffic, I saw that the following request f

[2020-04-09 20:23] Sophi333 opened #1385 "Images in folder on p5 web editor upload but don't load"
Hello,

So I have tried in different sketches, fully logged in and such like to run sketches with images but the interface always has a problem. They are uploaded in the right size/ file type and coded correctly but editor just doesn't like using uploaded images and wants me to use a local host via github- that seems like a bit of a weird limitation since the space is available!?

I tried doing a

[2020-04-09 20:37] catarak opened #1386 "Keyboard Shortcuts - Organizational Headers"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The Keyboard Shortcut overlay is currently just a long list of shortcuts. It should have organizational headers, so it's easier to find the shortcuts you're looking for.

Reference of other sites:
<img width="608" alt="Glitch Keyboard Shortcuts" src="https://user-images.githubusercontent.com/6063380/78938511-

[2020-04-09 20:39] #1282 closed

[2020-04-09 20:59] catarak commented on #1369
Great question! Right now the web editor only supports having one HTML file, because everything is rendered client-side and the HTML is not being served by a server. It would be cool to be able to support multiple HTML files but I think unfortunately it would result in some large changes to the web editor.

[2020-04-09 20:59] #1369 closed

[2020-04-09 21:07] catarak commented on #1346
Since training datasets can be pretty big (and a big burden of cost on Processing Foundation), I'm wary of allowing users to upload these files, and maybe it would instead make since to be able to link these files to the web editor via a supplied URL. I'm not sure from a UI/UX perspective how to handle CORS issues, and when it would make sense to instead upload the files to the web editor (like in

[2020-04-09 21:36] catarak commented on #1337
I think switching to OTs will help with the updating/synching issues.

I like this idea of creating a "live session" with one person being the host (which is what I think most platforms do?)

I want to take this 🌈one step at a time 🌈and add all of the pieces carefully/in the right order so it's all stable, but yes, it would be very exciting to add all of this.

[2020-04-09 22:21] catarak commented on #1373
Thanks for reporting! My hunch is that [csslint](https://github.com/CSSLint/csslint), the package that is doing the static analysis to check for errors in the CSS, needs to be updated. Going to try it out now!

[2020-04-09 22:37] catarak commented on #1373
So apparently this is an open issue with CSSLint :(, see CSSLint/csslint#734.

[2020-04-09 22:51] catarak commented on #1373
Apparently the JSFiddle maintainers found a solution but it's not clear what exactly the solution was, see https://github.com/jsfiddle/jsfiddle-issues/issues/1377.

[2020-04-10 06:38] totalcloud-tc commented on #1286
Done with the recommended changes @catarak ,can you please review and suggested changes :)

[2020-04-10 16:52] catarak commented on #1353
Thank you! This is really helpful.

[2020-04-10 16:57] catarak commented on #1353
It seems to only add multiple sketches when the collection has just been created, but if you navigate away and then open the collection again, it doesn't add multiples.

[2020-04-10 19:19] slowizzm commented on #1353
I just re-opened that collection I used to screen-record and it is still adding multiples. I navigated out and back in (several times), still an issue.

[2020-04-10 21:06] shakti97 commented on #1386
Would like to work on this feature,

[2020-04-10 21:16] #1353 closed

[2020-04-10 21:16] catarak commented on #1353
Think I figured out the issue and managed to fix it!

[2020-04-10 21:30] catarak commented on #1375
Thanks for reporting! I think this was temporarily disabled (a bug) and now it's been fixed! See #1361 .

[2020-04-10 21:30] #1375 closed

[2020-04-10 22:01] knectardev commented on #1361
awesome! I noticed it was fixed / working just earlier today.

[2020-04-10 22:30] #1268 closed

[2020-04-12 15:16] shakti97 commented on #1286
Done with the recommended changes @catarak ,can you please review and suggested changes :)

[2020-04-12 15:24] shakti97 commented on #1241
Are you still working on this issue @ashu8912 , if not I would like to work on this

[2020-04-12 15:28] ashu8912 commented on #1241
Hey @shakti97 i have these changes on my local will push them by tomorrow

[2020-04-12 17:53] kerjenwang opened #1390 "Enable auto-save as soon as project is started"
#### Nature of issue?

- New feature request

#### New feature details:

Hi, is it possible to enable auto-save as soon as a user is logged in and starts a new project? Currently I believe the auto-save only enables AFTER the user saves the project for the first time...

Thanks!

[2020-04-12 18:23] slowizzm commented on #1353
No longer seems to be an issue on my end. Thank you

[2020-04-13 07:36] thegitone23 commented on #1056
Can someone have a look at [this gist](https://gist.github.com/thegitone23/1939f65ffe544ddafb3b6363e7a108fd)

[2020-04-13 21:51] slowizzm commented on #1386
I have noticed there are some shortcuts not listed ... such as ctrl+shift+up/down to move line(s), ctrl+d to select similar. I wonder if there are others, how can we see a complete list of shortcuts?

Also, is there an issue open to add suggestions such as alt+shift+up/down to duplicate line(s)?

[2020-04-13 21:57] slowizzm commented on #1385
I just tested on both Firefox and Chrome. Unable to reproduce, all works fine for me.

[2020-04-14 09:21] #912 closed

[2020-04-14 11:57] McGittyHub opened #1392 "Text editor is slow when editing files of 100+ lines"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 81
- Operating System: Win10
- Steps to reproduce this bug: look at title.

[2020-04-14 22:53] catarak commented on #1383
Thanks for reporting! I'm sorry this happened. There's some code to protect you if you have multiple different versions of a sketch open, but there's some bugs with it that have been hard to track down.

This has come up in the context of #1337, as to support love collaboration features would involve first upgrading how sketch updates are saved.

[2020-04-14 23:01] #1364 closed

[2020-04-15 01:52] tirtawr opened #1393 "Add visual indication upon save failure"
## Nature of issue?

- New feature request

#### New feature details:

This is touched a little bit at #1383, but I think the feature is important enough to have its own scope.

Whenever there's a failure on saving a file, there is no visual indication to the user that something has gone wrong. Currently, the user will only know if something is wrong if they are meticulous and realizes that there'

[2020-04-15 10:04] cris-maillo commented on #850
Hi, I'm also getting the same error, I'm using Windows 10 - and I've tried with both Chrome and Firefox. The bug seems to be also linked to the sketch, as my other projects can be downloaded.

https://editor.p5js.org/cris.maillo/sketches/eBs347EIo
Thank you!

[2020-04-15 19:11] #1336 closed

[2020-04-15 20:24] #1241 closed

[2020-04-15 20:33] catarak commented on #1056
Go ahead! No one else is working on it at the moment.

[2020-04-15 20:34] catarak commented on #1386
@slowizzm Those are Sublime Text editing shortcuts. I think that rather than trying to list them all (because there are a ton!) this overlay should link to a page like https://shortcuts.design/toolspage-sublimetext.html.

[2020-04-15 20:51] catarak commented on #1390
Thanks for the suggestion! The reasoning behind not starting it immediately is to prevent users from creating a bunch of empty sketches that they don't want. For example, if you opened the editor quickly to test something out but ultimately don't want to save your work. Open to other thoughts though!

It could make sense to turn on autosave if you're opening an existing project and then editing. I

[2020-04-15 20:52] catarak commented on #1385
Can you post a link to your sketches so I can try to reproduce? Thank you!

[2020-04-15 20:55] catarak commented on #1392
Thanks for reporting! I have noticed this. Would be super useful to dig in and figure out if there's a solution here.

[2020-04-15 21:12] catarak commented on #1393
Thanks for the suggestion! Maybe this could be just as simple as showing the Toast component on an error. Maybe the Toast component could have a visually different error state.

[2020-04-15 21:16] kerjenwang commented on #1390
Hi Cassie,

Thanks for responding!

I see your point. How about enabling auto-save as soon as the project is renamed?

This actually happened to me and I lost a bunch of code. I started a project and renamed it, but I didn't actually explicitly save it because I thought by renaming the project it would automatically save the project under the new name. When the program froze and I closed the brows

[2020-04-15 21:18] slowizzm commented on #1386
@catarak Ahh ... thanks. I didn’t realize the shortcuts were mirroring Sublime. Is it possible to use vscode shortcuts? Maybe this needs to be a feature request? Guess there could be an option in settings to choose either sublime/vscode shortcuts as well as customize.

[2020-04-15 21:39] catarak commented on #850
@cris-maillo managed to figure out the cause! Merging a PR now.

[2020-04-15 21:40] #850 closed

[2020-04-15 22:30] catarak commented on #1390
That's a good suggestion. It seems like if you're changing the project name then you probably care about the code you're writing. A reminder popup could also be good—this basically is the approach that CodePen takes, in which the save button will wiggle.

[2020-04-15 22:39] catarak commented on #1386
Unfortunately VSCode bindings don't exist right now for CodeMirror, only [vim, emacs, and Sublime](https://github.com/codemirror/CodeMirror/tree/master/keymap). Someone could be a hero and work on this.

I want to limit the amount of text editor customization here as it can be overwhelming for beginners. I'm open to discussing whether keyboard shortcuts are beginner friendly or not! To me this bri

[2020-04-16 00:03] kerjenwang commented on #1390
Thank you!

[2020-04-16 20:28] #681 closed

[2020-04-16 22:07] wolfpat01 opened #1395 "weird issue with no error and weird behavior"
i was making a simple player generator, and it got out of hand by calculating distance from other players before placing the player
#### Details about the bug:
-i tried it on visual studio and chrome shows
![image](https://user-images.githubusercontent.com/57036855/79510996-515f2280-8036-11ea-85b0-cde325d73dd6.png)
the weird thing is that its not because of maximum call stack size exceeded... its

[2020-04-16 22:08] wolfpat01 commented on #1395
oh also shows {"message":"Asset does not exist"} on p5 editor

[2020-04-16 23:15] wolfpat01 commented on #1395
i tried another kind of script and the same thing happen
https://editor.p5js.org/wolfpat01/sketches/DU9tj49iv

[2020-04-17 00:01] wolfpat01 commented on #1395
i found out that location variable is already used in js
that was the problem

[2020-04-17 00:01] #1395 closed

[2020-04-18 06:03] thegitone23 commented on #1056
@catarak  I have written a simple script, [here is the gist](https://gist.github.com/thegitone23/1939f65ffe544ddafb3b6363e7a108fd), I have tested that it captures all the function names and keywords already existing in the code base and also many new ones defined in data.json file. It would be great if you can have a look.

[2020-04-18 18:49] shakti97 commented on #1292
yes in the beginning they might feel this, but as soon as they start spending time they would really love these shortcuts, and in the long run these shortcut will help them alot.

[2020-04-18 20:37] shakti97 commented on #1386
I have started working on implementing this feature, dividing keyboard shortcut between Editor Focus and Editor Command has no meaning because almost all the shortcut will only work when we have focus on the editor

[2020-04-18 20:51] shakti97 commented on #1386
@catarak I was thinking to divide them between Text Editing and Advanced/Helper Heading like this
![IMG_20200419_021756](https://user-images.githubusercontent.com/30585570/79670991-74c7d000-81e4-11ea-8fa2-ae6271e3f448.jpg)

Would like to know your opinion over this @catarak

[2020-04-19 00:06] jeremydouglass opened #1396 "Upgrade default template to p5.js 1.0.0"
#### Nature of issue?
- New feature request

#### Feature enhancement details:
Upgrade default template to p5.js 1.0.0 (from 0.10.2)

Currently creating a new sketch points to p5.js 0.10.2.At present, the reference is out of sync with the editor. For example, that Vector.reflect is listed in the reference, but not available through the web editor. For an example support discussion, see:
https://di

[2020-04-19 08:21] shakti97 commented on #1312
@ankiiitraj are you still working on this issue , let me know if you need any help:)

[2020-04-19 09:35] andrewn commented on #1216
Storybook supports using "/" in titles to organise stories. The format is "Root/Group/Group/...". The groups can be nested arbitrarily, I think everything that doesn't contain actual stories turns into a folder.

The title "Components/Brand/RTL" would result in:

<img width="215" alt="Screenshot 2020-04-19 11 08 34" src="https://user-images.githubusercontent.com/1762/79684077-f2b0c900-822e-11ea-84

[2020-04-19 12:12] andrewn commented on #1348
@hydrosquall I started thinking about how we might do this and [ended up with a branch](https://github.com/andrewn/p5.js-web-editor/tree/chore/extract-dev-server) that mostly does it...

The general idea is:
- Totally remove webpack code from API server
- Create a new server that runs the dev webpack config on port 3000 and serves the page routes
- Print a message telling the user to set `API_URL`

[2020-04-19 14:51] elit-altum commented on #1393
@catarak Can I work on this?

[2020-04-20 14:23] SamBozman opened #1400 "Results almost unreadable when using dark or high contrast themes"
I am using Firefox 75.0 (64-bit) in Linux Mint 19.1 Cinnamon.
I have vision problems so in your P5.js editor I chose high contrast for my programming environment.
However, the text results are in a black font and it is almost invisible on the dark background. I think the font should be switched to white if a user chooses to use either dark or high contrast within this editor.
Thank you for listeni

[2020-04-20 17:34] elit-altum commented on #1400
Hey @SamBozman thank you for notifying! Could you please attach a screenshot of the issue? It would really help us resolve it.
Sorry for the inconvenience!
Thank you!

[2020-04-20 21:23] ffd8 commented on #1337
Worth checking out some of the solutions/routes I've gone with [P5LIVE](https://github.com/ffd8/p5live), which has found solutions for a handful of the issues mentioned above (after testing 4+ techniques, CRDT via websockets is far smoother for group collab than Firebase). It's been primarily developed for both VJ visuals + teaching (regularly have cocoding sessions with 25 people), using an admin

[2020-04-20 21:38] hydrosquall commented on #1348
Hi @andrewn, I think that sounds like a clean approach, as long as there aren't any particular security motivations to keep the CORS restrictions. I think this should be fine especially if someone just wants to be running the site in a "stateless" mode.

[2020-04-22 20:42] slowizzm opened #1401 "Bug: Navigation/Sketches bug"
When viewing another users gallery then selecting 'My Account' > 'My Sketches', the user updates (can also be seen in the url), but the gallery of sketches does not, upon refreshing then the gallery will update to reflect correct user. If you are to click the browsers `Go Back` it has the same issue until refreshing the page.

- Found a bug

Chrome/Firefox

View a users sketches (not your own)
My

[2020-04-23 01:13] mattfan00 opened #1402 "Sign up using socials (ex. Github, Google)"
#### Nature of issue?

- New feature request

#### New feature details:

When signing up for a new account on the p5.js web editor, right now the only way to sign up is by entering in your email and username manually. This is pictured below:

![image](https://user-images.githubusercontent.com/30060256/80048110-3fb9c700-84dd-11ea-90f9-cb23bb5f652a.png)

However, when logging in, the log in page con

[2020-04-25 13:11] shakti97 commented on #1383
I have done some investigation over this and found that we already have the stale project error handling code. But still no message is displaying, checking where we are going wrong. Will update you soon.

[2020-04-25 13:31] shakti97 commented on #1383
Got the point causing this issue, will create the pr.

[2020-04-27 08:08] 1234igor opened #1405 "Feature request: auto save before run"
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details: Hi! One of the biggest issues I have with web editor is when I accidentally run a faulty code with for example infinite loop and it a) freezes the whole browser tab so the only thing I

[2020-04-28 19:36] MDonciBA opened #1407 "A bug, or i messed up something"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-04-28 19:37] MDonciBA commented on #1407
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-04-28 19:37] #1407 closed

[2020-04-28 19:38] MDonciBA commented on #1407
Chrome 81.0.4044.129
Windows 10

Simle code:
function setup() {
  createCanvas(400, 400);
}
var x =200;
var y =400;
var size =80;

function draw() {

  background(220);
  ellipse (x,y,size,size);
  y=y-3;
}

Console says:
p5 had problems creating the global function "createElement", possibly because your code is already using that name as a variable. You may want to rename your variable to somethi

[2020-04-28 22:06] catarak commented on #1400
thanks for reporting! i've been working really hard on adjusting all of the colors in #1406. this issue should hopefully be fixed when that PR is merged, and it would be amazing if you could test after merging as well!

[2020-04-28 22:08] #1263 closed

[2020-04-28 22:08] #1255 closed

[2020-04-28 22:10] #1400 closed

[2020-04-28 22:12] catarak commented on #709
Fixed by #1406.

[2020-04-28 22:12] #709 closed

[2020-04-28 22:13] catarak commented on #925
Fixed by #1406.

[2020-04-28 22:14] #925 closed

[2020-04-28 22:16] catarak commented on #922
Fixed by #1406.

[2020-04-28 22:20] catarak commented on #1004
fixed by #1406!

[2020-04-28 22:20] #1004 closed

[2020-04-28 22:21] #1266 closed

[2020-04-28 22:28] SamBozman commented on #1400
No problem. Once you have released the new version, I will test this colour problem. Thanks
Sam

[2020-04-28 22:29] catarak commented on #1056
Amazing work @thegitone23, thank you! I think this is a great start. What I would recommend you do next is:
1. Rather than using a local data.json, have it pull from the p5.js website url. [request](https://www.npmjs.com/package/request) is already a dependency in the web editor so you could use that library.
2. Create a template version of [p5-javascript.js](https://github.com/processing/p5.js-we

[2020-04-28 22:37] catarak commented on #1292
I hear you! I definitely see the benefit. I feel like this actually related to #765—it would be rad to combine the New File/Folder modals, and allow users to create nested files! I think that issue may actually need to be tackled first.

Would the keyboard shortcut be <kbd>Cmd</kbd>/<kbd>Ctrl</kbd>+<kbd>N</kbd>?

[2020-04-28 22:52] catarak commented on #1386
Naming these headers is really hard! Even the heading options on Glitch/CodePen are not amazing...

I think "Text Editing" is pretty good. I'm not sure what the other commands should fall under... "Advanced/Helper" feels vague, "Global" feels vague...

[2020-04-29 00:56] thegitone23 commented on #1056
Thank You @catarak  .. I will start working on the next part accordingly ..

[2020-04-29 16:12] catarak commented on #1400
@SamBozman it has been merged, and your testing would be extremely useful!

[2020-04-29 16:47] #1312 closed

[2020-04-29 16:59] catarak commented on #1216
I like this organization! I agree about the component organization being too nested, and I think this is more straightforward. As certain components are being moved off the main IDE view (like the sketches/collections) I wonder if it would make sense to have another folder. Or like... would that stuff go in "App"? What should go in "App"?

Also agree that pages don't need to have stories. I think

[2020-04-29 17:45] catarak commented on #1393
@elit-altum yes!

[2020-04-30 23:42] catarak opened #1409 "When fetching sketches via slug, API returns first sketch that matches slug"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  MacOSX
- Steps to reproduce this bug:

As reported in ml5js/ml5-library#927:

Solution determined in https://github.com/ml5js/ml5-library/issues/927#issuecomment-622175396:

[2020-05-01 00:57] catarak commented on #1337
amazing, thank you ted!!

[2020-05-02 08:39] Number16 opened #1412 "Bug: broken scrolling in Add to collection window"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome and Safari
- Operating System: macOS
- Steps to reproduce this bug: Have many collections (more then 10 for my screen size) -> go to any sketch -> File -> Add to Collection -> Can't scroll to the bottom

I created collections for all my projects and found that the scrolling in Add to Collection men

[2020-05-02 21:34] zeyaoli opened #1413 "Length of File Name Cause \n (line break) display in Preview"
#### Nature of issue?

- Found a bug

#### Details about the bug:

If a user creates a new js file (or multiple files) naming with only two letters, it returns "\n" (line break) on the preview. See example: https://editor.p5js.org/zeyaoli/sketches/T8PHsajuq I created gu.js, and du.js, which returns two "\n". If I took one file off, it showed one "\n".

- Web browser and version: Chrome Version 81.

[2020-05-03 15:01] RickBr0wn commented on #1393
Hey @elit-altum, How are you getting on with this. If progress has stalled, no worries, I'd be happy to take it on. Let me know ☺️

[2020-05-03 15:52] #1412 closed

[2020-05-03 15:53] andrewn commented on #1412
Thanks for reporting this. I've just merged a fix.

[2020-05-03 20:51] #1401 closed

[2020-05-03 20:59] andrewn commented on #1401
Thanks so much for the detailed bug report!

I've pushed an update that should fix this. 🎉

[2020-05-03 21:48] elit-altum commented on #1393
Hey @RickBr0wn You may go ahead with this! Thank you!

[2020-05-05 22:30] DynamicSquid opened #1417 "Drag and Drop Files into Folder"
#### Nature of issue?

- New feature request

#### New feature details:

So I noticed how when you create a folder in p5.js, you can't drag and drop existing files into that folder. Instead you have to manually import files into that specific folder. So I'm wondering, could it be a possibility that you could drag and drop existing files into a folder? Thanks

[2020-05-05 23:05] garystil opened #1418 "Opening and adding to/removing from collections sometimes crashes editor"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Chrome Version 81.0.
- Operating System: MacOSX 10.15.4
- Steps to reproduce this bug:

A sketch that included an "*" (asterisk) in its name could be saved and played on the p5.js-web-editor. However, my attempt to add it to a collection resulted in a total white screen rather than the  expected list of col

[2020-05-06 10:54] manstie opened #1419 "Ellipse mode CORNERS unexpected behaviour"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Firefox 75.0 64-bit
- Operating System: Windows 10
- Steps to reproduce this bug:

  ellipseMode(CORNERS);
  ellipse(10, 10, -10, -10);

when x2 and y2 of an ellipse while in ellipseMode(CORNERS) causes the negative value to "bounce" off the negative (upper left) bounds of the canvas.

another example: elli

[2020-05-06 16:45] catarak commented on #1402
Thanks for the feature suggestion! The underlying technology already works, to sign up with GitHub or Google, it's just a matter of putting those buttons on the sign up page 😸

[2020-05-06 17:02] #1383 closed

[2020-05-06 17:10] catarak commented on #1383
i'm not sure if #1404 fixes this, but it certainly helps!!!

[2020-05-06 17:23] catarak commented on #1405
Thanks for the suggestion! Some similar issues have been opened recently ( #1390, #1393 ), and I think it indicates that how/when the web editor is saving could use some rethinking.

My goals are just (1) making sure folks don't lose their work, and (2) not littering the web editor database with saved versions of the default sketch.

[2020-05-06 18:43] #1056 closed

[2020-05-06 19:58] catarak commented on #1413
Thank you!! This is a very strange bug 🥵

[2020-05-06 20:51] catarak commented on #1227
This has been fixed by separating the "create file" and "upload file" modals.

[2020-05-06 20:51] #1227 closed

[2020-05-06 20:58] catarak commented on #1417
Thanks for the feature suggestion! Related to #704. This would be super, super useful. Another related suggestion is allowing file renaming with slashes (#765). All slightly different features though!

I think this is a great idea. I also wonder how this would work, from a UI/UX perspective, to also support #375.

[2020-05-06 21:01] catarak commented on #1419
Thanks for reporting! I think your issue is a question about the p5.js library, rather than the web editor, so I'm going to move this ticket over there.

[2020-05-06 21:12] catarak commented on #1418
Oh no! The white screen indicates that the web editor is crashing, so that's not great. I just tried creating a new sketch with an asterisk in the name, and I wasn't able to get the web editor to crash or see any errors in the console, so it must be that something else is happening.

If you figure out a way to consistently make it crash, let me know! Otherwise I'll keep playing around.

[2020-05-06 21:15] #922 closed

[2020-05-06 21:21] #1259 closed

[2020-05-06 21:49] catarak opened #1421 "Semantic Versioning and Releases"
#### Nature of issue?

- New feature request

#### New feature details:

I was thinking about how rad the p5.js 1.0 release is, and thinking about how to in general improve stability and testing on the web editor, and #1398 got me thinking that there really should be a staging deployment....

So anyway. I was thinking that maybe the web editor should adopt a release system. It would be especially

[2020-05-07 12:47] garystil commented on #1418
As described, I had problems opening Collections that contained a sketch with an asterisk in its name. Clicking on File/Add to Collections crashed the editor as did clicking File/Open/Collections. I resolved this by deleting these Collections, creating new ones, and re-adding my sketches that did not contain an asterisk in their name.

As you advised, I tried to recreate the process with a new tes

[2020-05-07 13:35] paraclete-pizza commented on #174
I wanted to chime in that this is still an issue. I'm updating some of my online Processing resources to P5 so kids at home with school-supplied Chromebooks can use them, and found that P5 throws an infinite loop error for pretty much any nested loop. It's not just hitting for intense cases like pixel iteration Daniel mentioned, but even the most rudimentary nested loops, like this test case:

`fu

[2020-05-07 13:52] runemadsen commented on #174
We had similar problems yesterday with the `ccapture` library that throws timeout errors in the editor but works fine locally.

[2020-05-07 19:58] catarak commented on #1418
Thanks for trying to reproduce again! I'll leave this open for now in case someone else runs into a similar issue.

[2020-05-07 20:02] catarak commented on #174
thanks for the updates! i know this is super annoying, and i'm going to shift updating the loop protect library up in priority.

[2020-05-08 12:24] zahlenteufel opened #1422 "Stop should not erase last frame"
Sometimes I stop a sketch and the canvas gets erased, it would prefer to keep the last image (or possibly add a pause button instead of stop).

[2020-05-08 14:49] saijatin28 commented on #1313
Hello @ankiiitraj @catarak ! Can I take this issue up?

[2020-05-08 15:04] ankiiitraj commented on #1313
Hi @saijatin28 if @shakti97 is not working on this feel free to take on.

[2020-05-08 16:28] catarak commented on #1422
Thanks for the feature idea! I think keeping the behavior of the stop button is important, but maybe it would make sense to add a "pause" button? Maybe it could call `noLoop()` on the sketch? Though I guess that would only stop the draw loop, and other functions like `mousePressed()` would still work.

What do you want to do that you'd like to keep the last frame of the sketch? Maybe there's an al

[2020-05-08 16:31] catarak commented on #1313
@saijatin28 i think you can safely start working on this since there haven't been any updates in a month!

[2020-05-09 14:01] saijatin28 commented on #1313
I figured maybe I should import the [Toast.jsx](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/Toast.jsx) into the [NewFileForm.jsx](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/NewFileForm.jsx) . But I am unable to figure out how to proceed further. Any pointers?

[2020-05-10 13:39] andrewn opened #1423 "Use one default template"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The default HTML for a sketch is defined in multiple places:

1. [client/modules/IDE/reducers/files.js](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/reducers/files.js)
2. [server/domain-objects/createDefaultFiles.js](https://github.com/processing/p5.js-web-editor/blob/master/s

[2020-05-10 14:10] andrewn commented on #1421
Absolutely *yes* for a staging server that's automatically deployed! This'd be very useful for all the reason's you've mentioned.

I'd vote for the production branch to be called `release`.
And the active development branch to be called `develop`, [avoiding using the word`master`](https://medium.com/@mikebroberts/let-s-stop-saying-master-slave-10f1d1bf34df).

One issue with long-running features o

[2020-05-10 15:14] garystil opened #1424 "Feature Enhancement Request - Organization of Sketches, Collections & Assets"
#### Nature of issue?
- Feature enhancement request

#### Feature enhancement details:
These requests, related to the organization of Sketches, Collections and Assets, fall under the "Would be nice to have" category:
1. Under "My Account" / "My Sketches" could a column be added to identify which collection(s) that sketch has been added?
2. Under My Account" / "My Assets" could sort functions be ad

[2020-05-11 17:27] catarak commented on #1421
Thank you for your input! It's helpful to know I'm approaching this the right way. I don't want to add unnecessary complication to releasing code but it's feeling like this project really needs it. To summarize:
- `develop` is the active development branch. All pull requests (features _and_ bug fixes) are merged to this branch. I agree that removing master/slave terminology is important, and I app

[2020-05-11 23:34] jeremydouglass opened #1425 "Generative title wrongly indexed by Google"
#### Nature of issue?

- Found a bug
- Existing feature enhancement

#### Details about the bug:

Currently the Google search engine indexes the web editor along with its generative title. So, for example, it is currently listed as: "p5.js web editor | Stormy moss"

<img width="766" alt="Screen Shot 2020-05-11 at 4 27 56 PM" src="https://user-images.githubusercontent.com/798570/81622054-dbd04300-9

[2020-05-12 11:19] hmaddisb commented on #1402
Hello!

I am new to contributing to open source projects. As a coincidence when I was looking through the user interface I started thinking of the same idea as presented in this issue.  Therefore, I am interested in working on this issue, is that OK?

[2020-05-12 12:30] andrewn commented on #1313
@catarak I can give advice with the implementation, but I'm just trying to work out what the behaviour should be?

Do we:
1. close the modal, showing the global "toast" banner containing the message?
2. show the message within the modal below the text input, without closing it?

It feels to me, option 1 is more consistent with behaviour elsewhere in the app?

## 1. Showing global toast

The [`crea

[2020-05-12 15:12] saijatin28 commented on #1313
Hey! @andrewn I have added the feature using the above approach and made a PR #1426

[2020-05-13 00:54] kisielk commented on #1422
Situations where this is useful: you want to save the current image, which may get updated when you pass your mouse over it or it may just be continuously updating due to the loop. Maybe a pause button would be more useful in this case so that you could pause, save the image, and then resume the generation.

[2020-05-13 08:47] andrewn opened #1427 "Keeping translations in sync"
This is more of a process thing, but if we make changes to the english version of the documentation, how should we flag that the other languages are out-of-sync?

For example, #1415 makes a change to `developer_docs/installation.md`. How should we track that any translated versions are now out-of-sync?

[2020-05-16 06:08] Guillaume57 opened #1428 "Small bug with CSS editor"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Hello,

There is a small problem when editing a CSS and using custom variables, for example:
[code]
It's working, but the editor will show a warning "Expected RBRACE" on the line "--red: #ff0000;"

[2020-05-16 06:59] Guillaume57 commented on #1428
Apparently it's a problem with "csslint" [https://github.com/CSSLint/csslint/issues/603](url) , I think nothing can be done here to fix it

[2020-05-16 06:59] #1428 closed

[2020-05-17 00:05] joshuahhh commented on #1203
It's very easy to run into this bug when trying to explain array mutation to new programmers. Here's a screenshot showing some code, the web-editor console, and the browser console. You can clearly see the divergence between the web-editor console and browser console.

<img width="383" alt="Screen Shot 2020-05-16 at 4 55 45 PM" src="https://user-images.githubusercontent.com/643799/82132643-c689590

[2020-05-18 18:04] catarak commented on #1428
Thanks for reporting! It seems like CSSLint is out of date, see #1373. JSFiddle had similar issues with CSSLint but they updated their linter (not sure to which one though!).

[2020-05-18 22:16] Guillaume57 commented on #1428
Maybe this one https://github.com/stylelint/stylelint

[2020-05-19 16:43] catarak commented on #1428
great suggestion!

[2020-05-19 16:46] catarak commented on #1373
It seems like the way to fix this is to move from CSSLint to StyleLint, see https://discuss.codemirror.net/t/promises-support-for-the-linter-add-on/1140/4 for reference on how to make StyleLint work with CodeMirror.

[2020-05-20 18:50] joeyklee commented on #1409
Hi @catarak - Thanks so much for making this issue + apologies for the delay in responding here.

If I can make a PR to address this, I'd be happy to do so, otherwise also willing to support in any way.

Thank you!

[2020-05-22 18:15] catarak opened #1432 "Investigate replacing Enzyme with React Testing Library"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

There are still a relatively small number of tests in this project. Because of this, it makes sense to investigate alternative testing frameworks such as [React Testing Library](https://testing-library.com/docs/react-testing-library/intro) as they might be more stable in the long run.

[2020-05-22 18:27] catarak commented on #1423
This is a great idea. Maybe this could also be handled in tandem with #144?

[2020-05-22 18:54] catarak commented on #1424
Thanks for the suggestions! I think both would be very useful.

For (1), I'd have to think about what design would work. What's a way to fit multiple items within a table tow element?

[2020-05-22 18:56] catarak commented on #1425
Thanks for reporting! I have noticed this but I'm not sure how to fix it. I really don't know a ton about search engine indexing and SEO. Any suggestions or ideas about how to fix this are very welcome 😄

[2020-05-23 04:44] jeremydouglass commented on #1425
One suggestion would be: don't write the sketch name into the page title until:

a) the user clicks save, or
b) the user clicks "run" for the first time

Bots never click save or run, so no bot will never index or cache a page with "Sleepy Wheelchair" etc. in the title.

[2020-05-24 12:00] garystil commented on #1424
Thanks for looking into this Catarak. Re: the design issue, I noticed that if one uploads the same asset to two different sketches, "My assets" displays the most recently-created sketch containing that asset. That might be the solution to apply to "My sketches" should a sketch be stored within multiple collections. Not perfect, but still helpful :-)

Also, little thing, but within the Collections

[2020-05-24 13:33] oruburos opened #1434 "Web Editor in Spanish / Consistency with Languages Selection in p5 website"
**- Existing feature enhancement / Request for Comments**

**- Actual behaviour**

As part of my GSoC project, I want to add the Spanish translation to the web editor.

I want to add functionality in the web editor to choose the language of the editor (Spanish version as the goal).
This will be based on:
https://github.com/processing/p5.js-web-editor/issues/595

Now, I want to be consistent with t

[2020-05-26 18:36] #1421 closed

[2020-05-26 20:32] catarak commented on #1434
Thanks for creating this issue!

I think that putting the language in the preferences is too buried—I think it should be integrated at the top level!

There was an online code editor created by Mozilla called Thimble, which was translated into a ton of different languages. It's been deprecated now 😭but I found a gif that shows off the language selection design:
![Thimble Language Selection UI/UX a

[2020-05-26 20:33] slowizzm commented on #273
A **download all** sketches into a .zip would be nice also.

[2020-05-26 21:37] catarak commented on #1409
Just made a PR for this (#1409)! You want to test it?

[2020-05-26 21:42] catarak commented on #1425
Wow thank you! I didn't realize this would be so simple to fix, I'm on it!

[2020-05-26 22:35] #1425 closed

[2020-05-26 23:40] joeyklee commented on #1409
@catarak - Without having tested the code, from a prelim scan, the code looks good to me and makes perfect sense. If you'd like a second pair of eyes, I'm happy to test out locally as well.

[2020-05-27 10:13] oruburos commented on #1434
Cool, I like that position for the menu.

[2020-05-27 19:05] joeyklee commented on #1409
Hi @catarak - I've just gotten setup with the web editor again after about a year or so!

I have one quesiton regarding the `const editorApiUrl = process.env.EDITOR_API_URL;` env variable. If I'm testing locally, what should this API_URL point to by chance?

Thank you!

[2020-05-27 21:20] andrewn commented on #1409
👋 `EDITOR_API_URL` needs to be the URL of the editor instance you want to target, and `/api/v1`.

For testing locally, `EDITOR_API_URL=http://localhost:8000/api/v1` should work.

[2020-05-27 21:24] joeyklee commented on #1409
@andrewn - Ah yes, this makes sense. Thanks for the clarification. And on the same note, just to confirm, I would then generate an testing API key through the editor account settings, correct?

[2020-05-27 21:27] andrewn commented on #1409
Yes, that's correct. Generate the API key from account settings, then you can use that to make authenticated requests as your user to the public API.

`examples-ml5.js` expects the API token to be available as the `EDITOR_API_ACCESS_TOKEN` env var.

[2020-05-27 21:36] joeyklee commented on #1409
Super - many thanks! Excellent work you are doing here! So much ♥️ for the web editor!

[2020-05-27 23:05] catarak commented on #1422
It would be possible to put in a pause button that would call `noLoop()` behind the scenes, but i worry about it not working if the sketch is configured differently (e.g. the sketch is run in instance mode). It seems like the use case is saving a picture of the canvas, so why not have a "save picture" button?

[2020-05-28 15:34] joeyklee commented on #1409
@andrewn - Just a couple more questions when you have a moment:
1. Is the API access token creation part of a different branch (currently I'm on `develop`)? In the current `develop` branch, the **access token** tab is not displayed.
- is this because my email has not been confirmed in the local development environment?
- or is this because the API feature is not yet part of the `develop` branch?

[2020-05-28 15:49] andrewn commented on #1409
@joeyklee The code's on `develop` but is hidden behind a feature toggle for now. Sorry, I forgot about that.

Add `UI_ACCESS_TOKEN_ENABLED=true` to your `.env` and then restart the server. The tab should then appear in the settings and you'll be able to create tokens (I hope 😅).

[2020-05-28 15:54] joeyklee commented on #1409
Hi @andrewn - nice one! That totally worked. Cool. Thanks for your super fast responses!

[2020-05-28 16:00] andrewn commented on #1434
I agree with @catarak about the menu!

I really like how the full name is displayed in the menu, in the target language. This seems much easier for a user than having to identify a language or country code.

It also gives us the flexibility to have language variants e.g. _Español (España)_ and _Español (Latinoamérica)_.

[2020-05-28 17:39] #1409 closed

[2020-05-28 18:49] #1402 closed

[2020-05-28 19:05] catarak commented on #1424
Thanks for the idea!

I'm able to reproduce your issue about the "# sketches" not sorting properly. I'm going to break that out into a separate issue 😄

[2020-05-28 19:18] catarak opened #1441 "Collections Sorting - # of sketches is incorrect"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
1. Navigate to `/collections`
2. Click "# of sketches"
3. Scroll through the collections... notice the numbers are not in ascending/descending order.
<img width="1552" alt="Screen Shot 2020-05-28 at 3 16 56 PM" src="https://user-images.gi

[2020-05-28 19:24] catarak commented on #1424
I'm also going to break out the asset list sorting into a new issue!

[2020-05-28 19:35] catarak opened #1442 "Add sorting columns to Asset List"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

As reported in #1424.

The Sketch List and Collection List components have the ability to sort their columns (name, date created, etc.). The Asset List should have the ability to sort by name-, size- and sketch-.

This also brings up a bigger issue... which is should these three components be integrated into

[2020-05-28 19:56] catarak commented on #1427
This is a great question. I think that English should be the source of truth, and maybe, going forward, every commit that changes documentation, or a label, or adds text should be tagged. Then, we'd have a list of commits that translations could reference.

The translations folder could have a README with a list of languages, that lists
- What is translated (contribution documentation, website, et

[2020-05-28 20:20] garystil commented on #1424
Great. By-the-way, I recently watched one of Dan Shiffman's Coding Train videos and he mentioned your name. Thanks for all of your work to bring p5.js online!

[2020-05-28 20:24] andrewn commented on #1442
I think there _definitely_ should be a single `Table` component that we can use for all these.

I think we should move the search and sorting state into the component itself (using React state) and not Redux. If I recall, we reset the sortable state in redux whenever the component mounts anyway, so having it there doesn't offer many benefits.

Maybe this is a good candidate for the next component

[2020-05-28 20:47] #1386 closed

[2020-05-28 20:49] catarak commented on #1442
Great idea 😸

[2020-05-29 05:21] awarua opened #1443 "Chrome 83 download from sandboxed iframes breaks save() functions"
#### Nature of issue?

- Found a bug

#### Details about the bug:

In Chrome 83, download from sandboxed iframes was removed. This prevents functions such as `image.save()`, `saveCanvas()` or `saveFrames()` from working. According to the Chrome status page below, a flag on the embedded iframe is required to allow this:

[chromestatus.com/feature/5706745674465280](https://www.chromestatus.com/featu

[2020-05-29 12:27] Sladix commented on #1443
Looks like the iframe is missing the `allow-downloads` value in the sandbox attribute

[2020-05-29 15:09] catarak commented on #1443
Thanks for reporting! Hopefully this can be fixed by adding the `allow-downloads` flag.

[2020-06-01 00:35] zahlenteufel commented on #1422
It's also about stopping an animation that can be distracting or consuming a lot of CPU (e.g. when misbehaving), while at the same time "seeing" the effect so it's easy to iterate. When you clear the canvas you effectively force the programmer to remember what was there.

[2020-06-01 16:56] catarak commented on #1422
I hear you. I do worry about the edge cases involved in adding a pause button but I see how it could be really useful—I could see myself using it in a teaching context.

[2020-06-02 18:10] knectardev opened #1445 "Full screen preview no longer functioning"
#### Full screen preview no longer functioning

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome (latest)
- Operating System: Win7
- Steps to reproduce this bug:

Click File > Share > Fullscreen

"Present" mode is working fine, e.g.
https://editor.p5js.org/knectar/present/jUHIH58ye

But "Fullscreen" just loads an empty page with an auto-generated file name.

e.g. (same

[2020-06-02 23:43] oruburos commented on #1434
I'm  tempted to use react-i18next, I checked the p5 website and I think they handle the internationalization using i18js.
https://npmcompare.com/compare/i18n-react,react-i18next,react-intl,react-intl-redux
https://github.com/i18next/react-i18next

[2020-06-03 07:04] CheetoLord211738 opened #1446 "fullscreen bugs"
Found a bug

Chrome version 83.0.4103.61
Windows 10

Steps to reproduce this bug:
simply change the URL from https://editor.p5js.org/exampleName/sketches/123412345
to https://editor.p5js.org/exampleName/full/123412345

this usually full screens the canvas room, which is useful when working with a large canvas. but recently, it stopped working for me. it simply wouldn't load the project, and put me

[2020-06-03 08:17] andrewn commented on #1434
@oruburos Really great that you're looking into the various options for i18n libraries. I think this decision and discussion warrants a separate issue so would you mind opening a new issue please?

It'd be good to list our requirements and then a list of pros/cons for a few of the libraries that you think are the most promising. Some examples of doing this are the [Component library](https://githu

[2020-06-03 21:09] catarak commented on #1445
Thanks for reporting! I can reproduce and I suspect this is a bug introduced by resolving #1409.

[2020-06-03 21:09] catarak commented on #1446
Thanks for reporting! I'm going to close this as a duplicate of #1445.

[2020-06-03 21:09] #1446 closed

[2020-06-04 12:29] knectardev commented on #1445
cool, should it be resolved already (notice you marked it closed). this issue is still occurring for me.

[2020-06-04 12:49] oruburos opened #1447 "i18n library"
**Nature of issue?**
New feature request / Request For Comments

**New feature details:**
As a new feature request, the Internationalization of the web editor and in particular, its localization in Latin american Spanish (see #1434) depends in choosing a i18n library.
Currently, there is no library included in the web editor, and while p5 website is using one, maybe it is better to move to another

[2020-06-04 13:13] oruburos commented on #1447
### Two more possible choices
-  [Globalize] (https://github.com/globalizejs/globalize)
- [Polyglot] (https://airbnb.io/polyglot.js/)

### Couple of links for comparison:
(Metrics and community size) (https://npmcompare.com/compare/i18n-react,react-i18next,react-intl,react-intl-redux)
(Features) (https://medium.com/@jamuhl/i18n-frameworks-the-unfair-showdown-8d436cd6f470)

### Disclaimer
I'm tempt

[2020-06-04 22:09] SebasMag commented on #1441
Hi ! I want to contribute fixing this issue if it is possible.

[2020-06-04 22:26] SebasMag commented on #1413
Hi ! I think this is a good first issue for me , can i go ahead fixing this ?

[2020-06-04 23:57] SebasMag commented on #1413
Im working on it :)

[2020-06-05 14:07] lm-n opened #1449 "Add share button near play and pause"
#### Nature of issue
- Existing feature enhancement

#### Feature enhancement details:
Make sharing easier and faster by adding a share button in the GUI near play and pause buttons. This button would take users to the current share interface without having to navigate the file menu.

[2020-06-05 23:49] borisfaguer opened #1450 "Web Editor: Not able to open original file once duplicate is made"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: Web Editor (can't find version, other people also seem to have [this issue](https://github.com/processing/p5.js/issues/25

[2020-06-07 09:29] andrewn commented on #1447
This list of considerations is really good! I have a few things to think about too:

**Works in node.js**

Let's keep in mind we might also want to translate things on the server. For example, we send out account emails so it'd be nice if these could be translated in future. This isn't a dealbreaker as we might find another way of translating these. But would be good to have in the list of the pro

[2020-06-07 09:37] andrewn commented on #1447
It'd be great to see a list of pros/cons for a few of the most promising libraries to help us reach a decision! The "i18n frameworks — the unfair showdown" article you linked to is from 2016 and I think the libraries have all had updates in the meantime.

For example, I used [react-intl](https://formatjs.io/docs/react-intl) a couple of years ago and the main issues at the time seem to have been ad

[2020-06-08 08:19] maartenwijntjes commented on #1445
I guess the p5js editor developer(s?) have others things on their mind right now, but just wanted to say  that it would be great when the fullscreen function would work again. I wanted to publish student's work for a class I taught, and all their links are in /fullscreen/ 😬

[2020-06-08 08:50] #1445 closed

[2020-06-08 08:51] andrewn commented on #1445
@maartenwijntjes Just pushed a fix. Let me know if you still have issues.

[2020-06-08 08:58] maartenwijntjes commented on #1445
That is a quick response! But it does not seem to work for me, does it for you? For example:

https://editor.p5js.org/JuliaBeckmann/full/1dedT3O_X
Does not work, but

https://editor.p5js.org/JuliaBeckmann/present/1dedT3O_X
Does.

Other example:
https://editor.p5js.org/ahemerik/full/qcGn2VHvT
Is not working, while
https://editor.p5js.org/ahemerik/present/qcGn2VHvT
Works

Here is the page of student

[2020-06-08 08:59] andrewn commented on #1445
@maartenwijntjes You need to wait a while for it to deploy. Sorry, I should have mentioned that. Will post again when it's live.

[2020-06-08 09:00] maartenwijntjes commented on #1445
Haha thanks, sorry.

Op 8 jun. 2020, om 11:00 heeft Andrew Nicolaou <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@maartenwijntjes<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_maartenwijntjes&d=DwMCaQ&c=XYzUhXBD2cD-CornpT4QE19xOJBbRy-TBPLK0X9U2o8&r=fQ0XK5AoJ5yykeTTnr8PjdayWWrISW6iZef_0J7eSMc&m=eeAWl0g64TDUP3Gn5jPIMqZBkblZ6fHemiOMn4_PdFE&s=

[2020-06-08 09:03] andrewn commented on #1445
@maartenwijntjes Sorry, I just realised that we're now doing proper releases so it won't automatically deploy.

@catarak will bundle it into a future release of the editor

[2020-06-11 07:59] maartenwijntjes commented on #1445
Thanks!!!

[2020-06-11 08:32] andrewn commented on #1445
Great idea. I also forgot about that process 🤦

[2020-06-12 16:26] catarak opened #1453 "Add framework for responsive breakpoints"
#### Nature of issue?

- New feature request

#### New feature details:

In order to make the web editor mobile/responsive, we need to make decisions about how we want to lay the groundwork.

With the merge of the Storybook PR (#1244), it begins the move from scss to `styled-compoments`. Therefore, I think it makes sense to put in these breakpoints with styled components, following a style similar

[2020-06-12 18:10] Phe0 opened #1454 "Client components testing"
## Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
 - Add a coverage script in package.json scripts
 - Make all js and jsx files collected for coverage
 - Add testing to client components

[2020-06-12 18:11] Phe0 commented on #1454
Started working on client testing in this branch:

https://github.com/Phe0/p5.js-web-editor/tree/testing

[2020-06-15 01:11] brytlao commented on #1443
This is still an issue. Will the folks at p5js allow downloads?

[2020-06-15 09:14] sarweshshah opened #1456 "save() is not responding on keypress"
#### Nature of issue?
- Found a bug
#### Details about the bug: save() method is not working.
- Web browser and version: **Google Chrome | 83.0.4103.97 (Official Build) (64-bit)**
- Operating System: **MacOSX**
- Steps to reproduce this bug:
Call save() in the keyPressed()/keyTyped() function.
The canvas is not downloaded. Console.log() works fine in the keyPressed() function.

Pressing 'p' after

[2020-06-15 16:13] catarak commented on #1454
Thanks for working on this! I just want to point out #1432, that we are interested in transitioning from enzyme to react testing framework (or at least investigating the transition) while there are not a ton of tests in this project.

[2020-06-15 16:13] catarak commented on #1456
thanks for reporting! i think this is a duplicate of #1443.

[2020-06-15 16:13] #1456 closed

[2020-06-15 16:16] Phe0 commented on #1454
Is someone assigned to investigate this? I can take a look if needed @catarak

[2020-06-15 16:24] andrewn commented on #1454
@Phe0 I was aiming to replace the couple of enzyme tests we have with testing-library after #1452 was merged in. I was also going to take the opportunity to create stories for the tested components.

Shall I message you when I create the PR as we can then add more tests?

[2020-06-15 16:57] Phe0 commented on #1454
Sure @andrewn, I'll be taking a closer look at the react testing framework and wait for you response. Thanks.

[2020-06-15 17:21] #1443 closed

[2020-06-15 17:21] catarak commented on #1443
This will be fixed for the next release.

[2020-06-15 17:46] catarak opened #1458 "Refactor IDEView"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

In order to work on making the web editor mobile friendly, @ghalestrilo suggested refactoring and breaking apart `IDEView.jsx`. I, personally, have wanted to refactor this component for a while, so I think now is a great time to work on this.

[2020-06-15 17:48] catarak commented on #1458
Suggestions from @ghalestrilo:

### Behavior

- move method getTitle to pure ext. function receiving props obj
- move mehotd isUserOwner to pure ext. function receiving props obj
- move warnIfUnsavedChanges to pure ext. function which:
  - receives props obj
  - returns a callback (which receives route) (because of how it will be passed to the child component)
  - note: this function does too much

[2020-06-15 18:40] ghalestrilo commented on #1458
Analyzing/grouping the props received by `<IDEView />` seems helpful to understand what responsibilities are being coupled in this view. I hope this can bring some insight for the refactor

[code]

[2020-06-15 20:47] catarak commented on #1458
Other ideas I have to add to this:
- Create a `UserContext` to handle authentication and authorization needs, such as `isUserOwner` (the current sketch could be passed to the UserContext).
- Use `connect` from `react-redux` in `Editor`, `PreviewFrame`, etc. to pass down fewer props
- Move most, if not all of the state in `reducers/ide.js` to React state. It will need to be split up in different co

[2020-06-16 03:48] leocb opened #1460 "p5 save() does not work on the web editor"
#### Nature of issue?

- Found a bug

When issuing the save() command or even doing a custom js to save a json to a file, neither work

#### Details about the bug:

- Web browser and version: Chrome 83 / Edge 44
- Operating System: Windows 10
- Steps to reproduce this bug: Try to execute the `save()` function on the p5 web editor

sample here: https://editor.p5js.org/akroll/sketches/Bki2h41aX

[2020-06-16 03:52] leocb commented on #1460
just found it's the same as #1443, closing

[2020-06-16 03:52] #1460 closed

[2020-06-16 18:18] DivyamAhuja commented on #1396
@ I would like to suggest something like Development Mode where user can use the latest build of p5 or can choose from previous stable versions. This makes finding bugs easier.

[2020-06-16 18:27] catarak commented on #1458
- Move Preferences to own component, with connect
- Move Overlays to own component, with connect
- Preferences could be a context, maybe?
- Layout (panes layout, overlays) should be in React internal state (in IDEView?)

[2020-06-16 19:11] jeremydouglass commented on #1425
Just looping back here to confirm that this fix worked -- the web editor is indexed in all search engines as expected.

<img width="603" alt="Screen Shot 2020-06-16 at 12 09 46 PM" src="https://user-images.githubusercontent.com/798570/84817864-7c300d80-afca-11ea-8e63-3181bb6abb7d.png">

[2020-06-17 11:25] vinodhinisenthil7 opened #1461 "not bale to upload p5.js in github.all other files i am able to upload.. its says we cannot process that file"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-06-17 11:30] GameEntity903 opened #1462 "I am unable to upload the p5.js file from my end but when i send that same file to others they are able to upload the same"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-06-17 11:33] GameEntity903 commented on #1462
![problemmmmmm](https://user-images.githubusercontent.com/65657986/84893156-69960100-b0bc-11ea-9a82-bda7b5e0e4bc.png)
![WHJ](https://user-images.githubusercontent.com/65657986/84893162-6b5fc480-b0bc-11ea-8d98-e9916372c1b2.png)

[2020-06-17 11:34] GameEntity903 commented on #1462
These are things that i see when i upload the p5.js file

[2020-06-17 19:50] catarak commented on #1396
@DivyamAhuja you can technically already do this! If you open the left sidebar and click on `index.html`, you can edit that file. By default, it looks like this:
[code]
You could put in a different version number on the lines that load p5.js:
[code]
To use a development version, I think you'd have to clone the p5.js repository, build the library, and upload it manually to the web editor using the

[2020-06-17 19:54] catarak commented on #1461
Hi @vinodhinisenthil7! I think that you're not in the right place to get the help you need. This is the place to report bugs or suggest features to the p5.js web editor, not with p5.js. I'm going to transfer this issue to that repository!

[2020-06-17 19:56] catarak commented on #1462
Hi @GameEntity903! I think that you're not in the right place to get the help you need. This is the place to report bugs or suggest features to the p5.js web editor, not with p5.js. I'm going to transfer this issue to that repository!

[2020-06-17 20:09] DivyamAhuja commented on #1396
@catarak Yes I know about this way of changing version but I was seeing that people are reporting bugs or features that were already fixed in p5.js . So I was thinking if there can be a more intuitive menu in p5 web editor that can let us pick versions and maybe it can load latest unofficial build of p5 once every day. This will be useful especially when working in mobile devices as currently chan

[2020-06-17 20:43] catarak commented on #1396
I hear you! I think what you are suggesting is captured as #4 within the context of the web editor. To create a daily build on p5.js, I think there would need to be a CI/CD or GitHub action or something set up for p5.js, and I would suggest opening an issue in the [p5.js repository](https://github.com/processing/p5.js).

[2020-06-17 22:27] kjhollen opened #1463 "trouble loading image: url for absolute path is added together twice"
#### Nature of issue?

- Found a bug

#### Details about the bug:
A student worked on this sketch and the first image, "start.jpg" doesn't load.
https://editor.p5js.org/laylaomalley/sketches/mFsAhoXLh

And here's a smaller sketch I made from a duplicate, but that still reproduces the behavior:
https://editor.p5js.org/kjhollen/sketches/hznIcfPXQ

Error message says:

so it appears that two image pa

[2020-06-18 18:43] catarak commented on #1463
Thanks for reporting! I have seen a similar issue come up before, as reported in #1205, but this seems to be a little bit different.

[2020-06-18 23:59] lm-n commented on #1449
There's a share icon already in the editor ![Share Icon](https://user-images.githubusercontent.com/16418450/85082787-30799180-b18d-11ea-947b-3940efc98e15.png). Perhaps a button with that icon could be placed between the pencil of the project name and the author's name.

[2020-06-19 12:36] ghalestrilo commented on #1458
About the last point: I think of two approaches:
  - Making `<Layout />` could its own component, controlling modals within its state (so you'd **wrap** `<IDEView />`) with it
  - Making `<Overlays />` its own component, and **replacing** the current overlay code (inside `<IDEView />`) with it (passing props as necessary)

This really just depends on the level of coupling 🤷🏻 but it feels like the

[2020-06-19 12:38] ghalestrilo commented on #1458
Also, connecting `<Editor />` and `<PreviewFrame />` would cut down a ton on prop-passing, and I don't really think it harms incapsulation *(might be wrong here)*

[2020-06-19 14:30] oruburos commented on #1447
**PROS**

**React-i18next**
-  Dynamic, we can choose how to store the translations and install just the module.
-  Async loading. Users just download what they need, and we use the current english translation
   as the fallback
-  Smaller size.

**React-Intl**
-  Uses the Intl standard when is possible.
-  More popularity/ battle tested

**CONS**

**React-i18next**
- No relative dates (  Yesterda

[2020-06-19 16:37] hipstina opened #1465 "Collection crashes after deleting one of its sketches"
#### Found a bug

#### Details about the bug:

- Web browser and version: FireFox
- Operating System: MacOSX Version 10.15.5
- Steps to reproduce this bug:

1. In web editor, add a sketch to any collection: **File** > **Add to Collection**.
2. In `/sketches`, **delete** the sketch that was added to collection.
3. Open the collection that was just modified in `/collections`...here is where the page

[2020-06-19 19:23] chung-ken opened #1466 "touches does not work with the new index.html"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Sorry, I am a teacher using p5.js.  I am new to GitHub.  I hope that this isn't too much or too little information.  Here's the issue:
The touches array doesn't work with touch screen Apple devices (not even on Chrome) with the newer version of index.html:
   <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></

[2020-06-19 20:00] chung-ken commented on #1463
Hi.  I'm also a teacher.  Did your student get this working?
I'm curious about the original image file.  I would have them try another (similar) image file to see if they can get it working.

[2020-06-20 05:14] kkrithika opened #1468 "GitHub Linked Account Deletion"
### Nature of issue?

- [x] Found a bug

#### Details about the bug:

I created an account on the web editor through my GitHub account. I'm trying to delete my account but I unfortunately can't find a way to do that. Can you manually delete my account or is there a way to detach it from my GitHub?

[2020-06-21 11:55] chrisfroeschl opened #1470 "Account deletion request"
#### Nature of issue?
- Account deletion request

#### Details:
- Account name: chrisfroeschl

Hope that's the proper way to request an account deletion, since I wasn't able to find another contact option or ui function. Thank you in advance!

[2020-06-23 16:38] saijatin28 commented on #1393
@RickBr0wn Hey! Since it's been a while, no issues if the progress has stalled. I've identified the error and will submit a path soon.

[2020-06-24 04:08] slowizzm commented on #1465
I was just about to file a similar issue.

Deleting a sketch that is within a collection causes the browser to freeze when trying to view the collection the sketch was in.

[2020-06-24 21:13] wetmore commented on #1234
Not sure if there is a better issue to add this on to, but when I was writing a sketch using a webworker using a file worker.js, any edits to worker.js wouldn't be reflected in the cache. Edits to sketch.js were updated fine. Whenever I ran the sketch, a stale version of worker.js would be used. As a workaround I had to duplicate the sketch to get a new ID for it in order to get the latest version

[2020-06-24 22:47] dhoizner opened #1473 "fetch-examples fails due to invalid url"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Operating System: macOS 10.15.5
- Steps to reproduce this bug:
`npm run fetch-examples` fails due to renaming of main branch, the `.replace` needs to be updated from 'master' to 'main'.

[2020-06-25 03:35] dhoizner commented on #1463
One of the problems here is that the url for `start.jpg` ends in a `1.jpg`, which is the name of the second file 🙊 (see below), - this means that when the value for `1.jpg` is being resolved, it gets appended into the url for `start.jpg` rather in the correct place. Will continue looking at this tomorrow :).

[code]

[2020-06-25 14:36] kjhollen commented on #1463
Wow, great find!

[2020-06-25 18:36] chung-ken commented on #1463
Dan, that was a really interesting find.  When I changed the "#.jpg" names
to "pic#.jpg" - leaving start.jpg alone, the initial image loaded.

How do you access the actual path for each picture/asset?

On Thu, Jun 25, 2020 at 10:36 AM kate hollenbach <notifications@github.com>
wrote:

[2020-06-25 19:14] dhoizner commented on #1463
Hi @chung-ken, if you look at the page source after you run your sketch, you'll see your sketch javascript in the tag for `<iframe id="canvas_frame".../>` with the urls for loadImage interpolated from the asset name to the url. it doesn't seem like there's an easier way in the UI.

[2020-06-27 06:51] dhoizner commented on #1465
For anyone looking at this: this is happening due to references to a project within a collection don't get cleaned up when the project (sketch) gets deleted.

I've spent the better part of yesterday and today trying to get this working and have gotten part of the way there, but lack of familiarity with mongo and react/redux are slowing me down 😓.

Current thoughts: we should:

1. Clean up invalid

[2020-06-27 11:05] andrewn commented on #1465
Hi, thanks so much for looking into this! Sorry to hear it’s slow going.

I think that you’re right, this should happen at the API level so the client just receives valid collections containing no sketches.

I think filtering deleted sketches from collections at the API level is a good solution to this bug.

The [list collections](https://github.com/processing/p5.js-web-editor/blob/develop/server/

[2020-06-28 21:00] Gabriel-Haydar opened #1479 "Extremely important sketch OVERWRITTEN after pressing FILE/NEW"
- Found a bug

#### Details about the bug:

- Web browser and version: Microsoft Edge -->
- Operating System: Windows 10 1909
- Steps to reproduce this bug:

Sketch OVERWRITTEN after pressing FILE/NEW. Even the name that was "O Mergulho Perigoso" changed to "Wary Cuckoo". I just wanted to check the background() function on a new sketch, so I saved my 1 week very important project, that I am to sub

[2020-06-29 11:19] andrewn commented on #1465
@dhoizner I thought about this a bit more and think a better approach is to:
- show that a sketch has been _deleted_ in the collection list
- allow the user to manually delete the sketch if they want

This is a much simpler implementation and also means that sketches don't "disappear" which might be confusing for collection owners?

I opened #1480 that does this. What do you think?

[2020-06-29 11:48] andrewn commented on #1454
@Phe0 I've opened  #1477 which replaces Enzyme with React Testing Library. Let me know what you think!

[2020-06-29 12:34] andrewn commented on #1447
Thanks for doing such thorough research into the options. It seems like react-18next has a lot of

Looking into it a bit more, it seems that react-i18next doesn't do date formatting at all? They [defer to a 3rd party library](https://www.i18next.com/translation-function/formatting). We use [date-fns](https://date-fns.org/) in the Editor so would be good to figure out how that would work.

This is

[2020-06-29 12:53] andrewn commented on #1466
Hi @chung-ken, thanks for opening this issue!

Can I just clarify, is the issue that new sketches in the Web Editor isn't using the latest version of the p5.js library (1.0.0)?

Or is it that the p5.js library itself doesn't work with the touches array?

[2020-06-29 13:21] chung-ken commented on #1466
@andrewn, thanks for getting back!

So the touches array always works on android devices and desktop/laptop computers with all versions of the p5.js library.
I couldn't figure out why sketches using touch screen apple devices weren't working.  After some testing, I realized that the newer versions of the p5.js library stopped supporting touches on those devices.

I can only speak to what I see
Spe

[2020-06-29 13:23] chung-ken commented on #1466
@andrewn Is there a 1.0.0 version of p5.js?
Open a new sketch on https://editor.p5js.org/
You'll see that the index.html file has:
../libs/p5.js/0.10.2/p5.js

[2020-06-29 15:58] hachicom opened #1481 "Editor is down (502 Bad Request)"
#### Nature of issue?

- Found a bug

#### Details about the bug:

When trying to access web Editor, it returns error 502, bad gateway

- Web browser and version: Chrome - 83.0.4103.116 (Versão oficial) 64 bits (cohort: Stable)
- Operating System: Windows 10 Home
- Steps to reproduce this bug: accessing https://editor.p5js.org/

[2020-06-29 19:44] catarak commented on #1468
Hi @kkrithika! Do you want to delete your account entirely, or do you want to simply remove its connection to your GitHub account? Either way, let me know what your username is.

[2020-06-29 19:45] catarak commented on #1481
It seems to be back up! Sorry about that.

[2020-06-29 19:45] #1481 closed

[2020-06-29 19:54] kkrithika commented on #1468
I would like to delete my account entirely! Thank you!

[2020-06-29 20:02] #1441 closed

[2020-06-29 20:32] catarak commented on #1468
Your account has been deleted!

[2020-06-29 20:32] #1468 closed

[2020-06-29 20:40] violetcraze commented on #883
Hey @catarak would be interested in working on this. Was thinking of adding [Open Dyslexic](https://www.opendyslexic.org/) (which has a mono spaced version) as an option in the accessibility panel.

Let me know what you think. Happy to do more research or just start working on it.

[2020-06-29 20:43] catarak opened #1482 "Toast Messaging"
#### Nature of issue?

- New feature request

#### New feature details:

Issues like #1313 have illuminated that this project needs better messaging, especially for errors. So my question is, when should a Toast appear and when should it not? What is helpful to a user and what is annoying?

[2020-06-29 20:46] catarak commented on #1470
Your account as been deleted!

[2020-06-29 20:46] #1470 closed

[2020-06-29 21:01] catarak commented on #1482
I will merge in #1393 because it seems important and obvious.

[2020-06-29 21:07] #1393 closed

[2020-06-29 21:48] catarak commented on #1234
@wetmore I think you're in the right place! Thanks for the additional info.

[2020-06-29 22:11] catarak commented on #1234
I think the solution here is to add a header in the response from the server. Specifically, I was looking at how Glitch.com handles this. Glitch adds the header `cache-control: public, max-age=0`. I'm going to try this out!

[2020-06-29 22:24] #1234 closed

[2020-06-29 22:25] catarak commented on #1234
It worked 😄 This will be fixed for the next release.

[2020-06-29 22:26] catarak commented on #1473
Thanks for reporting!

[2020-06-29 22:33] #1473 closed

[2020-06-29 23:22] #1205 closed

[2020-06-29 23:22] #1217 closed

[2020-06-29 23:22] #1463 closed

[2020-06-30 18:54] catarak commented on #1479
I'm really sorry that happened! I'm unfortunately not going to be able to restore your sketch to its previous work. If possible, would you be able to list in more detail exactly what happened? This will help me fix the bug. For example, did you have your old sketch open and click "new"? Did you have it open in multiple tabs?

[2020-06-30 20:34] catarak commented on #1465
I had a chance to look at this issue and the PR (#1480). I think the solution you (@andrewn) tried out is okay for now, and maybe a longer term solution would be to alter the data structure of sketches to store an array of collection objectids that they are in? What do y'all think?

[2020-06-30 21:34] ghalestrilo opened #1484 "Panel color in all themes"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Following discussion from #1467 , `Panels` are deeper colored layout containers, like the Console Header (on IDE Screen) and the Mobile Header and Footer components

As it stands, their background color is very similar to the background of `Button` components, which is a problem if we want to place a `Button`

[2020-06-30 21:38] nanselmo commented on #1361
Hi, I'm experiencing the same error. I can create a new file, but don't see an option to upload a file.

Details about the bug:
p5.js version: - the official p5 editor
Web browser and version: Google Chrome
Operating System: Chrome OS
Steps to reproduce this:
Create a new project -> Add folder -> Click arrow-down menu by Sketch Files and you won't see upload file option

[2020-06-30 21:41] andrewn commented on #1465
@catarak For me it depends on what the the goal of the data structure change would be?

At the moment, having collections maintain a list of sketches means that a sketch doesn’t need to be aware of collections at all, which I think helps keep the code simpler.

I’m not a mongo expert, but I think we need to [avoid arrays that grow without limit](https://docs.mongodb.com/manual/tutorial/model-refer

[2020-06-30 21:41] nanselmo commented on #1361
I read https://github.com/processing/p5.js-web-editor/issues/825, and I realize I was not logged in. Apologies.

[2020-06-30 22:23] ghalestrilo opened #1485 "Auto-streching behavior on Mobile Preview Screen"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Following discussion from #1472 , we have to decide on a sizing behavior for the sketch rendering canvas in mobile mode. Should it auto-stretch (`cover`), fit within screen dimensions (`contain`) or overflow?

@catarak suggested we initialize the sketch with full-screen dimensions, and let the user change at

[2020-07-01 13:38] Wildernesss opened #1486 "Multiple html pages and CSS sketch with editor.p5js.org"
Hi everybody,

I've used the p5.js online editor with my students for remote teaching during the covid19 period. And it's really a great tool that simplify programming learning! Thanks a lot all its developpers!

Teaching not only programming but also HTML/CSS, p5js editor is also very nice to create a first HTML/CSS page, to test it and publish it online. After having learned how to make an HTML

[2020-07-01 17:47] catarak commented on #1465
The goal of the data structure would be to make it easier to deal with deleting a sketch, so that it would be easy to iterate through all of the collections that sketch is in and update them.

I did a little research about the best way to handle Many-to-Many relationships in MongoDB, and apparently you can do one way references (like what we have now) or two way references (see [Many-to-Many](http

[2020-07-01 18:17] catarak commented on #1466
@chung-ken there is a 1.0.0 version of p5.js! There's currently an issue with the p5.js CDN (see https://github.com/processing/p5.js/issues/4485) so the web editor is currently linking to 0.10.2.

I tried running your sketch outside of the web editor on an iOS device for comparison. Here is what I noticed:
- The sketch works with v0.10.2, standalone
- The sketch works with v0.5.11, standalone
- Th

[2020-07-01 19:36] catarak commented on #883
Thanks @violetcraze! I think this is an important issue and I'd like to approach it with care and thought before jumping to a solution.

I think it would make sense to do some research to know if adding the option of a different font is helpful! There are options, and while it doesn't seem like there's a one size fits all solution for folks with dyslexia, maybe there are choices that a significant

[2020-07-01 19:53] catarak commented on #1485
Even though it's ugly, I think the least confusing thing to do is to have the canvas overflow. When a user is working on a sketch, I think they will want to know what it actually looks like on different devices.

I think it would be rad, if possible, to change the default `sketch.js` if a user creates a new sketch on mobile. I looked at the Processing iOS app and by default, on a p5.js the size of

[2020-07-01 20:13] catarak commented on #1486
Hi @Wildernesss! Thanks for opening an issue.

The web editor wasn't designed with multiple HTML pages in mind, so handling your use case is a little tricky. This has come up in the past (see #145) and I'm not really sure how to handle it!

That being said, I think that (1) could be fixed, recently #1218 was fixed but it seems like it's not working right.

[2020-07-01 20:30] ghalestrilo opened #1487 "[Mobile] Crash when leaving SketchView before sketch loads"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
  - Brave 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit)
  - Brave 1.5.123 Chromium: 80.0.3987.119 (Official Build) (32-bit)

- Operating System:
  - ubuntu 19.04 disco
  - Android 9 (Redmi Note 7)

- Steps to reproduce this bug:

  - Access `/mobile`
  - Press the `PlayIcon` (triangle, far-rig

[2020-07-01 20:43] Wildernesss commented on #1486
Hi @catarak! Thanks a lot for your insight! It would be great if the (1) issue could be fixed with a correct mime type into header for CSS file ! And thanks again for all the work of the Editor team: really a great and motivating tool to introduce programming and web to highschool students!

[2020-07-02 08:10] andrewn commented on #1465
Having a sketch having a maximum arbitrary limit of collections doesn't feel right to me.

We could do a query using the current data structure:
`Collection.find({ 'items.project': project._id })`

This is probably slower, but maybe a good trade-off if deleting a sketch doesn't have to be ultra-fast?

[2020-07-02 18:12] ghalestrilo commented on #65
@shiffman would love your opinion on the progress being made :)

Previewing the mobile layout:
- Checkout into the `develop` branch
- Run the command: `MOBILE_ENABLED=true npm start`
- Access the `/mobile` endpoint

[2020-07-02 18:42] violetcraze commented on #883
Well I think it's good you suggested research. I read three articles written by programmers with dyslexia.

- [https://datacarpentry.org/blog/2017/09/coding-and-dyslexia](https://datacarpentry.org/blog/2017/09/coding-and-dyslexia)
- [https://medium.com/helpful-human/embracing-dyslexia-as-a-software-engineer-86419a94bd94](https://medium.com/helpful-human/embracing-dyslexia-as-a-software-engineer-86

[2020-07-02 19:19] saijatin28 commented on #1449
Hey! @catarak . What do you think about placing ![](https://user-images.githubusercontent.com/16418450/85082787-30799180-b18d-11ea-947b-3940efc98e15.png) **in between** the pause button and the auto refresh check box.
![image](https://user-images.githubusercontent.com/39066840/86400253-e84a8b00-bcc5-11ea-9f6e-2d900bfc7270.png)

Upon clicking this icon :
1. We could have the link to the collection

[2020-07-02 20:50] L64Dragon opened #1489 "Have to Keep Resetting p5js Password"
Every Time I try to login to my p5js account I have to reset my password. Also WEBGL won't work; I keep getting an error.

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-07-03 13:59] oruburos commented on #1489
Does this happened in your local environment or in production?

[2020-07-06 09:36] #1434 closed

[2020-07-06 09:36] #1447 closed

[2020-07-06 16:40] #1432 closed

[2020-07-06 16:59] catarak commented on #1465
I don't think it needs to be fast! It's already a little slow if a sketch has a bunch of stuff uploaded to the asset storage. I've wondered if there is a way to run all of the deletion tasks in the background, since it's not really important for a user to wait around for them to be done. I guess this is what a message queue is for?

[2020-07-06 17:09] #1465 closed

[2020-07-06 18:17] catarak commented on #65
@ghalestrilo let's instead set up the staging server so that we can have folks test mobile!

[2020-07-06 18:22] catarak commented on #65
@ghalestrilo i just enabled the `/mobile` route on the staging server

[2020-07-06 18:47] catarak commented on #883
Thank you @violetcraze! This is super helpful. It's also just helpful context in thinking about what features to prioritize within the web editor. There are lots of other browser-based code editors out there, and I think often about how to make the p5.js web editor it's own thing. I keep coming back to access (as accessibility and inclusion), and therefore I'd like to prioritize features that incr

[2020-07-06 18:49] catarak commented on #1449
For me, when I click on the input box, it copies it to my clipboard, and a message appears that says "Copied to Clipboard". Does that not happen for you? If so, that is a bug.

[2020-07-06 18:55] catarak commented on #1489
Thanks for reporting! I think it is likely this is realted to #1314, which I unfortunately still haven't figured out a good way to fix.

[2020-07-06 19:11] saijatin28 commented on #1449
No! You're right @catarak . I just realised that I had to click the input box for it to copy it to the clipboard.
Earlier I was expecting it to copy to the clipboard when I clicked the share button.

[2020-07-06 19:20] #1487 closed

[2020-07-09 16:27] catarak commented on #1449
No worries!!

[2020-07-13 05:10] nnja commented on #1443
I ran into this issue today as well. Looks like this missed the June 10th release by a few days. Any idea when the next release might be?

I would offer to update the docs for `save`, `saveCanvas`, etc to notify users that this functionality currently doesn't work in chrome but it looks like the docs are tied to the code / release schedule.

[2020-07-13 15:31] catarak commented on #1443
@nnja it will be this week!

[2020-07-13 20:45] catarak commented on #1443
@nnja actually I was able to do a release today, so now this is fixed in production 😄

[2020-07-13 21:02] catarak opened #1492 "Translations missing in Nav"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
As an authenticated user, the options in the right-most dropdown aren't rendered correctly.

<img width="279" alt="Screen Shot 2020-07-13 at 4 58 56 PM" src="https://user-images.githubusercontent.com/6063380/87353169-4bd88200-c52a-11ea-9e

[2020-07-13 21:21] #1492 closed

[2020-07-13 23:26] jordanja commented on #704
Hey, has anyone completed this? It seems to still be an issue in the live website.

If not, I'll try take a stab at it as my first open source contribution.

[2020-07-14 00:25] brytlao commented on #1443
I confirmed that it works. Thank you 😄

[2020-07-14 14:26] catarak commented on #704
@jordanja it hasn't been fixed! you can absolutely go ahead and work on it 😄

[2020-07-15 20:51] ghalestrilo opened #1496 "Refactor <Console /> into a Container"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

`connect`ing the `<Console />` will simplify its host components (IDEView, MobileIDEView) a lot, by separating concerns. This will ease their refactors.

[2020-07-15 20:52] ghalestrilo opened #1497 "Add Console to Mobile Views"
Part of the Mobile Web Editor project. Depends on #1496

#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The Console is not available on mobile views yet, so the user can't know what went wrong when running sketches. It must be added to the MobileIDEView.

[2020-07-15 21:20] ghalestrilo opened #1498 "Update react-redux to 7.1.0"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

We want to use redux hooks for our containers. This require `react-redux` > 7.1.0.

[2020-07-16 14:51] rjitsu opened #1499 "Self closing brackets"
#### Nature of issue?

- New feature request

#### New feature details:

All brackets such as curly braces, round brackets and square brackets should be autocompleted,as this is a feature most programmers are used to.

[2020-07-16 18:27] catarak commented on #1498
I can try upgrading and see how far I get? What do you think?

[2020-07-16 18:33] catarak commented on #1499
Thanks for the suggestion! This issue has come up before and I've been on the fence about it (see #941). My initial reaction was not to add it, but my feeling right now is that it's so common in all code editors it doesn't feel right without it. Since this is a duplicate issue, I'm going to close it, but I'm going to mark #941 as a good first issue 😄

[2020-07-16 18:33] #1499 closed

[2020-07-16 18:55] ghalestrilo commented on #1498
This would be great! Ping me if you need help

[2020-07-16 20:49] #1385 closed

[2020-07-16 20:50] #1310 closed

[2020-07-16 20:56] catarak opened #1500 "When duplicating a sketch, media files are not copied"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
1. Create a new sketch
2. Upload an image file
3. Save the sketch
4. Duplicate the sketch
5. The new sketch links to the old original AWS bucket file. This is an issue because if either one of the sketches gets deleted, then the media fil

[2020-07-16 21:10] #1500 closed

[2020-07-20 18:16] #1314 closed

[2020-07-20 18:17] #1498 closed

[2020-07-20 18:28] catarak opened #1505 "Translation files not served from endpoints other than "/""
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
1. Navigate to any endpoint that is not `/`, e.g. https://editor.p5js.org/cassie/sketches/Wyu-U_0zn
2. Look at all of the requests that the website makes
3. Notice that the `translation.json` files return 404

cc @oruburos && @andrewn

Si

[2020-07-20 18:38] #1505 closed

[2020-07-21 20:49] #1496 closed

[2020-07-21 21:07] ghalestrilo opened #1508 "(Mobile) Catch sketch errors and prevent navigation to sketch view"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Right now, when the user presses the Play icon, to the right of the header on the `<MobileIDEView />`, the app navigates to `MobileSketchView`, where the user is finally notified of the error.
This is bad UX - what we want to do is **prevent** this navigation if there are errors.

[2020-07-21 21:39] ghalestrilo commented on #1508
Relevant files:
`/client/modules/IDE/reducers/console.js`
`/client/modules/IDE/components/Console.jsx`, the `.map((consoleEvent) => { ... }` loop has a `method` value, which notifies errors.

[2020-07-22 00:41] oruburos opened #1509 "Inclusive Language Spanish Translation"
#### Nature of issue?
- Request For Comments

#### Feature enhancement details:

I have been working in a translation effort for the web editor (for Latin Spanish #595) and I want to ask the community (particularly people from Latin America) for their comments on how to tackle the following text within the web editor.
Basically, translating to a highly gendered language like Spanish comes with a d

[2020-07-22 08:42] andrewn commented on #1509
This is a really important issue to think about, so thanks for raising it.

I can't speak about the Spanish language, but from a technical point of view:

- Is this an issue with "tablets" only or all screen readers?
- Can you try some of your language suggestions in different screen readers. [VoiceOver](https://support.apple.com/en-gb/guide/voiceover-guide/welcome/web) is built into macOs/iOS so

[2020-07-22 15:53] catarak commented on #1509
@lm-n may have some insight with respect to Spanish and screen readers!

I also would like to invite @montoyamoraga to comment since they've done a lot of the p5.js Spanish translations so far.

[2020-07-22 15:57] andrewn commented on #1505
@catarak Sorry about this, I should have spotted that. Thanks for fixing!

[2020-07-24 10:50] philipkrueger commented on #420
For those who are searching: It was not playing from my local python server. As I moved to my ftp everything is working...

[2020-07-24 12:59] SundeepChand opened #1512 "The search list of sketches & collections do not reset back to original state (does not show all the sketches & collections) after search field becomes empty after a search."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: On Chrome 84.0.4147.89 (Official Build) (64-bit)
- Operating System: Windows 10 OS Version 1909 (Build 18363.959)
- The search list of sketches & collections do not reset back to original state (does not show all the sketches & collections) after the search field becomes empty after a search. They reset t

[2020-07-24 13:42] montoyamoraga commented on #1509
hi @oruburos thank you for your thoughtful comments!

i agree with not using the usual "o" male version

the approach of using X (and @), as in, amigxs, amig@s
work in writing but not in pronunciation,

i would go with adopting the "E" approach,
i see a big adoption of it in my Spanish speaking friends and collaborators

and i am happy to do a read through / revision of anything you translate,
or

[2020-07-24 14:55] lm-n commented on #1509
Hi @oruburos! Thanks for considering these important issues that come up with translations!

For screen-readers it is better to use standard LatAm Spanish language as much as possible. Some screen-readers will read Latinx as "Lati ene equis" which, as you can imagine, may sound confusing. BTW the same happens with Latinx in English language.

My approach would be to try to avoid the situations tha

[2020-07-24 20:42] ghalestrilo opened #1514 "Fix PropTypes linting errors"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

Some invalid PropType declarations (`array.isRequired` and `object.isRequired`) somehow ended up on develop. In order not to block development because of this, I disabled these lines with `// eslint-disable-line`, but it's still tech debt to be addressed. Below are the files we s

[2020-07-27 00:48] Guillaume57 opened #1516 "No longer able to use files bigger than 80KB"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Hello,

I have a project that I'm working on, it was still working fine 2 or 3 days ago, but now, even I didn't modify anything since then, I get errors about JSZip which is an external library that I included in my project by uploading the file "jszip.min.js" which is about 100KB. When looking at the Chrome dev console, I can now

[2020-07-27 02:58] wowkster opened #1517 "Weird JavaScript Behavior"
#### Nature of issue?
Strange JavaScript behavior only observed in the p5js web editor

- Found a bug

#### Details about the bug:

- Web browser and version: Microsoft Edge Version: 84.0.522.44 (JavaScript Version: V8 8.4.371.19)
- Operating System: Windows 10 x64
- Steps to reproduce this bug: In the p5js web editor type in the following code:

[code]
It prints the same thing twice ([6, 4, 3, 2,

[2020-07-27 03:29] Guillaume57 commented on #1517
Hello,

Yes, it's a known issue but has nothing to do with p5.js, basically it's because console.log is asynchronous. If you replace it with alert() you will see correct result, but if you want to use console.log you will have to print a copy of the array
[code]

[2020-07-27 15:53] catarak commented on #1512
Thanks for reporting! This is indeed a bug. Go ahead and work on it!

[2020-07-27 15:54] catarak commented on #1514
Great idea 😄

[2020-07-27 17:03] catarak commented on #1516
Thanks for reporting! I think this is actually a bug. The 80KB limit is actually meant to be on text files that you can _edit_ within the web editor, and the limit for files that you can upload is 5MB. When files are bigger than 80MB, they are hosted in an S3 bucket rather than in the database and cannot be edited in the web editor.

It seems like there are CORS issues with scripts stored on the S

[2020-07-27 17:04] catarak commented on #1517
Thanks for reporting! This is a duplicate of #1203 I think.

[2020-07-27 17:05] #1517 closed

[2020-07-27 20:26] oruburos commented on #1509
Thank you all for your comments, the feedback is great.

In my tests (using ChromeVox Classic Extension and Voice Over) I also ran in the problematic regarding X vs E.
So, I will update the labels trying to avoid this problematic, and if in any moment it is present, I'll follow the -e approach.

Regarding the labels, some of them are in :  https://github.com/processing/p5.js-web-editor/blob/develo

[2020-07-27 21:21] montoyamoraga commented on #1509
thank you @oruburos sounds great!

i read through the labels, and i would change the wording of the last one to avoid the "estás seguro" part, and also to make it shorter, what about

"¿Confirmas que quieres salir de la página? Tienes cambios sin guardar."
or
¿Realmente quieres salir de la página? Tienes cambios sin guardar."

:)

[2020-07-28 01:35] oruburos commented on #1509
Cool, you're right, shorter is better. It will be included in my next PR. Thanks for the comment.

[2020-07-28 05:58] aferriss opened #1519 "Feature Enhancement - Add Find and replace command"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Hi there! I'd like to propose that a find and replace feature could be added to the editor. Currently we have a find function, as well as find next and find previous, but I think it'd be super handy to also be able to find and replace either single or all instances of a search query. This might also mean some

[2020-07-28 14:51] catarak commented on #1519
Thanks for the suggestion 😸 This is built into CodeMirror ([demo](https://codemirror.net/demo/search.html)) so I don't think this would be too hard to implement! In fact, if you look at the code for the [Search popup](https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/codemirror-search.js), some code that handles replace is commented out. The hardest part would be adding in t

[2020-07-28 15:28] #1512 closed

[2020-07-28 17:19] dipamsen opened #1520 "console.table display bug"
#### Nature of issue?

- Found a bug

#### Details about the bug:
`console.table` does not display properly in console window.

![image](https://user-images.githubusercontent.com/59444569/88699035-73336f80-d124-11ea-935a-7e1546213035.png)

[2020-07-28 19:42] catarak commented on #1520
Thanks for reporting!

[2020-07-29 03:49] bmoren commented on #1337
Just saw this, and it seemed very relevant to this issue: https://github.com/convergencelabs/codemirror-collab-ext

[2020-07-29 20:10] aariyan876 opened #1521 "p5.editor"

[2020-07-29 22:04] andrewragy commented on #1520
I can't seem to find seem to find the console table jsx element.

[2020-07-30 04:47] neelesh7singh commented on #704
@jordanja are you still working on this issue?

[2020-07-30 10:06] andrewragy opened #1522 "Add Emmet integration"
#### Nature of issue?

- New feature request

#### New feature details: Add Emmet integration to HTML documents

[2020-07-30 16:24] TheWizardBear opened #1523 "Use latest p5.js version when creating a new project"
At the moment the latest version of p5.js is `1.1.9`, yet the editor still uses `0.10.2`.
It would be useful if the website used the latest version by default, as otherwise the version number has to  be manually changed it if the most recent version of p5.js is wanted.

[2020-07-30 16:59] catarak commented on #1521
Hi @aariyan876! This issue is missing any bug or feature information and therefore I'm going to close it. Please re-open or create a new issue if you would like to report a bug or suggest a feature!

[2020-07-30 16:59] #1521 closed

[2020-07-30 17:00] catarak commented on #1520
@andrewragy console.table is rendered using the [console-feed](https://www.npmjs.com/package/console-feed) library!

[2020-07-30 17:32] catarak commented on #1522
Thanks for the suggestion! I would be interested in adding Emmet integration—it's a nice too that if you don't know about it, it doesn't get in your way at all (and you wouldn't need to turn it off because it's confusing to newcomers), but if you do, it's really useful! Emmet has even made a [CodeMirror plugin](https://github.com/emmetio/codemirror-plugin) so I think this wouldn't be a ton of effo

[2020-07-30 17:33] catarak commented on #1522
Open to other thoughts about Emmet!

[2020-07-30 17:35] catarak commented on #1523
Thanks for the suggestion! There was an issue with the p5.js CDN for 1.0, but I think with the 1.1 release that is resolved, see #1397.

[2020-07-30 17:45] #1523 closed

[2020-07-30 17:47] #1396 closed

[2020-07-30 17:47] catarak commented on #1396
This will be fixed for the next release 🎉

[2020-07-30 19:01] ghalestrilo opened #1524 "Improve Mobile Routing"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

A lot of code is being duplicated in order to implement the Mobile Views, and this may not be necessary. See `server.routes.js` and `routes.jsx`. Maybe switching the views on `routes.jsx` is enough, and the mobile views can benefit from the server routes already in place.

[2020-07-30 19:24] ghalestrilo commented on #1524
One way to achieve this is by querying the `window` width and height to decide which views to render. Someone came up with a [hook](https://usehooks.com/useWindowSize/) for this.

[2020-07-30 20:40] catarak opened #1526 "File names overflow wrap in Sidebar"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
<img width="479" alt="Screen Shot 2020-07-30 at 4 31 10 PM" src="https://user-images.githubusercontent.com/6063380/88972199-2f0ab100-d283-11ea-8717-5784e4a40565.png">

If you create a file with a name longer than the width of the file Sid

[2020-07-31 06:49] neelesh7singh commented on #704
Hey, @catarak I made a few changes in the file reducer and got this results -

![Screenshot from 2020-07-30 22-31-00](https://user-images.githubusercontent.com/42792434/89008235-f670e300-d327-11ea-8740-70dd662e9e6a.png)

Is this fine??

[2020-07-31 22:05] RadheTians commented on #1519
Hello @aferriss and @catarak!!
Can I please follow up on this issue?

[2020-07-31 22:54] andrewragy commented on #1520
I have a question: why doesn't the editor use the monacco editor, it's newer than codemirror and has a more modern ui

[2020-07-31 23:05] andrewragy commented on #1522
I have a question: why doesn't the editor use the monaco editor, it's newer than codemirror and has a more modern ui

[2020-08-02 03:51] rtoal commented on #1523
Good news. It looks like the version change has been merged but not deployed due to a Travis PR build error. Hopefully we'll see it live soon!

[2020-08-03 01:28] josephmwells commented on #568
I'm going to try and tackle this.

Quick question, can we just use mongoose validators such as `minlength`  and `maxlength` found [here](https://mongoosejs.com/docs/schematypes.html#string-validators) ? These will throw an error which can be caught and sent back to the client. (I haven't checked to see how validation errors are currently being handled.)

[2020-08-03 16:18] catarak commented on #1523
It'll be pushed to production with the next release (sometime this week)!

[2020-08-03 16:23] catarak commented on #704
@neelesh7singh yes! make a PR so I can review your code 😸

[2020-08-03 17:06] catarak commented on #1519
@RadheTians absolutely! Feel free to work on it.

[2020-08-03 17:08] catarak commented on #1522
The big issue is that the Monaco editor is not screen reader accessible.

[2020-08-03 17:16] catarak commented on #568
@josephmwells using the validators makes sense to me! Also for this issue, it is referring to specifically the sketch title. It would be a separate issue/PR for the sketch files.

[2020-08-03 17:45] RadheTians commented on #1519
Thanks for confirmation @catarak.

[2020-08-05 19:16] #704 closed

[2020-08-05 19:18] catarak opened #1532 "Deleting file triggers stale project warning"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:

1. Create a new sketch
2. Save it
3. Create a new file (like`a.js` or something simple)
4. Save the sketch
5. Delete `a.js`
6. Save the sketch

The API request will return a 409 error—this is because the `DELETE` call doesn't return the

[2020-08-05 21:29] #1532 closed

[2020-08-05 21:59] oruburos commented on #1509
@montoyamoraga  , @lm-n

Hi again,  How do you usually translate Modals in Spanish ?
option 1: Diálogo
option 2: Modal
option 3: ???

[2020-08-05 23:49] montoyamoraga commented on #1509
hi @oruburos i don't understand the context of "modal", can i see the original? or a screenshot? thanks!

[2020-08-06 00:43] #1526 closed

[2020-08-06 10:57] Trisston-Coder opened #1534 "NOT DUPLICATING"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-08-06 16:19] catarak commented on #1534
Hi @Trisston-Coder! Can you please add the specific sketch that you can't duplicate? I'm not able to figure out what the bug is unless you add steps to reproduce. I just tried duplicating a sketch and it's working for me.

[2020-08-06 16:19] #568 closed

[2020-08-07 12:31] oruburos commented on #1509
Hi, @montoyamoraga sorry for the lack of context. By "Modal" I mean the small dialogs that appear in some actions, for instance in this screen capture they are shown when you try to create a file or folder under Sketch menu.

![modal](https://user-images.githubusercontent.com/718254/89645617-123d3180-d8b2-11ea-8f10-9cc6971063f8.gif)

[2020-08-07 18:31] montoyamoraga commented on #1509
hi @oruburos, thank you for the explanation and gif! :)

i have seen them in Spanish as "diálogo" or the longer"ventana de diálogo", from "dialog window"

on Wikipedia i found "Modal window" in English, with no corresponding translated article to Spanish,
i had no idea they were called "Modal", at all :)
maybe it makes sense to also use Modal in Spanish, i prefer translations that are really close

[2020-08-08 08:41] neelesh7singh commented on #1292
I would like to work on this issue if no one is working.

I don't think we can override Ctrl + N on chrome

[2020-08-08 12:50] Trisston-Coder commented on #1534
OK i will send the link
:- https://editor.p5js.org/rupin/sketches/cfYLG68g

[2020-08-10 09:11] dipamsen opened #1540 "Migrate from JSHint to ESLint for linting in CodeMirror"
#### Nature of issue?
p5 Web Editor doesn't support [Private Class Fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields)

- Enhancement

(Private Class Fields is probably a new thing)
### Note that **[Private Class fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields)** is *"an experimental proposal

[2020-08-11 16:35] SundeepChand commented on #1519
Hello @RadheTians! Just wanted to ask are you working on this? If not then, I would like to do it.

[2020-08-11 18:02] catarak opened #1541 "Console doesn't scroll to bottom to reveal new messages"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
1. Create a sketch that prints lots of messages to the console (i.e. `print()` in the `draw()` loop)
2. Open the console
3. Notice that the console doesn't scroll to the bottom, so it's hard to see new messages.

I believe this was introd

[2020-08-11 18:49] catarak opened #1542 ""Add Sketch to Collection" Popup styling bug on Dark and High Contrast themes"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:
1. Change the web editor to the "high contrast" or "dark" theme from the preferences
2. Open "My Collections"
3. Click on the arrow next to a collection, then click "Add Sketch"
4. The table is missing the alternating stripes design.

<im

[2020-08-11 19:28] catarak commented on #1292
I tried testing this on CodeSandbox, which says that it has the keyboard shortcut cmd/ctrl + N for a new file. When you try this shortcut, on Chrome and Firefox, it just opens a new browser window.

You are welcome to work on this! I'd first take some time and think about what a good shortcut would be.

[2020-08-11 19:32] catarak commented on #1534
I'm not even able to load this sketch right now—maybe it's corrupted in the database or something? I will investigate.

[2020-08-11 19:39] catarak commented on #1534
It seems like you deleted this sketch, so I'm going to close this issue.

[2020-08-11 19:39] #1534 closed

[2020-08-11 19:48] catarak commented on #1540
Thanks for reporting! To check for syntax errors in the JavaScript, the web editor uses JSHint, which I believe does not support this yet (see https://github.com/jshint/jshint/issues/3139). We could look into an alternative, like ESLint, which I don't know how to make work on the front end + with CodeMirror.

[2020-08-11 21:05] RadheTians commented on #1519
Hi @SundeepChand !!
I appreciate your interest but currently I am working on it and looking for the way by which I can add code in UI. It would be great if you share your idea so that we can come up with potential pull request.

[2020-08-12 09:02] SundeepChand commented on #1519
Sure @RadheTians, continue working on this. For the UI part, from what I've done so far, changes have to be made in Nav.jsx & Editor.jsx as well as the translations have to be defined in translations.json (under translations directory). Its extremely helpful to use "Find" as a reference.

[2020-08-12 09:10] SundeepChand commented on #1542
Hello @catarak! Can I work on this?

[2020-08-12 13:44] neelesh7singh commented on #1292
Should I make a pr and change the shortcut there or wait before making a pr??

[2020-08-12 19:22] akshay-99 opened #1546 "Web Editor can't capture and display errors for p5.js >= 1.0.0"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:

- Web browser and version: Chrome 83.0.4103.116
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:

For sketches running on p5 versions 0.10.2 and older , the editor is able to capture an error, highlight the line and display the error in the editor console perfectly.
![image](https://user-images.githubusercontent.

[2020-08-13 03:36] yonghuming opened #1548 "error Prop type `array` is forbidden"
[code]
![image](https://user-images.githubusercontent.com/435079/90091517-31780b00-dd59-11ea-9cc3-e23e9477cbd1.png)

- Steps to reproduce this bug:
On Chrome Ubuntu 16.04
the errors occured after npm run

[2020-08-14 07:50] SundeepChand commented on #1542
I looked into the issuse & found that it is caused because, the modal background color matches the stripe color. So I think we should change the stripes to a darker shade.

[2020-08-14 17:45] sanjethgobinath opened #1551 "Random error in program"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
Microsoft Edge version 84.0.522.59
- Operating System:
Windows 10 version 2004

https://editor.p5js.org/sanjethgobinath/sketches/ShY5TYXKQ
![image](https://user-images.githubusercontent.com/69691483/90277634-f5fe3f00-de33-11ea-984a-07c701ed0388.png)

There is supposedly an error on line 2773 but I only ha

[2020-08-14 19:04] RadheTians commented on #1519
Since my placement section is going on, therefore, I'm not able to spend time on this issue so, it's handover to you @SundeepChand.

All the very best!!

[2020-08-15 05:46] SundeepChand commented on #1519
Okay @RadheTians

[2020-08-16 07:19] kylemath commented on #753
agreed, this would be an excellent feature, I collaborate with artists who want to see deployed version but also play with the code in editor , currently I have to push to repo, copy code into live editor,

[2020-08-16 09:06] Trisston-Coder commented on #1534
But the problem has not been solved

[2020-08-17 18:49] catarak commented on #1546
Thanks for reporting! It seems like the code meant to catch JS errors isn't intercepting unhandled promise rejections. This code is located in [consoleUtils.js](https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/consoleUtils.js#L3). Apparently `window.onerror` doesn't catch unhandled promise rejections, and a solution is [proposed here](https://stackoverflow.com/a/55178672).

[2020-08-17 19:21] catarak commented on #1534
@Trisston-Coder i hear you! unfortunately since the sketch has been deleted i have no way to figure out what the issue is. feel free to reopen this issue if it comes up again!

[2020-08-17 19:33] catarak commented on #1292
Feel free to open a PR!

[2020-08-17 19:57] #1541 closed

[2020-08-17 20:02] catarak commented on #1542
Absolutely!

[2020-08-17 20:31] catarak commented on #1548
Thanks for reporting! Which version of Node/React are you using? For me, in development, I'm not seeing these errors, but I think when eventually libraries and Node get updated, this will need to be fixed.

[2020-08-17 20:49] catarak commented on #1551
Thanks for reporting! I believe this is an error in your code from misspelling variable names. On lines 19-29, your variables are spelled "obstacale1", "obstacale2", etc. when they should be "obstacle1", "obstacle2", etc.

[2020-08-17 20:49] #1551 closed

[2020-08-18 08:36] SundeepChand commented on #1542
Thanks for confirmation!

[2020-08-18 22:47] ghalestrilo opened #1558 "Switch between mobile and desktop views"
Currently, the mobile views are accessed through the `/mobile` endpoint, which is not ideal for UX. We should make the app automatically detect which view should render, for those with a mobile counterpart.

  - [x] Install `react-responsive`
  - [x] Add mobile prop to `theme.js` using the `useMediaQuery` hook (minDeviceWidth)
  - [x] Use this to switch between components

[2020-08-18 22:49] ghalestrilo opened #1559 "Internationalize mobile text"
Currently, all texts on mobile views are hard-coded.
Use `i18n` to move these values to the translations file.
Bonus: Provide missing translations

[2020-08-18 22:54] ghalestrilo opened #1560 "Create floating canvas for `MobileIDEView`"
Currently, the user must navigate outside of the `MobileIDEView` in order to render the sketch and get visual feedback from his code. This is not ideal for UX.
Create a small floating component that renders the code (probably a wrapper around `SketchPreview`) and place it on

Careful with how it interacts with the console: maybe switching between them is a good idea

Idea: Press+Hold `Play` button

[2020-08-19 16:04] sanjethgobinath commented on #1551
I would also like to know why it said that there was an error on the
specific line (2773)

On Mon, Aug 17, 2020 at 4:49 PM Cassie Tarakajian <notifications@github.com>
wrote:

*SANJETH GOBINATH*

[2020-08-19 16:27] catarak commented on #1559
btw, you can access the translations on desktop by adding the env variable `TRANSLATIONS_ENABLED=true` to your `.env` file.

[2020-08-19 18:59] catarak commented on #1559
I did some thinking about the design for switching the language, and this is what I have so far:
<img width="376" alt="Screen Shot 2020-08-19 at 2 51 12 PM" src="https://user-images.githubusercontent.com/6063380/90677863-f62f7d80-e22b-11ea-9644-527caeb8db3d.png">

I was thinking it could be in the dropdown menu, which would then open a popup that is similar to this:
![1_msQUOeOtNhqKYi5tvSbZ2w](htt

[2020-08-19 19:21] catarak commented on #1551
@sanjethgobinath unfortunately sometimes coding errors can be confusing and unclear! The line 2773 I think refers to the line of code in the `p5.play.js` library, which is trying to say that the function `addImage()` accepts arguments of type (image) or (label, image). Because your variables `obstacle1`, `obstacle2`, etc. were not getting defined, you were unintentionally passing `undefined` as an

[2020-08-19 19:57] ghalestrilo commented on #1559
I think adding a [translation icon](https://material.io/resources/icons/?search=language&icon=translate&style=baseline) is very helpful

[2020-08-19 20:08] ghalestrilo commented on #1560
The [react-draggable](https://www.npmjs.com/package/react-draggable) should come in handy

[2020-08-19 20:37] catarak commented on #1559
Okay! How would the icon fit into the design?

[2020-08-19 20:55] #1542 closed

[2020-08-19 21:18] ghalestrilo opened #1563 "Cannot create Collection on Mobile"
Right now, there is an option to `Create Collection` on the `MobileDashboardView`, but it does nothing. This is because `:username/collections/create` renders the desktop component, which does not translate well to mobile.

 - [ ] Create a Collection creation popup on the MobileDashboard. Consider using  the `useAsModal` hook for that.
 - [ ] Enable Dropdowns to display buttons (not only links), i

[2020-08-20 18:45] ghalestrilo commented on #1559
I think to the left of the language name / dropdown title is a good idea!
On mobile, it can go to the left of the `Language` dropdown item

[2020-08-20 19:34] ridait commented on #1546
Hello,
I can take a look at this one unless someone is already on it.

[2020-08-25 07:50] andrewn opened #1570 "Add/remove collection buttons not translated"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System: All
- Steps to reproduce this bug:

1. Open a saved sketch
2. Switch to Spanish language
2. Select Archivo -> Agregar a colección

The add/remove buttons should have translated ARIA labels, but they don't (see screenshot below).

<img width="1279" alt="Screenshot 2020-08-25 at 08 48 19

[2020-08-25 07:50] andrewn commented on #1570
This is tested with PR #1569 too.

[2020-08-25 11:47] oruburos commented on #1570
Hi, I've submitted a patch for this issue, now these are values when I inspect them

English

![addEN](https://user-images.githubusercontent.com/718254/91169533-6ed08700-e6cf-11ea-92a5-0734059c01d1.png)

Spanish

![addES](https://user-images.githubusercontent.com/718254/91169542-709a4a80-e6cf-11ea-9989-1af3eb044351.png)

[2020-08-25 15:38] oruburos commented on #1509
@montoyamoraga @lm-n And what do you think about the use of 'Assets' in Spanish? (term that ATM is being used in the Spanish translation)

[2020-08-25 16:05] lm-n commented on #1509
@oruburos hummm... I would probably think of using something like 'recursos' instead of 'assets.' I know they don't mean exactly the same but I would be careful of using a word in English that might limit access.

[2020-08-25 17:57] #1558 closed

[2020-08-25 18:02] ghalestrilo opened #1572 "Mobile Sidebar is colored incorrectly on Dark Theme"
This probably involves `theme.js`. Maybe the component uses it incorrectly, or there are missing props, but needs investigation

[2020-08-25 18:18] ghalestrilo opened #1573 "Fix visual details on Mobile"
Some visual details need an update on the mobile UI. This requires trying things out - If in doubt, use the [figma project](https://www.figma.com/file/4SoaiwasoL3fDlyzfS2JIQ/Second-Iteration?node-id=0%3A1) as reference.

 - [ ] Add p5 logo to the left of the header (mind the different header heights)
 - [ ] Fix some icons
   - `Exit` and `Play` Icons look huge. The svg border is very large - a pos

[2020-08-25 18:24] ghalestrilo opened #1574 "Mobile Help Menu"

[2020-08-25 18:30] ghalestrilo opened #1575 "Mobile file actions on the bottom bar"
The [Figma project](https://www.figma.com/file/4SoaiwasoL3fDlyzfS2JIQ/Second-Iteration?node-id=0%3A1) includes a Bottom Bar component with File-level actions (such as undo, redo, indent, comment, etc.)
These actions are currently achievable through keyboard shortcuts, so gathering the method names from the `handleGlobalKeydown` method is a good way to go.

[2020-08-25 18:50] ghalestrilo opened #1576 "Create a tutorial for mobile (on-screen)"
Some users pointed that an on-screen tutorial / tour of the mobile editor would be very useful. This is a very important feature for beginners with no design attempts / proposals so far.

## Steps

1. Studying how other apps handle this (if they do)
2. Figuring out and ranking most relevant features to introduce
3. Trying out tutorial designs
4. Running user tests, iterating when needed
5. Creatin

[2020-08-25 18:50] ghalestrilo opened #1577 "Mobile textarea draggable caret"

[2020-08-25 22:37] montoyamoraga commented on #1509
hi @oruburos! i agree with @lm-n, let's change "assets" to "recursos" :)

[2020-08-26 12:06] #1570 closed

[2020-08-26 14:08] marksherman opened #1578 "Question: how does the console work?"
Hi, everyone! I'm a professor who teaches intro programming using p5.js. The resources you, and the Processing Foundation produce are fantastic! I got my school to donate to the foundation in support. Thank you.

Anyway, my question. I'm trying to reproduce the Console feature from this web editor in other environments and can't nail down the magic is that lets you capture the console output from

[2020-08-26 17:20] ridait commented on #1546
@catarak I am sorry for the inconvenience, a new PR is created based on `develop` branch.

[2020-08-26 19:03] catarak commented on #1578
Hey Mark! Thanks for your support ✨ I'm using a library called [console-feed](https://www.npmjs.com/package/console-feed), which does a lot of the work, but there's also a lot of other stuff going on, which I can't say is 100% the best and most optimal solution, but it's working for now. I've also been working on finally merging in #667, which makes a lot of improvements to the console, but most i

[2020-08-26 19:08] #1546 closed

[2020-08-27 12:10] oruburos commented on #1509
Ok, so I'll create a PR for this issue then. Thanks for the feedback

[2020-08-27 12:58] ankiiitraj commented on #1520
I found
In chromium -
![Screenshot from 2020-08-27 18-25-43](https://user-images.githubusercontent.com/48787278/91444822-ea2e6600-e892-11ea-820d-a31c6a56926b.png)

In FireFox -
![Screenshot from 2020-08-27 18-26-51](https://user-images.githubusercontent.com/48787278/91444916-07633480-e893-11ea-8d89-c33e4a8d042a.png)

[2020-08-27 15:24] oruburos opened #1584 "Translations for Dates"
- Existing feature enhancement

At this moment translations in the Client-Side for dates are not provided
The dates functionality is provided by

[code]
date-fns has an own way to use locales, but they need to be declared (and present) before use (no fetching based on current language)

#### Feature enhancement details:
* Create a custom wordstonow function to extend current functionality for the

[2020-08-27 17:13] mrgerla opened #1585 "Adding Images to Project"
My students and I can no longer add images to our projects in P5JS. When I click on the add file in the Sketch drop down menu, it no longer gives the option to drag and drop or browse a location on the computer. I have tried Firefox and Chrome, and neither seem to be working anymore.

I couldn't find any recent information on this, as it seems as though it was a problem in the past.

Thank-you for

[2020-08-28 12:15] oruburos opened #1587 "Translation for Server-Side Messages"
- Existing feature enhancement

Messages from server-side operations are not translated
For instance:

#### Feature enhancement details:
In order to not break the API, maybe introducing an extra field in the response to identify the string to display,  and the field that triggers that response, and get the translation in the client, according to the language of the client.

 For example , an extra

[2020-08-28 12:27] oruburos opened #1588 "Translation for Code Mirror Search"
- New feature request

At this point, there are no translations for the Find functionality because it is a particular component in the sense that usual approaches used through the translation effort don't work.
https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/codemirror-search.js
I don't know how to expose it as a React Component, or if that is even required, and could be t

[2020-08-28 12:33] oruburos opened #1589 "Translate generateRandomName"
- Existing feature enhancement

Currently, as soon as you open the editor a random name is generated, both for sketch and collection, using friendly-words
https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/generateRandomName.js

#### Feature enhancement details:
* If the user has different language preferences than English, the random friendly-words need to be gathered from a

[2020-08-28 17:31] ghalestrilo opened #1590 "Connect the <PreviewFrame /> Component"
#### Nature of issue?

- Refactor / Code quality

#### Details

The `<PreviewFrame />` component needs a lot of props, some of which are very specific, which are passed by the `<IDEView />`. Since the component is also used in the `<MobileIDEView />` (and futurely in other components, maybe), it's a good idea to make it into a React Container. This has been done to the `<Editor />` component, and

[2020-08-28 22:32] #1572 closed

[2020-08-29 18:51] neelesh7singh commented on #1003
@catarak what is understand is the new folder/file model should close whenever we click anywhere else, pluse the new file and new folder model should not be opened at the same time.
Is this correct??

[2020-08-30 09:03] dhowe commented on #445
any movement on this? really important for teaching

[2020-08-30 11:45] everythingability commented on #1137
https://www-users.york.ac.uk/~tas509/p5Downloads.png

I get this, failed downloads... My p5js account is full and so I was trying to download a lot of projects. Lots of them fail. Like this one for example

https://editor.p5js.org/tom.smith/sketches/rG16mHfhv

[2020-08-31 07:27] patfr opened #1591 "Saving doesn't work properly"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome version 84.0.4147.110
- Operating System: ChromeOs version 84.0.4147.110
- Steps to reproduce this bug: Open the web editor make a new project and save it then open a new tab and insert the URL for the project and add /index.html to the end now the new tab will show your project but only the versio

[2020-08-31 15:38] marksherman commented on #1578
Thank you very much! This is exactly the information I was hoping for. I wish you luck on the improvements. Having an interactive console will clearly have great educational implications.

[2020-08-31 15:38] #1578 closed

[2020-09-01 07:16] corvanessen opened #1592 "Weather example is using depricated api endpoints"
#### Nature of issue?

- Found a minor bug

#### Details about the bug:

-When running the Weather example it returned an error.
Putting the url directly in the search bar showed the following message:
IMPORTANT - PLEASE UPDATE YOUR API ENDPOINT

 This API endpoint is deprecated and has now been shut down. To keep using the apixu API, please update your integration
  to use the new weatherstack AP

[2020-09-02 17:02] catarak commented on #1585
Thanks for reporting! The location for uploading files has moved—you should now see a dropdown option called "Upload File" that is separate from "Create File". This is available when you have a folder selected or the "Sketch Files":
<img width="312" alt="Screen Shot 2020-09-02 at 1 01 13 PM" src="https://user-images.githubusercontent.com/6063380/92013951-7bcb2700-ed1c-11ea-96ef-53e9ab07bf74.png">

[2020-09-02 17:06] catarak commented on #1587
This makes sense to me! We could also just remove the `message` key and have all of the text be handled client-side.

[2020-09-02 17:07] catarak commented on #1588
I'm not a huge fan of how this component is rendered since it's different from the rest of the application, and it would be rad to figure out how to render it as a React component!

[2020-09-02 17:34] debajitdeb11 commented on #1390
@catarak Can I work on this?

[2020-09-02 17:49] debajitdeb11 commented on #1591
@patfr Hi, I have just done the same on my browser but the **save** option is working fine for me

[2020-09-02 18:33] oruburos commented on #1587
@catarak yes, I agree, but I only had the perspective from the web editor, I didn't know if there were other clients expecting the message field from the server.

[2020-09-02 18:38] catarak commented on #1003
@neelesh7singh that is correct!

[2020-09-02 18:46] catarak commented on #445
There's hasn't been any movement on this and and I hear that it's important to you. I just added the help wanted label so that someone else might pick it up!

Someone was able to get RTF copy in CodeMirror working, see https://discuss.codemirror.net/t/rich-text-copy/695/4

Also, it's not ideal, but one workaround would be to download your sketch and then open it in a different text editor. I just

[2020-09-02 18:49] catarak commented on #1137
Thanks for the additional information!

[2020-09-02 18:51] catarak commented on #1592
Thanks for reporting! The example has been updated on the p5.js website so the script that re-uploads all of the examples just needs to be rerun. I can do that right now!

[2020-09-02 18:59] catarak commented on #1592
This has been fixed 😄

[2020-09-02 18:59] #1592 closed, assigned to nobody

[2020-09-02 19:12] oruburos opened #1593 "Expanding and Collapsing the Sidebar is not working"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:

Google Chrome | 84.0.4147.135 (Official Build) (64-bit) (cohort: Stable)
-- | --
Revision | c42bd09b3f24da1698d71d3b4f57402137163566-refs/branch-heads/4147@{#1102}

- Operating System: OS | Windows 10 OS Version 1909 (Build 18363.1016)

- Steps to reproduce this bug:
Trying to expand the sidebar doesn't

[2020-09-02 19:15] catarak commented on #1593
Thank you! This was introduced in https://github.com/processing/p5.js-web-editor/pull/1544 when the `Editor` was refactored to use `react-redux`.

[2020-09-02 19:21] #1593 closed, assigned to catarak

[2020-09-02 22:10] pavel-b-kr12 opened #1595 "Can't see shaders code"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: all Chromium, FireFox, Opera  tested
- Operating System:  Windows 10
- Steps to reproduce this bug:

open any example with shaders e.g. https://editor.p5js.org/p5/sketches/3D:_shader_as_a_texture
navigate to shader file. Nothing appears.

[2020-09-03 13:57] ghalestrilo opened #1596 "Save Sketch Toast on Mobile"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Currently, the mobile editor can save, but it's missing the toast notification. This is because the `<Toast />` component is missing on `<MobileIDEView />`

[2020-09-03 17:33] catarak commented on #1390
@debajitdeb11 sure! I don't think there's a 100% clear vision of what this should look like, so feel free to throw out some options before getting to coding. What I do know is, I don't like sketches saving automatically when you first open it, I find that it creates a bunch of junk sketches that I have to wade through the ones that I want. I think, instead, it would make sense to direct users to s

[2020-09-03 17:44] catarak commented on #1591
Thanks for reporting! I think this is a cacheing issue rather than a saving issue. The solution would be similar to how https://github.com/processing/p5.js-web-editor/issues/1234 was fixed—adding a header so that the endpoint doesn't get cached ever.

[2020-09-03 17:45] catarak commented on #1587
The API is only being used by the web editor right now!

[2020-09-03 17:54] catarak commented on #1595
Thanks for reporting! It is not clear here, but these files are actually hosted externally to the web editor, and even though it appears they are empty, they are not (see #196). Since these are small text files, they probably should be hosted locally, and this would involve changing the `fetch-examples` script.

[2020-09-03 18:46] andrewn commented on #1587
I was wondering if for the public API, we would want the English language message in addition to the messageKey?

[2020-09-04 08:52] andrewn opened #1599 "Table summaries are not translated"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The `summary` attribute of the tables need to be translated:

- [Collection.jsx](https://github.com/processing/p5.js-web-editor/blob/5af98ca7658e9275f06bd5800e27ba7f272dd00e/client/modules/User/components/Collection.jsx#L374)
- [SketchList.jsx](https://github.com/processing/p5.js-web-editor/blob/5af98ca7658e9

[2020-09-04 12:16] oruburos commented on #1599
Ok, I'm on it. CollectionList has the same issue.

[2020-09-04 16:08] catarak commented on #1587
That makes sense to me! Perhaps it would make sense to open a separate issue about how to handle translations with the public API?

[2020-09-04 19:08] #1003 closed

[2020-09-05 11:02] Wildernesss opened #1604 "List of user sketches visibility (public or private) - education"
#### Nature of issue

- Existing feature enhancement

#### Feature enhancement details:

Hi everyone. I've just discoverd that in p5.js editor when ones clicks on username on the right of sketch name, just after the 'by' (for example 'hello world' by superman) ones gets the list of all user sketches and collections, and so can access all of them. That's very nice to explore p5.js and discover exam

[2020-09-06 18:26] #1599 closed, assigned to oruburos

[2020-09-08 01:49] pavel-b-kr12 commented on #1595
I think people goes to the examples to see that files (and play with them). Now they can't, without download it. But even after download, it is not possible to run examples without setup web server because files can't be loaded from local system because of cross-domain security restriction %\

[2020-09-09 16:35] catarak commented on #1604
Thanks for the suggestion! I hear you and this is a priority near-term for the web editor. More soon 😄 I'm going to close this issue as it is a duplicate of #91.

In the very near term, the way that folks have gotten around this is by creating multiple accounts, one containing templates and one containing solutions. I know it's not ideal but I hope to have this feature implemented soon!

[2020-09-09 16:35] #1604 closed, assigned to nobody

[2020-09-09 19:45] catarak commented on #1595
@pavel-b-kr12 I hear you and I agree with you!

[2020-09-10 11:30] neelesh7singh commented on #1522
Thanks @catarak  for stating the plugin saved a lot of googling. While going through the plugin I found one more nice feature that adds `emmet-open-tag` and `emmet-close-tag` class to the HTML tags we are inside which could be used to highlight them like this -

![](https://github.com/emmetio/codemirror-plugin/blob/master/example/emmet-tag-pair.gif?raw=true)

Should I add this feature too??

[2020-09-10 15:04] wrongTactic opened #1606 "Issue when I download on desktop my sketch"
Hi everyone,
I'm having an issue when running locally a sketch that works perfectly on the online editor.
Actually the problem is that it can't find a JSON file that is in the same folder, but that issue doesn't happen while on the web editor. Any suggest?
Thanks everyone

[2020-09-10 16:58] catarak commented on #1522
Sure! It seems really useful.

[2020-09-10 17:01] catarak commented on #1606
Hi @wrongTactic! It could be that you need to use a web server when trying to run the sketch locally (for example, I usually use [`http-server`](https://www.npmjs.com/package/http-server), and then run the command in the same directory as my sketch. Since I don't think this issue is specifically a bug/feature for the web editor, I'm going to close it!

[2020-09-10 17:01] #1606 closed, assigned to nobody

[2020-09-10 18:17] liuboto opened #1607 "Editor on iPad"
Would it be possible to add

html, body {position:fixed}

To the editor css to make it more usable on iPads. The default behavior of touching and dragging on the canvas moves/bounces the page inside the browser and makes it very difficult to draw or do any kind of useful touch-drag interaction

[2020-09-10 19:03] tatecarson commented on #1541
I see that this fix was merged and I am still getting the problem described above. It makes using the console in the draw loop almost impossible.

[2020-09-10 19:12] tatecarson opened #1608 "Console statments scroll out of view"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox 80,
- Operating System: macOS 10.15.6
- Steps to reproduce this bug:

Try to log anything in the draw loop. The most recent statements are pushed down to the bottom out of view, making the console almost useless for anything in the draw loop.

[example](https://editor.p5js.org/tcarso2/sketches/SbA

[2020-09-11 15:22] catarak commented on #1541
@tatecarson it was merged but it hasn't been deployed yet!

[2020-09-11 15:23] catarak commented on #1608
Thanks for reporting and I hear you! Fix to be deployed soon.

[2020-09-11 15:23] #1608 closed, assigned to nobody

[2020-09-11 18:19] catarak commented on #1607
Hi @liuboto! You can actually edit the CSS yourself by opening the file sidebar:
<img width="434" alt="Screen Shot 2020-09-11 at 2 17 43 PM" src="https://user-images.githubusercontent.com/6063380/92959357-aa8e7f00-f439-11ea-8b94-fab3f1e111b6.png">
<img width="628" alt="Screen Shot 2020-09-11 at 2 17 57 PM" src="https://user-images.githubusercontent.com/6063380/92959376-b0846000-f439-11ea-8462-52eb

[2020-09-11 18:19] #1607 closed, assigned to nobody

[2020-09-11 21:55] #358 closed

[2020-09-12 03:24] SihanZhang98 commented on #1585
<img width="277" alt="1" src="https://user-images.githubusercontent.com/70332584/92986010-3a8c0180-f4ea-11ea-9cba-99f519e9b72b.png">

There isn't the "Upload file" option when I click "Sketch Files". Does anyone know why?

[2020-09-12 03:44] SihanZhang98 opened #1609 "Can't see "Upload File" option"
When I click on "Sketch Files", there is no "Upload File" option, so I am unable to upload an image into the sketch. Does anyone know why? Thank you for your help!
<img width="277" alt="1" src="https://user-images.githubusercontent.com/70332584/92986392-f9492100-f4ec-11ea-8c9e-36e8d29cc48a.png">

[2020-09-12 08:19] #1609 closed, assigned to nobody

[2020-09-12 15:20] anirban0104 commented on #1208
THAT FIXED EVERYTHING, SORRY BTW I MESSED UP WITH THE SETTINGS

[2020-09-13 18:52] neelesh7singh opened #1611 "Space between file/folder name with 3 letters"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: On Chrome
- Operating System: Linux

When we create a new file/folder with just 3 letters there is a space between 2nd and 3rd letter of the name.

![Screenshot from 2020-09-14 00-15-10](https://user-images.githubusercontent.com/42792434/93025953-e7b46600-f61f-11ea-8e96-832b9854b98a.png)

[2020-09-14 16:19] catarak commented on #1585
@SihanZhang98 are you logged in? You must be logged in in order to upload files.

[2020-09-14 16:24] #1611 closed, assigned to nobody

[2020-09-14 19:29] catarak opened #1613 "p5.js, ml5.js, and generative design examples - GitHub API deprecation"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Authenticating with the GitHub API via query parameters is now deprecated, and needs to be updated to authenticate with the request headers. See [Deprecating API authentication through query parameters](https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/) for more info.

The

[2020-09-15 14:14] #1596 closed, assigned to ghalestrilo

[2020-09-20 11:17] Swapnil-2001 commented on #1613
Hi @catarak , I would love to work on this issue. It would be really helpful if you could suggest some sources from where I can gather information on how to make the changes.

[2020-09-21 01:46] EmmanuelPil opened #1615 "WEBGL renderer does not work."
#### Nature of issue?

Just writing this code
[code]
Gives the following error:
[code]
Web browser and version:  Versão 85.0.4183.102 (Versão oficial) 64 bits
Windows 7 Ultimate Service pack 1

[2020-09-21 11:24] EmmanuelPil commented on #1615
Don't know if it was fixed but now it's working again.

[2020-09-21 11:24] #1615 closed, assigned to nobody

[2020-09-21 16:32] catarak commented on #1613
It seems like from your PR that you figured it out :) Let me know if there's stuff you're still confused about!

[2020-09-21 17:27] catarak opened #1616 "Timer component not rendering"
#### Nature of issue?

- Found a bug

#### Details about the bug:

The [Timer.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/Timer.jsx) component is not rendering. This is the component that lets a user know when their sketch was last saved. It's not rendering for new or already existing sketches.

- Web browser and version:  Chrome, Firefox
- Operat

[2020-09-21 19:57] Swapnil-2001 commented on #1613
Thank you, @catarak , I will :)

[2020-09-21 20:35] #1616 closed, assigned to nobody

[2020-09-22 19:40] #1613 closed, assigned to nobody

[2020-09-23 01:18] joemckay5 opened #1619 "Friendly error message for size"
#### Nature of issue?
"Friendly" error message for mistakenly writing size() instead of createCanvas() is incomplete.

- Found a bug (typo really).

The error returns:
"p5.js says: It seems that you may have accidently written size instead of line (bla bla bla)."

[2020-09-23 05:56] oneandzeros opened #1620 "Failed to upload files with non-English names"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: chrome 85.0.4183.121
- Operating System: windows 10 pro
- Steps to reproduce this bug:

I was trying to upload a png file with name "图片.png" , the uploading process is OK, but picture does not show in the Sketch files list .

I rename it with "tmp.png", reprocess the uploading and it worked. <It took a lo

[2020-09-23 18:36] catarak commented on #1619
Thanks for reporting! Since you're reporting a bug in the friendly errors system, this issue belongs in the p5.js repository. I'll transfer it there now 😄

[2020-09-23 18:48] catarak commented on #1620
Thanks for reporting! I would like for the web editor to support non-English file names, and thanks for submitting some examples of filenames that work and don't work.

[2020-09-23 19:22] #915 closed

[2020-09-23 19:30] #1559 closed

[2020-09-23 19:40] #1584 closed, assigned to nobody

[2020-09-24 08:26] oneandzeros commented on #1620
works:
图片.html
思维导图笔记.html
878世界.html

not work:
图片.png
文本21.gif
878世界.gif
新球大战.gif
这里是地球.gif
코딩을.png

I think all the html files works.  Only pictures have this problem?

[2020-09-24 16:00] catarak commented on #1620
That's super helpful! The way that text files versus images/videos/fonts/etc. are uploaded is different. Text files are uploaded directly to the web editor, whereas other files are uploaded to an Amazon S3 bucket.

[2020-09-25 07:11] Swapnil-2001 opened #1621 "Content of Sign Up page overlaps with navbar on relatively small mobile screens"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Steps to reproduce this bug:

When the Sign Up page is viewed on relatively small mobile screens, the heading and the navbar overlap. The Login page, however, looks perfectly alright. I believe that the problem could be fixed simply by pushing down the content of the Sign Up page a little.
![Screenshot_2020-09-25-02-11-54-836_com

[2020-09-25 17:34] catarak commented on #1621
Thanks for reporting! The mobile version of the editor is in progress but not yet enabled in production. This was fixed by #1543.

[2020-09-25 17:34] #1621 closed, assigned to nobody

[2020-09-25 18:28] Swapnil-2001 opened #1622 "Refactor components to new React syntax"
Refactoring components to new React syntax is mentioned in the Wiki under beginner project ideas.

@catarak I would be grateful if you could let me know if refactoring the components would be useful. If so, I'd like to work on it.

[2020-09-26 13:59] devnull69 commented on #267
I just opened a new sketch in p5.js Web Editor ... and I cannot copy/paste either

[2020-09-27 03:24] sagar-joshi commented on #941
I am working on this

[2020-09-27 12:36] dhowe commented on #91
Status on this? I see some commits but nothing since May

[2020-09-28 15:46] catarak commented on #267
@devnull69 do you have more specific steps to reproduce? Like the code you're trying to copy and paste, your browser, operating system, etc.

[2020-09-28 18:18] devnull69 commented on #267
Unfortunately ... or rather fortunately ... it is no longer reproducible today

It happened consistently yesterday for my sketch https://editor.p5js.org/devnull69/sketches/nTGGDviTM ... but it no longer does

[2020-09-28 18:54] catarak commented on #267
Oh no that's frustrating! If it happens again, definitely update this issue and hopefully we can figure out the root cause.

[2020-09-29 17:10] adarzh-sys commented on #1620
Hey! First timer here, I would love to help with this issue, any help on how exactly I should proceed would be really helpful :)

[2020-09-29 17:38] catarak commented on #1620
Hi @adarsh-qclw! The first step is getting the web editor running locally on your computer. Then, once that is working, the component that handles the file uploading is [FileUploader.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/FileUploader.jsx), and from that component can see all of the functions/API requests that are being made to upload a file,

[2020-09-29 18:28] #941 closed

[2020-09-29 18:41] #7 closed

[2020-09-30 04:03] adarzh-sys commented on #1620
Thanks @catarak ! Is this probably an issue due to encoding not being UTF-8 ?

[2020-09-30 14:18] catarak commented on #1620
@adarsh-qclw I think that is a great guess 😄 I would suggest testing and confirming that!

[2020-10-01 18:26] SundeepChand commented on #1588
@catarak I would like to work on this.

[2020-10-02 06:16] adithyanri commented on #339
no ordianry man can understand this

[2020-10-02 06:18] adarzh-sys commented on #1620
Hey, I'm afraid I'm stuck here. How do I test out my change? Because, in order to try uploading, I need to sign in, which I am unable to, in my local environment. Help? I am a total beginner, please pardon my frequent doubts :")

[2020-10-04 10:09] ZenVega commented on #1590
Hi, I would like to give it a shot. would u assign this to me?

[2020-10-06 18:17] catarak commented on #1620
In local development, you're using a database that doesn't have your login information that you have on the production web editor, and you'll need to create a new account. This account is only for local testing and none of your sketches will be public.

[2020-10-06 18:47] catarak commented on #595
this has been merged and deployed 🎉 🎉 🎉

[2020-10-06 18:47] #595 closed

[2020-10-06 18:57] montoyamoraga commented on #595
YES @catarak

[2020-10-07 14:06] lm-n commented on #595
Thank you 🙏 🙏  @catarak @oruburos

[2020-10-08 05:37] ricknjacky commented on #1620
@catarak can I work on this issue? as there have been no recent follow ups

[2020-10-08 06:07] ricknjacky commented on #1595
@catarak I'd like to work on this issue, I'm new to the codebase can you please give me an insight as to what needs to be done?

[2020-10-08 12:06] oruburos commented on #595
thanks to @andrewn  for his patience.

[2020-10-08 12:26] MohdImran001 commented on #1220
Hii @catarak,  I would like to work on this issue.

[2020-10-08 17:28] catarak commented on #1620
@ricknjacky for sure! it seems like @adarsh-qclw is stuck but please update if that's not true

[2020-10-08 17:29] ricknjacky commented on #1620
@adarsh-qclw are you working on this ? if not please let us know

[2020-10-08 17:36] catarak commented on #1595
@ricknjacky sure! The file [`server/scripts/examples.js`](https://github.com/processing/p5.js-web-editor/blob/develop/server/scripts/examples.js) pulls all of the p5.js examples from the p5.js website repository via the GitHub API and then uploads them to the web editor database. This is the file you'll need to edit. I would suggest the following approach:
1. Get this project running locally on yo

[2020-10-08 17:50] catarak commented on #1220
@MohdImran001 go ahead!

[2020-10-09 08:25] sagar-joshi commented on #745
The actual issue was with codemirror and now it has been fixed in codemirror.
https://github.com/codemirror/CodeMirror/issues/6436

[2020-10-09 12:34] adarzh-sys commented on #1620
hey @ricknjacky, you can certainly work on it, i am stuck with a few complications. i would also love to learn how you solved it! cheers :")

[2020-10-09 15:58] ricknjacky commented on #1595
![image](https://user-images.githubusercontent.com/50985033/95605066-0e768880-0a76-11eb-9031-cbbd19a9b470.png)

I get this error
@catarak please help me out here

[2020-10-09 16:23] bmoren commented on #1337
another package which seems relevant to this discussion:
https://github.com/yjs/y-codemirror

edit: I see @ffd8 above mentioned y.js  It seems like this might be the route.

[2020-10-09 16:38] MohdImran001 commented on #1220
Hii @catarak, I would also like to change the color of the progress bar to Amaranth (#ed225d) to match the current theme.

[2020-10-09 17:30] catarak commented on #1595
@ricknjacky did you create a `.env` file with valid Github credentials?

[2020-10-09 17:33] catarak commented on #1337
@bmoren thanks for the update!

[2020-10-09 19:12] ricknjacky commented on #1595
Yes I performed this command using
`cp .env.example .env `

i refereed the docs step by step [here](https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/installation.md)

[2020-10-09 19:13] ricknjacky commented on #1595
Wait, I didn't do the

step

let me try once again

[2020-10-09 19:18] ricknjacky commented on #1595
![image](https://user-images.githubusercontent.com/50985033/95622960-21975180-0a92-11eb-91f8-ee300703148d.png)

To generate this

I need to setup this, please tell me how to move ahead with this, as in what to enter or please tell me if it is arbitrary.

[2020-10-11 15:04] Nisseboy opened #1629 "Missing project"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome | 85.0.4183.121 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10 x64
- Steps to reproduce this bug:

I made a project, but got another idea so i saved the project and created a new project, however when i went to go to the first project it was gone. I am sure i saved

[2020-10-12 11:57] MohdImran001 commented on #1220
Hii @catarak, I have fixed this issue. Please review my PR #1630

[2020-10-12 13:11] tinivasanth opened #1631 "P5 editor malfunctioning"
Hi, i am facing an issue with the P5 editor whenever I open the editor and click inside the workspace my code gets jumbled. attaching a copy of the same herewith. anyone could help me out with this...
![P5 editor error](https://user-images.githubusercontent.com/23624178/95749964-0d359d80-0cba-11eb-846b-414418875a4a.PNG)

#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New fea

[2020-10-13 16:49] catarak commented on #1631
Hey @tinivasanth! I'm not able to reproduce. What browser/OS are you using? Do you have any special keyboard shortcuts setup? Could you possibly post a video of this happening?

[2020-10-13 18:31] catarak commented on #745
Wow really?! That's exciting. I'll leave this open until there's a new Codemirror release and this can be updated!

[2020-10-13 19:07] catarak commented on #1629
Thanks for reporting! That's super frustrating and I'm sorry that happened. What's your editor username?

[2020-10-13 19:16] Nisseboy commented on #1629
Thank you for responding, it's LegoExperten, and the name of the project was Territories @catarak

[2020-10-13 20:32] catarak commented on #1629
I'm not able to find the sketch! I think somehow it didn't get saved. I know that's super frustrating, and I hope that this can be prevented in the future.

For future improvements, there's some references in #1337, like adding CRDT and saving to local storage, that could help prevent saving issues! It's a work in progress though.

[2020-10-14 04:42] sagar-joshi commented on #745
I had tested with 'fixedGutter : true' and scrolling was working perfect. The problem was with 'fixedGutter : false' (and currently fixedGutter is set to false in p5js web editor). Now it is fixed in codemirror. So it should work.

[2020-10-14 05:03] Nisseboy commented on #1629
@catarak then how was i able to open it on my laptop while working on it?

[2020-10-14 15:53] MohdImran001 commented on #1220
Hii @catarak, this line of code in the uploader.js file is not working and the progress bar is still visible after a successful upload. I tried changing its width to 0 and display property to 'none but nothing works.

`file.previewElement.querySelector('.dz-upload').style.width = '100%';`

After experimenting a little bit I found out that this works perfectly in a function passed in the success pa

[2020-10-14 16:48] SundeepChand commented on #1417
@catarak I would like to look give it a try. Can you please tell me the files, that I need to look at to get started?

[2020-10-14 18:10] catarak commented on #1629
I think what happened is that you were working on the sketch in the browser, but it somehow never got saved to the database even though you had saved it.

[2020-10-14 18:19] Nisseboy commented on #1629
@catarak that's wierd. Well, thanks anyways

[2020-10-14 18:50] catarak commented on #1220
I think the title of this issue is confusing. I decided to make it match the the way that other file types are uploaded, rather than remove the progress bar. Here they are side by side:
<img width="500" alt="Screen Shot 2020-10-14 at 2 50 18 PM" src="https://user-images.githubusercontent.com/6063380/96032414-a1277680-0e2c-11eb-841c-a5e1940c9b44.png">

[2020-10-14 18:55] #1220 closed

[2020-10-14 18:56] catarak commented on #1417
@SundeepChand sure! I would take a look at `FileUploader.jsx` and also `Sidebar.jsx`.

[2020-10-14 19:26] trych commented on #1220
In what way is the title confusing?

Do I understand this right that the fix is to have the upload progress bars not disappear at all anymore? In what way is this helpful and how do I know when my upload is finished?

[2020-10-14 19:42] catarak commented on #1220
Ahhh sorry that this is confusing! There's an animation that shows the progress bar filling up. Before this fix, the progress bar would just remain unfilled for text files.

[2020-10-14 20:01] catarak commented on #91
This is coming soon, within the next few months!

[2020-10-15 00:30] yinhwa opened #1632 "Korean Translation of Web Editor"
**Currently in progress with @kangashley & @yinhwa**

- - - - - - - - - -

Hi @catarak, @ghalestrilo ! I'm trying to add Korean translation to the web editor to increase the editor's lingual accessibility to Korean speakers. My particular concern is on some dozens of older adults in Korea that I'll be having p5.js workshop with on November, but it certainly will be helpful for the language group i

[2020-10-15 08:20] tinivasanth commented on #1631
Hello,
I am using Chrome browser and my OS windows 7 professional.No keyboard
shortcuts.
With Regards,
Tini vasanth

On Wed, Oct 14, 2020 at 2:30 PM tini vasanth <tini.vasanth@gmail.com> wrote:

[2020-10-15 11:14] Toodle-ux opened #1634 "Cannot open p5 online editor on Mac"
I cannot open p5 online editor on Mac, using Chrome or Safari. But I can open the editor on Windows using the same Internet connection...

[2020-10-15 18:25] montoyamoraga commented on #1634
hi @Toodle-ux, i am sorry you are going through that,
are you logged in? did you try incognito mode?
could you try with the same computer on a different internet connection?
thanks!

[2020-10-15 18:26] montoyamoraga commented on #1634
hi @catarak, i tried to transfer this issue to the web editor repo, but i don't have access :)

[2020-10-15 18:26] oliversalzburg opened #1633 "Unsaved changes handler is excessive"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Google Chrome 86.0.4240.75
- Operating System: Windows
- Steps to reproduce this bug:

Open a sketch, press Play, then close the tab.

Even though I made no changes, the annoying `beforeunload` handler prevents me from closing the tab.

#### Feature enhancement details:
Some ideas:

a) Remove the handler en

[2020-10-15 18:28] catarak commented on #1632
Hey @yinhwa! I'm super excited you want to work on this. Now that @oruburos did the first translation, the new ones should be simpler. He made a [translation guide](https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/translations.md) which should help you. Let me know if you have any questions! Also, feel free to open multiple pull requests to complete this, as now that ther

[2020-10-15 18:37] catarak commented on #1631
I just tried testing this on Windows 7 with Chrome and I wasn't able to reproduce, so I'm thinking it's some way that your computer is configured. Are you using a touchscreen? Can you think of any configurations you have added?

[2020-10-15 18:38] catarak commented on #1634
Thanks @montoyamoraga! Just transferred :)

[2020-10-15 18:45] catarak commented on #1634
And @montoyamoraga I also just updated your permissions so you could transfer issues in the future!

[2020-10-15 19:00] catarak commented on #1633
Thanks for reporting! I have noticed that this alert has been coming up when it shouldn't, and I'm not sure why. It's only supposed to appear if you have unsaved changes in the sketch you're working on. Thanks for the suggestions on how to fix this!

[2020-10-16 01:04] blaine opened #1635 "Auto-save behavior unclear"
How the heck doesn't editor.p5js have auto-save? I realise I should have been saving, but I just lost an entire project because the editor froze and when it recovered all my work was gone. 👎

[2020-10-16 06:57] yinhwa commented on #1632
@catarak thank you Cassie!!! :) wish my best luck with the new releases🎇🎉 p5 web editor rox yay!

[2020-10-16 08:35] MohdImran001 commented on #387
Hii @catarak, I'd love to work on it.

[2020-10-16 13:18] oliversalzburg commented on #1633
I also briefly looked into it so I could submit a PR. Sadly, I don't understand enough about React :( Of course, removing the feature entirely would be easy, but I understand that's not a desirable solution.

I feel like draft saving locally would be nice, but I'm sure it introduces new challenges and is easier said than done.

Option d) is probably the preferable solution, but it's not clear to m

[2020-10-16 16:41] catarak commented on #1635
Thanks for reporting @blaine! I'm sorry that happened and that's really frustrating. The p5.js editor does have autosave, but you have to have a sketch at least once for it to turn on. The idea is that it prevents you from having lots of dummy sketches in your account that autosaved, that you didn't want. It seems like it's unclear that this is the behavior, and therefore I think the editor could

[2020-10-16 16:42] catarak commented on #387
@MohdImran001 go ahead!

[2020-10-16 16:55] catarak commented on #1633
Thanks for digging into the code and figuring out why this is is happening! `onbeforeunload` is definitely not always supposed to return true, so it seems like that logic somehow got messed up.

[2020-10-16 16:58] oliversalzburg commented on #1633
I'll submit a PR in a moment. I'm not sure how to properly test locally, but maybe we can figure out any potential issues in the PR.

[2020-10-16 18:35] Swapnil-2001 commented on #1635
The editor does let the user know that they have unsaved changes with the help of the little circle beside the name of the sketch, but just in case the user doesn't notice it, maybe there could be an info popup right at the beginning? Saying something along the lines of "This means you have unsaved changes.." ? Just an idea, sorry if it sounds too basic. :)

[2020-10-16 19:34] catarak commented on #1635
@Swapnil-2001 this is a helpful suggestion, thank you! I think that the popup should only appear if autosave hasn't kicked in yet, like a user has just opened a sketch and has been editing it for some threshold of time (one minute? I'm not sure what this threshold should be).

[2020-10-16 19:53] Swapnil-2001 commented on #1635
Yes, I suppose one minute sounds fair enough, it would be best not to delay the popup much more. And yes, it should appear only if autosave hasn't already been triggered.

[2020-10-17 01:33] blaine commented on #1635
Hi! Sorry, I was a little frustrated last night when reporting that - I did end up going back and re-implementing my code, and after signing in the autosave worked pretty well. Thanks for replying in a thoughtful and compassionate way!

The approach I've used to build autosave (I've worked on a few web-based text editors) is just to use `window.localStorage` as a light-weight way to save the most

[2020-10-17 05:12] koji opened #1638 "Japanese Translation of Web Editor"
Hi,
I'm trying to add Japanese translation to the web editor.

Would like to get some advice from @catarak and @oruburos.

1. The folder name for translations.json
Currently, I named it `ja` because `date-fns/locale` is using `ja` for Japanese translation.
If you guys have any idea for the folder naming, I want to know about it.
Ex. lang-Area `en-UK`
In terms of Japanese, it will be `ja-JP` or `ja

[2020-10-17 14:15] oruburos commented on #1638
Hi @koji , so sorry but I don't fully understand the issue.

So let's run a quick recap

- So, in this file, you already added your  'ja' option?
 https://github.com/processing/p5.js-web-editor/blob/develop/client/i18n.js#L5-L24

- the link that is built in line can access your new translation file?
 https://github.com/processing/p5.js-web-editor/blob/develop/client/i18n.js#L31

- And in Nav you a

[2020-10-17 15:17] tinivasanth commented on #1631
hello,
No I have not added any special configurations,recently I reinstalled my OS
as P5 editor was not working but after that too the same issue persists.
With Regards,
Tini vasanth

On Fri, Oct 16, 2020 at 12:07 AM Cassie Tarakajian <notifications@github.com>
wrote:

[2020-10-17 18:41] SundeepChand commented on #1635
Hello @blaine! Thank you so much for your suggestions. Hi @catarak! It makes sense to have this feature where we can save the project data in the `localStorage` till the user is not logged in. Once the user logs in we can save the contents of the `localStorage` in the `MongoDB` & then clear the `localStorage`.  In case the user doesn't log in but tries to create a new project, then we can ask them

[2020-10-18 01:30] koji commented on #1638
Hi @oruburos thank you for your reply.

https://github.com/processing/p5.js-web-editor/blob/develop/client/i18n.js#L5-L24

Yes, That what I did.

https://github.com/processing/p5.js-web-editor/blob/develop/client/i18n.js#L31

The following is `loadPath` value since it is set as `string`.
[code]

https://github.com/processing/p5.js-web-editor/blob/develop/client/components/Nav.jsx#L547-L589

I adde

[2020-10-18 01:50] oruburos commented on #1638
Hi @koji
Also, you need to put this line in your env file
TRANSLATIONS_ENABLED=true

[2020-10-18 02:06] oruburos commented on #1632
Hey @yinhwa and @catarak , good to see people working on this. Also, please check #1638 . Good luck.

[2020-10-18 02:13] koji commented on #1638
Hi @oruburos

`dropdown` showed up.
Thank you for your help!!! Really appreciate.

[2020-10-18 02:20] oruburos commented on #1638
Hi @koji, that's great. you're welcome. As soon as I have time I will submit a PR to add that part to the documentation

[2020-10-18 02:23] yinhwa commented on #1632
Thanks @oruburos for letting me know and your guides on Koji's Issue 😁 Also excited for @koji 's Japanese translation!

[2020-10-18 02:30] koji commented on #1632
@yinhwa
Actually, your issue helped me to start working on my issue!
Thank you for opening this!

[2020-10-18 03:00] koji commented on #1638
@oruburos opened a PR
https://github.com/processing/p5.js-web-editor/pull/1641

[2020-10-18 11:19] samyakbambole opened #1642 "Bug in High Contrast and Dark Mode"
Whenever I visit to someone else's code in full-screen mode, the `</>` icon on the top-right isn't visible properly.

[2020-10-19 04:05] EmmanuelPil opened #1643 "Sketch works on OpenProcessing but not on the P5.js Web Editor."
Hi.
I'm using a Windows 7 Ultimate 64bit PC with the latest Chrome version.
[This sketch](https://www.openprocessing.org/sketch/984401) works well on OpenProcessing but not on the P5.js Web Editor, and I can"t find the reason.

[2020-10-19 04:22] juzermala opened #1644 "2playerPong"
my coding for 2 player pong game in p5js.
in my coding function collision do not work.
**ball bounces from all walls but do not bounce by hitting paddle.**
please help

coding is as under.

//----------------VARIABLES------------------------
var score1 = 0;
var score2 = 0;
//---------------------------------------------------
//---------------------------------------------------
// CREATING BALL O

[2020-10-19 05:55] EmmanuelPil commented on #1643
After switching off the accessibility features on in settings, the sketch works but does not display the arrow points.
https://editor.p5js.org/noelpil/sketches/cYbw4fW9h

Edit:  But this only happens because I need to set my video (scale) setting to 125% on my  1920 * 1080 monitor,
otherwise, the font and other items are far too small. So I have to adjust the zoom level to 80% to view the sketch.

[2020-10-19 08:10] SundeepChand commented on #1642
Hello @samyakbambole! Can you please elaborate the issue. Maybe adding a screenshot would help us better understand the problem.

[2020-10-19 12:02] samyakbambole commented on #1642
@SundeepChand Ok!

[2020-10-19 12:04] samyakbambole commented on #1642
![image](https://user-images.githubusercontent.com/64409597/96448621-48434e00-1231-11eb-9116-da3c7c548859.png)
As You can see, The `</>` icon on the top-right isn't visible in full-screen-mode

[2020-10-19 16:02] SundeepChand commented on #1642
@samyakbambole Thanks for reporting this!

[2020-10-19 19:11] oliversalzburg opened #1646 "Add instructions on how to run required dependencies in Docker"
#### Nature of issue?
- New feature request

#### Feature enhancement details:
I feel like it would be nice to offer users a guide on how to start MongoDB through Docker.

For me personally, it is much easier to deploy a service through Docker than to install it on my host. Usually a single command on the shell is enough to get the an application running. If other developers already have Docker, t

[2020-10-19 21:21] catarak commented on #1644
HI @juzermala! Thanks for using p5.js and the p5.js Editor. If you need coding help, the best place to ask is the [Processing forum](https://discourse.processing.org/). GitHub is for reporting bugs and requesting features!

[2020-10-19 21:21] #1644 closed, assigned to nobody

[2020-10-20 04:35] samyakbambole commented on #1642
The GitHub Community is really Great! Thanks a Lot!

[2020-10-20 04:36] samyakbambole commented on #1642
This issue was actually reported in a @CodingTrain stream. I just created an Issue!

Link for CodingTrain Organization - https://github.com/CodingTrain

[2020-10-20 04:38] samyakbambole commented on #1642
Link for @CodingTrain YouTube Channel - https://www.youtube.com/user/shiffman

[2020-10-20 18:31] catarak commented on #1631
I just noticed that the lines are in alphabetical order. Do you have a browser extension that tidies text in that way? Can you think of any reason why that would be important?

[2020-10-20 18:48] catarak commented on #1635
Thanks for your thoughtful responses @blaine and @SundeepChand! I definitely see the benefit of using `localStorage`. If you have specific ideas about the flow of data from CodeMirror => Redux => localStorage => API/Mongo and how this affects the UI/UX, let me know! Otherwise I think it makes sense to take some time and map out how this would all work. Other folks have reporting some saving issues