[2017-02-10 15:23] willy-vvu opened #301 "Control+Enter to run the code works only after pressing it twice"
I was playing with the Web Editor today when I tried to run my code with Control+Enter. Unfortunately, after pressing Control+Enter, it seemed to refresh the sketch that was already there, without any new changes. Pressing Control+Enter again seems to correctly update the sketch. This is strange given that the "Play" button works correctly - one press updates the code.

Take note: Control+Enter is

[2017-02-10 17:21] catarak commented on #301
This may be on Windows only. I have a Mac and for me it refreshes when I hit Command + Enter once. It is annoying that it will insert a new line, and this is because I've added Sublime Text shortcuts to CodeMirror. You can get around this by clicking outside of the text area. Command/Control + Enter is a common accessibility shortcut for running something, which is why we decided to use that. If t

[2017-02-13 00:26] corbinyo opened #302 "Unable to load assets/mySong.m4a. The request status was: 404 (Not Found) The error stack trace includes: loadSound at setup (about:srcdoc:103:9)"
Can't load audio anymore.

[2017-02-13 07:36] Katy310 commented on #299
May I work on this issue?

[2017-02-13 14:13] saumya1906 commented on #298
I wish to work on this issue. Any pointers / guidelines?

[2017-02-14 02:23] shiffman commented on #284
@catarak I think I would like to make the case that auto-refresh does in fact clear the console each time it is re-run.  In class I noticed the following behavior.

1) The same error appearing many times as I type:

<img width="727" alt="screen shot 2017-02-13 at 9 21 07 pm" src="https://cloud.githubusercontent.com/assets/191758/22912267/5ddaac90-f232-11e6-9214-3f413ad941b0.png">

2) Students were

[2017-02-14 20:23] catarak commented on #302
maybe this has to do with the .m4a extension? i just tested some .mp3/.wav files and it seems to be working okay.

[2017-02-14 20:26] corbinyo commented on #302
I forgot to reply to this with an update! Yes mp3’s are working!

Thank you for response. Should m4a’s work?

Thanks :)
Corbin

[2017-02-14 20:44] catarak commented on #302
it should but it does not 😸

[2017-02-14 20:54] #302 closed

[2017-02-14 20:57] catarak commented on #302
woohoo fixed and deployed 😄

[2017-02-14 21:01] catarak commented on #284
That makes sense to me. If the error persists when the sketch is refreshed, then the error message will appear again. Maybe this means we need a "Clear on Play" option, like there is in Unity.

[2017-02-14 22:12] corbinyo commented on #302
Time to convert my vinyls! 🤠

[2017-02-15 19:59] shiffman commented on #284
Agreed, however I'm wary adding too many preferences. I think I would just have it clear by default and then if scenarios arise where we wouldn't want it to clear, we could add something in as an option?

[2017-02-15 21:19] catarak commented on #284
sounds good to me!

[2017-02-17 04:02] epiqueras commented on #301
We could overwrite the keymap to not do anything:

    editor.setOption("extraKeys", {
      'Cmd+Enter': () => null;
    });

[2017-02-17 12:29] pyan83 opened #307 "Password Change?"
Hi guys,

Love this project its amazing!

Can I request a password change option for our accounts?

Thanks!

[2017-02-17 17:07] catarak commented on #301
@epiqueras i think that is a good idea, as I'd imagine more often users would want to use the 'run' keyboard shortcut rather than the sublime text shortcut.

[2017-02-17 18:14] catarak commented on #307
yes! this is covered in #248, as that is where the password reset would go.

[2017-02-17 18:14] #307 closed

[2017-02-17 18:30] #301 closed

[2017-02-17 19:53] #289 closed

[2017-02-17 19:57] catarak commented on #289
duplicate should be working now, let me know if there are any issues.

[2017-02-17 20:47] #291 closed

[2017-02-17 21:04] #284 closed

[2017-02-17 21:12] catarak commented on #293
It would definitely be good to get @MathuraMG and @cleezyitp in this conversation, as the modal focus got added for accessibility reasons. Many of the modals have a `tabindex` so that they can have focus (and therefore have a border). We added this so that if a user is only using a keyboard, and they click on one of the navigation items, then their focus goes straight to the modal, rather than hav

[2017-02-17 22:07] #295 closed

[2017-02-17 22:37] catarak commented on #292
This has been added and deployed, but I'm wondering if you think the rows need a hover state.

[2017-02-19 18:40] #299 closed

[2017-02-19 18:40] #297 closed

[2017-02-19 21:42] machinic commented on #292
Absolutely we will. I'm going to bundle that up with the other design changes for this list view. Having the cell be the target felt more like a quick UX fix that would likely remain true. I imagine that implementation effort will be under a new issue number.

[2017-02-19 21:42] #292 closed

[2017-02-19 22:06] machinic commented on #293
Cool. I welcome their input! I'm very much in favor of `tabindex`and showing focus. My primary aim is to have the focus indicated consistently across the experience.

To recap, the current state things is two types of focus: the browser default focus and, for lack of a better term, the p5-style focus. Is it felt that the p5-style is insufficient as a marker of focus (it's in the preferences exampl

[2017-02-22 19:31] #20 closed

[2017-02-23 16:41] FriddoDK opened #309 "Unexplained TypeError"
While entering this program:

function setup() {
  createCanvas(800, 400);

  i = 0;
  while(i <= 11) {
  	triangle(200,300,600,300,i * 40 + 1200/11,100);
    i++;
  }
}

i get a very strange error:

Uncaught TypeError: Cannot read property 'children' of undefined (sketch: line 47)

It seems quite unrelated to my program, maybe some code analysis problem?

to reproduce, copy the code

thanks

[2017-02-23 19:02] catarak commented on #309
weird! will investigate.

[2017-02-23 20:21] catarak commented on #205
The design for this exists and is on zeplin.

[2017-02-23 20:43] catarak commented on #137
Not sure if this will be relevant with some new designs coming... would it make sense to include the accessible text output in an embedded view? Maybe that could be a query string parameter for the embed view?

[2017-02-23 20:59] catarak commented on #92
This came up again recently, especially in the context of middle and high school students who may not be familiar with file systems--maybe it would make sense to drag files onto the text editor and have them automatically upload to the root directory of the project.

But also sidebar drag and drop makes sense. The file upload UX is definitely wonky right now (see #271) so I'm open to input.

[2017-02-23 21:04] catarak commented on #88
i think this is basically covered in #208 so i'm going to close this ticket.

[2017-02-23 21:04] #88 closed

[2017-02-23 21:20] catarak commented on #57
To differentiate this from #196, this ticket addresses, for example, the situation in which a user clicks on an image or a sound file in the sidebar--what should the area of the editor where the text editor is look like? It would be cool if there were a few different designs, based on the MIME type of the file.

[2017-02-23 21:24] catarak commented on #14
i'm going to close this--there's a separate ticket for the UX for the uploader being confusing (#271), and if there are bugs this ticket can be reopened.

[2017-02-23 21:24] #14 closed

[2017-02-23 22:02] catarak opened #310 "Add git hook for deployment"
I'd like to change the workflow for this project to be that all pull requests are to the branch `development` rather than `master`, and then when `development` is merged with `master`, there's a git hook to rebuild the application.

I'd also like to rebuild the application if any of the submodules have new commits to their respective master branches. Currently there is only one submodule.

[2017-02-23 22:06] catarak opened #311 "Sidebar Accessibility bugs"
- The option dropdowns are not accessible--if you try to tab and select one of the options, such as "rename" or "delete", the options dropdown disappears.
- When the sidebar is hidden, it has the style `display: none`. This should probably use the accessible hidden placeholder so that users only using the keyboard would have to click on the button to expand the sidebar--they can simply tab into it

[2017-02-23 22:46] catarak commented on #309
hmmm, i'm not able to reproduce. can you add a link to your sketch to this ticket?

[2017-02-24 10:11] FriddoDK commented on #309
Sure I'll send link soon

On 23 Feb 2017 23:46, "Cassie Tarakajian" <notifications@github.com> wrote:

[2017-02-24 18:08] joemckay5 opened #312 "UI detail : icon confusion"
I think the icons to to open a drop-down menu and the icons to open the console and project-folder are too similar. The drop-down icons could be a solid triangle like it is in the Processing UI, and all be the same size.
Also, the icon for the project folder should stay on the right of the project div, the same way it stays at the top of the console. I'm attaching a jpeg to show the proposed chang

[2017-02-24 18:15] joemckay5 commented on #312
Hmm, maybe those triangles look too much like the mac OS arrows that turn and open folders. Maybe if they weren't solid?

[2017-02-24 18:24] joemckay5 commented on #312
How about little circles like Blender does it?
![p5ui2](https://cloud.githubusercontent.com/assets/6563969/23315519/844c3226-fa94-11e6-9641-6ddb51d52550.jpg)
?

[2017-02-24 18:44] catarak commented on #312
My design inspo for using the down arrows was https://gomix.com. I think it would make more sense to change the sidebar/console open and close icons rather than the options dropdown icons. Maybe @machinic has an opinion?

[2017-02-24 19:01] joemckay5 commented on #312
That could work - as long as they are differentiated a bit more.
I like the gomix interface (and gomix itself looks cool), but until I click on the icon I would assume that the arrow means, "open files within this folder", not "open an options menu". Once you do click on it it's clear, but until then it could be misleading for some.

[2017-02-26 01:38] machinic commented on #137
@MathuraMG I've tried to recreate the current experience by turning accessible text mode on (in regular view) and also going into full screen mode (through a share full screen URL) to better understand what is missing but I may not have the best sketch to use as an example (as so much is currently missing from that full-screen experience).  If you had an example or could describe the issue further

[2017-02-26 01:50] machinic commented on #92
@catarak I'm currently weighing options myself between:

1: anywhere within the viewport initiates some file detection and handling for appropriate upload and add to the project which I think is the most direct and discoverable experience.

2: targeted upload zones: sidebar initiates the above whereas drag and drop to the editor would also load the file in a tab (if it were of an acceptable filety

[2017-02-26 02:01] MathuraMG commented on #293
I like the idea of modifying the default view to make it look more aligned with the p5 styles. I think that as long as we can surround the modal by a contrasting border, we should be fine. @cleezyitp - what do you think ?

[2017-02-26 02:10] machinic commented on #312
I agree there's some confusion now and I'll be doing some clean up around that area as there's some additional actions that we take on folders (via the dropdown menu) that weren't fully baked in the original design. I agree that perhaps the solution lies in some of the moves made around the UI elsewhere e.g. sidebar and console (as well as the add action, for that I may try to revive the OG design

[2017-02-26 02:49] lmccart commented on #92
I'm leaning toward option 1... also because by default the sidebar is hidden. So option 1 would enable beginners to be able to drag+drop a file into the project without ever having to open the sidebar if they didn't want to.

[2017-02-26 16:01] CleezyITP commented on #293
It took me a bit to try and understand what you are talking about. Just to be sure- are you referring to the inconsistency of p5's _visual_ styling when a modal is in focus?

I can see there is a difference between the Share Sketch and Preferences modals in terms of the visual styling while in focus- Glad to have some consistency there, as long  the accessibility isn't compromised.

Did I get that

[2017-02-26 17:09] machinic commented on #293
My apologies for any ambiguity. Indeed, I am talking about the different ways we can achieve a  consistent visual representation of the `focus` state within the overall experience because currently we are being inconsistent.

[2017-03-01 17:42] andrewn commented on #139
I've [prototyped a quick approach to redirecting login](https://github.com/andrewn/p5.js-web-editor/commit/e32f5c0a1032e12831b2cebea74d82b268e289c4) to HTTPS on the client. The higher-order component detects if the protocol is HTTPS when mounting the view component and redirecting if not.

Getting the view to redirect back to the original protocol afterwards is a bit trickier since the app is load

[2017-03-01 22:06] catarak commented on #139
This seems like the right direction to me!

I think that the preference for http vs. https actually needs to be set on a project basis, since depending on what the user wants to do for that specific sketch, they may need it to be http or https. But I think it this setting should be http by default.

[2017-03-02 18:09] CleezyITP commented on #293
Hey,

Wanted to follow up on this-- I am in a wcag design talk and we are learning about color contrast accessibility. Apparently, when a page has multiple tab interfaces with inactive tabs dimmed to a level that the dimmed colors do not meet acceptable contrast ratios (4.5:1)-- the page is less accessible (fails wcag 2.0). So...if we are looking to rework the design language of the interactions o

[2017-03-02 19:38] #254 closed

[2017-03-02 20:04] #274 closed

[2017-03-04 14:28] lonesword commented on #294
I'm working on this. Is the design guide hosted somewhere? Can I have a link?

A quick look tells me that the close button has a different colour due to [this](https://github.com/processing/p5.js-web-editor/blob/master/client/styles/abstracts/_variables.scss#L32) style.

Two ways to fix this:

1. Change icon-color to $white. Affects all icons
2. In [_toast.scss](https://github.com/processing/p5.js

[2017-03-04 15:42] lmccart commented on #294
@lonesword the full set of designs are here: http://p5js.org/p5-web-editor-design.zip

[2017-03-06 17:22] shiffman opened #317 "duplicate bug"
I'm experiencing the following issue:

1. Open sketch.
2. Click duplicate.
3. It no longer works to switch which file is being viewed (`index.html` vs. `sketch.js` etc.)
4. Close window and re-open sketch from URL and now it works.

(Will try to pinpoint / reproduce this more later, just noticing it office hours so posting quickly)

[2017-03-06 17:27] catarak commented on #317
will investigate!

[2017-03-06 19:13] #317 closed

[2017-03-06 19:29] #294 closed

[2017-03-09 23:24] catarak commented on #310
this is almost done. i'll need to take down the editor for a moment to finish setting this up, which I will do at the wee hours of the night 😄

[2017-03-11 15:41] BabluKumar17 opened #322 "User Interaction problem"
User Interaction problem

![image](https://cloud.githubusercontent.com/assets/14871809/23824591/4465b508-069f-11e7-90ac-bc3ea33fb977.png)

[2017-03-13 04:01] catarak commented on #322
yeah, i'm aware of this issue. it has to do with how the preview is being rendered, related to #145 and the other issues labeled server-side preview generation. i'm going to fold this into #145 but consider it a +1.

[2017-03-13 04:01] #322 closed

[2017-03-16 10:24] JimishF commented on #309
Code works fine in editor without errors.
![image](https://cloud.githubusercontent.com/assets/8057628/23991847/c50721fa-0a60-11e7-8083-a1071f7f27f9.png)

[2017-03-16 22:25] #248 closed

[2017-03-23 17:02] #298 closed

[2017-03-24 13:56] FriddoDK opened #326 "innerHTML error on random lines"
after experimenting with a simple collider script, i ran into this error that occurred while in play mode and testing.

here's the script link:
http://alpha.editor.p5js.org/MemeMeister420/sketches/S16FaKbne
(i know! silly name!)

it delivers this message in the console saying;
Uncaught TypeError: Cannot set property 'innerHTML' of undefined (sketch: line 19)
on random lines and there dosen't seem

[2017-03-25 19:20] catarak commented on #326
I'm unfortunately not able to reproduce this. Can you give me a little more context as to how you seem to be triggering it? Also, just to be safe--try running the sketch in an incognito window to make sure you don't have any chrome extensions that are messing with it.

[2017-03-28 14:59] FriddoDK commented on #326
at the time of writing this reply, it seams to be gone.
but im not sure.

[2017-03-28 17:02] catarak commented on #326
no worries! i'm going to close this for now, but feel free to reopen this issue if you're able to reproduce it.

[2017-03-28 17:02] #326 closed

[2017-03-30 18:10] catarak opened #329 "store redux state in localStorage for http -> https redirection"
When a user is redirected from http to https and vice versa, their redux state will be lost. Therefore, this will need to be stored for certain use cases.

[2017-03-30 18:13] #139 closed

[2017-03-31 05:26] lmccart opened #330 "can we add google analytics?"
will be helpful to know traffic numbers as we roll out

[code]

[2017-03-31 09:30] KianNagpal opened #331 "BIG BUG!!!"
Dear Humans
I Recently Saw A Cockroach nearby even though I used bug spray beforehand..
I Cannot work out what happened so if you would please so kindly look into it

-HUMAN

[2017-03-31 19:00] catarak commented on #331
Hey, I ask that you would read the [contributing guidelines](https://github.com/processing/p5.js-web-editor/blob/master/contributing.md) before submitting issues. This is an open source project and therefore it is frustrating to receive issues that are spam and waste the time of contributors.

[2017-03-31 19:00] #331 closed

[2017-03-31 19:01] catarak commented on #330
yes, definitely!

[2017-04-03 09:33] FriddoDK commented on #326
Will do

On 28 Mar 2017 19:02, "Cassie Tarakajian" <notifications@github.com> wrote:

[2017-04-06 03:24] #167 closed

[2017-04-06 16:20] mattboyleinnovation opened #336 "Load sound not working"
I am getting an error code loading a sound:
Unable to load assets/click.mp3. The request status was: 404 (Not Found) The error stack trace includes: loadSound at preload (about:srcdoc:54:11)

This is my code:var sound1;
function preload() {
   sound1=loadSound('assets/click.mp3');
}
function setup(){
  createCanvas(400, 400);
}
function draw() {
  background(220);
  function keyTyped() {
  if (key

[2017-04-06 16:25] #336 closed

[2017-04-13 02:04] catarak opened #339 "Duplicate not working when projects contain files on S3"

[2017-04-13 17:59] #87 closed

[2017-04-13 18:42] #339 closed

[2017-04-13 18:46] catarak commented on #309
Since I haven't been able to reproduce this issue I'm going to close it. If it pops up again, feel free to reopen it or open a new issue.

[2017-04-13 18:46] #309 closed

[2017-04-13 18:51] #330 closed

[2017-04-14 14:56] Kimberly1774 opened #340 "translate doesn't work in function setup()"
translate changes the coordinate system only if used in function draw()

[2017-04-14 16:02] catarak commented on #340
Thanks for reporting this issue! This is actually an issue in [p5.js](https://github.com/processing/p5.js) rather than the web editor, so I would create an issue there. I took a look at the [documentation](https://github.com/processing/p5.js)--and it seems like this may be the expected behavior, as translate gets reset in the `draw()` loop. On the issue you create in the p5.js repository, it would

[2017-04-14 16:02] #340 closed

[2017-04-15 21:41] shiffman commented on #87
end of an era

[2017-04-20 18:14] #329 closed

[2017-04-21 10:23] branhost opened #343 "No Spacing."
In the p5.js [web editor](https://alpha.editor.p5js.org/) there is an annoying bug. If I type something and try to go back to add spaces for changes it deletes the code! Please fix this soon. Thanks!

[2017-04-21 16:01] catarak commented on #343
Which browser are you using? There are some lingering issues with Microsoft Edge.

[2017-04-22 13:40] JMandel1027 commented on #212
Hi guys, I came across a similar issue while prepping for a class I'm teaching with p5.js. It seems the web editor cant load external image files from the web, I tried with both png and jpg's.

`Access to Image at 'https://rlv.zcache.com/happy_smiley_face_with_sunglasses_sticker-rf1a85167493343bd9b1b4943541b5553_v9waf_8byvr_324.jpg' from origin 'http://alpha.editor.p5js.org' has been blocked by CO

[2017-04-23 17:48] catarak opened #344 "keyPressed variable remains true when key is no longer pressed"
Tested this in other web editors and it works there, so this seems to be a web editor specific issue.

[2017-04-23 17:55] catarak commented on #212
Thanks for reporting @JMandel1027! Though that may seem weird, your issue is a separate issue and it is actually expected behavior--for security reasons, the server at `https://rlv.zcache.com` would need to enable CORS for `alpha.editor.p5js.org`. Read more at https://github.com/processing/p5.js/issues/1557.

[2017-04-23 17:59] catarak commented on #344
HOWEVER this works if you use `keyPressed()` and `keyReleased()`

[2017-04-23 18:02] catarak commented on #344
Turns out this is an issue with p5.js versions < 5.8. I'll fix this so it uses the latest p5.js.

[2017-04-28 08:20] andrewn commented on #205
CodeMirror has a `search` addon that manages it's own dialog box and UI. We could use this as-is and use CSS to style the dialog. This is the approach Glitch seem to have taken:

<img width="458" alt="screenshot 2017-04-28 10 14 24" src="https://cloud.githubusercontent.com/assets/1762/25520346/e3a4b642-2bfb-11e7-8858-038a7932858a.png">

It doesn't look like this supports adding to the search dialo

[2017-04-28 20:43] catarak commented on #205
In my conversation with the developer at Glitch he advised against making changes to CodeMirror as it can be a big time suck. Though looking at the CodeMirror [documentation](https://codemirror.net/doc/manual.html#addon_dialog), it seems like regex is supported, so maybe  making the UI change wouldn't be so hard.

I say make it work for now without forking the addon, and then once it works, invest

[2017-05-03 15:46] #170 closed

[2017-05-05 00:22] jenagosta opened #347 "Jumbled file menu"
Hello!
I just re-opened a few p5 files that were created around January 2017 (about 5 months ago), and the file menu to the left of the editor window is quite jumbled. The folders are also expanded by default and will not allow me to collapse them.

SAMPLE FILE: http://alpha.editor.p5js.org/jenagosta/sketches/SyBg5toGx

SCREEN GRAB OF PROBLEM: https://cloud.githubusercontent.com/assets/28418186/25

[2017-05-07 20:04] jloooo opened #348 "Textures and other 3D scetches not showing."
This may have something to do with the textures.

[2017-05-08 02:41] lanstonpeng opened #349 "npm start error"
I checkout the repo and follow the instructions to setup
while I open `localhost:8000`, it did show the p5 editor page, but the terminal always shows this particular error

[code]

[2017-05-08 22:09] catarak commented on #349
I'm not sure what's triggering the 404 page to load, but the reason it's crashing is because `npm run fetch-examples` loads p5.js example sketches to the p5 user and that hasn't been run yet. This needs to be added to the README.

[2017-05-08 22:09] catarak commented on #348
can you link to the sketch you're having issues with?

[2017-05-08 22:10] catarak commented on #347
this is probably a CSS bug, I will investigate.

[2017-05-08 22:30] jenagosta commented on #347
thanks cassie!

On Mon, May 8, 2017 at 3:10 PM, Cassie Tarakajian <notifications@github.com>
wrote:

--

.......................
J E N   A G O S T A​
503-734-8104

[2017-05-10 01:09] lmccart opened #350 "add file / upload box feedback is confusing"
When I drag/drop a file onto the upload box, it wasn't clear to me at first that the file had actually successfully loaded. I'm not sure with the new design, if this will change completely. But in case it hasn't been addressed already, I think some kind of feedback that the file successfully completed would be useful. This is the current view on upload complete.

![screen shot 2017-05-08 at 12 05

[2017-05-10 04:48] mtchl opened #351 ""Payload too large" error on adding data files"
Hi - love your work folks! Ran into this issue with my students this week.
https://alpha.editor.p5js.org/mtchl/sketches/H1xyolxgZ
This sketch includes text files with position data - 1000 coordinate pairs, each file is c 45kb. After uploading a third file of the same size, the sketch refuses to save and any new edits go unsaved.

The JS console shows this error
`PUT https://alpha.editor.p5js.org/a

[2017-05-10 13:53] machinic commented on #350
The new design proposes three status messages for this process: Uploading (so the user is aware that their drop was successful and the upload is in process), and Success-Completed (so the user has confidence the operation was completed), three is Failure so that the user knows when the operation was not successful. The text for these messages is more robust than what's written above but that's the

[2017-05-10 17:20] #347 closed

[2017-05-10 17:26] catarak commented on #347
this looks fixed to me, but let me know if you see any other weirdness.

[2017-05-10 18:40] catarak commented on #348
@jloooo fyi this p5 example is working for me: http://alpha.editor.p5js.org/p5/sketches/rkk7uycLSwx

[2017-05-10 18:52] catarak commented on #351
Since the file is so small, it's being uploaded to MongoDB locally rather than to S3. Therefore, this is probably an issue with the Express.js configuration or the ngnix config—will investigate!

[2017-05-10 19:07] #351 closed

[2017-05-10 19:16] ghost opened #352 "Unusable on mobile"
I don't know if it's just my phone, but everytime I press space, the word I enter gets deleted.

For reference, my phone is a Moto E, running android 5.1

[2017-05-10 19:20] catarak commented on #352
At the moment the web editor does not support mobile! We hope to support it in the future.

[2017-05-10 20:22] catarak commented on #343
@branhost can you add more details, such as the browser and OS you are using so that I can try to reproduce?

[2017-05-10 23:51] jenagosta commented on #347
all fixed. Thank you!! looks great.

On Wed, May 10, 2017 at 10:26 AM, Cassie Tarakajian <
notifications@github.com> wrote:

--

.......................
J E N   A G O S T A​
503-734-8104

[2017-05-11 01:06] lmccart commented on #350
@machinic ah great, that sounds perfect, sorry I missed that in the wireframes.

[2017-05-11 01:06] #350 closed

[2017-05-11 02:27] gravitron- opened #353 "Save sync issue"
Code does not save properly and the editor and server version go out of sync. The failed save is not flagged. The sketch runs the server code rather than the code visible in the editor, resulting in some confusion. Requires constant page refresh to display the saved server code.

For example: A variable is commented out. Code is saved. Further edits are made. Sketch is run but produces unpredictab

[2017-05-11 13:37] yporteous opened #354 "Duplicating a sketch causes issues with uploaded files"
When duplicating a project, uploaded files seem to not carry over properly. While this can be worked around with external hosting for javascript libraries, the same cannot be done for images or other assets that need to be loaded by the javascript.

[2017-05-11 21:39] kjhollen commented on #354
Just encountered this one today, too.

Example broken sketch:
http://alpha.editor.p5js.org/kjhollen/sketches/BkFrYIfxZ

Original sketch:
http://alpha.editor.p5js.org/kjhollen/sketches/H1XSKIfxW

Console error for the duplicate sketch says 403 Forbidden when trying to load the asset from aws.

[2017-05-13 23:42] catarak commented on #353
can you add a link to the sketch that's causing this? i'm not able to recreate this issue. and yes, if you see it again, definitely look at the browser console and attach a screenshot if there's any errors.

[2017-05-14 01:31] catarak commented on #354
this is one of those very fun bugs in which this works locally but not in production. investigating...

[2017-05-14 02:17] catarak commented on #354
i have determined that this has to do with the permissions of the s3 bucket itself. investigating more...

[2017-05-14 02:23] #354 closed

[2017-05-16 00:31] lmccart opened #355 "sketch disappeared"
this is the sketch:
http://alpha.editor.p5js.org/lmccart/sketches/SJYXZuA1e

I'm able to open this sketch via my sketchbook (it's named locate me), but when I do I get a blank sketch with a randomized name.

[2017-05-16 15:10] catarak commented on #355
hmmmm it appears this sketch is somehow corrupted, will investigate

[2017-05-16 15:14] lmccart commented on #355
i might've broken it myself... i've remade it already so feel free to disregard this issue if it's not useful for you to investigate

[2017-05-22 01:03] Spongman opened #357 "Auto-refresh isn't honored when loading new example sketch"
- load an example sketch
- hit play
- check 'Auto-refresh'
- load another example sketch

the old sketch is still running.

[2017-05-24 15:57] catarak commented on #355
i looked into this and what i think happened is that there was no selected file, and therefore the editor didn't know which file to display. maybe this shouldn't be stored in the database, and this should be determined on the front end only...

[2017-05-24 16:00] catarak commented on #353
i'm going to close this issue since i'm not able to reproduce it. feel free to reopen if this happens again.

[2017-05-24 16:00] #353 closed

[2017-05-24 16:09] catarak commented on #349
i fixed the readme but otherwise i am not able to reproduce this. feel free to reopen if you run into this issue again.

[2017-05-24 16:09] #349 closed

[2017-05-24 16:10] catarak commented on #348
i'm not able to reproduce this so i'm going to close this issue. feel free to reopen if you run into this issue again.

[2017-05-24 16:10] #348 closed

[2017-05-24 16:18] catarak commented on #343
i'm not able to reproduce this so i'm going to close this issue. feel free to reopen this if you have steps to reproduce or you run into this issue again.

[2017-05-24 16:18] #343 closed

[2017-05-24 16:20] #344 closed

[2017-05-24 16:35] catarak commented on #44
should this be the default? should this be an option that a user can turn on?

[2017-05-24 16:39] lmccart commented on #44
my intuition says let's just do this by default, and not add more options that could potentially confuse

[2017-05-24 17:32] catarak commented on #99
Autocomplete file: https://p5js.org/reference/data.json

[2017-05-24 17:35] catarak commented on #108
This shouldn't be too hard to do, with the use of [react-helmet](https://github.com/nfl/react-helmet).

[2017-05-24 17:38] catarak commented on #259
i'm not able to reproduce this so i'm going to close this issue. feel free to reopen if this comes up again!

[2017-05-24 17:38] #259 closed

[2017-05-24 17:40] catarak commented on #286
i'm going to close this since i wasn't ever able to reproduce. feel free to reopen if this comes up again!

[2017-05-24 17:40] #286 closed

[2017-05-25 09:32] andrewn opened #358 "S3 authentication doesn't work in newer AWS regions"
I'm running the Editor locally with a test S3 bucket in the `eu-central-1` Frankfurt (EU) region. Trying to upload files gives me this error:

[code]

[Stackoverflow suggests](https://stackoverflow.com/questions/26533245/the-authorization-mechanism-you-have-provided-is-not-supported-please-use-aws4) that this is because we're using an older authentication mechanism that isn't supported in the newe

[2017-05-25 17:37] catarak commented on #358
It would probably be good to upgrade this at some point 😄

[2017-05-26 12:15] bensk opened #360 "Could Tidy be either a keyboard shortcut and/or full-width of the dropdown?"
The dropdown is not super discoverable, and then I'm watching people click on the whitespace next to tidy, and get no result.

Thank you!

[2017-05-31 19:28] catarak commented on #360
If you click on "Keyboard Shortcuts" under the tidy option, it opens up an overlay with a list of all of the currently supported keyboard shortcuts (though not including the detailed list of Sublime Text shortcuts that the editor supports). Tidy is in there!

It's true that "tidy" is hard to click, so I can make that full width/easier to click.

[2017-06-01 12:32] bensk commented on #360
🙏🏾 Thank you! Sorry I missed the shortcut.

[2017-06-01 12:32] #360 closed

[2017-06-01 22:50] lmccart opened #368 "Right-clicking on multiple files leaves multiple dropdowns open"
1. right-click file and choose "rename"
2. type new name and hit enter
3. context menu doesn't disappear

(chrome / osx)

<img width="163" alt="screen shot 2017-06-01 at 3 49 23 pm" src="https://cloud.githubusercontent.com/assets/191056/26704122/00b983c4-46e2-11e7-9797-4f75239ce992.png">

[2017-06-06 02:41] #108 closed

[2017-06-06 02:46] #218 closed

[2017-06-06 19:23] #205 closed

[2017-06-10 23:43] quasarbright opened #370 "cannot view other sketch files"
The file dropdown menu that usually allows you to switch between the sketch files (different scripts and the html and css) is not appearing, making it impossible to view, create, or edit other files in a sketch.
![p5jscapture](https://user-images.githubusercontent.com/24596031/27007106-05c6f45c-4e15-11e7-9086-aa089b6ef7f0.PNG)

[2017-06-12 17:55] alignedleft opened #371 "UI: Enable dismissing overlays with click or escape keypress"
Currently, when the following overlays are open:

- Share Sketch
- Open Sketch
- Examples

…to dismiss an overlay, one has to click the "X" in the top right corner.

I’d suggest adopting the convention where, in addition to "X", either of the following also dismisses an overlay:

- clicking anywhere in the gray background area (`div.overlay`)
- pressing the `escape` key

[2017-06-13 16:49] catarak commented on #370
This appears to only be an issue in the dark theme mode.

[2017-06-13 16:50] catarak commented on #371
I think this is a great idea!

[2017-06-18 20:44] catarak opened #372 "whitelist //noprotect comments for loop protect code"
Since comments were messing up the loop protect code, a step to the preview generation pipeline got added to remove all comments. This needs to be amended to keep //noprotect comments.

[2017-06-19 03:41] AntonVoltchok commented on #371
I would be interested in helping out, currently my stack is React redux rethink express front / koa node back, so somewhat similar.

[2017-06-19 11:30] andrewn commented on #205
@catarak This issue can be moved from "In Progress" to "Done"

[2017-06-19 23:08] CleezyITP opened #373 "Examples in alpha don't work"
Opening examples produces an infinite loop. I'm using  chrome/mac.

When I try to open any example sketch the site continually reloads, switching between the initial sketch and the example.

[2017-06-20 22:49] catarak commented on #373
hmmm I'm not able to reproduce this... is there a specific example that causes this to happen or is it all examples?

[2017-06-21 00:40] CleezyITP commented on #373
all examples, as @antiboredom is my witness

[2017-06-21 00:41] CleezyITP commented on #373
@catarak ah! It is because of AdBlock...

[2017-06-22 18:05] catarak commented on #373
no worries 😄 which adblocker are you using? i would like it if the editor didn't break because of an adblocker...

[2017-06-22 18:06] CleezyITP commented on #373
Adblock plus

On Thu, Jun 22, 2017 at 2:05 PM Cassie Tarakajian <notifications@github.com>
wrote:

--
Sent from The Government

[2017-06-23 06:45] ducklin5 commented on #99
Is this the autocomplete file for tern or specifically for the p5 web editor?

[2017-06-23 06:58] ducklin5 commented on #99
@catarak, is this json file a tern plugin or auto completion specifically for the p5 web editor?

[2017-06-23 17:06] kaganjd commented on #99
@ducklin5 it's the output of running `grunt` on the p5 source. it's basically all the p5 documentation in JSON form. i'm working on getting it to a format that works with tern. here's a gist of that process so far: https://gist.github.com/kaganjd/32c87c49fda5f61b78aa2b88993daca4

[2017-06-26 18:02] catarak commented on #371
@AntonVoltchok feel free to work on this and make a PR! just comment on this ticket if you do start working on it so no one else is also working on it 😸

[2017-06-26 18:40] #11 closed

[2017-06-26 19:09] catarak commented on #373
hmmm I use the same adblocker, do you have a custom configuration?

[2017-06-26 19:39] #372 closed

[2017-06-26 21:46] #370 closed

[2017-06-27 15:12] #357 closed

[2017-06-27 18:14] #55 closed

[2017-06-27 18:23] kaganjd opened #375 "Drag-and-drop file upload UI"
Based on #92 and #271, @machinic designed a new UI for file uploads! @machinic, @catarak, @lmccart: I'm guessing this is the flow based on what I saw in Zeplin, but please correct me if I'm wrong about any of this.

## Code
It seems like the preferred interaction is:
1.  User drags a file anywhere on the editor
1.  Dragging triggers file/file type detection, handling, and UI
1.  On file drop, file

[2017-06-27 22:46] machinic commented on #375
Sounds about right. I am traveling through Thursday evening. I can add some flow/state details on Friday as well as field any questions that might've come up in the thread.

[2017-06-29 08:57] lmccart commented on #375
that looks right to me

[2017-06-29 17:46] kaganjd opened #377 "File upload UI: 'Uploading' rectangle"
## Code
1.  While file is uploading, show blue border and 'Uploading...' rectangle

## Design
<img width="464" alt="screen shot 2017-06-29 at 10 25 51 am" src="https://user-images.githubusercontent.com/9204835/27701507-ea60f528-5cb5-11e7-8a1c-6f8d84502ab1.png">

The styling below is approximate and uses general variable names, units, font weights, and measurements, but the ultimate goal is to repl

[2017-07-03 15:10] Katy310 commented on #371
I would like take up this issue, if no one is working on it.

[2017-07-04 13:46] saumya1906 commented on #231
I would like to take up this issue. Where should I ideally place the search bar in the sketch list overlay?

[2017-07-05 10:19] saumya1906 opened #378 "UI detail:Arrow not required"
![oie_hfapg6kpzqar](https://user-images.githubusercontent.com/22664958/27860039-8264f130-6198-11e7-8962-f7f4d70947aa.png)
In the above image the circled arrow is not required when the project folder is not open. It is not fulfilling its purpose of resizing the project hierarchy view.

[2017-07-08 00:45] blue522 opened #379 "WEBGL"
I'm unable to get any webgl sketches to run on Chrome 59.0.3071.115 for OS X. Is this a me-problem or an editor-issue?

[This example](https://p5js.org/examples/3d-textures.html) shows an empty space where the sketch should run.

[Here's a sketch](http://alpha.editor.p5js.org/blue522/sketches/B1F9ciaE-) copy/pasted from the reference.

Can anyone confirm or refute please?

[2017-07-08 00:48] blue522 opened #380 "Click to save sketches to github account"
Low priority request: the ability to backup sketches to my github account.

[2017-07-08 00:50] blue522 commented on #379
I can refute, by using another computer. Doh. False alarm.

[2017-07-08 00:50] #379 closed

[2017-07-09 11:08] Mikeryp opened #381 "Project stops running occasionally"
The project doesn't run sometimes. I make changes with auto refresh enables, and it doesn't refresh, then i restart the project manually, but the project doesn't load! then after sometime, it starts to function properly again .... please work on this!

:)

All the best for the p5js web editor !!!

[2017-07-10 17:29] catarak commented on #371
@Katy310 go ahead and work on this!

[2017-07-10 17:30] catarak commented on #231
@saumya1906 have I added you to the Zeplin project? There's a mockup in there.

[2017-07-10 17:36] catarak commented on #380
I think integrating with a Github gist/the Github API is actually not super difficult!

[2017-07-10 17:38] catarak commented on #381
Hmmm, I'll play around with this and see if I can recreate. Is this happening to you for all sketches or only certain ones?

[2017-07-10 21:29] catarak commented on #211
# Design
<img width="684" alt="screen shot 2017-07-10 at 5 20 20 pm" src="https://user-images.githubusercontent.com/6063380/28040583-42a32b98-6594-11e7-87b5-d3aea44bce2d.png">
<img width="682" alt="screen shot 2017-07-10 at 5 20 53 pm" src="https://user-images.githubusercontent.com/6063380/28040586-44a3cf9c-6594-11e7-8fb4-646292da0622.png">

## Light Colors
Gray - #999999
Black - #333333
Pink - #d

[2017-07-10 21:32] catarak commented on #266
See the new design on (Zeplin)[https://app.zeplin.io/project/55f746c54a02e1e50e0632c3/dashboard?tag=2017&tag=settings].

[2017-07-10 21:48] kjhollen commented on #211
So excited for this!!

Quick question: will there be a different color for functions that are not recognized in the sketch or p5? (For example if I make a typo and write `noFil()` instead of `noFill()`, what does that look like?)

[2017-07-10 21:48] catarak opened #382 "code folding"
Code folding is an addon to CodeMirror, as demonstrated in this [example](https://codemirror.net/demo/folding.html).

[Zeplin Screen](https://zpl.io/Kr0ir).

[2017-07-10 21:52] catarak commented on #211
p5 functions are in bold blue, and regular/custom functions are not bold. p5 variables are pink, and other variables are other colors (not pink) depending on whether they are parameters/local/global.

[2017-07-10 21:53] catarak commented on #208
# Design
<img width="923" alt="screen shot 2017-07-10 at 5 35 19 pm" src="https://user-images.githubusercontent.com/6063380/28041128-361a91c0-6596-11e7-962e-62c83738910c.png">
<img width="922" alt="screen shot 2017-07-10 at 5 36 11 pm" src="https://user-images.githubusercontent.com/6063380/28041191-73172d72-6596-11e7-8dda-bdfa9b469a17.png">

The custom icons can be downloaded from Zeplin (link soo

[2017-07-10 22:50] CleezyITP commented on #266
need an invite to view!

[2017-07-11 01:51] saumya1906 commented on #231
Katyayani added me to the Zeplin project.

[2017-07-11 13:17] machinic commented on #266
Added @CleezyITP

[2017-07-11 13:40] catarak commented on #92
closing this as it's covered in #375.

[2017-07-11 13:40] #92 closed

[2017-07-11 13:47] catarak commented on #229
# Design
<img width="922" alt="screen shot 2017-07-11 at 9 44 25 am" src="https://user-images.githubusercontent.com/6063380/28071396-caa13466-661d-11e7-8402-e325a201d5bd.png">
<img width="922" alt="screen shot 2017-07-11 at 9 43 43 am" src="https://user-images.githubusercontent.com/6063380/28071401-cc495618-661d-11e7-8070-4ab736b7d577.png">
<img width="921" alt="screen shot 2017-07-11 at 9 44 03 a

[2017-07-11 14:05] catarak commented on #43
# Design
<img width="513" alt="screen shot 2017-07-11 at 10 01 07 am" src="https://user-images.githubusercontent.com/6063380/28072185-42381466-6620-11e7-89f9-0db8e703095f.png">
<img width="510" alt="screen shot 2017-07-11 at 10 03 06 am" src="https://user-images.githubusercontent.com/6063380/28072189-440cccf0-6620-11e7-95e0-b37b3938ba06.png">
<img width="512" alt="screen shot 2017-07-11 at 10 03 2

[2017-07-11 14:19] catarak commented on #137
# Design
<img width="512" alt="screen shot 2017-07-11 at 10 16 54 am" src="https://user-images.githubusercontent.com/6063380/28072829-1da93100-6622-11e7-82b9-567da9905676.png">

Need to make sure that all of the accessibility features work on the full screen view!

[2017-07-11 14:21] catarak commented on #236
With the new design, autorefresh has been left in the nav.
<img width="768" alt="screen shot 2017-07-11 at 10 20 28 am" src="https://user-images.githubusercontent.com/6063380/28073040-9c9b47e6-6622-11e7-9818-c62404614423.png">

[2017-07-11 14:21] #236 closed

[2017-07-11 14:32] catarak commented on #271
The new file screens can be found on the [Zeplin project](https://app.zeplin.io/project/55f746c54a02e1e50e0632c3/dashboard?tag=2017&tag=projectFiles). A few screens for reference:
<img width="768" alt="screen shot 2017-07-11 at 10 29 15 am" src="https://user-images.githubusercontent.com/6063380/28073595-3583854e-6624-11e7-9d2b-3d6b4012421d.png">
<img width="765" alt="screen shot 2017-07-11 at 10 2

[2017-07-11 14:38] catarak opened #383 "Update Login and Signup Screens with New Design"
<img width="510" alt="screen shot 2017-07-11 at 10 36 04 am" src="https://user-images.githubusercontent.com/6063380/28073808-e2303242-6624-11e7-9939-6fd39aec2aa6.png">
<img width="511" alt="screen shot 2017-07-11 at 10 36 17 am" src="https://user-images.githubusercontent.com/6063380/28073810-e3d01ea0-6624-11e7-87ff-e864bd79d840.png">
<img width="512" alt="screen shot 2017-07-11 at 10 36 32 am" src

[2017-07-11 14:49] catarak opened #384 "Update Toast styling to new design"
<img width="512" alt="screen shot 2017-07-11 at 10 48 10 am" src="https://user-images.githubusercontent.com/6063380/28074411-7e4e220a-6626-11e7-8599-8fe8fd4c5c62.png">

More details on the [Zeplin project](https://zpl.io/Z2cihf1).

[2017-07-11 14:50] catarak opened #385 "Update Find styling to new design"
<img width="512" alt="screen shot 2017-07-11 at 10 49 54 am" src="https://user-images.githubusercontent.com/6063380/28074507-bf217e80-6626-11e7-9534-02f31b552064.png">

See more details on the [Zeplin project](https://zpl.io/Z2cihf1).

[2017-07-11 14:58] catarak opened #386 "Update dropdown styling throughout app"
<img width="512" alt="screen shot 2017-07-11 at 10 57 08 am" src="https://user-images.githubusercontent.com/6063380/28074885-cbfd1da2-6627-11e7-8a8a-fe694694d752.png">

See [Zeplin project](https://zpl.io/IWOoy) for more details.

[2017-07-11 15:38] #169 closed

[2017-07-11 16:48] catarak opened #387 "Upload files by URL"
## Why?
I find that a lot of the time I download a file and then immediately upload it to the web editor. Why not remove a step!?

## Design
<img width="513" alt="screen shot 2017-07-11 at 12 43 46 pm" src="https://user-images.githubusercontent.com/6063380/28079506-b577b1aa-6636-11e7-8b98-82c021f5917b.png">
<img width="511" alt="screen shot 2017-07-11 at 12 43 56 pm" src="https://user-images.githu

[2017-07-11 16:51] catarak opened #388 "Update design for adding a text file"
<img width="514" alt="screen shot 2017-07-11 at 12 49 42 pm" src="https://user-images.githubusercontent.com/6063380/28079767-9bc420f8-6637-11e7-9cf6-6e27f41176ce.png">
<img width="512" alt="screen shot 2017-07-11 at 12 49 50 pm" src="https://user-images.githubusercontent.com/6063380/28079769-9cbb603e-6637-11e7-94e9-e6b0462c0b42.png">
<img width="512" alt="screen shot 2017-07-11 at 12 50 00 pm" src

[2017-07-11 16:53] catarak commented on #271
Issues #388, #387, and #375 have been created to fix this, closing this issue.

[2017-07-11 16:53] #271 closed

[2017-07-11 17:36] catarak opened #389 "Update Sidebar styling"
The new design is a significant change from the previous version:
<img width="512" alt="screen shot 2017-07-11 at 1 30 47 pm" src="https://user-images.githubusercontent.com/6063380/28081575-bb912ab0-663d-11e7-8cbd-fc411f7074ac.png">
<img width="511" alt="screen shot 2017-07-11 at 1 31 01 pm" src="https://user-images.githubusercontent.com/6063380/28081578-bca5b88a-663d-11e7-80f5-910e1ede943f.png">

[2017-07-11 17:38] catarak commented on #311
This should be fixed in #389.

[2017-07-11 17:38] #311 closed

[2017-07-11 17:42] catarak commented on #231
<img width="513" alt="screen shot 2017-07-11 at 1 41 23 pm" src="https://user-images.githubusercontent.com/6063380/28081854-b685a068-663e-11e7-92bb-022166425b6e.png">
<img width="515" alt="screen shot 2017-07-11 at 1 41 32 pm" src="https://user-images.githubusercontent.com/6063380/28081855-b78d468c-663e-11e7-8ffe-5ec6440f9b0d.png">
<img width="515" alt="screen shot 2017-07-11 at 1 41 41 pm" src="h

[2017-07-11 17:46] catarak opened #390 "Update Sketch List styling"
<img width="515" alt="screen shot 2017-07-11 at 1 40 38 pm" src="https://user-images.githubusercontent.com/6063380/28082051-5078431a-663f-11e7-9db1-d2febe73adda.png">
<img width="514" alt="screen shot 2017-07-11 at 1 45 40 pm" src="https://user-images.githubusercontent.com/6063380/28082053-52531b92-663f-11e7-95a4-d6612e4fd363.png">
<img width="513" alt="screen shot 2017-07-11 at 1 49 49 pm" src="h

[2017-07-11 17:56] catarak opened #391 "Update share sketch styling, add copy to clipboard on click"
<img width="517" alt="screen shot 2017-07-11 at 1 47 23 pm" src="https://user-images.githubusercontent.com/6063380/28082496-a3cf02b4-6640-11e7-8e44-64d0cb2e13f4.png">
<img width="515" alt="screen shot 2017-07-11 at 1 47 34 pm" src="https://user-images.githubusercontent.com/6063380/28082499-a51d59ae-6640-11e7-9429-3bbf2c2136b4.png">

More details on the [Zeplin project](https://zpl.io/Z2cihf1).

[2017-07-11 18:00] catarak commented on #273
<img width="515" alt="screen shot 2017-07-11 at 2 00 04 pm" src="https://user-images.githubusercontent.com/6063380/28082727-4470e570-6641-11e7-942d-0b889204ccff.png">

[2017-07-11 18:09] catarak opened #392 "Update Account Settings View"
<img width="515" alt="screen shot 2017-07-11 at 2 08 26 pm" src="https://user-images.githubusercontent.com/6063380/28083149-72527052-6642-11e7-9acf-1b7125d13e7c.png">

View more on [Zeplin](https://zpl.io/Z2cihf1).

[2017-07-11 18:14] catarak opened #393 "Update asset list view to new design"
<img width="514" alt="screen shot 2017-07-11 at 2 09 30 pm" src="https://user-images.githubusercontent.com/6063380/28083206-9e0a3c3e-6642-11e7-9e97-c14141414594.png">

[Zeplin project](https://zpl.io/Z2cihf1)

[2017-07-13 12:00] Mikeryp commented on #381
I found the exact source of the problem!!

When auto refresh is enabled, changing a few values refreshes without any problem. Even calling existing functions doesn't cause the problem. But when you define a new function, the auto refresh stops functioning and so does the play button even after i disable the auto refresh,

This is quite irritating if i just forgot to uncheck the auto refresh just b

[2017-07-13 14:13] catarak commented on #381
Thanks for digging around and figuring out the cause of this 😄

[2017-07-13 15:08] Katy310 opened #394 "Function createUser() is written twice in user.controller.js file."
Redundant function causes the app to crash.

[2017-07-14 15:34] catarak opened #395 "Move SSL certificate to Let's Encrypt"

[2017-07-14 19:35] #394 closed

[2017-07-14 19:50] #395 closed

[2017-07-14 19:55] catarak commented on #381
@Mikeryp i'm not able to reproduce. could you post the sketch that breaks it or post a video of this happening?

[2017-07-14 20:02] catarak commented on #368
i'm not able to reproduce this one... is this still happening?

[2017-07-14 20:04] catarak commented on #373
since i can't reproduce i'm going to close this, feel free to reopen if this happens again 💃

[2017-07-14 20:04] #373 closed

[2017-07-15 13:02] Mikeryp commented on #381
@catarak Posting the sketch wont help, because it happens while you are writing a new function. I will see if my computer has enough power to record the screen, because my computer does not have a lot of power.

And the problem does not comes just with 1 function .... sometimes its 1, sometimes its more. Just enable autorefresh, run the code, then while the code is running and autorefresh is enabl

[2017-07-15 14:23] Mikeryp commented on #381
@catarak
Here is the video about the bug.

[bug.zip](https://github.com/processing/p5.js-web-editor/files/1150391/bug.zip)

I hope you fix it. All the Best!! :)

[2017-07-18 10:32] nucliweb opened #396 "DOM links in to iframe"
I have seen a bug in to *Hello P5 : song* example.

When I click in to link `Click to play notes or play song automatically.` reload the editor in to `iframe` tag.

![inception](https://user-images.githubusercontent.com/1307927/28312712-65780050-6bb4-11e7-8981-62cfb8ed315b.gif)

If you change `createA("#","play song automatically.")` for `createA("javascript:void();","play song automatically.")` i

[2017-07-18 12:54] zrispo commented on #396
Hmm, I'm thinking it might be nicer to just have a checkbox instead of a link because of weird iframe business like this

@catarak , would it be a good idea to change the example to what I have here?:

![screen shot 2017-07-18 at 8 52 35 am](https://user-images.githubusercontent.com/4970417/28317872-a836cf48-6b96-11e7-8f20-682fc92428f8.png)

[2017-07-18 13:48] catarak commented on #396
This is a known issue (#145). The examples are automatically pulled in from the p5.js website so I'm not sure it makes sense to change the example. Rather, I think it would make more sense to either (1) serve the preview iframe from a separate subdomain to handle this, (2) inject code into the iframe to handle this, or (3) in the HTML generation step, handle DOM links in a special way.

[2017-07-18 14:57] catarak opened #397 "Add consistent outline styling to match with new design"
This is different across browsers, and should be consistent with the new design. See [Zeplin Project](https://zpl.io/Z2cihf1) for details.

[2017-07-18 19:26] zrispo commented on #251
I'm working on this!

[2017-07-18 19:26] zrispo commented on #382
I'm working on this!

[2017-07-18 19:28] zrispo opened #398 "Thumbnails"
All discussion pertaining to thumbnails for sketches can go in this issue!

[2017-07-19 21:19] zrispo opened #400 "Sketches with for loops with certain syntax errors cause the editor to stop previewing sketches"
Here's an example of a syntax error that will not just throw an error when it's run, but also break the editor (sketches won't run until you refresh the page and fix the code):

[code]

I think the issue is that the loop-protect library isn't built to handle code with syntax errors.

I'll look into finding a way around this so it doesn't crash the editor!

[2017-07-19 21:25] zrispo commented on #400
Also here's the error that loop-protect causes:

![screen shot 2017-07-19 at 5 24 39 pm](https://user-images.githubusercontent.com/4970417/28390247-393996ae-6ca7-11e7-90da-1403ceaea008.png)

[2017-07-19 21:48] catarak commented on #400
hmmmm yeah I'm not sure how to fix this one. the library we're using to check the code for infinite loops is definitely not optimal, but i'm not sure what else is out there.

[2017-07-19 21:52] zrispo commented on #400
Yeah I agree, the loop checking is really helpful & I think it should def stay!

As a hacky solution, it might be safe enough to just not check for infinite loops in code with syntax errors and just skipping that step altogether (the sketch usually won't run to completion anyway if there's a syntax error I think)

[2017-07-20 19:41] kjhollen opened #402 "list of sketches not showing in Safari"
A few students in class today reported that their list of saved sketches is not showing up when they are logged in and click Open. They were all using Safari when this happened, and I was able to replicate on my own machine by switching to Safari, too.

Everyone is happy using Chrome as a workaround for now—so this can be a low priority issue. :)

[2017-07-23 13:57] enauman commented on #402
List of example sketches does not show up in Safari either, Safari v10.1.1. Just says Open a sketch.

[2017-07-23 14:14] enauman opened #403 "File Upload "EntityTooLarge" error box too small"
When uploading a file to a sketch that exceeds maximum allowed the error msg only shows when you mouse over the loading bar, and msg box is too small to read the error to find out what the maximum allowed is (5MB?). Chrome v59.
<img width="260" alt="screen shot 2017-07-23 at 10 07 56 am" src="https://user-images.githubusercontent.com/8062084/28499984-482dc398-6f8f-11e7-9fb8-bb9b33343c87.png">

[2017-07-24 03:13] Superman795 opened #404 "P5.js Editor did not save my file."
I was doing my assignment on the web editor, I saved my work 5 times and it looked alright. One day later I return to resume my work and it wasn't saved at all. All my hard work was gone. This is not fun. Please fix this bug. Its happened to me the second time.

[2017-07-24 14:22] catarak commented on #400
The problem is that this becomes a chicken or the egg situation, where having an infinite loop causes issues with finding syntax errors, and syntax errors causes issues with loop detection  ¯\_(ツ)_/¯

We could try checking for syntax errors before putting the code through the loop detection, and see if that doesn't slow things down/cause other errors.

[2017-07-24 14:23] catarak commented on #403
I agree, this is not ideal 😄 we're working on a new design for the file uploader and may throw out this library.

[2017-07-24 14:28] catarak commented on #404
I'm sorry that happened! This project is still in active development and all of the bugs are not ironed out yet.

That being said, I don't know how to reproduce this and therefore fix this, so any insight you have would be great!

I think it would also be good to have better error reporting if there are errors with saving. I can play around with this.

[2017-07-24 15:12] #402 closed

[2017-07-25 04:44] Superman795 commented on #404
Hey catarak, I understand that the editor is still in its alpha stage of development. There were no error codes issued plus when I saved the file it said project saved. I agree on the part where it would be hard to reproduce this bug. I think there must be a problem on the server side where it is probably not updating with the new files.

[2017-07-25 15:42] catarak commented on #396
I've been looking into this, and one way to handle this is to prevent the default behavior for all `<a>` and `<form>` tags. Which prevents the web editor from loading in the iframe, but also causes any links or forms not to actually work. But this also fixes this example...

Being able to handle multi-page sketches and form submission feels like an advanced feature to me. In order to get it to wor

[2017-07-25 16:17] #396 closed

[2017-08-01 01:59] #404 closed

[2017-08-01 20:41] #212 closed

[2017-08-01 20:41] #219 closed

[2017-08-03 12:21] KaceEDP opened #412 "Writting from mobile"
Special characters such as brackets or pressing delete button add in editor a white line.

[2017-08-03 20:59] catarak commented on #412
@KaceEDP yeah, there's not really support on mobile right now. I'm going to close this into #352.

[2017-08-03 20:59] #412 closed

[2017-08-03 21:09] #211 closed

[2017-08-03 21:39] catarak opened #413 "Adjust CodeMirror styling to match new design"
Only a couple minor changes. See more on the [Zeplin project](https://zpl.io/a3qJ7Q2).

[2017-08-03 21:43] catarak commented on #266
- [ ] move preference from floating window to modal overlay
- [ ] create tabs
- [ ] move preferences into different tabs

don't worry about adding external libraries. that's a separate issue, #4.

[2017-08-03 21:44] catarak commented on #4
This is now covered in the new design. See more on [Zeplin](zpl.io/2GQMoWa).

[2017-08-05 18:46] joemckay5 opened #414 "Problem with splice in web editor"
Okay, I *think* the problem is with splice;
This sketch crashes in the editor after a couple seconds throwing the error "Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'. (sketch: line 45) "
The sketch runs just fine if you export and run it in the browser.
Twist: if you comment line 31 or 32, so the object is only drawing one element, the sketch doe

[2017-08-05 19:47] joemckay5 commented on #413
I'd be interested in looking at the design. Is it posted somewhere public, or can I get an invite?

[2017-08-06 19:17] catarak commented on #413
I can invite you to the project. Maybe I should export all of the screens as PDFs so they are publicly accessible.

[2017-08-06 21:55] machinic commented on #413
@catarak I think there's a way we can do this that will make the designs publicly available and not a static snapshot in time but a view into any ongoing work. I'll verify and if it's the case, get it set up and reply here tomorrow.

[2017-08-07 15:40] machinic commented on #413
This Zeplin "scene" link exposes some outdated styles and older screens. I will archive the older stuff (it's currently managed by tags inside of Zeplin) so that the public scene link reflects the current state of the design more clearly.

The easiest way to parse it right now is knowing that the design screens starting with an `L` are the ones to pay mind to.

https://scene.zeplin.io/project/55f7

[2017-08-07 19:46] catarak commented on #414
i think i've seen this error appear without using splice... not sure what's up but it's good to have a starting point

[2017-08-09 15:28] joemckay5 commented on #414
It's definitely something to do with the preview window, and splice is just illuminating the bug. There's no problem when you use the fullscreen link.

[2017-08-09 20:15] catarak commented on #414
got it. there's some processing that's not happening on the fullscreen view, which is checking for infinite loops so that the whole web editor doesn't crash, and i'll bet that has something to do with it

[2017-08-15 17:23] zrispo opened #416 "Collection/classroom page design"
Hi all!

I'm currently working on implementing the design for the classroom list page seen here in the zeplin project:

https://app.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/59413d8a749bc4afbca089c7

That's coming along, but we will also need the page that shows information about the classroom including:
 - Classroom name
 - Usernames of all instructors
 - Usernames of all students
 - Clas

[2017-08-15 20:28] lmccart opened #417 "friendly error system preferences item"
@almchung has implemented the "friendly error system" in the p5.js, that is, functionality that will (optionally) check the parameters passed into p5 functions when they're called and send helpful messages to console. we're about to merge it this week. this feature can be toggled on and off by setting a boolean variable (`p5.disableFriendlyErrors = true/false;`) in the sketch. is it possible to ad

[2017-08-15 20:30] lmccart commented on #417
I guess one point for debate --
only the p5.js library has this functionality it. p5.min.js doesn't. if the user updated the index.html file to link to p5.min.js, the preferences item would no longer have an effect. would this be ok? or would we need to do some detection and auto-hide the item? or is this a reason it shouldn't be in preferences at all?

[2017-08-24 10:23] rasagy opened #418 "Hello P5: song example breaks the preview window"
### What I tried to do
Opened the first Example in the list — `Hello P5 : song`, and clicked on `play song automatically.` Here’s the project: http://alpha.editor.p5js.org/p5/sketches/r1SLhBE4mZ-

### What happened
The sketch played two notes, and then reloaded the page with editor _inside_ the preview section:

![image](https://user-images.githubusercontent.com/1117531/29661739-9929746a-88e2-11e7

[2017-08-24 15:12] BenLuker opened #419 "Running one program actually runs a different program."
I was working on two separate programs for my class. I opened program A and ran it. Then I opened program B and ran it. They were identical. I thought I had duplicated program A as program B, because they were identical, so I deleted program A. Then I ran program B again, and it was completely different! I just lost program A because of this.

[2017-08-25 01:25] aferriss commented on #368
@catarak Definitely still happening for me in Chrome, Safari, and Firefox on osx. Same steps to reproduce as Lauren.

Additionally if you right click another file in the project folder while the dropdown is open, a second dropdown will pop up.

The only way to dismiss the menus is by right clicking them again.

[2017-08-25 01:36] aferriss opened #420 "Video Not playing in Safari"
~~Using the createVideo function appends a visible video element to the body of the page. Each time the function is called a new video is appended.~~

~~Here's the code in question and a screenshot~~
~~http://alpha.editor.p5js.org/aferriss/sketches/r1NEgAhdb~~

Perhaps this is a separate issue, but I also noticed that videos don't play in the p5 canvas on Safari (though the appended element does p

[2017-08-25 01:39] kjhollen commented on #420
Hey @aferriss I think this is the expected behavior—createVideo is part of the DOM library and adds a video element to the page. Maybe there's something in the docs that can be updated to make it more clear?

[2017-08-25 01:42] aferriss commented on #420
@kjhollen 🤦‍♂️ ah you're totally right! I need to read the docs more carefully.

[2017-08-25 01:59] aferriss opened #421 "Log in screen returns to Sign up screen"
1. Go to https://alpha.editor.p5js.org/signup
2. Click Log In at the bottom
3. Fill in your info and try to Log in

Afterwards you'll be redirected back to the Sign up screen. Clicking the X in the upper right corner cycles the Log In and Sign up screens back and forth. Going to alpha.editor.p5js.org will bring you to the editor and you'll be signed in.

[2017-08-26 16:22] VioletIzHere opened #422 "Output Window Becomes Project Window"
When I tried the sound example in the p5 editor, I found that when I clicked the only hyperlink on the output section, the output section turned half into another p5 editor with the same file and half the output window.

[2017-08-28 16:15] catarak commented on #418
Thanks for the detailed breakdown! This is a known issue, discussed in #145. The example actually got fixed, I just need to rerun the task in production. I'll do that right now :smile:

[2017-08-28 16:21] catarak commented on #418
This is now fixed in production. Dom links still cause the editor to render in the iframe, so I will leave #145 open.

[2017-08-28 16:21] #418 closed

[2017-08-28 16:24] catarak commented on #417
I think it would make sense to, by default, add the non-minified p5.js to a project and include the friendly errors in preferences. Maybe the preference could be removed or unable to be changed if the non-minified version of p5 isn't included in the project?

[2017-08-28 16:45] catarak commented on #420
Just tested this project in Safari outside of the editor to make sure it's not p5.js issue. It works, so I'll need to do some digging to figure out what's causing this.

[2017-08-28 17:51] catarak commented on #419
Oh no, I'm sorry to hear this! I will try to recreate, but can you also add a link to the sketch? Maybe it's a a bug that has to do with the specific sketch.

[2017-08-28 19:00] catarak commented on #419
My current steps to reproduce this bug are:

1. Open existing sketch
2. Don't save it
3. hit duplicate
4. Make changes to the duplicate sketch
5. When you save the duplicated sketch, your changes disappear

[2017-08-28 19:06] catarak commented on #421
Thanks for submitting this! I can reproduce. After logging in or signing up, the app is supposed to redirect you to the last page you were on before authenticating. There's obviously a bug there 😄

[2017-08-28 19:12] catarak commented on #422
Just fixed this one, see #418.

[2017-08-28 19:12] #422 closed

[2017-08-28 21:46] BenLuker commented on #419
You know what? I think I was just stupid and did something wrong. Thanks
for your concern though.

On Mon, Aug 28, 2017 at 12:00 PM, Cassie Tarakajian <
notifications@github.com> wrote:

[2017-08-28 21:55] catarak commented on #419
No worries! I think that this helped me find a separate bug so 🎉 🎉 🎉

[2017-08-28 21:57] catarak commented on #368
Cool, I'll look into this one again, though it may become irrelevant when the new sidebar design is implemented (#389).

[2017-08-29 17:35] kjhollen commented on #419
Oohhhhh I think I saw this over the summer but didn't report it because I couldn't figure out the steps to reproduce it. Glad you could track this down, Cassie, and thanks for filing, Ben!

[2017-08-30 11:46] ernio opened #427 "The editor does not show any error if you write lenght instead of length in arrays"
} else if(stack.lenght > 0) {

[2017-08-30 19:09] kjhollen opened #428 "Can't save sketch (sketch corrupted)"
A student had a sketch in class today with some errors, which we fixed, but it would not run. It seems that maybe the root cause is that the code is not being saved on the server end, so it's running a stale version of the code instead of what's in the editor.

Original sketch link:
https://alpha.editor.p5js.org/lsm0821/sketches/r19_DZGY-

When I duplicated the sketch wouldn't save there either:
h

[2017-08-30 21:21] catarak commented on #428
i tried to reproduce this and i wasn't able to. when i fixed the errors (the period instead of the comma and `mousex` instead of `mouseX`, the sketch ran fine. i also found this to be true when i duplicated the sketch. given #419 i think there's something weird happening with duplicating projects, so maybe it's related to that as well.

[2017-09-01 18:55] saumya1906 opened #429 "Serve over HTTPS Modal"
In the "Serve over HTTPS" modal, unnecessary text and another close button are showing up.

![modal](https://user-images.githubusercontent.com/22664958/29983821-368853d2-8f75-11e7-9f08-13afa955fc55.png)

[2017-09-01 20:21] shiffman opened #430 "class and let warnings"
As with #21, I'd like to suppress the warnings in the editor for `let` and `class` as we plan to use this syntax for teaching at ITP.  Thoughts?

<img width="301" alt="screen shot 2017-09-01 at 4 15 57 pm" src="https://user-images.githubusercontent.com/191758/29986476-904535a0-8f31-11e7-99f8-70413acb4280.png">

[2017-09-05 15:24] joeyklee opened #433 "Implicit return value error"
Hi there!

On my first `npm start` of the editor, I received the following error:

<img width="703" alt="screen shot 2017-09-05 at 17 13 37" src="https://user-images.githubusercontent.com/3622055/30068660-bb3ebf62-925e-11e7-9277-323593756f7c.png">

I believe this has to do with the point that the referenced function is not returning anything, but rather assigning a property.

[2017-09-05 21:54] #433 closed

[2017-09-05 21:57] catarak commented on #430
agreed! this is a simple change to the JSHint configuration so it can be added quickly 😸

[2017-09-05 23:51] garryson361 opened #435 "keyIsDown"
wont let me do
var p1y = 150
var p1x = 0

	rect(p1x,p1y,10,100)
	if(keyIsDown(DOWN_ARROW)){
	p1y = p1y - 3
	}

[2017-09-05 23:55] lmccart commented on #435
this works for me:
[code]
have you included setup and draw in your code?
which version of the p5.js library are you using? which browser are you running it on?

[2017-09-06 07:17] joeyklee commented on #433
Woohoo! Thanks! 🎉
(creds to @Daniyar for explaining what's up)

[2017-09-06 15:43] garryson361 commented on #435
Yeah... Im sorry. I forgot to click on the window where it was running

[2017-09-06 15:43] #435 closed

[2017-09-06 15:44] catarak commented on #435
no worries, thanks for reporting!

[2017-09-13 22:09] lbarron1 opened #437 "unexpected revert to previous version of file"
All the code written for a project reverted to an earlier version unexpectedly. The project was saved regularly and no other issues seemed present. The file that the piece went back to was the one saved prior to closing the browser and reopening it to work on it later.

[2017-09-14 18:24] catarak commented on #437
I've noticed something similar in #419. I will investigate, and if you notice any more specific steps to reproduce add them here!

[2017-09-14 18:32] #430 closed

[2017-09-14 18:51] #429 closed

[2017-09-14 21:36] shiffman opened #438 "Remove or change preview warning?"
Filing an issue to follow up on discussion with @catarak @lmccart today. The preview warning is less necessary now and takes up quite a bit of screen real estate especially while teaching on a lower resolution projector. I'm not sure if it's best to remove or have it fade out or just make it smaller, subtler, whatever you think is best Cassie!

[2017-09-14 21:38] catarak commented on #438
i'm finishing up #229 which removes this!

[2017-09-14 21:39] shiffman commented on #428
I just want to note that this error came up in class at ITP this week. Here's a screenshot of the console as @kjhollen reported.

![screen shot 2017-09-13 at 4 26 41 pm](https://user-images.githubusercontent.com/191758/30456917-84d9faec-9973-11e7-9d34-b745007c6cce.png)

I did some testing and only ran into this issue when "auto-refresh" was enabled. I'm hoping to pinpoint it more specifically.

On

[2017-09-15 16:59] #229 closed

[2017-09-15 17:11] #438 closed

[2017-09-15 20:02] AidanNelson opened #439 "Invisible Menu Items"
Menu items are invisible (in background color) until I hover my mouse over them.  Then, they switch to white.
<img width="250" alt="screen shot 2017-09-15 at 3 55 22 pm" src="https://user-images.githubusercontent.com/6486359/30501153-430425fe-9a2f-11e7-82a9-afe6bb023c67.png">

[2017-09-15 20:04] catarak commented on #439
looks like an issue with the theming 😄 should be a quick fix!

[2017-09-15 20:12] #439 closed

[2017-09-18 03:22] shiffman commented on #229
This is so exciting to see pushed live! Great work @catarak and everyone! 👏👏👏

[2017-09-20 13:12] itp-room15 opened #440 "We love the web editor!"
Just saying hi from ICM Wednesday morning at 9am.

[2017-09-20 16:33] vanevery opened #441 "Canvas preview in editor doesn't show full range of mouse postions"
function draw() {
print(mouseX);  // Never shows 0 when run in editor, lowest value appears to be 6
}

MacOS Chrome Version 61.0.3163.91 (Official Build) (64-bit)

[2017-09-20 19:40] itp-room15 commented on #428
Hello! This is Dan from afternoon ICM. We are trying to determine what causes this and MH had a suggestion that a single quote `'` or underline `_` at the end of a line of code with auto-refresh enabled breaks the project. It can no longer run or be saved.

[code]

[2017-09-23 11:10] #440 closed

[2017-09-23 11:18] shiffman opened #442 "confusion re: missing options, not your sketch"
I've noticed in the last couple weeks working with students that there is some confusion over the missing "save" and also the missing "add file", "add folder" options when you are viewing a sketch that is not part of your own account.

I wonder if instead of removing these options, it might be more clear to have them "greyed out" and perhaps a message "please duplicate into your account before ___

[2017-09-23 11:22] shiffman opened #443 "Activating Menus --> File/New by accident"
This may just be me and my own incompetence (as well as the smaller resolution I'm using with a classroom projector), but I am finding while teaching that I'm activating the top menus by accident often. For example, I end up clicking File --> New when meaning to just click run.

Should they require a click rather than a rollover?

[2017-09-23 11:24] shiffman opened #444 "undefined String, missing console error"
The following code produces an error in the Chrome console `Cannot read property 'toString' of undefined` but no error shows up in the editor console.

[code]

[2017-09-24 06:59] dhowe opened #445 "Feature-request: copy-as-rtf, copy-selection-as-rtf"
Support copy sketch (or selection) to allow pasting into other documents with syntax highlighting, etc.

This is a really common task for teachers: code an example, paste it into a powerpoint or keynote doc...

[2017-09-25 14:35] machinic commented on #443
I think so given that the UI has been tightened-up in terms of overall space, so this is more likely to occur now than in the previous iteration. Having that degree of intentionality (trigger menus on click)  would help and is not outside of the realm of expectation particularly if we include a hover indication — I suggest something like this (where File is being hovered):

<img width="362" alt="f

[2017-09-26 18:23] catarak commented on #442
i agree—these options should definitely be removed if you do not own the sketch!

[2017-09-26 18:26] catarak commented on #444
i've noticed some console errors only appearing in the Chrome console as well, will investigate!

[2017-09-26 18:28] catarak commented on #445
great idea! i don't know how easy or hard this is to do, or if codemirror already supports this.

[2017-09-26 18:31] catarak commented on #443
noted! i can play around with this.

[2017-09-27 02:09] runemadsen opened #446 "Cookie expiration"
This is a small thing, but can the login cookie be set to not expire when the browser closes? Perhaps set it for a month or so?

[2017-09-29 00:43] sofian opened #447 "Default background color is too close to IDE background color"
I find that when introducing P5.js to students it is important for them to be able to see that something is going on even when their code is empty. In the current interface, the default color of the background matches the background color of the IDE, which makes it difficult to see.

I would suggest perhaps adding a border around the preview.

![screenshot from 2017-09-28 20-40-07](https://user-im

[2017-09-29 13:00] sofian opened #448 "Support static mode"
NOTE: This feature request was imported from [P5.js](https://github.com/processing/p5.js/issues/2220)

The P5.js editor does not currently support "static" mode which allows sketches that do not contain functions setup() and draw() to work.

Static mode is an interesting feature when introducing students to Processing. I wonder if it would even be possible to make it work but I'd be happy to give

[2017-09-29 18:30] catarak commented on #448
Thanks for submitting this! I don't have a strong opinion about this, and could be convinced either way, so I'm curious for more input.

[2017-09-29 18:38] sofian commented on #448
In general, one point in favor of it is simply that it would more adequately match the "java" version of Processing. I also believe the IDE (and not the library) is the right place to implement this.

[2017-09-29 18:39] catarak commented on #442
okay wow i totally misread this, you are saying that it is confusing that these options are missing. from a UX perspective i think it's a little cumbersome to have a popup. one option which CodePen projects use is to make all projects that a user does not own read only, but then you have to duplicate a project in order to change anything.

[2017-09-29 18:53] #421 closed

[2017-09-29 22:03] shiffman commented on #442
Yeah, there's no great solution here and I am ok with it as is. I just wanted to note that I got stuck for a while b/c I didn't realize I wasn't in my own project and was wondering if there's a way to visually indicate that? Happy to leave open for discussion for a bit and then close if my momentary lapse doesn't recur with others.

[2017-10-03 01:10] machinic commented on #442
I think disabling (graying out) the standard menu options that are not available to you when a sketch is not your own makes sense. It also builds muscle memory for the UI in that pieces are not disappearing or moving around. I'll also think more about additional tweaks that could ameliorate this issue.

[2017-10-04 15:29] devonelliott opened #449 "406 Errors on GET Assets for fullscreen link"
I've added a couple of files to my sketch, a .csv and .txt, that I'm trying to preload using loadTable (with the 'csv' and 'header' options) and loadStrings.

The files are in the project, but they do not appear under the 'My assets' window, and I can't find any options to add assets to that window. I added these in the project editor sidebar, where I created a folder called 'assets' and then uplo

[2017-10-04 18:29] catarak commented on #449
thanks for reporting this!

[2017-10-05 09:41] sulfobus opened #450 "Add file by drag and drop does not allow .js library upload"
Images work fine, but when trying to add a new library to a project, it fails:
![image](https://user-images.githubusercontent.com/32538694/31220782-c6e4911e-a9c1-11e7-8ecd-5f3d53cf532a.png)

Only way to add a library AFAIK is to create a new file and copy-paste the library as text into the editor.
Sorry if I'm missing something here, first time poster.

[2017-10-05 19:37] catarak commented on #450
that should work, thanks for reporting!

[2017-10-06 09:10] limzykenneth commented on #448
I quite like this idea, however, it would mean that there will be a difference between code written in the editor vs code written in the user's own text editor (ie. if you copy a static mode code from the web editor into a custom setup project in your own text editor it will fail).

This works for Processing because Processing's users will probably be using the editor as the code actually written

[2017-10-06 15:16] sofian commented on #448
Yes this is the main drawback. No intermediate user really uses static mode, it is really more of an educational feature to introduce students to coding. So I believe that by the point users start using p5.js as a library outside of the IDE, they will be advanced enough to not use the static mode anymore, and it will be fine to just point out that static mode is not going to work in that context.

[2017-10-10 13:54] repgainer3 opened #451 "P5.js uncompressed download broken."
On the P5.js/download page, none of the files work, whenever I try to download them it gives me a 404 error.

[2017-10-10 15:52] ngchupkov opened #452 "My editor has not been working for the past few days."
Hi, my editor has not been working at all. It won't let me save any projects or preview them for the past few days. I tried using my account on a different computer and even tried to make a different account but i could still not get it to work. Hope you can help.

[2017-10-10 22:43] catarak commented on #451
thanks for this! could you be more specific about what's going on? are you referring to the p5 web editor or do you mean on the p5.js website, at https://p5js.org/download/? i just tried to download the latest p5.js on the website and it doesn't seem to be working, so i think that's what you mean.

[2017-10-10 22:47] catarak commented on #452
thanks for reporting this! i'm sorry this is happening to you, but i'm not able to reproduce this. could you be more specific about what's happening? what is your account? do you have a specific sketch that is not working?

[2017-10-10 22:48] #451 closed

[2017-10-10 23:04] catarak commented on #450
just tried to reproduce this but i'm able to upload javascript files. do you have the specific file you're trying to upload?

[2017-10-10 23:06] catarak commented on #446
which browser are you using? for me, when using Chrome, i stay logged in after quitting and reopening.

[2017-10-10 23:33] catarak commented on #447
this is addressed in the latest design:

https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/59413d796dcd7f8bbce04ece

[2017-10-11 00:39] sofian commented on #447
Good. I'll close this then.

[2017-10-11 00:39] #447 closed

[2017-10-11 04:45] runemadsen commented on #446
Oh, interesting. I'm on Chrome. I can't see how that would work, as the cookie expires with the browser session:

<img width="636" alt="screen shot 2017-10-11 at 12 38 22 pm" src="https://user-images.githubusercontent.com/192021/31422595-759315b8-ae14-11e7-856b-a8969d20f0ad.png">

I'm pretty sure the editor server needs to set a `cookie: { maxAge: XXXXXXX }` option [here](https://github.com/proces

[2017-10-11 08:42] sulfobus commented on #450
Thanks for looking into it. I'm trying to upload the p5.collide2d library downloaded from from https://github.com/bmoren/p5.collide2D. I tried both full and minimized versions. I tried also using my github login, but get same error. If I rename the same file to for example .png if uploads fine.

Clicking on the drop-file-box brings up the file browser with a filtered list ("Custom files", showing

[2017-10-11 15:43] catarak commented on #446
i bet when chrome restores a browser session it restores the cookies as well. i can add a maxAge to the cookies.

[2017-10-11 15:58] catarak commented on #450
i just downloaded and uploaded those files and it's working for me. the response from the uploader is cryptic though, it says 'uploaded plaintext file locally' and looks like it didn't work. is that what you see?

[2017-10-11 16:24] runemadsen commented on #446
Ah, yes. That's probably it. Thank you!

[2017-10-11 16:56] #443 closed

[2017-10-11 20:09] sulfobus commented on #450
No, I get the message above: "You can't upload files of this type" and no file is uploaded.

I tested earlier tonight on a Mac running Chrome and there it worked just fine, just like you describe. Tested another Win10 laptop with Firefox, where it gave the error.

[2017-10-11 20:12] catarak commented on #450
okay got it. i bet this has to do with the MIME type that Windows assigns to the file, which is different from Mac. thanks for helping me figure this out!

[2017-10-15 21:34] lmccart opened #453 "Adds newline when editing on mobile chrome android"
_From @inodb on October 15, 2017 20:43_

On Android chrome Google pixel when I use the editor it seems to automatically add newlines on every edit.

_Copied from original issue: processing/p5.js#2266_

[2017-10-17 19:27] blairsimmons opened #454 "Sketch gets really slow with large array of objects, let's discuss"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

This sketch generates long arrays full of objects:
https://alpha.editor.p5js.org/blairsimmons/sketches/r1979UK2W

After about a minute the program becomes abs

[2017-10-17 19:40] catarak commented on #454
thanks for submitting this! unfortunately right now i'm not able to reproduce this. do you have more details about the browser, operating system, and computer you are using? were you letting the sketch run without creating any ants or had you made a few by clicking?

[2017-10-17 21:14] blairsimmons commented on #454
Does this work:

https://alpha.editor.p5js.org/blairsimmons/sketches/r1979UK2W

On Tue, Oct 17, 2017 at 3:40 PM, Cassie Tarakajian <notifications@github.com

[2017-10-17 22:10] aparrish opened #455 "noprotect doesn't work?"
As illustrated by [this sketch](https://alpha.editor.p5js.org/allison.parrish/sketches/ryVN0lEaW). The error message isn't particular about where `// noprotect` is supposed to go, so I put it everywhere I could think of that seemed even vaguely reasonable. Am I doing it wrong or is something broken? Not being able to turn off infinite loop detection is making it difficult to process large data set

[2017-10-17 22:46] catarak commented on #454
i notice that the sketch slows down as the number of bites increases, so i think it has to do with iterating over the `bites` array.

when running the sketch in full screen mode (https://alpha.editor.p5js.org/full/r1979UK2W) i notice that the sketch still slows down, which means this is not an editor specific issue, and therefore i'm going to close this. definitely reach out to the appropriate cha

[2017-10-17 22:46] #454 closed

[2017-10-17 22:53] catarak commented on #455
thanks for this! the loop protection library is finicky, so i'll (1) make sure it is working properly and (2) figure out how to make it more clear as how to use it.

[2017-10-21 21:31] boazsender commented on #428
It looks like this error happens on the client when a sketch containing a JavaScript syntax error gets passed into decomment, a package in the editor that strips comments from the sketch. I proposed a potential short term fix in pull request #456.

[2017-10-21 21:48] boazsender opened #457 "Running sketches with syntax errors."
First of, way to go on this awesome software! I was able to clone, install and run a local instance to debug really easily.  The setup docs were great, and so was the getting started experience!

I have an architectural suggestion that I wanted to make after working to resolve the "save after syntax error" bug in #428. Over in #456 I made a quick fix to prevent that from happening. I think that fi

[2017-10-22 13:37] shiffman commented on #457
Thanks for looking into this @boazsender! I'll let @catarak weigh in on the technical details, but in principle I agree the sketch does not need to "auto refresh" when there is a syntax error.

[2017-10-22 18:18] AidanNelson opened #458 "loop protect & // noprotect"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:

- Web browser and version: Version 61.0.3163.100 (Official Build) (64-bit)
- Operating System: Mac OS X 10.11.6
- Steps to reproduce this:
The following code throws an error: "Exiting potential infinite loop at line 4. To disable loop protection: add "// noprotect" to your code."  No variation in where I put // noprotect makes

[2017-10-23 19:15] kjhollen commented on #444
I think that maybe all of the syntax error messages are not showing in the p5 console? but print() seems ok.

also seeing that 'file not found' messages are no longer showing in console, which I think had been added:
http://alpha.editor.p5js.org/kjhollen/sketches/BkTlyaoa-

but error message for using color too early appears to be working:
http://alpha.editor.p5js.org/kjhollen/sketches/ryW0Jaop-

[2017-10-24 06:34] aferriss opened #459 "erratic behavior when typing in editor"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:

Every now and then when I'm typing, (especially after hitting backspace or spacebar) the cursor will jump a few lines and insert some random text. This is a hard bug to replicate especially because I can't reliably figure out what triggers it.

FWIW, a co-teacher mentioned that he was seeing the same behavior, but only in Safar

[2017-10-24 06:53] aferriss opened #460 "sketches popup for other users can only be accessed by changing the url while it's already open"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement

#### Feature enhancement details:
Not sure whether to file this as a bug or feature enhancement. I want to be able to type `alpha.editor.p5js.org/username/sketches` in the address bar and view that person's sketches. Right now the only way I can do this is if I
1. open a new sketch while logged in
2. click 'Open' from the

[2017-10-24 14:57] catarak commented on #428
woohoo it's awesome you figured out the root cause of this!

[2017-10-24 22:41] catarak commented on #458
thanks for submitting this! this was also reported in #455 so i'm going to folk this issue into that one, but good to know that many people are seeing this and therefore should be higher priority.

[2017-10-25 00:28] shiffman commented on #444
I've been keeping a list of errors that don't show up in the console that maybe should (a new one I found today, for example, is `NavigatorUserMediaError: Only secure origins are allowed`). @catarak, would you prefer one issue with a long list of errors or separate issues for each or. . .?

[2017-10-25 15:54] garryson361 opened #461 "error in a loop"
When I run the code below (on my account), I get the error:
Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'. (sketch: line 45)
I have tried not being on my account and when I log off, the error doesn't happen
code:
var x = 600
var speed = 1
function setup() {
  createCanvas(400, 400);
}

function draw() {
  var time = Math.round(x / 0.6) / 100
  var

[2017-10-25 19:00] AidanNelson opened #462 "Select-All"
#### Nature of issue?

When select-all-ing code in the editor (using either CMD-A or right-clicking and selecting "select all" from the drop down menu), only a portion of the text is selected.  I have found this both when logged in and not.

- [x] Found a bug

#### Details about the bug:

- Web browser and version: Chrome Version 62.0.3202.62 (Official Build) (64-bit)
- Operating System: Mac OS 10

[2017-10-25 20:22] MathuraMG commented on #461
@catarak - I think this may have to do with the accessibility outputs.
@garryson361 - do you by any chance have any accessibility option checked in the preferences?

[2017-10-25 22:00] garryson361 commented on #461
Yes I do.

[2017-10-25 22:22] MathuraMG commented on #461
Please could you verify if the error goes away if you uncheck Plain-text?

[2017-10-26 03:04] garryson361 commented on #461
Yes. It does.

[2017-10-26 17:23] catarak commented on #459
thanks for reporting this! maybe i've never had this problem because i am not a very fast typer 🙃 i'll see if i can reproduce! i do most of the development on Chrome but i can try giving other browsers some TLC

[2017-10-26 17:28] catarak commented on #460
i agree that this user experience could be improved! i am open to any and all suggestions about this. i think this could partially be solved by building out the classrooms feature (#426, in early stages), but also some search and/or browse built into the app would be great too.

[2017-10-26 17:33] catarak commented on #444
@shiffman for now let's put all of the errors in one issue, and if it makes sense eventually to break them up into smaller issues we can do that.

[2017-10-26 17:40] catarak commented on #461
@MathuraMG thanks for figuring out the cause of this issue!

[2017-10-26 18:02] boazsender opened #463 "Reduce script loads to one load per script"
It seems like the same scripts `p5.min.js, p5.dom.min.js, p5.sound.min.js, loop-protect.min.js, hijackConsole.js` are reloaded everytime the play button is pressed:

![image](https://user-images.githubusercontent.com/122117/32068908-9b7c4798-ba55-11e7-9827-1f8a15e399e4.png)

This should not be required, and loading them once would improve performance.

[2017-10-28 19:01] andylolz opened #464 "Broken link (to tutorials) on about page"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:

Link to [Tutorials](https://p5js.org/tutorials/) on [the about page](https://alpha.editor.p5js.org/about) should now link to [Learn](https://p5js.org/learn/).

Refs processing/p5.js-website#132

[2017-10-30 00:22] aparrish opened #466 "exported projects with unicode strings display garbage"
Projects with Unicode characters inside strings work fine in the web editor, but using these strings in (e.g.) the `text()` function displays garbage. [This project](https://alpha.editor.p5js.org/allison.parrish/sketches/rJMf9yE0-) illustrates the issue. The Chinese character (猫) is displayed fine in the web editor, but when you export the project and open it in the web browser, it shows some moji

[2017-10-30 18:38] catarak commented on #464
thanks for this! should be a quick fix ✨

[2017-10-30 18:42] #464 closed

[2017-10-30 19:00] catarak commented on #466
thanks for the detailed issue! i think it is very reasonable that the default `index.html` file should have the `<meta charset="UTF-8">` tag so i will add that for all new sketches.

[2017-10-30 19:36] #466 closed

[2017-11-01 20:49] #428 closed

[2017-11-02 10:30] BabluKumar17 commented on #212
If anyone has a problem related "CORS" please follow this link: https://stackoverflow.com/a/6083677
It helped me.

[2017-11-04 17:24] shiffman commented on #444
Sounds great, I think I'll open a new thread to try to get this organized.

[2017-11-04 17:24] #444 closed

[2017-11-04 17:28] shiffman opened #468 "Missing Console Errors"
Starting over from #444, this github issue is to track error messages that show up in the native JS console, but not in the p5.js web editor console.  To be clear, there are likely some error messages that should be hidden in the web editor console so this thread is also for discussion around these questions. This first issue contains a list of all the errors and subsequent comments will include s

[2017-11-04 17:35] shiffman commented on #468
Here's an example related to using an `undefined` string with `text()`:

[code]

JS console error: `Cannot read property 'toString' of undefined`

[2017-11-04 17:36] shiffman commented on #468
Here's an example related to "file not found":

[code]

JS console error: `GET http://alpha.editor.p5js.org//missingfile.png 404 (Not Found)`

[2017-11-04 17:44] shiffman opened #469 "console logging p5.Vector"
Related to #468, but I think a different problem so filing a separate issue. Trying to `print()` or `console.log()` a `p5.Vector` object results in the following message: `Converting circular structure to JSON`. We should see: `{x: 100, y: 100, z: 0}`.

[code]

[2017-11-08 21:08] avocadoboi commented on #453
Yep. Same here on LG G3.

[2017-11-09 15:12] shiffman commented on #468
Incorrect renderer:

[code]

Error should read: `Uncaught not supported in p2d. Please use webgl mode`

[2017-11-10 16:44] AidanNelson opened #470 "Changes aren't saving"
#### Nature of issue?

- [ X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Version 61.0.3163.100 (Official Build) (64-bit)
- Operating System: Mac OS 10.12.6 (16G29)
- Steps to reproduce this:
1. make a change in code
2. use keyboard shortcut cmd-s to save ("project saved"dialog appears)
3. reload page and change

[2017-11-10 16:56] AidanNelson commented on #459
Hi!  I am also having this issue (on Chrome) and have noticed it especially when making quotation marks, though perhaps not exclusively then...  attached is a gif.  Thanks!
![gif](https://user-images.githubusercontent.com/6486359/32669330-2221b152-c60e-11e7-90fb-e44bbff74cf7.gif)

[2017-11-10 17:19] cmorgantywls opened #471 "Holding a color in a variable"
#### Nature of issue?

- [ X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:

Google Chrome | 61.0.3163.100 (Official Build) (64-bit)

- Operating System: Mac OS Sierra
- Steps to reproduce this:
 I'm honestly not sure how to reproduce, but in class, we have been working on changing variables with if/else statements

[2017-11-10 17:21] cmorgantywls opened #472 "Student Login Issues"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version: Any
- Operating System: Mac OS Sierra
- Steps to reproduce this:
I have a few students who, despite knowing their password, have to reset their password every time they log in. I have tried doing this myself to make sure they weren't mistyping, and it will allow a login, but on the next login (with th

[2017-11-10 22:03] jawadcode opened #473 "chrome extension"
# Please could you make this editor a chrome extension
I don't know if this is possible and if I'm wasting your time but please could make this into a chrome extension as it would be impractical as a website?

[2017-11-12 16:11] catarak commented on #473
thanks for the suggestion! i'm not sure i understand what you mean, as this project *is* currently a website. could you elaborate further, or include some simple wireframes?

[2017-11-12 16:21] VictorGaiva commented on #473
My guess is that you are say you'd like to be able to use this in chrome as an offline editor, without having do download a program to your computer. Then an extension would make sense.

[2017-11-12 16:22] jawadcode commented on #473
Yes, that is what I meant.

Sent from Mail for Windows 10

From: VIctor Gaiva
Sent: 12 November 2017 16:21
To: processing/p5.js-web-editor
Cc: jawadcode; Author
Subject: Re: [processing/p5.js-web-editor] chrome extension (#473)

My guess is that you are say you'd like to be able to use this in chrome as an offline editor, without having do download a program to your computer. Then an extension wou

[2017-11-13 14:34] lmccart opened #474 "Bug: Print() creates Dialogt to PRint File to Printer and Alpha.editor issue"
_From @Xrispy7 on November 13, 2017 2:4_

I found a bug with Print(); on both Google Chrome Local and Google Chrome > p5.js Alpha Editor
When I try to use Print() in the Alpha Editor i get the following error:

//begin example
var x = 10;
print(x);
//end example
Ignored call to 'print()'. The document is sandboxed, and the 'allow-modals' keyword is not set.

when  I use Print(); Locally Google Chr

[2017-11-13 14:34] lmccart commented on #474
_From @limzykenneth on November 13, 2017 9:58_

Hi @Xrispy7, we have a dedicated repo for the web editor, can you post this issue [over there](https://github.com/processing/p5.js-web-editor/issues) so the web editor team can have a look at it? Thanks.

[2017-11-13 17:54] catarak commented on #473
i agree, that would be awesome! there's a few features i think are higher priority for now, but i've been getting a lot of requests for offline access so we'll see 😄

[2017-11-13 19:43] #452 closed

[2017-11-13 19:50] catarak commented on #474
this is caused by calling `print()`  outside of a p5 function. if you call `print()` inside of `setup()` or `draw()` and so on, it functions as `console.log`. i'm pretty sure this is the intended behavior, @lmccart can you confirm?

[2017-11-13 20:05] catarak commented on #472
if you have any insight on steps to reproduce this let me know—i just tried making a new account, and reseting the password but i can't seem to trigger any issues logging in.

[2017-11-13 20:09] cmorgantywls commented on #472
I don't, unfortunately. It's really just her account and one or two others
that make them reset the password EVERY single time.

On Mon, Nov 13, 2017 at 3:05 PM, Cassie Tarakajian <notifications@github.com

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership School of the Bronx*
*1865 Morris Ave.*
*Bronx, New York, 10453*
*718.732.2590*

[2017-11-13 20:13] catarak commented on #472
that's really frustrating. what are their usernames? maybe that will help to figure out the root cause!

[2017-11-13 20:14] catarak commented on #474
i will answer this question myself and say yes, this is intended behavior, see https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup

[2017-11-13 20:14] #474 closed

[2017-11-13 20:17] catarak commented on #471
thanks for this! were your students trying to use the line
[code]
outside of a p5 function (such as `preload`, `setup`, or `draw`)? it makes sense then that `color` would be undefined, see https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup.  i'm going to close this and assume that was the issue, but please r

[2017-11-13 20:19] catarak commented on #470
i've seen this happen before, i think if you save *only once* it doesn't work, but if you save multiple times it does? or it saves a previous version? i need to do some digging and figure out the specifics of this issue.

[2017-11-13 20:21] cmorgantywls commented on #472
Let me ask in class tomorrow and get back to you! Thank you so much for
looking into this.

On Mon, Nov 13, 2017 at 3:13 PM, Cassie Tarakajian <notifications@github.com

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership School of the Bronx*
*1865 Morris Ave.*
*Bronx, New York, 10453*
*718.732.2590*

[2017-11-13 20:22] cmorgantywls commented on #471
They were using it in a function (setup and draw I believe)! It actually
came up once in sample code I had written that worked fine on my computer
and then caught when they tried to run it on their computers. We cleared
their cache and it still caught for a few students but fixed for others.

On Mon, Nov 13, 2017 at 3:17 PM, Cassie Tarakajian <notifications@github.com

--
Courtney Morgan
*Software

[2017-11-13 20:24] catarak commented on #471
hmmm if you could post the code that wasn't working that would be great!

[2017-11-13 20:25] catarak commented on #462
i've noticed that the text selection in general in the CodeMirror editor has been a little wonky. thanks for reporting this!

[2017-11-13 20:29] catarak commented on #461
This was fixed with https://github.com/MathuraMG/p5-interceptor/pull/8

[2017-11-13 20:29] #461 closed

[2017-11-13 20:30] #457 closed

[2017-11-13 20:36] lmccart commented on #474
@catarak yes this is correct! sorry I should've looked closer at the code example before moving, I though this was referring to calling print() inside of setup or draw.

[2017-11-13 20:41] Xrispy7 commented on #474
@cassie @lmcart Thank you both for clearing this up so quickly! I'll invest
further before posting a bug next time.

Chris P

On Nov 13, 2017 12:36 PM, "Lauren McCarthy" <notifications@github.com>
wrote:

[2017-11-13 20:47] cmorgantywls commented on #471
//variables used everywhere go here!
var colorCircle1;
var colorCircle2;
var colorCircle3;

function setup() {
  createCanvas(400, 400);
  //value at the start of the program
  colorCircle1 = color(150);
  colorCircle2 = color(175);
  colorCircle3 = color(200);
}

function draw() {
  background(255);

  //circle 1 & a variable to find distance of radius
  var d1 = dist(mouseX,mouseY,100,height/2);

[2017-11-13 21:02] catarak commented on #471
i just tried a few different browsers and couldn't reproduce—if you're able to figure out more specifics for how to reproduce let me know!

[2017-11-13 21:12] catarak commented on #459
i've been trying to reproduce this but i haven't had any luck so far unfortunately! let me know if you figure out anymore specifics.

[2017-11-13 21:17] jawadcode commented on #473
Thank You for listening to me.

[2017-11-13 21:33] catarak opened #475 "in the code preview, loop protect is not being run"
the code to protect against infinite loops isn't being inserted, and the editor will crash if a user unintentionally puts an infinite loop in their code.

[2017-11-13 21:33] #458 closed

[2017-11-13 21:42] catarak commented on #448
I was looking at this https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup today, which made me lean towards not including a static mode (or static mode being fairly low priority), but instead explicitly including p5 outside of `setup` or `draw`:
[code]

I think another option would be to explicitly have a 'st

[2017-11-13 21:46] catarak commented on #441
I believe this is due to the HTML element that allows you to reside the code pane/preview pane being on top of the canvas/iframe. If it were behind the iframe then a user wouldn't be able to drag it, so it probably makes sense just to give it some width and not be on top of the code pane or the preview pane.

[2017-11-13 21:51] catarak commented on #427
The weird thing about JavaScript is that I _think_ this is technically not an error; since the property `lenght` of the variable `stack` is not defined, the expected behavior of this is that `undefined` would be printed to the console, not an error. However, undefined is not being printed to the console and i'm seeing a different error:
<img width="720" alt="screen shot 2017-11-13 at 4 50 25 pm" s

[2017-11-13 21:51] catarak commented on #427
this may be related to #468

[2017-11-13 21:52] catarak commented on #470
maybe related to #419?

[2017-11-14 05:07] lee2sman opened #476 "uploading a JS or txt file in Safari fails"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version: Safari 10.1.2 and also tried 11.0.1
- Operating System: OS X
- Steps to reproduce this:

Hello, uploading images works but uploading a text file or a javascript file fails. Tested on multiple computers and browsers. Chrome works fine on the same computers.

[2017-11-14 09:27] aferriss commented on #459
Ok, I finally found something that reliably has weirdness. I'm testing on chrome and when I insert two spaces in between two close parens )) , it inserts a period.

So if I have `abs(ceil(0.5));` and then I go insert spaces to be like `abs(ceil(0.5)  );` the editor will produce `abs(ceil(0.5) . );`

Seems to happen for me no matter the circumstance but only on closing parens. I also noticed this h

[2017-11-14 09:31] aferriss commented on #459
Also not sure if this is related, but I'm getting syntax errors where the shouldn't be any due to extra spaces. Take a look at this code

http://alpha.editor.p5js.org/aferriss/sketches/Sy_hPV_1f

The bug hint seems to thing there is an underscore in there somewhere.

[2017-11-14 14:17] AidanNelson commented on #470
I save pretty often and have noticed it in cases when I've saved multiple times.  In a related issue, sometimes when I run code that I have recently updated, I will get errors which reflect previous versions of the code.  For example, if I am typing:

console.log("hello");

I will get a syntax error, despite the code that is displayed being correct.  If I reload the page, the editor will show only

[2017-11-14 16:42] catarak commented on #459
if it happens on github too maybe it's an issue with CodeMirror? i can try updating CodeMirror to the latest release and maybe that will fix it.

[2017-11-14 17:22] aferriss commented on #459
I did some digging and there's also a few closed issues on the codemirror repo that allude to strange behavior of cursors stemming from not calling the refresh function. I have definitely seen similar behavior to issue 5050 with the jumping cursor and text insertion in the wrong place.

https://github.com/codemirror/CodeMirror/issues/5040
https://github.com/codemirror/CodeMirror/issues/4997

I thi

[2017-11-14 18:31] cmorgantywls commented on #472
Here are at least two that were having issues:

ChannelFour
Cristalr9922

There are a few more including one girl who has given up entirely and is
just coding offline because it gives her so much grief trying to log in.

On Mon, Nov 13, 2017 at 3:20 PM, Courtney Morgan <cmorgan@tywlsbronx.org>
wrote:

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership Sc

[2017-11-14 18:32] cmorgantywls commented on #471
I don't know if this will help, but this happened today to a student:

var circleColor;

function setup() {
  createCanvas(400, 400);

colorMode(HSB);
circleColor = color(100,50,50);
}

function draw() {
  background(225);

  fill(circleColor);
  ellipse(width/2,height/2,100,100);

}

It gave the same error about color not being defined. I noticed that she
had an error previously to this happening

[2017-11-14 22:49] catarak commented on #459
nice catch and thanks for looking into this!

[2017-11-14 22:50] catarak commented on #472
i'll see what i can figure out, thanks!

[2017-11-14 22:59] catarak commented on #476
thanks for reporting this! my hunch is that this has to do with how Safari is determining the MIME type. this is maybe related to #152. perhaps the uploader should just look at the file extension since apparently MIME types are not consistent?

[2017-11-14 23:44] lee2sman commented on #476
Oh yes, looks like same or similar issue. I am able to upload in a brand new sketch but not one I've been working on for a while.
Tried on multiple computers. I tried with .txt, .js and without an extension.

[2017-11-16 12:02] lmccart commented on #470
i'm seeing this one pretty frequently in class as well. my feeling without focused testing is that it happens more often when internet access is slower, and hitting a couple times in succession can make it more likely to happen.

[2017-11-16 14:46] jay-manday commented on #463
If no one has looked into this I can totally work on a patch this weekend n_n

[2017-11-16 18:17] catarak commented on #463
@jay-manday go ahead and work on this!

[2017-11-16 19:31] jay-manday commented on #463
totally! I have a feeeeeling that it's its coming from the files.js reducer thats injecting the sketch into the editor here:

https://github.com/processing/p5.js-web-editor/blob/fd284358c2a1b361e5cfaf1463389a06ce8b28c1/client/modules/IDE/reducers/files.js

I'll keep ya posted! Btw can you hook me up with your s3 buckets? was a little unsure about how to set mine up.

[2017-11-21 05:19] lberdugo opened #477 ""Fullscreen" not displaying images that appear in normal mode"
- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug: Lots of my students are having an issue where image assets they load show up in the preview window in the alpha editor, but do **not** show up when they use the fullscreen version. I've taken a cursory look and I think this occurs in Chrome, Firefox, and Safari.

- Web browser and version: 6

[2017-11-21 06:22] lberdugo opened #478 "Embedded p5.js sketches are not showing up on websites"
- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug: Any embedded p5.js sketch coded with the alpha editor, and then embedded on a larger web project (coded with HTML and CSS) as an iFrame, simply won't show up.

- Web browser and version: Google Chrome 62.0.3202.94, although also reproduced on Safari 10.1.2
- Operating System: MacOSX 10.10.5

[2017-11-27 07:40] lmccart opened #479 "406 on csv file in fullscreen mode"
_From @mimiyin on November 26, 2017 13:13_

Repro here: http://alpha.editor.p5js.org/full/HkaEiVdgG

Works in projects mode.

_Copied from original issue: processing/p5.js#2377_

[2017-11-27 15:39] cmorgantywls opened #480 "Student unable to login without resetting password each time"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Chrome and most other browsers (all current versions)
- Operating System:
- Steps to reproduce this: Student account is Luisannyr8121. Whenever she tries to log in, she is told her password is incorrect and needs to reset it each time. I ha

[2017-11-27 15:44] cmorgantywls opened #481 "(Another) Student unable to log in"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Chrome and all browsers - most recent versions
- Operating System:  Mac
- Steps to reproduce this:
 Student with account Cristalr9922 is unable to log in as it always tells her that her password is incorrect. She will reset and it will imme

[2017-11-27 16:01] TheChesireCat commented on #478
Hello lberdugo, I believe the bug is a result of your browser blocking mixed active content. Please replace the embedded url with https instead of http and see if that fixes it.

[2017-11-27 17:15] catarak commented on #478
thanks for reporting this! i will investigate and see if this is an issue with the editor and/or the AWS configuration.

[2017-11-27 17:17] lberdugo commented on #478
Hi all,

I just tested out replacing the embedded url with "https" instead of "http"
and that fixes it. See this example of one of my student's games to see it
in action: https://xarts.usfca.edu/~aearriola/savethesharksgame/

I hadn't considered that this may be the issue -- thank you for your reply!

On Mon, Nov 27, 2017 at 9:15 AM, Cassie Tarakajian <notifications@github.com

--
liat berdugo //

[2017-11-27 17:18] catarak commented on #479
thanks for reporting this! this may be related to #449.

[2017-11-27 17:26] TheChesireCat commented on #449
Hi all,

Upon investigation of the p5.js httpDo function it seems that the content-type of the request is by default text/plain for non json/xml/text files. This conflicts with the ```requestsOfType``` middleware function
[code]
I am able to succesfully GET the csv file if I edit the request and remove the content-type header.

[2017-11-27 17:30] catarak commented on #449
interesting! i believe this middleware was added for security reasons, so that the API would only accept JSON see https://github.com/pillarjs/understanding-csrf#how-to-mitigate-csrf-attacks. however, maybe csv and txt should be whitelisted?

[2017-11-27 17:55] catarak commented on #481
i've been digging around a bit and i think this might have to do with CSRF tokens. i'll keep investigating and hopefully there will be a fix for this soon!

[2017-11-27 18:00] cmorgantywls commented on #481
Thank you so much! It's driving the kids crazy.

On Mon, Nov 27, 2017 at 12:55 PM, Cassie Tarakajian <
notifications@github.com> wrote:

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership School of the Bronx*
*1865 Morris Ave.*
*Bronx, New York, 10453*
*718.732.2590*

[2017-11-27 21:04] catarak opened #482 "when including files in `<head>` in `index.html`, path prefix is incorrect"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome 62.0.3202.94
- Operating System: Mac OS X
- Steps to reproduce this:

see the following example sketch: http://alpha.editor.p5js.org/cassie/sketches/Sk1Amg9eG

if you try to include an asset in the `<head>`, it makes a request to `/:u

[2017-11-28 05:31] TheChesireCat commented on #478
HTTP embedded sketches will work on websites that are already running HTTP. The default browser behavior is to block mixed active content that isn't HTTPS if the parent website is HTTPS.

The general rule of thumb is to always embed sketches that are on the same protocol as the parent website.

[2017-11-28 05:34] TheChesireCat commented on #449
I believe a possible fix would be adding a requestOfTypePlain as another middleware. Similar to the requestOfTypeJSON.
The site shouldn't be vulnerable to CSRF attacks as long as the client only accepts resources from p5js affiliated urls and of known benign filetypes.

[2017-11-28 16:51] catarak commented on #478
for sure! i'm curious about what the default should be—i had decided to make the default HTTP (except for any authentication pages), but maybe it would make more sense for it to be HTTPS? would that be easiest for newer coders?

[2017-11-28 16:55] catarak commented on #449
makes sense. thanks for the help in figuring this out!

[2017-11-28 17:08] TheChesireCat commented on #478
So what I think is that if they click on share you tell them to use a particular version of the link depending on what they have. So like a simple toggle in the modal to switch urls.

[2017-11-28 19:48] #449 closed

[2017-11-28 19:48] #479 closed

[2017-11-28 21:23] catarak commented on #477
it appears this was also fixed with 03eae2f1efdaa43689c5de0465832c6913d784b1 \ :smile: /

[2017-11-28 21:23] #477 closed

[2017-11-29 10:30] simonlimon commented on #476
Could this also be related to #450?

[2017-11-29 17:39] catarak commented on #476
@simonlimon yeah! i think it's basically the same issue, that the uploader configuration needs to be changed 😸

[2017-11-30 09:05] simonlimon commented on #476
Okey! I'll take a look at it

[2017-12-01 15:16] cmorgantywls opened #483 "Bug with variables that are holding a color!"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX Sierra
- Steps to reproduce this:
Hey guys! I have another student who is having problems with holding color in a variable - it's saying the error is in line one, but I only see her using color within the

[2017-12-01 16:15] simonlimon opened #484 "Mailgun key required in .env for developement"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request
- [x] Issue with development setup

#### Details about the issue:

- Operating System: MacOSX 10.13.1
- Steps to reproduce this:
    1. Fork the repo and clone it from scratch.
    2. Follow the instructions on the `README` to set up the development environment.
    3. Try to run `npm start`. It w

[2017-12-01 16:44] catarak commented on #484
thanks for submitting this! you don't need the mailgun key unless you are specifically working on the part of the app that sends emails (i.e. password reset and email verification). i agree, this could be clearer in the setup guide, and it would be nice in the app didn't crash if you're missing this key.

[2017-12-01 16:53] catarak commented on #483
when i run this sketch i don't see any errors, also using chrome on os x. i need some help reproducing this!

[2017-12-01 17:11] cmorgantywls commented on #483
Hey Cassie,

This has been a reoccurring issue that will pop up pretty randomly when
students are coding - the first time it happened, I had just modeled an
example that ran (and continued to run) fine on my computer at the front of
the class, but gave a similar error (issue in line 1 with 'color') on a
student computer who had just opened the link I sent.

I'm not sure about recreating it beyond

[2017-12-02 10:02] simonlimon commented on #476
@catarak I've been trying to work on this but I've had some trouble setting up an aws s3 bucket for development. I followed the instructions in your gist; however, when I create a bucket in an eu region it gives me the following error when uploading files:

[code]

And when I create one on us-east-1, it logs `Server responded with 0 code.` Have you encountered this before? Maybe instead of me sett

[2017-12-03 16:45] shiffman opened #485 "http/https in sketch preferences"
This is re: bdd8df63015e6f61bfe415931ddb55479c224d6a (removing HTTPS in toolbar).

In helping some students this weekend I noticed the preference doesn't work properly if you are viewing a sketch that is not part of your account. Perhaps this is by design, i.e. if the sketch requires HTTPS, the creator of that sketch should have set that properly? But we may need some sort of UI element to indicat

[2017-12-04 00:12] marynotari opened #486 "getSources() not working in Chrome"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome Version 62.0.3202.94 (Official Build) (64-bit)
- Operating System: MacOSX High Sierra v. 10.13.1
- Steps to reproduce this:
I wanted to connect multiple mics to a sketch using getSources() in the p5.sound library. I tested it using t

[2017-12-04 04:10] francisli commented on #448
Repeating my comments from the pull request (#488) in case it doesn't get propagated to the folks on this issue thread:

I, too, am interested in having the equivalent of Processing's "static mode" for a workshop geared towards elementary school students. Although it seems like a minor and limited feature, I've always felt that it was a keen insight of the original Processing- to completely remove

[2017-12-04 15:37] MathuraMG commented on #483
@catarak - I feel like this is an issue with the accessibility.
@cmorgantywls - Would it be possible to check if the student has any accessibility features turned on in preferences?
(cc @lm-n)

[2017-12-04 15:38] cmorgantywls commented on #483
I can check tomorrow when she's back - I don't think she has turned
anything on unless it was by accident, as we haven't talked about any of
those settings as a class.

On Mon, Dec 4, 2017 at 10:37 AM, Mathura MG <notifications@github.com>
wrote:

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership School of the Bronx*
*1865 Morris Ave.*
*Bronx, New York,

[2017-12-04 16:19] shiffman commented on #485
Just noticed also in office hours that the "sketch preference" for `https` is not retained if you "duplicate" the sketch.

[2017-12-04 16:22] marynotari commented on #486
refiled in p5.js-sound: https://github.com/processing/p5.js-sound/issues/231

[2017-12-04 16:22] #486 closed

[2017-12-04 18:39] #484 closed

[2017-12-04 18:43] catarak commented on #483
@MathuraMG maybe that is it! i will try turning on the accessibility features and see if i can reproduce

[2017-12-04 18:52] catarak commented on #485
thanks for reporting this! will investigate.

[2017-12-04 23:53] sofian commented on #448
@francisli Thanks.

[2017-12-04 23:55] sofian commented on #448
@catarak The option to include a 'static mode' in the editor is a good one : to make it explicit also makes it more clear. I also believe it should be "off" by default -- although (maybe) it could be interesting to overcome that in the URL eg. https://editor.p5js.org?static or https://editor.p5js.org/static or https://static.editor.p5js.org would set the default to be static so that you don't have

[2017-12-07 01:05] francisli opened #489 "Server logging in production"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

In ```requestsOfType.js``` there are some active console.log statements printing the entire request object, which can leak sensitive info (i.e. you'll see passwords sent during registration, etc). If you're actively debugging something in the production environment, I

[2017-12-07 01:34] francisli opened #491 "Cache-control not configured for static assets"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Without any configuration, Express serve-static will set a max-age of 0 seconds on assets served. This prevents caching and could kill your server under heavy load. I'd suggest setting it to something like at least 1 day on production. Normally, I'd suggest cranking i

[2017-12-07 02:08] francisli opened #493 "vendor.js not being assigned a unique hashed filename"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

If you view the source of the main index page served from a production deployment, you'll observe that the vendor.js file did not get assigned a unique hashed filename like app.js and app.css. This can potentially cause issues if a newer index file fetches an older ve

[2017-12-07 02:25] francisli opened #494 "extra / in production webpack url references in index.html"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

It doesn't seem to cause any issues in the browser, so it's probably more cosmetic than anything else, but the production webpack URL references all have an extra / in them:

[code]

[2017-12-07 06:41] francisli opened #496 "Blank Content-Type set for uploaded assets in S3"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Firefox 57.0.1/macOS 10.13.1
- open the editor, sign in to an account
- open the sidebar for a sketch, open the new file modal
- drag-and-drop a file (i.e. a .jpg image) and let it finish uploading
- in the AWS S3 console, or by using a ```curl -I``` on the asset url,

[2017-12-07 06:52] francisli opened #497 "Support US East (N. Virginia) region for S3 buckets, CNAME for buckets"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

I've created my bucket in US East (N. Virginia) so that its in the same region as my server. However, since the code is manually constructing URLs based on the region code, this is failing as the region code is "us-east-1", but being the very first s3 region, the host

[2017-12-07 07:11] francisli opened #498 "My assets modal does not show orphaned assets"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Actually, not sure if it's a bug or intended behavior- if you start a new sketch, upload a file in the sidebar, but don't save your sketch, the file will still be in the S3 bucket, but will not appear in the "My assets" modal. In ```listObjectsInS3ForUser```, only ass

[2017-12-08 19:48] catarak commented on #489
thanks for this! i meant to only leave in these logging statements temporarily 😸

[2017-12-08 19:50] #489 closed

[2017-12-08 20:01] #491 closed

[2017-12-08 20:03] catarak commented on #493
thank you ✨

[2017-12-08 20:07] #494 closed

[2017-12-08 20:22] catarak commented on #497
thanks for this! i am very clueless about all things AWS so i appreciate knowing about all of the things i have done incorrectly.

[2017-12-08 20:24] catarak commented on #498
i think at first i thought that these shouldn't be returned, but thinking about this again, i agree, i think that these assets should be returned 😄

[2017-12-13 13:08] nileshgulia1 commented on #441
Hey @catarak @vanevery :) what is the status of the issue ,is anybody working on it?

[2017-12-13 13:30] nileshgulia1 commented on #416
hey @zrispo , can u please elaborate the issue?

[2017-12-13 19:56] #497 closed

[2017-12-13 19:57] catarak commented on #441
no one is working on this right now! feel free to pick it up if you'd like 😄

[2017-12-13 20:00] catarak commented on #416
@zripso had started building out a classrooms system over the summer (which was super ambitious and awesome) but i'm not sure he's actively working on it right now!

[2017-12-15 01:52] francisli opened #500 "xsrf protection unnecessary...?"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

So, I see that XSRF protection is enabled with csurf on the server side, and setting a cookie containing that token for the axios library on the client side to pick up and send on each request back...

So, one issue with this implementation is that it prevents C

[2017-12-18 17:51] catarak commented on #500
Yeah I think you are right, the XSRF protection is unnecessary. There are a few routes that are not JSON but they are just GET requests so there's nothing to worry about there, right?

[2017-12-21 06:48] francisli commented on #500
That's right- as long as the GET requests don't have any side-effects (which they shouldn't per the semantic intent of GET) then there shouldn't be anything to worry about with those routes.

[2017-12-21 13:14] nileshgulia1 commented on #441
@catarak  @vanevery

It shows 0 in the console.what is the bug ?
Tested on:Firefox Quantum 57.0.1 (64 bit)
![screenshot from 2017-12-21 18-39-52](https://user-images.githubusercontent.com/22280901/34257146-9464e80c-e67e-11e7-9b9c-4bcade639eaa.png)

[2017-12-21 13:20] vanevery commented on #441
Can you try in Chrome with a smaller window?

On December 21, 2017 8:14:23 AM EST, Nilesh <notifications@github.com> wrote:

[2017-12-21 13:30] nileshgulia1 commented on #441
@vanevery  sure.
tested on :ubuntu 64 bit
![screenshot from 2017-12-21 18-56-12](https://user-images.githubusercontent.com/22280901/34257647-bfa77884-e680-11e7-8098-08fb2f137b09.png)
ah ,after it shows:
![screenshot from 2017-12-21 18-58-59](https://user-images.githubusercontent.com/22280901/34257742-181a4c26-e681-11e7-8716-064e161b295a.png)

[2017-12-22 16:50] nileshgulia1 opened #502 "Configure unit tests"
#### Nature of issue?

- [x] New feature request

#### New feature details:
It will be good if unit tests are configured like  p5.js project.
needs some discussion from the members

[2017-12-22 17:25] catarak commented on #502
i definitely support this! feel free to work on this 😄

[2017-12-23 17:58] nileshgulia1 commented on #502
yeah taking this up :+1:  :)

[2017-12-29 14:02] simonlimon commented on #476
After doing some research it seems like the most straightforward and reliable way to solve this is by performing a serverside check for the file types instead of doing it in the client. [This issue](https://github.com/enyo/dropzone/issues/1476#issuecomment-344705803) is very similar and points to that solution.

If we do this we can eliminate all the MIME type inconsistencies across browsers and s

[2017-12-30 13:00] nileshgulia1 commented on #502
@catarak Is there any active communication channel for the community so that i can ask related queries? :)

[2018-01-02 12:27] avocadoboi commented on #470
this happens all of the time for me

[2018-01-08 21:12] #500 closed

[2018-01-16 14:56] MathuraMG opened #503 "Text area fallback for codemirror"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:
With the updates in ios and screen reader softwares, codemirror is becoming less accessible. To deal with this problem, we would lik

[2018-01-16 14:57] MathuraMG opened #504 "Add a hidden menu/button for turning on accessibility features"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:
Add a hidden menu/button before the play button in the nav bar that turns on accessibility features easily. (Such as text and grid o

[2018-01-17 10:36] buoyantair commented on #504
Maybe it shouldn't be hidden, It should be easy to find and accessible :3
Why do you want it hidden o.o

[2018-01-29 14:52] cshirky commented on #416
We're developing a new p5 class at NYU, and are interested in looking at the mockups. Is the work posted to Zeplin publicly visible anywhere? Or can we get an invite to the Zeplin project listed above?

thanks,

-c

[2018-01-29 18:07] catarak commented on #416
Here's a link to the latest designs, which doesn't include the classrooms system, but it's similar to the current mock ups for collections: https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3

I had deployed the classrooms branch publicly for a bit, which I am happy to do again if you'd like to look at it, but it's definitely a WIP.

[2018-01-29 18:47] crhallberg opened #507 "Allow `alert()` messages"
I've noticed that you cannot use `alert()` inside of sketches. This seems to be due to the sandboxing of the iframe and the lack of `allow-modals` which has been referred to in previous issues ([#2360](https://github.com/processing/p5.js/issues/2360)).

I'm assuming this is intentionally omitted to prevent printing, but based on what I read in [Issue 474](https://github.com/processing/p5.js-web-ed

[2018-01-30 13:35] cshirky commented on #416
Cassie, many thanks, this is helpful. And we're ITP: We live WIP. :)

Am talking to Zach and Shiffman in another thread, will get back to you about the classrooms branch.

[2018-01-30 20:17] catarak commented on #502
not sure why you closed this, but the discussion takes place on github issues, and for any specific questions feel free to email me directly 😄

[2018-01-31 04:09] nileshgulia1 commented on #502
@catarak  I was a bit busy working on anything else,sorry for not informing .

[2018-01-31 18:02] catarak commented on #476
i would like to make calls to the server as little as possible to keep the load down (because we're trying to keep hosting costs as low as possible). therefore, i think it makes sense not to look at the MIME type at all, but just look at the file extensions and assume that most files have the proper file extensions (which is 99% of cases will be true), and then maybe blacklist a few MIME types.

[2018-01-31 19:59] rutaitp commented on #478
Hi! Have you guys decided to stick to http as default or set it to https? Or do a toggle?

[2018-01-31 20:19] catarak commented on #478
The http <=> https switch is currently in the sketch preferences (the gear icon in the upper right corner). Still http by default! Would love to work out a solution that's https by default.

[2018-01-31 20:34] rutaitp commented on #478
Oh nice! Thanks for pointing it out - it's good to know as I was trying to host a page via github pages and it kept blocking the content.

[2018-02-01 21:45] #450 closed

[2018-02-01 21:45] #476 closed

[2018-02-01 22:16] #475 closed

[2018-02-01 22:21] catarak commented on #417
@lmccart for this to work as expected, do `p5.dom.js` and `p5.sound.js` need to be included as the non-minified versions as well?

[2018-02-01 22:23] lmccart commented on #417
no, just p5.js.

[2018-02-01 23:06] catarak commented on #417
i'm having trouble disabling the friendly errors using `p5.disableFriendlyErrors = true`. does this need to be called in a specific place?

[2018-02-02 16:31] Rosmeee opened #513 "npm start error"
l follow the instructions to setup and everything runs well but when l type `npm start`
shows this error
[code]

Anyone can help me?

[2018-02-02 16:56] catarak commented on #513
thanks for submitting this! not sure how to fix this. i was just thinking this morning that i'd like to remove the babel dependency, since i updated the node version in development and production. the reason babel is necessary right now is for the `import` and `export` statements.

[2018-02-03 00:55] Rosmeee commented on #513
so how should l get involved in development now？l want to contribute to this

[2018-02-03 19:54] dhruvdutt opened #515 "Upgrade to React 16"
#### Nature of issue?

- [x] Existing feature enhancement

#### Feature enhancement details:
Currently, we're using React 15.1.x which was [released](https://github.com/facebook/react/releases/tag/v15.1.0) more than 20 months ago. We should upgrade to use [latest version 16.2.0](https://github.com/facebook/react/releases) for React and ReactDOM.

React is something that is core to our application

[2018-02-03 19:55] dhruvdutt commented on #515
I've also started working on it. Please assign it to me.

[2018-02-03 22:50] jps723 opened #516 "p5 console limit"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:

The console limits how much data can be output but does not throw an error/warning or indicate that anything has been omitted.  This caused me to believe that there was an issue in my code.

- Web browser and version: Version 63.0.3239.132 (Official Build) (64-bit)
- Operating System: Mac OSX Sierra (10.12.6)
- Steps to reprodu

[2018-02-05 21:10] shiffman opened #517 "save and download?"
At the moment, if you make a change to your code and then click "download" what downloads is the latest save and not the latest code. I think that download should probably trigger an "auto-save" so that it's really "save and download". . .thoughts?

Also, it might be useful to name the zip file with a timestamp, i.e. `project_yr_mm_dd_time` if a project is downloaded multiple times it allows for s

[2018-02-05 23:38] lmccart commented on #417
using version 0.6.0, both of these are working for me:

[code]

[code]

[2018-02-05 23:53] catarak commented on #517
both of these are great ideas and not hard to implement!

[2018-02-06 16:53] #513 closed

[2018-02-06 16:57] catarak commented on #515
go ahead and work on this! if there are any other packages that would make sense to upgrade along with react, go ahead and update those in your PR as well. this upgrade seems very worth it.

[2018-02-06 17:00] catarak commented on #516
there's another open ticket about console errors being omitted (#468) but this ticket could be on to something, maybe it has to do with the code that's limiting the rate of the console errors! it should be delivering the console messages in batch but perhaps it is not working as expected 😄

[2018-02-06 17:01] catarak commented on #507
makes sense to me to remove this from the sandboxing of the `iframe`. go ahead and change it!

[2018-02-07 05:09] shinytang6 commented on #517
l'm on it :)

[2018-02-07 18:06] #515 closed

[2018-02-07 20:01] catarak opened #520 "When navigating to `/<username>/sketches/<random_string>`, does not return 404 if the sketch does not exist"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System: MacOSX
- Steps to reproduce this:

Go to https://alpha.editor.p5js.org/cassie/sketches/random_string_that_does_not_match_an_id. The editor does not return a 404, but instead just serves the default sketch, one that would be returned if you had created a new sketch. The expected beh

[2018-02-07 20:10] catarak opened #521 "Promisify all mongoose queries"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:

Right now, all of the mongoose queries use callbacks instead of the new ES6 promise syntax. This should be updated as nested callbacks are difficult to read.

[2018-02-07 20:28] catarak opened #522 "Slugify Sketch Titles, but not publicly exposed"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:
Right now, the link to sketches are only by the sketch id, which is not very human readable. It would be cool to have human friendly links. For now, the simplest version of this would be to generate a slug every time a sketch is saved from the title of the project, and then a user can navigate to the sketc

[2018-02-07 20:34] dhruvdutt commented on #521
I'm on it.

[2018-02-07 20:52] dhruvdutt commented on #504
@catarak What is the behaviour we're finalizing? Can you please list down the spec in a bit detail?
I can start working on it if it's in priority.

[2018-02-07 21:00] catarak opened #524 "Expose and link to slugified sketch titles"
#### Nature of issue?

- [X] New feature request

#### New feature details:
Sketches, when they are saved to the server, generate a slug of the sketch title. It would be great to expose the slug links publicly, perhaps on the share modal.
Tasks:
- [ ] Add link to share modal
- [ ] Add slug attribute to existing sketches in mongo

[2018-02-07 21:00] joeyklee opened #525 "Dropdown for navbar (e.g. `file`, `edit`, etc) gets stuck in firefox"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version: FireFox
- Operating System: MacOSX 10.12.6
- Steps to reproduce this:

In firefox, the nav for the  `file`, `edit`, `sketch`, and `help` get stuck. If you click on the name of the nav button or the carrot 🥕, the menu doesn't close. Only if you click out of the menu onto another nav button does the cur

[2018-02-07 21:01] catarak commented on #504
@MathuraMG is this feature included in #508?

[2018-02-07 21:57] MathuraMG commented on #504
@catarak - this is not included in #508 , this will be along with/after #503

[2018-02-07 22:10] catarak opened #527 "Console errors cause the editor to crash"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome | 63.0.3239.132 (Official Build) (64-bit)

- Operating System: Mac OSX
- Steps to reproduce this:

The following sketch causes the editor to crash:
[code]

[2018-02-07 22:50] MathuraMG commented on #504
yep!

[2018-02-07 23:06] awanderingorill opened #528 "Update "Help" Link to Say "Help & Feedback" on Top Nav"
#### Nature of issue?

- [x] Existing feature enhancement

#### Feature enhancement details:
Update "Help" link to say "Help & Feedback" to make feedback submission easier. (As per image attached).
![in-top-menu-l-04-p5e-auth-default-4-fullcode__1024 __dropdowns 2x](https://user-images.githubusercontent.com/2730484/35946398-a0d8b9b4-0c31-11e8-8ebb-81155353a9f5.png)

[2018-02-08 03:37] jywarren commented on #4
I'm interested in this! I'm one of the developers of WebJack, for connecting to Arduinos over an audio interface (like a modem), and I think this could make for really nice driverless ~cars~ sensor readings into p5js (i mentioned this at the GSoC summit)

I couldn't find a way to just link to a CDN from the web interface, am I missing something or is this not yet created? What is Zeplin -- the lin

[2018-02-08 03:38] jywarren commented on #4
OMG i just hit Publish and then i found the little `>` button that lets me edit the `index.html`. So this is solved!

[2018-02-08 03:47] jywarren commented on #4
https://alpha.editor.p5js.org/jywarren/sketches/rkztwSt8M -- ok, thanks, this works fine for my purposes. Sorry to bother!

[2018-02-08 04:11] jywarren opened #529 "Add Arduino sensor data connection example (completed)"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

I wrote an example sketch for connecting to an Arduino (read-only, although two-way is possible) to collect live sensor readings and plot the (crudely) on the canvas. It works through an audio connection using WebRTC, so you can connect an audio cable to pin 3 a

[2018-02-08 09:20] shinytang6 commented on #527
claim :)

[2018-02-08 11:40] nomiliveson opened #533 "HELP!!"
VERY BASIC

**trying to play multiple audio files simultaneously, but they play back at different times

also it has a pharrell-like 4 count start before playing..**
code:

var playerRate = 1;

function preload() {

song1 = loadSound('assets/melody1.mp3');
song2 = loadSound('assets/melody2.mp3');
song3 = loadSound('assets/melody3mp3');
song4 = loadSound('assets/melody4.mp3');
song5 = loadSound('as

[2018-02-08 20:54] pfe1223 opened #534 "Support for Rivescript"
#### Nature of issue?

- [x] Existing feature enhancement

#### Feature enhancement details:
I work in education, and I can think of several ways to use Rivescript (specifically chatbots from Dan Shiffman's Coding Train YouTube page) in the classroom. However, the P5 web editor tells me that JS, JSON, CSS, TXT, or CSV files are allowed. Could file support be upgraded to allow for files with the .r

[2018-02-08 21:08] catarak commented on #533
hi! for future reference, github issues are for submitting bugs and features with the p5.js web editor itself, not for asking for help. try stackoverflow or the [processing forum](https://forum.processing.org/two/)!

[2018-02-08 21:08] #533 closed

[2018-02-08 21:18] catarak commented on #4
hi! glad you figured out how to edit the `index.html`. the design is definitely imperfect and we are working on something that makes this clearer. you can check out the latest design here: https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3

[2018-02-08 21:47] catarak commented on #529
this is awesome! i'm not sure what the best place to link to this would be, thoughts @lmccart and/or @shiffman?

[2018-02-08 22:54] catarak commented on #534
I don't know anything about Rivescript! How do these files get embedded in a web page? Are they compiled to Javascript? Right now there's not a system in place for compiled files, i.e. Coffeescript, SCSS/Sass, and so on.

[2018-02-09 00:07] pfe1223 commented on #534
I am not sure if I can answer you question about how the files are embedded. Here is the about page for the project.

https://www.rivescript.com/about

I assume they get compiled. Are compiled files something that will be added, or is it a very low priority? Thanks for your help.

[2018-02-09 08:59] shinytang6 commented on #520
@catarak maybe there is another bug related to that?
lf you replace `:project_id` with an existed project id and `:username` with any string, it will return the right sketch.
l think l found the problem lies, but l can't test it in development environment o(╥﹏╥)o
So please can you add me to you S3 buckets? :)

[2018-02-09 15:51] shiffman commented on #534
@pfe1223 Does it work if you make a `txt` file and load that with the RiveScript code. The RiveScript files are just plain text so this may be a fine solution?

[2018-02-09 17:35] catarak commented on #520
that should also return a 404, yes! you shouldn't need to create an S3 bucket to work on this, as the S3 bucket is only necessary for sketch assets, such as images and videos.

[2018-02-09 18:30] pfe1223 commented on #534
@shiffman It works when using the .txt extension. Thanks so much for your help.

[2018-02-09 18:35] #534 closed

[2018-02-09 21:32] #528 closed

[2018-02-09 23:29] lmccart opened #537 "remove hello p5 video link from about page"
we're in the process of revamping this, and taking down links to the existing version until we get it updated. thanks!

[2018-02-10 03:49] shinytang6 commented on #520
@catarak Okay l see. It's my fault indeed, but l still think it's necessary to add the default user `p5` 's password to README o(╥﹏╥)o

[2018-02-12 17:46] catarak opened #541 "API authentication with Token (or oauth?)"
#### Nature of issue?

- [X] New feature request

#### New feature details:

if users can authentication via a token or oauth, then they can upload sketches programmatically. and maybe other fun stuff i can't think of at the moment.

[2018-02-12 17:57] catarak opened #542 "Define API/Spec for batch uploading sketches"
#### Nature of issue?

- [X] New feature request

#### New feature details:

Define endpoints so that users can batch upload sketches. This also includes the data structure of the sketches themselves. It's a little complicated right now given recursive file structures of folders and this involves generating ID's for file objects. It would be cool if users didn't have to do that and it happened mag

[2018-02-12 23:21] shiffman commented on #529
This is wonderful! I think if you package it up as a library with documentation for p5.js specifically then it could be considered for listing on [the p5.js add-ons page](https://p5js.org/libraries/). The repo for the site is here: https://github.com/processing/p5.js-website/

[2018-02-13 16:28] #517 closed

[2018-02-14 11:28] piecesofuk opened #543 "Mixed Content error using certain "load" functions in full mode"
#### Nature of issue?

- [ X] Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome OS Version 64.0.3282.134 (Official Build) beta (64-bit)
- Operating System: Google Chrome OS Version 64.0.3282.134 (Official Build) beta (64-bit)
- Steps to reproduce this: Calling a "load" function in preload()
[code]

p5 editor link: [https://alpha.editor.p5js.org/piecesofuk/sketches/

[2018-02-14 19:37] catarak commented on #543
interesting, thanks for reporting this! the link generated for `test.csv` should be https if the site is loaded over https, so this is definitely a bug 😄

[2018-02-15 12:04] himanshuc3 commented on #537
I'll get this done quickly!

[2018-02-15 12:52] himanshuc3 commented on #525
Doesn't work in Safari v11.0.1 ( macOs v10.13.1 ) either.

[2018-02-15 19:43] #537 closed

[2018-02-15 22:29] jywarren commented on #529
@shiffman -- cool! Thanks! I submitted a PR over there, should I close this @catarak? If accepted over there, would the example get included in the web editor too? Just curious!

[2018-02-15 22:33] catarak commented on #529
it would get added! there's a script in the web editor repository that scrapes all of the examples from github and uploads them to the editor. and yes, probably makes sense to close this issue 😸

[2018-02-15 22:33] #529 closed

[2018-02-15 22:40] lmccart commented on #529
thanks @jywarren this is great!

[2018-02-19 14:20] himanshuc3 commented on #524
I would like to take it up. But I dont know how to reproduce the share modal. Perhaps you could help me with this.

[2018-02-19 14:37] himanshuc3 commented on #521
@dhruvdutt still on it?

[2018-02-19 17:31] zrispo commented on #416
Hey all!

It's been a while since I started working on the classrooms system, but myself and @luxapodular (who did GSOC in 2015 working on Processing.py) are back on it and will be getting the classrooms system up and running as soon as we can!

We'll be working from the `classrooms` branch

[2018-02-19 20:25] dhruvdutt commented on #521
Yeah. I've already started with it. Will be pushing by this week.

[2018-02-20 04:28] himanshuc3 commented on #543
What is full mode?

[2018-02-20 04:37] himanshuc3 commented on #541
User authentication via Github is only added. Do you want it via google and facebook as well.

[2018-02-20 05:01] himanshuc3 commented on #516
![screen shot 2018-02-20 at 10 28 34 am](https://user-images.githubusercontent.com/19166045/36408043-d72c2d10-1628-11e8-853c-3efa9bcfa288.png)
Console in Firefox shows a JSHINT warning, the expected console message and Cycle object value error message.
Does this error has something to do with **createVector**. If it does, is this an issue for p5.js library instead of editor.

[2018-02-20 05:09] himanshuc3 commented on #469
![screen shot 2018-02-20 at 10 28 34 am](https://user-images.githubusercontent.com/19166045/36408043-d72c2d10-1628-11e8-853c-3efa9bcfa288.png)
Console in Firefox shows a JSHINT warning, the expected console message and Cycle object value error message.
Does this error has something to do with **createVector**. If it does, is this an issue for p5.js library instead of editor.

[2018-02-20 05:39] himanshuc3 commented on #462
I am not experiencing this issue in any of the 3 browsers that I have (OS - Mac v10.13.1).
Firefox - v58.0.2
Chrome - v64.0.3282.167
Safari - 11.0.1

[2018-02-20 05:45] himanshuc3 commented on #460
I think this feature would be similar to how different pens are shown by codepen.io.
Any other views?

[2018-02-20 06:00] himanshuc3 commented on #459
Pretty fascinating bug. One made by Universal Studios ;)

[2018-02-20 06:17] himanshuc3 opened #550 "Implement current responsive designs"
- [x] Feature enhancement

Possible reasons:
- [ ] No meta tags added
- [ ] No media queries

I would like to take up this issue.

[2018-02-20 06:23] himanshuc3 commented on #453
I am also using android on Gionee f103 ( android v6.0 ).
I apparently did not have any issues with extra lines being generated.
It would however help me bit more if you could be a little more precise in how to reproduce this issue.

[2018-02-20 06:33] himanshuc3 commented on #446
I would like to build the "stay logged in" feature. @catarak Could I take this up...

[2018-02-20 07:56] himanshuc3 commented on #441
How is it so that when measured in terms of pixels,
[code]
the preview pane is as expected 400x400, while because the leftmost mouseX position is 6 and rightmost mouseX position is 400 the dimensions should be 394x400.
What do you think @catarak @nileshgulia1 @vanevery

[2018-02-20 08:29] piecesofuk commented on #543
It's where the sketch is displayed in the full browser window without the editor being shown using the /full/ url ie [https://alpha.editor.p5js.org/full/HkyBtEc8f ](https://alpha.editor.p5js.org/full/HkyBtEc8f)

[2018-02-20 09:10] himanshuc3 commented on #543
👍

[2018-02-20 09:58] himanshuc3 commented on #427
Probably not a feature which is implemented in codemirror!

[2018-02-20 10:24] himanshuc3 commented on #420
It is playing in Safari v11.0.1 ( Mac - v10.13.1 )

[2018-02-20 10:37] himanshuc3 commented on #419
@catarak Repeating the steps you did to reproduce the issue, the page got reloaded but the changes did not get lost when I repeated the process.

[2018-02-20 10:44] himanshuc3 commented on #413
I would also like to the designs. Is that possible?

[2018-02-20 10:49] himanshuc3 commented on #413
Congrats. Designs look fresh lit.

[2018-02-20 11:32] himanshuc3 commented on #392
Is there any route currently that leads to My Account settings?

[2018-02-20 11:38] himanshuc3 opened #551 "Adding responsiveness to share view"
#### Nature of issue?

- [x] Found a bug

### Actual behaviour
![screen shot 2018-02-20 at 5 04 40 pm](https://user-images.githubusercontent.com/19166045/36421994-9075ecca-1660-11e8-8a75-925f0c8bc2cc.png)

Edit: This issue does not occur in localhost but does occur in the alpha release.

[2018-02-20 11:50] shinytang6 commented on #516
l'm on it:)

[2018-02-20 17:25] catarak commented on #524
Save a sketch or open a saved sketch -> File -> Share

[2018-02-20 17:29] catarak commented on #416
@zrispo let me know if i can help in any way!

[2018-02-20 17:32] catarak commented on #541
i do want to add google (i'll make a separate ticket for that, there's an existing PR for it too but it may be really out of date and may not work).

what i intend for this issue is for users to be able to use the web editor API without needing to use the front end website. so users would have application keys and secret keys like if you were using the twitter api.

[2018-02-20 17:34] catarak commented on #469
this is an error with the console component i think—it doesn't know how to handle class structures which hold references to themselves and thus are cyclical. this is handled in chrome developer tools by having open and close arrows.

[2018-02-20 17:37] catarak commented on #462
i think it appears that the text is not selected but it is, perhaps there's a CSS issue with CodeMirror or there's a configuration option?

[2018-02-20 17:40] catarak commented on #460
this issue is specifically for a full screen sketch list view (or perhaps a profile view). if you think other views/designs make sense feel free to open another issue!

[2018-02-20 17:47] catarak commented on #550
There are some designs for this which are on Zeplin! It appears to be published to the [Scene View](https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3) but the responsive image isn't loading for me—is it working for you?

[2018-02-20 17:49] catarak commented on #446
definitely open to work on!

[2018-02-20 17:50] catarak commented on #441
see my above comment for why this behavior is occurring.

[2018-02-20 17:53] catarak commented on #427
CodeMirror is just a text editor and isn't handling console errors, it's the console component that this is related to!

[2018-02-20 17:54] catarak commented on #420
I'm still seeing this issue on Safari v9.1.

[2018-02-20 17:55] catarak commented on #419
@shinytang6 does #546 fix this?

[2018-02-20 17:56] catarak commented on #392
yes, `/<username>/settings`.

[2018-02-20 17:57] catarak commented on #516
yes. otherwise, if a user is logging something every frame, the whole editor slows down and crashes.

[2018-02-20 18:27] himanshuc3 commented on #550
If you talking about p5-js-responsive-handling image, it is loading in carousel/gallery view.

[2018-02-20 19:21] catarak commented on #550
yes, great!

[2018-02-20 19:32] #525 closed

[2018-02-20 20:23] catarak opened #553 "Add Login with Google"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:

I got feedback from teacher that students forget their passwords a lot (and don't use password managers!). Would definitely be helpful to add this. There's an existing PR for this #224 but i don't know if it works or is outdated/stale.

[2018-02-20 20:27] catarak opened #554 "Change Sketch View Page title to 'p5.js Web Editor | <sketch_title>' (and other pages)"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:
 It's a little confusing that the title of the sketch view doesn't include the web editor. It would also be good to include other views as well (i.e. 'p5.js Web Editor | Login')

[2018-02-20 20:30] catarak opened #555 "Move examples username and password to .env file"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version:  N/A
- Operating System:  N/A
- Steps to reproduce this:

the file `server/examples.js` contains the p5 username and password. this should be moved to environment variables so that any user can't login to this account!

[2018-02-21 03:08] cshirky opened #557 "Can the sketch name recognize the inclusion of tags?"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [x] New feature request

#### Feature enhancement details:

This is midway between a modification of an existing feature (sketch name) and a new feature request.
Right now the sketch name field is auto-generated, in the manner of Pugnacious Puffin, as well as being user editable. The actual field has a capacious characte

[2018-02-21 03:12] cshirky opened #558 "Incremental auto-save?"
#### Nature of issue?

- [x] Existing feature enhancement
- [x] New feature request

#### Feature enhancement details:

This is midway between an enhancement and a new feature request, since Save is already a function.
Right now, the sketch is saved if the user chooses Save, edits a file name after the first save or if the user Duplicates or (after bug fix) Downloads the file.

All of these behavi

[2018-02-21 04:30] shinytang6 commented on #557
Good idea! l think we can restrict the file name in some way. e.g. can't contain #,|,&... and enable users to add tags in somewhere else to make the sketch searchable? Maybe it's better because l think `Graceful table # expanding purple square rect rectangle 'homework 1'` is a little confusing ?

[2018-02-21 05:04] cshirky commented on #557
Yeah, it is confusing -- that was just a test to see if there was a char limit in the field where the title is stored.

I only did it that way because I assumed that adding a second Tag field would be more problematic than storing tags in the Name field, but if a second field is easy to add, separating them from the beginning is probably the way to go.

[2018-02-21 05:34] shinytang6 commented on #557
Agree! And l found if the file name contains |,&, it renders to or/and which should be real bugs currently.

[2018-02-21 11:38] shinytang6 opened #560 "Make saving more user-friendly"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

1. Saving file through ctrl+s when user is unlogged doesn't popup the ErrorModal.
2. Although Save option is diabled when the user is not the owner of the sketch, l think it  will be better if another ErrorModal pops up when using ctrl+s ?

[2018-02-21 12:03] shiffman commented on #560
Agreed, this is a great idea!

[2018-02-21 12:08] shiffman commented on #310
I'm doing some testing related to fixes recently merged. Question related to this issue. . .

If something is committed to master should I assume it is deployed to production or no?

 (@catarak apologies if you've told me this before!)

[2018-02-21 12:42] himanshuc3 commented on #392
do you mean revamping `/:username/account`.
There is no current path `/:username/settings` defined.

[2018-02-21 13:01] himanshuc3 commented on #389
Working on this. Could take some time as my exams are coming through...

[2018-02-21 13:38] shinytang6 opened #562 "Unable to log in"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

when l am on #561, l found this bug :)
l don't know if it maybe relates to #481 or #480, but it seems that the current bug is the username not dealt with when logging in. It should ignore the space after the username.

[2018-02-21 19:16] catarak commented on #558
First of all, just want to make sure that autosave is working (though it does not save the version).

Since saving a new version every time the sketch is run or saved would exponentially increase the size of the database, and each file has its own undo stack, maybe it would make sense to have an explicit button that's like 'save the sketch at this time to a version' and then maybe there's a GUI fo

[2018-02-21 19:19] catarak commented on #557
I think adding tags would be a great feature—I think there's an open issue for a user to be able to add a sketch to a "collection" which is fairly similar, but not the same.

Also @shinytang6 feel free to open an issue about that 😄

[2018-02-21 19:27] catarak commented on #560
agreed, sounds great!

[2018-02-21 19:30] catarak commented on #310
this is a good question! one option would be to have two branches, `master` and `development`, and all pull requests should be made to development, and we have a staging server that automatically builds when something is pushed to `development`, and the production server that automatically builds when something is pushed to `master`.

i'm thinking that maybe it would make sense to do some Docker/T

[2018-02-21 19:30] catarak commented on #392
oops, yes!

[2018-02-21 19:31] catarak commented on #389
all good! this is a pretty in-depth task, maybe it would be good to split it up into smaller ones?

[2018-02-21 19:39] catarak commented on #560
just looked at what happens on codepen—if you hit command/ctrl + s it automatically forks the sketch. does that make sense?

[2018-02-21 19:48] catarak commented on #562
yes! we should probably strip whitespace from the username. also for the password? what's the expected behavior here?

[2018-02-21 19:55] avocadoboi commented on #453
This isn't happening to me anymore, so i guess it's fixed.

[2018-02-21 19:57] catarak commented on #453
maybe it was an issue with CodeMirror ✨

[2018-02-21 19:58] avocadoboi commented on #453
probably :^)

[2018-02-21 19:59] inodb commented on #453
yup fixed for me as well

[2018-02-21 20:00] lmccart commented on #470
🎉

[2018-02-21 20:25] catarak commented on #453
great i will close this then! feel free to reopen if it comes up again.

[2018-02-21 20:25] #453 closed

[2018-02-22 00:37] shiffman commented on #310
Having a continuous integration system would be awesome! I recently did a bunch of stuff with CircleCI (have a connection there) but Travis might be more "free". I'm happy to do any research / work on setting this up if that would be helpful.

[2018-02-22 14:46] shinytang6 commented on #562
l just tested Google and Github and found both of them allow spaces in password..But it seems that some other sites like twitter don't support.
Here is a discussion: https://stackoverflow.com/questions/5475071/should-whitespace-characters-be-allowed-in-a-password
l think it's ok to allow whitespace in password :) at least they are visible.
And if we want to make the password stronger, we should re

[2018-02-22 15:19] shinytang6 commented on #560
also tried that and agree with you now:)

[2018-02-22 20:02] catarak commented on #310
awesome, will let you know, thanks!

[2018-02-22 20:58] catarak commented on #562
i agree that it's okay to have whitespace in a password. i'm not sure about password strength enforcement—i know that certain rules can be really arbitrary and i'm not up to date on good rules vs bad ones. open to suggestions and resources!

[2018-02-22 21:01] #378 closed

[2018-02-23 00:46] lm-n opened #566 "HTML structure and CSS for accessible outputs"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

Move CSS and HTML structure for accessible outputs from https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/PreviewFrame.jsx to https://github.com/MathuraMG/p5-accessibility accessibility library.

This issue is also here: ht

[2018-02-23 06:07] dhruvdutt commented on #496
@francisli I can look into it. What should be the correct Content-Type?

[2018-02-23 06:10] dhruvdutt commented on #493
I'll look into it. :hand:

[2018-02-23 06:14] dhruvdutt commented on #310
@shiffman @catarak I have some experience working with CIs. Please let me know if there's something I can help with. :hand:

[2018-02-23 06:37] dhruvdutt commented on #266
@machinic Can you please add me to Zeplin?
username: dhruvdutt
email: dhruvdutt.jadhav@gmail.com

[2018-02-23 06:39] dhruvdutt commented on #296
I'm on it. :hand:

[2018-02-23 06:49] dhruvdutt commented on #231
@saumya1906 Any update about this?
@catarak Can I take this up? Also, please add me on Zeplin.

[2018-02-23 06:57] dhruvdutt commented on #144
When new project button clicked, we check `"version"` from [here](https://p5js.org/download/version.json) and update p5.js version referenced in `index.html`

@catarak Does this plan sound good?

[2018-02-23 09:18] shinytang6 opened #567 "Fail to close the modal after login"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Steps to reproduce this:

1. Open the editor, not logged in
3. Press the Save button. It will tell you to login or signup.
4. Login.
5. it will still show a modal asking you to login or signup.

[2018-02-23 09:43] shinytang6 opened #568 "Add character limit to sketch name - Back end validation"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

name a project with special characters and try to donwload.
some of them will cause problem, e.g. &,|...

[2018-02-23 16:04] shinytang6 commented on #562
l think there will be no problem with simple password currently for the reason that all the sketches/assests are public, the enhancement of password strength should be added if features like private sketches are implemented:)

[2018-02-23 16:26] catarak opened #569 "Add authorization to specific routes"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:
Certain routes should not be accessible by all users! One that comes to mind is a user's settings (`/<username>/settings`) and a user's assets (`/<username/assets`). Maybe these routes should not include the username and just use the user that it stored in the cookie? Or they should redirect to `/` if a us

[2018-02-23 16:31] #554 closed

[2018-02-23 16:33] catarak commented on #496
it should depend on the type of asset, right? like if it's an image, vs a video, vs a .js file.

[2018-02-23 16:34] catarak commented on #493
amazing! i assume this is a webpack configuration issue and hopefully isn't too hard to fix.

[2018-02-23 16:38] catarak commented on #168
definitely! i think this one will take a little bit of time. let me know if you get stuck!

[2018-02-23 16:39] catarak commented on #266
i'm gonna close this because this is actually already done. I guess the PR didn't get attached to the issue correctly 😄

[2018-02-23 16:39] #266 closed

[2018-02-23 16:44] catarak commented on #231
@dhruvdutt here's a link to the public Zeplin files: https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3. If you need more details like pixel measurements and stuff i can add you to the full project!

[2018-02-23 16:49] catarak commented on #144
makes sense to me! because of CORS this might need to be added to the API and then the API makes the request. i think this also needs to happen when a user navigates to `/` (which is the same as creating a new sketch, right?)

[2018-02-23 16:55] #560 closed

[2018-02-23 16:55] #567 closed

[2018-02-23 16:56] catarak commented on #568
this is two things, right? 1. sketch names need a length limit (i don't know what an appropriate character limit is) and 2. sketch names need to be... url encoded? escaped somehow? not sure.

[2018-02-23 17:02] catarak commented on #562
maybe i will get some opinions from infosec friends and see what i come up with 💃

[2018-02-23 19:51] dhruvdutt commented on #496
@catarak @francisli Thanks for the guidance.

I went through package-lock (equivalent of shrinkwrap in npm5 and above). There are some dependencies using `mime-types` but it gets installed inside their dependency's nested node_modules folder and not in the project's node_modules for us to use. We'll have to explicitly install `mime-type`.

Also, can you also please update the debug setups in origi

[2018-02-25 05:09] himanshuc3 commented on #569
If I may ask, is the file structuring done according to mern.io.

[2018-02-25 05:19] himanshuc3 commented on #568
@shinytang6 Can you provide an example. I tried a couple of them including &, | and when downloading the sketch, & is named and, | - or .

[2018-02-25 06:54] himanshuc3 commented on #553
Got this error:
[code]
@catarak Do you know why this is happening? I didn't even touch PreviewFrame.jsx file.

[2018-02-25 12:36] shinytang6 commented on #568
@himanshuc3 What you listed is the problem:)

[2018-02-25 12:53] himanshuc3 commented on #568
But what's the problem if the name of the file changes. It downloaded without any errors.

[2018-02-25 13:51] shinytang6 commented on #568
it doesn't matter with the content, should download the project in what you name.

[2018-02-26 15:11] himanshuc3 commented on #446
Does this need be done with md5 hashing to protect user information?

[2018-02-26 16:12] himanshuc3 opened #573 "Documentation Updates"
- From the beginner perspective, it could help them start faster.
- It helps organize code, find things faster and therefore makes finding bugs easier.

Starting from the root. This Issue starts by adding some bits of comments in index.html page. More issues will follow regarding documentation from my side. It would be providing me with more depth understanding of code.

[2018-02-26 18:46] catarak commented on #496
to upload files, you have to 1. open the sidebar (there's a > icon to the left by the file title), then click the 'v' by 'project-folder', then click 'add file', and you can upload a file in the dropzone area.

[2018-02-26 19:33] catarak commented on #569
yes, that is the inspiration!

[2018-02-26 19:35] catarak commented on #553
there's something up with how the `loop-protect` library is included in `package.json` that it gets deleted. if you copy the url that's in the `package.json` and run `npm install <url>` it will install it again.

[2018-02-26 19:38] catarak commented on #446
the cookie should be hashed already (may be in production only). if it's not that's an issue!

[2018-02-26 19:40] catarak commented on #573
awesome! i tried to link to a lot of the conventions i'm following in the README but this could be expanded.  could be added to `contributing.md`?

[2018-02-26 19:50] #493 closed

[2018-02-26 20:32] dhruvdutt commented on #496
I get these errors when I try to upload something. I think it's because I'm missing AWS credentials. @catarak If you want to share your credentials, then send them at [dhruvdutt.jadhav@gmail.com
](url)

![screenshot_20180227_020117](https://user-images.githubusercontent.com/5961873/36693696-20ca14a8-1b62-11e8-81c5-ecc5ad157873.png)

[2018-02-27 03:00] himanshuc3 commented on #573
Sure. Also, is the convention used here following the boilerplate by MERN.io. If it is:
- Is it strictly followed or some custom rules applied.

[2018-02-27 11:03] himanshuc3 commented on #382
It's already implemented. You may want to close this of.

[2018-02-27 12:06] shiffman opened #576 "renaming files don't mark as saved"
- Found a bug
- tested chrome, mac os

Steps to reproduce:
1. Create a new sketch, add some code.
2. Save sketch.
3. Rename `sketch.js` to `sketch1.js`.
4. Change some code.
5. Save sketch.

After renaming the dot to mark a sketch as saved never goes away and a warning pops up if you attempt to leave or reload the page. However, as far as I can tell the sketch is actually saved (when I force reloa

[2018-02-27 17:14] catarak commented on #496
you can make your own S3 bucket! the steps to set it up are in the README 😄

[2018-02-27 17:28] #384 closed

[2018-02-27 17:29] catarak commented on #382
for some reason the PR didn't get connected with this issue. closing!

[2018-02-27 17:29] #382 closed

[2018-02-27 17:30] catarak commented on #576
thanks for submitting this!

[2018-02-27 17:56] dhruvdutt commented on #576
@catarak I would love to try this. Can you please describe the fix?

[2018-02-27 18:49] catarak commented on #4
just learned about [Unpkg](https://unpkg.com/)—could be useful to implement this feature!

[2018-02-27 19:31] dhruvdutt commented on #144
@catarak Sorry, I'm a bit confused. Which `index.html` are you guys referring here? Is it the root `index.html`? I don't see any p5.js version already referenced as per the original post in the issue.

[2018-02-27 19:47] catarak commented on #576
i don't know off the top of my head how to fix this!

[2018-02-27 19:49] catarak commented on #144
the one included in each sketch—if you open the sidebar you can view it!

[2018-02-27 19:59] dhruvdutt commented on #144
Oh damn! I always miss this mysteriously hidden menu. :sweat_smile:

[2018-02-27 20:04] catarak commented on #144
the ui isn't super clear right now—see #4 for a bit of discussion about this, and #389.

[2018-03-01 03:10] himanshuc3 commented on #576
@catarak Since the popup appears, it means the state variable probably would be affected. Can it be some change in `scss` files that is required?

[2018-03-01 07:42] himanshuc3 commented on #555
There probably are some linting issues with the PR, I could work them out and submit this thing. What do you say @catarak .

[2018-03-01 07:47] himanshuc3 commented on #417
Is this feature already implemented in the web editor?

[2018-03-01 18:08] catarak commented on #576
@himanshuc3 i think it's more likely that the state isn't getting set properly—there's some logic that determines whether or not a project needs to be saved based on a sketch being changed by a user. i assume this logic is imperfect!

[2018-03-01 18:18] catarak commented on #569
server-side, this project uses a library called `passport` which adds some `node`/`express` middleware magic 🔮and if a user is logged in, the user is stored in `req.user`. so you could compare the `<username>` in the route to `req.user.username`. another option would be to remove the username from the route, and determine the user from the cookie (just check `req.user.id`).

[2018-03-01 18:20] catarak commented on #555
go ahead! i also just noticed that i had started a code review on that PR and never submitted it—just did though!

[2018-03-02 03:16] lm-n opened #585 "Remove startAccessibleSketch()"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:
Remove `startAccessibleSketch` from reducer.

@MathuraMG https://github.com/processing/p5.js-web-editor/pull/583

[2018-03-02 15:49] shinytang6 opened #587 "Keyboard handling function is triggered twice when first login"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

The steps to reproduce:
1. log in
2. saving a default sketch through ctrl/command s
3. an ErrorModal pops up
4. if you refresh the page and try saving again, it will go back to normal

[2018-03-02 16:40] #371 closed

[2018-03-02 17:13] catarak opened #588 "Console errors highlight wrong file"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

If you run a sketch and it throws an error, the line of any file that is selected will be highlighted, rather than switching to the file that has the error. The expected behavior is that it would switch to the file that threw the error.

- Web browser and version: Chrome (also this is really N/A)
- Operating System: Mac OSX (al

[2018-03-02 17:25] BlinfoldKing opened #589 "Cant close saving error dialog"
#### Nature of issue?

- [x] Found a bug

#### Details about the bug:
I cannot close the modal that show up when i'm trying to save while not logged in

- Web browser and version: Chromium (Version 64.0.3282.140), Firefox (58.0.2), Google Chrome (V63)
- Operating System: Ubuntu 17.10, Windows 10
- Steps to reproduce this:
press Ctrl+S while you are not logged in

[2018-03-02 17:26] #587 closed

[2018-03-02 17:27] catarak commented on #589
thanks for submitting this!

[2018-03-02 22:19] itsjoel opened #590 "Grayscale fill() or background() with alpha crashes sketch"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: 64.0.3282.186 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10 1709
- Steps to reproduce this:

[code]

[code]
After a few frames, the sketch stops working (it freezes) and I get `Script error. (: line 0)` in the con

[2018-03-02 22:24] itsjoel commented on #590
Realized this happens for `fill()` too.

[2018-03-02 23:18] catarak commented on #590
thanks for submitting this! i'm not able to reproduce. would you mind opening up the chrome developer tools and seeing if there are any errors in there?

[2018-03-02 23:24] itsjoel commented on #590
In dev tools I'm getting this error:
[code]
In [this](http://alpha.editor.p5js.org/itsjoel/sketches/S1F9sSvOG) project.

Weirdly, I opened it in an incognito window and its working fine there. Not sure if it's something about being signed in or if it's an addon.

[2018-03-02 23:25] itsjoel commented on #590
Also, just confirmed it's *not* hardware acceleration causing it.

[2018-03-02 23:27] catarak commented on #590
cool! i now see this is an error with the accessibility library (https://github.com/MathuraMG/p5-accessibility) which we are in the processing of moving over to the official processing github organization. i'm gonna move this issue over to there.

[2018-03-02 23:29] itsjoel commented on #590
👍👍👍
Also, in case it helps, it seems to only occur when I'm signed in.
Thanks!

[2018-03-02 23:30] catarak commented on #590
I think this means that in your Preferences, you have some accessibility features turned on (which maybe you don't want to have? maybe it could be more clear what these do?)

[2018-03-03 00:16] itsjoel commented on #590
It appears that table-text is the culprit. I don't know when I would have turned them on, but I might have done it accidentally at some point.

[2018-03-03 00:49] shinytang6 commented on #589
it was fixed in #578 :)

[2018-03-03 00:56] shinytang6 commented on #588
would like to take this up :smile:

[2018-03-03 15:15] dhruvdutt commented on #266
@catarak Can you please add me to Zeplin? I need to see some dimensions and other specific things in design.
Zeplin details:
username: dhruvdutt
email: dhruvdutt.jadhav@gmail.com

[2018-03-04 04:51] himanshuc3 opened #591 "Clicking outside of nav sub-menu does not close it"
- [x] Bug

I am working on it.

[2018-03-04 05:44] himanshuc3 commented on #550
There are no designs for mobile screen sizes on zeplin. Although most of the work would be done on the desktop, mobile screens could be used to most probably view some sketches or do minor editing.

[2018-03-05 06:49] chrisorban opened #594 "iPad external keyboard arrow keys"
The alpha editor works fine on an iPad with an external keyboard except that the arrow keys on the external keyboard don't return any javascript keycodes  (which you can see for yourself from an iPad by going to http://keycode.info/)  As a result and references to RIGHT_ARROW, LEFT_ARROW, UP_ARROW, and DOWN_ARROW do not do anything when running the alpha editor with an iPad. This was found to be t

[2018-03-05 07:27] shinytang6 commented on #7
Hi all !
I have been investigating and testing for some time on how to make the interactive console work. And wanna to take this up.
Here is my initial idea, Please let me know if l am wrong:)

Currently, the Console component only displays the infomation hijacked from the window console/ injected script. l think it will make sense to divide the Console into two subcomponents(e.g. ConsoleInput&Con

[2018-03-05 16:07] catarak commented on #590
thanks for the info! i’m gonna close this issue since it’s been moved to the accessibility library.

[2018-03-05 16:07] #590 closed

[2018-03-05 19:05] montoyamoraga opened #595 "Alpha editor in Spanish"
#### Nature of issue?
-  New feature request

#### New feature details:

I would love to have buttons "EN/ES" for toggling language between English and Spanish

Here is the complete translation, of the menu and every text I could find =)

File
Archivo

New
Nuevo

Save
Grabar

Examples
Ejemplos
(include examples in Spanish)

Edit
Editar

Tidy Code
Ordenar código

Find
Buscar

Find Next
Buscar sigui

[2018-03-05 20:11] catarak commented on #591
This is awesome that you fixed this so quickly! In the future, could you fully document the issue (i.e. with a description and steps to reproduce)? Sometimes I search past issues for insights on current issues, and it's nice to just have all of the issues documented and transparent. Thanks!

[2018-03-05 20:19] catarak commented on #550
We had decided that views for smaller screens, i.e. Chromebooks, were a priority over mobile designs since folks don't code as much on their phones. Maybe there's some low-hanging fruit though that would make it easy to view code/sketches on mobile though?

[2018-03-05 20:57] catarak commented on #594
Wow, this seems like a huge oversight. jQuery seems to capture the `keydown` event for the arrow keys? Maybe this can be pieced out?

[2018-03-05 21:05] catarak commented on #7
i think this makes sense! this is a pretty large and open-ended issue and i think it could be help to try to break it down into smaller pieces and to prioritize those pieces a bit. what are essential features of an console that's easy to use for beginners?

[2018-03-05 21:13] shiffman commented on #7
Thanks for this note @shinytang6! Here are some features that I think would be worthwhile / core.

* errors shown linking to js file and line number (working)
* clear console button (working)
* syntax highlighting
* nice "folding" for browsing object properties and methods, and array elements
* repeated console logs show only once
* lower priority: support for `console.table` and other console met

[2018-03-05 21:21] catarak commented on #595
this is so awesome and thanks for doing this! i think next steps for this issue are
- [ ] include an i18n library
- [ ] move all of the text into a json file that maps ids to text
- [ ] change all of the text to id's and map them to the json file
- [ ] add UI to switch between languages

[2018-03-05 21:31] catarak commented on #266
just added you!

[2018-03-05 21:32] dhruvdutt commented on #266
@catarak Awesome. Thanks. :blush:

[2018-03-06 04:06] montoyamoraga commented on #595
what about this one?
https://github.com/i18next/react-i18next
or this one?
https://github.com/yahoo/react-intl
i'm down to try anyone of them, i'm not familiar to react but happy to try stuff

[2018-03-06 15:37] shinytang6 commented on #7
@shiffman l agree that these small pieces should be added before interactivity:)

l have tried to find one before but failed:) Please let me know if anyone has one.

And I have read the code of some open source web editor and found that they are all implemented console on their own. l really like this one [https://github.com/CompuIves/codesandbox-client](https://github.com/CompuIves/codesandbox-cl

[2018-03-06 18:26] catarak commented on #595
cool! i can take a look as well.

[2018-03-06 18:27] catarak commented on #7
agreed—i have also looked for an open source console and haven't found anything promising.

[2018-03-07 04:15] #566 closed

[2018-03-07 08:51] chrisorban commented on #594
Let me know if there's anything I should test from my iPad. Happy to help however I can. There is a CS undergrad working with me that can try things.

[2018-03-07 08:58] chrisorban commented on #594
By the way, adding this to the style.css file helps to shrink the sketch a little bit so you can see it on an iPad:

@media (max-device-width: 1024px) {
    html, body {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}

Without this, the sketch will extend beyond the right side of the screen and there's no way to zoom out in the browser environment (like you can in browsers on other ope

[2018-03-08 09:27] himanshuc3 commented on #550
Chromebook resolution is close to the that of MacBook Air, on which the site looks fine. So, Should I close this issue?

[2018-03-08 21:02] catarak commented on #594
thanks, that's good to know! we haven't really focused on the responsive designs yet but there's an open issue for it (#550).

[2018-03-08 21:03] catarak commented on #594
also, could you check if the arrow keys work on other in-browser editors, such as codepen or glitch? i can always ask another engineer how they made it work.

[2018-03-08 21:13] catarak commented on #550
Let's leave this open, and I'll change the title to "implement current responsive designs."

[2018-03-08 21:34] #555 closed

[2018-03-08 21:34] #591 closed

[2018-03-08 21:37] catarak opened #597 "Navigation dropdown menus are not accessible by keyboard"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this:

1. Hit `tab` to focus on one of the navigation menu options (e.g. 'File')
2. Hit `enter` to open the dropdown
3. Hit `tab` again to cycle through the options of the dropdown, except the dropdown closes.

I'm pretty sure at one point this

[2018-03-08 21:40] catarak opened #598 "Investigate `<meta>` tags for emails"
#### Nature of issue?

- [X] Existing feature enhancement

#### Feature enhancement details:

A PR was just merged to add meta tags to the web editor (#565) but I'm not sure if meta tags need to be added to the transactional emails as well. Would be awesome to investigate this!

[2018-03-09 11:01] himanshuc3 commented on #597
It's working in my local environment! Reproduced it as per your instructions @catarak.

[2018-03-09 11:11] himanshuc3 commented on #589
Yeah. This one is fixed. It should be closed.

[2018-03-09 11:14] #589 closed

[2018-03-09 17:31] catarak commented on #597
hmm, as in you're able to tab through and select "new", "open", etc.?

[2018-03-10 14:34] himanshuc3 commented on #597
No, i am able to tab from between menu items but not within sub-menu items.

[2018-03-10 15:17] catarak commented on #597
Okay, same for me. The issue is not being able to tab into submenu items.

[2018-03-11 04:42] himanshuc3 commented on #441
does anyone know where is the canvas element located shown in PreviewFrame. I can't find it... :(

[2018-03-12 02:20] himanshuc3 commented on #389
- I've made a PR for this. It's a subset of changes and as said by you, I will split and do it in small commits to manage better rather than lost.

- Also, I would want the icons of files and folders to be placed as right now they are not large enough to be increased in size. I could place icons from [flaticon](http://www.flaticon.com) if you want otherwise.

[2018-03-12 12:36] shinytang6 commented on #441
@himanshuc3 maybe adding `z-index: 10` to `_preview-frame.scss` works? l have tried that one before but l forget the specific line l added :)

[2018-03-12 12:40] himanshuc3 commented on #441
I don't if it works on display:flex items. One more disadvantage would be
that it would reduce the size of hovering for resize bar.

On Mon, Mar 12, 2018, 6:06 PM Mr.tang <notifications@github.com> wrote:

[2018-03-12 12:56] shinytang6 opened #602 "Detailed Git workflow"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### New feature details:

Should we add a more detailed git workflow in contributing.md like https://github.com/processing/p5.js/wiki/Development do? New contributors are always confused about the git :)

[2018-03-12 13:02] shinytang6 commented on #441
ok... not very sure about that:)

[2018-03-12 13:05] shinytang6 commented on #602
Although l don't think the wiki is good enough? Do you guys use this method?

[2018-03-12 15:37] #441 closed

[2018-03-12 15:38] shinytang6 commented on #602
Will do that tomorrow :)

[2018-03-12 15:58] himanshuc3 commented on #389
definitely!

[2018-03-12 16:04] catarak commented on #389
emailed it to you 🎉

[2018-03-13 01:31] chrisorban commented on #594
Hi Cassie, I'll give it a try in codepen and glitch and get back with you. I agree, we're probably not the first people to have to deal with this.

[2018-03-14 21:07] briangainer commented on #594
@catarak Thank you for looking into this!

I tried codepen and other online editors, and the iPad arrow keys are still not registering. When I used the site http://keycode.info/ on an iPad to get the arrow key code, the site returned a non numeric symbol thats not found on a standard keyboard.

I will try your other suggestion next of using jQuery

[2018-03-16 15:44] #602 closed

[2018-03-17 03:24] shinytang6 opened #604 ""My Account" dropdown menu doesn't work"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

1. Open a new sketch
2. Log in
3. Click "My account" dropdown

[2018-03-17 03:32] shinytang6 commented on #502
Would like to look into this issue:) l know something about Mocha and Jest. Which one should be used here?

[2018-03-17 04:47] nileshgulia1 commented on #502
Hey @shinytang6 , Go for it , the project uses react so it may be better to use jest+enzyme for writing tests . cheers :)

[2018-03-19 16:20] catarak commented on #502
i'm not an expert at writing unit tests but i've heard that mocha is the most popular framework. what would be the advantage of using jest instead?

[2018-03-19 16:48] nileshgulia1 commented on #502
@catarak Jest provides some important features such as [snapshot testing](https://facebook.github.io/jest/docs/en/snapshot-testing.html) which makes it different from mocha. Yes mocha is also good and famous , but jest is used especially for react components for smoke testing(testing rendering of components independently)

[2018-03-19 21:13] lmccart commented on #602
i found this wiki page which might be useful. it could be edited to include any info you feel is missing: https://github.com/processing/p5.js/wiki/Preparing-a-pull-request

[2018-03-19 22:18] lmccart opened #605 "relocation for "Autocomplete for the p5.js web editor" wiki page"
we're doing some reorganization of the p5.js wiki (essentially removing it and putting all the content in more easily indexed places). I'm wondering about this post on [autocomplete](https://github.com/processing/p5.js/wiki/Autocomplete-for-the-p5.js-web-editor) from @kaganjd's
gsoc project. it seems most related to this repo and should probably be kept here rather than in the p5.js repo. is this

[2018-03-20 05:26] shiffman commented on #602
I also recently made this video tutorial. I have yet to publish it but in case it is helpful at all. (It's more specific to contributing to p5.js.)

https://www.youtube.com/watch?v=Rr3vLyP1Ods

[2018-03-20 16:32] catarak commented on #605
maybe, for now, we can add this to the web editor wiki, and reevaluate in the near future?

[2018-03-20 17:26] migom6 commented on #553
Can I work on this issue?

[2018-03-20 17:28] migom6 commented on #521
is anyone assigned to this issue?

[2018-03-20 17:29] catarak commented on #553
go for it! there's some unfinished, open PR's that might be helpful: #224 & #572

[2018-03-20 17:30] catarak commented on #521
@dhruvdutt started working on it but i don't know how far they got. feel free to start on this!

[2018-03-20 17:30] catarak commented on #521
it might be helpful to work on this in pieces, like promisify one controller at a time or something.

[2018-03-20 18:44] migom6 commented on #553
Thanks, I am working on this. I just dropped by for GSOC but is it late? I found this cool and pretty much similar to my taste! 😃

[2018-03-20 18:46] catarak commented on #553
Definitely not too late for GSoC! The applications are due March 27th.

[2018-03-20 18:48] dhruvdutt commented on #521
Ah! I'm sorry, couldn't get back to this. I would be happy to review a PR.
Best of luck @migom6 :+1:

[2018-03-20 19:18] himanshuc3 commented on #553
@migom6 you can go for it. You could pretty much refer all of my code for this issue. I was getting a weird error and scrapped whole internet but couldn't find a fix. Maybe you could find an alternative fix.
@catarak Due to some personal reasons I decided to go with Revamping the hello.p5js.org idea. Could I also apply for an idea in p5 web editor.
Also if you could afford 2 minutes of your time o

[2018-03-20 20:14] migom6 commented on #553
Thank you so much! @catarak @himanshuc3
I'll gladly ask questions if I run into some issues 😄

[2018-03-20 22:17] catarak commented on #553
@himanshuc3 you can submit multiple applications (up to 3), so go for it!

[2018-03-22 20:22] Neilshweky commented on #597
I would like to tackle this issue, or a similar issue that pressing `tab` cycles through all of the different tabs

[2018-03-22 20:24] catarak commented on #597
go for it!

[2018-03-23 00:38] Neilshweky commented on #597
I submitted a pull request! Let me know what you think!

[2018-03-23 16:26] #483 closed

[2018-03-23 17:18] migom6 commented on #553
@catarak what was wrong with #224  ? Why wasn't it merged?

[2018-03-23 23:19] migom6 commented on #416
Hi @zrispo @catarak.
Since I am applying for GSOC 2k18 and according to the ideas lists this is one of the proposed projects. It would be very helpful for me in writing the proposal if I get the status of this (how much of this is done.). I tried following up on all the issues but I was clueless.
Thank you for your time 😄

[2018-03-26 23:07] crhallberg commented on #480
The same thing is occurring with one of my students. Username: monterw1. Uses a password manager, so definitely not an mistyping error.

[2018-03-26 23:09] crhallberg commented on #562
Copy from referenced issue: The same thing is occurring with one of my students. Username: monterw1. Uses a password manager, so definitely not an mistyping error and he says there's no space in his password.

[2018-03-27 07:29] shinytang6 commented on #562
Hi @crhallberg, can l ask is there any trailing whitespace in the username when he signs up or logs in?

[2018-03-27 07:56] migom6 commented on #569
@catarak
what's the progress? should I take this issue?

[2018-03-27 21:56] extrajordanary commented on #604
I'm on Chrome, and the dropdown opens for me, and I can see the url previews for each link (except logout) but when I click any button, nothing happens. I have to manually enter the urls into the browser to get there.

[2018-03-29 01:09] catarak commented on #553
I just let the PR get really stale and didn't get a chance to test it. It's probably work trying to update it to HEAD, testing it, and fixing any issues.

[2018-03-29 01:09] catarak commented on #416
you can check this out on the `classrooms` branch.

[2018-03-29 02:21] migom6 commented on #553
@catarak
I sent a pr #608, regarding this. Review at your leisure.
Thank you 😄

[2018-03-29 02:26] catarak commented on #480
thanks! hopefully I can get to the root of this.

[2018-03-29 02:28] migom6 commented on #416
Hi! @catarak!
I did and I followed all the commits.
**_Here is my proposal:_** [proposal link](https://docs.google.com/document/d/10oOgDLvs9dlc5W-Q_PxfcnM46C9ubmzcfvatP0kRMY0/edit?usp=sharing)
**_Here is a very rough wireframe that can be integrated with the existing code:_** [wireframe scenes invision](https://invis.io/25GKOD4KTNX#/287902177_Scene1)

Thank you for your time. 😃

[2018-03-29 02:28] catarak commented on #569
no progress, feel free to take it!

[2018-03-29 02:28] catarak commented on #604
I'm also able to reproduce this.

[2018-03-29 02:42] catarak opened #609 "Privacy Policy, Terms of Service, Community Guidelines"
#### Nature of issue?

- [X] New feature request

#### New feature details:

We currently don't have a Privacy Policy or Terms of Service—we probably need need these for the public release, right?

[2018-03-30 21:27] Laphatize commented on #562
@crhallberg I suggest you tell him to type it up manually. Sometimes auto-fill is a little buggy.

[2018-03-30 21:39] Laphatize opened #610 "Unable to sign out of editor."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### The Issue itself
The issue is that I'm unable to sign-out of the editor.
I'm currently using the Chrome browser (64bit) on macOS.

I have a video of the issue.
https://youtu.be/BPEqGU92jxk

[2018-04-01 12:57] shinytang6 commented on #610
It's similar to #604 :)

[2018-04-02 18:16] hanubot opened #613 "Different interpretations for the same code."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome (65.0.3325.181)
- Operating System: Windows 10
- Steps to reproduce this:
Well, this seemed me weird. Yep, I'm new in p5js, but I've found two different interpretations using to editors (codepen and p5js editor) for the same code.

![