[2019-04-12 18:18] abhieshekumar commented on #1030
I would like to work on this issue.

[2019-04-12 23:37] ananya32 commented on #1012
Hey, @anku255 and @catarak, thank you so much for responding!
Here are the screenshots, and I have already tried to open it on incognito mode as well as on several different computers but it always crashes regardless.

<img width="2560" alt="Screen Shot 2019-04-05 at 8 58 48 PM" src="https://user-images.githubusercontent.com/48466636/56071106-1b6bcc00-5d5a-11e9-9904-e06269df9dd8.png">
<img width="

[2019-04-13 11:34] nimishagarwal76 opened #1032 "Purpose of folder file"
#### Nature of issue?

- Found a bug

#### Details about the bug:
I am not sure if this is an inteded feature since it is there from the begining, what is the purpose of the file that we get on clicking folder name. Generally it is expected upon clicking of the name folder should toggle its visibility of its contents but currently it happens only on clicking of the caret.

![Screenshot (3)](https:

[2019-04-13 18:31] nimishagarwal76 opened #1034 "Focus on choosing option in find menu"
#### Nature of issue?

- Found a bug
#### Details about the bug:
Clicking on search specifiers causes the editor lose focus from the search box.

Most of the editors retain focus in the search box on clicking these specifiers (eg. VS Code). We can have that too. @catarak  what are your views on it.

![Screenshot (5)](https://user-images.githubusercontent.com/37630020/56083802-8e06a580-5e47-11e9-84

[2019-04-13 18:54] plxity opened #1035 "Display model instead of alert."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: WIndows 10
- Steps to reproduce this bug:

#### Feature enhancement details:

![Capture](https://user-images.githubusercontent.com/28510494/56084084-6dd8e580-5e4b-11e9-86e3-208d837b7746.PNG)

When a user tries to delete the project, the model should be displayed instead

[2019-04-15 17:14] Shubhanshu88 opened #1036 "Responsiveness for settings overlay"
#### Nature of issue?

- Found a bug

#### Details about the bug:

The settings overlay is not responsive for both landscape and portrait view,
 - The solution for portrait view might be to increase width of the overlay for mobile devices or to keep the general settings and accessibility tab as column display for small screens
- The solution for landscape view would be to set a minimum or fixed he

[2019-04-15 17:16] Shubhanshu88 commented on #1036
@catarak could you give some suggestions?

[2019-04-15 17:18] #974 closed

[2019-04-15 19:16] siddhant1 commented on #1035
Yeah! I think this can be improved

[2019-04-15 19:17] siddhant1 commented on #1036
I don't think the entire editor is responsive now, I think we can make few prs to make it responsive

[2019-04-15 19:24] plxity commented on #1035
I am working on this. once @catarak approves this.

[2019-04-16 06:27] anku255 commented on #1032
Duplicate of #945

[2019-04-16 06:55] #1032 closed

[2019-04-16 15:52] shakeabi commented on #1003
I think this can be implemented by adding a layer between the modal and the ide or by setting a state key and disabling the interactions with the interface. I believe that there exists a key already to denote whether a modal is open or not. Which method is better? @catarak

[2019-04-16 15:55] shakeabi commented on #1036
Yeah, currently very few elements of the page are responsive. Thus, as @siddhant1 said, this task must be broken down into various prs. For this particular settings component, I think the component filling up the whole screen will look better in small screens.

[2019-04-16 15:57] shakeabi commented on #806
@catarak are there any existing designs for this? Can I propose some?

[2019-04-16 16:51] abhieshekumar commented on #1036
Designs for responsive design [Link](https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3)

[2019-04-16 19:07] jywarren commented on #144
😄 👍 Looking for latest `p5.sound.min.js` for an upcoming workshop, to get the latest fix in https://github.com/processing/p5.js-sound/pull/322 (current is `/*! p5.sound.min.js v0.3.7 2018-01-19 */`)

So, linking to one of these from `index.html` for now: https://cdnjs.com/libraries/p5.js

But also would this be something we could just auto-generate or substitute into one of these sections?

https:

[2019-04-16 20:03] jywarren opened #1037 "Way to view forks of sketches?"
#### Nature of issue?

- New feature request

#### New feature details:

Not sure if this exists or is under discussion but I'm happy to join a thread if so; I was curious about the "lineage" of sketches I "fork" from others' sketches -- it auto-copies the sketch when i start editing and save someone else's sketch, which is great... is there a way to either:

1. see what other sketch a given sketc

[2019-04-16 21:52] catarak commented on #1037
thanks for reporting! i feel like this discussion has come up before, though i can't find it in any issues, so maybe it was in person or over email.

in theory, this isn't too difficult to add. every sketch would need an array of sketches of duplicates, and a sketch could have a parent sketch, and then, a UI design/implementation.

when do you find yourself looking for the parent sketch/child sket

[2019-04-16 21:59] catarak commented on #144
@jywarren semver version would be so cool! i think we are on the same page—i would like to write a script that updates an env variable, which would insert the latest p5 version into the snippet of code you put above. i don't think it should update existing sketches, to prevent breaking changes. maybe, with future library management system, there could be a GUI for users to update their p5 version

[2019-04-16 22:02] catarak commented on #1029
thanks for reporting! in general, i think the theming isn't right for the login/signup views with the web editor.

[2019-04-16 22:04] plxity commented on #1029
@catarak I would like to take up this issue.

[2019-04-16 22:18] catarak commented on #1012
thanks for the updates, @ananya32! i'm able to see your sketches in the database, so they are not lost ✨ i'm investigating to see why the API isn't returning your sketches!

[2019-04-16 22:29] catarak commented on #1012
it turns out this is actually a database error—when fetching a list of sketches from the server, it sorts them by created date, which was apparently taking up too much memory. i added an index, and though, it takes a while to load (maybe this sorting should be done client-side), it does load your sketches now!

[2019-04-16 22:31] catarak commented on #1012
i changed the title of this issue as it seems to point to something totally different.

[2019-04-16 22:51] jywarren commented on #1037
Hi, thank you for your swift response! Yes, the use-case is a workshop
where I'd like people to clone a sketch (a version of what I'd shown you a
couple years ago, browser-native arduino sensor connection:
https://editor.p5js.org/jywarren/sketches/rkztwSt8M) and build on it as an
example, but a) to help them be able to see others' forks to see the source
code for fellow attendees' work, and b) to

[2019-04-16 22:57] jywarren commented on #144
Cool! Yes. This seems like a good way forward. I could imagine a system too
where we could use a replace-able $VARIABLE in the saved index.html, but
it'd be fragile and also not at all how the web works (perhaps slightly
sadly... HTML variables anyone?). Or... a way to pattern match and replace
the full CDN paths.. but again, fragile and once it breaks it's very hard
for people to untangle. Better

[2019-04-17 16:12] catarak commented on #1037
got it! a feature that will be added soon is collections of sketches (which could be from one account or multiple accounts, though still figuring out how to make the latter work), so that could also be helpful.

[2019-04-17 16:14] catarak commented on #806
there are not yet any designs for this—feel free to add ideas!

[2019-04-17 16:15] jywarren commented on #1037
oh awesome. That'd be great. And a collections system could in theory, in
the future, be a place to aggregate something in a more automated way... ok
cool! Thanks!

On Wed, Apr 17, 2019 at 12:13 PM Cassie Tarakajian <notifications@github.com>
wrote:

[2019-04-17 17:07] bit-wise opened #1038 "In-editor p5 references (exposed Doc Comments)"
#### Nature of issue?

- New feature request

#### New feature details:
Integration of the p5 reference material into the p5 editor. A common IDE feature is to have a reference lookup of the currently focused function -- providing a short description along with available parameters (usually provided by some sort of Doc Comments).

[2019-04-17 18:01] catarak commented on #790
i'm working on some changes for this as part of #1039—it hopefully fixes some of the synching issues! i haven't been able to reproduce any issues that come up with duplicate sketches, so i'm going to keep trying to figure that out.

[2019-04-17 18:26] catarak commented on #1030
thanks for reporting! yes, these dialogs should be centered on the page.

[2019-04-17 18:40] rmacdonaldbeaver commented on #790
I haven't had any issues recently, but I've also been avoiding any duplication...  Huge thanks for looking into this.  Hoping to prevent frustrations for students who are new to coding.

[2019-04-17 18:42] catarak commented on #790
@rmacdonaldbeaver for sure! let me know if you notice anything weird. it's much easier for me to fix stuff if i have concrete steps to reproduce 😸

[2019-04-17 18:45] REAS commented on #790
Thank you @catarak! I haven't been teaching with the Editor this quarter, so I haven't had the chance to notice the issue.

[2019-04-17 19:04] catarak commented on #1034
thanks for reporting! i think we have to be careful here with respect to mouse vs. keyboard users. i noticed that on VSC, when you tab into those options, it does change focus. so yes, the focus should stay on the input box, but only if you click on one of the options using your mouse.

[2019-04-17 19:09] #1035 closed

[2019-04-17 19:09] catarak commented on #1035
from what i have seen, this is common practice, to use an `alert` window in this case.

[2019-04-17 19:12] catarak commented on #1003
i think, also, these could be combined into one modal.

[2019-04-17 19:14] catarak commented on #1036
i agree with @shakeabi, that the component should fill the whole page on mobile.

[2019-04-17 19:15] catarak commented on #1029
@plxity i would hold off. i would like to move the login/signup screens from full-screen views to within a modal overlay, which i think will fix this issue.

[2019-04-17 19:17] plxity commented on #1029
@catarak Okay sure, no issues :)

[2019-04-17 19:30] #932 closed

[2019-04-17 19:35] catarak commented on #1038
thanks for the suggestion, and yes, i think this is a great idea! i think there's an open issue about this but i can't find it at the moment.

[2019-04-17 20:19] catarak commented on #437
just pushed a fix (#1039) that hopefully fixes this!

[2019-04-17 20:29] catarak opened #1040 "Move location of notification bar"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

in my opinion, i don't like the location of the notification bar. i miss seeing it all of the time, and the location to me feels kind of random. i think it should be at the top, in the center.

[2019-04-17 20:37] plxity commented on #1040
@catarak Can you explain in brief? Which notification bar are you referring?

[2019-04-17 20:44] catarak commented on #1040
the one that comes up when a user saves a sketch!

[2019-04-17 20:45] plxity opened #1041 "Displaying a play symbol"
#### Nature of issue?

- New feature request

#### Details about the bug:

#### Feature enhancement details:
![11](https://user-images.githubusercontent.com/28510494/56319583-b829d180-617f-11e9-9a76-910c469897a5.PNG)

I think adding a play symbol before ' preview sound ' will make it look better.
@catarak What do you think about this?

#### New feature details:

[2019-04-17 20:52] #1040 closed

[2019-04-17 20:53] abhieshekumar commented on #1030
now, working on this one

[2019-04-17 21:06] #1005 closed

[2019-04-17 21:08] ScriptHosT12 opened #1055 "p5.js editor console with weird behavior on mutable types"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (editor)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (tou

[2019-04-18 03:41] qualitymanifest commented on #1038
Looks like this is the related issue https://github.com/processing/p5.js-web-editor/issues/99

[2019-04-18 11:12] AnkurIngale commented on #1041
I'll suggest just put a play icon and give hint as preview sound.

[2019-04-18 11:21] plxity commented on #1041
@AnkurIngale Yeah, you are right. Just waiting for @catarak views on this.

[2019-04-18 19:07] catarak commented on #1038
@qualitymanifest yes thank you!

[2019-04-18 19:07] catarak commented on #1038
i'm gonna mark this as a duplicate and fold it into #99.

[2019-04-18 19:07] #1038 closed

[2019-04-18 19:37] catarak commented on #1041
honestly, this feels pretty low priority, and in my opinion, i don't think it's necessary.

[2019-04-18 19:37] #1041 closed

[2019-04-18 21:51] catarak commented on #760
i'm working on this now and trying to decide if using the `displayName` is enough. this works well for users with unique names (e.g. me) vs users that don't have unique names (e.g. i have a friend named `Will Smith`).

[2019-04-18 22:17] catarak commented on #760
i'm thinking, instead, to just append a [friendly word](https://github.com/FogCreek/friendly-words) to the part of the email before the `@`.

[2019-04-18 22:21] catarak commented on #655
closing as a duplicate of #760

[2019-04-19 15:48] replicant2021 opened #1047 "Uncaught ReferenceError: noloop is not defined (sketch: line 103)"
Hello

I would like to know if you guys could help me to fix this

/LEXICAL ORDER ALGORITHM

function nextOrder(){

var largestI = -1;
for (let i = 0; i < order.length -1; i++) {
  if (order [i] < order [i+1]) {
    largestI = i;
  }
}
if (largestI == -1) {
  noloop ();
  console.log('finished');
}

var largestJ = -1;
for (var j = 0; j < order.length; j++) {
  if(order[largestI] < order[j]) {

[2019-04-19 15:54] meiamsome commented on #1047
Hey there @replicant2021,

In your code, you have `noloop` when it should be `noLoop` (capital L). Javascript is case-sensitive.

In the future, you should prefer to post coding questions to somewhere else, like the [processing forum](https://discourse.processing.org/) as these issues are specifically for feature requests & reporting bugs in the editor only.

Hope that helps!

[2019-04-19 16:04] replicant2021 commented on #1047
Ok, thank you very much and sorry

[2019-04-19 16:04] #1047 closed

[2019-04-20 05:08] tomlecoz opened #1048 "cross origin problem"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  on every browser
- Operating System: on every OS
- Steps to reproduce this bug:

go here https://editor.p5js.org
And try to load an image located somewhere on internet

#### Feature enhancement details:

Please just add the property "crossOrigin" and set it to "anonymous" for every file you want to load

[2019-04-21 05:22] shakeabi commented on #1048
@tomlecoz I believe this is related to #912 . There's a temporary solution in the comments that you can try.
However, @catarak is the solution suggested by @tomlecoz feasible?

[2019-04-21 05:22] shakeabi commented on #1048
If so, I'll fix it.

[2019-04-21 06:56] shakeabi commented on #468
@catarak I was looking through how errors are captured and thought [this](https://stackoverflow.com/a/28771916) might help.

[2019-04-23 17:01] #655 closed

[2019-04-24 16:18] aiboyles opened #1052 "Duplicated sketches no longer save after an image upload"
#### Nature of issue

- Found a bug

#### Details about the bug:

- Steps to reproduce this bug:
1) Take an existing sketch and duplicate it.
2) Upload a file, such as an image. (Either from the left hand side menu, or the Sketch > Add File option from the menu).
3) Try to save the sketch (File > Save).

The sketch will not save. An pop up message box often appears that says:
"Error: The project y

[2019-04-24 16:20] catarak commented on #1052
Thanks for reporting! This is a bug caused by a recent pull request, https://github.com/processing/p5.js-web-editor/pull/1039.

[2019-04-24 17:32] #1052 closed

[2019-04-24 18:16] dylsteck commented on #1030
Is this issue fixed or is this something I can help try to fix?

[2019-04-24 19:16] catarak commented on #1030
@dylsteck there's an open PR so I suggest working on something else!

[2019-04-25 11:01] AnkurIngale opened #1054 "Cross button on notifications."
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:
I do not understand the need for the cross button on notifications. I mean, they disappear before you can click on it. Although it's a low priority one, we should give it a thought.
- Web browser and version: On Chrome
- Operating System: MacOSX

[2019-04-26 10:33] plxity commented on #1054
@AnkurIngale No, It's not like this. It is basically a toast component. we can't keep it for longer on a screen and it stays on screen for around 2 Seconds. It gives enough time to the user to press the close button.
I think this behaviour is fine.

[2019-04-29 14:09] AnkurIngale commented on #1055
A recent commit in the editor squashed all similar consecutive console messages. I'll find that commit but I feel that might be the reason for such behaviour.

[2019-04-30 19:31] catarak opened #1056 "Add script to generate syntax highlighting files"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

#978 was recently fixed, which fixed certain p5.js keywords not being highlighted. I would like to automate this process by pulling from https://p5js.org/reference/data.json.

This issue involves writing a script that generates the [p5-javascript.js](https://github.com/processing/p5.js-web-editor/blob/master/

[2019-04-30 20:11] catarak commented on #1055
thanks for reporting! i am able to reproduce. this seems to be an error specifically with the web editor and how it handles console messages.

[2019-04-30 21:24] #1034 closed

[2019-04-30 21:25] #1054 closed

[2019-04-30 21:44] #896 closed

[2019-05-01 17:51] catarak commented on #468
@shakeabi maybe! we're using the `console-feed` library, so i'm not sure if that error handler needs to be added in addition to `console-feed`.

[2019-05-01 18:17] #1030 closed

[2019-05-01 18:53] gruselhaus opened #1057 "Full mode isn't returning a sketch"
#### Nature of issue?

- Found a bug

#### Details about the bug:
The full mode doesn't return the sketch.

- Web browser and version: Safari 12.1
- Operating System: macOS 10.14.4
- Steps to reproduce this bug:

This bug has been recorded by @shiffman: https://youtu.be/-6iIc6-Y-kk?t=191

https://editor.p5js.org/codingtrain/full/2zZqSkxtj
[code]

[2019-05-01 19:13] catarak commented on #1057
thanks for reporting! i'm able to reproduce. will investigate!

[2019-05-01 19:32] #1057 closed

[2019-05-01 19:32] catarak commented on #1057
just pushed a fix, it will take a few minutes to build and deploy!

[2019-05-01 19:38] #760 closed

[2019-05-02 12:11] shakeabi commented on #1048
My bad. This seems like an in-project fix.

[2019-05-02 16:11] siddhant1 commented on #1056
Cool ! I will have a look at this later .
In the meantime if anyone wants to pick this up , go ahead .

[2019-05-02 18:09] Dooskington commented on #850
I'm also getting this error all of a sudden.
Operating system is macOS, browser is Chrome. I've been trying it for a few days now, so I think it's safe to assume it isn't just a temporary hosting outage.

Unsure if it's related, but I didn't notice this behavior until after I replaced the default CDN version of p5 with my own uploaded version (packaged from the most recent code on master branch).

[2019-05-02 18:31] catarak commented on #850
@Dooskington i'm not able to reproduce... does this only occur on a specific sketch or anytime you try to visit the web editor? if the former, can you post a link to the specific sketch?

[2019-05-02 18:45] catarak commented on #1048
@tomlecoz thanks for reporting! i'm slightly confused about the context for this issue—is there something specific you were trying to do that you that this solves? also, I recommend using the [p5 DOM library](https://p5js.org/reference/#/libraries/p5.dom) rather than using `document.createElement`, when using the DOM with p5.js.

[2019-05-02 19:30] #990 closed

[2019-05-02 22:29] Dooskington commented on #850
@catarak

Hey, seems to be happening on this specific sketch:
https://editor.p5js.org/declanho/sketches/WmbbIi4zs

[2019-05-02 22:38] catarak commented on #850
@Dooskington interesting! I'm able to load that page and run the sketch. have you tried in a private browsing window? do you have other steps to reproduce? i'm scratching my head on this one...

[2019-05-02 22:51] Dooskington commented on #850
@catarak You are able to run the sketch, or you are able to download it?
I can run it fine, but downloading it (from the file->download option) causes a 502 gateway error.

[2019-05-02 22:51] catarak commented on #850
oh! okay, let me try downloading it.

[2019-05-02 23:12] catarak commented on #850
okay, i am able to reproduce. i will reopen and investigate!

[2019-05-02 23:33] catarak commented on #850
i was able to figure out the bug and fix this! it will be deployed in ~10 min.

[2019-05-04 07:47] TFLGamer opened #1061 "Sketch won't open"
I have encountered an issue where one of my sketches won't open.

Whenever I try to open one of my sketches it loads up a blank web page with the URL still being correct, however the name of the sketch appears to change to something random every time I retry opening it. This only occurs with one of my sketches, the rest work normally. I've been using a Chromebook.

Link to Sketch:
https://editor.p

[2019-05-04 08:57] abhieshekumar opened #1062 "Images are opened as regular editable files."
#### Nature of issue?

- Found a bug - Maybe not necessarily a bug but definitely not the behaviour commonly expected by most users.

#### Details about the bug:

- Web browser and version: Google Chrome v74.0
- Operating System: Linux (Mint)
- Steps to reproduce this bug :
  - Click on Sketch > Add File
  - Import any image file. The image is imported and added to file-navigation.
  - Click on th

[2019-05-05 03:59] JoAraujo opened #1064 "Uncaught ReferenceError: Ene is not defined (sketch: line 8)"
Hi, i'm trying to do a space invaders in p5js web, and i'm started to programming recently, and i'm having a problem, the title is the problem, i already created a new file " ene.js" but i can't see where is the error, please help
(if my english do not sounds good, i'm Brazilian.)
Here's the code:
`
var nav;
var enes = [];

function setup() {
  createCanvas(700, 500);
  nav = new nav();
  for (var

[2019-05-05 04:00] JoAraujo commented on #1064
Sorry i don't know how to compress the code

[2019-05-05 10:56] piecesofuk opened #1065 "Unable to view "full" mode sketches"
#### Nature of issue?

- Found a bug

#### Details about the bug:
When using the "share" option and selecting "full" mode, the sketch does not render. The P5 banner briefly appears at the top of the screen then disappears. The title of the page is two random words. For example, see https://editor.p5js.org/piecesofuk/full/_c9XIyc0V
Could be the same problem as closed issue #1057 ?
It works fine in

[2019-05-05 12:23] piecesofuk commented on #1064
Have you added a script tag in **index.html** that references ene.js? ie:
...
[code]

...

[2019-05-05 13:46] JoAraujo commented on #1064
Yeah, i have added, i think so. Look:
`<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/

[2019-05-05 14:00] JoAraujo commented on #1064
LOL, i have noticed that my script is wrong, "scr" and not "src", but thanks for the help. Newbie mistake

[2019-05-05 14:00] #1064 closed

[2019-05-05 14:06] SableRaf commented on #1065
Same issue on Mac (Chrome, Safari, Firefox) and iOS (Safari & Chrome). The issue seems to be platform and browser independent. The page generates a new <Title> each time you reload.

[2019-05-06 16:18] catarak commented on #1064
i'm glad you figured out the issue!

[2019-05-06 18:40] catarak commented on #1061
@TFLGamer thanks for reporting! i will investigate.

[2019-05-06 18:50] #1061 closed

[2019-05-06 18:51] catarak commented on #1061
just pushed a fix that will be deployed in ~10 min!

[2019-05-06 19:31] catarak commented on #1062
thanks for reporting! this is currently captured as #57. i think this should be bumped up in priority!

[2019-05-06 19:32] catarak commented on #1062
i'm going to close this as a duplicate.

[2019-05-06 19:32] #1062 closed

[2019-05-06 21:30] catarak commented on #609
I started working on the [Terms of Service on a gist](https://gist.github.com/catarak/bafb46eca3ae128fc1e2298e63be25b), I'm still working through it though!

[2019-05-07 01:48] JoAraujo commented on #1064
Thanks!! Is that a lot to learning about programming haha, nothing that does not solve with pratice

[2019-05-07 19:49] bmoren opened #1067 "Add ability to highlight blocks of code and tab to increase indentataion – shift+tab to decrease indentation"
#### Feature enhancement details:

In other editors, I find it incredibly helpful to be able to highlight selections of code and hit tab to increase the indentation or hit shift+tab to decrease the indentation.  Currently the editor replaces the code with a tab character. I believe that before we removed the indentation spacing from the users settings this behavior existed. Is there a way to bring

[2019-05-07 19:55] catarak commented on #1067
Shift + tab is currently mapped to code tidy (which I believed I pulled from CodePen), which also uses Cmd + [/Ctrl + [. Sublime Text and Glitch also use these shortcuts. Just to give you some background on where I pulled these keyboard shortcuts from. To me, this the de facto choices, but I am open to input and discussion about this.

[2019-05-07 20:26] catarak commented on #864
I'm going to fold this into an issue opened earlier.

[2019-05-07 20:26] #864 closed

[2019-05-07 20:28] catarak commented on #557
I'm folding #864 into this issue as they are the same.

[2019-05-07 20:31] catarak commented on #664
i think this is a duplicate of a couple of issues: #231, #43, and #557, so i'm going to close this as a duplicate, but i agree this is important!

[2019-05-07 20:31] #664 closed

[2019-05-07 20:46] catarak opened #1068 "Add collections across user accounts"
#### Nature of issue?

- New feature request

#### New feature details:

There's an open issue about collections within a user's account (#43), but I'd also like for there to be collections that can contain sketches from multiple accounts. Maybe they should have a different name, maybe not. I do think, however, that one user should be an "owner", and that they should be able to add sketches that t

[2019-05-07 20:59] catarak commented on #542
i think a good reference could be @joeyklee's script to upload the ml5 examples to the web editor (https://github.com/processing/p5.js-web-editor/blob/master/server/scripts/examples-ml5.js). maybe the format of the sketches should be similar to how files are stored on github, and then once sent to the API, could be converted using the helper functions (or similar helper functions) that are in that

[2019-05-07 21:58] joeyklee commented on #542
@catarak - I'm happy to help in any way on this + very much looking forward to making this happen! Thank you!

[2019-05-07 22:25] bmoren commented on #1067
oh! I suppose that you're right. I didn't look wide enough!

Atom's preference are that the Cmd + [ and tab both have the indent functionality.

But, if this is the general trend then lets keep with where it's at.
_If_ we wanted to change anything in this case I'd say to map `tab` to indent on a highlight of selection and leave it at that?

[2019-05-07 22:28] catarak commented on #1067
i support mapping `tab` to indent a highlighted section! i just tried it in VSC and it worked, so it seems fairly standard.

[2019-05-08 05:34] plxity opened #1069 "Fix the "Text Size" input field."
#### Nature of issue?

- Found a bug

#### Details about the bug:

![Capture](https://user-images.githubusercontent.com/28510494/57351694-7c7f9780-7180-11e9-969e-d3f01d80f1df.PNG)

When a user accesses the input field, it doesn't allow the user to enter the value and when a user presses backspace it switches between values "8" and "16".

- Web browser and version: Chrome
- Operating System: Window

[2019-05-08 05:35] plxity commented on #1069
I will fix this up.

[2019-05-08 14:33] shiffman commented on #1065
I can confirm this is happening too! Referencing #1057 where this was originally reported and maybe fixed for a period of time?

[2019-05-08 14:49] catarak commented on #1069
this is currently captured as #924.

[2019-05-08 14:49] #1069 closed

[2019-05-08 17:02] plxity commented on #1069
@catarak  Okay no issues.

[2019-05-10 18:35] andrewn opened #1070 "Deleting index.html causes error when running sketch"
#### Nature of issue?

Found a bug

#### Details about the bug:

- Web browser and version: All
- Operating System: All
- Steps to reproduce this bug:

1. Create a new sketch
2. Open the file browser sidebar
3. Open the menu for `index.html`
4. Delete the file
5. Press the play button to run the sketch

The page goes blank with a JS console error `this.props.htmlFile is undefined`.

I think this h

[2019-05-10 18:43] catarak commented on #1070
thanks for reporting! i think now allowing the HTML file to be deleted is a good solution. the web editor also assumes the file is named "index.html" which is also perhaps a brittle solution. besides, if there's no HTML, what's supposed to render?

[2019-05-10 18:55] andrewn commented on #1070
I think renaming the HTML file works because the editor looks for any HTML file in the sketch, which is good.

[2019-05-10 19:29] catarak commented on #1070
okay cool, good to know!

[2019-05-10 22:21] catarak commented on #1065
sorry about that! looking into it.

[2019-05-10 22:26] #1065 closed

[2019-05-10 22:27] catarak commented on #1065
okay, i figured out the issue—it's redeploying now!

[2019-05-13 14:51] andrewn opened #1073 "Specifying nested file trees without IDs in the API"
#### Nature of issue?

- [x] Existing feature enhancement

#### Feature enhancement details:

As part of the _Sketch upload_ API work, we want a nicer way of specifying file trees.

Below, "file" means file or directory, as they're mostly the same for this discussion.

#### Current approach

The current API shape closely mirrors the shape of the data stored in mongodb:
- requires BSON-object ids t

[2019-05-13 15:02] andrewn commented on #542
I've started thinking about the shape of the API that supports sketch uploads. #541 covers the authenticaton work to allow access to the API so the comments below assume it exists.

We already have a rich API that has this functionality, so the existing import scripts could be rewritten to use the existing API at `/api`.

The existing endpoints could be extended to allow files to be created in a m

[2019-05-14 15:02] ajavamind opened #1074 "Mouse does not track correctly with WEBGL renderer"
Bug: Mouse tracking with the WEBGL renderer display works differently than P2D.
This code should give same result when using WEBGL or default in createCanvas.

function setup() {
	createCanvas(800, 600,WEBGL);  // not ok
	//createCanvas(800,600);  // ok
	background(100);
}

function draw() {
	ellipse(mouseX, mouseY, 20, 20);
}

Browser Chrome on windows 10 pro
Google Chrome is up to date
Version 7

[2019-05-15 16:07] catarak commented on #1073
Overall, this looks go to me! To answer your questions:

Right now, there is no limit; however, one data point for this is that the Sidebar styling breaks if a file is more than four levels nested, see [_sidebar.scss](https://github.com/processing/p5.js-web-editor/blob/master/client/styles/components/_sidebar.scss#L76). Given that this hasn't come up, ever, I think it makes sense for the sake of s

[2019-05-15 16:24] catarak commented on #542
As we talked about, I think the best way to move forward with this is to
1. Create a "dream" API specification (as you've already started working on!)
2. Create a middleware that checks if a user is authenticated with an access token
3. Figure out what of the current controllers can be reused/moved into functions

Then, we can write tests that will test both the public API and the API for the web

[2019-05-15 16:56] catarak commented on #1074
thanks for reporting! i tried this code outside of the context of the web editor and i'm getting the same behavior, so i think this is related to the p5.js library itself. i'm going to move this issue over to that repository!

[2019-05-15 16:59] #1074 closed

[2019-05-18 14:42] plxity opened #1078 "Implementing Redis in backend."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:
As of now, Redis is not implemented in the backend. Implementing it would make the fetching of data fast.

#### New feature details:
@catarak What do you think?

[2019-05-18 21:58] nik72619c opened #1079 "Add a profile photo with the username"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Right now, there's only the username which is showed in the app which seems to be a bit monotonous to me. I think an addition of a profile picture / avatar should be added.

@catarak please guide me with this

[2019-05-20 22:20] catarak commented on #1078
you are suggesting using redis as a cache on top of mongo? i'm not sure how high priority this is—i have a feeling this will come up as the API features get built out, to make queries faster, but i think for now this is low priority.

[2019-05-20 22:30] catarak commented on #1079
thanks for the feature suggestion! this is low priority—since there is currently not even a profile page, i'd want to step back and think about what this page should look like, and what would be important to put on there. at the very least, a user's sketches and, when it's developed, a user's collections!

[2019-05-21 17:08] plxity commented on #1078
@catarak Okay, but we can keep this as a feature which can be implemented.

[2019-05-22 18:08] nanatejapai opened #1098 "HELP link does not work in full screen mode"
I'm new to p5js and using to p5.speech with videos. Video supposes to be autoplay when loading the web, which works perfectly fine in web editor's small screen preview. However, sometimes it does not work in full screen mode and present mode.

<img width="1280" alt="Screen Shot 2019-05-22 at 2 03 47 PM" src="https://user-images.githubusercontent.com/25845385/58197779-f775a180-7c9a-11e9-835e-68ae53

[2019-05-22 19:29] nik72619c commented on #1079
okay cool! Please do let me know how this would be designed. would love to build this feature. :)

[2019-05-23 21:12] catarak commented on #417
i'm going through a backlog of pull requests and just reached my initial version to add this as a preference. i'm thinking that it's too confusing to add this as a preference, as it's unclear what it should do. for example, is this a per-sketch preference or per-account? maybe, for all projects, non-minified p5.js should be included by default, and advanced users can change to p5.min.js if they ne

[2019-05-23 21:19] dhowe commented on #417
This is what I was thinking -- ideally one could easily switch to minified via the UI (rather than hand-editing the index.html)

[2019-05-23 21:29] catarak commented on #417
agreed! the library management feature has unfortunately been pushed off for a while, but i actually don't think it's a ton of work. would be a great self-contained project within the editor for someone to work on!

[2019-05-24 05:30] lmccart commented on #417
@catarak makes sense to me!

[2019-05-24 16:40] #417 closed

[2019-05-29 16:53] catarak opened #1086 "Add staging configuration and deployment"
#### Nature of issue?

- New feature request

#### New feature details:

As suggested in #1075, this is a task to set up `feature/public-api` as a staging branch.
- [x] add `staging_deploy` script/task to Travis, which will be extremely similar to `deploy.sh`
- [x] update Kubernetes cluster config with new deployment/namespace for staging
- [x] add new repository on Dockerhub for staging image
- [

[2019-05-29 17:01] catarak commented on #1086
The Docker Hub staging image is `p5.js-web-editor-staging`

[2019-05-29 20:03] catarak commented on #1086
okay, i think is good to go.

[2019-05-29 20:11] #1086 closed

[2019-05-29 22:18] Dollar-500 opened #1088 "Viewing a Map in the console crashes the session"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome Version 74.0.3729.169
- Operating System: Windows
- Steps to reproduce this bug:
-- Copy and paste the linked code into the web editor
-- Open up the console
-- Click the disclosure triangle on the Map object that was printed

Here is the code (it's short, don't worry): https://pastebin.com/

[2019-05-30 18:43] rsklarew opened #1089 "Firebase does not work in P5js Web editor"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome 74.0.3729.169
- Operating System: macOS Mojave 10.14.5
- Steps to reproduce this bug: Firebase real-time database works fine in the old offline P5 editor. But not when I use the same code in the new online editor. (https://editor.p5js.org/rsklarew/sketches/v77S1F8Zz) The code is directly from

[2019-05-31 01:10] AltoRetrato opened #1090 "Error loading fonts in several sketches"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  **Google Chrome 74.0.3729.169 (Official Build) (64-bit) (cohort: Stable)**
- Operating System: **Windows 10 OS Build 17134.765**
- Steps to reproduce this bug:

Try to run any sketch using `loadFont('assets/SourceSansPro-Regular.otf');`, e.g.,

- [Typography: Words](https://editor.p5js.org/p5/sketches/3d

[2019-05-31 11:34] q2dg opened #1091 "There's no step-by-step installation guide for self-hosted local implementations"
I want to install this project to serve a private classroom seminar but I don't know where to start.
Thanks!

[2019-05-31 14:44] catarak commented on #1091
It's not super in depth, but I recommend looking at the [Deployment](https://github.com/processing/p5.js-web-editor/blob/master/developer_docs/deployment.md) documentation. I think it'll get you most of the way there.

[2019-05-31 15:08] q2dg commented on #1091
Oh, yes, that's what I mean (mostly). Thanks!!
I'll close the issue, then, although you could reopen it if you consider it deserves.

[2019-05-31 15:08] #1091 closed

[2019-05-31 15:20] catarak commented on #1088
thanks for reporting!

[2019-05-31 15:32] catarak commented on #1088
i tried running this locally to get better errors, and this is what i'm seeing:
[code]

[2019-05-31 15:46] catarak commented on #1089
thanks for reporting! there's a CORS issue with the gstatic CDN. it works if you use a different cdn provider! i tried using `<script src="https://cdn.jsdelivr.net/npm/firebase@6.1.0/firebase.js"></script>` and was able to get it to work.

[2019-05-31 15:46] #1089 closed

[2019-05-31 16:03] catarak commented on #1090
thanks for reporting! my instinct is that there's something up with the MIME type... i noticed that when running the sketch from the web editor, the mime type of the font is `font/otf`, whereas running it from the p5js.org website, it's `application/font-sfnt`.

[2019-05-31 16:09] catarak commented on #1090
i just tried downloading the sketch and i'm seeing the same issue

[2019-05-31 16:19] catarak commented on #1090
i tried using a different cdn and got it to work (i.e. the url `https://rawcdn.githack.com/processing/p5.js-website/768639207fde1a37243749d5ac3913fb03894aac/src/data/examples/assets/SourceSansPro-Regular.otf` works). this issue involves updating the `fetch-examples` script.

[2019-06-02 19:13] rsklarew commented on #1089
Thanks, Catarak. I verified that it did indeed work. Now I can return to using the P5js Web editor.
Best wishes, Ralph

[2019-06-03 17:47] ryangraver opened #1092 "background not working in draw"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-06-03 17:52] ryangraver commented on #1092
Hi I am just a learner so need help with this Am using the latest version and background draw only works if I move backgound up to the set up function which I know is not correct any help
thanks

Graver
![Screen Shot 2019-06-03 at 18 41 53](https://user-images.githubusercontent.com/23362434/58823023-acf80b80-8630-11e9-9c2b-13e329a47315.png)

![Screen Shot 2019-06-03 at 18 40 29](https://user-image

[2019-06-03 17:52] #1092 closed

[2019-06-04 10:10] HAGZI opened #1093 "SyntaxError: missing = in destructuring declaration (sketch: line 14)"
![Screenshot (148)](https://user-images.githubusercontent.com/51364444/58871278-54337c00-86df-11e9-8371-e1c22f5ebd1d.png)

`
function setup() {
  createCanvas(100);
}

function draw() {
  background(220);
  rect(x,y,20,30);
}

var {
x=100,
y=50
}

I KNOW ITZ A BASIC BUT IS SHOWS"SyntaxError: missing = in destructuring declaration (sketch: line 14)
![Screenshot (77)](https://user-images.githubuserc

[2019-06-04 10:42] andrewn commented on #1093
Try declaring the `x` and `y` variables like this:

[code]

Also, make sure [`createCanvas()`](https://p5js.org/reference/#/p5/createCanvas) has two arguments, for the width and height of the canvas e.g. `createCanvas(400, 400)`.

This code works for me:

[code]

[2019-06-04 10:43] andrewn commented on #1093
I'll close this for now, please reopen if it doesn't work for you.

[2019-06-04 10:43] #1093 closed

[2019-06-05 22:04] jeremydouglass opened #1094 "Privacy and exposed API keys"
#### Nature of issue?

- New feature request

#### New feature details:

Currently, people who create sketches on the web editor using API keys are automatically exposing those keys to the world, and may not be aware they are doing so.

Right now searching the web editor for "apiKey" or similar strings
https://www.google.com/search?q="apiKey"+site%3Aeditor.p5js.org

...turns up a couple hundred ex

[2019-06-06 10:46] andrewn commented on #1073
I'm going to close this issue, as the results of the discussion have been incorporated into the Public API proposal (#1076).

[2019-06-06 10:46] #1073 closed

[2019-06-06 10:52] andrewn commented on #541
This is implemented by #1075 and #1080.

[2019-06-06 10:59] andrewn opened #1095 "Create project via Public API"
#### Nature of issue?

- New feature request

#### New feature details:

As part of #542, this is to implement an endpoint that implements the Create Project endpoint in the [Public API  #1076](https://github.com/processing/p5.js-web-editor/pull/1076).

This will allow users to create new projects using their personal access token.

[2019-06-06 19:40] catarak commented on #1094
thanks for reporting! given that all apps on the web editor are front end only, this is tricky to solve, and also means that (4) isn't really an option. i like (3) as a solution, but the drawback is that sketches wouldn't be able to be run by users that don't own the sketch. i'm not sure how the editor would implement (1) or (2)—it seems like there could be a lot of edge cases, but maybe that's ok

[2019-06-06 21:17] #789 closed

[2019-06-07 20:20] kaidrumm commented on #768
Thank you so much for looking into it :)
The class is over now so I don't have a way to check in on the student again.
For what it's worth, based on what you said I wouldn't be surprised if he mashed keys and turned on the accessible output by accident via the keyboard shortcut.

I'm not sure about the "tab not working" part of the issue, but we can close it unless someone else comes up with a sim

[2019-06-07 20:20] #768 closed

[2019-06-10 05:32] awarua opened #1099 "Linked js files are not downloaded from sketch"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Chrome
MacOSX

- Steps to reproduce this bug:
  - Open the following sketch: https://editor.p5js.org/creativecoding/sketches/ObakvEt8C
    - The sketch contains several javascript files (cookie.js, spaceshipParts.js, etc.)
  - Click 'download' from the 'file' menu
  - The zip will download. Unzip it. It does not contain all javascr

[2019-06-11 20:27] #894 closed

[2019-06-11 21:33] catarak commented on #1098
@nanatejapai thanks for reporting! when i run your sketch in edit mode, i'm getting errors. do you have a version of this sketch without errors, or a simplified version of this one? thank you!

[2019-06-11 21:37] catarak commented on #1099
thanks for reporting! i think this issue here is that the files (`cookie.js`, `spaceshipParts.js`, etc) are technically of type `folder`. the bigger issue is that users shouldn't be able to add text content to a folder, nor should a folder be able to have an extension. i think there's an open pr with respect to the former.

[2019-06-12 19:58] #886 closed

[2019-06-12 20:12] #943 closed

[2019-06-12 21:11] #945 closed

[2019-06-12 21:12] #1048 closed

[2019-06-12 21:13] #437 closed

[2019-06-12 21:14] catarak commented on #645
just pushed a fix for this in #1102.

[2019-06-12 21:14] #645 closed

[2019-06-12 21:21] catarak commented on #1099
i just pushed a fix that will prevent users from adding text content to folders. however, this will break your sketch, so I made a copy of it that will work: https://editor.p5js.org/cassie/sketches/Id2Uu66Fz you'll need to duplicate this to get back your original!

[2019-06-12 21:21] #1099 closed

[2019-06-13 06:16] awarua commented on #1099
Thank you so much Cassie!

[2019-06-13 16:06] mkmori opened #1103 ""WebGL clear fills with black pixels instead of transparent background" (cf. issue #2766)"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- p5.js version: 0.8.0
- Web browser and version: FF Quantum 67.0.2 (64-bit); Chrome 74.0.3729.169 (64-bit)
- Operating System: Win10

- Steps to reproduce this bug:
Same as issue [#2766](https://github.com/processing/p5.js/issues/2766): WEBGL background renders black & opaque after `clear()`...except the workaround `background(0,0

[2019-06-13 17:00] mkmori commented on #1103
Sorry--first issue: Posted issue in wrong area after following the link to/from the guidelines....
Reposted: https://github.com/processing/p5.js/issues/3816

[2019-06-13 17:00] #1103 closed

[2019-06-13 18:06] catarak commented on #1103
@mkmori no worries!

[2019-06-14 21:56] catarak opened #1105 "Update Toolbar to match new designs"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

There's a new design for the toolbar that hasn't yet been implemented:
<img width="710" alt="Screen Shot 2019-06-14 at 5 54 28 PM" src="https://user-images.githubusercontent.com/6063380/59541001-8a39e280-8ecd-11e9-8515-ff6309a564e6.png">

For now, I'd ignore the icons on the right—that design/functionality sh

[2019-06-18 20:54] #924 closed

[2019-06-19 21:03] #498 closed

[2019-06-19 21:04] #1098 closed

[2019-07-02 01:16] sguzmanolmos opened #1112 "Script error. (: line 0) with PoseNet"
#### Nature of issue?

- Script error. (: line 0)

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: MacOS Mojave
- Steps to reproduce this bug:

<img width="1440" alt="Screen Shot 2019-07-02 at 03 11 53" src="https://user-images.githubusercontent.com/49649437/60475439-a08ac100-9c77-11e9-8890-835a49429c92.png">

[2019-07-02 10:09] PJHeeres opened #1113 "Hi guys,"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-07-02 10:10] #1113 closed

[2019-07-05 12:08] andrewn commented on #1112
From the console output, it looks as though the `manifest.json` URL is not being found (the 404 error).

Do you have a link to the sketch that I could look at?

[2019-07-08 04:18] dark3bod opened #1114 "Dividing by a zero shouldn't give Infinity"
Should be NaN
![image](https://user-images.githubusercontent.com/39875072/60782717-755d1180-a150-11e9-847b-265e8fb4087c.png)

[2019-07-08 10:15] andrewn commented on #1114
Hi, thanks for reporting this.

The MDN web documentation says that [dividing by 0 should return `Infinity`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Division_()).

I've also checked `1/0` in Firefox 67.0.4 and Chrome 75.0.3770.100 which both return `Infinity`. So it appears the p5.js Editor console is displaying the result returned by the br

[2019-07-08 10:15] #1114 closed

[2019-07-08 10:33] andrewn opened #1115 "Add sketches to a collection"
#### Nature of issue?

- New feature request

#### New feature details:

This issue merges #43, #1068 as I think that an initial implementation of Collections should allow a user to add anyone's sketches into their Collections.

##### Collection

Collections have the following properties:
- id (a shortid, like projects)
- name
- description
- slug (for easily shareable URLs)
- owner
- items (a lis

[2019-07-08 10:33] andrewn commented on #1115
@catarak If you're ok with this, I'll close #43 and #1068 in favour of this issue.

[2019-07-10 13:58] catarak commented on #1115
thanks for making this issue! i do think that users being able to submit/add sketches to a collection that is not theirs is important, the use case being a classroom/assignment setting. there's obviously a totally new design here, but maybe that's something i can work on.

[2019-07-10 16:19] andrewn opened #1117 "Submit sketches to someone else's collection"
#### Nature of issue?

- New feature request

#### New feature details:

When _collections_ have been released (#1115) users will be able to add any user's sketches to their own collections. For classroom/assignment use cases, it would be great for _other_ users to be able to submit sketches to be included in a collection.

##### Example workflow:

I'm using _teacher_ and _student_ in this example

[2019-07-10 16:25] andrewn commented on #1115
Totally agree with you @catarak. I've opened #1117 to capture this.

[2019-07-10 16:28] andrewn commented on #43
Closing this as #1115 now has more detail about the collections feature that is being implemented.

[2019-07-10 16:28] #43 closed

[2019-07-10 16:32] andrewn commented on #1068
Closing this as #1115 now has more detail about users being able to add any user's sketch to their own collections. #1117 has detail about user's being able to submit their sketches to someone else's collection.

[2019-07-10 16:32] #1068 closed

[2019-07-13 21:27] MaanasNegi opened #1118 "How to add .bin files in web editor"
#### Nature of issue?

- Feature enhancement

#### Details about the bug:

- Web browser and version :On Chrome

#### Feature enhancement details:Add .bin files in the add file section and in the preload to use loadBytes as demonstrated in Daniel Shiffman's Prepping Data in p5js video(link:https://www.youtube.com/watch?v=wMe6qcpD8jI&list=PLRqwX-V7Uu6aCibgK1PTWWu9by6XFdCfh&index=23) I used his sour

[2019-07-17 16:34] #989 closed

[2019-07-17 16:42] catarak commented on #1118
thanks for reporting! i haven't come across a use case yet for folks who want to use `.bin` files on the web editor, so this is new to me! if i understand correctly, `.bin` files are generated by an ML algorithm, so users wouldn't ever need to edit them on the web editor, right? how large are these files typically? right now, there's an upload limit of 5MB on the web editor.

[2019-07-18 06:51] plxity opened #1119 "No check present for valid email address"
#### Nature of issue?

- Found a bug

#### Details about the bug:
In the reset password route, there is no check if a valid email address is entered or not.
![Capture](https://user-images.githubusercontent.com/28510494/61435586-7105d500-a956-11e9-8c56-3fe11c6681a7.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:
 1) Visit reset password route
 2) E

[2019-07-18 17:07] catarak commented on #1119
thanks for reporting! yes, there should be an email validator here. feel free to work on it!

[2019-07-18 17:13] plxity commented on #1119
@catarak Thank you, I will send a PR soon.

[2019-07-19 10:56] MaanasNegi commented on #1118
Hi, I am trying to use the .bin for a simple doodle classifier as shown in: [https://www.youtube.com/watch?v=wMe6qcpD8jI&list=PLRqwX-V7Uu6Zs14zKVuTuit6jApJgoYZQ&index=3](url) and I saw that you had to add the directory of the files but in the web editor you have to add files. The files were supposed to be 784 kb but the download says 766 kb.

[2019-07-19 16:17] catarak commented on #1118
okay cool! that's super helpful. it seems relatively easy and straightforward to support .bin files so that's definitely something we can do.

[2019-07-20 01:14] MaanasNegi commented on #1118
Thanks for helping!!

[2019-07-21 06:34] brianpeiris opened #1121 "update default p5.js version to 0.9.0"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Latest Firefox and Chrome
- Operating System: Windows 10
- Steps to reproduce this bug:

Run this code in the editor:
[code]
deltaTime is not defined

[2019-07-22 16:50] catarak commented on #1121
thanks for reporting! this is because the current default version of p5.js on the web editor is 0.8.0 and needs to be updated to 0.9.0.

[2019-07-23 18:16] #1119 closed

[2019-07-29 14:51] unoudos opened #1124 "lights it no define"
var t;
function setup() {
  createCanvas(400, 400, WEBGL);
  lights();
}

function draw() {
  background(0);
  clear();
  lights();
 for(let i = 0; i < 150; i++) {
    resetMatrix();
    translate(i% 10* 20 - 90, i/10 * 14 - 90, -200);
    rotateY(i * ( t += 0.000001) * PI);
    box(14);
  }
}

always say lights() it no define

[2019-07-29 16:47] catarak commented on #1124
thanks for reporting! this is because the default p5.js version has not yet been updated in the web editor. this is a duplicate of #1121, so i will be closing this into that issue.

[2019-07-29 16:47] #1124 closed

[2019-07-29 16:58] #1121 closed

[2019-07-29 17:02] #1112 closed

[2019-07-31 05:08] bomoko commented on #1088
I'm digging into this as a way of getting my head around the IDE code itself.

It turns out that the problem isn't printing a Map _per se_ but rather using the map in the way that it's being used in the example - in the example we're mapping an _object_ as a key (any object as key seems to do it - and it deals with objects as values no problem).
Maps with simple types as keys seem to work no probl

[2019-07-31 18:18] catarak commented on #1088
@bomoko glad to have you working on this! i had noticed some issues with the console when I was working on merging in #667, but i haven't had a chance to pick that work back up again. i'll take a look at your PR!

[2019-07-31 21:33] KevinWh0 opened #1127 "Networking not working in processing 3.5.3"
- Found a bug

#### Details about the bug:

- Web browser and version: Not using web processing
- Operating System:  3.5.3
- Steps to reproduce this bug:

I wanted to do some networking, so I went to this site(https://processing.org/tutorials/network/). I copied the second example, into my sketchbook, I made 2 sketches for the client and server. I ran then without them being saved, and that worked

[2019-07-31 21:41] bomoko commented on #1127
Hi @KevinWh0

What you've posted is an issue with processing, this issue queue is for the p5.js Web Editor - I believe the correct queue for this is https://github.com/processing/processing/issues

[2019-07-31 21:43] KevinWh0 commented on #1127
Thanks.

[2019-08-01 17:29] #1127 closed

[2019-08-04 20:35] bendeg commented on #276
Like chad, I had the same issue and it worked right way after adding p5.sound.js (p5.min.js already added)

[2019-08-11 21:52] plxity opened #1129 "Only Integers should be allowed to enter"
#### Nature of issue?

- Found a bug

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/62839936-f196c780-bcaf-11e9-9a19-ec4a44717bfa.PNG)

Only Integers should be allowed to enter in text size field
- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:
1) Open settings tab

#### Feature enhancement details:

#### New f

[2019-08-12 15:20] catarak commented on #1129
thanks for reporting! this is, indeed, a bug.

[2019-08-12 16:23] plxity commented on #1129
@catarak I would like to work on this!

[2019-08-12 19:05] plxity opened #1131 "Add limit in file name"
#### Nature of issue?

- New feature request

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/62890925-21060c80-bd62-11e9-9903-2516980a837d.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
Add limit in the file name

#### New feature details:

[2019-08-12 19:30] plxity opened #1133 "Display scroll bar when required"
#### Nature of issue?

- New feature request

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/62892339-accd6800-bd65-11e9-9631-0a722c660b74.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:

Display Scroll bar only when it's required!

#### New feature details:

[2019-08-12 21:33] catarak commented on #1131
there is a file name length limit currently, of 256 characters, which maybe is too long. there's been some discussion around this, see #568.

[2019-08-12 21:35] catarak commented on #1133
thanks for reporting! i think this is from the following style:
[code]
which i think should be changed to `overflow-y: auto`

[2019-08-13 14:24] singhvisha commented on #1133
hi, Is it open?
I would like to fix this.

[2019-08-13 14:43] catarak commented on #1133
@singhvisha no, there's an open PR for this.

[2019-08-13 16:27] #1129 closed

[2019-08-13 18:47] singhvisha commented on #1118
@catarak , is it open?

[2019-08-13 21:15] plxity commented on #1131
@catarak Yeah, I went through the discussion. So should I fix this up? 😃

[2019-08-15 09:35] singhvisha commented on #1118
hi, is this issue open?
I would like to fix it.

[2019-08-15 12:45] singhvisha commented on #1056
Hi, I want to work on this issue.
Is it open?

[2019-08-15 20:29] catarak opened #1135 "Update p5.js Web Editor Mission Statement"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

@Luxapodular and I have been working on updating the overview/mission statement that currently lives in this repository's [README](https://github.com/processing/p5.js-web-editor/blob/master/README.md). Our process for writing this so far is captured in a [process wiki page](https://github.com/processing/p5.js

[2019-08-16 04:36] jpgualdarrama commented on #588
I'm new here, but I would like to take this on if it hasn't been fixed yet. @catarak

[2019-08-16 11:35] singhvisha commented on #1056
hi,if it is still an issue,Please allow me to fix.

[2019-08-16 13:24] siddhant1 commented on #1056
Go for it!

[2019-08-16 14:02] saberkhaniscool commented on #1135
Love it. Do you want to say anything about being able to download their work and put it up elsewhere so they have full control and ownership over their creative output.

[2019-08-16 14:59] sinabahram commented on #1135
Awesome stuff! Thanks for your work on this. The word "accessibility" is used twice, but possibly with different meaning. Do you think we could enhance the statement a bit with exactly what the statement means when it says accessible?

[2019-08-18 00:27] tstefanich opened #1137 "Download of zip file fails to complete"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome: 76.0.3809.100, Firefox: 67.0
- Operating System: Mac, Windows
- Steps to reproduce this bug:
Use this sketch as an example, https://editor.p5js.org/FRESHPRNCE/sketches/S1Kqxl-HQ
Go to "File" in the menu bar and click  "Download" and it will stop downloading at about ~676kb, hang there for a few se

[2019-08-19 15:43] singhvisha commented on #1056
Hi,Could you please help me how to approch?

[2019-08-19 15:59] catarak opened #1138 "add ability to toggle line numbers to accessibility settings"
#### Nature of issue?

- New feature request

#### New feature details:

Suggested by @sinabahram, this feature would add a setting under "Accessibility Settings" to toggle line numbers within the code editor. When using a screen reader, sometimes the line numbers can be distracting and don't indicate position in the same way as they do for sighted users.

[2019-08-19 16:29] siddhant1 commented on #1056
@catark has provided the link above , I think you can look at
https://github.com/processing/p5.js-web-editor/blob/master/client/utils/p5-javascript.js

[2019-08-20 09:14] singhvisha commented on #1138
@catarak, Can I work on this issue?

[2019-08-20 15:36] catarak commented on #1138
@singhvisha go ahead!

[2019-08-21 07:04] lmccart commented on #1135
This is great! I'd offer the suggestion to update "artists, designers, educators and beginners" to "artists, designers, educators, beginners, and anyone else that wants to learn" This might be a little redundant, but I think makes it feel a little more open, like it's not just for artists or designers.

[2019-08-21 15:28] #1133 closed

[2019-08-21 15:30] catarak commented on #1131
how are you suggesting to fix this? do you think the name should be shorter? do you think it should be truncated in a different way on the front end?

[2019-08-21 15:30] catarak commented on #1118
@singhvisha go ahead and work on this!

[2019-08-21 15:44] catarak commented on #1056
@singhvisha go ahead and work on this! you'll need to parse the `data.json` file, pull out the p5.js keywords, and then dump them into the `p5-javascript.js` file by making a template file to insert them into. let me know if you need more help!

[2019-08-21 15:46] catarak commented on #1135
thanks for the feedback, y'all! i'm gonna take this in and write an updated version.

[2019-08-21 15:48] catarak commented on #1137
thanks for reporting this bug! i'm able to reproduce. not sure what's going on here but i can do some digging.

[2019-08-21 16:49] plxity commented on #1131
Yes, I think the file name should be shorter. Add a limit in the input field and as it exceeds display an error message.

[2019-08-21 17:06] tstefanich commented on #1137
Thank you for looking into this :)

[2019-08-21 18:08] #231 closed

[2019-08-21 19:24] catarak commented on #1135
i took another stab at it, and this is what i have. most notably, i expanded the second paragraph and i removed the second instance of "accessibility":

The p5.js Editor is a platform for creative coding, with a focus on making coding accessible for artists, designers, educators, beginners, and anyone else that wants to learn. Simply by opening the website you can get started writing p5.js sketche

[2019-08-21 19:44] plxity opened #1139 "Add folder button is not functioning properly"
#### Nature of issue?

- Found a bug

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/63462996-cf543500-c479-11e9-8023-cb46a1e708b4.PNG)
![Capture1](https://user-images.githubusercontent.com/28510494/63463011-d5e2ac80-c479-11e9-9593-23926380c74d.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature

[2019-08-21 19:47] sinabahram commented on #1135
Thanks for the additional work on this, all.

My major comment right now is that it doesn’t mention accessibility at all in the sense that “the editor strives to be accessible for as many people as possible” or something like that.

In other words, can we have a firm commitment to digital accessibility in here?

[2019-08-21 19:52] catarak commented on #1135
@sinabahram i absolutely want to include that in the mission statement! i like how you have phrased it and i want to include basically that sentence somewhere in here.

[2019-08-21 19:54] catarak commented on #1139
thanks for making this issue! i am able to get the error to appear, but it's confusing because the functionality between the two forms is slightly different:
- when a user clicks "new file", the focus is placed on the input field. when the user then tries to click on the "add file" button, the error appears because the input has been blurred.
- when a user clicks on "new folder", the focus is not

[2019-08-21 20:10] plxity opened #1140 "Notification should appear when new sketch is opened"
#### Nature of issue?

- New feature request

#### Details about the bug:
![Capture](https://user-images.githubusercontent.com/28510494/63464926-d7ae6f00-c47d-11e9-8988-b709bf1b6448.PNG)

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

#### Feature enhancement details:
When a user clicks on 'New' option, the toast should appear stating the new file is

[2019-08-21 20:15] catarak commented on #1140
thanks for creating this issue! i agree that the toast notification should appear when you create a new sketch.

[2019-08-21 20:17] plxity commented on #1140
@catarak Okay No issues, Can I work on this? 😄

[2019-08-22 20:40] catarak commented on #1131
what is the length limit you suggest?

[2019-08-23 03:33] plxity commented on #1131
I think not more than 60 characters. What do you suggest?

[2019-08-23 04:51] #1139 closed

[2019-08-24 12:00] andrewn opened #1142 "Move sketches and assets to their own page"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Having sketches and assets appear in a modal is app-like, but the table can be cramped and doesn't make full use of the browser window. From a technical point of view, it makes state management a bit harder than it needs to be and makes the IDE component care about more than it should.

The modals are current

[2019-08-24 20:25] singhvisha commented on #1138
Hi @catarak , I tried many time to built the webeditor locally.But it always end up with following message and i am not  able to find the link which led me to  my locally built editor.

[nodemon] 1.18.10
[nodemon] reading config ./nodemon.json
[nodemon] to restart at any time, enter `rs`
[nodemon] or send SIGHUP to 10605 to restart
[nodemon] ignoring: ./.git/**/* node_modules/**/node_modules
[node

[2019-08-24 23:34] w3cj commented on #468
Hey! I'm going to take a stab at the file not found issue. This is what I see happening in the editor:

![](https://i.imgur.com/eKUWKj5.png)

Just want to clarify, would the fix be, instead of showing the `Event` object log, show the actual error message `Failed to load resource: the server responded with a status of 404 ()`?

[2019-08-25 01:20] w3cj commented on #468
After a bit of debugging and research, I have determined that the `Failed to load resource:` or `GET http://localhost:8000//missingfile.png 404 (Not Found)` error might not be interceptable as it is occurring at the network level.

One option, is to detect the failed to load image error provided by p5, and inject / emulate an error to match the network error. We might do that [here](https://github

[2019-08-25 01:20] LinusvDev commented on #468
Addition to @w3cj, currently we are using `window.onerror` to catch the error events. The 404 gets thrown from the image inside the iframe, then gets bubbled up to the window. In @w3cj's screenshot we also see the 404 message by the browsers network layer which, as far as i know is not interceptable and the other error with the `Event` object is the bubbled error event from the image. We could bea

[2019-08-25 06:26] CodingCreate101 commented on #709
Is this fixed? I can't reproduce it because I don't have a Mac.

[2019-08-27 15:41] singhvisha commented on #1138
hi,sorry.it worked..

[2019-08-27 16:37] CodingCreate101 commented on #709
It would be nice to know which are addressed and which aren't. I was going through issues and tried to take the old ones. This one is almost a year old. I'd like to try fixing it. But there was a conversation about design decisions. Not sure if I can actually pick this one.

[2019-08-27 16:57] CodingCreate101 commented on #709
That's a very good idea. I'll get started with that soon. 🙂

[2019-08-28 21:03] RickBr0wn commented on #1138
Hi, how is this going? If its stalled I'd like to help. I have a pull request ready, but do not want to take an issue that someone else is working on.

Would be happy to discuss with @singhvisha

[2019-08-28 21:39] catarak commented on #1135
alright, I tried switching around the first sentence to make the accessibility goal more explicit (the rest is the same, but i've put it all in here just because):

The p5.js Editor is a platform for creative coding, with a focus on making coding accessible for as many people as possible, including artists, designers, educators, beginners, and anyone who wants to learn. Simply by opening the websi

[2019-08-28 23:57] sinabahram commented on #1135
I think it’s really good. It is ambiguous, to me, about which definition of accessibility is being used, but I also think in a way, this is a good thing. I think we can make much stronger claims once additional work is done, just like how it does around being able to download your sketches, etc., but we first need to do that work and then can elaborate on it.

Those are my thoughts.

[2019-08-29 10:49] singhvisha commented on #1138
hi @RickBr0wn ,Please go head.
when your pull request is ready, no worth of trying it.

[2019-08-29 13:34] singhvisha commented on #1118
@catarak
hi, I am not able to get the file.

[2019-08-30 08:30] RickBr0wn commented on #1138
Thank you @singhvisha.

@catarak PR submitted #1146.

[2019-08-30 08:36] RickBr0wn commented on #1140
Hi @plxity, how is this going? If it has stalled in any way, I'd like to help.

[2019-08-30 16:23] catarak commented on #1135
i agree. "access" is an important part of the mission and we can define it more clearly as we figure out what it looks like!

[2019-08-30 16:27] catarak commented on #1118
you need to edit the accepted mime types in the uploader in `server/utils/fileUtils.js`

[2019-08-30 16:36] #1138 closed

[2019-08-30 19:38] davidbmx commented on #936
Hi, I new contributor and I'd like to help, i see the data search matches for all page in object cm.state.search.annotate.matches.length;

[2019-08-30 19:39] catarak commented on #936
go ahead and work on this!

[2019-09-02 18:11] davidbmx commented on #936
Hi @catarak, i send pull request for this, #1151

[2019-09-03 18:24] EkaanshArora commented on #1118
Hey @singhvisha are you still working on this? I'll take it up if you're stuck somewhere.

[2019-09-03 18:55] EkaanshArora commented on #888
Hey @plxity, it's been a while, you still working on this?

[2019-09-03 19:57] singhvisha commented on #1118
@EkaanshArora
hi, I will be soon submitting PR.

[2019-09-03 20:31] plxity commented on #888
@EkaanshArora Actually, I was working on other issues. Yes, I am working on it. WIll send a PR by Tomorrow.

[2019-09-03 20:35] plxity commented on #1131
@catarak Okay will fix that up :)

[2019-09-05 18:56] #1140 closed

[2019-09-05 20:17] #1135 closed

[2019-09-05 20:17] catarak commented on #1135
fixed as part of #1152!

[2019-09-05 21:12] slowizzm opened #1153 "Unable to login"
Sometimes unable to login. After inputting credentials and trying to click Login, there is a red error cursor (circle with slash) and no event upon clicking. Refresh and/ or new tab does not fix it.

Then other times there is no issue. So not real sure how to reproduce.

Several of my students and myself have experienced this over the past day or two.

[2019-09-05 21:18] catarak commented on #1153
thanks for reporting! i too have noticed this occasionally. i'll look into this shortly.

[2019-09-06 13:03] ChristianPretorius opened #1154 "saveStrings() to have the option to store/update in webEditor"
#### Nature of issue?

- Existing feature enhancement / New feature request

#### Feature enhancement details: / New feature details:
Using the web editor, I can upload a .txt file to my sketch files by manually adding it from my computer, I can access it with the loadStrings() function, but I have no way of updating the values in the .txt file. saveStrings() saves the file to my downloads folder,

[2019-09-06 16:30] catarak commented on #1154
thanks for creating this issue! this is super interesting to think about. i think the functionality of `saveStrings` should be consistent inside of and outside of the context of the web editor, which makes saving it to your downloads folder makes sense. it's confusing to think about because the web editor fakes a file system, but doesn't give you a lot of that functionality.

one possible solution

[2019-09-06 17:30] catarak commented on #1153
just pushed a change for this which will take a few minutes to deploy! try it out and let me know if it's fixed.

[2019-09-06 17:34] ChristianPretorius commented on #1154
Thanks for the response. I didn't think about the importance of consistency regarding inside/outside context of the web editor, considering that the downloads folder makes most sense.

I don't really understand how the web editor is creating the file system, where can I learn more about how this works?

Right now I am creating a game with a leaderboard.txt file that saves the positions of the top

[2019-09-06 17:48] catarak commented on #1154
okay, interesting! sketches right now are 100% front end (contrasted with an app like Glitch that has server side and client side code) and therefore there's no concept of stored data. one way of handling this short term would be to integrate with a separate database/api service (like firebase?).

[2019-09-06 18:17] ChristianPretorius commented on #1154
awesome, I'll look into that. Thanks a lot!

[2019-09-06 19:06] slowizzm commented on #1153
so far so good ... ty!

[2019-09-06 19:14] catarak commented on #1153
okay great. i'm going to close this for now, please reopen if you notice other issues!

[2019-09-06 19:52] leonardof131 opened #1156 "Hosting Instance of web editor"
So I was redirected here from this forum post: https://discourse.processing.org/t/helping-a-teacher-with-the-web-editor/13822

Like I said on the forum, my name is Leo and I’m a teacher for an ONG in the favelas of Brazil that focuses in delivering STEAM education to poor children in my local region.
We’re planning to do some coding classes with them, and the easy of use of the p5.js certainly got

[2019-09-09 21:09] #1154 closed

[2019-09-10 20:45] #936 closed

[2019-09-10 21:54] catarak commented on #1156
thanks for writing up this issue! recently, i've been thinking a lot about making it easier for folks to launch their own instance of the web editor, along the same lines as discourse or mastodon. right now, it's a little complicated, and i'd like to spend some time streamlining it, so that folks in your position could host their own version. i can spend some time documenting what would need to ch

[2019-09-10 22:16] davidbmx commented on #1070
I wish I could work on this, what could be the possible solution

[2019-09-10 22:20] catarak commented on #1070
i think there are potentially a few different solutions and it would be helpful to list them out!

[2019-09-10 22:29] davidbmx commented on #1070
It is possible to show an error in the preview indicating that there is no .html file
example
<img width="387" alt="Captura de Pantalla 2019-09-10 a la(s) 17 27 16" src="https://user-images.githubusercontent.com/12814631/64655003-86482e80-d3f0-11e9-8c64-22657904adca.png">

[2019-09-12 18:34] plxity opened #1157 "Change hover color of Log In text"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:
Change the hover colour of login text.
![p5](https://user-images.githubusercontent.com/28510494/64810998-108fbe80-d5ba-11e9-9ce1-ed019a1362e3.png)

- Web browser and version: Chrome
- Operating System: Linux
- Steps to reproduce this bug:

#### Feature enhancement details:
Hover Colour should be darker.

#### New fe

[2019-09-13 17:09] leonardof131 opened #1158 "Not loading images from folder"
So, I managed to run a version of the Web Editor for our ONG. You can check issue #1156 to learn more.

The thing is, how can we have a folder with some images on it, so our students can use them ?

For example, I have the website ong.processingeditor.com.br where the web editor is running.
We also have an folder for images on ong.processingeditor.com.br/assets/ with some mascots we would like to

[2019-09-13 18:50] jtrimble2593 opened #1159 "Embed in click funnels members area NOT WORKING"
I am having an issue with the embed codes, When I embed the code into a clickfunnels membership area it will now show up

Well, it pops up for a split second then it disappears. I am not sure why it does that.

But when I embed it into a public clickfunnels page it embeds just fine. the only difference is between the public page and the members area

[2019-09-13 19:11] catarak commented on #1159
hi! i think you have the wrong repository? i have no idea what clickfunnels is.

[2019-09-13 19:11] #1159 closed

[2019-09-16 08:51] jokercoding opened #1160 "delete p5.js account! please help"
#### delete p5js account

- Found a bug

#### Details about the bug:
please help me delete my p5 js account.

- signed in with google account to p5 js
- MacOSX

[2019-09-16 18:55] catarak commented on #1160
i can definitely help you with this! can you tell me your username so i can delete the account?

[2019-09-16 19:01] leonardof131 commented on #1160
Taking the oportunity to ask a question.
@catarak , if I wanted to manually create/delete user in my stance of the web editor, the only way to do so is creating/deleting an entry in the mLab mongodb of my deploy ?

[2019-09-16 19:04] catarak commented on #1160
@leonardof131 that is true for deleting! if you want to create a new user, you can also just go through the sign up process on your instance.

[2019-09-16 19:07] leonardof131 commented on #1160
We're creating some standardized users so we can quickly assess wich class/shift the student is just by looking at the login information.
I was wondering if there was another option other than manually registering in the instance

[2019-09-17 02:22] jokercoding commented on #1160
Hey! thank you very much for the fast reply.
my username was florin.raske@gmail.com
thank you for your help!

[2019-09-17 02:22] #1160 closed

[2019-09-17 03:10] socalledsound opened #1161 "web editor audio bug is plaguing me"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
78.0.3904.12 (Official Build) dev (64-bit)

- Operating System:

This happens on any computers I use, chromebook, macbook, imac, hackintosh, mac mini, you name it.

- Steps to reproduce this bug:
I'm having a pretty strange problem.  Many of my sketches are having audio glitches, whether they have audio i

[2019-09-17 17:04] catarak commented on #1161
hi! can you look in your settings and see if you have the accessibility features turned on? if so, you can turn them off to get rid of these sounds. you can access this by clicking on the cog icon in the upper right, then clicking on the "accessibility" tab.

[2019-09-17 23:34] lsh opened #1162 "Allow creation of shader files from within the editor"
- Existing feature enhancement

#### Feature enhancement details:
Shaders are allowed through drag and drop files, but the filetypes `.frag`, `.vert`, and `.glsl` are not working when created through the sketch>add file menu or through renaming files.

[2019-09-18 14:43] catarak commented on #1162
thanks for creating this issue! yes, i agree it should be possible. maybe this issue could be handled with #1118 since it involves editing the same files.

[2019-09-19 17:41] catarak commented on #650
i actually figured out what was causing this! the expiration date for the token wasn't getting set properly when re-sending a verification email. this will be fixed on master soon!

[2019-09-22 05:22] socalledsound commented on #1161
Hi I think that may have fixed it!  thank you!

[2019-09-24 21:22] #1161 closed

[2019-09-25 06:55] frankwinter opened #1165 "Unable to delete sketches in Safari"
This happens with Safari browser version 13.0

1. Open MySketches
2. Select "Delete" from dropdown

The sketch doesn't get deleted.
Response in console is:

[code]

[2019-09-25 15:13] catarak commented on #1165
thanks for submitting this issue! i am able to reproduce.

[2019-09-26 19:45] catarak commented on #1158
hi @leonardof131, sorry for the delay in replying to this! i thought i replied but i guess i didn't? anyway, the reason it's not working is because the web editor assumes image files are uploaded to an S3 bucket. it's a coincidence that the first example you give is working.

there's a guide for setting up an S3 bucket: https://github.com/processing/p5.js-web-editor/blob/master/developer_docs/inst

[2019-09-26 19:46] #1157 closed

[2019-09-26 20:18] #1162 closed

[2019-09-26 20:18] #1118 closed

[2019-09-26 20:26] #1078 closed

[2019-09-29 15:10] trych opened #1167 "Comment Line command cannot be used on German keyboards"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome, Firefox, Safari (and possibly others)
- Operating System: macOS
- Steps to reproduce this bug:

Using <kbd>Cmd</kbd> + <kbd>/</kbd> to comment lines does not work on a German (and possibly other) keyboard layouts as to type a `/` you have to use <kbd>Shift</kbd> + <kbd>7</kbd>, so the comment keyb

[2019-09-30 03:53] shakti97 commented on #899
Can I work on this or its done but not closed?

[2019-09-30 03:54] shakti97 commented on #1137
Can I try this?

[2019-09-30 12:51] trych opened #1168 "Wrapper function error messages refer to their core function name"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: any
- Operating System: macOS 10.13.4
- Steps to reproduce this bug:

Something like

[code]

or

[code]
respectively result in error messages like: `p5.js says: ellipse() was expecting at least 3 arguments (…)` (or `rect()` respectively), so they don't refer to the name of the wrapping function that is a

[2019-10-01 17:27] TJHUNTER2001 commented on #704
When will we see this?

[2019-10-01 17:44] shakti97 commented on #1137
I just found the problem for the error, its an action without dispatching something & I don't think it should be the action if its not dispatching something so it should better be a function.
here i am talking about this exportProjectAsZip action in the projectAction.
So in my mind there are two ways to solve this either by passing type null so that the default reducer will handle it and the other

[2019-10-01 17:47] shakti97 commented on #1137
if you want I can generate a separate issue first describing the action error and then sent a pr by resolving the error @catarak

[2019-10-01 18:03] shakti97 opened #1169 "Action should a plain object"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome/FireFox/Opera
- Operating System: Windows/MacOSX/Linux
- Steps to reproduce this bug:

Steps to reproduce:-
1. first login and save the opening default file from the File menu
2. Now download the file
3. Move to the console it will raise the error

![Error](https://user-images.githubusercontent.com

[2019-10-01 18:03] shakti97 commented on #1169
I working on it

[2019-10-01 18:05] shakti97 commented on #1169
Issue #1137 for downloading issue - file not downloading completely this issue
This issue for removing the above shown error

[2019-10-01 19:47] catarak commented on #1167
Thanks for report this issue! The <kbd>Cmd</kbd> + <kbd>/</kbd> command is defined by a CodeMirror addon, specifically the Sublime Text keymap. I'm sure other folks have run into this issue using CodeMirror with non-US keyboards, but I'm having a hard time figuring out how others have solved this (here's an example of someone having the same issue: https://github.com/jupyter/notebook/issues/3753).

[2019-10-01 19:51] catarak commented on #899
i just tested this, and i think it's actually been fixed. closing!

[2019-10-01 19:51] #899 closed

[2019-10-01 19:56] catarak commented on #1168
thanks for reporting! this should go in the core p5.js repository. i'll transfer it there ✨

[2019-10-01 19:58] catarak commented on #704
@TJHUNTER2001 I don't have a timeline for this issue unfortunately. unless anyone else wants to pick it up!

[2019-10-01 20:02] catarak commented on #1137
My instinct here is that the bug you found is a red herring—I think maybe the server is returning an error, and the front end is not handling it properly?

[2019-10-01 20:04] trych commented on #1167
Yes, I use it in Sublime all the time. Most other (standalone) code editors have the same shortcut that works well. The issue here is simply that it clashes with the predefined browser shortcuts, I think.

I just checked other code editors (CodePen and jsfiddle) and they suffer from the same problem. However, since accessibility is such an important part for p5.js, it would be great to find an act

[2019-10-01 20:18] catarak commented on #1167
agreed! i wonder what another common shortcut for commenting code is? all i could find is in visual studio, it uses <kbd>Cmd</kbd> + <kbd>K</kbd> + <kbd>C</kbd> to comment and <kbd>Cmd</kbd> + <kbd>K</kbd> + <kbd>U</kbd> to uncomment.

[2019-10-01 20:33] #1169 closed

[2019-10-01 20:35] catarak commented on #1137
i was able to get rid of that error, but running the server locally, it seems like this is silently failing, as there are no errors from the server, either. it seems like it's getting stuck somewhere and just hanging!

[2019-10-01 20:45] siddhant1 commented on #704
@shakti97 would you like to pick this up?

[2019-10-01 20:51] shakti97 commented on #704
Sure

[2019-10-01 22:14] trych commented on #1167
Not sure about common ones. But I seem to remember that somewhere I had to use <kbd>Cmd</kbd> + <kbd>K</kbd>. I can't for the life of me remember which package it was. Anyway, <kbd>Cmd</kbd> + <kbd>K</kbd> does not seem to conflict with anything else in the three browsers I tested it with (Safari, Chrome, Firefox), at least on Mac.

Could maybe somebody check on Windows/other browsers? Currently I

[2019-10-02 15:09] catarak commented on #1167
i should be able to test this by using browser stack + switching my keyboard to a german keyboard. let try it and report back...

[2019-10-02 18:06] yzeal opened #1173 "unable to add a file to a folder"
#### Nature of issue?

- Found a bug (?)

#### Details about the bug:

- Web browser and version: Firefox 69.0.1 and Chrome 77.0.3865.90 (64-Bit)
- Operating System: Microsoft Windows 10 Pro (Version 10.0.17763 Build 17763)

- Steps to reproduce this bug:

I'm trying to add an image file to a folder I've created using the Web Editor. But instead of appearing inside the folder, the new image is pla

[2019-10-02 20:18] #1165 closed

[2019-10-02 20:35] catarak commented on #1167
btw, i did some research, and apparently <kbd>Cmd</kbd> + <kbd>K</kbd> is a keyboard shortcut from notepad++.

[2019-10-02 20:39] catarak commented on #1167
hmm, i noticed that <kbd>Cmd</kbd> + <kbd>K</kbd> and <kbd>Ctrl</kbd> + <kbd>K</kbd> seemed to be mapped to a keyboard shortcut that deletes the text from where the cursor is to the end of the line. so i think, unfortunately, we'll have to figure out a different shortcut!

[2019-10-02 21:09] trych commented on #1167
Ah, okay. I didn't realize that *all* the Sublime Shortcuts are mapped into the p5 editor. Well, in this case it's probably best to have a close look at a Sublime Shortcut List and figure out which keys are still available.

[2019-10-02 21:12] catarak commented on #1167
It would be nice to not override them if possible, but I'm willing to do it where it makes sense!

[2019-10-02 21:23] catarak commented on #1067
I just made a [PR to add this feature](https://github.com/processing/p5.js-web-editor/pull/1174), however, <kbd>Shift</kbd> + <kbd>Tab</kbd> is mapped to "Code Tidy". There seems to be no consistency across editors what the keyboard shortcut for this is, and therefore I could change it, but I also feel like I can't change it at this stage in the game. Maybe I could add some analytics to see if fol

[2019-10-02 21:32] trych commented on #1167
Hm, okay, I looked at the Sublime Shortcut list (which was highly educational btw 😄 ) and it seems most keys are taken. Those that are not taken are in turn taken by the browser. I thought <kbd>Cmd</kbd> + <kbd>#</kbd> might be a good shortcut, as it can be typed without using Shift on a German keyboard, but I figured that the Spanish keyboard layout probably suffers from the same commenting issue

[2019-10-03 03:50] bmoren commented on #1067
per the conversation above <kbd>Command</kbd> + <kbd>]</kbd> can be used to decrease or opposite to increase, so the tab functionality on a highlighted section seems like a convenience mapping, and good enough in my book!

It seems like adding a tab for an additional loop or conditional statement is far more common than needing to remove indentation which might be a better candidate for tidying an

[2019-10-03 14:18] shakti97 commented on #922
@catarak can you please share the link of the design so that i send a fix for it

[2019-10-03 14:52] shakti97 opened #1175 "update file action to match design"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
 In design you can see there are files actions actually mentioned but right now that is not in the implemented one
![Design](https://user-images.githubusercontent.com/30585570/66137969-83211680-e61b-11e9-9387-1bce1890f0a2.PNG)
 Design one

![rightNow](https://user-images.githubusercontent.com/30585570/66137992

[2019-10-03 14:53] shakti97 commented on #1175
Can I try this?

[2019-10-03 18:36] catarak commented on #1173
thanks for reporting! this is actually a duplicate of #963. basically, you need to click on the folder first in order to add it to that folder. this is obviously not the expected behavior and therefore a bug.

[2019-10-03 18:36] #1173 closed

[2019-10-03 18:45] catarak commented on #1167
I like <kbd>Cmd</kbd> (<kbd>Ctrl</kbd> on windows) + <kbd>.</kbd>! I also like that it's close to the <kbd>/</kbd> key, at least on a QWERTY/US keyboard.

[2019-10-03 18:50] catarak commented on #1067
okay, that makes sense! i'll merge in the PR then and leave it at that. thanks for your input!

[2019-10-03 18:51] #1067 closed

[2019-10-03 18:52] #1175 closed

[2019-10-03 19:54] #963 closed

[2019-10-03 20:09] catarak commented on #381
it seems like this bug is fixed? i just tried reproducing this and i couldn't.

[2019-10-03 20:09] #381 closed

[2019-10-03 20:11] catarak opened #1177 "Increase Auto-refresh reload time"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I rarely use the autorefresh feature because I find it annoying that it refreshes so often, and I'm honestly surprised that no one else has opened this issue. It currently will update if the user has stopped typing for 400ms. I'm going to try increasing it to 1 second (1000ms) and see how it feels!

[2019-10-04 17:58] siddhant1 commented on #922
https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3/screen/59413d86749bc4afbca08994

[2019-10-05 18:20] shakti97 commented on #1131
is this issue still open? if no, i would like to contribute to it.

[2019-10-05 18:22] shakti97 commented on #888
is it still open? If no, I would like to work on it

[2019-10-07 08:43] frankwinter opened #1180 "Unable to add new file from top navigation"
- Found a bug

It's not possible to **Add File** for a sketch. The console logs:
`app.75f9d4564e8bb797e7c7.js:14 Uncaught TypeError: Cannot read property 'children' of undefined`

Tested on MacOS Chrome & Safari

[2019-10-07 15:12] catarak commented on #1180
thanks for reporting! i'm currently not able to reproduce. can you be more specific about your steps to produce this bug? are you adding a text file or uploading a file? are you adding a file to the root directory of the sketch or to a subfolder?

[2019-10-07 16:11] frankwinter commented on #1180
I just start the web editor and use the top menu to select SKETCH / ADD FILE - enter a name and hit ADD FILE. This leads to the error.
Using the sidebar to add a file works fine.

[2019-10-07 19:09] socalledsound commented on #1180
My class and I are also unable to load add any files to our sketches.  It was working in the middle of last week but starting perhaps sunday? we can't add external files of any type.  Have tried text and sound files.  The editor responds as always but fails to load anything.  Older sketches with image or sound assets are all still working fine.

[2019-10-07 19:10] socalledsound commented on #1180
and ps, how do you add a file using the sidebar?

[2019-10-07 19:17] frankwinter commented on #1180
When you expand the sidebar to see all files you can click on the small triangle after "Sketch Files".

[2019-10-07 19:51] socalledsound commented on #1180
I'm not sure which small triangle you mean, is it pictured here?
![arrow](https://user-images.githubusercontent.com/4337279/66343774-34b49600-e901-11e9-828a-4237b67a048e.png)

[2019-10-07 20:14] frankwinter commented on #1180
Over here it looks like this:

<img width="287" alt="Bildschirmfoto 2019-10-07 um 22 11 01" src="https://user-images.githubusercontent.com/13355366/66345096-9d2a6400-e94f-11e9-8373-24550c51505f.png">

(Up to date Chrome, Safari and Firefox on MacOs)

[2019-10-07 22:23] catarak commented on #1180
@socalledsound that's a different error, but thanks for reporting! i think a PR i made caused that regression, i'll unmerge it and fix that issue.

[2019-10-08 19:20] plxity opened #1182 "Change the account page theme as per the selected theme."
#### Nature of issue?

- New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Linux
- Steps to reproduce this bug:

#### Feature enhancement details:
In the account page, the theme should change as per the theme selected by user.

#### New feature details:

[2019-10-08 19:21] plxity commented on #1182
@catarak What do you think about this feature? If you approve can I work on this?

[2019-10-08 20:40] #1180 closed

[2019-10-08 20:44] catarak commented on #1180
just pushed a fix that should fix both of these issues!

[2019-10-08 20:45] catarak commented on #1182
this is currently fixed on the `feature/public-api` branch, which hasn't yet been merged.

[2019-10-08 20:45] #1182 closed

[2019-10-08 20:45] catarak commented on #1131
go for it!

[2019-10-08 21:22] plxity opened #1188 "Add password minimum to Account Settings"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Linux
- Steps to reproduce this bug:

#### Feature enhancement details:
While setting up the new password add a limit of at least 6 characters similar to sign up form.

#### New feature details:

[2019-10-08 21:23] plxity commented on #1188
@catarak Can I work on this?

[2019-10-08 21:24] catarak commented on #1188
the password minimum is already six characters.

[2019-10-08 21:25] sssshuang opened #1189 "File upload error / Add File will not upload: TypeError"
#### Nature of issue?

- Found a bug

#### Details about the bug:

When trying to upload an image or file, the browser reports:
Uncaught TypeError: Cannot read property 'children' of undefined
and the image is not uploaded

- Web browser and version: Chrome: 77.0.3865.90
- Operating System: MacOSX: 10.14.5
- Steps to reproduce this bug:

<img width="636" alt="Screen Shot 2019-10-08 at 4 25 00 PM"

[2019-10-08 21:27] plxity commented on #1188
@catarak Please check this.
![Screenshot from 2019-10-09 02-55-43](https://user-images.githubusercontent.com/28510494/66434580-79931680-ea40-11e9-95bb-49e367014d7b.png)

[2019-10-08 21:28] plxity commented on #1188
In this after typing only 1 character the button becomes active. It should be activated only when at least six characters are entered.

[2019-10-08 21:29] catarak commented on #1189
thanks for reporting! i attempted to fix this issue in #1183 but it seems like it didn't get deployed. will investigate...

[2019-10-08 21:32] catarak commented on #1188
ahh, you mean on the account settings page! got it. yes, that is a bug.

[2019-10-08 21:34] plxity commented on #1188
@catarak Can I work on this?

[2019-10-08 21:47] #1189 closed

[2019-10-08 21:58] #1131 closed

[2019-10-12 02:11] maxdevjs opened #1192 "<html> element must have a lang attribute"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

To address and fix accessibility html lang attribute violation: https://github.com/maxdevjs/p5.js-web-editor/commit/4220de6a780e9d9fad89d4963f467a7e5d2fe3f8

I first of all create an issue

- because I do not know if there is a good reason this was not addressed already
- I assume as primary language of the d

[2019-10-12 12:27] ScriptHosT12 opened #1193 "classes static properties false syntax error"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: 77.0.3865.75 64bit
- Operating System: ubuntu Linux 19.04
- Steps to reproduce this bug:

write:
`class t
{
  static w = 2;
}`

![image](https://user-images.githubusercontent.com/30875598/66701358-7b383500-ecf3-11e9-8663-5b886758139a.png)

however it works perfectly

[2019-10-12 16:40] juliamariee opened #1194 "console: catching errors/console messages isn't working in safari"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

When using p5.js with safari, I either don't get error messages or get "script error. (:line 0)".
I went through

[2019-10-14 21:05] EthanHermsey opened #1195 "What about autofill characters } and ) ?"
Hey!

I have a request.
Can there be a function that adds a } character after you type in { and puts the cursor in between?The same for ( and [ characters would be nice. With a checkbox in the options tab.
I would put in a pull request but i can't make any sense of this code repository ;p
Thanks you,

Ethan

[2019-10-17 16:11] stalgiag opened #1196 "loadImage() broken when using Editor with p5 0.10.2"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome 77.0.3865
- Operating System: Windows
- Steps to reproduce this bug: [Go to this example](https://editor.p5js.org/stalgiag/sketches/AEa__RUdZ)

I am using the web editor to host [some examples for p5.xr](https://stalgiag.github.io/p5.xr/#/), so I have been **manually loading in v0.10.2 of p5 into

[2019-10-17 16:55] catarak commented on #1192
thanks for submitting! yes, this is a bug, and yes, this should be fixed.

[2019-10-17 17:16] catarak commented on #1193
thanks for reporting! i assume this is related to the jshint parsing not being 100% up to date with the newest javascript features.

[2019-10-17 17:25] catarak commented on #1194
thanks for reporting! i am able to reproduce. it seems lie on Safari, [the hook](https://github.com/processing/p5.js-web-editor/blob/master/client/utils/previewEntry.js#L8) that's in there to catch errors/console messages isn't working!

[2019-10-17 17:34] catarak commented on #1195
thanks for the suggestion! this project has had a lot of discussion about whether or not to add this feature, see #55 and #941. i'm open to hearing more pros and cons! a guiding principle of this project is keeping the editor simple and not adding a ton of features, so i'd like to add it only if it seems like it would add a lot to the experience.

[2019-10-17 17:40] catarak commented on #1196
when you're calling `loadImage()`, is the path to a file uploaded to the web editor, or is it hosted elsewhere? my instinct here is that it's a CORS issue that's throwing an error.

[2019-10-17 18:32] catarak commented on #1193
it seems like this is actually still an ES7 stage 3 proposal, so it hasn't been added to JSHint yet? see https://github.com/jshint/jshint/issues/3139. the way around this is to use a getter:

[code]

[2019-10-17 21:03] stalgiag commented on #1196
The path is to a file uploaded to the web editor. In [this example](https://editor.p5js.org/stalgiag/sketches/AEa__RUdZ) at least.

[2019-10-17 21:17] catarak commented on #1196
with some digging, i think it's related to #496... since `response.headers.get('content-type')` is null

[2019-10-17 21:53] stalgiag commented on #1196
Oops! I should've caught that. Thanks for making the connection!

I am happy closing this as a duplicate but maybe I should make a note in the other issue pointing out that the issue should be resolved before updating the editor link to the latest version of p5 since the GIF feature relies on a content-type check?

[2019-10-18 02:31] maxdevjs commented on #1192
In https://github.com/maxdevjs/p5.js-web-editor/commit/4220de6a780e9d9fad89d4963f467a7e5d2fe3f8 I address the violation for main `html` tag.

Can I open a PR? If so, it should be done from my master (after merging the fix branch), right?

[2019-10-18 02:34] maxdevjs commented on #1192
Also... The same violation is generated by the review iFrame, but at this point I am not sure how the iFrame `html` element could be fixed.

[2019-10-19 13:42] piecesofuk opened #1198 "PUT error 409 when trying to save a sketch after a previously added sketch file is deleted"
#### Nature of issue?

- Found a bug

#### Details about the bug:
After deleting a previously added sketch file a 409 error is logged on the PUT request when trying to save the sketch

- Web browser and version:
Chrome
- Operating System:
Chrome OS
- Steps to reproduce this bug:
Create a new sketch
Save it
Click the sidebar
Select Sketch Files/Add File
In the popup type in the file name and click

[2019-10-20 17:39] #1196 closed

[2019-10-20 17:44] stalgiag commented on #496
Hi wanted to repost a note from #1196 and say that the editor should not be updated to use [version 0.10.2](https://github.com/processing/p5.js/releases/tag/0.10.2) until this has been resolved.

@dhruvdutt are you still working on this? I can give it a try otherwise. I think that this deserves relatively high priority.

[2019-10-20 19:35] dhruvdutt commented on #496
@stalgiag I'm not working on this. You can go ahead and pick this up.

[2019-10-20 20:20] stalgiag commented on #496
Great thanks @dhruvdutt !

Anybody have any thoughts on where I might look first? Navigating the project for the first time. As of now my best guess is to add headers to `axios.post(...)` in this line in [uploader.js](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/actions/uploader.js#L49). It seems like this will only work with files added with dropzone, but I don't

[2019-10-21 03:15] plxity opened #1199 "In mobile display can't identify if button is disabled or not."
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: LInux
- Steps to reproduce this bug:

#### Feature enhancement details:
![Screenshot from 2019-10-21 08-37-55](https://user-images.githubusercontent.com/28510494/67174031-3476c900-f3de-11e9-98b1-460cbb3279d5.png)
In desktop when we hover on the button we can see

[2019-10-22 16:20] catarak commented on #1192
@maxdevjs yes, that is the right file to fix! i think you'll also need to update the 404 page (https://github.com/processing/p5.js-web-editor/blob/master/server/views/404Page.js). to change the iframe, you'll need to change:
https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/reducers/files.js#L13

lastly, there are a few scripts that automatically fetch sketches from git

[2019-10-22 16:56] catarak commented on #1198
thanks for reporting! i am able to reproduce. it seems like the error is at https://github.com/processing/p5.js-web-editor/blob/master/server/controllers/project.controller.js#L23, the code that is supposed to prevent users from saving an older version of a sketch over a newer one.

[2019-10-22 16:57] catarak commented on #1196
makes sense to me to get it fixed before updating the p5 version!

[2019-10-22 21:24] #496 closed

[2019-10-22 21:28] catarak commented on #1199
thanks for reporting! i agree that these two button states could be better differentiated.

[2019-10-23 02:34] plxity commented on #1199
@catarak i am working on this. Can you assign this to me?

[2019-10-24 00:48] kelvin147789 opened #1201 "Add format code shortcut"
It would be nice if the p5 editor have a shortcut for formatting code.

[2019-10-24 19:31] catarak commented on #1201
thanks for the request! this actually already exists under "Edit -> Tidy Code", and to the right of the text it has the keyboard shortcut, <kbd>Shift</kbd> + <kbd>Tab</kbd>.

[2019-10-24 19:31] #1201 closed

[2019-10-24 22:20] UselessSaint opened #1202 "I cant LogIn"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Win
- Steps to reproduce this bug:
   Im not really sure if this is a bug (maybe im just stupid), but i had an accout (UselessSaint) and i cant logIn or reset (mail is not even in spam). So i tryed to Register one more (UselessSaintv2) and i cant Verify it and also cant logIn (im

[2019-10-25 12:01] WHGZIM opened #1203 "Console doesn't print current variable content for Object types (bug in `console-feed`)"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:

Google Chrome | 77.0.3865.120 (Offizieller Build) (64-Bit) (cohort: Stable)

- Operating System:
Windows
- Steps to reproduce this bug:
Run the Programm and load ergebnisse.txt

copy:
Otto, 345
Klaus, 23454
Leonie, 234
to ergebnisse.txt file
Run: https://editor.p5js.org/ZIM/sketches/6NUFu7ELU
Load ergebn

[2019-10-31 13:12] Jkutkut opened #1204 "Coment Collapse bug"
- Found a bug

If i try to collapse this whole part of code:
/*for(let i = 0; i < setS.length; i++){//get pairs
    //pair
    let pairsWithMe = 0;
    let sector1 = 0;
      /*if(true){
        console.log("(" + setS[i].x + ", " + setS[i].y + ") and (" + setS[j].x + ", " + setS[j].y + ") -> l:" + pairs.length);
        console.log(setS[i].posVal + " ---- " + setS[j].posVal);
        //setS[i].sho

[2019-10-31 16:27] catarak commented on #1204
hey @jkutkut, i think you have a syntax error in your code. it seems like you're trying to comment code by writing
[code]
which doesn't work! you need to write
[code]

[2019-10-31 16:55] catarak commented on #1202
what happens when you try to reset your password?

[2019-10-31 16:58] catarak commented on #1203
thanks for reporting! what a strange bug. not sure what's going on here!

[2019-10-31 16:59] Jkutkut commented on #1204
It was just an example, my code has that /* and the problem remains

On Thu, Oct 31, 2019, 17:27 Cassie Tarakajian <notifications@github.com>
wrote:

[2019-10-31 17:01] catarak commented on #1204
okay, got it! i was just going off of the code that you posted. so, the error is that code like
[code]
isn't collapsing correctly? i will try to reproduce.

[2019-10-31 19:19] catarak opened #1205 "Can't load assets with URL that contains the file name"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:

I noticed that example [P_1_2_2_01](https://editor.p5js.org/generative-design/sketches/P_1_2_2_01) doesn't work in the web editor. It's not able to load the images, and makes a request to the following url: https://cdn.jsdelivr.net/gh/ge

[2019-10-31 21:26] catarak opened #1206 "Accessibility: title attributes sometimes aren't useful"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  N/A
- Operating System:  N/A
- Steps to reproduce this bug:

Title attributes are included across the application; however, according to the [accessibility guidelines](https://github.com/processing/p5.js-web-editor/blob/master/developer_docs/accessibility.md), these should only be used for `<ul>`  and `<

[2019-11-02 14:39] pringools opened #1208 "had problems creating the global function "createElement" -- BUG"
#### Details about the bug:

- Web browser and version: **Opera v63.0.3368.107**
- Operating System: **Windows 7**
- Steps to reproduce this bug: **I don't know them.**

This bug is REALLY weird. I don't know what i've done wrong, but whenever I run a sketch, this error shows up:

*"p5 had problems creating the global function "createElement", possibly because your code is already using that name

[2019-11-04 19:11] ffd8 opened #1209 "Editor - set noLoop() on window.blur() ?"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Referencing [this issue](https://github.com/processing/p5.js-website/issues/508) for consideration: whether sketches running in the p5.js editor should set themselves to `noLoop()`/`loop()` based on `window.blur()`/`window.focus()`.  It's a bigger issue for the p5.js references website – since there are cases

[2019-11-05 13:51] haschdl commented on #663
hello @terabyte128
I created a Python script for a similar task, however it doesn't take of everything - you still need to review the generated code. How is your tool implemented, and do you already have something to show?
What requires a lot of work in my case is when the PDE sketch used Classes (in tabs), or imports other Java packages.

Here is my gist with the script as it is now. https://gist

[2019-11-05 16:45] terabyte128 commented on #663
Hi @haschdl, I took the somewhat more complex route of actually parsing the Java code into a syntax tree and making visitor passes. Right now it also doesn’t handle those more complex cases but may be more easily extensible. We’ve used it in a course I taught last winter and it worked well for beginner programmers. See: https://github.com/terabyte128/pde2js

[2019-11-05 18:20] plxity commented on #1199
@catarak What colour should I keep when it is in a disabled state? (in mobile screen)

[2019-11-06 15:55] WHGZIM commented on #1203
I have the feeling that it is somehow related to the fact that javascript works asynchronously. While the print function is preparing the output the programm goes on and starts to sort the content of the array. At some point ,while the sorting process is still in progress,  the print function comes back and catches the data of array, which is now partly sorted.

[2019-11-07 18:19] #1206 closed

[2019-11-07 19:03] catarak commented on #1208
thanks for reporting! do you have the accessibility features turned on? you can check this by going to settings (the cog icon) -> accessibility settings, and make sure you uncheck all of the boxes.

[2019-11-07 19:31] catarak commented on #1209
Thanks for the feature suggestion! I think it would be cool to add this. The part that seems harder is how to make it obvious that this feature is on/what it looks like to override it.

[2019-11-07 19:39] catarak commented on #1203
I think you're right! I was trying to demonstrate to a student yesterday how Arrays work (vs primitive types in JS) and came across the same bug. [Here's an example sketch that demonstrates it](https://editor.p5js.org/cassie/sketches/jS4CZBuJS).

[2019-11-13 04:09] RasheedAZ commented on #90
I think this is a _necessary_ feature to have bearing in mind p5.js website's opening statement:

Hop you guys can assign it high priority or medium at least.

Thanks :)

[2019-11-13 06:04] pringools commented on #1208
Oh, yes, thank you! That fixed everything :)

[2019-11-14 12:48] krawc commented on #1203
A potentially similar issue was reported on main p5.js repo. The exact same code worked correctly on codepen.io and incorrectly in the p5 Editor.

processing/p5.js#4143

[2019-11-14 20:22] catarak commented on #90
I hear you! I think there are pros and cons. When I first started working on this project, it was hard to know what was important to add and what wasn't. There's a part of me that's like, yeah, it would be awesome to make choosing colors for your sketch easier! But also, there's other stuff to keep in mind:
- One thing that's cool about p5.js is that it introduces folks to thinking about stuff lik

[2019-11-14 20:22] #1208 closed

[2019-11-15 04:08] krawc commented on #1203
Print outputs are correct in the Chrome console (78.0.3904.87).

In case it helps narrow down the issue: wrapping the array value change in a 1ms timeOut gives correct outputs. [(https://editor.p5js.org/krawc/sketches/33Ek5ekF2)]

[2019-11-15 10:50] kazuhikoarase opened #1211 "The end of empty element is broken"
#### Nature of issue?

- Found a bug

#### Details about the bug:

At server/views/index.js line 15, the end of empty element is broken.

[code]
should be
[code]

- Web browser and version: Microsoft Edge (I see the error message at the developer console.)
- Operating System: Windows
- Steps to reproduce this bug: run the editor

[2019-11-20 19:48] catarak commented on #1211
thanks for reporting!

[2019-11-20 19:50] catarak commented on #1203
hehe "vile but correct". thanks for figuring that out, that's super helpful!

[2019-11-23 21:55] MyNameIsTrez opened #1212 "Deleted my index.html, and I'm not allowed to make .index files, so my project is in a broken state."
##### Nature of issue?
- Found a bug & New feature request

#### Details about the bug:
- Deleted my index.html, and I'm not allowed to make .index files, so my project is in a broken state.

- Web browser and version: On Chrome
- Operating System: Windows
- Steps to reproduce this bug:
1. Create a new project.
2. Delete the index.html.
3. When you try to re-add an index.html file, you get the err

[2019-11-24 19:23] slowizzm opened #1213 "409 Conflict PUT"
409 Conflict PUT - sketch not saving

- [x] Found a bug

#### Which platform were you using when you encountered this?
- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.9.0
Chrome 78 on Windows 10

Myself and students have been experiencing this quit a bit lately. Sketches will not save resulting in lost work. Looking in the console I see a 409 conflict error ...

![Capture](h

[2019-11-25 04:41] slowizzm commented on #1213
Sorry, I thought I was in the web editor repo when I created this issue but now that it has been transferred I see this issue has already been created at #1198

[2019-11-25 17:30] andrewn opened #1215 "Component styles"
#### Nature of issue?

- New feature request

#### New feature details:

Currently, CSS is written using SASS and stored together in [/client/styles/](https://github.com/processing/p5.js-web-editor/tree/master/client/styles).

This means re-use happens by re-using classes, which makes it hard to see exactly which component is using the styles and making changes error-prone. Styles are global and s

[2019-11-25 17:42] andrewn opened #1216 "Create a component library/style guide"
#### Nature of issue?

- New feature request

#### New feature details:

When developing features for the Editor, it can be challenging to figure out if the UI widget you need already exists in the project. If a component exists already, then copying it can cause subtle inconsistencies.

It'd be great to have a style guide in the projects that displays available components, and the different state

[2019-11-25 22:41] catarak commented on #1212
thanks for reporting! this is currently captured as #1070, so i'm going to close this issue as a duplicate of that one.

[2019-11-25 22:41] #1212 closed

[2019-11-25 22:43] catarak commented on #1070
#1212 is a duplicate issue.

[2019-11-25 22:50] catarak commented on #1213
thanks for reporting! i'm sorry it's causing your students to lose their work. can you think of more specific steps to reproduce? for example, if one of your students had the sketch open in multiple tabs, and was editing both of them, that would cause this issue.

[2019-11-26 07:41] kazuhikoarase opened #1217 "same name files in different folders doesn't work"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

I create three assets as follows.
[code]
https://editor.p5js.org/kazuhikoarase/sketches/dC8lEP02D

Then use loadStrings function and attempt to load them.
Without second assets 'assets/data.json', it works. But with it, causes error.
I saw

[2019-11-26 07:57] kazuhikoarase commented on #1217
Sorry, this is issue for p5.js.

[2019-11-26 08:56] kazuhikoarase opened #1218 "Text assets's content-type is always text/html"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Windows
- Steps to reproduce this bug:

I found getFileContent function at /p5.js-web-editor/server/controllers/file.controller.js
But there are nothing considered about content-type and rely on default behavior.

Express official document says

https://expressjs.com/en/api.html#

[2019-11-26 12:46] trych opened #1219 "Can't upload files with .tsv extension"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Most recent Chrome and Firefox
- Operating System: macOS 10.13.6, but also on other macOS and Windows versions
- Steps to reproduce this bug:

Open the "Add File dialog" and drag a `.tsv` file in the dedictated drop field.
Then there is this uploading icon appearing that never disappears.

![20191126-1344

[2019-11-26 13:21] trych opened #1220 "Loading bar does not disappear after uploading file."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Current Chrome and Firefox
- Operating System: current macOS
- Steps to reproduce this bug:

After successfully uploading a file (and having it appear in the sidebar), the loading bar of this upload stays in place instead of disappearing. So I see this and have no feedback, if the upload was successful or

[2019-11-26 15:36] slowizzm commented on #1213
@catarak Yes, this seems to be the cause of the error, thank you. Sorry I did not provide steps to reproduce, I never would have thought there was a safety net to prevent overwriting older version of sketch and I could not see a viable path to reproduce.

I do wonder if there is a way this could be toggled on/off in the settings or if there could be an option to open multiple windows to view html,

[2019-11-26 17:24] EthanHermsey commented on #1195
Hey, sorry for the delay in my answer.

I was thinking that more experienced programmers would be more attracted to keep using the editor.
I use it often to just prototype an idea or test something. It does really work well, with the filesystem, autosave, direct preview of your code, and the code beautifier (which a pretty big feature where i could compare the autocomplete to). But noone really li

[2019-11-30 20:11] Versatilus opened #1221 "Unable to login without resetting password."
- Found a bug

#### Details about the bug:
I use a simple Python program to generate passwords. The passwords were originally 48 characters long and could contain any printable ASCII character. I was successfully able to sign up with one of these passwords. However, when I log out and try to log back in the password is not accepted. When that failed the first time I restricted the list of possible

[2019-12-01 03:20] ani4aniket commented on #1199
![Screen Recording 2019-12-01 at 8 38 03 AM](https://user-images.githubusercontent.com/31184591/69908827-f2966500-1416-11ea-932c-e9e8cfea1b5b.gif)
@catarak and @plxity This is issue is not resolved for a quite long, so I tried to resolve this.
Please review this @catarak and thanks @plxity for point this.

[2019-12-01 03:56] cheriesdavidson commented on #790
I've just experienced this issue or something very similar. I've been working on a project on and off for a few weeks, and today it's reverted back about a week (the open project window has the last change dated from 5 days ago and it appears nothing has saved after that point).
I have autosave on, auto-refresh off and often hit ctrl-S out of habit. I work with multiple sketch files and all have r

[2019-12-03 17:50] jpgualdarrama opened #1223 "Keep cursor position when tidying code"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
The tidying code feature resets the cursor back to the beginning of the file that was tidied. For long files, this can be irksome, because you then have to scroll back to your position. It would be helpful to keep the cursor position from before the tidying.

[2019-12-04 06:00] violetcraze opened #1224 "Flashing / Epilepsy Warning Feature"
#### Nature of issue?

- New feature request

#### New feature details:

Been looking into making the coding train website more accessible and I'd like to add a flashing content warning to community contributions. The majority of links contributed are through the web editor. I think it would be significantly easier to add some automated testing to the web editor.

Here's what I'm thinking the feat

[2019-12-04 18:06] hellonearthis commented on #1224
That would take a lot of processing power,  just look at how long codepen takes to generate a screenshot.
The programmers need to be made more aware of the problem and have an alert.
A general warning on the site helps because generative art often involves flashing screens.

[2019-12-05 03:54] violetcraze commented on #1224
@hellonearthis Thanks for the input! I think a universal warning maybe good but my concern in doing that is it discourages an entire group of people from using the site. It would definitely be the easiest solution, however I think it's worth investing time in developing ways that those who have trouble with flashing content could participate safely.

I understand the concern around processing powe

[2019-12-05 19:48] catarak commented on #1216
## Storybook
### Pros
- Most widely used option
- addon support
### Cons
- Learning curve

[2019-12-05 19:56] catarak commented on #1217
Thanks for reporting! This is possibly related to #1205. I noticed that if you comment out the first line too, it still doesn't work.

[2019-12-05 20:03] catarak commented on #1218
Thanks for reporting! This is definitely a bug, related to #496 but fixing this in a different place.

[2019-12-05 20:06] catarak commented on #1219
thanks for reporting! i think the culprit is [the following array](https://github.com/processing/p5.js-web-editor/blob/master/server/utils/fileUtils.js#L3) which whitelists file extensions that you can upload to the web editor. i think you can manually create a `.tsv` file, but it seems like a quick fix to be able to upload one.

[2019-12-05 20:15] #1219 closed

[2019-12-05 20:18] catarak commented on #1220
thanks for making this issue! i believe this only happens for certain file types, which are plaintext files (.js, .css, .txt, .csv, etc) that are uploaded directly to the web editor rather than to aws.

[2019-12-05 20:23] catarak commented on #1213
that makes sense! maybe this could be solved by allowing users to open multiple files in the web editor.

[2019-12-05 20:27] catarak commented on #1195
I hear you! Part of me feels like it's the kind of thing that newer programmers should "practice" keeping track of opening and closing braces/brackets, but since basically every text editor out there autocompletes them by default, maybe it doesn't make any sense. I'm also compelled by how many times this issue has been submitted.

[2019-12-05 20:39] catarak commented on #1221
Thanks for reporting! I just tried registering with that exact password, then logging out, and then logging back in again, and I was able to get it to work. Maybe there's something else going on?

[2019-12-05 20:51] catarak commented on #1199
just looked at your PR, @ani4aniket! styles should be added in `client/styles/*.scss`, rather than directly in the react components.

[2019-12-05 20:55] catarak commented on #790
i'm sorry this happened @cheriesdavidson! did you possibly have the sketch open in multiple tabs?

[2019-12-05 21:16] slowizzm commented on #1213
@catarak

That would be wonderful. I was going to suggest this, something similar to code pen, but held off because I didn’t know if that countered the idea of keeping the web editor as simple as possible.

I find it easier for students to understand the concepts by having multiple windows open so they can see how different parts of the code relate to each other (without cluttering one file), espe

[2019-12-05 21:18] catarak commented on #1223
thanks for the suggestion! i think this feature is a little hard to add because the number of characters/lines might change, and therefore putting the cursor in the "same" position might actually be a different position. i was trying to find example code for why implemented this with `beautify-js` in the first place, and i couldn't find anything, so maybe code tidy in general could use a revisit?

[2019-12-05 21:22] catarak commented on #1213
I agree that CodePen's default with all of the panes is kind of overwhelming, but maybe having the ability to have **two** files open side by side is useful enough, especially in a classroom setting. It's been on my list to add a view that's _just_ code full-width, so maybe this idea could be incorporated into that design!

[2019-12-05 21:40] catarak commented on #1224
Thanks for the suggestion, @violetcraze! This is a great idea. I think a great place to start is how to actually detect sketches that need this on the canvas/iframe? That could be tested separately from the web editor, and could be an awesome library that exists outside of the context of p5.js or the p5.js web editor. Then, we could figure out how to work that code into the web editor.

[2019-12-05 22:00] slowizzm commented on #1213
@catarak

Sorry I wasn’t clear, I think the panes are great and that is what I would like incorporated into the p5 editor. Especially the ability to resize/fold/unfold them when needed.

It is all the extra bells and whistles beyond the editor view that I find can be too overwhelming for my students.

[2019-12-05 22:03] catarak commented on #1213
got it! well, fell free to post designs/images/videos/etc of stuff you like or your own ideas,

[2019-12-05 22:12] Versatilus commented on #1221
This is something very weird. I just tried a generic short password with only lowercase letters and I'm still having the same problem. Is my username `Eric_Lewis_Paulson` causing problems? I've tried logging in with both the username and with my e-mail address, all without success.

I also tried logging in with a recent version of Firefox and I still can't log back in without resetting the passwor

[2019-12-05 22:14] slowizzm commented on #1213
@catarak

Sounds good. Is there an issue already open for this?

Thanks

[2019-12-06 09:53] trych commented on #1219
@catarak Thanks for fixing this! :)

[2019-12-06 21:00] catarak commented on #1213
there is not! #208 is related to having different views but not the same thing.

[2019-12-06 21:05] catarak commented on #1221
Hmm. This issue has been reported in the past and I've had a hard time pinning down what the exactly cause is. I'll investigate!

[2019-12-06 21:18] #1202 closed

[2019-12-09 22:28] violetcraze commented on #1224
@catarak Thanks for the advice. Have started experimenting and it looks like it maybe possible but won't be easy so I'll look into it more over my holiday break. For now I'll close this issue as I think you're right it would be better tackled as a separate project and then possibly added to the web editor.

[2019-12-09 22:28] #1224 closed

[2019-12-10 22:03] catarak commented on #1216
Also found this [Front-end documentation post](https://css-tricks.com/front-end-documentation-style-guides-and-the-rise-of-mdx/). Reading through this, I'm leaning towards React Styleguidist or Docx!

[2019-12-10 22:17] catarak commented on #1215
I have used styled-components with Cycling '74 work and I do like it. I'm not sure the learning curve is any bigger than BEM + SCSS. For me the choice styled vs. emotion!

[2019-12-11 10:42] andrewn commented on #1216
What kind of "cutting edge" JavaScript do you mean? I've only used the same ES6/JSX when writing storybook stories.

[2019-12-11 10:45] andrewn commented on #1216
I think a good next step would be to pick a fairly simple component that changes with different props (e.g. button) and try out our top-3 tools to see how it they work. It sounds like: Storybook, docz and React Styleguidist?

[2019-12-11 11:35] andrewn commented on #1215
# Comparing Styled Components and emotion

They both have a similar API sub-set so there's not much difference between the two...

- maintaibility: both projects seem to be well-maintained and actively developed;
- ease of use: I think both have a very similar API and make it easy to attach locally-scoped styles to components;
- learning curve for new users: once set-up in the project, I think pic

[2019-12-11 19:41] catarak commented on #1142
I think it makes sense to close this since this is merged into the `feature/public-api` branch!

[2019-12-11 22:32] #1204 closed

[2019-12-11 22:38] catarak commented on #387
For URLs that are properly CORS enabled, it would be cool to not have to upload the file to the web editor s3 bucket! #1153 documents this.

[2019-12-11 22:39] #1158 closed

[2019-12-11 22:50] #27 closed

[2019-12-11 22:50] catarak commented on #27
just tested the editor on Edge and this isn't happening anymore ✨

[2019-12-11 23:04] catarak commented on #400
just pasted this code into the web editor and it seems like this bug is no longer happening ✨

[2019-12-11 23:04] #400 closed

[2019-12-11 23:07] catarak commented on #414
closing this issue since it's old and i'm no longer able to reproduce.

[2019-12-11 23:07] #414 closed

[2019-12-12 19:24] catarak commented on #1195
I'm going to close this as a duplicate of #941, but this discussion is still very much alive!

[2019-12-12 19:24] #1195 closed

[2019-12-12 20:19] catarak commented on #416
i'm in the process of doing some project management and organization, and trying to close out stale tickets. after many discussions about using the web editor in classrooms, we're ultimately decided that it doesn't make sense to create a LMS within the web editor. instead, the web editor can supplement existing LMS systems! i appreciate all of the thought, prototypes, and discussions around making

[2019-12-12 20:19] #416 closed

[2019-12-12 20:31] #459 closed

[2019-12-12 20:52] catarak commented on #734
in my opinion, the amount of effort it would take to work on this issue exceeds its benefit, and therefore i think it makes sense to close this issue. feel free to reopen if you think otherwise!!

[2019-12-12 20:52] #734 closed

[2019-12-12 20:57] catarak commented on #870
as a point of reference, this is handled on CodePen projects by making everything read-only, and communicating that with toasts:
![Screen Shot 2019-12-12 at 3 55 00 PM](https://user-images.githubusercontent.com/6063380/70748397-f3bd7100-1cf7-11ea-8bc1-ea41ebf1ded1.png)

[2019-12-12 21:03] #462 closed

[2019-12-12 21:03] catarak commented on #462
i can't reproduce this, and as it is stale i'm closing it.

[2019-12-12 22:03] #798 closed

[2019-12-12 22:04] #811 closed

[2019-12-13 11:46] andrewn commented on #1215
Building on top of either emotion/styled-components, [Styled System](https://styled-system.com/) is an interesting approach for creating themable components. It might have too much of a learning curve for this project though as we want to make getting into the codebase as simple as possible.

[2019-12-13 16:53] slowizzm commented on #734
@catarak That makes sense. I would like to say that I have students every semester frustrated with this because they often need to re-edit their assets and when some of those assets are image sequences this can be a tedious process. One solution for this is for me to just have them work in vs code, but then that takes them out of the p5 environment and I love using this editor as a teaching tool f

[2019-12-13 17:08] catarak commented on #734
got it! maybe the solution here is not being able to edit assets, but for the flow for uploading/renaming/deleting assets to be easier.

[2019-12-13 17:43] slowizzm commented on #734
@catarak Yes, that sounds like a plausible solution. Sounds like this may be relative to being the able to the re-order files issue, not sure what issue that is but I have seen it.

[2019-12-14 19:33] bmoren commented on #870
I'd love to see this implemented (I might have time to work on it during next semester). During this semester, I've again had students get stuck here frustrated they couldn't upload files only to realize that they'd not duplicated the sketch yet. So I still feel like its something that would improve the overall experience!

[2019-12-17 22:16] JustineDollez opened #1226 "camera mac"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-12-18 00:02] catarak commented on #1226
hi! could you add more details to this issue? from what you've added i can't tell what issue you're having.

[2019-12-18 00:16] #937 closed

[2019-12-18 05:27] SGeetansh commented on #1056
Hi, is anyone already working on this issue? I'd like to give it a shot, if not.

[2019-12-22 17:22] plxity opened #1227 "After adding a new file modal should close"
#### Nature of issue?

When a user adds a new file the modal does not close automatically. It should close immediately as a user clicks on add file button.

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Linux
- Steps to reproduce this bug:

[2019-12-26 14:27] neilchauhan2 commented on #1227
Hi, can I try this one? I would like to solve this issue.

[2020-01-04 20:52] tanhengyeow commented on #972
Hi @catarak !

It seems like this issue hasn't been worked on for some time. Can I work on it? 😄

[2020-01-05 04:12] amitch6097 opened #1231 "P5 Console is cleared on pause"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Steps to reproduce this bug:

1. Open Editor
2. Add console.log(this) to the draw function
3. Hit play and let the console spew out window objects
4. Hit pause and the console will be cleared

The output in the p5 console should persist until play button is pressed again so that a user can inspect what was printed during the last

[2020-01-05 09:26] tanhengyeow commented on #1199
@ani4aniket Are you still working on this? If not I'm interested to take this up 😄

[2020-01-06 02:38] its-nothing-special commented on #673
Hello , Is there ay one working on this, I would like to givr it a try......I am new to the open source So please guide me through the process?

[2020-01-06 18:13] RickBr0wn commented on #1227
You're right, I have just replicated this locally. I'll work on this, if that is ok?

[2020-01-06 18:37] RickBr0wn commented on #1227
Looking in 'client/modules/IDE/actions/files.js', line numbers 69-71 and 91-93 have been commented out. Uncommenting them achieves the automatic closing of the modal after the file name has been entered (with no errors).

I assume they have been commented out due to the fact they conflict with something else. Any suggestions to this, or should I PR the uncommenting?

[2020-01-08 16:44] catarak commented on #1056
@SGeetansh go ahead and work on this!

[2020-01-08 17:34] #914 closed

[2020-01-09 16:14] everythingability opened #1234 "Serious caching error with p5 Editor"
I can be working on a sketch, and open the Present or Full view and it doesn't reflect the changes I've made.

I clear cache and reload... same thing...

THEN I open a new Chrome window and open the sketch and it's a PREVIOUS version of the sketch...  Often if I save at that point I've then lost my work to an earlier version.

This has happened more than once...  don't know if it's the browser or

[2020-01-09 18:25] catarak commented on #972
@tanhengyeow absolutely!

[2020-01-09 18:31] catarak commented on #1231
thanks for reporting! i have noticed this and yes, this is annoying and should be fixed.

[2020-01-09 18:37] #1231 closed

[2020-01-09 19:00] catarak commented on #673
hi @its-nothing-special! i know i had put the "good first issue" label on this issue but looking at it now i don't think it's a good place to start.

[2020-01-09 19:13] catarak commented on #1227
This modal used to close after adding a new file, but it's annoying if you're trying to upload a few files at the same.

Ultimately, I think the solution is separating the "new file" modal to just create a new text file in the editor, and creating a new "upload file" modal (or really, when you just drag files into the editor, see #375).

[2020-01-09 19:14] catarak commented on #1234
Thanks for reporting! I have noticed this but I'm unsure how to fix it. Open to all ideas and suggestions!

[2020-01-09 19:38] everythingability commented on #1234
I have tried adding ?a=123 to the end of a URL but that only works once I've gone to the source and clicked the URLs in that (and appended a bit different)...

The REAL PROBLEM is when you return to an old tab, reload, edit and save.... argh!

[2020-01-09 19:39] catarak commented on #1234
If you do a hard refresh (shift + command/control + r), it should clear the cache! Not the best solution, but it's something.

[2020-01-09 20:10] everythingability commented on #1234
That doesn't work. Trust me.

[2020-01-10 03:41] MichaelPaulukonis commented on #145
If you run the sketch in full - https://editor.p5js.org/full/rJ9PtlA0 - clicking on the link will instead provide:

`{"message":"Asset does not exist"}`

As it attempts to navigate to `https://editor.p5js.org/full/rJ9PtlA0/#`

I have found the same behavior when attempting to navigate to anchor links in other sketches.

[Example here](https://editor.p5js.org/MichaelPaulukonis/sketches/XJS1uWHZw) w

[2020-01-10 08:13] its-nothing-special commented on #673
thanks @catarak , is there any other issue that i should start working on

[2020-01-11 06:32] zoyron commented on #1211
If the issue is still open and it is assigned to no one, I'd like to work on this.
Thank you.

[2020-01-12 10:32] ani4aniket commented on #1211
@zoyron I have already created a PR fixing this.

[2020-01-13 01:16] MichaelPaulukonis commented on #145
NOTE: Apparently, pre-pending `about:srcdoc` to the anchor links allows them to work.

So, instead of `<a href="#foo">in-page link</a>` you would have `<a href="about:srcdoc#foo">in-page link</a>`

[Example here](https://editor.p5js.org/MichaelPaulukonis/sketches/2qgicri_f) that works

Solution found on [stackoverflow](https://stackoverflow.com/a/59004815/41153)

[2020-01-13 16:51] ashu8912 opened #1235 ""Add New Folder Modal Or Any Other Modal" Should have a X Button At Top Right"
- Found a bug
- New feature request

#### Details about the bug:

- Web browser and version: Google Chrome | 79.0.3945.88 (Official Build) (64-bit)

- Operating System: MacOS Mojave(Version 10.14.6)
- Steps to reproduce this bug:
1.Select Sketch Files On The SideBar
2.Click Add Folder
3.The Opened Modal is Uncancellable and forces to create a new folder
A Simple Close Button (X) At The Top That Cl

[2020-01-13 17:19] ashu8912 commented on #1235
Ok So Its not visible on local will have to look on this

[2020-01-13 17:23] catarak commented on #1234
got it. then I guess it's caching from the CDN. i guess possible solutions are:
- generate a unique link to the preview
- generate unique links to the included files (js, css, etc).
- ??? other methods to clear the cache

[2020-01-13 17:29] catarak commented on #673
i'm in the process of doing some ticket organization—will get back to you! for now free free to look at other tickets labeled "good first issue" or look at the (all projects)[https://github.com/processing/p5.js-web-editor/projects/4] board to look for a specific focus area you're interested in working on.

[2020-01-13 17:38] catarak commented on #145
oh, that's so awesome! the web editor could process all links that begin with a `#` and prepend them with `about:srcdoc`

[2020-01-13 17:57] catarak commented on #1235
i'm not sure why the icon isn't appearing for you—maybe there's a different error that's causing the icon not to appear?

[2020-01-13 19:26] ashu8912 opened #1236 "PropType Validation Fails On Local Development Mode"
- Found a bug

- Web browser and version:79.0.3945.88 (Official Build) (64-bit)
- Operating System: MacOS mojave version 10.14.6
- Steps to reproduce this bug:
On running npm start to start the dev server it fails because of props validation error
Here is the props validation error
<img width="1114" alt="Screenshot 2020-01-14 at 12 31 22 AM" src="https://user-images.githubusercontent.com/30126128/

[2020-01-13 21:08] catarak commented on #1236
thanks for reporting! I think this will be fixed when #1164 is merged.

[2020-01-14 02:44] MichaelPaulukonis commented on #145
Sounds like that would work.

NOTE: it would have to be a prepend-on-render, or the links will not work when the sketch is downloaded, as the document is no longer `about:srcdoc`

[2020-01-14 03:16] ashu8912 commented on #1235
Ok So After removing node_modules and reinstalling them makes it work.
Closing this issue as it was my local development setup issue

[2020-01-14 03:16] #1235 closed

[2020-01-14 03:55] ashu8912 commented on #1234
Ok So This Problem is there only till the user has not saved the sketch and has moved to a new tab one possible soultion could also be to store the current sketch that is in editing mode in localStorage that could preserve the sketch code between tab switchs
This would also take a very less amount of local storage space as we would be storing only the current sketch details in there.

[2020-01-14 03:58] ashu8912 commented on #1234
Here we want to persist the cache inorder to make it more user friendly even when switching tabs.

[2020-01-14 12:01] ashu8912 commented on #375
Yes The Asset Loading Can Take A Green Color Something that depicts the completion.
I am not a designer but the gray color is very confusing.

[2020-01-14 12:03] ashu8912 commented on #1223
@catarak I can Work On This Feature if its not already taken.

[2020-01-14 12:26] ashu8912 commented on #1220
#375 https://github.com/processing/p5.js-web-editor/issues/375#issuecomment-574141713

[2020-01-14 12:33] ashu8912 commented on #1205
Working on it

[2020-01-15 10:36] andrewn commented on #1216
I've been setting up a component library on another project so had the opportunity to try out Docz and Storybook. Here are my thoughts.

## Docz

I find that the Docz approach of writing MDX is less constrained, so better for a large style guide where there may be a lot of textual documentation for each component. For example:
- what is this component
- when should you use it
- when should you not

[2020-01-15 14:55] simranaggarwal1999 commented on #1236
Hey! The error is still appearing and the webpage is not opening in the local server mode. When would the error get rectified?

[2020-01-15 15:05] ashu8912 commented on #1223
#1240 raised a pr that fixes this

[2020-01-15 15:22] siddhant1 commented on #1234
I think the solution will be something like
1. Cache the sketch strings in the user's browser.
2. Enable some form of cache invalidation strategy.

I would say a serviceWorker can do this job, cache the current files   and invalidate the cache as we save the files

[2020-01-15 15:42] ashu8912 commented on #1234
Ok So The Browser is caching things will see what all is caching things

[2020-01-15 15:52] ashu8912 commented on #1234
There are 2 problems here
1.The Code is not cached when in editing mode thus opening the unsaved code in new tab and than
opening the code in new tab doesn't depict the recent changes this is because our editing in  the code editor is not cached.
2.The Second Issue is browser caching.For Our Preview Similar urls are generated but each url even
Though its the same doesn't depict the recent made cha

[2020-01-17 12:49] ashu8912 opened #1241 "Add lint-staged, husky, and pre-commit hooks"
#### Nature of issue?

- New feature request

#### Feature enhancement details:
Add husky and lint-staged to run linting before each commit is made

[2020-01-17 12:59] ashu8912 commented on #1177
Yes The One Second Reload Looks good this issue is fixed and can be closed now.
@catarak

[2020-01-17 13:12] ashu8912 opened #1242 "Add A .prettierrc file"
- New feature request

#### Feature enhancement details:
Adding A Global .prettierrc file brings every contributor to follow the same formatting rule.

[2020-01-18 06:32] simranaggarwal1999 commented on #1242
Hey! @ashu8912  Can I work upon this issue?

[2020-01-18 06:37] simranaggarwal1999 commented on #1241
Hey! @ashu8912 Can I work upon this issue?

[2020-01-18 07:19] simranaggarwal1999 opened #1243 "Remove "Find Next" and "Find Previous" from Nav dropdown"
Nature of issue?
- 👍 Found a bug
- 👍 Existing feature enhancement
- New feature request

Details about the bug:
- Web browser and version: FireFox
- Operating System:  Windows

- Steps to reproduce this bug:
1. Click Edit in navbar
2. Click Find Next.
3. Click anywhere on the dialog box that pops up other than the text box.
4. The dialog box closes.

Feature enhancement details:
I feel the dialog

[2020-01-18 08:14] simranaggarwal1999 commented on #1156
@catarak Hello ! I would like to contribute to the web editor. Can I contribute to this issue an could you guide me in doing so?

[2020-01-18 08:25] simranaggarwal1999 commented on #1056
Hey! I s this issue still open? Can I work upon this issue? @catarak

[2020-01-18 08:29] simranaggarwal1999 commented on #1056
@catarak Kindly assign me an issue. Thanks!

[2020-01-19 03:59] ashu8912 commented on #1243
@simranaggarwal1999 Yes The Find-Next Modal  Should Close Only when The close button is clicked.will have to ask @catarak whether she wants this change,if yes will send a pr that fixes this.

[2020-01-19 08:37] simranaggarwal1999 commented on #681
@catarak I would like to contribute to this. May I?

[2020-01-19 10:16] simranaggarwal1999 commented on #681
Hey! I had a look at it. When we are making the changes to the File name and pressing enter the the changes are not getting autosaved. When the Save button is pressed then the file name is getting saved. I guess it is working fine.

[2020-01-20 06:35] SGeetansh commented on #1056
@simranaggarwal1999 I started working on somethng else meanwhile. You go ahead if you want to. Best of luck!

[2020-01-20 11:16] ashu8912 commented on #1094
For Now We can add the feature of making sketch private.@catarak i can work on this one

[2020-01-20 14:47] ashu8912 commented on #1218
Hey @catarak can you guide me where to start to fix this one.

[2020-01-20 14:48] ashu8912 commented on #1216
@andrewn @catarak would love to work on this one can you guide where to start.

[2020-01-20 14:50] ashu8912 commented on #1211
Hey @ani4aniket please mention your pr here so that others can get that there is already a pr regarding this.

[2020-01-20 18:56] ashu8912 commented on #1236
You can try using docker till then @simranaggarwal1999

[2020-01-20 18:56] ashu8912 commented on #1188
@catarak is this fixed?

[2020-01-20 18:58] ashu8912 commented on #1004
@catarak still waiting for designs?

[2020-01-20 18:59] ashu8912 commented on #994
@catarak any progresses on this one?

[2020-01-20 20:32] plxity commented on #1188
@ashu8912 Yes, This is fixed.

[2020-01-21 19:04] ashu8912 commented on #1203
The Problem here is array is a reference type object so when we are doing console.log(arr) it is actually showing content from the prototype of that array i dont know why this is happening like this can be a problem with how arrays or console.log are looked in the by web editor compiler.

this sketch code can help you understand the problem better
https://editor.p5js.org/ashughildiyal5/sketches/uk

[2020-01-21 19:25] ashu8912 opened #1245 "Network Request for p5.js for each compilation"
- Found a bug
if we compile our code in the web editor for each compilation the p5 libraries are re-requested which is an unideal behaviour generally once these lib files are downloaded they shouldn't be fetched again for each compilation.

- Steps to reproduce this bug:
1. Take any sketch and then open the network tab.
2. Now press the play button to compile the code.
3. For each compile, the p5.

[2020-01-21 19:25] ashu8912 commented on #1245
@catarak @andrewn

[2020-01-24 00:50] amitch6097 opened #1246 "Find Modal does not select input text on second Command + F"
#### Nature of issue?
- Found a bug

#### Details about the bug:
Open find modal through hotkey, Command + F on mac.  Type something into the find input box.  Close the find modal with the X button. Again Open the modal with the hotkey Command F.  Notice how whatever you typed previously is highlighted / selected, so that you can easily start typing and have it replace the text that was there.  No

[2020-01-25 05:38] ashu8912 commented on #1227
Yes We can add a upload files option on sidebar and use the drag and drop feature to upload multiple files there on that modal and for adding a new file we can use that modal which closes once file is added.@catarak please share your views on this one.

[2020-01-26 11:30] ashu8912 commented on #1070
This issue is still not fixed,@catarak what are your thoughts on this one, like should we drop the delete option from the index.html file this will require providing a special prop to the sidebar that will help in removing that delete option.

[2020-01-26 11:47] ashu8912 opened #1248 "Add Auto Complete Feature to sketch code"
- New feature request

#### Feature enhancement details:
Adding Auto Complete Feature To The Sketch Code Will Be Very Nice And Will also help newbies as well as professionals to write fast code.

[2020-01-27 08:38] ashu8912 commented on #1205
@catarak couldn't figure out how this URL generation is occurring can you guide me a little here.

[2020-01-28 17:46] catarak commented on #145
Yes! There's some code in the web editor that doesn't get injected when a sketch is downloaded, which is
* infinite loop protection
* window console messaging
So this code could be injected there!

[2020-01-28 20:21] catarak commented on #1234
This issue is focused on the browser caching issue. I'm going to open a new issue about updating the sketch in a different tab!

[2020-01-28 20:39] catarak opened #1249 "When sketch is open in multiple tabs, versions can be out of sync"
#### Nature of issue?

- New feature request

#### New feature details:

If you have a sketch open in multiple tabs, whether it be the edit or the full screen views, if you edit the code in the edit view, the sketch does not update in the other tabs.

As discussed in [#1234 comment](https://github.com/processing/p5.js-web-editor/issues/1234#issuecomment-573988093), this could be handled in a varie

[2020-01-28 20:39] #1177 closed

[2020-01-28 20:40] catarak commented on #1242
duplicate of #861

[2020-01-28 20:40] #1242 closed

[2020-01-28 20:49] catarak commented on #1243
Find next should maybe just open the find dialog? The overall find UX is a little off and should be adjusted to work like other text editors (i.e. VSCode).

Related to #942.

[2020-01-28 20:55] catarak commented on #1218
You'll need to edit the function [getFileContent](https://github.com/processing/p5.js-web-editor/blob/master/server/controllers/file.controller.js#L111) to change the MIME type based on the file extension.

[2020-01-28 20:59] #1188 closed

[2020-01-28 21:09] catarak commented on #1245
duplicate of #463

[2020-01-28 21:09] #1245 closed

[2020-01-28 21:32] plxity commented on #1249
@catarak  How can we use local storage in this? :thinking:

WebSockets is a good idea to implement this feature.

[2020-01-28 21:42] #1246 closed

[2020-01-28 22:06] #1211 closed

[2020-01-28 22:30] #1192 closed

[2020-01-29 07:11] ashu8912 commented on #1218
ok sending in a pr soon

[2020-01-29 09:31] ashu8912 commented on #463
Sending in a pr that fixes this

[2020-01-29 14:21] simranaggarwal1999 commented on #1243
@catarak I feel Find Next dialog box should find and select the next occurrence of the text specified in the Find dialog box and Find Previous dialog box should find and select the previous occurrence of the text specified in the Find dialog box. Kindly guide me to solve this issue.

[2020-01-30 14:29] everygamer commented on #785
Just curious, but is this type of security vulnerability checking being done on a regular basis? I work in the IT department at a college that is thinking of using this with a CS program, but need to determine if it should be running on our infrastructure and/or cloud host it so that it is not mixed in with our other school systems.

[2020-01-31 23:02] ashu8912 commented on #1243
This is a issue with codemirror the find Next and find Prev both doesn't show the desired behaviour or a behaviour that is not similar to what we expect with editors like vscode when we press these combinations.
I have raised a issue regarding this on the codeMirror repo lets see if they add this feature.
https://github.com/codemirror/CodeMirror/issues/6130

[2020-02-01 13:07] ashu8912 commented on #1243
So The CodeMirror editor  doesn't currently supports the behaviour we are thinking of achieving here.

[2020-02-01 13:07] ashu8912 commented on #1243
@catarak what should we do now with the design should we let it the same for now.

[2020-02-01 17:31] ashu8912 commented on #941
Hey @catarak any updates on this one i have local changes that adds this autoComplete bracket and string will push them if required.

[2020-02-01 17:35] ashu8912 commented on #609
Hey @catarak  is this done

[2020-02-01 17:49] ashu8912 commented on #948
Hey @catarak whats your take on this issue now should we add this feature?

[2020-02-01 17:58] ashu8912 commented on #442
Hey @catarak  i think this issue is resolved now

[2020-02-01 17:59] ashu8912 commented on #1205
@catarak any updates on this

[2020-02-01 18:01] ashu8912 commented on #1203
This is a problem with the library "console-feed" even codesandbox and other users of this library has this problems.

[2020-02-01 18:02] ashu8912 commented on #1203
@catarak  I think this issue can be closed for now or if somebody can suggest a better logging library(that doesn't has this problem) would solve this

[2020-02-01 18:07] ashu8912 commented on #1249
I think serviceWorker is the more preferred way.

[2020-02-01 18:19] ashu8912 commented on #463
Read how the PreviewFrame is working and got to a conclusion
1.It uses an iframe to show the preview
2.That iframe is in itself like a mini browser where we add the html and all references to the script
3.Now The Thing is each time the play button is clicked that template for html is recreated and that is the reason why each time a new request is sent for the p5.js libraries.

Couldn't figure it o

[2020-02-01 18:26] ashu8912 commented on #1056
@catarak can you guide a little please on how to start working on this issue

[2020-02-01 18:28] ashu8912 commented on #1055
This is no error with web editor its an error in the "console-feed" library tha we are using ,
even codesandbox that is using the same library has this issue.

[2020-02-01 18:30] ashu8912 commented on #1014
Hey @catarak i think @plxity  is right here we can remove the find prev and find next thing for now and can show the find modal button for all button shortcuts,
Its because this is a problem with codemirror itself and we can't override that behaviour

[2020-02-01 18:31] ashu8912 commented on #1003
Yes @catarak modals are related to the ui state and all ui related state should live in the component itself and not in redux store.

[2020-02-01 18:31] ashu8912 commented on #1003
Will send a pr if you want to make these changes

[2020-02-01 18:32] ashu8912 commented on #1014
If you want i can send in a pr that removes those options or would love to make any other change that you recommend

[2020-02-03 23:01] catarak commented on #785
It is being checked on a regular basis!

[2020-02-04 15:54] #1226 closed

[2020-02-04 16:29] #688 closed

[2020-02-04 22:14] catarak commented on #1088
just tested this again, and it seems like this is no longer happening. closing!

[2020-02-04 22:14] #1088 closed

[2020-02-04 22:22] #888 closed

[2020-02-04 22:56] catarak commented on #521
There's an in-depth conversation about some of the struggles of using async-await with Express: https://github.com/processing/p5.js-web-editor/pull/973

**TL;DR** It makes sense to include an async middleware like `express-async-handler`, or update to a different Node framework, like Fastify or Koa.

[2020-02-08 10:42] ashu8912 commented on #1248
I have produced a sample codesandbox that simulates the above behaviour with custom hints
the stylings are a little of in that but i have focused more on how part will fix styling and all if this feature is required
Here is the codesandbox
https://codesandbox.io/s/reverent-minsky-kih4r

[2020-02-09 17:33] iainnash commented on #1249
Would using something like https://github.com/AOHUA/redux-state-sync make sense?

[2020-02-10 03:54] sorcerix commented on #1218
Is anyone working on this?

[2020-02-12 17:41] catarak commented on #420
This is working for me on the latest Safari—going to close this issue!

[2020-02-12 17:41] #420 closed

[2020-02-12 17:45] #598 closed

[2020-02-12 17:51] catarak commented on #675
I just tried my steps to reproduce and it's working okay for me. Think I may close this for now, and if it comes up again, just reopen.

[2020-02-12 17:51] #675 closed

[2020-02-12 18:00] #687 closed

[2020-02-12 18:04] catarak commented on #912
The code in the iframe that is supposed to catch these error ([previewEntry](https://github.com/processing/p5.js-web-editor/blob/master/client/utils/previewEntry.js)) is not catching these errors and writing them to the Web Editor console.

[2020-02-12 18:11] catarak commented on #1209
I think that the sketch should be slowed down/paused by `requestAnimationFrame`, right? Like if the window is in the background it gets paused.

[2020-02-12 18:12] #1236 closed

[2020-02-12 18:46] ffd8 commented on #1209
To my understanding (and quick tests) `requestAnimationFrame` only pauses if the tab is in the background of the window.. but if the window itself is still on that tab and in the background, it continues running. Had run into this with students having multiple windows/browsers open in the background running example scripts while researching how to do something.

[2020-02-12 19:43] catarak commented on #1209
Ah, got it! So if the tab is open but it's on a window in the background, it will still be running. I'll reopen this and think about it some more...

[2020-02-12 20:08] catarak commented on #61
I'm trying to close out stale tickets. There's not really any active work to be done on this one, and it can be reopened if anyone wants to change this feature.

[2020-02-12 20:08] #61 closed

[2020-02-12 20:11] #392 closed

[2020-02-12 20:16] catarak commented on #524
I had a thought about this, which is that this could be added as a setting. I'm imaging in the settings modal, there would now be three tabs:

1. Sketch Settings
2. Editor Settings
3. Accessibility Settings

Sketch privacy could also live under "Sketch Settings" (#91).

[2020-02-12 20:22] #312 closed

[2020-02-12 20:34] #113 closed

[2020-02-12 20:50] #251 closed

[2020-02-12 21:00] catarak opened #1255 "Open/Close Sidebar Button is too small/not noticeable"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The button to open/close the Sidebar is really tiny:

<img width="166" alt="Screen Shot 2020-02-12 at 3 52 52 PM" src="https://user-images.githubusercontent.com/6063380/74376678-92298980-4db0-11ea-8934-46f487b091c7.png">

I think it could be a different color, the cursor could be changed to a "->", and it cou

[2020-02-12 21:16] #47 closed

[2020-02-12 23:15] ffd8 commented on #1209
Yeeah exactly – it's too bad `requestAnimationFrame` doesn't seem to care if the window lost focus - only about tab position and iframe visibility. This `loop()/noLoop()` on window `focus()/blur()` can act as a backup. I could imagine it being active by default (to save resources), but having option to disable it in settings for special use cases?

[2020-02-13 04:38] hydrosquall opened #1258 "[Enhancement] Enable Saving + Opening Projects from LocalStorage"
#### Nature of issue?

- Presently, if someone attempts the editor without an internet connection, they'll be unable to save their work.
- This feature would move the application in the direction of a progressive webapp so that the editor can be used by those with intermittent/unreliable internet connections.

#### New feature details:

- In addition to the existing "save to cloud" feature, we cou

[2020-02-13 07:13] ashu8912 commented on #704
Hey @catarak need a little help here can you please tell where is the map function that lays out the files

[2020-02-13 07:15] ashu8912 commented on #1255
Working On This also what should be the color of the arrow

[2020-02-13 15:53] ashu8912 opened #1259 "Every InlineSVG is missing an aria-label"
- Found a bug
Right Now Every SVG used is missing an aria-label/tooltip when we hover over an SVG it says triangle, a wrapper over svgs, like button has an aria-label but hovering over the  SVG shows the aria-label on the SVG which is by default set to triangle.
This feature can be easily added by providing title as a prop on the InlineSVG component.

[2020-02-13 18:34] catarak commented on #1209
I wonder if other online code editors have had this issue and thought of this? Could be another useful data point.

[2020-02-13 19:30] AnkurIngale opened #1262 "Variables not getting highlighted."
#### Nature of issue?

- Found a bug

#### Details about the bug:

As you can see, the variable i is not getting highlighted whereas variable j is. Ideally, both should be highlighted. I would like to work on it.
- Web browser and version:= On Chrome
- Operating System: MacOSX
- Steps to reproduce this bug:

<img width="308" alt="Screenshot 2020-02-14 at 12 56 09 AM" src="https://user-images.githu

[2020-02-13 19:44] ffd8 commented on #1209
Yeah – would be great if there's a more generic way to stop the animation engine for any canvas activity besides p5.js' specific `loop()/noLoop()`. I call this 'eco-mode' in P5LIVE and embed the following snippet into exported HTML files:
[code]
(on P5LIVE adding an instance reference to p5 sitting within an iFrame- like the webeditor does)

[2020-02-13 19:55] #1262 closed

[2020-02-13 19:58] AnkurIngale commented on #1262
Sorry for the mess! My internet's not working properly. It was my fault. As you can see, I didn't declare variable j, making it a global variable. Again, I am extremely sorry.

[2020-02-13 21:12] catarak opened #1263 "Theme Colors + Accessibility"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

There are many open issues about Accessibility and Contrast (see the [Accessibility Column](https://github.com/processing/p5.js-web-editor/projects/4#column-7404187)). Rather than address all of these individually, I think it makes sense to start by looking at the [design system](https://www.figma.com/file/cy

[2020-02-17 17:10] thegitone23 opened #1264 "Wrong status code returned for sketch/file that does not exist"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox
- Operating System: Linux
- Steps to reproduce this bug:
Go to https://editor.p5js.org/sketches/any_id/assets/any_file  and 502 is returned.
The problem is caused by the fact that the function getFileContent which is supposed to handle this route isn't verifying whether the returned object from da

[2020-02-17 17:11] thegitone23 commented on #1264
I am doing a pr to fix this issue

[2020-02-17 20:39] shakti2379 opened #1266 "Project menu tooltip"
#### Nature of issue?
- Feature Enhancement

#### Details about the bug:

- Web browser and version: <!-- On Chrome 80
- Operating System: Linux

#### Feature enhancement details:
click on the project menu, hover on any item it will show project menu as tooltip, which is redundant, i think it should either show some more details about the item in tooltip or no need of tooltip there

[2020-02-17 20:40] shakti2379 commented on #1266
if it looks fine, would like to work on it:)

[2020-02-17 20:49] shakti2379 commented on #1241
Please check similar issues before filing a new one:)
i think someone already raised this issues #854 here and @catarak also replied to it.

[2020-02-18 03:00] ashu8912 commented on #1266
@shakti2379 I have already made a pr regarding this that pr will fix every svg tooltip realated problem.

[2020-02-18 03:06] ashu8912 commented on #1241
@shakti2379 thanks for your concern but that issue was closed a year back (closed by author of the issue himself and not by the maintainers). I wanted to discuss this with @catarak as when I first started contributing to processing I went through this problem of making a pr that had linting errors if linting error could be checked on each commit itself that would save a lot of time of the contribu

[2020-02-18 03:07] ashu8912 commented on #1266
#1259

[2020-02-18 05:18] shakti97 opened #1267 "arrow keys not working on menu items"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 80
- Operating System: Linux
- Steps to reproduce this bug:
click on navbar, it will show you dropdown, arrow keys are not working on the dropdown

[2020-02-18 05:18] shakti97 commented on #1267
if possible would like to work on it

[2020-02-19 02:32] Real-John-Cheung opened #1268 "A Problem about the Present Mode"
#### Nature of issue?

- Found a  bug (not sure if it's a bug)

#### Details about the bug:

- Web browser and version: Safari 13.0.3 and Chrome 79.0.3945.130
- Operating System: macOS Catalina 15.10.1
- Problem: I use a for loop like this to load images
[code]
and it work good as a sketch, as an embed and being run locally. But It doesn't work on the present page (aka on editor.p5js.org/account/p

[2020-02-19 19:11] meganindya commented on #1263
@catarak Can I work on this? I'd want to begin with the light theme.

[2020-02-21 06:21] keshav234156 commented on #1255
@catarak I would like to work on this issue!!

[2020-02-21 07:54] keshav234156 commented on #1255
![Screenshot from 2020-02-21 13-19-12](https://user-images.githubusercontent.com/45951376/75014870-5461ea80-54ad-11ea-8226-706c31afd74a.png)
@catarak  How does it look now?.Should I make the PR or any other changes that you would like to suggest?

[2020-02-21 14:20] keshav234156 commented on #1255
![Screenshot from 2020-02-21 19-44-36](https://user-images.githubusercontent.com/45951376/75041843-63fc2600-54e3-11ea-86aa-d840e34804fb.png)
This looks much better? @catarak ?

[2020-02-21 14:47] keshav234156 commented on #1255
![Untitled_ Feb 21, 2020 8_14 PM (1)](https://user-images.githubusercontent.com/45951376/75044130-1f728980-54e7-11ea-8d35-f5ef3cd6a33b.gif)

[2020-02-21 20:47] shakti97 opened #1270 "Project Name Input accepts Spaces as legal project name"
#### Nature of issue?
- Found a bug

#### Details about the bug:
An empty string along with some spaces is accepted as a valid project name.

- Web browser and version: Chrome 80.0.3987.87
- Operating System: Linux 18.04

- Steps to reproduce this bug:
1. Open a p5.js sketch
2. Click on the sketch name input element
3. Enter an empty string with some spaces
4. Hit `Enter`

[2020-02-21 20:48] shakti97 commented on #1270
@catarak please let me know if I should work on this?

[2020-02-22 17:07] nik72619c opened #1273 "Toolbar contains improperly aligned items in Ubuntu"
### Nature of issue?

- Found a bug

#### Details about the bug:
The toolbar components like the sketch name input and the auto-refresh label are not aligned properly. The issue has been fixed by #1228 for Windows and Mac but it still persists in Ubuntu.

- Web browser and version: Google Chrome(Version 74.0.3729.157 (Official Build) (64-bit))
- Operating System: Ubuntu(v18.04)
- Steps to reproduc

[2020-02-22 17:15] nik72619c commented on #1273
ref #1274

[2020-02-22 17:19] nik72619c commented on #914
The PR has not solved the issue for Ubuntu. I provided a fix for it here:-
issue #1273

[2020-02-22 17:31] shakti97 opened #1275 "Inconsistent style while hovering on auto-refresh label"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 80

- Operating System: Ubuntu 18.04

- Steps to reproduce this bug:
1. Open the p5.js editor
2. Hover over the `auto-refresh` label in the toolbar

if you check Setting's Accessibility checkboxes label they are working as desired.

[2020-02-22 17:32] shakti97 commented on #1275
hey @catarak , I would like to work on this

[2020-02-22 21:15] devashish1099 commented on #807
i am looking forward to solve this issue
but i want to know how is that u propose that user define their own palettes

[2020-02-23 00:06] akshay-99 commented on #1217
Hey @catarak I would love to work on this.

So the problem lies with the regex and replace() in resolveJSAndCSSLinks in PreviewFrames.jsx. If there are two files with the same name, even with different paths, the first pass would replace both their names in the original code the blob url of the first file.

I will fix this and create a PR soon.
Maybe I can fix #1205 too.

[2020-02-23 12:29] adrijshikhar commented on #1220
@catarak i would like to work on this issue, can you please assign it to me?

[2020-02-23 12:34] adrijshikhar commented on #942
@catarak is this issue still available?
i would like to take this up

[2020-02-23 12:40] adrijshikhar commented on #1105
@catarak is this issue still available to work on?

[2020-02-23 12:47] adrijshikhar commented on #1056
@catarak i would like to work on this issue, can you please assign it to me?

[2020-02-23 12:57] adrijshikhar commented on #1193
@catarak does this issue still persist?

[2020-02-23 19:00] shakti97 opened #1282 "Sidebar Toggle Shortcut"
#### Nature of issue?
- New feature request

#### New feature details:
Vscode has shortcut for toggling sidebar, I think it would be better if we have the same feature here also.

[2020-02-23 19:01] shakti97 commented on #1282
@catarak if possible, I would like to work on it:)

[2020-02-23 22:54] devashish1099 commented on #702
@catarak  do you want this feature now, if so i would like to work on it

working plan ->
it just requires 2 npm packages react-native-svg and react-native-qrcode-svg
and some lines of code

[2020-02-24 08:20] dhowe commented on #1268
I have verified this issue on both Chrome and Firefox

[2020-02-24 16:07] nik72619c opened #1284 "MySketches Modal Loader not aligned"
### Nature of issue?

- Found a bug

#### Details about the bug:

The loader which is displayed in My Sketches modal is not aligned vertically in the centre. Other Loaders inside Modals like my assets is aligned vertically. Therefore, the position of all modals must follow consistency.
![processing-output](https://user-images.githubusercontent.com/30630904/75168745-68c41280-574d-11ea-8559-439dde40

[2020-02-24 16:09] nik72619c commented on #1284
I have proposed a fix for this here :- #1285
@catarak Please let me know if it helps :)

[2020-02-24 19:46] shakti97 opened #1286 "Shortcut for Toggle Console Window"
#### Nature of issue?
- New feature request

#### New feature details:
Shortcut for toggle console, almost all the popular editor have this feature.

[2020-02-24 19:46] shakti97 commented on #1286
@catarak if possible I would like to work on this:)

[2020-02-24 19:54] shakti97 opened #1288 "File Extension Change not working"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 80
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:
1. Expand Sidebar
2. Try to change the extension of the filename
3. It will not save the new extension.

[2020-02-24 19:54] shakti97 commented on #1288
@catarak if possible , I would love to work on it:)

[2020-02-24 22:18] devashish1099 commented on #103
@catarak i would like to work on the issue if it still is a priority

[2020-02-25 01:05] annabateman opened #1289 "ml5 Library doesn't load for new projects"
#### Nature of issue?
The ml5 library won't load for new sketches. I used my sketches defined in my account (https://editor.p5js.org/geekmommy/sketches/exk4mkes) and they load and run fine. However, when creating a new sketch with a literal copy/paste of the same code, I get a message that "Uncaught ReferenceError: ml5 is not defined (sketch: line 16)" (see example here https://editor.p5js.org/gee

[2020-02-25 19:27] shakti97 opened #1290 "Redundant Search Button"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Chrome 80
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:
1. Open Sketches
2. Start typing, it will show result on change

if the result is showing on Change then there is no need to button for search.

[2020-02-25 19:28] shakti97 commented on #1290
@andrewn if possible, I would love to work on it :)

[2020-02-25 20:51] nik72619c opened #1292 "Add a keyboard shortcut for adding a new file"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Google Chrome (Version 74.0.3729.157 (Official Build) (64-bit))
- Operating System: Ubuntu v18.04

[2020-02-25 22:54] andrewn commented on #1216
@catarak I've opened two PRs #1244 (storybook) and #1294 (docz) for comparing the two component systems.

Both include a `Button` component using `styled-components` for comparison.

docz parses all the `.md` files in the project and turns them into nicely formatted HTML which is a nice touch.

However, I think Storybook is a better tool for developing components, especially being able to switch t

[2020-02-26 09:12] andrewn commented on #1290
I see what you mean @shakti97, the submit button to perform a search does seem redundant as the search is performed when text is entered _and_ when the Enter key is pressed.

It's worth checking with @catarak if there's an accessibility reason for the search button?

[2020-02-26 10:32] shakti97 commented on #1290
okay, @catarak can you please share your opinion here

[2020-02-26 23:29] garrytaulu commented on #1027
Looks like hardware keyboards work now but the software 'undo' and 'redo' buttons still do not work.

[2020-02-27 19:51] shakti97 opened #1296 "Contrast theme button active color different from theme"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Chrome 80
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:
1. Choose Contrast theme
2. Open Add File Modal
3. Hover the add file button will make it yellow when you click on it means on active its #f10046 color

Not only of file its for Add Folder button too
![Screenshot from 2020-02-28 01-16

[2020-02-27 19:52] shakti97 commented on #1296
@andrewn if possible I would love to work on this issue:)

[2020-02-27 20:23] nik72619c opened #1298 "Rename input doesnot get focus on clicking on rename option"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Inside the Sketch List Modal , on choosing the `rename` option of any sketch should set the focus to the rename input field but it doesn't.

- Web browser and version: Google Chrome (Version 74.0.3729.157 (Official Build) (64-bit))
- Operating System: Ubuntu v18.04
- Steps to reproduce this bug:
1. Under the profile section, select

[2020-02-27 20:30] nik72619c commented on #1298
@catarak , I filed a PR for this. Please let me know if we need this change or if any enhancements for this can be done in my PR.

cc @andrewn

[2020-02-27 20:35] shakti97 opened #1300 "Shortcut for Example Modal"
#### Nature of issue?
- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome 80
- Operating System: Ubuntu 18.04

#### Feature enhancement details:
Need Shortcut to open Examples directly to ease user experience.

[2020-02-27 20:36] shakti97 commented on #1300
@catarak if possible I would love to take this up:)

[2020-02-28 21:28] DivyamAhuja commented on #1288
I don't know if it is bug or it was intended to be like that cause it's coded like that if notSameExtension then name won't be updated.
So Idk if this should be handled
@catarak

[2020-02-29 05:14] shakti97 commented on #1288
Yes, that why I raised issue because if you see most of the editor will let you change the extension while renaming,  if @catarak think that this is a real issue and needs to be handled than i will start working on it.

[2020-02-29 08:12] DivyamAhuja opened #1302 ""ReferenceError: primordials is not defined" while executing "npm start""
Node version : v12.16.1
npm version : 6.13.7

While trying to execute "npm start" it throw "ReferenceError: primordials is not defined" and app crashes.  I think it has to do something with Node@12 and graceful-fs@3

[2020-02-29 12:32] nik72619c commented on #273
@catarak is this free to work on ?

[2020-02-29 17:03] nik72619c opened #1303 "[Discussion]Incorrect dropdown icon state"
#### Nature of issue?

- Found a bug

#### Details about the bug:
There should be a different triangle icon (an inverted triangle) when the the dropdown is open.

@catarak Let me know your thoughts on this, if I shall file a PR for it and make the changes.
- Web browser and version: Google Chrome (Version 74.0.3729.157 (Official Build) (64-bit))
- Operating System: Ubuntu v18.04

[2020-03-01 03:40] ashu8912 opened #1304 "How to reach Out for GSOC"
Hello,Organisation how can we share our ideas and views or review a pr or get discussion over a raised issue.
I contacted the mentors one month back but no reply yet, which as a contributor feels disheartning  i would love if the slack channel link on the gsoc page should be made an invite link through which students can reach out to the org and share there views.
I know that github issues are not

[2020-03-01 10:02] shakti97 commented on #1304
Yes, I am also facing this issues, there is no way to communicate and discuss our ideas with the mentor. So it will be great if this problem resolves asap.
@andrewn @catarak can you please look at this issue

[2020-03-02 04:48] sanghosuh opened #1305 "Online editor is down"
#### Nature of issue?
- Online editor is down

#### Details about the bug:
- Web browser and version: On Chrome/Safari
- Operating System: MacOSX

[2020-03-02 04:49] catarak commented on #1305
Thanks for reporting! It's back now. I was doing some database maintenance.

[2020-03-02 04:49] #1305 closed

[2020-03-02 08:19] JithinKS97 commented on #91
Hey @catarak I'm interested in taking up this issue and discuss more about the design aspects of implementing it. Can you provide me some ideas on how should I start and move forward?

[2020-03-02 13:26] barick56 opened #1306 "the while loop makes the browser freeze"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-03-02 13:28] barick56 commented on #1306
hi , i'm writing to report a bug, for a while now , i noticed that the while loop makes any of my browsers freeze, i'm on mac osX

[2020-03-02 20:39] DivyamAhuja commented on #1289
Actually what you are missing is linking ml5 script in index.html
![Screenshot_20200303-020803](https://user-images.githubusercontent.com/39771050/75715780-fd051b00-5cf3-11ea-8453-0da178ba648c.png)
![Screenshot_20200303-020727](https://user-images.githubusercontent.com/39771050/75715784-fecede80-5cf3-11ea-97d6-a487c81db952.png)

[2020-03-03 12:48] DivyamAhuja opened #1307 "Making files sidebar expansion more intuitive or displaying it expanded by default"
- Existing feature enhancement

The Files sidebar is collapsed by default and it's difficult for new users to find if it even exists or how to open it (That was case for me at least) . So I think it will be better if it was like "Open/Show Files " like something or maybe expanded by default on load
@catarak

[2020-03-03 15:17] shakti97 commented on #1307
yes, catarak already found this issue and open a similar issue #1255 and someone worked on that issue and filed a pr. So please check for similar issue before opening a new. You can discuss your idea on the accessbility of the sidebar toggler there.

[2020-03-03 18:12] DivyamAhuja commented on #1307
@shakti97 Thanks for marking the issue.... earlier I saw some issues where people had same problem that they didn't notice the arrow button so that's why I raised the issue .
I will close the issue now.

[2020-03-03 18:12] #1307 closed

[2020-03-03 18:13] #1302 closed

[2020-03-04 18:13] shakti97 commented on #745
I think we can close this issue as I can see we are now not using the horizontal scroll with the editor and vertical scroll is working fine

[2020-03-04 18:27] shakti97 commented on #1070
According to me, As we are not allowing to add file with .html extension so we should not let the user to delete it.
I would like to work on this issue @catarak @andrewn
Should I hide the delete option for the .html file will be fine for this issue

[2020-03-04 19:17] demc opened #1310 "Toolbar too large on projectors"
#### Nature of issue?

- Found a bug

#### Details about the bug:

When using a projector to present or teaching using the p5.js editor, the header takes an enormous amount of space. The header is so disproportionally large that this tool is not easy to use in a classroom and a better tool has to be used instead. This should be an easy CSS fix.

- Web browser and version:
- Operating System:
- Ste

[2020-03-04 19:18] demc commented on #1310
![Screen Shot 2020-03-04 at 11 12 58 AM](https://user-images.githubusercontent.com/3744617/75914566-cd483700-5e09-11ea-9af6-f26930d20ef8.png)

[2020-03-05 15:09] shakti97 opened #1311 "Limit on File/Folder name length"
#### Nature of issue?
- Existing feature enhancement

- Web browser and version: Chrome 80
- Operating System: Ubuntu 18.04

#### Feature enhancement details:
I think there should be limit on the file/folder name input as the other editor have, they starts showing warning if the name length greater then 256 character

[2020-03-05 15:12] shakti97 commented on #1311
@andrewn @catarak I would like to know your opinion on this issue, If possible I would love to work on this issue.

[2020-03-06 04:43] ankiiitraj opened #1312 "esc key should hide modal box."
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
The box that appears on clicking the add folder/file option onn the editor should close on clicking "esc" key which currently doesn't happens.

[2020-03-06 04:45] ankiiitraj commented on #1312
If this is ok I would like to work on this feature.

[2020-03-06 04:47] ankiiitraj commented on #1306
Hi @barick56 , can you share your Code snippet of your code which makes your browser freeze.

[2020-03-06 07:01] ankiiitraj opened #1313 "Display message of file created"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
On adding a new file by typing the file name and hitting "enter", file gets created.
I think on hitting "enter",  text should appears like "file.js was created" and should disappear after few seconds on the modal box.
![Screenshot from 2020-03-06 12-24-34](https://user-images.githubusercontent.com/48787278/760

[2020-03-06 07:02] ankiiitraj commented on #1313
If this enhancement is fine to community members I would like to work on this issue.

[2020-03-06 19:41] po4599 opened #1314 "Signup new account using caps in name on https://editor.p5js.org"
It seems we are hitting a possible bug related to having caps in the login name. For example signup on https://editor.p5js.org with:

Login name: GeorgeZ
Password: 123456
Email: <a valid email address>
Note; These are all fake for testing purposes.

Upon signup, the account gets logged in OK. Log out. Then try to login with the info above. It fails, using either GeorgeZ or georgez. Using the email

[2020-03-06 19:48] jeremydouglass commented on #1314
Related forum post: https://discourse.processing.org/t/signup-new-account-using-caps-in-name-on-https-editor-p5js-org/18427/

[2020-03-08 12:49] nik72619c commented on #91
Hi , I am interested in working on this one . @catarak can you please guide me through how shall we start implementing it up ? What is the plan of action and which subtasks are at priority ?

[2020-03-08 14:05] nik72619c opened #1315 "Use of very small font size"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Google Chrome (Version 74.0.3729.157 (Official Build) (64-bit))
- Operating System: Ubuntu (v18.04)

#### New feature details:
It would be great to use a bit bigger font size for displaying sub texts. Currently the smallest of the text sizes are unable to read:-

![Screenshot from 2020-03

[2020-03-08 14:06] nik72619c commented on #1315
@catarak please let me know your views on this :)

[2020-03-08 14:36] shakti97 commented on #1313
yes I also think that empty the input box and hide the created message is good, but I was thinking isn't it better to toggle the modal , an open the newly created file on the editor. @catarak  what's your opinion on this?

[2020-03-08 15:27] ankiiitraj commented on #1313
@shakti97 But this will make creating several files a bit uneasy task.

[2020-03-08 17:31] shakti97 commented on #1314
I am able to reproduce the same bug, working on it to resolve this issue.

[2020-03-08 20:01] shakti97 commented on #1314
hi @catarak, @andrewn , I found the cause, the cause was at the time of signup we are storing the details as it is but at the time of authentication in login we are comparing the stored details(username/email) by taking the lowercase of username/email entered.

So I think there should be case insensitive comparison in both case and in js case insensitive comparison is done by converting both side

[2020-03-09 15:13] DivyamAhuja opened #1318 "Adding preview for image files in editor"
I was trying to preview an image file in p5 web editor but it was just showing blank screen,
so I was thinking there should be a feature to preview images, 3d models, audio etc.

#### Nature of issue?

- New feature request
![Screenshot from 2020-03-09 20-38-14](https://user-images.githubusercontent.com/39771050/76228356-a09b8180-6246-11ea-9a32-9b2138645add.png)

#### Details about the bug:

####

[2020-03-10 14:05] devashish1099 commented on #1318
if its required @catarak i would like to work on this issue

[2020-03-11 11:02] seralouk commented on #1167
I have a macbook and I use jupyter from Firefox. I have tried all possible combinations for commenting/uncommenting a part of code but no luck.

Any tip? How can I modify the shortcuts?

[2020-03-11 11:11] trych commented on #1167
Only two options that I know of currently:

1.) Use an external keyboard with a numpad and use <kbd>Cmd</kbd> + <kbd>/</kbd> (the <kbd>/</kbd> on the numpad)

2.) Use a third party software for remapping your keys. I did this on my Mac using Keyboard Maestro, and setting up a custom Macro for remapping my keys in Firefox, see attached screenshot.

![grafik](https://user-images.githubusercontent.co

[2020-03-11 11:17] seralouk commented on #1167
Thanks. I also found a crazy solution but it is not very convenient but **it works regardless of the keyboard's language.**

- Press the **Option** button and keep holding it. The cursor will change its shape into a big plus sign.

- Next, using your mouse, to point to the beginning of the first line you want to comment and while holding the **Option**  button pull down your mouse until the last l

[2020-03-11 11:29] trych commented on #1167
Yeah, that is just inserting multiple cursor and works regardless of keyboard language, but does not really help you if you already have multiple selections that you want to comment out via shortcut.

[2020-03-11 16:30] Poupas09 opened #1319 "Array consoling bug"
**Nature of issue**

- Found a bug

Details about the bug:
Consoling an array before and after a change gives you the same output
Is there an explanation on why this is happening?

- Web browser and version: Chrome
- Operating System: Windows

https://editor.p5js.org/Poupas/sketches/EdREbC7w

[2020-03-11 16:39] Poupas09 commented on #1319
I also notice that Chrome's console gives me the correct output

[2020-03-12 02:41] shakti97 commented on #1319
Thanks for reporting this issue but someone already raised this issue, you can follow up here #1055

[2020-03-13 22:18] JPatagonico opened #1324 "Autocomplete"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### New feature details:
Autocomplete for P5.JS in both the online editor and the Processing editor

[2020-03-14 07:12] BenMaydan opened #3139 "keyTyped does not work in conjunction with returning false in mousePressed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:  Chrome, version "80.0.3987.132"
- Operating System:  Windows 10 OS Version 1909
- Steps to reproduce th

[2020-03-14 14:19] pcgamer1 commented on #91
I am interested to work on this feature. I would like to know more about the exact requirements and the location of required change on Github.

[2020-03-14 15:00] pcgamer1 commented on #375
I would like to work on this!

[2020-03-14 15:01] pcgamer1 commented on #387
I would like to work on this!

[2020-03-14 18:27] #1319 closed

[2020-03-14 19:20] Phe0 opened #1320 "Adding brazilian portuguese developer docs"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Add a folder inside the developer_docs folder containing the same developer docs translated to portuguese

[2020-03-14 21:03] Phe0 opened #1322 "Small fixes on developer docs"
## Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
 - Change git remote add upstrem command on preparing_a_pull_request.md to https://github.com/processing/p5.js-web-editor from https://github.com/processing/p5.js
 - Update Links on developer_docs that reference /developer_docs from the p5.js repository to /contributor_docs

[2020-03-17 00:01] endurance21 opened #1325 "not able to load sound from different origin"
#### Nature of issue?
-feature enhacement

Not able to loadSound from different origin .
### i know this is not a bug ,but a simple user must be able to load a audio from external link, this will increase the use case of web-editor !
i first thought the issue is with p5.sound but it looks like it belongs here !
![corsISSUe](https://user-images.githubusercontent.com/43696525/76809279-4f742a80-6810-

[2020-03-17 15:15] elit-altum opened #1326 "Unwanted tooltips on arrow svg"
#### Nature of issue?
- The ```<title>``` attributes of arrow svg's provide unwanted svg information and should be removed.

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox developer version 75.0b4 (64-bit)
- Operating System: Ubuntu 18.04
- Steps to reproduce this bug:
  1. Hover over the svg's as arrow icons and see the tooptip

![Tooltip-issue](https://user-images

[2020-03-17 15:27] elit-altum opened #1328 "Welcome bot for new PR's points to wrong address"
#### Nature of issue?
- The welcome bot for new pull requests points to [this url](https://github.com/processing/p5.js-web-editor/blob/master/CONTRIBUTING.md) for guiding users towards contribution guidelines instead it should point towards https://github.com/processing/p5.js-web-editor/blob/master/.github/CONTRIBUTING.md

- Found a bug

#### Details about the bug:

- Steps to reproduce this bug:

[2020-03-17 19:46] endurance21 opened #1331 "How to add sound in web-editor"
Not able to add and play either my local audio files.
Also no option to upload the files from local computer to web-editors!
if I am missing any documentation regarding this, please help!

[2020-03-17 21:04] devashish1099 commented on #1056
@catarak where should i add the request for json file

[2020-03-18 21:22] tirtawr commented on #4
CDNJS have a pretty extensive [search API](https://cdnjs.com/api) that could be useful.

Searches on NPM can be quite difficult for users since it mostly consists of Node packages. Furthermore, they don't really have a search feature, based on [this thread](https://stackoverflow.com/questions/34071621/query-npmjs-registry-via-api) we'll either have to download a cached version of the registry and

[2020-03-20 23:07] aldrinjenson opened #1336 "Increase Font Size for the Invalid File type message"
#### Nature of issue?
- Existing feature enhancement

![Screenshot_2020-03-21_04-14-07](https://user-images.githubusercontent.com/53407417/77211665-ab012980-6b2a-11ea-8b78-44eb07d0ba7a.png)

#### Details about the Issue:

Currently, when trying to add a new file from the side-nav, if the file type is not supported, the warning-message shown is of very small font-size and hence it is really difficu

[2020-03-21 10:57] aldrinjenson commented on #704
@ashu8912  Are you still working on the issue?

[2020-03-21 11:01] aldrinjenson commented on #704
I would like to do something for the issue, but I am a bit reluctant to touch the reducers because of the comment message given on the FileNode Component as that 'this is a hack and that the state is updated before the props' on line 301
https://github.com/processing/p5.js-web-editor/blob/8bf9c1089a329e875649eac59ffc25d82202aa84/client/modules/IDE/components/FileNode.jsx#L301
Any suggestions or ad

[2020-03-21 13:09] ashu8912 commented on #704
No go ahead.

[2020-03-21 20:42] aldrinjenson commented on #745
Yes, this issue is no more a problem. Now the code wraps down to the next line. Please close the issue.

[2020-03-22 14:35] aldrinjenson commented on #91
Seeing that the issue is over 3 and a half years old, it would be really helpful if someone could provide a bit more information on proceeding to fix this.
Thanks

[2020-03-22 17:37] aldrinjenson commented on #1331
Sound is working perfectly fine on the web-editor.
You can add local files by dragging and dropping to the modal which pops up when clicking on the add File button.
Please check out this video for further clarification.

https://youtu.be/Pn1g1wjxl_0

[2020-03-22 19:15] carlesgutierrez commented on #276
I have this error with Firefox and using the online Sound min library with the webeditor
[code]
Is my firefox wrong? I'm the only one this error?

Test code https://editor.p5js.org/shiffman/sketches/S1ZGs5WZG
error:

[2020-03-22 21:28] bmoren opened #1337 "Live collaborative editing feature request"
#### Nature of issue?

- New feature request

#### New feature details:

In light of Covid19 and so many folks going to be teaching online, it would be amazing to implement a live collaborative editing feature into the editor.

Several other platforms have similar feature set, and it may make sense to migrate to them in the short term, but I think a discussion of this and if it's even possible wit

[2020-03-22 22:16] TomoBossi opened #1338 "Deleting assets"
Hey there, I'm completely new here so excuse me if I'm making some huge formatting mistake. I've been coding no-stop for these last few hours and I'm completely in love with the web editor. Just wanted you to know that.

This might be a bug report, if not then it's just a desirable feature recommendation. I noticed that I'm unable to delete assets directly from my assets folder. I tried looking up

[2020-03-23 01:22] TheV360 commented on #745
The previous two comments are saying that this is fixed, but I went into settings, disabled Word Wrap, and immediately got the issue to happen again.

![2020-03-22_21-21-14](https://user-images.githubusercontent.com/25177071/77270739-2970df00-6c83-11ea-94c7-24ae9036f6f1.gif)

[2020-03-23 02:47] endurance21 commented on #1331
@AidanNelson thanks that helped !
but I highly recommend having a documentation for this on the website itself!

[2020-03-23 19:32] Zekladus opened #1339 "Overwritten file"
#### Nature of issue?
i dont know

- Found a bug

#### Details about the bug: I coded in a projekt called Balls. To prove some physiks i testes in an other project an copied when smt went right. Now p5 has randomly overwritten my Balls project (which was already pretty big) by the physikstest project. now i have the same project twice with even the same name. is this somehow undoable?

- Web brows

[2020-03-23 21:47] po4599 commented on #1314
I see the commit, and the requested merge.  @catarak @andrewn can you please review and merge?

[2020-03-24 00:08] shakti97 commented on #1336
Yes this is an accessibility issue and the team is working on this type of issue , will update you soon. Thanks for reporting