[2020-10-20 19:09] catarak commented on #1643
Thanks for reporting! I'm a little confused about all of these zoom settings and what the expected behavior is. I noticed that when I follow the instructions in the OpenProcessing sketch (set the browser scale to 49%), it renders the same way as in the p5.js Editor.

[2020-10-20 19:14] #1642 closed, assigned to nobody

[2020-10-20 19:36] #1590 closed, assigned to nobody

[2020-10-20 19:49] EmmanuelPil commented on #1643
It's quite common to use at least a 125 % 'scale' screen setting for medium to larger screen resolutions.
And they can be changed rapidly to test. But if you leave the normal 'browser' zoom at 100%, the arrows points are not drawn. Only lines. Also note that the grid points in OpenProcessing are transparent, while the same code in the Web Editor gives no transparency.
Another proof that there is s

[2020-10-20 20:18] catarak commented on #1643
Thanks for the update. I'm still having a hard time figuring out if you're reporting an issue with the p5.js library or with the p5.js Editor or both. What is working on OpenProcessing as expected and what is not working on the p5.js Editor as expected? Are there things that are not working as expected in either that are perhaps issues with p5.js itself? I'm just trying to figure out how to suppor

[2020-10-20 21:24] anti-ghost opened #1648 "Editor does not save properly"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

When I save a project, even though it's saved, the browser thinks the project is not saved, and the browser gives me a message warning me about unsaved content.

- Web browser and version:  Google Chrome 86.0.4240.75 (Official Build) (64-bit) (cohort: Stable)
- Operating System:

[2020-10-21 06:16] yinhwa commented on #1632
@kangashley is joining this translation 🥰 yay

[2020-10-21 08:29] EmmanuelPil commented on #1643
The transparency problem seems to be a p5.js Editor problem since it works well on OpenProcessing.
The scale problem I have to issue on the P5.js GitHub I guess.
I only mentioned it here because I started with the error given when accessibility features are enabled, which maybe should have a notification that this can happen in the setting window itself.
Thank you for looking into this.

[2020-10-21 18:38] catarak commented on #1648
Thanks for reporting! I have also noticed this behavior. This is a duplicate of #1633 so I'm gonna close this one!

[2020-10-21 18:38] #1648 closed, assigned to nobody

[2020-10-22 17:29] vanevery opened #1650 "CORS issue with loadImage"
#### CORS issue between editor.p5.org and assets.editor.p5.org

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System: MacOS X: Chrome Version 86.0.4240.80 (Official Build) (x86_64)
- Upload an image to the editor and attempt to load it with loadImage
- Get the following error in the JS Console

Access to fetch at 'https://assets.editor.p5js.org/5f6c09af5590b300

[2020-10-22 20:42] catarak commented on #1650
Thanks for reporting! I was able to reproduce, and then I dug into the S3 bucket and now it's working for me? Super strange bug.

[2020-10-23 01:12] aahdee opened #1651 "Pop out window for the web editor"
#### Nature of issue?

- New feature request

#### New feature details:

Sometimes one would like to create sketches that are large in size. But if one does so, in order to see the entire sketch one must squish their code to the left and essentially make it unreadable. Could there be an option to open the sketch in a pop up window so that you can view your code and sketch at the same time?

[2020-10-23 08:09] SunFIow commented on #1167
Hey, not sure if this is the right place or a new issue should be opened.
Came across this issue after trying to use shortcuts on a german keyboard.
They aren't document under the `Help` -> `Keyboard Shortcuts` popup.
I managed to find most of them, but others may gave up and couldn't enjoy the p5-webeditor in all it's glory.
So properly good to add them into the popup as well, unfortunately i don

[2020-10-23 17:02] #1633 closed, assigned to nobody

[2020-10-23 19:03] jht1493-gmail opened #1652 "sketch entries in a collection don't sort"
- Found a bug viewing a Collection

When viewing sketches  in a collection can't sort by name or date.

- Web browser and version:  Chrome and Safari

- Operating System:  MacOS 10.15.7

- Steps to reproduce this bug:

Open a collection eg: https://editor.p5js.org/jht1493/collections/Gr9aCJs6t
Try clicking on Name or Date header.

Expected: sketches in collection to be sorted

Result: No sorting

[2020-10-26 14:20] ankitpal1029 commented on #1595
is this issue still open? i'd like to work on this.

[2020-10-26 15:02] catarak commented on #1595
@ankitpal1029 yes and go ahead and work on it!

[2020-10-26 15:07] catarak commented on #1167
Thank you @SunFIow for the research! Maybe this is only true for American keyboards or Mac OS keyboards, but the <kbd>Control</kbd> key is also denoted by the shorthand <kbd>⌃</kbd>. I think it would make sense to change the keyboard shortcuts to say <kbd>Ctrl</kbd> if that feels more clear!

[2020-10-26 15:42] catarak commented on #1652
Thank you for reporting! It would be great to make this table sortable. Since there are a few across the app, I think it makes sense to make a reusable, sortable, filterable table component!

[2020-10-26 16:31] ankitpal1029 commented on #1595
@catarak  sure I'll get right to setting up the project , I'm new to contributing to open source projects
Forgive me if I badger you with too many questions ⊙﹏⊙

[2020-10-26 18:52] catarak commented on #1651
Thanks for the suggestion! I think this is a great idea. The infrastructure that would take to build this is super related to #1337, which is about adding a collaborative live coding mode. I think to make this happen the sketches would need to update with CRDT's and we'd need to add web sockets.

[2020-10-27 09:56] plxity opened #1653 "Progress bar not functioning correctly"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: macOS
- Steps to reproduce this bug:
1) Go to My assets section.
2) Check the progress bar.

<img width="1081" alt="Screenshot 2020-10-27 at 3 24 11 PM" src="https://user-images.githubusercontent.com/28510494/97285785-a642e780-1868-11eb-8c5e-ab06f664f9d9.png">

[2020-10-27 14:25] KKVANONYMOUS commented on #1653
I would like to work on this issue

[2020-10-27 17:32] catarak commented on #1653
Thanks for reporting! I can reproduce.

[2020-10-27 17:51] plxity commented on #1653
@catarak Can I work on this?

[2020-10-27 18:10] catarak commented on #1653
@plxity absolutely!

[2020-10-28 05:24] KKVANONYMOUS opened #1654 "Bottom Padding issue in Keyboard Shortcuts model"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Windows 10
- Steps to reproduce this bug:
 1) Go to **Help** menu
 2) Select **Keyboard Shortcuts**
 3) Check the bottom padding of Keyboard Shortcuts model. Also try to resize the browser size and you will see the padding issue more clearly

![Screenshot (14)](https://user-im

[2020-10-28 10:29] sagar-joshi commented on #1654
On adding overflow property in the overlay-body class in _overlay.scss , the keyboard shortcuts tab looks like below:

![Untitled](https://user-images.githubusercontent.com/42578673/97420708-ae1a8e80-1931-11eb-8dd8-4d025158c3d1.png)

 It also changes settings tab (otherwise the same problem was with settings also)

![Untitled1](https://user-images.githubusercontent.com/42578673/97420869-d7d3b580-1

[2020-10-28 11:24] plxity commented on #1652
@catarak I would like to work this.

[2020-10-28 19:01] catarak commented on #1654
Thanks for reporting!!! I'll check out your PR @sagar-joshi 😄

[2020-10-28 21:19] #1653 closed, assigned to nobody

[2020-10-28 21:20] catarak commented on #1652
@plxity go ahead! I would suggest working on the reusable table component rather than just fixing this one component.

[2020-10-29 19:59] #1654 closed, assigned to nobody

[2020-10-30 02:03] sagar-joshi commented on #745
@catarak codemirror has released new v5.58.2

[2020-10-30 15:18] SafestRanger52 opened #1659 "(Bug/Help)"
Browser- FireFox nightly
Issue type - Bug.
Issue- I am unable to see assets from a project i duplicated from, there is no view of the images, but i can still use them all in the code,please help me

[2020-10-30 19:53] catarak commented on #745
@sagar-joshi thank you! I'll make a PR that fixes this 😄

[2020-10-30 20:03] #745 closed

[2020-10-31 08:06] Aditya2111-PRO opened #1661 "Can I get older version of my file??"
I was just working on my project and then suddenly it restarted I lost my older version....Can I get back my older version??
***I need my older version***

Thanks...

[2020-10-31 20:12] Swapnil-2001 opened #1662 "Text in Sign Up page fades into background in dark mode"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome (86.0.4240.111)
- Operating System: Windows 10
- Steps to reproduce this bug:

While in dark mode, the "Already have an account?.." portion at the bottom fades into the background.

![p5 js Web Editor _ Signup - Google Chrome 01-11-2020 01_25_07](https://user-images.githubusercontent.com/532

[2020-11-01 13:23] vulongphan commented on #1548
Hi I am using React v16.14.0 and Node v14.5.0. I solve `Prop type 'object' is forbidden` by using `PropTypes.objectOf(PropTypes.shape())` instead of `PropTypes.object.isRequired`.

Hope it help.

[2020-11-01 16:56] aceslowman opened #1663 "Code folding no longer works in editor"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome 83.0.4103.61 (Official Build) (64-bit)
- Operating System: Linux ( Ubuntu 18.04.4 LTS )

Code folding no longer works in the editor. The arrows in the gutter that are usually used to toggle folding don't respond to clicks.

[2020-11-02 08:51] MohdImran001 commented on #387
Hi @catarak, Please review my PR.

[2020-11-02 19:09] catarak commented on #1659
Thanks for reporting! I'm not able to reproduce. Can you link me to the sketch you duplicated from and the duplicate sketch? Thank you!

[2020-11-02 22:17] catarak commented on #1661
Unfortunately there isn't a way to get back an older version. Sorry about this!

[2020-11-02 22:23] catarak commented on #1663
Thanks for reporting! I'm sort of able to reproduce. I found that you have to be somewhat precise where you click on it, like sometimes it works and sometimes it doesn't. I'm assuming there's some hidden element that's blocking it or something. Could you try clicking in a few different spots and let me know if that works for you?

[2020-11-02 22:24] catarak commented on #1662
@Swapnil-2001 thanks for reporting and go ahead and work on this!

[2020-11-03 23:15] NahuelMaid commented on #387
Hi @catarak. Can you review @MohdImran001 's work, please? 🙏🙏 I'd love this improvement.

[2020-11-04 22:19] JD-RD opened #1666 "French translation"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Following #595 I'd like to contribute to this awesome project by translating the app to french. However I have only a little experience about GitHub and React. Still, I already started the process...

I followed the [Translation Guidelines](https://github.com/processing/p5.js-web-editor/blob/develop/developer

[2020-11-05 04:41] samyakbambole opened #1667 "Add option to Import Code from a Github Repo and Export code to a GitHub Repo of a user."
# New Feature Request.

There must be an option in the Web editor to Import p5.js code from a GitHub Repository and Export the saved code to a new GitHub Repository of the user. This could be done using the GitHub API.

[2020-11-06 14:05] vulongphan commented on #1620
@catarak hi I am new to open source in general and to p5 web editor in particular but I want to make an attempt at this good first issue. I have been able to login to the local development with my Github account so I can test out the change. I see no follow ups for a month so  @ricknjacky can you provide some update? If you would like another person to work on this issue I can. Thank you!

[2020-11-06 15:11] vulongphan commented on #1595
@catarak @ricknjacky I had the same issue with running the `fetch-examples` script although I am sure I passed my correct github credentials (since I am able to login thru Github in my local development). I believe the error is emitted at line 78 (please see attached) and the problem should be within the `options` at line 51 (see attached), and more specifically I speculate that the issue is with

[2020-11-06 17:28] #1519 closed

[2020-11-06 17:28] #1588 closed, assigned to nobody

[2020-11-06 17:53] catarak commented on #1548
Okay! This project is currently using React `v16.12.0` and Node `v12.6.1`, so I think this will come up when updating React/Node.

[2020-11-06 18:17] oruburos commented on #1666
Great @JD-RD, thanks. I really think that @catarak  would love to see more translations. What is the status of your branch? Are the translations working? is the dropdown showing? I think that the next step would be to create a PR and that someone can have a look at it.

[2020-11-06 19:34] catarak commented on #1666
@oruburos the translations are live! Right now only Spanish is enabled, but with #1664 open, the Japanese translation will be enabled soon! The French translation is definitely welcome—I recommend looking at the [Translation Guide](https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/translations.md)! I also recommend looking at #1664 to figure out what you need to change to

[2020-11-06 19:50] catarak commented on #1667
Thanks for the suggestion! I think this is a great idea. I think this is already captured at #753, so I'm going to close this as a duplicate.

[2020-11-06 19:50] #1667 closed, assigned to nobody

[2020-11-06 20:05] catarak commented on #1595
That's super weird! I don't know what to tell you since it is working for me, and the only difference is the GitHub credentials. Are you sure you're giving the right permissions to your GitHub app?

[2020-11-06 20:16] catarak commented on #1620
@vulongphan you can go ahead and work on it!

[2020-11-07 11:14] vulongphan commented on #1595
@catarak is it possible that you can tell me what permissions I need to grant my Github App? I have enabled the `Contents` option but there is still the error `401 - Bad Credentials`. I have also searched for the permissions that I need to give my github app in order for it to access resources at `/repos` GitHub API endpoint but there is no useful document on this.
I was looking at the GET reposit

[2020-11-07 15:53] vulongphan commented on #1620
I have been able to reproduce the bug in local development and I just want to point out some things if someone also wants to reproduce the issue:
- To be able to upload the image you need an amazon s3 bucket, follow this [link](https://aws.amazon.com/s3/)
- Update the value of `S3_BUCKET_URL_BASE` in `.env` file, the convention for finding the url can be found [here](https://docs.aws.amazon.com/Am

[2020-11-08 08:39] vulongphan commented on #1620
I have been able to add files with non-English names, as shown in the attached below.

![2020-11-08 12-13-45](https://user-images.githubusercontent.com/46087559/98460285-8b536a00-21bc-11eb-9e19-889564f24ac5.gif)

So the issue is with the `window.btoa()` function which takes a binary string as an input (a binary string is a string in which each character occupies only one byte). However, for non-En

[2020-11-08 22:06] aceslowman commented on #1663
You're right! It looks like it responds to clicks to the left of the arrow, but not on the arrow itself. Probably wouldn't be as much of an issue if the cursor displayed as a pointer along the whole width of the gutter.

[2020-11-09 09:58] MohdImran001 commented on #387
Hi @catarak, please review my PR and let me know if it is up to the mark.

[2020-11-09 17:14] catarak commented on #1663
@aceslowman agreed! It seems like the solution to this is some investigation as to what's blocking the arrow, and then changing the CSS so when the mouse is over the arrow, it is `cursor: pointer`.

[2020-11-09 17:55] #1662 closed, assigned to nobody

[2020-11-09 18:37] #1638 closed, assigned to nobody

[2020-11-09 19:17] catarak commented on #1595
I would recommend trying to authenticate with the GitHub API outside of the context of the web editor to confirm your credentials work! You could write a small script to do this.

[2020-11-09 20:52] catarak commented on #1620
@vulongphan would you mind opening a pull request? You could make it a draft one so it's clear it's not ready to be merged. That would help me to help you figure out the issue!

[2020-11-09 21:11] aceslowman commented on #1663
Just got things running locally and it actually seems to work just fine on the `develop` branch! It looks like there was a PR for a CodeMirror update, maybe the fix was in there.

[2020-11-10 07:33] Swapnil-2001 commented on #1663
Hi @aceslowman @catarak.

Yes, the code folding works all along the width of the gutter, however the `cursor: pointer` mode kicks in only when we hover directly over the arrow. Would changing it to `cursor: pointer` along the whole width of the gutter solve this? If so, I'd be happy to work on it.

[2020-11-10 12:00] vulongphan commented on #1620
Hi @catarak , I have created a draft pull request. However I am running into this problem: when I run `git rebase upstream/develop` I got `Current branch non_English_filenames is up to date`, but my forked version says it is 47 commits behind the `processing:develop` branch. Do you have any suggestions so that I can solve it?

[2020-11-10 13:52] vulongphan commented on #1595
Hi @catarak, I wrote a script to check my credentials and I realized that (yes, I should have realized earlier) the credentials I created previously are for a Github app, while the correct credentials should be for an Oauth App. Hence, I have been able to run the `fetch-examples` successfully. If @ricknjacky does not mind, could I work on this issue?

Also, do you think that we should update the [

[2020-11-10 18:03] catarak commented on #1663
I think it's okay to leave it as is. I'm going to mark this as fixed.

Fixed by #1660.

[2020-11-10 18:03] #1663 closed, assigned to nobody

[2020-11-11 02:27] MohdImran001 commented on #273
Hi @catarak, I'd like to work on it.

[2020-11-12 12:32] ulrichformann opened #1671 "Add "keep me logged in" checkbox"
#### Feature enhancement: Add option to make login _permanent_ instead of _session_ based

- Existing feature enhancement

#### Feature enhancement details:

After somebody closes their browser, they are automatically logged out. Wouldn't it make sense to have a checkbox at login that lets you _stay logged in_? If this is a requested feature, I would be more than happy to work on it.

[2020-11-12 21:43] catarak commented on #1620
I would suggest trying merging rather than rebasing?

[2020-11-12 22:04] catarak commented on #1595
That makes sense to me! I think that there have been some changes to the GitHub API since I started this project, and maybe there wasn't a distinction between OAuth Apps and GitHub Apps then?

[2020-11-12 22:05] catarak commented on #273
@MohdImran001 go ahead!

[2020-11-12 22:17] catarak commented on #1671
Thanks for the suggestion! Related to #446. I think this is a great idea and feel free to work on it!

[2020-11-13 16:15] vulongphan commented on #1620
@catarak Through the experience with solving this issue, I have a question regarding the contribution to Processing/p5-web-editor:
So the forked version of the p5-web-editor has some errors regarding the `PropTypes` on my local machine. Hence, in order to run the program I need to make some changes (i.e: change the `Proptypes`), let it be A. Then to solve the issue (i.e: [Issue #1620](https://gith

[2020-11-13 16:54] catarak commented on #1620
I think the reason you're seeing all of the `PropTypes` errors is because you're using a different version of Node/React/etc. In the installation instructions it says to use Node version `12.16.1`. I don't know why this happened, but it seems like when you ran `npm install`, it upgraded the minor/patch versions of the libraries (I see the changes in `package.json` and `package-lock.json`. I think

[2020-11-14 03:03] koji opened #1673 "Need to remove console.log() from i18n.js"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Actually, this is not a bag, but my fault. I forgot to remove `console.log` from i18n.js when I worked on #1664.

Just need to remove the console.log from `i18n.js`
I will open a new PR for this issue.

[2020-11-14 03:10] koji opened #1675 "Adding more info to Technical Part is useful?"
#### Nature of issue?

- Edit the document

#### Details about the bug:

I just finished the Japanese translation. I thought maybe adding more details could be helpful for contributors to focus on translation itself.
What do you think?

If you think this can be useful for contributors, I'm happy to open a new PR for this.

The current idea is the following.
### Adding a new item to Nav.jsx
[code]

[2020-11-14 09:13] vulongphan commented on #1620
Hi @catarak, I have been able to switch to Node v `12.16.1` and when I switch to branch `bug/non-english-names` it works well for me and I can see the change in the file uploading. This will definitely help me a lot in the long run.

Thank you so much for your help! So should we close this issue?

[2020-11-14 11:51] idontknowjs opened #1676 "Bad Gateway Error 502 on viewing a deleted sketch"
#### Nature of issue?
- Found a bug

#### Details about the bug:
When viewing a deleted sketch, instead of showing Page 404 not found
It's redirecting to cloudflare and showing 502 Bad gateway error

![image](https://user-images.githubusercontent.com/53327173/99146387-a121cd00-269d-11eb-901f-c224caf06127.png)

- Web browser and version: Chrome
- Steps to reproduce this bug:
Visit: https://editor.p

[2020-11-15 05:06] bandaloo opened #1677 ""Duplicate Sketch" button broken"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Using "duplicate sketch" from the dropdown in "my sketches" doesn't duplicate the sketch; instead an uncaught error in promise appears. (Maybe I'm doing something wrong?)

![Screen Shot 2020-11-14 at 11 55 10 PM](https://user-images.githubusercontent.com/18533407/99170502-5623ac00-26d5-11eb-9536-43c0252018e2.png)

- Web browser and

[2020-11-15 05:12] bandaloo commented on #1677
I found a workaround for myself: going to File > Duplicate works from within the editor:
![Screen Shot 2020-11-15 at 12 11 01 AM](https://user-images.githubusercontent.com/18533407/99171451-2b3a5780-26d7-11eb-8a39-1f83ff86fe07.png)

[2020-11-16 06:41] vulongphan opened #1679 "Credentials for Github Apps cannot be used to download examples sketch for p5 user in local development"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Operating System: MacOSX
- Steps to reproduce this bug:
  Create a Github Apps using your Github Account
  Fill in the `.env` file using your Credentials for Github Apps
  Then execute `npm run fetch-examples` to download the examples for a user p5
  There will be an error saying `401 - Bad Credentials`

[2020-11-16 06:47] vulongphan commented on #1679
Hi @catarak, this is an additional issue I discussed with you in [#1595](https://github.com/processing/p5.js-web-editor/issues/1595) regarding the credentials issue with a Github App. In my PR I updated the installation guide so that other people will not run into the same issue as me.

[2020-11-16 06:48] vulongphan commented on #1679
Also @catarak  you can tell me if there is any problem with the document update.

[2020-11-16 06:53] vulongphan commented on #1595
@catarak Is it fine if I work on this shaders code issue since there hasn't been any update?

[2020-11-16 17:28] #1673 closed, assigned to nobody

[2020-11-16 17:40] catarak commented on #1675
I think this makes sense to add to `translations.md`! Go ahead and update it and open a PR 😄

[2020-11-16 17:41] catarak commented on #1620
@vulongphan this issue will automatically close when I merge #1672! Thanks for all of your help on this.

[2020-11-16 17:54] #1620 closed, assigned to nobody

[2020-11-16 17:56] catarak commented on #1676
Thank you for reporting! The server must be crashing rather than properly handling a deleted sketch.

[2020-11-16 18:13] catarak commented on #1679
Thanks for updating the documentation! I'll leave suggestions directly on your PR.

[2020-11-16 18:57] catarak commented on #1677
Thanks for reporting! I am able to reproduce. There must be something wrong with the way that duplicate is called from the Sketch List versus from the Navigation.

[2020-11-16 19:03] Swapnil-2001 commented on #1677
Hi @catarak , I would like to work on this, please.

[2020-11-16 19:06] catarak commented on #1677
@Swapnil-2001 go ahead!

[2020-11-16 19:15] Swapnil-2001 commented on #1677
Thank you! Could you please suggest a suitable place where I could start looking?

[2020-11-16 21:40] catarak commented on #1677
Yes! I would look at how the `cloneProject` action is being dispatched in [Nav.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/components/Nav.jsx#L196) versus in [SketchList.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/SketchList.jsx#L140) and figure out how they differ!

[2020-11-17 06:16] KKVANONYMOUS commented on #1676
@catarak I was able to reproduce the issue and would love to work on it.

[2020-11-17 07:19] KKVANONYMOUS commented on #1676
@catarak I have created a PR addressing this issue. Please review it and suggest any changes for the same, if any.

[2020-11-17 08:55] vulongphan commented on #1595
@catarak I am so sorry for mentioning you in many different issues and PRs. I think that is why you missed my comment on this issue. I just want to know if this issue still needs to be worked on and whether I can work on it.

Thank you!

[2020-11-17 18:08] #1675 closed, assigned to koji

[2020-11-17 19:11] catarak commented on #1595
No worries! Yes you can go ahead and work on this 😄

[2020-11-17 19:16] #1676 closed, assigned to nobody

[2020-11-18 05:33] KKVANONYMOUS commented on #1514
@catarak
I want to work on this issue. Can you please guide me through

[2020-11-18 07:27] deepakbabu-vine commented on #1634
I am using Mac catalina,I am able to open it,but it loads for sometime

[2020-11-18 07:59] Ashwin236 opened #1685 "console not printing anything"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-11-18 13:06] Wildernesss commented on #1685
Hi everyone,

Same problem... That is recent. In p5.js online editor, the print() function does not work anymore in the console panel of the editor. The problem happens only into p5.js editor console. Print() still write into browser console.

It would be great if this could be corrected soon :o)

Thanks a lot.

Laurent

[2020-11-18 22:06] JD-RD commented on #1666
Yes, everything seems to work properly. I will look into how to do a proper PR asap :-)

Great!

[2020-11-19 00:51] #1679 closed, assigned to vulongphan

[2020-11-19 00:52] catarak commented on #1514
Yes! I believe in order to get these errors to appear, you'll need to update React. You don't need to upgrade to React 17, just the latest minor/patch in v16.

[2020-11-19 04:03] catarak commented on #1685
Thanks for reporting! This should be fixed now. This is due to a feature I have been working on (interactive console!!!) that only breaks on production (locally and on the staging URL it works perfectly 😠 ). Fixed by https://github.com/processing/p5.js-web-editor/pull/1684

[2020-11-19 04:03] #1685 closed, assigned to nobody

[2020-11-19 04:05] catarak commented on #1666
Let me know if you need any help or support!

[2020-11-19 07:42] Wildernesss commented on #1685
Thanks so much Cassie for your very quick reaction and fix! And for all your work and thanks also to other peope working on p5.js and this editor. Really great tools!

Laurent

[2020-11-19 12:44] KKVANONYMOUS commented on #1514
Hi, @catarak I have checked all the above specified files and found that only **ResetPasswordForm.jsx** shows the error related to `array.isRequired` and `object.isRequired`.
So should I make a PR disabling these lines using `// eslint-disable-line` ?

[2020-11-19 19:47] catarak commented on #1514
You could do that, but I think a better fix would be to update React and then to actually fix the PropType errors rather than hiding them with `// eslint-disable-line`.

[2020-11-19 19:56] #1677 closed, assigned to nobody

[2020-11-19 21:22] catarak opened #1687 "Source maps missing"
#### Nature of issue?

- Found a bug

#### Details about the bug:

The webpack configuration is not currently building source maps, which makes it really hard to debug code in production. Necessary to fix #1684.

[2020-11-19 21:28] #1687 closed, assigned to catarak

[2020-11-20 13:07] Swapnil-2001 opened #1689 "Mobile UI - Deploy Initial Version to Production"
Hi @catarak , I understand @ghalestrilo and you made significant progress towards creating a mobile friendly UI as part of this year's GSOC. Nonetheless, I was wondering if there is still something to contribute on that front. If so, I'd be interested to work on it.

Thanks!

[2020-11-20 17:20] catarak commented on #1689
Yes! @ghalestrilo did such awesome work 😄 I would recommend as a first step just running the mobile version locally on your computer, but adding the environment variable (to your `.env` file) `MOBILE_ENABLED=true`. If you want to use it on a phone, I recommend using something like [ngrok](https://ngrok.com/), because you'll need an https url in order to test it. It definitely doesn't cover all fea

[2020-11-21 06:42] KKVANONYMOUS commented on #1514
Hi @catarak I have fixed all the PropType errors in the above files by replacing `PropTypes.object.isRequired` with `PropTypes.objectOf(PropTypes.shape())`
If you find it correct I will create a PR for the same.

[2020-11-21 10:41] Swapnil-2001 commented on #1689
Okay, no worries😄
Then I'll get it running locally and test it!

[2020-11-21 16:59] ankitpal1029 commented on #1671
can i work on this ? @ulrichformann if you aren't on it already

[2020-11-22 10:02] vulongphan commented on #1595
@catarak I have been able to add text content to the `.frag` and `.vert` files. However, I am not sure if my solution is of the best coding practice. Could you please have a look?

[2020-11-22 17:37] ulrichformann commented on #1671
@ankitpal1029 yeah sure

[2020-11-23 16:47] catarak commented on #1514
That works!

[2020-11-24 13:07] vulongphan commented on #1651
Hi @catarak, I would like to work on this issue. I really think that this is an important feature to be implemented since the same feature is very useful in desktop app Processing.

At the first glance, I believe an intuitive approach would be to figure out how to create a pop-up window and then how to sync the sketch in the preview section with the sketch in the pop-up window. How do you think ab

[2020-11-24 16:36] catarak commented on #1651
I agree that this would be a great feature to have! Before it can happen, I think some infrastructure needs to happen first, specifically, moving sketch updates to use CRDT's (see some of the discussion in #1337).

[2020-11-24 17:03] #1595 closed, assigned to nobody

[2020-11-24 17:08] catarak opened #1693 "Refactor `fetch-examples` script to only use async/await"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

The file [`examples.js`](https://github.com/processing/p5.js-web-editor/blob/develop/server/scripts/examples.js) has been edited by many people over the years and could use a refactor. It uses callbacks, Promises, and async/await, and I think that it should be refactored to just use async/await.

[2020-11-24 17:52] Swapnil-2001 commented on #1693
Hi @catarak can I take up this issue please?

[2020-11-24 18:48] catarak commented on #1693
@Swapnil-2001 absolutely!

[2020-11-25 18:55] #1514 closed

[2020-11-27 12:06] vulongphan commented on #1651
I figure in order to change how the sketches are saved and to apply CRDT I need to spend more time researching and to have a better understanding of the codebase. In the meantime, anyone can freely work on this issue!

[2020-11-29 00:36] iKittyCode opened #1695 "When pressing backspace key web editor does some backspaces that I don't want it to do"

[2020-12-01 14:30] Kaushal-Dhungel opened #1698 "Too many warnings while compiling the code on a local machine."
#### Details about the bug:

This is not actually a bug but a lot of warnings can be seen while running the code on a local machine. There are a lot of imports that are not used in the code. For example:-

![image](https://user-images.githubusercontent.com/57295839/100753096-5b8c3080-340f-11eb-945e-4fb9dfd25c16.png)

in the given image you can clearly see that there are many unnecessary imports du

[2020-12-02 17:16] catarak commented on #1695
Thanks for reporting! Can you describe what's happening in more detail? Like adding your browser/operating system, steps to reproduce, and so on.

[2020-12-02 17:24] catarak commented on #1698
Thanks for reporting! I agree that these are annoying and it would be great to them.

[2020-12-02 18:06] SundeepChand opened #1699 "Improve keyboard accessibility of the find-replace popup"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Hello @catarak, sorry for being AFK for quite a while. Since the find & replace feature has been released, I think the order in which the input fields on the popup are accessed on Tab presses can be changed for better UX. I would like to work on this.

[2020-12-02 20:15] catarak commented on #1699
Yes! Absolutely.

[2020-12-03 03:16] Kaushal-Dhungel commented on #1698
I would like to work on it. Can I take this??

[2020-12-03 12:05] vulongphan commented on #1422
@catarak I want to work on this issue, but could you please elaborate on the edge case (i.e: the instance mode)?

Thank you!

[2020-12-03 14:25] abhieshekumar opened #1701 "Adding Hindi as a part of i18n."
#### Nature of issue?

- Existing feature enhancement

I will like to add Hindi to as a part of i18n.

[2020-12-03 14:39] SundeepChand commented on #1701
@abhieshekumar That's a great idea.

[2020-12-03 14:44] abhieshekumar commented on #1701
Yes @SundeepChand. Let's see if the idea gets approved.

[2020-12-03 18:15] catarak commented on #1698
@Kaushal-Dhungel absolutely!

[2020-12-03 18:52] MohdImran001 commented on #273
Hi @catarak, please review my PR.

[2020-12-04 01:06] iKittyCode commented on #1695
safari and chrome is my browser

[2020-12-04 04:09] da091005 opened #1702 "mousePressed/touch"
#### Nature of issue?

- Found a bug

#### Details about the bug:
In both the mousePressed() and touchStarted functions, the mousepress/ touch is not constrained to within the canvas element. If I click anywhere on the page it calls that function. I don't know if this is a known "feature" but the example pages for both say to "click within the image to change the square's value"

I know that I can

[2020-12-04 04:15] da091005 commented on #1702
Additionally, when running the code in the web editor on my phone it registers a touch, but when viewing it in full mode, it doesn’t register a touch.

[2020-12-04 17:44] catarak commented on #1695
Okay! I'm still not sure what exactly the issue is that you are reporting—can you describe in more detail what's happening and the steps to reproduce? If I can't understand the issue then I can't fix it.

[2020-12-04 18:48] #1693 closed, assigned to nobody

[2020-12-04 18:55] catarak commented on #1702
Thanks for reporting! I think you're reporting two separate issues here, the first one is a question about how the p5.js library itself functions, and the second one is a bug with the p5.js Web Editor. Would you mind opening a new issue about the bug you're reporting? I'm going to transfer this issue to the p5.js repository 😄

[2020-12-04 19:42] catarak commented on #1422
Revisiting this issue, I'm not sure which direction to go in! Part of me really likes the simplicity of the play/pause buttons, and adding a pause could be confusing—like what does a "pause" really mean in this context? Taking an image of the canvas on hitting stop is also more complicated than it sounds—what if the sketch adds other DOM elements besides the canvas? The editor could take an image

[2020-12-04 19:45] catarak commented on #1701
This is a great idea! There are actually more web editor users in India than in English-speaking countries, so I think this is super important.

[2020-12-04 20:03] abhieshekumar commented on #1701
Great. I have gone through the steps on adding a new language and will start the process.

Thank you.

[2020-12-05 01:08] koji commented on #1701
@abhieshekumar
https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/translations.md#technical-part

Recently, I added Japanese translations and update the translations guide.
I'm happy to support you if you need something from me since my Indian friends have helped people to learn programming via p5js.

[2020-12-05 16:27] iKittyCode commented on #1695
So when I press backspace it starts automatically backspacing things I don't want it to backspace

[2020-12-06 07:30] Kaushal-Dhungel commented on #1698
While solving this issue, after performing my first commit, I saw another eslint warning "Line X exceeds the maximum line length 120 max-len".
![image](https://user-images.githubusercontent.com/57295839/101274291-ce582b80-37c2-11eb-9c10-73bbf6bdbb6b.png)
I would like to solve that as well.

[2020-12-07 18:23] catarak commented on #1695
Thank you for your update, I really appreciate it! It unfortunately doesn't give me more context—you're simply restating the subject of the issue in different words. It's okay, writing a bug report is hard and takes practice! I am not experiencing this bug, so in order to figure out what's going on, I need specific details so that I can reproduce the issue and then fix it. Here are some resources

[2020-12-07 19:39] catarak commented on #1698
Go ahead!

[2020-12-08 07:33] abhieshekumar commented on #1701
There are several instances where instead of using the translated version of a word, the word's pronunciation can be written in Hindi.

For example 'Share' can be written either as -

- 'साझा करें' which is the actual Hindi translated equivalent of Share, or,
- 'शेयर' which is nothing but the pronunciation of the word 'Share' written in Hindi. One will pronounce both Share and शेयर in the same way

[2020-12-08 08:04] koji commented on #1701
@abhieshekumar
Actually, I used the words' pronunciation instead of translating because sometimes a translation doesn't really make sense to people.
I recommend you to get feedback from people who know both languages because I did that to make a decision.

[2020-12-08 08:10] abhieshekumar commented on #1701
Thanks @koji.

It is also pretty common to do the same here. A lot of websites/app use the same approach.

[2020-12-08 08:37] SundeepChand commented on #1701
Yeah @abhieshekumar, it makes most sense to use words' pronounciation wherever it is appropriate.

[2020-12-08 17:04] catarak commented on #1701
@abhieshekumar let me know if you need help soliciting feedback on the Hindi translation! I'm happy to post on p5.js/Processing social media, reach out to folks in the Processing India community, etc.

[2020-12-09 05:29] KKVANONYMOUS commented on #1548
@catarak I guess this issue has been solved by #1692

[2020-12-09 16:20] catarak commented on #1548
thanks for pointing that out!

[2020-12-09 16:20] #1548 closed

[2020-12-11 10:31] namanarora00 opened #1705 "Lag in bringing the cursor back to it's original postion after tidy operation."
#### Nature of issue?

Found a bug

#### Details about the bug:

There is a small lag in moving the cursor to its original position after the tidy operation. This I believe is because we wrap the function in a setTimeout which delays it.

[code]
Why do we need to use setTimeout here as the position to which we're bringing back the cursor is simply the old line number and character number.

- Web b

[2020-12-11 17:24] EthanHermsey commented on #1195
You've added it! That's amazing! I'm so happy with it, thanks! :D

[2020-12-11 19:29] catarak commented on #1195
Yay! Glad it's useful to you ✨

[2020-12-11 19:32] catarak commented on #1705
Thanks for reporting! Do you want to try to work on this one? You can try removing the `setTimeout` and see what happens—I believe the reason for adding it was that calling `setValue` (in the code above the lines you added) resets the cursor position, which could happen after `setCursor` is called without wrapping it in `setTimeout`.

[2020-12-11 20:39] iKittyCode commented on #1695
This is happening whenever i press the backspace key more than twice
Os x, chrome Os
No i do not

[2020-12-11 20:41] #1695 closed, assigned to nobody

[2020-12-11 22:08] #1699 closed, assigned to SundeepChand

[2020-12-12 04:18] KKVANONYMOUS commented on #1520
@catarak I would like to work on this issue. Can you please guide me on where to start?

[2020-12-12 13:11] namanarora00 commented on #1705
Hi @catarak, thank you for your response. I had a [conversation](https://discuss.codemirror.net/t/is-the-order-preserved-in-execution-of-doc-operations/2764) with the maintainer of codemirror and it seems we do not require `setTimeout` in this case. I tried removing `setTimeout` and using tidy and it seems to be working without any lag. Please let me know if it's fine and I can submit a PR.

[2020-12-14 16:27] catarak opened #1706 "Controlling canvas size in embedded iframe"
"I want to include some sketches in a blog-like article via the embed feature, so I am dealing with iframes. I am having trouble to automatically get the height of my sketch, as this is of course a cross-origin scenario, so I cannot read the canvas' height via JS.

"Is this something that could/would be solved by the API? As in: I would be able to access the sketch height via the API? Or are there

[2020-12-14 16:44] catarak commented on #1706
One thing that comes to mind is that you could, in the embedded sketch, set the canvas size to `windowWidth` and `windowHeight`, and then set the `width` and `height` of the iframes to how big you want the sketches to be.

If you wanted to access the canvas from outside of the iframe, you'd have to use the web messaging api (i.e. `window.postMessage` and `window.on("message")`) and then have a han

[2020-12-14 16:48] catarak commented on #1520
@KKVANONYMOUS sure! I would take a look at the [console-feed](https://www.npmjs.com/package/console-feed) library and see what styling attributes you can change.

[2020-12-14 16:49] catarak commented on #1705
@namanarora00 I'm glad it works! Go ahead and open a PR ✨

[2020-12-15 03:56] dacaldera opened #1709 "WebEditor Hangs with createVector in constructor"
- Found a bug

Chrome: version:  85.0.4183.83
MacOS Mojave 10.14.6

To reproduce the bug:
The hanging seems to be related to createVector when assigned inside the constructor, and then trying to call a method within the constructor that references the mentioned vector.

Here is the offending code snippet.

let pg;

function setup() {
  createCanvas(400, 400);
  pg = new PointsGroup();
}

class Poi

[2020-12-15 04:03] #1709 closed, assigned to nobody

[2020-12-15 04:05] dacaldera commented on #1709
Just found a mistake in the code which I think was causing the issue. Please disregard this  bug report.

[2020-12-15 11:55] m-e-l-u-h-a-n commented on #1591
Hi, @catarak can I try to fix this issue!
I am able to reproduce it, so can I try to fix it out?

[2020-12-15 12:01] m-e-l-u-h-a-n opened #1710 "Adding a tooltip to play and refresh buttons"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Although the use of the play and refresh buttons in the top left corners is pretty self explanatory, I think adding a `tooltip` can really help newcomers and new users who are trying to familiarize themselves with the web editor.

[2020-12-15 19:40] catarak commented on #1709
Glad you figured out the issue you were having!

[2020-12-15 19:59] catarak commented on #1591
@m-e-l-u-h-a-n yes! you can go ahead and work on this issue 😄

[2020-12-15 20:21] rt1301 commented on #1671
@catarak Is this issue still open? If possible can I work on it?

[2020-12-15 20:55] catarak commented on #1710
Thanks for the suggestion! My opinion is that they aren't necessary, as I think play and pause icons are really, really common. Feel free to reopen if you disagree!

[2020-12-15 20:55] #1710 closed, assigned to nobody

[2020-12-15 20:56] #1705 closed, assigned to nobody

[2020-12-15 22:13] catarak commented on #1671
@rt1301 it is! go ahead and work on it.

[2020-12-16 15:35] KKVANONYMOUS commented on #1275
@catarak If this is a legit issue, I would like to work on it

[2020-12-16 19:34] catarak opened #1711 "Change keyboard shortcut for tidy code"
@namanarora00: "Instead of deleting the keymap for Shift+tab, could we change the keyboard shortcut for tidy itself since Shift+Tab is a commonly used shortcut for unindenting?"

_Originally posted by @namanarora00 in https://github.com/processing/p5.js-web-editor/issues/1708#issuecomment-745754560_

[2020-12-16 19:37] catarak commented on #1711
It could be changed. I think I had originally decided to use <kbd>Shift</kbd> + <kbd>Tab</kbd> because that was what CodePen had used in the past, but I just checked and now they changed it to <kbd>Shift</kbd>+<kbd>Command</kbd>+<kbd>F</kbd>.

I think when I started this project 4.5 years ago, Visual Studio Code wasn't around, and now that it's gotten so popular, some of the common keyboard shortc

[2020-12-16 19:39] SundeepChand opened #1712 "Open/Close folders by clicking on folder names"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Currently the contents of a folder are shown/hidden by clicking on the arrow button provided on the left of the folder name. However, I think it would be more convenient (from user's perspective) to show/hide the folder contents by clicking on the entire div. What are your thoughts about this @catarak? Can I

[2020-12-17 00:08] catarak commented on #1275
Given UX conventions for checkboxes, I think all that needs to change is that the checkbox itself needs `cursor: pointer`. You can go ahead and open a PR that does that!

[2020-12-17 00:13] catarak commented on #1712
Thanks for the suggestion! This makes sense to me. Feel free to work on this issue!

[2020-12-17 05:25] namanarora00 commented on #1711
What about customizable keyboard shortcuts? Does it make sense to add this or is it a bit much? Let me know what you think.

Also, just curious, what editor did you use when you started the project? :)

[2020-12-17 14:03] m-e-l-u-h-a-n commented on #1591
@catarak I followed the dev-setup installation from [develop/developer_docs/installation.md](https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/installation.md) but when I start the development server using `npm start` and open it in browser, it opens fine. But I am not able to login in to the dev server the page is stuck as it is and no logs/errors are there in the console

[2020-12-17 16:18] kernelpanic77 opened #1715 "Using React-Joyride to create short tutorial of the website"
#### Nature of issue?

- New feature request

#### Feature enhancement details:
Tutorial for editor using react-joyride npm package.

![Screenshot from 2020-12-17 21-42-34](https://user-images.githubusercontent.com/42925218/102513393-29d2c500-40b1-11eb-9ac8-ae15fe5a71f7.png)

#### New feature details:
Using the react-joyride npm package we can create a way to guide new users to features of the web

[2020-12-17 17:49] catarak commented on #1711
I think adding customizable keyboard shortcuts doesn't make sense for this project. It feels to me like an advanced user feature, and the target audience for the web editor is beginner/intermediate folks. Instead I think it makes more sense to just pick a keyboard shortcut that feels conventional/common!

When I started this project, I was using Sublime Text, and switched to VSC a couple of years

[2020-12-17 17:51] SundeepChand commented on #1715
@MegaMind77-coder This sounds cool.

[2020-12-17 17:52] catarak commented on #1591
If you look at the API request for login (like in the Network developer tools) when you submit your username/password, is there an error code or does it return a 200 code?

[2020-12-17 18:41] m-e-l-u-h-a-n commented on #1591
Yes it did return a response code of 200 but, it also returned me following `TypeError` in the console:

![image for error](https://user-images.githubusercontent.com/63504956/102528765-fbf77b80-40c4-11eb-99cd-a9ec06ce09ee.jpeg)

Upon looking at line 66 in `actions.js` as suggested by the error console, I saw that execution did reached the catch block, because `error.response` was tried to be acces

[2020-12-17 19:08] kernelpanic77 commented on #1715
Yeah  @SundeepChand
@catarak  Can I be assigned to this issue ?
I will post a PR soon.

[2020-12-17 19:58] catarak commented on #1591
Thanks for looking into this! I'm able to reproduce the same error. I believe it was introduced by #1707—will try to fix this now.

[2020-12-17 20:51] catarak commented on #1591
Okay, I was actually able to figure this out! Turns out it's not an issue with #1707, it's an issue with the npm library `mongo-connect` and `mongodb+srv` urls. I'm going to open a PR and fix this!

[2020-12-17 20:58] catarak opened #1717 "Cannot Login to Editor"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:

1. Run the editor on your local machine
2. Navigate to Sign Up page
3. Enter new user, then submit
4. Form hangs, never navigates to `/`
5. Navigate to `/`, you are not logged in
6. Navigate to Login page, enter credentials, form hangs
7

[2020-12-17 21:05] #1717 closed, assigned to catarak

[2020-12-17 22:43] catarak commented on #1715
Thanks for the suggestion! I think this is a great idea. I believe there are open issues about this (see #806). That being said, before working on any code for this, I think this would need to be planned and designed. I have questions like:
- What do interactive tutorial experiences look like for other tools?
- How buried/available is the tutorial? Does the tutorial appear for all new users? Can i

[2020-12-18 07:09] kernelpanic77 commented on #1715
Yeah, this feature should be well-planned and designed.

- You should check out [https://circuitverse.org/simulator](url), click on the tutorial guide option from the help dropdown.
   It would create a similar tour.
- I think we should add the tutorial option to the help menu as you mentioned.
- The basic features can be mentioned in the tutorial.
  As you mentioned in the comments of #806, We ca

[2020-12-18 08:52] m-e-l-u-h-a-n commented on #1591
Thanks, @catarak for a really quick fix 😄 !

[2020-12-18 10:00] m-e-l-u-h-a-n commented on #1591
@catarak  I have checked for this issue and was not able to reproduce it in development mode. Although I can still reproduce it in the `editor.p5js.org` website. A summary of what I tried out(**In my development server**):

- After login I created a sketch and saved it's version-1(initial save).
- Then in another tab I opened the sketch's url along with `/index.html` appended to it.
-  And then I

[2020-12-18 15:14] cuspime commented on #1167
For several days I had been looking for a real answer. Thanks to this post (https://stackoverflow.com/questions/19318298/how-can-i-block-comment-code-in-the-ipython-notebook/54762141#54762141 ) I did!! It was as simple as a notebook extension on which you can customise the comment command!!!

Lovely!

[2020-12-18 22:23] #1275 closed

[2020-12-23 14:36] vulongphan commented on #1711
@catarak if you don't mind I will work on changing the current <kbd>Command</kbd> + <kbd>Tab</kbd> to <kbd>Command</kbd> + <kbd>Shift</kbd> + <kbd>T</kbd> for tidying code

[2020-12-24 13:02] rt1301 commented on #1701
@abhieshekumar  If possible I would also like to work on this. I am also from India and am proficient in the Hindi Language

[2020-12-24 15:40] hydrosquall opened #1720 "[Developer Experience] Use Github Actions to providing linting feedback on PRs"
#### Nature of issue?

- New feature request (This would likely reuse #861 )

#### New feature details:

- Setting up https://github.com/marketplace/actions/lint-action would give developers feedback immediately if their change introduces a regression in formatting. This would prevent the need for commits like https://github.com/Kaushal-Dhungel/p5.js-web-editor/commit/d444aca7a2627d4f4f741d5478ab4

[2020-12-24 16:03] hydrosquall commented on #1720
Ah I see that https://travis-ci.com/github/processing/p5.js-web-editor/jobs/456150755 exists, perhaps the issue was more about what mismatches constitute "warnings" vs "errors".

With that said, it may be worthwhile to migrate anyways given that the future of open source plans in Travis seems uncertain- I migrated the CI for my own project a few weeks ago for this reason.

https://github.com/hydro

[2020-12-25 13:28] abhieshekumar commented on #1701
@rt1301 sure thing. I have already done the ```initial setup``` and am adding translated strings. You may go through the changes that I have made [here.](https://github.com/processing/p5.js-web-editor/compare/develop...abhieshekumar:i18n-hindi)

The task now is to add the remaining translations. We can split that based on the structure of the ```translations.json``` file. For example you may choos

[2020-12-25 13:36] rt1301 commented on #1701
@abhieshekumar  That's great! I'll look into the PR that you have made and try to start working on the strings below keyboard shortcuts for now

[2020-12-25 14:07] abhieshekumar commented on #1701
Ok. @rt1301 I have made a list of keys which still need translation.

1. DashboardView
2. CollectionCreate
3. AddtoCollectionList
4. Collection
5. CollectionView
6. ShareModal
7. FileUploader
8. UploadFileModal
9. Searchbar
10. Feedback
11. AssetList
12. EmailVerificationView
13. APIKeyList
14. AccountView
15. NewFolderModal
16. NewFileForm
17. NewFileModal
18. IDEView
19. FileNode
20. Sidebar
21.

[2020-12-25 14:27] rt1301 commented on #1701
@abhieshekumar  Ok I'll do the ones from 13-26.

[2020-12-31 17:43] nickmcintyre opened #1721 "Heroku deployment is broken"
Hello! I tried launching a version of the Editor on Heroku yesterday but ran into an error with the (now defunct) mongolab addon.

![mLab error](https://user-images.githubusercontent.com/3719176/103416965-73f68480-4b4e-11eb-9ff6-8f0a5ab48e5d.png)

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox 84
- Operating System: macOS Catalina
- Steps to r

[2020-12-31 17:43] MohdImran001 commented on #625
Hey @catarak, Can I work on it.

[2021-01-01 20:03] rt1301 opened #1724 "Navbar prop 'isUserOwner' is marked as required, but its value is 'undefined' - Jest Error"
#### Nature of issue?

- Found a bug

#### Details about the bug:
While running `npm run test`, the following error is shown :

- Operating System:  Windows 10 (64-bit)
- Steps to reproduce this bug: run the command `npm run test` in the command line

![Navbar-err](https://user-images.githubusercontent.com/63252510/103445469-70701400-4c9a-11eb-8d30-a0fcccb2cb48.png)

[2021-01-02 00:48] carterjohnson opened #1725 "Lost a file"
Hi. I was working online on a short project yesterday and now it isn't in my sketches.

My username is **_carterjohnson_**, and the sketch name was **_missile_**.

One of the assets of the project is present in my assets, however, but with a different name. Its name in my assets is:
**02241f7f-7413-490b-9f34-c745dee1c345.png**

I'd appreciate some help if possible.
Thank you.

[2021-01-02 08:37] SundeepChand opened #1726 "The project open in editor does not reset upon logout."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome (Version 87.0.4280.88 (Official Build) (64-bit))
- Operating System: Windows 10 (64-bit)
- Steps to reproduce this bug:
    1. Log in to the web editor.
    2. Open any sketch project.
    3. Now logout.
    4. The project remains open (while the expected behaviour is that it would create a

[2021-01-03 10:43] abhieshekumar commented on #1701
@rt1301 (#1723) and I (#1703) have added the translations. @catarak take a look at it. Some feedback on the translations will definitely help to address any issues. Thank you.

[2021-01-04 23:04] catarak commented on #1711
You can go ahead and work on this @vulongphan! I would recommend changing the shortcut to <kbd>Command</kbd> + <kbd>Shift</kbd> + <kbd>F</kbd>. I would also make sure that you remove the changes from aa2bc5d.

[2021-01-04 23:58] catarak commented on #1720
Thanks for opening this issue! `husky` linting hooks got added to this project so that linting errors aren't getting committed to this project anymore. I'm also in the process of adding `prettier` which will also help with linting issues.

I didn't know that Travis had changed their open source pricing—I'm going to reach out to them right now to see if we can get some credits!

[2021-01-05 11:50] TireOnFire commented on #798
i got the same problems dude!!

[2021-01-05 18:35] catarak commented on #1721
Thanks for reporting!

[2021-01-05 18:44] catarak commented on #625
@MohdImran001 go ahead! If linting is removed from webpack, then I think prettier should def be added to this project (#861) which I am working on 😄

[2021-01-05 18:45] catarak commented on #1724
Thanks for reporting! I am able to reproduce.

[2021-01-05 19:44] catarak commented on #1725
I'm really sorry that happened! Unfortunately I'm not sure I'm going to be able to recover your sketch. Can you give me more details about what you were doing and when you noticed it was missing?

[2021-01-05 19:52] catarak commented on #1726
Thanks for reporting! I think it makes sense to make this change.

[2021-01-05 19:55] catarak commented on #1701
@abhieshekumar are the translations ready to be reviewed? If so, let's figure out a way to combine the two PRs—I think it will be easier to review that way!

[2021-01-05 19:57] abhieshekumar commented on #1701
Yes @catarak, the translations are ready to review.

[2021-01-06 14:25] Swapnil-2001 commented on #1724
Hi @catarak I would like to work on this please. Could you suggest where I should start looking?

[2021-01-07 04:01] SundeepChand commented on #1724
Hi @Swapnil-2001 . The test for `client/components/Nav.jsx` is written in `client/components/__test__/Nav.test.jsx`

[2021-01-07 05:32] braxtondb opened #1728 "Script reverts to old version"
Found a bug.

- Web browser and version: Chrome, 87.0.4280.88 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10
- Here's what _I_ did, but I don't know if it is all required:
1. Go to one of your scripts
2. Make some changes - I coded for a good hour or two
3. Save profusely while editing
4. When finished making changes and you are satisfied, it shows as saved and you shoul

[2021-01-07 08:25] pwab commented on #1156
Hey @catarak was there any progress regarding this issue since your last post?

I went from [the wiki](https://github.com/processing/p5.js/wiki/Embedding-p5.js) to the [p5.js-widget](https://github.com/toolness/p5.js-widget) which seems to be exactly what I'm searching for. The widget seems to be abandoned (https://github.com/toolness/p5.js-widget/issues/77) - at least it is quite outdated.

Was a

[2021-01-07 16:12] Swapnil-2001 commented on #1724
Thanks @SundeepChand, I'll start working from there.

[2021-01-07 17:54] njberman opened #1731 "Open file when created"
#### Open a file when it is created

- New feature request

#### New feature details:
When a file is created:
![image](https://user-images.githubusercontent.com/67945050/103926689-2a3f0880-5111-11eb-8671-ebdb488e11a1.png)
<br>
It doesn't open that new file.
<br>
The request is to make it open the new file when the file is created

[2021-01-09 16:32] MohdImran001 commented on #625
Hey @catarak, since Webpack v5 has been released. I would like to know whether I should migrate it to v5 or v4.

[2021-01-11 17:12] catarak opened #1733 "Migrate Travis CI configuration to GitHub Actions"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

As reported in https://github.com/processing/p5.js/issues/4982, Travis CI builds were disabled for the p5.js Web Editor, the p5.js website, and p5.js sound. I've decided it makes sense to migrate from Travis to GitHub Actions to mitigate hosting costs.

[2021-01-12 19:35] pedroAlTo opened #1734 "Keyboard input only affect interface elements not canvas."
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

In my profile at least, I can't test keyboard inputs as it seems I can't focus on the canvas, no matter what I do.
In the next example there's a exercise I had to do for a project in university (but it

[2021-01-13 17:18] #1733 closed, assigned to catarak

[2021-01-16 07:27] KKVANONYMOUS commented on #1520
@catarak I looked for a way to solve this issue in `console-feed` documentation but could not find anything useful.
I tried changing certain Table related attributes, but nothing happened.
If you know some way out of this, please let me know.

[2021-01-16 23:23] LABCAT commented on #1331
For anyone looking looking for the answer to this watch the following video from the 14:30 mark:
https://www.youtube.com/watch?v=x1rJJRVTpAI

[2021-01-17 16:33] da091005 opened #1737 "Canvas Layers incorrect when height >425 using WEBGL"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Safari
- Operating System: IPad Pro IOS 14.3
- Steps to reproduce this bug: When using WEBGL, if you set the height >425 the layers of the canvas get messed up when trying to use text.

 https://editor.p5js.org/UnOriginalPun/sketches/0yGE68Xok

![7945A4CD-2E05-466B-846C-ADE796822039](https://user-images.

[2021-01-17 16:38] da091005 commented on #1737
After checking further, it is not specifically 426. Because it works on 427, but then 428-440 don’t work and then 441 works again.

[2021-01-19 04:06] KKVANONYMOUS commented on #1737
@da091005 I am not able to reproduce the issue. It seems to be working fine on my machine.
- Web Browser: Chrome
-  Operating System: Windows 10

[2021-01-19 08:26] da091005 commented on #1737
@KKVANONYMOUS I am also able to view it correctly using Chrome & Windows 10.

But, on both Safari & Chrome on my IPad, the issue is there.

[2021-01-19 08:54] markogrady1 commented on #1724
can i fix this, unless its still being worked on?

[2021-01-19 11:52] vulongphan commented on #1711
@catarak could you please check my PR :blush:

Thank you!

[2021-01-20 06:42] Swapnil-2001 commented on #1724
Hi @markogrady1, I intended to fix this but got caught up in other work. You can take it up if you wish.

[2021-01-20 07:06] da091005 opened #1738 "Image caching breaks sketches in production"
#### Nature of issue?

- Found a bug

#### Details about the bug:
When uploading a file, it is immediately available when using loadImage with the file name explicitly typed as the argument.

Additionally if you use a variable where the file name is explicitly set as the variable, loadImage works immediately after upload.

BUT: if you “build” the variable ie file=‘files/upload’ + i + ‘.jpeg’; load

[2021-01-20 09:22] markogrady1 commented on #1724
nice one. I will work on this @Swapnil-2001 if thats ok @catarak

[2021-01-20 22:01] catarak commented on #1728
Hey @Novarender, thanks for reporting and I'm super sorry that happened! That sounds really, really frustrating. I believe the solution here is implementing adding changes to sketches using CRDT's (see recommendation [here](https://github.com/processing/p5.js-web-editor/issues/1337#issuecomment-616817323)), as opposed to simply replacing the entire contents of the JS/CSS/HTML/etc. file. This would

[2021-01-20 22:06] catarak commented on #1731
Thanks for the suggestion! I think this behavior makes sense—this what happens in VSC, Glitch, etc. @rikdewit I see that you're working on this, which you can keep doing 😄

[2021-01-20 22:09] catarak commented on #1156
Hey @pwab, unfortunately there hasn't been any progress on this! I believe what you're suggesting is different from what this issue is discussing, which is hosting your own instance of the web editor (like at a different URL). What you are suggesting is being able to embed a mini version of the web editor within a website—feel free to open a new issue!

[2021-01-20 22:17] rikdewit commented on #1731
Thanks for responding! This is my first try on a pull request, so I had some problems rebasing from and into the right branch. I hope this is helpful.

[2021-01-20 23:01] catarak commented on #625
If we're going to put in the work to migrate, I guess it should be to Webpack v5, right? Unless migrating to v4 should happen first.

[2021-01-22 11:15] Wildernesss opened #1741 "Cannot upload or create .xml file into editor.p5js"
Hi everyone,

Teaching the different data file format, I need to upload a .csv, .json and .xml file into p5.js web editor. Doing this, the editor  gives an error message (after upload trial) : 'You can't upload files of this type'. When trying to create an empty .xml file, the editor says: 'Invalid file type. Valid extensions are .js, .css, .json, .txt, .csv, .tsv, .frag, and .vert.' So it's impos

[2021-01-26 04:23] duskvirkus opened #1742 "Highlighting Text with a Mouse Drag Cause Text to Become Unreadable in High Contrast Mode"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Don't know if this actual qualifies as a bug but I found it somewhat annoying. And I think it makes it harder to use the UI when you can't see the selected text.

Bug might appear in other places or in other themes but I don't have the time at the moment to investigate more.

- Web browser and version: Firefox 84.0.2 (64-bit)
- Ope

[2021-01-26 04:32] duskvirkus commented on #1742
Update: I found another text box with the same issue. Happens when renaming a sketch.

https://user-images.githubusercontent.com/43045568/105800777-c3b14b80-5f54-11eb-9274-c562f43b8e60.mp4

[2021-01-26 23:40] catarak commented on #1734
Thanks for reporting! This is actually an error in your sketch: on line 89, you have `return: false` from the function `mousePressed()`, which prevents the default behavior for pressing the mouse on the canvas, which is to move the focus to the canvas. If you remove this line, then you can focus on the canvas.

[2021-01-26 23:40] #1734 closed, assigned to nobody

[2021-01-26 23:53] catarak commented on #1520
This issue might unfortunately take some digging into the console-feed code—my next approach would be to look into how console.table is implemented, and figure out which of the variables listed in [Styles.d.ts](https://github.com/samdenty/console-feed/blob/master/src/definitions/Styles.d.ts) it depends on. Another approach might be to change some CSS outside of console-feed.

[2021-01-26 23:55] catarak commented on #1737
Thanks for reporting! I believe this is a p5.js issue and not one with the web editor, and therefore I'm going to transfer this issue over there 😄

[2021-01-27 19:47] #861 closed

[2021-01-27 20:21] #1698 closed, assigned to nobody

[2021-01-27 20:23] catarak commented on #1720
Fixed via #1735.

[2021-01-27 20:23] #1720 closed, assigned to nobody

[2021-01-29 03:51] WenhaooWuu opened #1746 "Cannot Load the Web Editor"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-01-29 03:54] WenhaooWuu commented on #1746
I am a student who tried to learn to code with p5js whereas I found out that though having changed multiple browsers as well as computers, the web editer could not even load. Wonder what is the problem.

[2021-01-29 20:22] catarak commented on #1746
Thanks for reporting! Are you able to open the browser console and see if there are any errors? Also, are you located someone that restricts Internet traffic? Maybe the web editor is using a hosting service that you cannot access.

[2021-01-29 20:40] catarak commented on #1701
Fixed by #1703.

[2021-01-29 20:55] catarak commented on #1742
Thanks for reporting! I think this is an operating system level setting. It looks different (as in, it's legible) on my Mac, or if I go on BrowserStack and try it on Windows. Are you able to change this in your Linux OS settings?

[2021-01-29 21:20] #1731 closed, assigned to nobody

[2021-01-29 21:24] catarak commented on #1741
Thanks for reporting! You are right, this is a bug. Luckily, it's a simple fix—this file extension just needs to be whitelisted.

[2021-01-30 14:01] Wildernesss commented on #1741
Thanks a lot for your quick answer Cassie! Glad to know it's just a very small bug and it could be resolved easily without to much effort.

By the way, I've just observed that it is also not possible to create or rename a file with **.html** extension. It can be usefull to have the possibility to add .html pages to a project, in order to show and let students experiment the opportunity of differen

[2021-01-30 14:51] SundeepChand commented on #1741
Hello @catarak. Can I work on this?

[2021-01-31 18:11] setanarut opened #1748 "Feature Request: prefers-color-scheme"
#### Nature of issue?

- New feature request

#### Feature enhancement details:
The site does not respect the [system preference](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) Also site turns to light mode with each page refresh.

#### New feature details:
use [prefers-color-scheme ](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) for d

[2021-01-31 18:18] hazarek commented on #1748
I prefer to wait for someone alive. stupid robot.

[2021-02-01 21:13] catarak commented on #1741
@SundeepChand yes! go ahead

[2021-02-01 21:20] catarak commented on #1741
@Wildernesss I'm going to break out the HTML file issue into a separate issue.

[2021-02-01 21:21] catarak opened #1749 "Cannot create new .html file in editor"
_Originally posted by @Wildernesss in https://github.com/processing/p5.js-web-editor/issues/1741#issuecomment-770216900_

I've noticed that you can upload an html file and rename them, but you cannot create an html file. I believe this is because it's missing from the variable TEXT_FILE_REGEX.

[2021-02-01 22:23] #1726 closed, assigned to SundeepChand

[2021-02-01 23:56] duskvirkus commented on #1742
@catarak I think you're right it does look like a os level problem. I did some research and it looks like it can still be set in css it just overrides the system default.

I found this: https://www.w3docs.com/snippets/css/how-to-change-the-default-text-selection-color-with-css.html

And did a simple test:

https://user-images.githubusercontent.com/43045568/106532493-81848e80-64ad-11eb-8730-c3a8ebb

[2021-02-02 04:59] MohdImran001 commented on #1749
@catarak, I would love to work on it.

[2021-02-02 20:17] catarak commented on #1742
@violetcraze thank you for looking into this! I didn't realize you *could* change the selection text with CSS. I think it would make sense to choose a selection color for each theme that is WCAG AA compliant for light and dark and WCAG AAA for high contrast.

[2021-02-03 09:18] Giulia9244 opened #1753 "Delete p5.js account!"
Good Morning,

I'm desperately trying to delete my p5.js account, anybody can help me?
I don't get why on the p5 website there isn't any possibility to delete the account, I'm so angry about that...

Thank you guys!
Giulia

[2021-02-03 09:20] Giulia9244 commented on #1753
HOW?

[2021-02-03 17:55] stalgiag opened #1754 "Sort by size and multiselect in asset manager"
#### Nature of issue?
- Existing feature enhancement

#### Feature enhancement details:

Apologies if this is a duplicate. I did a cursory look.

Can sort-by-size and multi-select functionality be added to the asset editor? I end up duplicating a lot of student sketches and running out of asset space quickly. I make my best effort to clear up asset space but I find it too arduous and instead make

[2021-02-03 18:30] catarak commented on #1753
Hi @Giulia9244! Apologies that there's not currently a way to delete your account through the website; however, I can do it manually. What is your username?

[2021-02-03 19:27] Giulia9244 commented on #1753
Hey Cassie,
Sorry but I think this isn’t the way you do it... I mean, the official website doesn’t offer the possibility (is it even legal???) but an external person can do it?
Thank you! :)

Inviato da iPad

[2021-02-03 19:35] slowizzm opened #1755 "Collections - reorder"
New feature request

It would be wonderful if we can reorder sketches in our collections. Use case: semester lectures in sync with collection order.

[2021-02-03 19:38] slowizzm commented on #753
🥺🥺🥺

[2021-02-06 06:14] MohdImran001 commented on #1749
@catarak , Can I work on it ?

[2021-02-06 06:58] MohdImran001 commented on #1742
Hey @catarak and @violetcraze, I would like to work on it.

[2021-02-06 22:03] duskvirkus commented on #1742
@MohdImran001 I don't mind if you work on this.

[2021-02-09 18:26] catarak commented on #1753
@Giulia9244 i'm sorry there is not another way to do it. you can email me at cassie@processing.org if you would like to send me your username there. we have hired lawyers and are working on a privacy policy/terms of service to make sure we are following legal processes, but this is a work in progress.

[2021-02-09 18:26] #1659 closed, assigned to nobody

[2021-02-09 18:27] #1701 closed, assigned to nobody

[2021-02-09 18:35] catarak commented on #110
I'm going through and closing some older issues. I'm not sure this is fixed, but I'm going to close it since I haven't heard this issue coming up in a while. Feel free to create a new issue to report crashes!

[2021-02-09 18:35] #110 closed

[2021-02-09 18:36] catarak commented on #123
I'm going through and closing old issues. Going to close since I haven't heard this happening in a while, feel free to open a new issue!

[2021-02-09 18:36] #123 closed

[2021-02-09 18:42] catarak commented on #174
I'm going through and closing old issues/deduplicating them! Going to merge this into #698, the heart of this issue is that the library needs to be updated.

[2021-02-09 18:42] #174 closed

[2021-02-09 18:43] catarak commented on #662
I'm going through and closing old issues/deduplicating them. I think this will be fixed by updating the `loop-protect` library (#698).

[2021-02-09 18:43] #662 closed

[2021-02-09 18:55] catarak commented on #293
This was fixed when I did a big accessibility overhaul about a year ago ✨ I learned that for non-interactive elements, like an overlay, they shouldn't have a visible focus border like this.

[2021-02-09 18:55] #293 closed

[2021-02-09 18:59] #296 closed

[2021-02-09 19:04] catarak commented on #352
Even though the mobile version is still a work in progress and not deployed to production, I think this is fixed in the current mobile version.

[2021-02-09 19:04] #352 closed

[2021-02-09 19:11] catarak commented on #355
Code has been added to prevent sketches from getting corrupted like this!

[2021-02-09 19:11] #355 closed

[2021-02-09 19:12] catarak commented on #393
This has been fixed.

[2021-02-09 19:12] #393 closed

[2021-02-09 19:18] catarak commented on #855
This has been fixed!

[2021-02-09 19:18] #855 closed

[2021-02-09 19:25] catarak commented on #380
going to merge this issue into #753 since they are the same 😄

[2021-02-09 19:25] #380 closed

[2021-02-09 19:28] #397 closed

[2021-02-09 19:28] catarak commented on #397
This has been fixed ✨

[2021-02-09 19:34] catarak commented on #403
This has been fixed ✨

[2021-02-09 19:34] #403 closed

[2021-02-09 19:37] catarak commented on #413
This was fixed when I did an accessibility overhaul ~1 yr ago.

[2021-02-09 19:37] #413 closed

[2021-02-09 19:51] catarak commented on #473
I'm going through and cleaning up old issues. I believe the way that would make sense to support offline support would be to use a service worker with local storage. (#813 / #103)

[2021-02-09 19:51] #473 closed

[2021-02-09 20:41] catarak commented on #480
I'm 99% sure this was fixed by #1317 🎉

[2021-02-09 20:41] #480 closed

[2021-02-09 21:13] catarak commented on #674
This issue comes up intermittently but I've never been able to pinpoint the exactly cause. Sometimes S3 will just send back a CORS issue, and then moments later it won't. Not sure! I'm going to close this but feel free to open a new issue if it comes up again.

[2021-02-10 00:25] catarak commented on #695
I'm 99% sure this was fixed by #1317 🎉

[2021-02-10 00:25] #695 closed

[2021-02-10 00:27] catarak commented on #711
fixed by #667

[2021-02-10 00:27] #711 closed

[2021-02-10 00:29] catarak commented on #780
I'm going to close this issue, as I think it belongs in the p5.accessibility repository, which is actively working on adding support to make canvas elements more accessible for folks who use screen readers.

[2021-02-10 00:29] #780 closed

[2021-02-10 00:32] catarak commented on #741
closing as a duplicate of #698, but still an issue!

[2021-02-10 00:33] #741 closed

[2021-02-10 00:36] #775 closed

[2021-02-10 00:40] catarak commented on #790
I'm going to close this just so folks will open a new issue if errors are coming up again! I think this will be fixed by some stuff discussed in #1337.

[2021-02-10 00:40] #790 closed

[2021-02-10 00:42] catarak commented on #829
I believe this was addressed in the big accessibility overhaul i did ~1yr ago. Please reopen or open a new issue to request more changes!

[2021-02-10 00:42] #829 closed

[2021-02-10 07:40] MohdImran001 commented on #1742
Hey @catarak  and @violetcraze,

I have figured out some color combinations for this issue. They are compliant with the WCAG AA and WCAG AAA standards.  I checked their WCAG compatibility using this website - https://accessible-colors.com/.

For Light Theme -
text color - #fff
background - #E81351

For Dark Theme -
text color - #000
background - #fff

For High Contrast -
text color - #333333
backg

[2021-02-10 07:46] Giulia9244 commented on #1753
Dear Cassie,

I’m stil (actually WE) thrilled about this procedure… I don’t doubt you are legally working, but it still is pretty absurd…
Never seen another app/ website working so, not presenting a “Delete your account section” and neither a direct contact with the relative department, forcing people to randomly write in a community, plus registering in there!

The account to delete with all its

[2021-02-10 16:49] catarak commented on #1753
Your account has been deleted. I hear that you are frustrated in this process and we can work to improve it. We are doing our best—this is not a commercial product but is supported by grants and donations and a community of volunteers.

[2021-02-10 16:49] #1753 closed, assigned to nobody

[2021-02-10 16:59] Giulia9244 commented on #1753
Thank you really much!

Inviato da iPhone

[2021-02-10 17:18] catarak commented on #801
just tested this on an ipad and it seems to be working now! closing 📪

[2021-02-10 17:18] #801 closed

[2021-02-10 17:47] catarak commented on #806
I'm going to roll this issue into #748. Still very much would like to brainstorm ideas for a p5.js Editor walkthrough of all of the features, ranging from recording a new walkthrough video to creating gifs to adding a JS library.

[2021-02-10 17:47] #806 closed

[2021-02-10 17:50] catarak commented on #813
I'm not sure how service workers would work in an individual sketch if they're not enabled for the entire application, so I think it makes sense to convert this issue to address app level service workers. Would be so great to have offline capabilities!

[2021-02-10 17:57] catarak commented on #862
Using React Router (likely depends on #857): https://reactrouter.com/web/guides/code-splitting

[2021-02-10 18:09] catarak commented on #883
I'm going through old issues, and just did some thinking about this one. From doing research again about dyslexic coders, it seems like the best fonts are in fact [Roman, Monospace, Sans-Serif](https://creativemarket.com/blog/is-comic-sans-easier-for-dyslexic-users-to-read), which Inconsolata actually ticks all of those boxes. It seems like the thing that would help dyslexic folks the most would b

[2021-02-10 18:09] #883 closed

[2021-02-10 18:21] catarak commented on #870
I'm going through old issues, closing out stale ones, etc. Looking back at this issue, I was curious to know how Glitch handles this, and they simply make it so you can't edit other projects unless you "Remix" it. If you try to, this little toast appears:
<img width="185" alt="Screen Shot 2021-02-10 at 1 14 13 PM" src="https://user-images.githubusercontent.com/6063380/107553398-b924c200-6ba2-11eb-

[2021-02-10 18:39] catarak commented on #895
Seems like getting this to work is surprisingly hard? This is pretty low priority, and given that it doesn't work well with CodeMirror, i'm going to close this unless it's something that CodeMirror adds as part of its API.

[2021-02-10 18:39] #895 closed

[2021-02-10 18:47] catarak commented on #917
Fixed, not yet deployed to production.

[2021-02-10 18:47] #917 closed

[2021-02-10 18:49] catarak commented on #897
Fixed by #1234.

[2021-02-10 18:49] #897 closed

[2021-02-10 18:52] catarak commented on #933
Fixed on develop, not yet deployed to production.

[2021-02-10 18:52] #933 closed

[2021-02-10 20:37] #942 closed

[2021-02-10 20:40] catarak commented on #939
Going to roll this issue into #1635!

[2021-02-10 20:40] #939 closed

[2021-02-10 20:41] #955 closed

[2021-02-10 20:41] #1036 closed

[2021-02-10 20:53] catarak commented on #956
Testing this again, it seems like it's been fixed.

[2021-02-10 20:53] #956 closed

[2021-02-10 20:53] #972 closed

[2021-02-10 21:01] catarak commented on #975
There are a bunch of different request libraries used in this project (`request`, `request-promise`, `axios`). Since `axios` works both client-side and server-side, this project should just use it.

[2021-02-10 21:18] catarak commented on #993
The cross-browser way to do this is to add the following code:
[code]

[2021-02-10 21:19] #993 closed

[2021-02-10 21:20] catarak commented on #994
I'm sure it's a lot of work to move to `Next.js` but I imagine it would really help with load time.

[2021-02-10 21:20] #1014 closed

[2021-02-10 21:43] catarak commented on #1027
I'm having a hard time figuring out how to connect CodeMirror to the undo/redo buttons on iPad software keyboards. For mobile development, I think it makes sense to have Undo and Redo buttons that appear, but that still would't show up here.

[2021-02-10 21:49] catarak commented on #1055
Going to close this into #1203.

[2021-02-10 21:49] #1055 closed

[2021-02-10 21:50] catarak commented on #1203
I think unfortunately this is an issue with `console-feed`. That library would need to be fixed in order for it to be fixed here.

[2021-02-10 21:50] #1079 closed

[2021-02-10 21:54] catarak commented on #1090
this has been fixed 🎉

[2021-02-10 21:54] #1090 closed

[2021-02-10 21:54] #1156 closed

[2021-02-10 21:55] catarak commented on #1193
Going to roll this into #1540.

[2021-02-10 21:55] #1193 closed

[2021-02-10 21:56] catarak commented on #1540
The way that other online code editors have solved this is by using ESLint instead of JSHint.

[2021-02-10 22:29] catarak commented on #1194
I _think_ the issue here is the iframe having no origin and therefore the script errors being cross origin (see [What is "Script error"](https://blog.sentry.io/2016/05/17/what-is-script-error)).

Thinking that this may be fixed by #166 as I am working on this currently.

[2021-02-10 22:30] catarak commented on #1221
I think this was fixed by #1317.

[2021-02-10 22:30] #1221 closed

[2021-02-10 22:31] #1199 closed

[2021-02-11 01:58] joshuahhh commented on #1203
I've submitted a PR to `console-feed` which ought to get us out of this trouble: https://github.com/samdenty/console-feed/pull/77. If & when it gets through, I can fix this pt.js-web-editor issue.

[2021-02-11 14:32] endurance21 commented on #1661
@catarak the auto save feature must be a good feature addtion ?

[2021-02-11 14:33] endurance21 commented on #1661
if not on server , we can save those last changes to localStorage and if user revisit or refresh the page , the code would still be there being fetched from localStorage?

Extraa efforts can be made to store those changes on server too !

[2021-02-11 16:54] frappelatte28 commented on #1749
@catarak TEXT_FILE_REGEX is working fine i have checked it online with [this](https://www.regextester.com/) online tester. There might be some other issue.

[2021-02-11 17:13] frappelatte28 commented on #1749
@catarak i figured it out , its the problem with `CREATE_FILE_REGEX` assosiated with new-form component !
I have attached a PR to solve the same.

[2021-02-11 17:51] SundeepChand commented on #975
Hello @catarak, can I work on this?

[2021-02-11 18:41] catarak commented on #975
@SundeepChand absolutely! I also think this is a good fit for you since it touches a few files and you're familiar with the codebase.

[2021-02-11 18:56] catarak commented on #1198
Just went through the steps to reproduce and this appears to be fixed now.

[2021-02-11 18:56] #1198 closed

[2021-02-11 19:07] catarak opened #1759 "Migrate sketch updates to use CRDTs"
#### Nature of issue?

- New feature request

#### New feature details:

As suggested in the discussion in #1337 and through issues such as #1213, I think many saving issues will be alleviated by switching to dispatch changes to sketches rather than replacing the entire contents on the sketch.

[2021-02-11 19:08] catarak commented on #1759
It seems like the way to go with CodeMirror is to use y.js

[2021-02-11 19:08] catarak commented on #1213
Closing this into #1759 which I think will alleviate some of the error 409 issues.

[2021-02-11 19:08] #1213 closed

[2021-02-11 19:16] catarak opened #1760 "Migrate SCSS to styled-components"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

`styled-components` has already been added to the web editor. It will be a long process to remove all of the SCSS but it will be worth it ✨

[2021-02-11 19:17] catarak commented on #1215
Since `styled-components` has already been added to the web editor, I'm going to close this issue into #1760.

[2021-02-11 19:17] #1215 closed

[2021-02-11 19:19] satyasaibhushan commented on #870
Hey, @catarak!!
I'd like to work on this issue.

[2021-02-11 19:26] catarak commented on #1223
I notice that with #1240 the cursor jumps forward in the line when running tidy code. I believe the fix for this would be removing the part that adds `INDENTATION_AMOUNT`.

[2021-02-11 19:29] catarak commented on #1243
I think that `Find Next` and `Find Previous` should just be removed from the dropdown because it's confusing. The keyboard shortcut overlay lists those shortcuts anyway.

[2021-02-11 19:31] catarak commented on #1248
Merging this issue into #99.

[2021-02-11 19:31] #1248 closed

[2021-02-11 19:33] catarak commented on #1249
The solution is definitely to dispatch sketch updates via websockets, after #1759 is completed.

[2021-02-11 19:53] catarak commented on #1258
Merging this into #103. I really would like to prioritize this issue!

[2021-02-11 19:53] #1258 closed

[2021-02-11 19:54] #1267 closed

[2021-02-11 20:04] satyasaibhushan commented on #1243
Hey @catarak !
I'd like to work on this issue if you simply need to remove the options from the dropdown

[2021-02-11 20:09] satyasaibhushan commented on #1243
But, there clearly seems to be a focus issue with the `find next` and `find previous` features as sometimes they just go off when clicked on the left part (on the play button or the editor) and they freeze and don't close when clicked on the right part of the screen(on the preview section), which leaves us no option but to refresh the page.
Please look into this!!

[2021-02-11 20:24] #1273 closed

[2021-02-11 20:44] catarak commented on #1292
I'm coming back to this issue in the midst of cleaning out stale issues. I do like having a keyboard shortcut for this, but I'm really stumped as to what it should be! <kbd>Command</kbd>/<kbd>Control</kbd> + <kbd>N</kbd> is the standard for desktop text editors, and in the browser, it's the standard for opening a new browser window.

[2021-02-11 20:47] catarak commented on #1313
With #1731 being merged, I feel like that handles this issue.

[2021-02-11 20:47] #1313 closed

[2021-02-11 20:56] #1350 closed

[2021-02-11 20:58] catarak commented on #1489
fixed via #1317

[2021-02-11 20:58] #1489 closed

[2021-02-11 23:33] #1450 closed

[2021-02-11 23:34] #1453 closed

[2021-02-11 23:34] catarak commented on #1453
`react-responsive` has been added to this project ✨

[2021-02-11 23:36] #1454 closed

[2021-02-11 23:40] catarak commented on #1466
This seems to be working again with p5.js v1.2.0, so I'm going to close this issue.

[2021-02-11 23:41] #1479 closed

[2021-02-11 23:49] #1509 closed

[2021-02-11 23:58] #1585 closed, assigned to nobody

[2021-02-11 23:58] hydrosquall commented on #103
Coming here from #1258 - it's interesting to think about how the development experience / feature-set would change if offline mode wasn't just an option, but the first-class / primary mode design target. Related reading: https://www.inkandswitch.com/local-first.html

If it turns out that people somehow create projects that are too big to live in localStorage, another option that might help people

[2021-02-12 05:52] rt1301 commented on #1760
@catarak I would like to work on this issue if it is open. Can you suggest me how to get started on this?

[2021-02-12 11:46] JobLeonard commented on #103
IndexedDB can handle bigger amounts of data, and blobs as well, and is fairly well-supported across browsers. The `localForage` library I linked to earlier makes it quite easy to use for *simple* use cases (I don't know if this qualifies though)

https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API

https://caniuse.com/?search=indexeddb

[2021-02-12 16:28] sagar-joshi commented on #1442
if @andrewn is no longer working on this then I'd like to work on this @catarak

[2021-02-12 18:37] SundeepChand commented on #975
@catarak, where can I find the `Personal Access Token` to make requests to the public API? And how can I get `EDITOR_API_ACCESS_TOKEN` to run  `fetch-examples-ml5.js`

[2021-02-12 22:09] catarak commented on #1591
This must have something to do with caching via Cloudflare 😕

[2021-02-12 22:11] #1622 closed, assigned to nobody

[2021-02-12 22:12] #1629 closed, assigned to nobody

[2021-02-12 22:12] #1631 closed, assigned to nobody

[2021-02-12 22:13] #1634 closed, assigned to nobody

[2021-02-12 22:14] #1643 closed, assigned to nobody

[2021-02-12 22:15] #1646 closed, assigned to nobody

[2021-02-12 22:17] #1650 closed, assigned to nobody

[2021-02-12 22:25] catarak commented on #1652
I'm going to roll this issue into #1442. Really want to prioritize this!

[2021-02-12 22:25] #1652 closed, assigned to nobody

[2021-02-12 22:27] catarak commented on #1651
I'm working on #166 which also is a stepping stone to making this issue happen!

[2021-02-12 22:27] catarak commented on #1661
I'm going to roll this issue into #103.

[2021-02-12 22:27] #1661 closed, assigned to nobody

[2021-02-12 22:29] catarak commented on #1715
closing into #748

[2021-02-12 22:29] #1715 closed, assigned to nobody

[2021-02-12 22:30] #1725 closed, assigned to nobody

[2021-02-12 22:30] catarak commented on #1728
Closing into #1635 / #1759

[2021-02-12 22:30] #1728 closed, assigned to nobody

[2021-02-12 22:54] catarak commented on #1738
I have a feeling this is the same issue as #1591 as I'm not able to reproduce on development, but on the production server I am. I think the solution is to serve these through a different server (#166) that doesn't use the same caching.

[2021-02-12 22:59] catarak commented on #1742
@MohdImran001 thanks for working on this! I would suggest looking at the [SCSS variables file](https://github.com/processing/p5.js-web-editor/blob/develop/client/styles/abstracts/_variables.scss), which lists all of the colors currently being used in all of the themes. I also think it makes sense to use one of the variations of gray that are used in the theme rather than strong colors like pink an

[2021-02-12 22:59] #1746 closed, assigned to nobody

[2021-02-12 23:05] catarak commented on #1748
@hazarek I would first like to direct you to the [Code of Conduct](https://github.com/processing/p5.js-web-editor/blob/develop/.github/CODE_OF_CONDUCT.md) for this project. It's not okay for you to take out your frustration on the maintainers of this project.

I appreciate the suggestion. Do other websites do this? For me, I feel like since you can explicitly change this in the Settings, I wouldn'

[2021-02-12 23:06] catarak commented on #1754
Thank you for the suggestion! Agree that this would be super useful. Related to #1442 but also I think the multiselect is unique to managing your account assets.

[2021-02-12 23:09] catarak commented on #1755
Thank you for the suggestion! I think this issue points to something else that would be cool, which is having a "profile" like page that you could highlight a few specific collections in a specific order. Doesn't need to be anything super fancy! Would love to think more about this.

[2021-02-12 23:50] setanarut commented on #1748
What other websites? There are billions of websites around the world. and all browsers support this CSS feature. this will become the standard in the future. For example: youtube.com has an automatic theme feature according to the device.

Was I disrespectful to a robot? I'm just having fun, calm down. I didn't violate Github's rules. your rules do not concern me. I also do not respect censors.

S

[2021-02-13 00:15] setanarut commented on #1748
nevermind, I don't want your project to improve thanks to me. I have no business with censors.

[2021-02-13 00:16] #1748 closed, assigned to nobody

[2021-02-13 22:31] chung-ken commented on #1466
Thanks for the update, Cassie! Just tested it myself. It is working with
v1.2.0. The web editor is still loading v1.1.9 by default, but it's easy
enough to change the source file in index.html.

On Thu, Feb 11, 2021, 6:40 PM Cassie Tarakajian <notifications@github.com>
wrote:

[2021-02-14 13:41] vulongphan commented on #1759
Hi @catarak, could you please help me navigate which part of the code is responsible for saving changes in a sketch?
Thank you!

[2021-02-16 16:33] Ajaya1000 commented on #1392
Hi, @catarak I would like to work on this issue. I'm new here but I'm currently digging into the codebase for more than 4-5 days. Please guide me.

[2021-02-16 17:54] rt1301 commented on #1754
@catarak @stalgiag  I would like to work on this issue. Can you suggest how to get started on this?

[2021-02-16 19:26] sagar-joshi commented on #1442
Can react-table package be used for creating a Table component instead of creating from scratch? https://github.com/tannerlinsley/react-table

 react-table Overview: https://react-table.tanstack.com/docs/overview

[2021-02-16 19:56] #1724 closed, assigned to nobody

[2021-02-16 20:03] catarak commented on #1243
@satyasaibhushan you can go ahead and work on this one!

also, would you mind putting the other issue you're reporting in a separate issue, with steps to reproduce?

[2021-02-16 20:13] catarak commented on #103
such a cool idea! i'll have to read this post carefully and think about how to make this work. lots of folks use the web editor to share their work online, so the design would have to make clear whether or not the sketch is published. which is perhaps related to the design for #91.

[2021-02-16 20:43] #1741 closed, assigned to nobody

[2021-02-16 20:56] #1749 closed, assigned to nobody

[2021-02-16 21:04] catarak commented on #975
@SundeepChand ahh sorry that is confusing! the idea is that eventually, users (such as ml5) will be able to generate their own access tokens to upload sketches programatically. the way you would generate this token is to create an `ml5` account on your local database, login as that user, then go to settings > access tokens, and then generate a token.

[2021-02-16 22:50] catarak opened #1764 "Error when deleting sketch that contains file url not on s3"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  N/A
- Operating System:  N/A
- Steps to reproduce this bug:

In testing #1762, I found that the script will fail when deleting the uploaded sketches. I believe it is a bug in [`deleteProject.js`](https://github.com/processing/p5.js-web-editor/blob/1712ffa033c1937e4168b697c155dbd62907950a/server/controlle

[2021-02-16 23:00] #1764 closed, assigned to nobody

[2021-02-16 23:01] bomanimc commented on #1764
Thanks for catching this!

[2021-02-16 23:02] catarak commented on #1466
@chung-ken let me open an issue to update p5.js in the editor to the latest version!

[2021-02-16 23:02] #1466 closed

[2021-02-16 23:03] catarak opened #1766 "Update p5.js to 1.2.0"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Update the default p5.js version, when creating a new sketch, to 1.2.0, the latest release.

[2021-02-16 23:26] #1766 closed, assigned to catarak

[2021-02-17 01:30] Ajaya1000 commented on #1760
@catarak as this is a pretty long implementation I would like to work with @rt1301 to speed up the process. Can you please guide us.

[2021-02-17 08:58] satyasaibhushan commented on #1243
Hey @catarak,
I hope this closes the issue. Please check if I did anything wrong.
And I will open another issue as you mentioned :)

[2021-02-17 09:00] andrewn commented on #1442
Hi @sagar-joshi, it's cool that you'd like to work on this!

My approach to this woud be:
- find all the existing tables in the editor and figure out common features and styling (sorting, table headings, accessibility props)
- create Storybook stories [(example)](https://github.com/processing/p5.js-web-editor/blob/develop/client/common/Button.stories.jsx) for a generic table component
- replace ex

[2021-02-17 12:51] ron-debajyoti commented on #1137
Hey @catarak ! As a beginner, I would like to give this a try !

[2021-02-17 14:24] Neel278 commented on #870
Hello! I am a new comer to open source and trying to do my first pull request. So I need a little help. Is there a way to know current users id also including the case when user is not logged in?

[2021-02-17 17:42] satyasaibhushan commented on #870
Hey @Neel278,
Sorry but I've already started working on it and it is almost finished. I am waiting for a reply from the team.
So please, let's wait for the reply and we can do the work as assigned.

[2021-02-17 18:40] sagar-joshi commented on #1442
@andrewn thank you for suggesting the approach.

Okay, I got your point. I will start by looking for common features.

And I am glad that you are helping :)

[2021-02-17 20:30] SundeepChand commented on #975
Thanks @catarak! I was able to create a token and was able to run `fetch-examples-ml5.js`, but its giving some errors that has to be fixed. PS: Finally I've figured out cause of the error, will be updating the PR soon.

[2021-02-17 21:01] shiffman commented on #1742
Thanks for working on this everyone, I was just about to file an issue about this and found this wonderful one started by @violetcraze! 💖

[2021-02-17 21:52] sagar-joshi commented on #1442
@andrewn thank you for suggesting the approach.

Okay, I will start by looking for common features.
 :)

[2021-02-17 22:05] sagar-joshi commented on #853
I am working on this

[2021-02-18 03:49] SundeepChand opened #1769 "Update public_api.md in developer_docs to set UI_ACCESS_TOKEN_ENABLED=true"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Hello @catarak. While working on #975 it took me a few hours to figure out how to enable access token UI in settings page. I think it would be nice if it is mentioned in the docs to set  `UI_ACCESS_TOKEN_ENABLED=true` in the .env file. I would like to work on this.

[2021-02-18 04:00] Neel278 commented on #870
Oh! actually I checked your github folk to but didn't found anything but now in some days I will get it. By the best of luck for your pull request. Hope community founds it useful.

[2021-02-18 16:15] ron-debajyoti commented on #1417
@SundeepChand  if u aren't working on it I would like to give it a try.

[2021-02-18 16:23] ron-debajyoti commented on #1137
I tried to replicate the error but it seems to be working for me. I think this has to be the server issue of S3. @catarak Would appreciate your views about this :smile:

[2021-02-18 16:25] SundeepChand commented on #1417
Sure @ron-debajyoti, you can work on this.

[2021-02-19 20:40] piecesofuk opened #1772 "Incorrect value of navigator.language property in the editor and fullscreen mode"
#### Nature of issue?

- Found a bug

#### Details about the bug:

I'm using the Chrome browser on a Chromebook Version 88.0.4324.186 (Official Build) (64-bit)

I wanted to test an api call that passed my browser's language and test it with other languages. I'm getting the language code from the navigator.language property. The default value of navigator.language is "en-GB". I installed a Chrome L

[2021-02-19 21:27] catarak commented on #1760
This is a really big task and I would suggest starting small. Try to convert one component, one small component. Transform a SCSS placeholder into a generic component. Something like that.

[2021-02-19 21:34] #1243 closed

[2021-02-19 22:17] #975 closed

[2021-02-20 13:14] SundeepChand commented on #1540
Hello @catarak, can I work on this? May I know where to start working on this?

[2021-02-20 20:13] SundeepChand commented on #1423
Hello @catarak, I would like to work on this.

[2021-02-22 06:32] Ajaya1000 commented on #1520
Hey @catarak  I would like to take over this issue if no one is currently working on this

[2021-02-22 07:25] Ajaya1000 commented on #1520
Hey, @catarak  I would like to take over the issue if no one is currently working on this.

[2021-02-22 08:20] Ajaya1000 commented on #1520
The problem is in BASE_FONT_SIZE, and it breaks after a value of 14 on Chrome and 18 on  firefox. @catarak  Please suggest to me how to proceed with it.

[2021-02-22 17:23] bomanimc opened #1773 "Protected API endpoint for running ml5.js example upload script"
Hi!

@catarak, thanks for your help reviewing and debugging #1762!

The majority of or ml5.js PR contributions are to our examples. Our examples are hosted on a custom website but are primarily viewed using the p5.js Web Editor. To support more rapid deployment of example changes, it'd be helpful to be able to update the public examples on the p5.js Web Editor as soon as we merge in new contributi

[2021-02-22 17:34] satyasaibhushan commented on #1223
Hey @catarak,
You are true about `INDENTATION_AMOUNT` causing the cursor jump,
But, we are not able to sustain the cursor position as required.
For example, In the video provided, the firstly the horizontal position is not retained and next the vertical position is not.
I think this might require opening a new different issue, Please give your thoughts.

https://user-images.githubusercontent.com/4

[2021-02-22 17:57] satyasaibhushan opened #1774 ""Find next" and "Find previous" popups glitches to close"
###### Coming here from #1243

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 88.0.4324.150 (Official Build) (x86_64) (also tried on Safari, the issue remains the same)

- Operating System:macOS Version 11.2.1
- Steps to reproduce this bug:
     1. While editing a file, click on find next( /prev ) on edit dropdown in the Navigation bar or use k

[2021-02-22 18:04] satyasaibhushan commented on #1774
Hey @catarak or Anyone ,
I think the ideal functionality will be mimicking the "find" popup functionality.
Presently, the "find next" or "find previous" is working by creating a new popup that's not "find" popup i.e, all three finds have their different popups
I think the issue will be solved if we somehow managed to use only one popup for all 3 functionalities
Please share your thoughts!!

[2021-02-23 05:46] Ajaya1000 opened #1776 "Maximizing console window should get back to its previous height"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Currently, if a user maximizes the console window, it maximizes to a fixed height no matter what the previous state was. But I think it will be more convenient to get back to its previous height. @catarak, if it's useful I would like to work on this.

[2021-02-23 09:56] AndrewAung11 opened #1777 "Not working import tag."
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: On `Chrome 88.0.4324.182 (Official Build) (64-bit) (cohort: Stable)`
- Operating System: Windows along with 8.1 Pro
- Steps to reproduce this bug:

The import link of p5.js lib is not working anymore. But it is still used in [p5.js web editor](https://editor.p5.js). If I run the p5.js code with the defaul

[2021-02-23 11:28] smitbarmase opened #1778 "Implementing Desktop Features to Mobile UI"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Here are things we need to implement:
- [ ] Adding Add File, Add Folder, and Upload Files functionalites
- [ ] Improved sidebar, containing nav bar options
- [ ] Dark mode
- [ ] Find feature

[2021-02-23 17:58] smitbarmase commented on #1778
This is the prototype sidebar I designed for mobile view. @catarak I need your reviews on this.

There are two section:
- Menu
- Sketch Files

And, Menu section will have menus, where on clicking them. We can open pop-up dialog box to choose options from.

![Display](https://user-images.githubusercontent.com/37347831/108885156-75639b00-762d-11eb-9ef4-36386c5e2766.png)

[2021-02-24 13:35] sagar-joshi commented on #1442
I was able to test CollectionList and SketchList but while trying to test AssetList when I click on the Assets tab, I get the below error at line:
[code]
in actions/assets.js

    at Request.ENOTFOUND_ERROR (/home/sagar/Desktop/processing/p5.js-web-editor/node_modules/@auth0/s3/node_modules/aws-sdk/lib/event_listeners.js:495:46)
    at Request.callListeners (/home/sagar/Desktop/processing/p5.js-we

[2021-02-24 19:09] #1711 closed, assigned to nobody

[2021-02-25 10:08] satyasaibhushan commented on #870
Hey @catarak,
I've done this like 10 days ago and am waiting for your reply!
So I'm posting a video of the work I've done

https://user-images.githubusercontent.com/40578313/109137551-55dc8780-777f-11eb-95a2-66d698a23d61.mov

I thought using the toast functionality which we use in many other cases is the way to go.
Share your thoughts!!

[2021-02-25 18:08] ron-debajyoti commented on #1417
@catarak Hi ! Sorry for being late, I was having some difficulties going through the code.  A feature suggestion from me would be a proper documentation for developers (esp for newbies like me), and perhaps using Docusaurus.

Regarding the drag and drop utility in the `Sketch files` area of the web editor, I think it's becoming a bit complicated because the current implementation of adding new fil

[2021-02-26 16:04] mattbesancon commented on #1520
@Ajaya1000 how do you know the problem comes from BASE_FONT_SIZE?

[2021-02-26 17:22] satyasaibhushan opened #1781 "Fix PropTypes linting errors"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 88.0.4324.150 (Official Build) (x86_64)
- Operating System: macOS Version 11.2.1
- Steps to reproduce this bug:

<img width="522" alt="Screenshot 2021-02-26 at 10 48 56 PM" src="https://user-images.githubusercontent.com/40578313/109332948-d33df000-7884-11eb-9167-106a214d5da1.png">

I know this issu

[2021-02-28 22:55] phrozen opened #1782 "Ability to override the image-rendering, width, height attributes of the canvas"
#### Nature of issue?
- New feature request

#### New feature details:

Documentation of the property: [image-rendering](https://developer.mozilla.org/es/docs/Web/CSS/image-rendering)
Add the ability to set the `image-rendering` attribute of the canvas so that supported browsers (all modern browsers do). So that users can use `image-rendering: pixelated;` for example for the rendering canvas.

Whe

[2021-03-01 04:53] Ajaya1000 commented on #1520
@mattbesancon I tried to debug the style which is passed to the console component(Console-Feed) and after a point, I found out only the BASE_FONT_SIZE style attribute has an effect on the bug. This isn't a problem with the p5-js web editor library, this is the problem of the console-feed package which depends on the react-inspector package.

[2021-03-01 14:41] tlsaeger opened #1783 "German translation of the web-editor"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Hi there,
I could contribute a german translation of the p5-web UI, if you like?
I was not sure if this is maybe already in the making, so thats why I'm not starting right away.
Cheers
Tom

[2021-03-02 07:13] shantanu96 commented on #1516
Hey @catarak and @guillaume-dorczynski, I would like to work on this issue.

[2021-03-02 22:23] #1522 closed

[2021-03-02 23:06] catarak commented on #1772
Thanks for reporting! I believe this is because the "editor" view and the "full" view are running the sketch in an iframe. If you look at the default `index.html` for a sketch, the language is set to "en". I think you would have to manually change the language in the `index.html` for this to work.

For security reasons, the extension won't have access to change the language in the sketch directly.

[2021-03-03 15:35] shiffman commented on #1742
Wow, great work @MohdImran001! I noticed that in high contrast mode the code itself is hard to see when highlighted, would it be possible to also adjust this as well?

<img width="524" alt="Screen Shot 2021-03-03 at 10 34 56 AM" src="https://user-images.githubusercontent.com/191758/109830079-21981980-7c0c-11eb-849f-b0c0f2a7ef18.png">

I'll wait to hear back before re-opening!

[2021-03-03 18:08] ron-debajyoti commented on #1417
@catarak I did a temporary fix to the issue for now. I added a dropzone to the bottom of  `Sketch Files` list and added the feature of directly uploading one or multiple files to the project. If we want to add multiple files to a particular folder to the project, then selecting the folder first and then uploading the files in the dropzone automatically uploads the files in the correct place.

Alth

[2021-03-03 18:44] sagar-joshi commented on #1418
While working on #1442 I also noticed that editor crashes on clicking the AddSketch button in CollectionList.
A sketch may be present in many collections, but the problem occurs when the sketch is deleted from the sketch list but it is still present in different collections it was added to. So if we click on add sketch in those collections which have deleted sketches, the editor crashes while tryi

[2021-03-03 20:49] catarak commented on #1742
@shiffman I think it would be possible! Because CodeMirror behind the scenes is using elements other than `<input>` or `<textarea>`, I believe it would be a matter of configuring CodeMirror or adding the right CSS selector.

[2021-03-03 22:24] catarak commented on #1773
Thanks for the suggestion and thinking this through! I think this would be a great way to test the API in production, and get some feedback on the interface and its stability.

There's actually no code changes that would need to happen—I think that I would just need to generate an API token for you, which then could be revoked at any time, or I could generate a new one if need be. Sound good?

[2021-03-03 22:40] bomanimc commented on #1773
@catarak that sounds great to me!

[2021-03-03 23:27] catarak commented on #1223
Thanks for posting the video! The library that this project is currently using, [`beautify-js`](https://github.com/beautify-web/js-beautify), does not support code formatting with a cursor position. We can add some code that would get the cursor position pretty close, by preserving its line/column, but this is imperfect when the code formatting changes the number of lines of code. I believe this p

[2021-03-04 01:30] MohdImran001 commented on #1742
Thanks @shiffman for pointing out this problem. I will try to fix it also.

[2021-03-04 03:01] sagar-joshi commented on #1418
I also noticed that the editor crashes on clicking the AddSketch button in CollectionList.
What I figured out is :
A sketch may be present in many collections, but the problem occurs when the sketch is deleted from the sketch list but it is still present in different collections it was added to. So if we click on add sketch in those collections which have deleted sketches, the editor crashes while

[2021-03-04 14:02] satyasaibhushan commented on #1223
Hey @catarak ,
After hours of searching, I've figured out using prettier. There is still a bit of work to do.
Do you want me to open a new issue by closing this one or should we work on this one itself?

[2021-03-04 18:01] MohdImran001 commented on #1759
Hey @catarak , do you have any suggestions how we could approach this issue. I have decided to use y.js web sockets provider for synching client and server but I didn't find any provider for saving data into mongodb. Maybe we have to handle it ourselves on the server.  I would love to know your suggestions on this.

[2021-03-04 18:59] sagar-joshi commented on #1418
After reading #1465  it looks like the fix is to check for item.isDeleted before accessing item.project in AddToCollectionSketchList
But this will only partly fix the issue because I was not able to reproduce the asterisk part.

Maybe the collection had deleted sketches in it which may have caused the crash (I was able to reproduce this part: adding a sketch to a collection which has deleted sketc

[2021-03-04 19:34] satyasaibhushan commented on #1223
Never mind,
I've figured it out and am attaching a PR

[2021-03-05 14:17] satyasaibhushan commented on #1760
Hey @catarak,
I've converted a small component, please check and give your suggestions and thoughts!

[2021-03-06 19:07] slowizzm opened #1792 "Intelligent Code Completion feature"
An intelligent code completion or intelliSense feature would benefit student learning success and retention. Although we have the link to documentation, I feel being able to stay in editor to view method parameter documentation would improve the learning workflow and the ability to view object property/method list would improve and reinforce learning concepts.

[2021-03-09 05:11] selazbin-s commented on #674
first link posted (https://editor.p5js.org/cassie/sketches/SJlIk0WUPX) is not working

[2021-03-09 07:32] MohdImran001 commented on #1759
Hi @catarak, I am working on it and I have decided to take the following approach:-

I am using the `y-websockets` package to sync sketches across server and client. The `y-websockets` also allow us to sync the content across different tabs using cross-tab communication and it will help us to also implement this feature #1249.

On the client side, the users first needs to save the sketch for CRDT

[2021-03-09 22:41] catarak commented on #1783
Hi @tlsaeger! There isn't a German translation and it would be great to have one. Take a look at the [translation documentation](https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/translations.md) to get started!

[2021-03-10 17:45] catarak commented on #1774
Hi @satyasaibhushan! In #1243, "Find Next" and "Find Previous" were removed from the dropdown because they don't make sense on their own, they are only used in the context of the "Find" popup. The "Find Next" and "Find Previous" buttons do work on the popup, as to their keyboard shortcuts, so I will be closing this issue.

[2021-03-10 17:59] satyasaibhushan commented on #1774
Oh no @catarak ,
I was just using the menu to explain the nature of the issue( to show that I was using find next),
The bug still exists even if we use the shortcuts.

[2021-03-10 18:53] catarak commented on #1776
Makes sense to me! You can go ahead and work on this.

[2021-03-10 18:57] catarak commented on #1777
Hi @AndrewAung11! I'm a little confused about the bug you are reporting here. For me, p5.js sketches are working with importing p5.js from `https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js`.

[2021-03-10 19:24] catarak commented on #1442
@sagar-joshi you do! you can follow this guide: https://github.com/processing/p5.js-web-editor/blob/develop/developer_docs/installation.md#s3-bucket-configuration

[2021-03-10 19:26] catarak commented on #1781
@satyasaibhushan go ahead and work on this!

[2021-03-10 19:45] satyasaibhushan commented on #1781
Hey @catarak ,
fixing [this](https://github.com/processing/p5.js-web-editor/blob/be98ad0183137cfb989891ff1a6ad2e44a6b357d/client/modules/IDE/pages/IDEView.jsx#L508) line to `PropTypes.arrayOf(PropTypes.shape())` is  sufficient. But, the either of `editorAccessibility` or `lintMessages` is not used in the code. Do you want me to adjust the line or delete the whole `editorAccessibility` from this fi

[2021-03-10 20:28] jeeyoonhyun opened #1794 "Extra dot(.) in file names aren't displayed"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Safari Version 14.0.3, Chrome 88.0.4324.192
- Operating System:  MacOSX
- Steps to reproduce this bug: When you make a new file / rename a file with an extra dot, (e.g. `p5.speech.js`), it automatically shows up in the file list without the extra dot (e.g. `p5speech.js`).

<img width="159" alt="Screen Sh

[2021-03-10 21:47] catarak commented on #1782
Thanks for the suggestion, @phrozen! You can edit the CSS for the sketch by clicking on the button that opens the Sidebar, to reveal the files:
<img width="332" alt="Screen Shot 2021-03-10 at 2 30 36 PM" src="https://user-images.githubusercontent.com/6063380/110686334-50366700-81ad-11eb-90dc-f640a15fdfc8.png">

Then click on `style.css` to edit it:
<img width="449" alt="Screen Shot 2021-03-10 at 2

[2021-03-10 22:01] catarak commented on #1520
@Ajaya1000 have you opened an issue in the console-feed or react-inspector libraries?

[2021-03-10 22:02] catarak commented on #1516
@shantanu96 go ahead!

[2021-03-10 22:12] catarak commented on #1774
got it! i'll reopen.

[2021-03-10 22:41] #1418 closed

[2021-03-10 22:49] #1223 closed

[2021-03-10 22:56] catarak commented on #1792
Thanks for the suggestion, I'm very into this idea! This has already been captured in #99.

[2021-03-10 22:56] #1792 closed, assigned to nobody

[2021-03-10 23:02] catarak commented on #1781
@satyasaibhushan you're right! The component that uses these props, `<EditorAccessibility>`, got moved into `<Editor>`, so these PropTypes can be removed.

[2021-03-10 23:08] catarak commented on #1794
Thanks for reporting! Turns out this was very simple to fix and i'm working on a PR now 🎉

[2021-03-10 23:11] #1794 closed, assigned to nobody

[2021-03-11 03:05] phrozen commented on #1782
Does that css is applied when embedding from the editor into an external site?

[2021-03-11 09:32] tlsaeger commented on #1783
Hi @catarak thank you! Unfortunately I cannot get the dropdown to show. I've followed the installation guide as well as the translation documentation. I added `TRANSLATIONS_ENABLED=true` to `.env` but it still does not show up. Everything else is running perfectly.
Thanks for your help!

[2021-03-11 16:22] maartenwijntjes opened #1799 "When will 1.3.0 be standard in editor?"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Found a bug in saveTable() which is luckily resolved in 1.3.0 (https://github.com/processing/p5.js/issues/5080), so was wondering when 1.3.0 will be standard included instead of the now 1.2.0 version.

[2021-03-11 23:07] catarak commented on #1782
Yes it does! Because the sketch is embedded in an iframe, I'm not sure if that will affect `image-rendering`, but my instinct is that it may.

[2021-03-11 23:27] #1781 closed, assigned to nobody

[2021-03-12 02:03] phrozen commented on #1782
@catarak Thanks a lot! it works as expected! Although I had to override the default canvas size using `!important` which I personally dislike because the canvas' size style is inlined...

https://editor.p5js.org/phrozen/full/yzEB1X3oE

Check it out! It's using `image-rendering: pixelated;` (I don't think Firefox supports it, but you will be fine with any other browser)

[2021-03-12 10:02] satyasaibhushan commented on #1774
Hey @catarak, Do you have any ideas to tackle this ?

[2021-03-12 17:15] catarak commented on #1782
Yay! I actually was wondering why the width and height were set inline, and I learned some stuff:

1. The `width` and `height` attributes must be set for a canvas, because otherwise, they default to `300px` and `150px`, respectively. From the [w3 specification](https://www.w3.org/TR/2011/WD-html5-20110525/the-canvas-element.html#the-canvas-element):

2. The CSS `width` and `height` are set to cont

[2021-03-12 17:15] #1782 closed, assigned to nobody

[2021-03-12 17:25] catarak commented on #1783
@tlsaeger that's super strange! Can you open the browser console and see if you notice anything? If the app is working okay, one thing is that it could be a typo in `.env`.

[2021-03-12 17:38] catarak commented on #1799
Thanks for opening this issue! It's quick to fix and I'll make a PR for it today. It will be included in the editor in the next release, which I am trying to do more frequently, like once every few weeks or so.

In the meantime, when creating a new sketch, you can edit the sketch's `index.html` file to change the p5.js version to 1.3.0.

[2021-03-12 17:52] #1799 closed, assigned to nobody

[2021-03-12 18:06] catarak commented on #1774
It will definitely involve changing the [`codemirror-search.js`](https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/codemirror-search.js) file, though I'm really not sure what the culprit is...

[2021-03-12 18:44] satyasaibhushan commented on #1774
Hey @catarak,
never thought the solution would be this simple,
I just changed the shortcuts calling from `findNext`  to  `findPersistantNext` and every thing is working as imagined.

[2021-03-12 18:54] tlsaeger commented on #1783
@catarak Ran the program to check if something is in the console. Did not change anything, now it works. Thanks for your help!

[2021-03-13 15:02] Ajaya1000 commented on #1520
@catarak yes. I have opened this issue in the console-feed and the react-inspector library. But no movement so far.

[2021-03-13 17:41] satyasaibhushan commented on #870
Hey @catarak, please look into this

[2021-03-13 17:44] satyasaibhushan commented on #870
@satyasaibhushan

[2021-03-14 01:14] felipesanchezz opened #1812 "Direct Integration with GitHub"
There should be a way of committing and pushing your files directly from the editor, to GitHub. You would be able to either work with the a cloned repo, or login to your account, and from there access your repositories and stuff. To do so:
- [ ] Integrate "GitHub' area to the layout of the page (HTML and CSS)
- [ ] Work with the GitHub API to actually make the commits and stuff work

The area coul

[2021-03-14 12:25] Ajaya1000 opened #1804 "new create collection pop-up opens every time I click back after creating a new collection"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome - 88.0.4324.182 (Official Build) (64-bit)
- Operating System: Linux Ubuntu 20.04.2.0 LTS (Focal Fossa)
- Steps to reproduce this bug:
                         -  First Go to `collection`
                         -  Click `create collection`
                         - create a new collection

[2021-03-14 13:35] satyasaibhushan opened #1805 "Make the unsaved dot particular to file/ folder changed"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
Currently, if we change any file/folder the unsaved dot on top of the file is visible in the editor, next to the file name. Also, the dot is being transferred to every other file even it is not edited
Here's a video to explain:

https://user-images.githubusercontent.com/40578313/111070338-569f4880-84f7-11eb-8f

[2021-03-14 13:36] satyasaibhushan commented on #1805
@catarak ,
I've already completed writing the code for this one
If you think this is useful I'll issue a PR

[2021-03-14 14:46] Ajaya1000 commented on #1755
@catarak this npm   [react-dnd](https://github.com/react-dnd/react-dnd) package provides a drag n drop reordering functionality.
And I also like the concept of having a profile page. One can share his/her profile link with others highlighting some of his/her sketches and some collections. Or maybe in the future, we can also add a **star** or **like** button which will be useful for independent onl

[2021-03-14 18:31] outofambit commented on #1812
Hi @byfelipesanchez! this looks like a feature request for the online editor, which is housed in https://github.com/processing/p5.js-web-editor. I'm going to transfer your issue there so the right folks see it! :)

EDIT: actually i don't have the right permissions to. @catarak can you do the honors, please?

[2021-03-15 04:08] Ajaya1000 commented on #1804
@catarak I have worked on this issue. I'll raise a PR if this issue is unintentional from the beginning. In my new branch after creating a new collection if a user clicks `back` button the browser will get the user back to the collection tab without poping up a new create collection overlay.

[2021-03-15 11:08] smitbarmase opened #1807 "Tests failing when used styled-components because not wrapped with ThemeProvider"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Microsoft Edge 89.0.774.54
- Operating System: Windows 10 OS Version 2009
- Steps to reproduce this bug:

**Make use of styled-components and function `prop` in it. Tests for this will fail, the `prop` will not able to access the theme from ThemeProvider.**

[2021-03-15 13:09] niemenjoki opened #1809 "Finnish translation of the web-editor"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I could add a Finnish translation to the p5 web editor if that's a desired addition. I'm a native Finn.

[2021-03-15 13:15] niemenjoki commented on #273
Hi @slowizzm,

I have created an unofficial implementation of this feature [here](https://github.com/jnsjknn/p5-project-downloader).

Anyone in the p5 community can use my code if it helps adding the feature in the web editor.

[2021-03-15 18:14] Ajaya1000 commented on #1760
Hi @catarak . I have worked on the "About Component". While working on the issue I faced a challenge where themify mixin was used. Please suggest to me how to counter the problem.

[2021-03-15 18:23] felipesanchezz opened #1811 "NPM run lint error with pull request"
#### Nature of issue?

- Existing feature enhancement

I have recently made a pull request, in which I completely translated the web editor. I followed every step, but I got this error:
![image](https://user-images.githubusercontent.com/75498026/111186725-0de89d80-8592-11eb-942f-3f413ed6c71e.png)

Does anyone know what I should do to fix it? I believe that a Portuguese translation is very importan

[2021-03-15 18:40] Ajaya1000 commented on #1760
hey @catarak I did some workaround. Please tell me if this the right way to do so.

[2021-03-16 00:45] Ajaya1000 commented on #1811
@byfelipesanchez can you share the link to the pull request?

[2021-03-16 00:54] Ajaya1000 commented on #1811
@byfelipesanchez run `npm run lint-fix` locally or follow check i.e replace `e` with `(e)`.

[2021-03-16 02:04] Ajaya1000 commented on #1776
@catarak  I have raised a pull request for this issue. Please review it and suggest to me if this the right way to do so.

[2021-03-16 04:13] Ajaya1000 commented on #1760
@catarak . After working on some components I realized some styled-component can be used on multiple files. Can you please tell me a way to get rid of duplicate codes?  My idea is to make a separate folder for styled-components.

[2021-03-16 04:30] Ajaya1000 opened #1813 "new sketch option doesn't work from sketch tab"
#### Nature of issue?

- Bug

#### Bug details:
If a user clicks `new sketch` from the `sketch tab`, the website simply gets the user back to the editor window without creating a new sketch, just acts as a back button. In my opinion, it should initialize a new sketch instead of staying in the opened sketch.

To implement the feature we may face some challenges like what if the user hasn't saved hi

[2021-03-16 10:24] felipesanchezz commented on #1811
https://github.com/processing/p5.js-web-editor/pull/1810

In which file would that be?

[2021-03-16 11:03] satyasaibhushan commented on #1811
It is given clearly in the error line-9
File:`client/components/Nav.jsx`
and the line in `Nav.jsx` is `645`, position`26`

[2021-03-16 11:25] satyasaibhushan opened #1814 "Pagination for sketch-list, collection-list and for assets"
#### Nature of issue?

- New feature request

#### New feature details:
Currently, the sketches are being fetched form the api and being displayed at once.
This would work fine if we have only a few sketches but would definitely fail when the scale is increased.
So, I think implementation of Pagination is the way to tackle this.
We should implement in both front-end and back-end, only sending a fe

[2021-03-16 11:49] felipesanchezz commented on #1811
Thanks mate, I just wasn't seeing it, lol. Just fixed it, let's see if it passes the running test!

[2021-03-16 11:52] felipesanchezz commented on #1811
It worked!
![image](https://user-images.githubusercontent.com/75498026/111304720-d121b280-8634-11eb-8dee-1589ce7c65fd.png)
Thanks guys!

[2021-03-16 15:26] Hari3 opened #1815 "Tidy Code does not indent nested blocks properly if braces are missing"
#### Nature of issue? Bug

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 89.0.4389.82
- Operating System: Windows 10
- Steps to reproduce this bug:
 1) Create a nested block(branch or loop), inside another branch or loop without using braces anywhere
   a)Check this [Sample editor file](https://editor.p5js.org/HariKrishnan/sketches/0wsJ6ZcvZ)
Here are the contents f

[2021-03-16 16:01] satyasaibhushan commented on #1815
Hey @Hari3,
This will be resolved by the PR #1788. And will be reflected in the website whenever the next release happens.
So, no worries :)

[2021-03-16 20:58] catarak commented on #1815
Thanks for reporting! I just checked if this will indent in your expected way with the merge of #1788, and it still puts them on the same line.

I think this is actually a matter of code style, and both prettier and beautify-js enforce that if/else statements without curly braces should be on one line. I personally agree with this rule and think it should be enforced—I rarely use if/else statement

[2021-03-16 20:58] #1815 closed, assigned to nobody

[2021-03-16 20:59] #1811 closed, assigned to nobody

[2021-03-17 07:40] Ajaya1000 commented on #1760
hey @catarak please verify my pull request.

[2021-03-17 11:58] jgrizou opened #1817 "[Feature request] Deploy sketches live to remote instances -- with proof of concept"
#### Nature of issue?

- New feature request

#### New feature details:

A new option in the share menu to share a "live version". A live version host a "deployed" version of the sketch that is automatically refreshed when the user hit the deploy button.

This is useful when your work is hard to access physically but needs to be debugged/tweaked interactively and iteratively.

This is similar in c

[2021-03-17 12:01] jgrizou commented on #1651
I developed a small webapp, called [p5live](https://p5live.jgrizou.repl.co/), that should help evaluate what having a pop up window feels like, see #1817

Or read more at https://twitter.com/jgrizou/status/1371882296375132162

[2021-03-17 12:03] jgrizou commented on #166
I developed a small webapp, called [p5live](https://p5live.jgrizou.repl.co/), that I think replicates what this issue is intended to and could be used to test interest from users.

See #1817 or read more at https://twitter.com/jgrizou/status/1371882296375132162

If useful, implementation details can be found at https://github.com/jgrizou/p5live

[2021-03-17 12:14] jgrizou commented on #1759
Not entirely sure this is linked but I developed a small webapp, called [p5live](https://p5live.jgrizou.repl.co/), that I think replicates what #1651 is intended for. See #1817 or read more at https://twitter.com/jgrizou/status/1371882296375132162

I think dispatch changes and propagation is somewhat linked, and p5live could help provide a simple use-case to think about.

[2021-03-17 17:18] rt1301 commented on #1760
@catarak  I am trying to convert the NavBasic.jsx file to styled component. I am having difficulties converting the following "theme mixin" code:
`@include themify() {
    border-bottom: 1px dashed map-get($theme-map, 'nav-border-color');
  }`
Can you suggest to me how to solve this?

[2021-03-17 17:58] satyasaibhushan commented on #1760
Hey @catarak
I don't like the way this issue is going forward.Please assign this to someone and let it go in one single direction with a clear idea on how to tackle this.
Please do it fast as many are trying to contribute to this which may lead to some work done which is not used in the repo.

[2021-03-18 07:17] Ajaya1000 commented on #1812
@catarak @byfelipesanchez I went through some of the online IDEs. The most simple and useful one, which is being used by stackblitz, is to have a `commit` button, `fork` button & `branches` window above the file explorer window which also consists of a `pull/refresh` button. But stackblitz being an IDE almost support all kind of folder structure so the cloning of a repo direct to the IDE. But for

[2021-03-18 09:10] LucasWoon opened #1818 "My programme keeps crashing; I've tried running it on multiple computers, and no errors are displayed, yet my programme keeps freezing. I have found the part which is problematic: function mousePressed(){ for(let q = windowHeight-20; q > windowHeight/2; q = q-3){ for(let w = windowHeight; w > windowHeight/2; w = w-3){ for(let e = windowWidth-20; e > windowWidth/2; e = e-3){ for(let r = windowWidth; r > windowWidth/2; r = r-3){ stroke(225,225,0); line(q,e,w,r); } } } } }. In this programme, when you click your mouse, I want a yellow streak (like a bullet) fire from the centre of the screen to the middle of the screen. Whenever I click my mouse however, the programme crashes."
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-03-18 10:48] shantanu96 commented on #1516
Hey @catarak, I tried replicating the bug on my local machine as well as in the online editor and I found no issue with the JSZip or any other library. As you mentioned when I upload files greater than 80KB the text is not visible in the editor but I can still use the contents of the file in my code. Am I missing something? Can you guide me?

[2021-03-18 16:34] Ajaya1000 commented on #1818
Hey @LucasWoon can you please a short title and describe the issue in the comment. It'll be much easier to read. And please follow the template i.e mention your OS and web browser.

[2021-03-18 17:42] catarak commented on #1818
Hi @LucasWoon! I believe the reason the code is freezing is due to it being very computationally expensive—I see that there are four nested for loops. There is, however, code that should catch this so that the browser window doesn't freeze, and this bug is captured in #698.

[2021-03-18 17:42] #1818 closed, assigned to nobody

[2021-03-18 18:10] felipesanchezz commented on #1812
Exactly. I mean, a commit button might be possible right? But even if not, a simple indicator about which branch you are in or something like that is already rly good.

[2021-03-18 18:55] LucasWoon commented on #1818
Thank you so much @catarak :)))

[2021-03-18 18:57] LucasWoon commented on #1818
Very sorry @Ajaya1000 ! I'm new to GitHub, and didn't know the format. I'll be sure to use it next time, thanks for the help!

[2021-03-18 20:30] #1774 closed, assigned to nobody

[2021-03-18 20:32] catarak commented on #1783
@tlsaeger glad you figured it out! my guess is that you had added the variable to `.env` but you hadn't restarted the server, as of right now the server doesn't get automatically restarted for .env changes (and maybe it should!)

[2021-03-18 20:49] catarak commented on #1520
Thanks! Captured in https://github.com/samdenty/console-feed/issues/79.

[2021-03-18 20:49] #1776 closed, assigned to nobody

[2021-03-18 21:19] catarak commented on #1805
Thanks for opening this issue! Rather than making the saved/unsaved files more granular, I think the design should denote simply if the sketch is saved or unsaved.

[2021-03-18 21:19] #1805 closed, assigned to nobody

[2021-03-18 21:49] catarak commented on #1804
Thanks for opening this issue! I think this makes sense, though I don't agree with your suggestion about how to fix this. Instead, I think that when the user clicks on "Create Collection", the popup should appear but the URL should not change.

[2021-03-18 21:55] #1807 closed, assigned to nobody

[2021-03-18 22:01] catarak commented on #1812
Thanks for opening this issue! This is actually captured as #753 so I'm going to close this issue as a duplicate. But I agree this would be very useful!!

[2021-03-18 22:01] #1812 closed, assigned to nobody

[2021-03-18 22:17] catarak commented on #1817
Thank you for making this and thank you for sharing this!!!! This is so rad and I would love to integrate this with the web editor. I've been slowly but surely working on #166 which will affect this but in a small way (the URL for the iframe embed will change).

[2021-03-19 02:51] Ajaya1000 commented on #753
Hey, @catarak I think that it needs an extensive one-to-one conversation in order to solve this issue. So can I mention this issue in my GSoC proposal?

[2021-03-19 02:54] Ajaya1000 commented on #1804
Yes, this makes more sense. Thanks for the suggestion.

[2021-03-19 04:21] satyasaibhushan commented on #1805
Yeah, I agree on retaining the dot on every file when something is changed.
But, don't you think showing which file is changed make sense ?
###### I created this issue as I am used to this feature in VS code

[2021-03-19 06:05] two-ticks commented on #1813
Can you share more details or screenshots? I tried the steps in editor but it is creates a new sketch instead of behavior you observed.

![OIEHQcSb9e](https://user-images.githubusercontent.com/68433541/111737953-84dda900-88a6-11eb-9146-714652f819db.gif)

[2021-03-19 09:44] Ajaya1000 commented on #1813
@two-ticks use the `new sketch` option from the `sketches` tab.
![Screenshot from 2021-03-19 15-10-42](https://user-images.githubusercontent.com/43005088/111761002-620ebd00-88c5-11eb-8a1a-d25b7b25d8a5.png)

Use the `new sketch` button from this window.

[2021-03-19 10:15] satyasaibhushan commented on #1813
Yeah @Ajaya1000 , It seems to be a bug. But, I don't think it would be a problem that user hasn't saved the progress because they will already be warned while opening the `sketch-list`.

I think the problem can be solved by correcting either of these cases
1. while opening the `sketch-list` from the sketch tab,
where the user only being forwarded to `/username/sketches`,but not resetting the edito

[2021-03-19 10:28] Ajaya1000 commented on #1813
@satyasaibhushan  yes we can mock the existed behavior just like from the file menu. And I'm also updating the comment to the bug.

[2021-03-20 07:15] Ajaya1000 commented on #1804
@catarak I have raised a PR. Please review if this the way you suggested.

[2021-03-21 13:08] Tanmay-Agarwal-24 opened #1820 "Hi I am 14 year old in my case there are a problem when I use createSprite() command there is an error that was the createSprite is not defined i use p5editor"
#### Nature of issue?

- Found a beug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-03-22 04:31] leemark commented on #1400
Hi @catarak I have run into this as well, here is a screenshot of how text looks in the Preview window in Dark mode, but in High Contrast mode it is similar, defaulting to black text on a very dark background:
![image](https://user-images.githubusercontent.com/3521469/111940567-b4520880-8a94-11eb-9d98-d76f53ca52e9.png)
Here's an example of a sketch that displays this issue: https://editor.p5js.org

[2021-03-22 14:05] vulongphan opened #1821 "Add tests for filename and extension validation"
I see that there are some unfinished tests in [Project.test.js](https://github.com/processing/p5.js-web-editor/blob/develop/server/domain-objects/__test__/Project.test.js).

![Screen Shot 2021-03-22 at 5 22 02 PM](https://user-images.githubusercontent.com/46087559/112002068-f6cd2100-8b38-11eb-8bbd-6dc5d472460c.png)

@catarak I would like to finish these tests, please let me know!

[2021-03-23 23:29] bomanimc commented on #1773
@catarak Coming back around to this! To confirm, would the idea here be to hit some of the common endpoints that you've defined (like `/sketches`) and write code in the ml5.js repo that handles pulling the files down from GitHub, etc (similar to the code we have on the web editor). Initially, I had thought that for this issue a way to address this by adding an API route (something like /fetch-ml5-

[2021-03-24 11:03] nakul-shahdadpuri commented on #103
@shiffman @JobLeonard @catarak @hydrosquall
I agree with @hydrosquall that a more native desktop solution could be ideal. I had created a simple prototype of the idea back in November. [p5.js IDE](https://github.com/nakul-shahdadpuri/p5-js-IDE)
Let me know if this is a viable solution for GSOC21. Cheers.

[2021-03-26 06:31] vulongphan opened #1823 "Add test for play button"
I noticed that the play button in [Toolbar.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/Toolbar.jsx) is not tested in [Toolbar.test.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/Toolbar.test.jsx) and I would like to write a test for it.
@catarak Please give me some feedback on my subsequent commits.

[2021-03-26 06:49] vulongphan commented on #1823
There seems to be two PlayIcon components in Toolbar (as attached). My understanding is that the first one does the setup and the second one starts the sketch and that when a user clicks on the play button, these two PlayIcon components are both "clicked" on. Please let me know if I have missed something.
Thank you!
![Screen Shot 2021-03-26 at 10 45 19 AM](https://user-images.githubusercontent.com

[2021-03-26 07:32] vulongphan opened #1825 "Add test for stop button"
Since there hasn't been any test for the stop button, I want to create one.
This, in combination with #1824, will provide more test coverage for [Toolbar.jsx](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/Toolbar.jsx)

[2021-03-27 13:44] JustinChan613 opened #1827 "The wheel not spinning in own function"
Hi everyone I am a new p5.js user, making my year-end project. In the project, I want to make a 'loading screen' with a spinning wheel. When I demonstrate it in another file, it works. But when it comes to my actual file, the wheel stops spinning. Would like to ask why is this happening? Thanks.

My project (not working)
https://editor.p5js.org/JustinChan/sketches/t-nSUJLQe

Trial (working)
https:

[2021-03-27 17:25] Ajaya1000 commented on #1827
@JustinChan613 Here's a solution for you to try  https://editor.p5js.org/ajaymati1000/sketches/sKSjqT2M6

[2021-03-28 16:57] akshaykumar23399 opened #1829 "I wanted to update website in Hindi language and also wanted to update the design of the website"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-03-28 18:47] JustinChan613 commented on #1827
Oh Thank you! @Ajaya1000
But would like to ask is my version not working because the spinning function is not under the function draw() and what I have to do is to put the function draw() under the function loadingPage1 by making a if-else statement? Thanks

[2021-03-29 01:49] Ajaya1000 commented on #1827
@JustinChan613 Yes, You have to put the spinning function inside the draw() function. That's because only the draw() function runs in an infinite loop.

[2021-03-29 12:46] two-ticks commented on #1820
Place `p5play.js` in sketch files and include it in index.html by adding **<script src="p5.play.js"></script>** in head section.
You can see https://editor.p5js.org/kjhollen/sketches/TwH7wch3A for reference.
![image](https://user-images.githubusercontent.com/68433541/112838544-c9452200-90ba-11eb-86fb-224d681aebd6.png)

[2021-03-29 20:05] cypherBinary opened #1830 "loops don't work"
the editor has a problem where no matter what i do no loops work. its probebly from my computer but i cant figure out what the problem is. i have a windows 8 computer and this is the very simple code:
function setup() {
  createCanvas(600, 400);
  background(0);
}

function draw() {
    fill(255);
  for (var i = 0;i >= width;i += 50) {
    circle(i, 50, 30);
  }
}

thats it. even this doesn't draw

[2021-03-29 22:12] #1830 closed, assigned to nobody

[2021-03-31 07:42] LucasWoon opened #1831 "Uncaught TypeError"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-03-31 07:45] LucasWoon commented on #1831
Hi there, I've been making multiple codes now that import ml5.js into p5.js. I often get this line of feedback everytime I press play:
Uncaught TypeError: Cannot read property 'split' of undefined (: line 48)
Some of my codes do not even have 48 lines, and my code does not have the word 'split' in it, which leaves me feeling very confused. I make sure to type my code properly with curly brackets a

[2021-04-01 10:27] jht1493-gmail commented on #273
Thanks @jnsjknn p5-project-downloader, close to what I'm looking for.
Ideally i'd like to keep local copy of sketches in sync with online version.

[2021-04-01 10:52] masterlaver13 opened #1832 "Private sketches"
All sketches are public to everyone.

- New feature request

#### New feature details:
All sketches that are made in web editor are public to everyone. They refresh instantly so someone can follow the work.
I suggest adding private sketches. I know, there is a solution: to work on downloaded files, but it is sometimes difficult. The person who has these files can have issues with compiling them.

[2021-04-02 22:56] aferriss opened #1833 "Creategraphics bug"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Hi there! I'm getting this error when trying to call any function on a graphics object.

`Uncaught TypeError: Cannot read property 'grid' of undefined`

I think this is related to https://github.com/processing/p5.js/issues/5000

Here's an example sketch showing the issue.

https://editor.p5js.org/aferriss/sketches/63Hly1qCD

I'm wo

[2021-04-07 23:36] aferriss opened #1836 "Image loading doesn't work with for loops"
#### Nature of issue?

- Found a bug

I'm running into something odd where when I try to load my images in a for loop in the preload function, the images can't resolve. It seems like the file paths are being changed in some way so that p5 can't find the images.

If I try to load the images by typing them all out by hand, then they load just fine.

Here's a sketch showing what happens: https://edit

[2021-04-08 02:11] da091005 opened #1837 "Variable errors when switching between original and duplicate programs."
Error switching between original program and duplicate program.

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:

Google Chrome | 89.0.4389.90 (Official Build) (64-bit)
-- | --
Revision | 62eb262cdaae9ef819aadd778193781455ec7a49-refs/branch-heads/4389@{#1534}
OS | Windows 10 OS Version 1909 (Build 18363.1139)
JavaScript | V8 8.9.255.20

- Steps to repr

[2021-04-08 02:13] da091005 commented on #1837
I've just realized that you won't be able to do File > open if you're not logged in under myself... I will work to duplicate the bug and resubmit.

[2021-04-08 02:13] #1837 closed, assigned to nobody

[2021-04-08 02:33] da091005 commented on #1836
I ran into similar issues. Might be related. It seems to work if you wait ~5 minutes after uploading the file. (I didn't get any errors when I ran your sketch).
Might be related to my issue: https://github.com/processing/p5.js-web-editor/issues/1738

[2021-04-08 17:35] Devanshsoni19 opened #1838 "how to rename the file"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-04-08 18:13] aferriss commented on #1836
@da091005 Strange! It's working fine for me now as well. I feel that still it shouldn't take 5 minutes for you to be able to use your images, or if it does can we provide the user with some information on when their image data will be available?

[2021-04-08 20:06] zaira0108 opened #1839 "error al escribir"
el programa no me permite modificar o escribir ya que en cuanto le doy clic para poder escribir como que se traba y no puedo modificar el programa

[2021-04-08 23:02] da091005 commented on #1836
Yea I think it’s a VERY strange bug. If you access the files directly it works immediately. But if you try to use a variable to access the files it takes like 5 minutes.

[2021-04-11 07:47] two-ticks commented on #1838
If it's a general question please post it on [Processing Discourse](https://discourse.processing.org/). If it's a bug you can follow the  template and give some more details about your issue.

[2021-04-12 01:04] ProfLazyTh opened #1840 "Add way to delete an account for P5.js"
There isn't a way to delete an account for P5, I've checked in Settings and there is nothing that prompts you to delete an account. If this is a bug on my side, please let me know how to go through the process to delete my account.

[2021-04-12 01:06] ProfLazyTh commented on #1838
On the file name, originally sketch.js, there is an arrow to the left of it. Click that arrow and it opens the list of files. Right click sketch.js on the left side and click rename.

[2021-04-12 07:32] Ajaya1000 commented on #1839
hey @zaira0108 can you please elaborate on the issue? And is this a problem with the online editor?

[2021-04-12 21:21] zaira0108 commented on #1839
Al momento de querer escribir el código no puedo modificarlo no me deja escribir y si llego  a escribir solo se empieza a mover y escribo en cualquier parte del código por lo que tengo que escribir en un bloc de notas y pegarlo para que pueda modificar el código es en linea por whitehat Jr

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Ajaya ***@***.***>

[2021-04-20 11:34] JustinChan613 opened #1843 "Not getting the meaning of codes in p5.js from Youtube video"
I watched the video from the coding train making tic tac tow on p5.js, while I don't get the meaning of codes in function nextTurn(). Would like to ask what do they mean? Thanks.

// Tic Tac Toe AI with Minimax Algorithm
// The Coding Train / Daniel Shiffman
// https://thecodingtrain.com/CodingChallenges/154-tic-tac-toe-minimax.html
// https://youtu.be/I64-UTORVfU
// https://editor.p5js.org/coding

[2021-04-21 11:53] #1843 closed, assigned to nobody

[2021-04-21 11:56] JustinChan613 opened #1844 "if-else statement problem"
Hi all I am now doing a project, making a game. As I am making a random selection of player / ai playing first, I find it does not work at all. Would like to know where the problem is, Thanks.

https://editor.p5js.org/JustinChan/sketches/gdQ2nM9Ld

[2021-04-22 15:28] slowizzm commented on #1844
You'll have better luck getting help with this type of issue [here](https://discourse.processing.org/c/p5js/10). This is not a forum, this space is for issues related to the p5.js web editor.

[2021-04-22 15:33] slowizzm commented on #1836
I still experience this issue a lot as well during live sessions with my classes. I too have found that waiting a bit resolves the issue initially. I kept forgetting to come back and reopen #771 but I agree it may be related somehow.

[2021-04-22 15:40] slowizzm commented on #1832
I like the openness of the web editor since it is based around learning and community. But I would like the option to be able to save a sketch and publish it when it is ready. Mostly as an educator to avoid my students accessing an assignment/demo/example before it is ready for them.

This may be related to #753. What happens if our repo gets set to private after we have imported?

[2021-04-25 18:55] rpapson opened #1846 "Text box functionality broken in 1.2.0"
#### Nature of issue?

- Found a bug

#### Details about the bug:

 On Chrome
MacOSX
- Steps to reproduce this bug:

Using release 1.2.0 - creating text box using "text(str,x,y,width,height)" in this version breaks words in the middle to fit box.

Moved back to 1.1.9 and the "text(str,x,y,width,height)" and it works perfectly breaking lines only at whole word boundaries.

[2021-04-27 04:05] slowizzm opened #1847 "Editor Warnings/Errors on working code"
Getting warnings/errors in editor on things like template literals and static methods.

Template Literal warning (Yellow): "Expected an assignment or function call and instead saw an expression"
Static Methods warning (Red): "Class properties must be methods. Expected '(' but instead saw '='"

Assuming this is related to #1540.

Pointing this out bc it confuses my students when they see the warnin

[2021-04-27 19:18] jesse-harding opened #1848 "Incorrect filename displayed in side panel"
#### incorrect filename displayed in side panel

- Found a bug

#### Details about the bug: Uploaded files are shown with whitespace and periods removed. There may be other characters being removed from the string, but those are all I have seen in practice. This has caused difficulties using the editor as a teaching tool for novice coders.

- Web browser and version: Chrome Version 89.0.4389.114 (

[2021-04-29 12:14] yesanpark opened #1849 "p5.js Web editor is not working on Safari"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-04-29 12:17] yesanpark commented on #1849
Hello,
P5.js Web Editor is not working after Safari was updated to the new version 11.3 of macosBig Sur on April 28, 2021

[2021-04-29 12:17] #1849 closed, assigned to nobody

[2021-04-30 20:34] almaskhanwazir opened #1850 "I cloned repository and after installing packages I am facing " error Delete `␍` prettier/prettier" issue"
" error  Delete `␍`  prettier/prettier" issue

- Found a bug

Details about the bug: I just cloned repository, installed all packages, created .env file and when i run application its giving "error  Delete `␍`  prettier/prettier" error
![Annotation 2021-05-01 013351](https://user-images.githubusercontent.com/46604137/116751351-56162f00-aa1d-11eb-8d04-f9e002d3caf3.png)

- Web browser and version:

[2021-04-30 20:37] almaskhanwazir commented on #1850
if we add "endOfLine":"auto" to .prettierrc file then issue fixed

[2021-04-30 21:31] almaskhanwazir opened #1851 "Should be able to drag and drop local files to the files section"
New Feature to drag and drop file into files section

- New feature request

 **Details about the feature:**
I am not able to drag and drop file from local system into the file section. We should be able to drag files with extensions (js, json, xml, html , css) from local system and drop into files section .

Web browser and version: Chrome version 90.0.4430.93
Operating System: Windows 10 64 bit

[2021-04-30 23:31] almaskhanwazir commented on #1851
Well sorry it may existed

[2021-05-04 13:21] Drnagrom commented on #1160
I'm looking to delete my p5.js account too?

[2021-05-04 18:47] catarak commented on #1160
@Drnagrom okay! please email cassie@processing.org with your account info.

[2021-05-04 20:24] catarak commented on #1760
Sorry for the delay in responding to this issue and all of the related pull requests! I was on a GitHub hiatus and now I am making my way through issues/PRs. I agree with @satyasaibhushan, that this needs to be approached component by component with small PRs rather than with large PRs. It will be too difficult for me to review huge PRs with a lot of changes, and unfortunately I'm going to have to

[2021-05-04 20:57] catarak commented on #1813
Thanks for reporting! I'm able to reproduce this, when the sketch that had been opened was an unsaved, new sketch.

[2021-05-05 19:55] brettbibby opened #1881 "Add scale to Editor preview pane"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Enable the LED creative coding community better.

#### Most appropriate sub-area of p5.js?
[X ] Other (specify if possible)
EDITOR

#### Feature enhancement details:
P5.js is commonly used for creative coding for LED projects. The "display" sizes of LED strips

[2021-05-05 20:47] #1804 closed, assigned to nobody

[2021-05-05 20:50] catarak opened #1852 "Set default iframe background color to white"
#### Nature of issue?

- Found a bug

#### Details about the bug:

Hi @catarak I have run into this as well, here is a screenshot of how text looks in the Preview window in Dark mode, but in High Contrast mode it is similar, defaulting to black text on a very dark background:
![image](https://user-images.githubusercontent.com/3521469/111940567-b4520880-8a94-11eb-9d98-d76f53ca52e9.png)
Here's an ex

[2021-05-05 20:52] catarak commented on #1400
@leemark turned your comment into a new issue at #1852.

[2021-05-05 21:20] catarak commented on #1773
Sorry for the delay in getting back to you! I was on a GitHub hiatus but now I am back :) The idea is that you would hit the endpoints on the p5.js Editor API so that ml5.js team could manage updating the examples and the uploading script rather than me. Does that makes sense?

[2021-05-05 22:07] catarak commented on #1850
Thanks for reporting! I think this has to do with the Windows vs Mac/Linux line endings. Want to open a PR with this fix?

[2021-05-06 20:43] sflanker opened #1853 "p5.js Web Editor does not work with chrome dev tools."
#### Nature of issue?

I believe this is a bug, possibly a regression in recent browser versions? But perhaps it has never worked and this is a feature request?

#### Details about the bug:

There are a number of issues with the the way the p5.js Web Editor loads the sketch javascript that makes it not work well with Chrome/Chromium developer tools:

 * It is difficult if not impossible to find th

[2021-05-07 16:31] almaskhanwazir commented on #1850
Yeah I will open pull request for this, I already have fixed it locally, thanks for reply

[2021-05-07 18:40] almaskhanwazir commented on #1850
Please review my PR thanks
https://github.com/processing/p5.js-web-editor/pull/1854

[2021-05-07 19:23] catarak commented on #1829
@akshaykumar23399 I believe you're in the wrong repository, I suggest going to the [p5.js website repo](https://github.com/processing/p5.js-website)! I think some work has been done to translate the website to Hindi, see https://github.com/processing/p5.js-website/pull/431, https://github.com/processing/p5.js-website/pull/630

[2021-05-07 19:24] #1829 closed

[2021-05-07 19:30] catarak commented on #1827
Hi @JustinChan613! In the future, if you're having issues with p5.js sketch, I recommend using the [Processing forum](https://discourse.processing.org/) or [Stack Overflow](https://stackoverflow.com/tags/p5.js/hot). GitHub issues for the p5.js web editor repository is for reporting bugs/suggesting features for the web editor.

[2021-05-07 19:30] #1827 closed, assigned to nobody

[2021-05-07 19:35] catarak commented on #1820
Hi @Tanmay-Agarwal-24! Glad you figured out a solution. In the future, if you're having issues with your p5.js sketch, I recommend posting on the [Processing forum](https://discourse.processing.org/) or [Stack Overflow](https://stackoverflow.com/tags/p5.js/hot). Opening an issue here is for reporting bugs or suggesting features to the p5.js web editor.

[2021-05-07 19:35] #1820 closed, assigned to nobody

[2021-05-07 19:38] catarak commented on #1831
Hi @LucasWoon! Thanks for reporting. Would you mind opening up the browser developer tools and and pasting/taking a picture of what you see there?

[2021-05-07 19:43] catarak commented on #1833
Thanks for reporting! Sorry for the delay in getting back to you—I'll update the default to v1.3.1 and do a web editor release.

[2021-05-07 20:00] aferriss commented on #1833
Thanks @catarak !

[2021-05-07 20:48] catarak commented on #1853
Thanks for reporting! This is due to a difference in how the p5.js Editor and OpenProcessing handle rendering sketches. I've been working on rewrite of how the p5.js Editor renders, and this issue has given me a lot to think about...

[2021-05-07 20:49] #1833 closed, assigned to nobody

[2021-05-07 23:18] montoyamoraga opened #1856 "deleting extra branches"
as far as i know, these branches can be deleted with no conflicts:

* bug/extra-dot
* bug/console-production
* revert-667-feature-2/interactive-console
* revert-1624-revert-667-feature-2/interactive-console
* bug/revert-interactive-console
* bug/mongo-sessions
* bug/webpack-docker-compose
* bug-interactive-console

link here :)
https://github.com/processing/p5.js-web-editor/branches

[2021-05-08 08:51] gugray opened #1857 "In Find, "only whole words" also finds postfixes"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: 88.0.1 (64-bit)
- Operating System: Windows 10

#### Steps:
- Have a sketch open for editing. The sketch should have strings that appear as whole tokens, and as part of other tokens, e.g.: abc, ab, a, ba, bac, Santa
- Press Ctrl+F to bring up the Find window. Make sure all the options are unchecked: not a

[2021-05-08 09:16] gugray opened #1858 "Find does not auto-highlight single-character search terms"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  88.0.1 (64-bit)
- Operating System: Windows 10

#### Steps to reproduce

For both scenarios, have a sketch open with some content in it. Ideally the sketch has just been opened, so the options in the Find dialog have their default state: not a regex, not case sensitive, not "only whole words".

**Scenari

[2021-05-08 09:19] gugray commented on #1858
I have a vague suspicion that this behavior may be partially intended. I can imagine that auto-highlighting single-character search terms might be a performance issue.

If that's the case, I would still give it further thought:
- At the very least, the behavior is confusing when I delete characters from the input field, and highlights don't get updated with only a single-character search term is l

[2021-05-08 09:29] gugray opened #1859 "Results count does not get updated in Find"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: 88.0.1 (64-bit)
- Operating System: Windows 10

#### Steps to reproduce:

- In the Find window, change the input field and the search options so that the number of occurrences in the editor varies.
**Actual result**: The label with the number of occurrences does not get updated.
**Expected result**: The l

[2021-05-08 18:40] nsmarino commented on #1852
Hello,

I am currently working on a pull request to fix this issue, but I would like some advice. I added a default background color of white to the iframe in the PreviewFrame component by adding `background-color: white` to the `.preview-frame` class in client/styles/components/_preview-frame.scss. However, this has the possibly undesired effect of making the entire preview pane white even when n

[2021-05-10 00:42] enauman opened #1860 "images loaded in preload persist despite clearing browser cache after being swapped"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome: 90.0.4430.93, Safari: 14.1
- Operating System: MacOS 10.15.7
- Steps to reproduce this bug:
After replacing an image I'm still getting the old one after clearing my cache. Here are the details of what I'm doing:
I am preloading images from an images folder using prefix and extension variables, in

[2021-05-10 09:11] Geodecillium opened #1861 "Web Editor thinks optional chaining is an error"
- Found a bug

- Web browser and version: Chrome 90.0.4430.93
- Operating System: Windows 10 19042.928
- Steps to reproduce this bug:
Using any object/array/function you can add ?. to check if it's nullish before continuing to avoid errors.
official documentation: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining
The code still runs fine, but the editor

[2021-05-10 21:52] barcar commented on #1721
Is this still an issue? It looks like there was a possible fix but I’m seeing the same error?

[2021-05-12 19:51] gugray commented on #1861
This sounds related to #1540 and #1847

[2021-05-12 20:12] catarak commented on #1853
I was actually able to figure out a fix for this! It will take a minute to get tested and merged in and deployed, as it's dependent on some rendering changes I'm making as part of #166.

[2021-05-13 00:48] sflanker commented on #1817
FYI @jgrizou, you've got a bit of a name collision with the preexisting https://teddavis.org/p5live/

[2021-05-13 09:24] jgrizou commented on #1817
Yeah didn't see it before :/ Let's live with it, I am not pushing this as a product/service, just to show a concept here. If it turns out to be useful it might be integrated in the official editor at some point.

[2021-05-13 22:14] nickmcintyre commented on #1721
@barcar please have a look at #1722 and let me know if the updated documentation is easy to follow.

[2021-05-14 02:10] Adkaros commented on #1671
Any updates on this? I've been working in p5js a lot lately and would love this functionality!

[2021-05-14 13:45] aditi317 opened #1864 "the collide is not working"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-05-15 17:00] mkmori opened #1865 "Tidy Code indent anomaly (parentheses)"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 90.0.4430.212
- Operating System: Windows 10
- Steps to reproduce this bug:

  - Running Tidy Code on the following block preserves the multi-line format of the first, but not the second "pg.line" statement.
  - If the statements are reversed, the behavior is also reversed. (So maybe something to do

[2021-05-15 18:01] mkmori commented on #1865
Hmm...noticing more about this behavior in other contexts: Is multi-line triggered by length of a given statement, including indents...?

[2021-05-16 00:01] yoshikiohshima opened #1866 "Support co-browser solutions such as Surfly."
- New feature request

#### Feature enhancement details:

#### New feature details:

There are some co-browsing services where multiple people can open the same page at the same time, and collaborate in real time. One of such a service is called Surfly (just an example). The way such a service typically works is to rewrite code so that the  elements created are aware of remote participants. To do

[2021-05-16 06:00] slowizzm commented on #1337
What is the status of this feature? Is there a version I can use next semester in my classes?

[2021-05-16 09:51] everythingability opened #1867 "Suggestion: Color picker"
Hi,

I know this may seem like a minor feature, but when teaching p5js, it's a pain to have to "go elsewhere" to choose a color... It could go in the Help or Sketch menu.
A super simple compromise might be to have a link in the help menu to a resource elsewhere, but ...
It might also link out to a list of HTML color names.

Thank you for all your wonderful work

Tom

[2021-05-16 09:55] everythingability opened #1868 "Suggestion: SQLite3"
This may not be suitable/possible, but it is my opinion that working with relational databases is WAY HARDER than it should be for learners who just want to learn the basics... tables, ids, foreign keys, joins etc.

If the extensions .sqlite3, .sqlite, .db were white listsed, would I be able to connect to a db from p5js (using a sql library)? Or would that not be doable? ( I'm know I could use gli

[2021-05-18 10:21] tlsaeger commented on #1783
@catarak I sent a PR. Thanks again for your support.

[2021-05-18 23:18] stalgiag opened #1870 "Editor does not work in Safari 14.1 on Catalina or Big Sur"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- p5.js version: newest, linked from https://editor.p5js.org (can't immediately find it in the page source)
- Web browser and version: Safari 14.1 (15611.1.21.161.7 on Catalina, 16611.1.21.161.6 on Big Sur)
- Operating System: MacOS 10.15.7 "Catalina" and 11.3.1 "Big Sur"
- Steps to reproduce this: go to https://editor.p5js.org, lo

[2021-05-20 09:20] suiato opened #1871 "TypeError: Class constructor MongoStore cannot be invoked without 'new'"
#### Nature of issue?

Running `npm start`,  app crashed

because

#### Details about the bug:
- os: Ubuntu server 20.04.2 LTS on Linode
- git: version 2.25.1
- node: version 12.6.1
- npm: version 7.13.0
- Steps to reproduce this bug: `npm start`

#### Code at server/server.js
<pre>
  1 import Express from 'express';
	:
  6 import session from 'express-session';
  7 import connectMongo from 'conne

[2021-05-23 20:49] sweco-sedahd opened #1874 "Cannot upload or create .stl file into editor.p5js"
Hi everyone,

I thing i have found a similar problem to #1741 .

Function loadModel supports both .obj and .stl files but only .obj files are allowed to be uploaded and created.

Thanks
Daniel

[2021-05-24 07:06] Drgamer005 opened #1875 "i want to report that my game is not starting it is showing loading fr too long it is not error in code was working fine yesterday but not working now"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-05-24 16:37] dipamsen opened #1876 "variables declared in console window are not stored"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 90.0.4430.212
- Operating System: Windows 10
- Steps to reproduce this bug:

declare a variable in the `ConsoleInput` and try to access it

![image](https://user-images.githubusercontent.com/59444569/119378914-6c41a300-bcdc-11eb-84b6-0bcfca8778c0.png)

[2021-05-25 15:24] binomial0 commented on #1783
I looked over the translation in the PR (@tlsaeger asked for this) and wrote some suggestions. I'll link them here; I hope the format is ok and that this is useful. https://gist.github.com/binomial0/29b78bdaf81ff4399c36edced2ea30ad

[2021-05-25 15:38] tlsaeger commented on #1783
To add a little context I asked if someone would help me with proof reading here: [Twitter](https://twitter.com/t00may/status/1397104553347190784) and in the [processing](https://discourse.processing.org/t/proof-reading-german-translation-p5-web-editor/30271/2) forum.
@binomial0 was so kind to offer first suggestions which i will add in the coming days.

[2021-05-26 05:15] yesanpark opened #1877 "P5.JS online editor is not working on Safari version 14.1"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-05-26 05:17] yesanpark commented on #1877
I cannot use the P5.Js Online Editor on Safari version14.1. Before the new version it had worked well. What's wrong with the version 14.1 Safari on running the P5.JS?

[2021-05-27 08:04] tlsaeger commented on #1783
I incorporated the changes suggested by @binomial0 thanks again for your support. @catarak from my side the PR is ready to be merged.

[2021-05-27 13:43] peilingjiang commented on #1877
Currently, you can change
[code]
to
[code]
in `index.html`, or just remove this line (if you are not using p5 sound) to avoid this error.

[2021-05-28 07:42] yesanpark commented on #1877
@peilingjiang
Thanks for the comments, but
It's still not working with the downloaded Editor of p5.js or its online Editor on Safari.
I can run it online with Chrome.

I think the p5.js Editor doesn't work on Safari after Apple updated its browser.

[2021-05-29 04:28] da091005 commented on #1875
Your Issue is very vague/ lacking details/ examples. Nobody is going to be able to “fix” an issue like this.

[2021-05-29 04:51] da091005 commented on #1844
@JustinChan613
Like slowizzm said, this isn’t a place for coding help. This is a place to open issues related to the actual operation of the web-editor.

That being said, your issue is that you’re calling noLoop(); but draw is sill being executed once after your AI moves, so the ellipse is being overwritten by the background() in draw.  So, delete your draw function and move your background(120) t

[2021-05-29 20:30] outofambit commented on #1877
Tried this and was able to reproduce in Safari 14.1.1 on macOS 11.4. Error appears to be a CORS issue:

`AbortError: Failed to fetch module, error: Cross origin requests are only supported for HTTP.`

I have on idea why this would affect the p5 sound URL but not the p5 core library URL, as they are both HTTPS and from the same domain... hopefully @catarak has an idea?

[2021-05-30 09:45] yesanpark opened #1878 "P5.js Web Editor is not working on Safari. Its downloaded version is not working on PC too."
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-05-30 16:24] adamcole123 opened #1879 "TypeError: Cannot read property 'call' of undefined"
#### Nature of issue

- Found a bug

#### Details about the bug:

- Web browser and version: Edge
- Operating System: Windows 10
- Steps to reproduce this bug:

This is my setup function
[code]

When i click one of the buttons, i get this error:
[code]

Not sure if this is to do with my code, since im new to p5, any help would be appreciated :)

[2021-06-01 10:45] monicaaraujopasb opened #1880 "Saved Codes are disappearing for most my students"
In the last week, many of my students have lost their codes hosted in P5.JS web editor. I use it a lot with my students, they are close to finishing the final project and are losing codes all the time. Please take a look at what might be happening... all of them use the school email to log in, these emails have **@pasb.com.br .
Please help... they are very frustrated and I dont know what to do,

[2021-06-01 21:17] catarak commented on #1878
Thank you for reporting! I'm unfortunately not able to reproduce—it's working on Safari for me! Can you add information like your operating system, or specific things you can't get to work in the web editor? Thank you!

[2021-06-04 01:55] JetStarBlues opened #1882 "Syntax Highlighting in Instance Mode"
#### Nature of issue?

- New feature request

#### New feature details:

 p5.js keywords are currently not highlighted in instance mode ([live link][0]).

![imsh1](https://user-images.githubusercontent.com/4354703/120733258-0c998380-c4a4-11eb-8bd5-0e9d0f820184.png)

It would be awesome if they were. I noticed in the examples editor, **some** of the keywords are highlighted ([live link][1]).

![ims

[2021-06-04 12:45] tensionhead commented on #276
Seems like for sound processing you have to add
[code]
to your html. Before doing this I got the same error as @ariciano I am a total beginner with P5.js, but maybe it' really not entirely clear from the [**Get Started**](https://p5js.org/get-started/) section?!

[2021-06-04 20:18] catarak commented on #1877
Thanks for reporting! I'm unfortunately not able to run Safari 14.1.1 because I'm running Big Sur (and therefore running 14.0.3). Apparently the 14.1.1 update is for Catalina and Mojave. So it's hard for me to get more info!

[2021-06-04 20:49] Zwaan69 opened #1883 "Apple ipad safari apple ipad 14.6.0 work not. 14.0 well good work why?."
problem apple ipad 14.6.0 not work
Well 14.0

i will ipad p5.js edior open

#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-06-09 12:53] abrennec commented on #1878
Hi, I have come across the same issue today. p5.js Editor was not working in safari with the default example. When executing / running play button, "Loading ..." occurs and that's it. However, older examples are working. I looked into index.html file and changed the version of p5.sound.min.js. Now things are working again but this is still weird. Could you check again whether you can reproduce, @c

[2021-06-09 13:41] gugray commented on #1813
Is there anything I can do to help move this pull request along?
It has a big red X but that's not because the checks failed. The check failed to execute:  failed to receive status: rpc error: code = Unavailable desc = transpor

[2021-06-11 06:10] Mouna662 commented on #1047
Hey can anyone let me know what wrong with my code it keeps saying that the square is not defined.

var columns,rows;
var size = 40; // we need to indicate a variable that keeps track of how wide and high each square in the grid will be

var grid = []; // this array will place where we put the cells

function setup() {
  createCanvas(400, 400);

  columns = floor(width/size);
  rows = floor(height

[2021-06-11 15:53] catarak commented on #1047
Hi @Mouna662! In general, if you're looking for support with your p5.js, I recommend using the [Processing Discourse](https://discourse.processing.org/) or [Stack Overflow](https://stackoverflow.com/tags/p5.js/hot). GitHub is for reporting bugs with p5.js or the p5.js Editor.

That being said, I noticed in your code
[code]

that your class `Square` is spelled incorrectly as `Sqaure`. Hopefully tha

[2021-06-11 15:59] catarak commented on #1883
Thanks for reporting! I'm fairly certain this is related to #1878—there seems to be an issue with a certain version of Safari and `p5.sound.js`.

[2021-06-11 16:01] catarak commented on #1878
I just re-read the subject of this issue, that the sketch is also not working in Safari when you download the sketch and run it outside of the web editor. This to me implies that the bug is with p5.sound and not the p5.js web editor. That being said, because it is causing issues in the web editor, maybe the solution is changing the default version of p5.js sound. Because I cannot reproduce this is

[2021-06-11 16:14] catarak commented on #1876
Thanks for reporting! This unfortunately is a limitation in how the console works and I haven't figured out a way around it yet. The same issue actually occurs on CodeSandbox, CodePen, etc. which I take as a sign that maybe it's not a trivial thing to solve.

The way around this is to use `var` instead of `let` or `const`. If you would like to access a variable in your sketch from the interactive

[2021-06-11 16:14] #1876 closed, assigned to nobody

[2021-06-11 16:24] catarak commented on #1870
Sorry for the delay in getting to this! I've had my focus elsewhere and haven't been following bug reports closely. I'm not able to run Safari version 14.1 (I'm running 14.0.3, and when I try to update Safari there are no updates listed.) Right now, given #1878, I believe this may be an issue with p5.sound rather than the web editor. Would it be possible to test if a downloaded sketch still shows

[2021-06-11 16:40] catarak commented on #1874
Hi @sweco-sedahd! Thanks for reporting. Yes, the issue has the same fix as #1741.

[2021-06-11 17:02] catarak commented on #1875
Thanks for reporting! I need more details for this issue in order to fix it. Can you link to the sketch that's not working? Do you have any steps to reproduce? Do you have the browser/OS you're using? Thank you!

[2021-06-11 17:03] #1844 closed, assigned to nobody

[2021-06-11 17:30] catarak commented on #1882
Thanks for reporting! This would be great though I'm not quite sure how to fix it. I'm not an expert on how CodeMirror syntax highlighting works—basically there's a custom [`p5-javascript`](https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/p5-javascript.js) mode that pulls from a list of [p5.js keywords](https://github.com/processing/p5.js-web-editor/blob/develop/client/util

[2021-06-11 17:31] #1864 closed, assigned to nobody

[2021-06-11 17:41] catarak commented on #1865
Thanks for reporting! This is certainly related to how `prettier` is configured in the browser. If you look at the [code that handles the tidy code action](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/Editor.jsx#L324), it's currently using the default `prettier` config, which is maybe not desirable. I believe prettier has some rules about whether to hav

[2021-06-11 18:10] #1813 closed, assigned to nobody

[2021-06-11 18:14] catarak commented on #1881
Thanks for reporting! I believe it is already possible to do this by editing a sketch's `index.html` file and adding the scale there. You can access this file by opening the sidebar:
<img width="461" alt="Screen Shot 2021-06-11 at 2 13 17 PM" src="https://user-images.githubusercontent.com/6063380/121731685-462f4780-cabf-11eb-84d0-98af930da187.png">

Let me know if you need more help or guidance!

[2021-06-11 18:14] #1881 closed, assigned to nobody

[2021-06-11 18:15] catarak commented on #1856
Thanks! I just closed a bunch of branches 🎉

[2021-06-11 18:15] #1856 closed, assigned to nobody

[2021-06-11 18:18] #1850 closed, assigned to nobody

[2021-06-11 18:27] catarak commented on #1867
Thanks for the suggestion! This is actually already an open issue (#90), but I think is worth bringing up again. In my mind I thought this would be a difficult issue but I think there are actually out of the box solutions that would be possible to use, such as [`codemirror-colorpicker`](https://github.com/easylogic/codemirror-colorpicker). I also noticed recently that there's a [custom color picke

[2021-06-11 18:28] catarak commented on #90
I've changed my mind about this issue and think it would add a lot to the editor! So the issue is more visible, I'm going to close this one in favor of #1867.

[2021-06-11 18:28] #90 closed

[2021-06-11 18:29] catarak commented on #1783
@tlsaeger great, thank you!

[2021-06-11 18:35] #1783 closed, assigned to nobody

[2021-06-11 18:59] catarak commented on #1868
Thanks for the suggestion! I think the solution would be to work with the [IndexedDB API](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API), which I have not at all tested if it works with the web editor. I also just found a library called [Lovefield](https://github.com/google/lovefield) which is a relational database that works in the browser.

It's not really best practice to acces

[2021-06-11 18:59] #1868 closed, assigned to nobody

[2021-06-11 19:06] catarak commented on #1879
Hi @adamcole123! Thanks for reporting. Are you using any additional libraries to p5.js? The `UI` class and the `Graph` class are not included in p5.js, which could be the source of your issue.

Also, in general, if you're looking for support with p5.js code, I recommend post in the [Processing Discourse](https://discourse.processing.org/) or on [Stack Overflow](https://stackoverflow.com/tags/p5.js

[2021-06-11 19:06] #1879 closed, assigned to nobody

[2021-06-11 19:15] catarak commented on #1871
Thanks for reporting! What version of `connect-mongo` is installed? I believe this is an issue with using a later version of this library (see [this thread](https://forum.freecodecamp.org/t/advanced-node-and-express-error/450979)).

[2021-06-11 19:15] #1871 closed, assigned to nobody

[2021-06-11 19:23] catarak commented on #1880
Thanks for reporting @monicaaraujopasb! I'm really sorry you and your students are having that experience. There's unfortunately not a way to figure out why they are losing their projects just from looking at their accounts. Are the sketches crashing? Are you able to figure out any steps to reproduce the issues? As much information as you could provide would be really helpful to figuring out the r

[2021-06-11 19:35] catarak commented on #1861
This is definitely the same underlying issue as #1540!

[2021-06-11 19:35] #1861 closed, assigned to nobody

[2021-06-11 19:43] catarak commented on #1337
I have been working on some of the infrastructural changes to make this happen (#166 specifically). While I would love for this to happen soon, I unfortunately don't have a timeline as to when this work would be done.

[2021-06-11 19:47] catarak commented on #1860
Thanks for reporting! It seems like maybe the file names are getting mapped to stale URLs and not saved. This warrants further investigation to figure out the underlying issue.

[2021-06-11 20:06] catarak commented on #1857
Thanks for reporting! The Find/Replace code is located in the file [`codemirror-search.js`](https://github.com/processing/p5.js-web-editor/blob/develop/client/utils/codemirror-search.js), which is an altered version the default find/replace build into CodeMirror (see [CodeMirror version](https://github.com/codemirror/CodeMirror/blob/master/addon/search/search.js)). That's the place to start to fix

[2021-06-12 13:52] everythingability commented on #1868
Thanks Cassie...

Lovefield does look good... got the Getting Started playing with p5js OK.

https://editor.p5js.org/remarkability/sketches/e0I3vtSxb

Tom

On Fri, 11 Jun 2021 at 20:00, Cassie Tarakajian ***@***.***>
wrote:

[2021-06-14 06:55] nidhimalikkathuria opened #1884 "P5 Editor not working"
![image](https://user-images.githubusercontent.com/74198624/121851305-939ff480-cd0b-11eb-91b7-5e8d825a826a.png)

[2021-06-14 18:09] stalgiag commented on #1870
I think Apple doesn't let you get the most recent Safari update unless your OS is the latest Big Sur.

Just got a chance to test and the problem doesn't happen locally and it also does not happen if I remove p5.sound from the index.html file with the online editor. Seems that this is specific to loading p5.sound with the online editor in the latest Safari. I tested and this happens with the latest

[2021-06-14 19:08] catarak commented on #1884
seems to be resolved now. thank you!

[2021-06-14 19:08] #1884 closed, assigned to nobody

[2021-06-14 19:41] catarak commented on #1870
Thank you @stalgiag! I was finally able to reproduce this error. I just pushed a release ([v1.4.1](https://github.com/processing/p5.js-web-editor/releases/tag/v1.4.1)) to downgrade the default p5.sound version, and I'll work on pinpointing the exact issue.

[2021-06-14 19:42] catarak commented on #1883
Just published a release to fix this ([v1.4.1](https://github.com/processing/p5.js-web-editor/releases/tag/v1.4.1)), closing!

[2021-06-14 19:42] #1883 closed, assigned to nobody

[2021-06-14 19:49] catarak commented on #1878
Just pushed a release ([v1.4.1](https://github.com/processing/p5.js-web-editor/releases/tag/v1.4.1)) that fixes this, closing!

[2021-06-14 19:49] #1878 closed, assigned to nobody

[2021-06-14 19:49] catarak commented on #1877
Just pushed a release ([v1.4.1](https://github.com/processing/p5.js-web-editor/releases/tag/v1.4.1)) that fixes this, closing!

[2021-06-14 19:49] #1877 closed, assigned to nobody

[2021-06-14 19:51] abrennec commented on #1878
Great, many thanks!

[2021-06-15 03:31] JetStarBlues opened #1885 "GLSL Syntax Highlighting"
#### Nature of issue?
- New feature request

#### Feature enhancement details:
There is currently no syntax highlighting for shader source code. Files in this category typically have the extensions:
- .glsl
- .vert
- .frag

Here is a [live example][0]. See `shader.vert` and `shader.frag`.

Here is a screenshot:
![glslSyntaxHighlighting](https://user-images.githubusercontent.com/4354703/121988555-c

[2021-06-16 04:58] JetStarBlues opened #1887 "When copy all contents of a file to another, the two files become linked"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- _Web browser and version:_ Chrome 91.0.4472.77 (64-bit)
  - I was **not** able to reproduce this behaviour on Firefox 89.0 (64-bit)
- _Operating System:_ Windows 10

**Steps to reproduce this bug:**
- Step 1
  - create a new file (`thecopy.js`)
- Step 2
  - copy all of the contents of `sketch.js` to this new file using:
    - `ctrl

[2021-06-16 11:17] enauman commented on #1860
A further note, after a couple days I noticed the images did update.

[2021-06-17 22:16] JetStarBlues commented on #1882
I think scope might also play a role.

I've noticed that anything that is not global, does not get highlighted. For example ([live link][0]):

![scopeSyntaxHighlighting](https://user-images.githubusercontent.com/4354703/122478785-40d27100-cf87-11eb-8833-c1320856b9e6.png)

[0]: https://editor.p5js.org/acedean/sketches/SyR8v2grw

[2021-06-19 10:31] kunalkumar007 commented on #1882
**Does this issue is resolved?**
- I am new to open source contribution and would like to try this issue.
- @catarak @jetStarBlues can you please see for it.

[2021-06-19 14:41] Edilh opened #1888 "unable to upload to folder"
![Screenshot 2021-06-19 at 16 05 26](https://user-images.githubusercontent.com/82593853/122644984-2e3b7180-d118-11eb-83a1-5fe6a809cc4b.png)

#### unable to upload image to a folder

- Found a bug

Option to upload is missing from menu
#### Chrome Version 91.0.4472.114 (Official Build) (x86_64)
I know this issue was raised before and reported as closed. It seems to be an issue again. Could anyone p

[2021-06-19 22:14] JetStarBlues commented on #1882
Hey @kunalkumar007
The issue is not resolved. Feel free to take it on!

[2021-06-20 04:38] mashimolab commented on #1870
Hello, All
I also had the same issue, and I could resolve it by disable "WebAudio AudioWorklet API" from Develop menu on Safari.
The API is new feature of the safari 14.1, so I think the API is conflict with p5.sound. (I think the conflict might be relateded to ScriptProcessorNode).

[2021-06-26 12:26] tedsmith2011 opened #1889 "text error"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

text is not working on one sketch but is working on the other please fix this thanks,Ted

#### Feature enhancement details:

#### New feature details:

[2021-06-26 12:29] tedsmith2011 commented on #1889
by the way, while freezes my hole screen but this is on any sketch

[2021-06-27 19:25] applejuiceyy opened #1890 "Sometimes shader files clone their content from other shader files"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox Developer (90.0b12 (64-bit))
- Operating System: Windows 10
- Steps to reproduce this bug:

(I don't really know how to describe this hence the weird title)
![bugthing](https://user-images.githubusercontent.com/30875598/123556804-4dc04300-d785-11eb-818b-701b080d73b1.gif)

[2021-06-28 07:52] ghost opened #1891 "p5.js editor on iPad not working any more"
#### p5.js editor doesn't work on iPad any more

- Found a bug

#### When running the code in editor (on iPad) the preview only shows "Loading" and nothing else

- Web browser and version:

[2021-06-28 18:58] catarak opened #1893 "Cannot embed example sketches"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  Mac OSX
- Steps to reproduce this bug:

1. Open an example, such as https://editor.p5js.org/p5/sketches/Hello_P5:_song
2. Change the URL to https://editor.p5js.org/p5/embed/Hello_P5:_song
3. You will see a 404 error

[2021-06-28 20:27] catarak commented on #1891
Thank you for reporting! I thought that I had fixed this issue via #1870, but there was an issue with the deployment. With [v1.4.2](https://github.com/processing/p5.js-web-editor/releases/tag/v1.4.2) this has now been resolved 😄

[2021-06-28 20:27] #1891 closed, assigned to nobody

[2021-06-28 21:31] catarak commented on #1889
Hi @tedsmith2011, thanks for reporting! Would you mind posting a link to the sketches? It's hard for me to figure out what the issue is without more information.

[2021-07-07 21:35] #166 closed

[2021-07-07 21:35] #684 closed

[2021-07-07 21:35] #1853 closed, assigned to nobody

[2021-07-09 18:29] #1893 closed, assigned to catarak

[2021-07-09 20:51] Macintosh-Fan commented on #123
Still a bug

[2021-07-12 01:29] JetStarBlues commented on #1890
This might be related to what I encountered #1887

[2021-07-12 11:38] year29thousand opened #1897 "Random is not defined?"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Version 89.0.2 (64 bit)
- Operating System:
- Steps to reproduce this bug: I don't reallly know how to reproduce the bug, but after a while of using the WEB EDITOR, some random errors appear but it always says, ___ is not defined

Code snippet:
function setup() {
  createCanvas(600, 350);

}

//This pong

[2021-07-12 16:36] catarak commented on #1870
This has been fixed in v2.0.0

[2021-07-12 16:36] #1870 closed, assigned to nobody

[2021-07-13 01:56] JetStarBlues commented on #1897
Hey

The solution can be found further down in the console log of your sketch:

[code]

The sketch is complaining about these lines in particular, where `random()` is used outside of a call from `setup()` or `draw()`. Please see the [linked article][0] for more information.
[code]

[0]: https://github.com/processing/p5.js/wiki/p5.js-overview#why-cant-i-assign-variables-using-p5-functions-and-varia

[2021-07-13 20:12] emilyweil opened #1899 "Sandboxed iframes breaks saveCanvas() function"
I'm seeing the same issue reported here:
https://github.com/processing/p5.js-web-editor/issues/1443#issue-627006482

[2021-07-14 22:17] wildparadox commented on #1899
Found this through #1443 as well. Despite that issue being closed, [save()](https://p5js.org/reference/#/p5/save) doesn't work in the web editor either for the same reason.

[2021-07-15 12:32] tetunori opened #1900 "Can not use WebBluetooth function."
#### Nature of issue?

- Found a bug

#### Details about the bug:
Hi all, I found that I could not use WebBluetooth function on the latest p5js web editor as of 2021/07/15. So, now we can NOT use [p5.ble.js](https://itpnyu.github.io/p5ble-website/), [p5.toio](https://tetunori.github.io/p5.toio/), and so on.
Please check the demos below.
[p5.ble.js demo](https://editor.p5js.org/jingwen_zhu/sketches

[2021-07-15 19:13] catarak commented on #1899
Thank you for reporting! I see that I removed `allow-downloads` from the list of [sandbox attributes](https://github.com/processing/p5.js-web-editor/blob/develop/client/modules/IDE/components/PreviewFrame.jsx#L25), but it can be added in again.

[2021-07-15 19:16] emilyweil commented on #1899
Thanks so much! I'm yearning to saveCanvas().

[2021-07-15 19:22] catarak commented on #1899
While you're waiting for this fix to be deployed, you can right click on a canvas to save it, though it is obviously not ideal :)

[2021-07-15 19:26] emilyweil commented on #1899
I'm saving a canvas repeatedly as I draw to it so when saveCanvas() becomes available, I'll be very happy – thanks again!

[2021-07-15 20:12] catarak commented on #1900
Thank you for reporting! I did a little bit of research and unfortunately I don't know if it's possible to fix this at the moment. There's been an [open issue in Chromium about it since 2015](https://bugs.chromium.org/p/chromium/issues/detail?id=518042&desc=2), and there apparently was an [attempt to add this feature but it was abandoned](https://chromium-review.googlesource.com/c/chromium/src/+/6

[2021-07-15 20:16] catarak commented on #1897
@JetStarBlues thank you for offering a suggestion for how to fix @year29thousand's issue!

[2021-07-15 20:16] #1897 closed, assigned to nobody

[2021-07-15 20:17] #1899 closed, assigned to nobody

[2021-07-15 20:21] catarak commented on #1899
Just did a hotfix release so this should be deployed to production shortly 😄

[2021-07-15 20:23] emilyweil commented on #1899
That's really great – thank you!

[2021-07-16 09:32] tetunori commented on #1900
Thanks @catarak for your first analysis.
I have checked with Docker environment and found the result below.

v2.0.2 : This issue occurred.
v2.0.0 : This issue occurred.
v1.4.2 : No problem.  This issue didn't occur.

I hope it will help you to analyze.