[2021-07-16 12:31] tetunori commented on #1900
I found that this issue occurs with the code [14513b9](https://github.com/processing/p5.js-web-editor/tree/14513b92771abffde507d0f6b48c194975e62cce) (just before merge #1894 ).

So, I think there is a cause in commits merged as #1894 .

[2021-07-16 16:28] emilyweil commented on #1899
SaveCanvas() is working beautifully. Thanks again!

[2021-07-16 19:49] catarak commented on #1900
Yes! This issue is caused by #1894, but unfortunately the change protects the p5.js Editor against Cross Site Scripting (XSS) attacks. I would like to be able to enable bluetooth connects from within the sandboxed iframe but it seems like browsers unfortunately prevent this, which is super frustrating.

[2021-07-16 20:01] catarak commented on #1887
Thanks for reporting! I am able to reproduce. I'm going to do some investigating and see if I can figure out the root cause.

[2021-07-16 20:37] catarak commented on #1846
Thanks for reporting! I believe this has been fixed in the 1.4.0 release of p5.js, see https://github.com/processing/p5.js/issues/5081.

[2021-07-16 20:37] #1846 closed, assigned to nobody

[2021-07-16 20:40] #1888 closed, assigned to nobody

[2021-07-16 20:50] catarak commented on #1885
Thanks for reporting! There is technically *some* syntax highlighting for .`vert`/`.frag` files, but it is not very good. Going to look into how to make it better 😄

[2021-07-16 21:07] #1885 closed, assigned to nobody

[2021-07-17 18:37] loic-brtd opened #1904 "Tidy Code produces Linter warning on multiline ternary operator"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome | 91.0.4472.77 (Official build) (64 bits)
- Operating System:  Manjaro Linux 21.0
- Steps to reproduce this bug:

When using the ternary operator with long expressions, the "Tidy Code" feature breaks lines like this :
[code]

I like the way it is formatted, but the linter of the editor gives

[2021-07-19 16:39] catarak commented on #1904
Thank you for reporting! I believe this is due to JSHint being outdated and it should be replaced by ESLint, see #1540.

[2021-07-19 17:18] #1666 closed, assigned to nobody

[2021-07-19 17:29] #1887 closed, assigned to nobody

[2021-07-19 17:29] #1890 closed, assigned to nobody

[2021-07-19 20:48] outofambit opened #1905 "migrate to passport-github2"
GitHub recently [deprecated API authentication through query parameters](https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/). https://github.com/processing/p5.js-web-editor/pull/1618 removed all the calls we were making directly from the web editor, but it looks like this might still be a problem from [these lines](https://github.com/processing/p5.js-web-editor/b

[2021-07-20 21:15] JetStarBlues commented on #1885
I see, thank you for taking a look!

[2021-07-21 12:15] ameybh commented on #1867
Hey @catarak, I've created a PR for color picker. Do take a look and suggest if any changes.
I might need help to update the color viewer when the color changes.

[2021-07-21 15:35] everythingability commented on #1867
Yay! Thanks!

[2021-07-22 00:34] tetunori commented on #1900
Thx for your response. I got the current situation and fully understandable.
So, until the day when browsers supply any methods to allow WebBluetooth in iframe, let this issue remain open.

[2021-07-22 13:06] tedsmith2011 opened #1908 "keyCode not working"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

https://editor.p5js.org/TedS/sketches/9q84RVcd8

#### Feature enhancement details:

#### New feature details:

[2021-07-22 18:30] catarak commented on #1908
Hi @tedsmith2011! Thank you for reporting. There's actually an error in your sketch. The value of `col` is changed in `keyPressed, but you never call `background()` in `draw()`, so the background color of the canvas is never drawn again. You can fix this by putting in the line `background(col)` into your drawn loop.

[2021-07-22 18:30] #1908 closed, assigned to nobody

[2021-07-23 20:02] xpendragonx commented on #1486
I was able to create a workaround by copying and pasting the contents of my css file into a style tag at the bottom of my body , as opposed to linking my css file. I did this on my 3 separate .html files and it seemed to work, but it's a little slow to load.

[2021-07-24 11:16] tedsmith2011 commented on #1908
Thank you for the help

Sent from my iPhone

[2021-07-24 11:17] tedsmith2011 commented on #1889
This was an error in my code

Sent from my iPhone

[2021-07-24 16:11] ameybh opened #1909 "Status bar for editor"
- New feature request

#### New feature details:
* Add status bar and display
  * Current cursor's line and column
  * Scope of code where the cursor is present at.

[2021-07-24 18:00] tedsmith2011 commented on #1908
It still does not work

Sent from my iPhone

[2021-07-30 07:56] dybber opened #1910 "Can't login to editor.p5js.org"
#### Nature of issue?

Found a bug

#### Details about the bug:

- Web browser and version: Firefox 89.0 and Safari 13.0.1
- Operating System: Mac OS X 10.14.6
- Steps to reproduce this bug:

When typing in my username and password and pressing "Log In" on https://editor.p5js.org/login, I'm not redirected to a new page. Instead the "Log In" button is disabled, so I can't push it a second time, and

[2021-08-02 08:26] MIR-SJ commented on #821
@catarak  Hello, I'm not sure if this is still open, but I deleted my file accidentally.
It was my first ever proper project which I shared, hosted on P5js itself. It would mean a lot if it could be recovered.
Please get in touch so I'll be able to share the information for that. I'll really appreciate the help if recovery is possible. Thank you

[2021-08-08 17:03] sahintelli opened #1913 "After using the push() function, the previous values cannot be seen"
#### Nature of issue?

- Found a bug (perhaps)

#### Details about the bug:

- Web browser and version: FireFox/Edge
- Operating System: Windows
- Steps to reproduce this bug:

I tried the code provided on https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/push. However, on https://editor.p5js.org/, it returns a different and an unexpected result for the **_push

[2021-08-16 09:28] meghna512 opened #1914 "Upload file option is missing"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Version 92.0.4515.131 (Official Build) (64-bit)
- Operating System: Ubuntu 20.04.2 LTS
- Steps to reproduce this bug: I am no longer able to upload an image into a folder. So when I create a new project and add a new folder. If I click on this folder, I am only able to Add File (Create) and not actually U

[2021-08-18 09:02] brijsiyag commented on #934
Is this issue still exists?
I am new to open source and contributing first time so is this right issue for me to solve?

[2021-08-18 10:38] divyanx commented on #1857
It seems that the bug is unresolved.
Can I work on this?
It will be my first issue.

[2021-08-20 04:32] anshul2807 commented on #1867
Is this still an issue??

[2021-08-20 05:20] ameybh commented on #1867
Yes since PR #1907 is under review.

[2021-08-20 05:30] anshul2807 commented on #1867
Can I start working on this Issue?

[2021-08-20 11:32] ameybh commented on #1867
Yes, please go ahead :)
I'm currently not working on this issue.

On Fri, 20 Aug 2021, 11:00 Anshul Singh, ***@***.***> wrote:

[2021-08-20 15:46] KKVANONYMOUS commented on #1913
@catarak I want to work on this issue. Would you please guide me on where to look regarding this issue?

[2021-08-25 08:55] shubhamkapoor01 commented on #1852
Hi, I'm new to open source contributions i'll give this a shot as my first issue!

[2021-08-25 12:02] shubhamkapoor01 commented on #1882
Hey!
i'd like to give this issue a shot tho i'm not yet sure how to fix it.
here are a few observations while i start:
-> in light and dark mode the global variables are highlighted but local variables are not.
-> in high contrast mode both global and local variables are not highlighted.

[2021-08-27 02:57] zapzapparoo commented on #1362
Hi. Make sure you are logged in! :)

[2021-08-27 09:18] shubhamkapoor01 commented on #1137
I would like to give this a try as a beginner!

[2021-08-27 09:50] shubhamkapoor01 commented on #1874
Hi, i'm new to open source contributions, i'll give this a try!

[2021-08-27 12:30] shubhamkapoor01 commented on #934
Hi i'm new to open source contributions, I've given this a shot and added code to check previous console event if it's exactly same as the current one then we don't rewrite it hope it's what you're looking for!

[2021-08-28 10:54] shubhamkapoor01 commented on #1848
Actually i think this might be intentional so that a naming convention is followed, tho i'm not sure about this, if it's not intentional I would like to work on this issue!

[2021-09-06 11:32] gohai opened #1922 "WebSerial throws permissions policy Security Error"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome 92
- Operating System: macOS 11.5
- Steps to reproduce this bug:

Try to use `navigator.serial.requestPort()` as part of a p5 sketch. This will fail with `SecurityError: Failed to execute 'requestPort' on 'Serial': Access to the feature "serial" is disallowed by permissions policy.

[2021-09-08 15:39] #1922 closed, assigned to nobody

[2021-09-10 00:00] bmoren commented on #1755
Hello amazing people!
I'm jumping on to also request this feature request, it would be especially helpful in the teaching context to be able to move things into order of topics covered.

[2021-09-13 21:53] pelikhan opened #1927 "Allow WebUSB in sketch preview"
#### Nature of issue?

- Existing feature enhancement

#### Details about the bug:

- Web browser and version: Chrome/Edge 90+
- Operating System: Windows/Mac

#### Feature enhancement details:

The p5 web editor allows Web Serial in the preview window. However some devices, like the micro:bit use WebUSB instead. I was wondering if it would be possible to allow web-usb as well.

[2021-09-13 22:05] catarak commented on #1848
Thanks for opening this issue, somehow I missed it? Anyway, it seems to be fixed now so I'm going to close it.

[2021-09-13 22:05] #1848 closed, assigned to nobody

[2021-09-13 22:15] catarak commented on #1913
Thanks for reporting! This is a duplicate of #1203, therefore i'm going to close it.

[2021-09-13 22:15] #1913 closed, assigned to nobody

[2021-09-13 22:25] catarak commented on #1203
I just checked this with the latest version of `console-feed` (v3.2.0). It still doesn't work 🙃

[2021-09-13 22:30] #1889 closed, assigned to nobody

[2021-09-14 00:36] pelikhan commented on #1900
Maybe there is hope? WebSerial is enabled currently on the editor.

[2021-09-14 01:07] joemckay5 opened #1928 "Loging Bug"
Login bug in the code editor

- Found a bug
- details -
Having intermittent trouble logging in, especially on computers that are not my laptop. Similar issue to #1153 with the red "no" symbol appearing when you hover over the login button.
Curiously I've found that if I write the password before the username it seems to work. (Replicated this work around a couple of times on the PC).

Both times i

[2021-09-14 05:04] pelikhan commented on #1927
Similar fox to https://github.com/processing/p5.js-web-editor/pull/1924

Add usb

[2021-09-14 17:51] catarak commented on #1927
Thanks for the suggestion! Is the fix as simple as adding `web-usb` to the allow list?

[2021-09-14 20:40] pelikhan commented on #1927
Adding ``usb`` should be enough (https://web.dev/usb/#feature-policy).

You can see a demo of p5js using WebUSB from codesandbox.io at https://codesandbox.io/s/dnyd9?file=/sketch.js . It uses our p5.jacdac library (https://microsoft.github.io/jacdac-docs/clients/p5js/) ... and a micro:bit v2.

[2021-09-14 20:46] pelikhan commented on #1910
Unable to login through github as well.

[2021-09-15 01:46] pelikhan commented on #1927
(i am also preparing a submission for this library, working on the image)

[2021-09-15 19:19] #934 closed

[2021-09-17 17:58] Bhavyajain21 commented on #1867
Is anyone working on it?
If not, I would like to take up the work.

[2021-09-18 05:14] ameybh commented on #1867
Yes, please go ahead

On Fri, Sep 17, 2021 at 11:28 PM Bhavya Jain ***@***.***>
wrote:

[2021-09-20 21:51] pelikhan commented on #542
You could maybe consider an api similar to codesandbox.io (https://codesandbox.io/docs/api). Easy way to generate a new sketch on the fly without having to pre-generate all examples in a script.

[2021-09-21 18:28] #1927 closed, assigned to nobody

[2021-09-23 17:44] arathorn76 commented on #1167
@catarak another German here...
the control key is most often (or at least often) marked "Strg" on german keyboards.
I assume (I know, dangerous territory) that most users of German keyboards who are interested in programming would be ok with "ctrl" as well as "Strg".
I did occasionally stumble ober the shorthand "^"-button-graphic but it is much less usual (in my experience).

In effect I would l

[2021-09-23 22:54] catarak commented on #1167
@arathorn76 thank you for your thoughts and apologies for not being on top of this issue! It's really helpful. It seems like there's an consensus around:
1. Adding <kbd>Command</kbd>/<kbd>Control</kbd> + <kbd>.</kbd> as an alternative keyboard shortcut for different keyboard layouts for commenting/uncommenting code
2. Changing instances of <kbd>⌃</kbd> to <kbd>Ctrl</kbd>.

Are there other keyboard

[2021-09-23 23:08] #609 closed

[2021-09-23 23:32] #1905 closed, assigned to nobody

[2021-09-24 08:02] arathorn76 commented on #1167
@catarak I composed a cheat sheet for my personal use that I just updated. It now reflects the answer to your question.
You can find it at https://arathorn76.github.io/p5.js-cheat-sheets/KeyboardShortcutsGerman.html or at https://github.com/arathorn76/p5.js-cheat-sheets.
(sorry for that kind of html source. My web editing days ended while html 3.x was a thing...)

Your instinct is absolutely right

[2021-09-27 01:52] trainingcity opened #1932 ".env.example file points to mongodb not mongo"
just a minor issue but it threw me off for a long time. The .env.example file includes "MONGO_URL=mongodb://mongo:27017/p5js-web-editor".

The docker-compose.yml and the docker-compose-development.yml files sets up a container called "mongo" not "mongodb".

Technically this is not a bug, but it may be worthwhile to align the names as it is easy to miss and results in the "app" from index.docker.io

[2021-09-27 02:53] #1932 closed, assigned to nobody

[2021-09-27 04:17] kunalkumar007 commented on #1882
Hy @shubhamkapoor01 Feel Free to take it on. I am busy with my sem end. So, won't be able to continue on it.

[2021-09-27 20:48] calebfoss commented on #1928
My students have been running into the same issue. It's happening when they use lab computers but not their personal computers. I haven't been able to reproduce it. They're using Chrome on Windows 10, but I asked one student to try Firefox and found that the same issue occurred.
Looks like this may possibly be the same issue as #1910.

[2021-09-27 21:01] joemckay5 commented on #1928
Calebfoss, have you tried the "password before the username" trick? Let me know if that works.

[2021-09-29 16:50] dacaldera commented on #1865
Any idea how to override the 80 character line length limit on prettier on a "per sketch" basis?
I see this page here explains the override but not sure entirely how to implement it into a particular sketch: [printWidth: <int>](https://prettier.io/docs/en/options.html)
![image](https://user-images.githubusercontent.com/31627084/135313606-ba3603c8-74d8-4761-86d5-e52227d73f34.png)

[2021-09-29 17:09] calebfoss commented on #1928
@joemckay5 Unfortunately that trick is not consistently working.

I was able to reproduce the issue by typing in the incorrect password, pressing the "Log In" button OR pressing enter, correcting the password, and then attempting to press "Log In" or enter again.

Looks like this is the relevant error:

`POST https://editor.p5js.org/editor/login 401
(anonymous) @ xhr.js:177
e.exports @ xhr.js:13
e

[2021-10-02 16:11] Zearin opened #1933 "Import JS modules in web editor?"
#### Nature of issue?

- Existing feature enhancement

_**NOTE:** I am not sure if this is technically an enhancement request or not.  If it is not possible to `import` other files into a sketch in the Web Editor, then this is an enhancement request.  (Otherwise, I suppose it’s a…support request (?).)_

#### Feature enhancement details:

I’m learning p5.js, and loving it so far.  The web editor de

[2021-10-04 17:12] calebfoss commented on #1928
Here are the steps I gave to students as a temporary workaround before this issue is resolved:

1. Try refreshing the page and retyping your credentials
2. If that doesn't work, open the developer tools in your browser. In Chrome, the shortcut for this is control + shift + i
3. Click Console
4. In the console, type the following and then press enter:
document.querySelector(".Button__StyledButton-s

[2021-10-05 17:49] catarak commented on #1928
Thanks for reporting, and apologies for the delay in responding to this! I will take some time today to dig into this and hopefully have a solution sometime this week.

[2021-10-05 17:50] catarak commented on #1910
Thanks for reporting, and apologies for the delay in responding to this! I will take some time today to dig into this and hopefully have a solution sometime this week.

[2021-10-05 20:31] #1910 closed, assigned to nobody

[2021-10-05 20:31] #1928 closed, assigned to nobody

[2021-10-05 21:31] catarak commented on #1910
I ended up fixing and deploying this today! Let me know if you're still having issues.

[2021-10-05 21:31] catarak commented on #1928
I ended up fixing and deploying this today! Let me know if you're still having issues.

[2021-10-05 22:01] calebfoss commented on #1928
@catarak fabulous! Thank you so much!!!

[2021-10-05 22:32] joemckay5 commented on #1928
Thanks, catarak!
Joe

[2021-10-06 05:15] pelikhan commented on #1927
All working now! No drivers needed thanks to WebUSB...
![p5sliders](https://user-images.githubusercontent.com/4175913/136144392-04217a1e-42eb-4a7d-ae7b-b4183140b057.gif)

[2021-10-07 22:14] lee2sman opened #1938 "when running fullscreen mode the canvas is compressed to a thin squashed band"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Tested on Chrome 94.0.4606.81 and Firefox 92
- Operating System: Ubuntu Linux and Windows 10
- Steps to reproduce this bug:

When you are logged in and Share > Present Mode, the new fullscreen opens up but the canvas is squashed so that it's about 100pixels high and as wide as your window. You can scroll

[2021-10-08 08:18] dhowe opened #1939 "Feature-request: download all sketches as zip"
Apologies if this already exists, but would be very useful to be able to bulk download all sketches from the 'My Sketches' page

[2021-10-08 17:54] prabalp commented on #1938
it's Share>Fullscreen, working fine for Share> Present Mode
Present: https://preview.p5js.org/Prabal/present/yh9ovX6dH
FullScreen: https://editor.p5js.org/Prabal/full/yh9ovX6dH

[2021-10-08 19:10] catarak commented on #1938
Thanks for reporting! I can reproduce. I recently unified some CSS and *thought* I tested it, but clearly I didn't do a good enough job 😄

[2021-10-08 19:13] prabalp commented on #1938
Yeah I am also trying to fix it ...and will sure upadate.

On Sat, 9 Oct, 2021, 12:40 AM Cassie Tarakajian, ***@***.***>
wrote:

[2021-10-08 19:39] #1938 closed, assigned to nobody

[2021-10-08 19:47] catarak commented on #1938
I just did a hotfix release (v2.1.1) as this is an issue that affects all sketches, so this should be fixed once the application is built and deployed (~10 min from now).

[2021-10-08 19:49] catarak commented on #1939
Thanks for the suggestion! I thought there was an open issue about this but apparently there is not. A related issue is #273.

[2021-10-09 09:37] I-Omnibus commented on #1933
_[Here](https://editor.p5js.org/Omnibus/sketches/8tseBlNuH)_'s a workaround, although it seems that the solution is as simple as editor.p5.org getting the mime type right for JavaScript files:

[code]

[2021-10-09 10:28] I-Omnibus commented on #948
_[Here](https://editor.p5js.org/Omnibus/sketches/ajcBWKWbT)_'s a possible workaround to load dependencies without editing index.html

[code]

[2021-10-12 02:03] lee2sman commented on #1938
Thank you!

[2021-10-13 18:35] RedBeard41 opened #1942 "frameRate will not run faster than 30 frames"
frameRate not displaying faster than 30 frames per second.

- Found a bug

#### Details about the bug:

- Web browser and version:

Google Chrome | 94.0.4606.81 (Official Build) (64-bit) (cohort: Stable)
-- | --
Revision | 5a03c5f1033171d5ee1671d219a59e29cf75e054-refs/branch-heads/4606@{#1320}
OS | Windows 10 Version 1607 (Build 14393.4583)

- Operating System: Windows
- Steps to reproduce this bu

[2021-10-13 21:26] #1867 closed, assigned to nobody

[2021-10-13 23:02] almchung opened #1943 "Web Editor - FES i18next integration"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

This issue proposes an integration plan between the web editor and the Friendly Error System (FES).

The current web editor successfully displays FES messages in the default language. It would be even more helpful if the language of FES automatically matches with the detected or selected language in the web e

[2021-10-14 12:01] RedBeard41 commented on #1942
[Link to simple test](https://editor.p5js.org/gwalters/sketches/cgzMO10oq)
[Video running test](http://youtu.be/Opc1MB7t_Y4?hd=1)

I have other students in the classroom that are running slow, and some students that are running at the normal 60fps.  They are all running on HP z240 computers running Windows 10, have Intel i7 chips, with Nvidia Quadro P600

![computer specs](https://user-images.gith

[2021-10-14 21:02] catarak commented on #1943
This plan looks great! Some comments:

You will need to! The easiest way may be to reload the entire sketch, which is probably okay because users are likely not changing the language often.

When [`EmbedFrame`](https://github.com/processing/p5.js-web-editor/blob/b3e49dab26417aa1f5492ef08984429a1dc64ef1/client/modules/Preview/EmbedFrame.jsx) finally receives the language option, I have a hacky plan

[2021-10-15 00:10] outofambit commented on #1943
Thanks for writing this up @almchung! Looks good from my side. :)

That sounds right to me! And the place you chose looks good to me too. You might also need a `p5._availableTranslatorLanguages` to query for the settings page to know which translations are supported in the sketch's version of p5, but maybe we could just keep the most recent release's supported languages list in the editor? i think

[2021-10-15 19:04] almchung commented on #1943
These are all great suggestions! Thank you, @catarak and @outofambit!!
To get things moving, I'll add a checklist here shortly.

Also @outofambit, I'll open a new issue on the p5.js repo with a summary of this issue and the checklist.

[2021-10-16 19:50] almchung commented on #1943
#### Checklist

- [x] p5.js: Add `p5._availableTranslatorLanguages`
- [x] Web editor: Add Korean translation file (partial) and update dropdown UI
- [ ] Web editor: Add the language option to the `startSketch()` payload
- [ ] Web editor: Update `components/Nav.jsx/handleLangSelection()` to reload the sketch iframe
- [ ] Web editor: Update `modules/Preview/previewIndex.jsx` to handle the language o

[2021-10-16 23:59] vsinha opened #1944 "Feature request - easier gallery mode especially on mobile"
Apologies if this exists, but I'd really like a gallery view or simpler interface for just showing sketches i've made to friends using my phone or by sending them a link. In this use case, the editor view is not important and just the canvas and play/stop need to be front and center

[2021-10-18 19:05] MGonGitHub opened #1945 "My sketch 20211018-MG-Music-Box-02-Galaxie shows a new sketch instead"
#### Nature of issue? Found a bug

#### Details about the bug:

- Web browser and version: Safari Version 14.1.2 (16611.3.10.1.3)
- Operating System: macOS Big Sur version 11.5.1 (20G80)
- Steps to reproduce this bug:My sketch 20211018-MG-Music-Box-02-Galaxie shows a new sketch instead. I had two safari windows each on a different sketch, was copying some file from one o the other, I got an error

[2021-10-18 19:07] MGonGitHub commented on #1945
Thank you in advance for your help
MGOBRIAL

[2021-10-18 19:10] MGonGitHub commented on #1945
On Safari : Version 14.1.2 (16611.3.10.1.3)
on macOS : Big Sur version 11.5.1 (20G80)

[2021-10-19 05:35] MGonGitHub commented on #1945
here is what I get today:
<img width="831" alt="image" src="https://user-images.githubusercontent.com/88580946/137849728-686802d1-4128-49a3-8669-c2770b59551e.png">

[2021-10-19 05:37] MGonGitHub commented on #1945
today My problème persists:
<img width="831" alt="image" src="https://user-images.githubusercontent.com/88580946/137850135-e8f97874-d5b3-4dad-8aea-47f5f00db66b.png">

[2021-10-19 05:42] MGonGitHub commented on #1945
and this other sketch (https://editor.p5js.org/MGOBRIAL/sketches/-37wOOywY) appears ( the last one I opened) instead of the galaxy sketch on which I have the problem
<img width="831" alt="image" src="https://user-images.githubusercontent.com/88580946/137850494-bee6760b-7a2f-48c8-b76f-0b6d7a85683a.png">

[2021-10-19 21:05] catarak commented on #1945
Thanks for reporting! Somehow the sketch itself got corrupted, but I was able to go into the database and fix it. Your sketch should be loading now!

I believe this scenario would be avoided by implementing #1759. As of right now, having the same sketch open in two windows and editing it in both places leads to issues.

[2021-10-19 21:05] #1945 closed, assigned to nobody

[2021-10-19 21:10] catarak commented on #1944
Hello! Yes, you can get to this view by selecting File > Share and then clicking on the Fullscreen or Present view.

[2021-10-19 21:10] #1944 closed, assigned to nobody

[2021-10-19 21:12] MGonGitHub commented on #1945
Thanks you Cassie Tarakajian for quick reaction.
It was quite lucky thought it was corrupted I still could download to my computer, and recreate it from there
Cheers to all the team
Monique GOBRIAL

[2021-10-22 20:42] MartinMSPedersen opened #1946 "Google's OAuth 2.0 - Authorization Error"
- Found a bug

#### Details about the bug:

It is not possible to login using Google Auth.
It gives this error: "You can't sign in to this app because it doesn't comply with Google's OAuth 2.0 policy for keeping apps secure."

[2021-10-22 22:47] Mshuman8 opened #1947 "Issue Logging in using Google"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome 95.0.4638.54 (and the one before it)
- Operating System: Mac; Mojave 10.14.5
- Steps to reproduce this bug: I try to login using Google and get an Authorization Error. This also happens for all of my students as well. If we try logging in somewhere between 3 and 6 times it generally will eve

[2021-10-24 16:25] code4humanity commented on #1947
Related to #1946

[2021-10-24 16:26] code4humanity commented on #1946
@catarak, would you mind giving me some context to fix this issue?

[2021-10-24 16:33] code4humanity opened #1948 "Typo in translation"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

In translations.json for pt-BR there's a typo in [line 86](https://github.com/processing/p5.js-web-editor/blob/develop/translations/locales/pt-BR/translations.json#L86) where is written Enrar instead of Entrar

[2021-10-24 16:33] code4humanity commented on #1948
@catarak, can I fix it?

[2021-10-26 18:59] catarak commented on #1948
Yes, go ahead!

[2021-10-27 17:39] kjhollen commented on #460
doing a little bit of old issue clean-up. I believe that this now works, so I'm going to close this issue. @aferriss if there's something I'm missing, feel free to re-open!

[2021-10-27 21:13] kjhollen commented on #468
I think this one is working now, so it should be ok to close? Let me know if you've seen otherwise @shiffman !

[2021-10-27 21:37] kjhollen commented on #1914
Hi @meghna512, I believe this occurs when people are not logged into the editor (currently expected behavior). Can you please clarify whether or not you were logged in when this occurred?

[2021-10-28 11:47] gurubi-gina opened #1949 "Bug of Dark Theme in Collection list view"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: On Chrome 95.0.4638.54
- Operating System: Windows 10
- Steps to reproduce this bug:

1. Set 'Dark' Theme in your settings.
2. Go to 'My Collections'.
3. Open any of your collections.
4. In this view, the 'Dark' theme is not working properly and that's why you cannot see all the sketches' name, just half of

[2021-10-28 13:49] shiffman commented on #468
Yes, the error does appear! The "Event" error referenced by @tayadev does also appear below the friendly one (or as @catarak mentioned if friendly errors are disabled). This I also see confuse students quite a bit b/c they assume something else is wrong with their sketch! Is this more of a p5 issue to throw a different error rather than a web editor one?

<img width="1062" alt="Screen Shot 2021-10

[2021-10-29 13:10] code4humanity commented on #1948
@catarak, I have fixed the typo and found some other ones, which I have already fixed too. Would you mind if I opened another issue to review the translation? There are some of them which I think we could improve.

[2021-10-29 19:57] catarak commented on #1948
Please do! I think it's important for the translations to evolve and to have a lot of different perspectives.

[2021-10-30 15:51] code4humanity opened #1951 "Portuguese translation"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
This is an issue to review and discuss improvements in Portuguese translation.

Suggested changes:
- [ ] [Editor de Web p5.js](https://github.com/processing/p5.js-web-editor/blob/develop/translations/locales/pt-BR/translations.json#L91) => Editor online do p5.js
- [ ] [Salvar automático ativado.](https://githu

[2021-11-01 18:32] AjeetSingh2016 commented on #1948
@catarak I think this issue is not resolved yet, can I go through it?
![issue](https://user-images.githubusercontent.com/80536741/139722556-102f7a31-1d78-4099-9b55-fb63927fca42.png)

[2021-11-01 22:49] WaelBS5 opened #1952 "Can't upload files on p5.js"
I'm working on a project and cannot upload any files to my folder, when I click on the add section, it only shows Add Folder, Add File.  Just wondering if this is a bug because in the past, I was able to find the upload files box.
If not, how can I resolve this problem?
Thank you!

[2021-11-02 01:56] #1952 closed, assigned to nobody

[2021-11-02 15:03] code4humanity commented on #1948
@AjeetSingh2016, that's because the PR wasn't completed yet, but that was changed.

[2021-11-02 16:30] catarak commented on #468
This is technically a p5.js Editor issue but I'm not sure how to fix it. Basically the issue is that a Promise is being rejected and not being caught, but there's not a way to globally catch all rejected Promises. Somehow browsers are able to do this with some magic that I can't figure out. I recently made a bunch of updates to the way that Console catches errors and I could not figure out how to

[2021-11-03 02:42] shiffman opened #1953 "Separate Console and Editor font sizes!"
Hi hi! Following up on discussion in #468

#### Nature of issue?

- New feature request! Related to font size settings!

#### New feature details:

I often use a really big font in the code editor while teaching but would like to have a smaller console font so that I can see the errors in such a small space. I'm not sure if this is something others would be interested in but being able to set both

[2021-11-03 18:21] catarak opened #1954 "Add `describe()` to default sketch"
#### Nature of issue?

- New feature request

#### New feature details:

As suggested in https://github.com/processing/p5.js/issues/5427, adding `describe()` would hopefully encourage folks to add a description to their sketches. We could also think about having different descriptions for each of the different translations.

[2021-11-03 19:11] cwhetung commented on #1946
Seeing the same issue here.

**Cause:** Using Google OAuth to login. Redirected to the failure page (PDF attached).

Closing Chrome completely and several retries sometimes let me in, but it is inconsistent.

[p5js Sign in Error.pdf](https://github.com/processing/p5.js-web-editor/files/7470144/p5js.Sign.in.Error.pdf)

Let me know what other info I can provide!

Thanks,
Clay

**UPDATE** Seems to wo

[2021-11-03 19:35] #1857 closed, assigned to nobody

[2021-11-03 20:09] johhnry commented on #1946
Hi,

Some users (including me) seems to have the same issue. Here is a linked thread on the Discourse forum:

https://discourse.processing.org/t/error-400-invalid-request/33288

[2021-11-03 20:38] catarak opened #1955 "Generative Design examples are out of date"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:
I noticed that the [Generative Design examples](https://github.com/generative-design/Code-Package-p5.js) are out of date and are still using p5.js version 0.7.3. If you look at the releases on the [p5.js Code Package](https://github.com/generative-design/Code-Package-p5.js), some other dependencies have been u

[2021-11-03 22:37] #1823 closed, assigned to nobody

[2021-11-03 22:46] #1825 closed, assigned to nobody

[2021-11-04 03:00] kjhollen commented on #1949
Thanks for reporting this! I've seen this too. Making a note that I think this showed up with a recent push to introduce the privacy policy & terms of service, in case it's helpful.

[2021-11-04 11:41] DavidGriswoldTeacher commented on #1946
We are also having this problem. We did not have an issue until today. My students' projects are inaccessible until we get this fixed...

[2021-11-04 11:44] rdurrance2021 opened #1956 "Error 400 with Google oAuth"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Version 92.0.4515.131 (Official Build) (64-bit)
- Operating System: Windows 10 20H2
- Steps to reproduce this bug:
Logging in with Google oAuth gives error 400. Students cannot access their sketches
![p5_oAuth_Error](https://user-images.githubusercontent.com/93713017/140307824-06de8de0-b268-4528-9b1b-91d6

[2021-11-04 11:57] DavidGriswoldTeacher commented on #1946
Following up, I think I may know how to solve this problem.

The screenshot below is partially in English and partially in Portuguese (because I'm physically located in Brazil), so sorry about that.

![image](https://user-images.githubusercontent.com/49095734/140309303-13b56438-02db-41c1-93a1-1e9f0d2b0e29.png)

When yo go to the Google help page for this error, one of the bullet points is shown be

[2021-11-04 12:01] DavidGriswoldTeacher commented on #1956
This is a duplicate of #1946 , I described what I think is the solution there but it requires action from whoever has access to the P5JS Google Developer Console.

[2021-11-04 12:01] DavidGriswoldTeacher commented on #1956
This is a duplicate of #1946  , I described what I think is the solution there but it requires action from whoever has access to the P5JS Google Developer Console.

[2021-11-04 12:01] DavidGriswoldTeacher commented on #1947
Duplicate of #1946 , I described what I think is the solution there but it requires action from whoever has access to the P5JS Google Developer Console.

[2021-11-04 12:52] awade05 opened #1957 "Can't login with google"
#### Nature of issue?

- Found a bug
- Existing feature enhancement

#### Details about the bug:
![image](https://user-images.githubusercontent.com/51447771/140316642-1d68e0b5-306f-4bb3-b26a-6364ee1324f5.png)

[2021-11-04 14:43] Mshuman8 opened #1958 "Google Sign In NOT WORKING"
#### Nature of issue?

- Found a bug

#### Details about the bug: We are not able to login using google anymore.

- Web browser and version:
- Operating System: MacOS Big Sur 11.2.1
- Steps to reproduce this bug: Try logging in using Google -- I can occasionally get it to work on about the 30th attempt. This is not functional for a classroom setting.

<img width="358" alt="Screen Shot 2021-11-04 a

[2021-11-04 16:19] Cyberdoggo13 opened #1960 "Sign in Auth Error"
There is a current problem with signing in with google, where it brings you to a google page that says authorization error and says Error 400: redirect_uri_mismatch
If you could fix this, that would be great, as the projects I'm working on are stored with a google account

[2021-11-04 17:41] catarak commented on #1946
Hey all,

This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also,

[2021-11-04 17:41] #1946 closed, assigned to nobody

[2021-11-04 17:43] catarak commented on #1956
This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also, in the fut

[2021-11-04 17:43] #1956 closed, assigned to nobody

[2021-11-04 17:43] catarak commented on #1947
This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also, in the fut

[2021-11-04 17:43] #1947 closed, assigned to nobody

[2021-11-04 17:43] catarak commented on #1957
This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also, in the fut

[2021-11-04 17:43] #1957 closed, assigned to nobody

[2021-11-04 17:43] zeke commented on #1946
Thanks for fixing this @catarak! We appreciate your hard work.

[2021-11-04 17:43] catarak commented on #1958
This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also, in the fut

[2021-11-04 17:43] #1958 closed, assigned to nobody

[2021-11-04 17:44] catarak commented on #1960
This has been fixed, and I'm sorry for not fixing this sooner. We're a really small team (in fact, the editor team is just me, part time), and there are a lot of notifications on discord/discourse/GitHub/Twitter/etc. It's difficult to sift through them and find that things that need to be attended to immediately. In the future, for anything urgent, please email hello@p5js.org. And also, in the fut

[2021-11-04 17:44] #1960 closed, assigned to nobody

[2021-11-04 18:19] Mshuman8 commented on #1947
Hello!

Please do not apologize at all! I mainly just resubmitted because I had
gotten a few responses and thought it might have been marked as completed.
I am SO appreciative for your work and for you fixing it. I love love love
teaching p5 and use the editor daily!

I hope you have a wonderful day!

Marisa Shuman

On Thu, Nov 4, 2021 at 1:43 PM Cassie Tarakajian ***@***.***>
wrote:

[2021-11-04 21:24] catarak opened #1961 "Can't duplicate specific sketch"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Chrome 95.0.4638.69 (Official Build) (arm64)
- Operating System:  Mac OSX Big Sur 11.4
- Steps to reproduce this bug:
1. Login to p5.js Editor
2. open https://editor.p5js.org/codingtrain/sketches/ULA97pJXR
3. Go to File > Duplicate
4. Editor doesn't not change (is responsive though), then shows the follo

[2021-11-05 00:30] gurubi-gina commented on #1949
Hi Kate, Thanks, I hope it can be fixed soon. BTW, I'm teaching some teenage girls for programming with the Editor in Hungary. We are using it quite often and everyone loves it. :)

[2021-11-05 14:54] DenisovichDev opened #1962 "Full Screen mode not working"
Hello! The fullscreen links don't seem to be working

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 95.0.4638.69
- Operating System: Windows 10 (64-bit)
- Steps to reproduce this bug: Opening a fullscreen link of a sketch ([this](https://editor.p5js.org/DenisovichDev/full/HheYX4_2P), for instance) seems to open something like this
![image](htt

[2021-11-05 15:36] nickmcintyre commented on #1954
@catarak I got started on this issue but am not too sure how translations work -- having descriptions in different languages is a great idea!

I *think* I should read up on [i18next](https://www.i18next.com/) and figure out how to apply it along the lines of the following snippet.

[code]

 Does that seem like a route forward? Happy to test with `/translations/locales/es-419/translations.json`.

[2021-11-05 19:00] catarak commented on #1962
Thank you for reporting! I am able to reproduce. I'll try to find and deploy a fix as soon as possible!

[2021-11-05 19:01] catarak commented on #1962
One thing I'm noticing is that it *sometimes* it works, sometimes it doesn't... interesting!

[2021-11-05 19:55] DenisovichDev commented on #1962
Yes I've noticed that too. Some times a certain sketch works on a certain browser and not on another. And I think this bug got introduced very recently too. Thanks for looking into it!

[2021-11-05 20:46] #1962 closed, assigned to nobody

[2021-11-05 20:47] #1949 closed, assigned to nobody

[2021-11-06 07:12] gurubi-gina commented on #1949
Thanks a lot for fixing this. :)

[2021-11-06 07:13] gurubi-gina commented on #1949
Thanks a lot for fixing this.

[2021-11-08 20:25] Spooghetti420 commented on #1847
Using a static property in a class raises the red squiggle as well, even though it works like you said. I wish I understood how the highlighting works to create a pull request, but I would greatly appreciate any update to the editor! Thank you devs :)

[2021-11-10 16:49] kjhollen opened #1965 "Antivirus software blocking editor from running sketches"
#### Nature of issue?

- Found a bug

#### Details about the bug:

One of my students has a Microsoft Surface tablet with AVG Antivirus installed on the machine (they said it came bundled with the device and are using the free version). They noticed that over the weekend, the antivirus software started blocking the editor from starting their sketches when they hit the play button in the editor. Th

[2021-11-11 22:00] catarak commented on #1965
Thanks for reporting! I think this is happening because of the recent phishing issues the site has been having—I've deleted the content but perhaps the site is still flagged. I'll need to think more deeply about how to prevent the phishing issues, short term and long term.

I think for now, this student can whitelist the site through the AVG software.

[2021-11-12 12:24] Shay-Almog opened #1966 "editor preview is not working!"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-11-12 16:06] kjhollen commented on #1965
Ohhh that makes sense! Ugh. Ok, I've sent them a note about how to add the site to an allow list.

For anyone else who comes across this issue, here's the AVG tutorial on how to add an exception for a particular site: https://support.avg.com/answers?id=9060N000000To2XQAS and you need to add https://preview.p5js.org/* as the URL for the exception.

[2021-11-12 16:09] kjhollen commented on #1966
Hi @Shay-Almog, thanks for reporting this. I believe this is a duplicate of #1965. I'm going to close this issue so that we can keep track of everything in just one place, but if you believe this is a different issue, please provide more information and we will re-open. Thank you!

[2021-11-12 16:09] #1966 closed, assigned to nobody

[2021-11-12 16:29] catarak commented on #1965
I just pushed [v2.1.5](https://github.com/processing/p5.js-web-editor/releases/tag/v2.1.5) which removes the Present view. I believe this is the easiest way to prevent phishing in the short term, since we don't have a support team to remove bad sketches promptly or have a way to scan for these types of abuses.

[2021-11-12 16:39] kjhollen commented on #1965
thank you for taking care of this! I think this is the right call.

[2021-11-12 17:04] #460 closed

[2021-11-12 17:12] kjhollen commented on #468
Thanks folks! I am thinking through what we should do with this issue: the error now appears (original issue is fixed!) but I agree it would be helpful suppress the additional error if possible, though the difficulty of the issue means it probably won't be prioritized for a bit.

Is changing the bug title the right thing to do? Or close this one & open a new issue? If the error stopped showing aga

[2021-11-12 17:28] kjhollen commented on #617
Since the last activity on this post was a suggestion to close the issue in 2018, and the new UI for expanding the file drawer has been implemented, I'm going to close this issue. Thanks for reporting!

[2021-11-12 17:28] #617 closed

[2021-11-12 17:34] kjhollen commented on #644
I can't reproduce this one, so I'm going to close it! Probably got fixed with other things somewhere along the way. Thanks for reporting!

[2021-11-12 17:34] #644 closed

[2021-11-12 17:40] kjhollen commented on #657
Doing a little issue cleanup today. Maybe this is related to #196?

[2021-11-12 17:44] kjhollen commented on #672
It looks like there are some ARIA labels in the code. Were they there previously, but not working? Or have they been added sometime in the last few years without updating the issue? (am doing some issue clean-up today and looking for things that can be closed) :)

[2021-11-12 17:54] #1965 closed, assigned to nobody

[2021-11-12 18:04] kjhollen commented on #1194
Tried this out in Safari 14.1.2 today and it appears to be fixed. Closing!

[2021-11-12 18:04] #1194 closed

[2021-11-12 18:32] Hel007 opened #1969 "P5.js suddenly isn't showing preview for any of my sketches"
For some reason p5.js is not isn't loading the preview for my sketches anymore. I tried logging out and logging back in. I tried closing all my tabs and opening it back up again. I even tried restarting my computer but it still won't show it in the preview. However when I try opening up in a different chrome account it works so I am assuming it is only not showing on this account that I am working

[2021-11-12 18:36] kjhollen commented on #1832
Thanks for the suggestion @masterlaver13! We're already tracking this feature in #91, so I'm going to close this one. If you have any additional thoughts, please comment there!

[2021-11-12 18:36] #1832 closed, assigned to nobody

[2021-11-12 18:41] kjhollen commented on #1777
Thanks for reporting @AndrewAung11! I'm going to close this because we weren't able to reproduce the issue, but if you're still experiencing the issue and can provide more information, please reopen.

[2021-11-12 18:41] #1777 closed, assigned to nobody

[2021-11-12 18:45] kjhollen commented on #1860
I think this is the same issue as #1738 and maybe we should close this to keep tracking in one place? Let me know if I'm missing something subtle in the description here. Thanks!

[2021-11-12 18:51] kjhollen commented on #1875
Since there haven't been any updates on this one in a while, I'm going to close it. If you can provide some additional details about the error, feel free to reopen and we can look into it. Thanks!

[2021-11-12 18:51] #1875 closed, assigned to nobody

[2021-11-12 18:53] kjhollen commented on #1914
Closing this issue because there hasn't been any activity. Feel free to re-open if you can provide more details. Thanks!

[2021-11-12 18:53] #1914 closed, assigned to nobody

[2021-11-12 18:57] kjhollen commented on #1866
Hi @yoshikiohshima, thanks for this suggestion! We are also tracking real-time collaboration in issue #1337—please feel free to add further comments there. I'm going to close this issue for now, so we can keep all of the discussion about collaboration in one place.

[2021-11-12 18:57] #1866 closed, assigned to nobody

[2021-11-12 18:57] diaaahmedien opened #1970 "P5.js is no longer support the option present ?!"
#### Nature of issue?

- Found a bug

Dear Sir, the future "Present" in the share menu in the online P5.js editor is no longer valid. my work uses this option is destroyed!

Please, tell me what is happening, shall I transfer to another editor?

[2021-11-12 19:01] kjhollen commented on #1851
Hi @almaskhanwazir, thanks for this great suggestion! This feature is not yet implemented. I think this may be the same feature request as issue #1417, so I'm going to close this so we can keep the discussion in one place. Please comment there if you have any additional thoughts related to this feature.

[2021-11-12 19:01] #1851 closed, assigned to nobody

[2021-11-12 19:04] kjhollen commented on #1840
Hi @ProfLazy, thanks for suggesting this. There is not currently a way to delete your account from the editor. I've just updated the title here to indicate this would be a new feature, and I think it is a good idea to add it!

[2021-11-12 19:06] kjhollen commented on #1839
Hi @zaira0108, can you post a link to a specific sketch in your account that you can't edit, so that we can look into this issue? Thanks!

[2021-11-12 19:07] kjhollen commented on #1838
Closing this issue because the question has been answered. In the future, please use the [Processing Discourse ](https://discourse.processing.org/) for questions about how to use the editor. Thanks!

[2021-11-12 19:07] #1838 closed, assigned to nobody

[2021-11-12 19:10] kjhollen commented on #1831
Thanks for reporting @LucasWoon. Since there hasn't been any activity on this post, I'm going to close it. If you can provide more details, please re-open!

[2021-11-12 19:10] #1831 closed, assigned to nobody

[2021-11-12 19:17] kjhollen commented on #1817
Just making a note that this is related to #1337!

[2021-11-12 19:27] kjhollen commented on #1970
Hello @diaaahmedien, I'm sorry that this has affected your work. We have removed this feature because it is being used for phishing scams and it is difficult for our small team to fix this. For details see discussion in Issue #1965.

If you need a preview without the p5 banner or editor code visible, I suggest switching to another editor or signing up for a service that can host the project. Thank

[2021-11-12 19:27] #1970 closed, assigned to nobody

[2021-11-12 19:30] kjhollen commented on #1880
Hi @monicaaraujopasb, I'm sorry that your students had this experience. I am a teacher too and understand how stressful this can be!

I'm going to close this issue because we don't have enough information to do any further debugging, but I think it's possible that there was some trouble with the saving model and we have a few open issues to track this. If you can provide links to specific sketches

[2021-11-12 19:30] #1880 closed, assigned to nobody

[2021-11-12 19:34] kjhollen commented on #1969
Hi @Hel007, I'm sorry that you're having trouble with the sketch previews. We recently removed the Present mode option (see details in Issue #1965). Can you please clarify if this is the "Present" mode view of your sketch, or the Preview that appears next to your code when editing? Thanks!

[2021-11-12 19:35] diaaahmedien commented on #1970
Dear kjhollen,
Thanks for your prompt response,

Could you please tell me any alternative if you have it in mind?

Best regards
Diaa

[2021-11-12 19:41] Hel007 commented on #1969
Hello, I meant the preview mode that appears next to the coding.

On Fri, Nov 12, 2021 at 1:34 PM kate hollenbach ***@***.***>
wrote:

[2021-11-12 20:31] kjhollen commented on #1969
@Hel007, thanks for answering my question! An update was pushed to the site just a few hours ago, are you still seeing the issue?

[2021-11-12 21:05] Hel007 commented on #1969
Hello, I am not seeing it anymore. The preview is showing up now! Thank you
for letting me know what was going on. I thought there was something wrong
with my laptop. Again thank you!

On Fri, Nov 12, 2021 at 2:32 PM kate hollenbach ***@***.***>
wrote:

[2021-11-12 21:10] kjhollen commented on #1969
awesome, thank you for updating us! I'll close this since it seems to be working now. :)

[2021-11-12 21:10] #1969 closed, assigned to nobody

[2021-11-12 22:52] shiffman commented on #468
Hi @kjhollen! I think b/c of all the twists and turns in this discussion it would be more clear for maintainers (when there is time to revisit) to close this issue and have a new one just about the specific suppression of the `Event` promise related error thingie! What do you think? I'm happy to do so if that is helpful!

[2021-11-14 02:23] bakercp commented on #1970
Didn't see this thread and posted the same question here.

https://discourse.processing.org/t/editor-p5js-org-present-mode-disappeared/33495/2

[2021-11-14 06:01] sflanker opened #1971 "Restore Present view that doesn't allow phishing"
Seriously, I don't understand why the solution these issues:

 * https://github.com/processing/p5.js-web-editor/issues/1970
 * https://github.com/processing/p5.js-web-editor/issues/1965

isn't obvious!

Just look at what OpenProcessing does:

[code]

 * Use an iframe within an iframe.
 * The container iframe should display a banner that clearly identifies the site, owner of the sketch, and name of

[2021-11-14 14:45] gchinmayvarma commented on #1970
Yo so just make a github repo,
Upload all the files, index.html sketch.js and so on

Then go to settings, pages, and host your repo as a github page

Its a lot of work
But this is the best alternative to having the "present" mode from the web editor

I also use the present mode a lot and am very sad its gone now :(

[2021-11-14 17:09] kjhollen commented on #1970
[glitch.com](https://glitch.com/) is also a great hosting service, with the friendliness of the p5 editor.

[2021-11-14 17:34] kjhollen commented on #1971
Hi @sflanker thanks for the suggestion. We have a very small team—just a single developer—so please be respectful and patient with us as we work through possible solutions. What seemed most obvious to us last week was pulling the feature that was causing harm. At this time, we are not sure when or if we plan to restore the bannerless previews. Thanks for your understanding.

[2021-11-15 00:21] sflanker commented on #1971
Right, sorry I was hasty. It was a knee jerk reaction to what I think was originally a knee jerk reaction (taking down preview.p5js.org). My disappointment was compounded by the recent introduction of the cookie accept banner (which, I get it, isn't your fault, it's the EU's fault).

To be clear, I don't think you/we/the community should restore the **banner-less** behavior of preview.p5js.org, be

[2021-11-15 17:34] catarak commented on #1971
Thanks for the suggestions, @sflanker. I see that seemed like a knee-jerk reaction to take down preview.p5js.org, but I had been inundated with phishing reports for the past few weeks, and on Friday had received an especially large number. I wanted to come up with a quick fix to stop the issue, and then figure out a long-term solution.

[2021-11-15 17:47] catarak commented on #1970
Hey all,

I just want to say that ideally, I would not like to remove this feature forever. It had been abused and used for phishing scams, which had only been increasing in number, so I had to make a quick decision to prevent this. I am open to any ideas about how to restore this feature and prevent phishing! Thanks for your continued support 💖

[2021-11-16 02:09] gchinmayvarma commented on #1970
Yes! The present feature is absolutely amazing when it comes to showing others your sketch or seeing it working on mobile, the latter one i find being the best way to make a webpage for mobile.

Hope to see ut back once this problem with phishing sites is dealt with.

[2021-11-16 10:55] dayzabeth opened #1973 "Preview won't load"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-11-16 10:59] dayzabeth commented on #1973
The preview in p5js can't be viewed. It keeps saying "The connection was reset" even though I'm connected to the internet.
I tried a bunch of different things by restarting my laptop, clearing out cookies, deleting extensions and I even tried working in incognito mode, and nothing has changed. It still keeps showing up as "The connection was reset"

[2021-11-16 17:56] aparrish opened #1974 "attempts to access the editor give a 404 error"
Accessing any path at `editor.p5js.org` right now is returning a 404 error (with Google branding). Tested on several computers and browsers!

[2021-11-16 18:06] cwhetung commented on #1974
Hello,

We are seeing the same issue on Chromebooks and OSX using  Chrome Version 95.0.4638.69.

[2021-11-16 18:08] catarak commented on #1974
I'm sorry about this! I haven't changed anything recently so I'm not sure what's up. Investigating now and I'll try to get it back up as soon as possible!

[2021-11-16 18:09] catarak commented on #1974
Seems like it's working again and it was an error with the Google hosting.

[2021-11-16 18:11] aparrish commented on #1974
Wonderful! Thank you Cassie 🙏

[2021-11-16 18:11] catarak commented on #1974
Woah! Seems like there was a big outage: https://news.ycombinator.com/item?id=29243617

[2021-11-16 18:11] cwhetung commented on #1974
Amazing, thank you!

[2021-11-16 18:43] peilingjiang opened #1975 "Optionally hide the toolbar for embedded sketches"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I noticed that for embedded sketches, now there's a toolbar for conveniently going to the editor and code. However, sometimes when I embed a sketch on the website, I might only want to demo or present it, and this toolbar might break the presentation and style of my website. I know I could just move all the c

[2021-11-16 19:31] kjhollen commented on #1974
wow! whew, well, looks like this is resolved. 😅 thanks for reporting so quickly folks, and for finding out what happened @catarak!

[2021-11-16 19:31] #1974 closed, assigned to nobody

[2021-11-16 19:34] kjhollen commented on #1973
Hi @dayzabeth, we've been having some problems with sketches created for phishing on the p5 editor, which means some antivirus software is now blocking the previews. If you can add a website to your antivirus software's exception or allow list, please try adding editor.p5js.org and https://preview.p5js.org/*, then see if that clears things up.

[2021-11-17 19:24] #1973 closed, assigned to nobody

[2021-11-17 19:33] catarak commented on #1975
Thanks for the suggestion! I needed to add the header to the embedded view because of some recent issues with phishing, as folks could make their sketches look like a totally different website. There are possibly ways to prevent phishing and allow for a sketch rendering without the header, but I'm not sure what that is right now.

I'm going to collect some of those ideas in #1971.

[2021-11-17 19:33] #1975 closed, assigned to nobody

[2021-11-17 19:34] catarak commented on #1971
The cookie popup has been removed from the embed/full view. I'm going to leave this issue open to discuss options for bringing back the Present view that prevents phishing.

[2021-11-17 19:42] catarak commented on #1971
Some of the reasons for needing a Present view (fullscreen sketch without a header):
1. Using bluetooth (#1900), you can't use web bluetooth from an iframe with a different domain.
2. For previewing on mobile

Perhaps there's a way to create a temporary url, or a password-protected url that supports these uses?

[2021-11-18 12:26] everythingability opened #1976 "Editor not helping: Bug"
When using the Editor with auto-refresh checked, in a js library I have created (in the editor)... in my case app.js.

...when I type a mistake or have as yet unfinished code, the editor flags this up but I'm jumped to the sketch.js file, and so, often I'm in the middle of writing the code, and I add nonsense to a random point in my sketch.js file.

[2021-11-18 20:57] catarak commented on #1976
Thank you for reporting! I think this has to do with a new feature I added to highlight runtime errors. Would you mind posting a link to the sketch that this is happening in?

Would you also be able to write out the steps to reproduce this bug (e.g. 1. Open a new sketch, 2. create a file called 'app.js', etc.)? Thank you so much!

[2021-11-19 14:43] tugrulsalci opened #1977 "Stripped-down embedded p5.js sketches"
Hello,

We are a platform that features student works from Creative Coding classes in Özyeğin University. You can reach the works at randomseed.cargo.site . Withing the latest update, in all of the artworks we have the white p5.js navigation bar. Of course would like to promote p5.js as we use and host our artworks. But the bar is very wide and at top. Do you think of an update which allows the us

[2021-11-19 18:29] catarak commented on #1977
Hi @tugrulsalci! Thank you for the suggestion. For context, the reason behind adding the top navigation was to prevent phishing.

I think we could think about having an embed view for a sketch that is a stripped down version of the editor, like what other similar sites do (e.g. CodePen), that just let you see the code and the sketch, and nothing else. It would also be a smaller app so it would loa

[2021-11-19 20:56] sflanker commented on #1971
For my purposes, the removal of the cookie banner from the full screen embedded sketches (like [this one](https://discourse.processing.org/t/tutorial-using-p5-geometry-to-create-fast-3d-graphics/32359/5?u=kumupaul)), is **perfect**. Thank you!

[2021-11-20 14:08] Shay-Almog opened #1978 "print() function prompts actual printing in browser"
Hello!

When the print() function is called without arguments it prompts the browser's Print dialogue, as if I've pressed CTRL+P.
This issue comes up while working with auto refresh turned on and the code is already running - I start typing "print(..." and the right parenthesis is auto-completed before I type in the argument. The editor the runs the unfinished line of code "print()" resulting in t

[2021-11-20 17:47] basicvisual commented on #91
Hi , curious to know if there has been any updates on this ?My idea is to display my sketches without the jibberish experimental code :+1:

[2021-11-21 13:50] cdslxc opened #1979 "TypeError: null is not an object (evaluating 'this.drawingContext.scale')"
Wrong git. This should be posted in p5.js.

[2021-11-21 14:04] #1979 closed, assigned to nobody

[2021-11-21 14:49] burnedsap commented on #1977
I agree, the new bar breaks previous embeds and it would be nice to have an option to embed without the window.

[2021-11-25 13:48] SanzSeraph opened #1981 "Can't Open Specific Sketch"
I have a sketch called Random Map Generator Prototype. While I was working on it, I received a message saying that it was saved in another tab, even though I only have it open in one tab.

Now, when I try to load that sketch, it always loads a new sketch with a randomly generated name.

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 96.0.4664.45
- Operating System: W

[2021-11-25 16:09] masakakinoki commented on #145
The `about:srcdoc#` solution is not working for me.

Expected behaviour: clicking on the 'blue berry' links only causes mousePressed function

Actual behaviour: clicking on the 'blue berry' links causes mousePressed function and then shows a blank preview

Example:
https://editor.p5js.org/abirdwhale/sketches/URhqrGUvZ

[2021-11-25 16:38] masakakinoki commented on #145
Instead of `about:srcdoc#`, `javascript:void(0)` works for me.

[2021-11-26 10:45] cesardeazevedo opened #1982 "Feature Request: Vim Mode"
#### Nature of issue?

- New feature request

#### New feature details:

This feature request together with a working implementation proposes a new user preference to enable Vim Mode on p5 Codemirror editor.

I did some search about any discussion related to Vim on p5 web editor, but I couldn't find any, so I ended up with a working implementation which wasn't that difficult as I thought, since Co

[2021-11-28 00:11] anderoonies commented on #1953
I’d be happy to take a look at this!

[2021-11-28 03:09] anderoonies commented on #1953
Opinions on the shape of font size?
[code]

or

[code]
?

The former should be simpler to set up actions and reducer but might be more surface area for consuming state

[2021-11-28 15:53] anderoonies commented on #1976
I think I just ran into this issue myself, where a runtime error was thrown in sketch.js because of a dependency on another file:
1. Open the default sketch
2. Add an `other.js` file and a `<script>` to include it before the `sketch.js` include
3. Add `blah = () => {}` to `other.js`
4. In `setup` in `sketch.js`, add a call to the `blah()` function
5. Back in `other.js`, remove `blah` or redefine `

[2021-11-29 12:24] everythingability commented on #1976
That's exactly the problem. @anderoonies

And what happens is, you go to fix the error and you type at some random spot (sometimes below the scroll) and all of a sudden you have two problem files, the one you coded a bug in an the one that has the first few chars of what you'd started to type at a random spot.

So bad, I had to stop using the Editor completely.

[2021-11-29 17:38] anderoonies commented on #1976
Seems like a tricky problem, since the error really _is_ in the other file.
Maybe if file switching for runtime errors waits for you to stop typing of
Auto-refresh is on, but that’s a pretty fuzzy metric

On Mon, Nov 29, 2021 at 4:24 AM everythingability ***@***.***>
wrote:

[2021-11-29 18:06] everythingability commented on #1976
No it _isnt_.

The error isn't in another file if in your main sketch.js it calls a doThis() function, which is in another file... let's call it dothis.js.

So I'm editing code in dothis.js and I make a mistake, the error then JUMPS back to sketch.js where doThis() is called... and tap-tap-tap... there are now letters I'd started typing whilst in the doThis() function in sketch.js.

One "solution"

[2021-11-30 04:52] CodingChronix opened #1984 "Need help with a recurring error in code."
I have recently been trying to make monopoly in the p5.js editor for my class and whenever I press a button that should choose a random number between 1-6 i get an error that doesn't make any sense. Here's the peice of the code with the button.

function setup() {
  createCanvas(400, 400);
  roll = createButton("Roll The Dice");
  roll.position(200, 300);
  roll.mousePressed(player1.getPosition +

[2021-11-30 17:52] erikDillaman commented on #1977
I was using the P5 embedding within Canvas to host example challenges and assignments for students -- with this new top bar, it allows them an easy way to find the source and simply copy the code. I want them to be able to interact and visualize the challenge without being able to just scan through my code (at least at first...)  Can there be a toggle in the editor that allows us to remove the top

[2021-12-01 03:02] dhowe commented on #1234
Has this made it into the current editor?  I'm still seeing this problem - makes it virtually impossible to use web-workers in the editor

[2021-12-05 07:38] davidluckyvr commented on #826
Circle is still not defined in the web editor. Giving a reference error.

[2021-12-08 18:19] catarak commented on #826
@davidluckyvr have you tried updating the p5.js version of the specific sketch you're working on? the p5.js version will only be updated for new sketches.

[2021-12-13 23:02] stungeye commented on #1977
I would also like a way to embed only the sketch itself. I created interactive sketches for [an applied math course](https://stungeye.github.io/Applied-Math-For-Games-1/), but the embeds are now all broken. The following screenshot shows how a 50x50px sketch now looks embedded in my notes. :)

![image](https://user-images.githubusercontent.com/124968/145902631-6aba8d28-3e91-44af-80cd-e2716a9b9cef.

[2021-12-15 04:53] ash97531 commented on #445
I understood the issue, as I am new in open source contribution I would like to take this issue. Can it be assigned to me?
@catarak

[2021-12-15 17:12] akshatnema commented on #1874
Hey @catarak, I want to work on this issue. I have done the setup of this project on my local system.

[2021-12-16 21:38] catarak commented on #1874
Yay! I would recommend looking at #1741 for reference on how to fix this issue, and then you can make a PR 😄

[2021-12-16 21:39] catarak commented on #445
@ash97531 feel free to work on this issue!

[2021-12-17 16:55] akshatnema commented on #1874
Thanks for the reference. Just a quick question, since .stl files are majorly worked on CAD software for designing, will they work p5 web editor as well, or do I have to make some built-in backend for working on these files?

[2021-12-18 08:06] akshatnema commented on #1852
Hey @catarak, I tested this bug on the editor and it's still there. I want to work on this issue and will give a PR soon for this.
Here is a preview of the changes I will make:
![image](https://user-images.githubusercontent.com/76521428/146634260-cc4e1f29-15ab-4118-b12c-78253e80d677.png)

Kindly confirm if you want exactly this or something else?

[2021-12-19 16:20] madhav573 opened #1986 "lost my file"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2021-12-23 05:40] ash97531 commented on #445
where can I ask doubts regarding codebase or if I stuck somewhere? It will be helpful for me to work on this feature.
And medium or platform to discuss?

[2021-12-29 10:41] golanlevin opened #1987 "Feature Request: Private Option for Sketches"
- New feature request

#### New feature details:

Hi friends,
I'm writing to re-open issues #91, #1604, and #1832 — a feature request for a "private" option for sketches. Sketches that have been set to Private would not be visible, unless their author was logged into the Editor in their browser.

Some reasons that an artist might want to set a sketch to Private could be that:
* It is a work-in-pro

[2022-01-03 01:48] mamba0076 commented on #813
html_sorous)

[2022-01-06 21:44] huebinger commented on #1167
Hey, I'm currently trying to get into contributing to open source and started looking into this issue!

I'm on a mac with a german keyboard as well.

I tried adding <kbd>Meta</kbd> + <kbd>.</kbd> to toggle comments in the extraKeys section in `Editor.jsx` which worked so far. If this is a viable solution to this problem I'd suggest to simply offer two ways to toggle comments and list them both in

[2022-01-20 05:24] stampyzfanz commented on #1978
Could reproduce in editor as well as in native p5.js in the browser in Chrome. That makes me think that this occurs in p5.js as a whole, not just the web editor. Additionally, it only does this with the `print()` call not `print("text")`.

As I see it, there are 3 alternatives:
1. Works as intended
2. Does not work as intended, and create an issue in p5.js
3. Works as intended in p5.js, but is ann

[2022-01-20 09:15] mutterer opened #1991 "getURLParams() not working in fullscreen share mode"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 97.0.4692.71 (Official Build) (x86_64)
- Operating System: OSX
- Steps to reproduce this bug:

1. Consider the example at https://p5js.org/reference/#/p5/getURLParams
2. Paste the code below in a new editor window
2. Create the fullscreen share mode using File, Share, Fullscreen option
3. add ?year

[2022-01-29 14:39] dwight9339 commented on #99
There is a way to add hinting and autocomplete using codemirror add-ons. I'm working on an implementation now.

[2022-01-29 15:16] dwight9339 commented on #1939
I'd like to take a crack at this if no one else is working on it.

[2022-02-02 22:46] calebfoss commented on #1882
I gave this a try with PR #1996. The p5-javascript mode appears to style anything that follows a "." as a "property" (with exceptions for the async keyword), and once identified as a property, it ignores any matches with the p5-keywords. I made p5-keywords a priority instead, so if a token matches a p5-priority, it will styled as a p5Function or p5Variable regardless of whether it follows a ".".

[2022-02-04 19:18] calebfoss commented on #1991
I think this is because the fullscreen and embed links now also display the sketch in an iframe (an iframe within an iframe in the case of embed) in order to prevent phishing, and since the parent and iframe have different subdomains, I don't know if the iframe could get the url of the parent.

[2022-02-04 19:25] calebfoss commented on #1991
So as long as that's the case, I'm wondering if it makes sense to update the reference page on the website to clarify.

[2022-02-19 13:58] Divyansh013 opened #2000 "Embedding 'p5.js' link on home page of editor"
#### Nature of issue?

- New feature request

#### New feature details:

Currently when someone is on p5.js editor, we can't get redirected to p5.js or p5 in general.
I was thinking on embedding a p5.js link somewhere on p5 logo or in 'help' dropdown  something like 'about' or 'visit p5.js'.
I mean this is just a rough idea of what I am thinking , all suggestions are welcome if we are looking forw

[2022-02-19 14:06] #2000 closed, assigned to nobody

[2022-02-19 14:07] Divyansh013 commented on #2000
After discussing I figured the current 'about' is better than doing on logo. Hence,closed!

[2022-03-08 09:42] alptugan commented on #1977
Hi there,

Is there any workaround for the top bar visibility issue.
I tried many css tricks to remove the top banner. I could not make it work cause of iframe structure I guess.
@catarak, I got your point. But it would be good to have an option to enable/disable top bar as @erikDillaman suggested.

[2022-03-09 19:09] rinkydevi commented on #1955
hey @catarak , i would love to work on this issue, please tell me hoe to proceed.

[2022-03-10 12:07] 3ru commented on #1978
As a [reference](https://p5js.org/reference/#/p5/print) shows, `print()` invokes the `window.print()`.

To avoid getting stuck by auto-completion, I recommend turning off `Autoclose Brackets and Quotes`.

<img src="https://i.gyazo.com/9c3d262583980e3bf868fc97719970f1.png" width=500>

I think this issue should be closed:cat: @catarak

[2022-03-15 00:21] rinkydevi commented on #1991
hey @calebfoss would u please explain a bit and help to work on it

[2022-03-15 00:30] calebfoss commented on #1991
@rinkydevi  What would you like further explanation on?

[2022-03-22 07:01] ash97531 commented on #99
@catarak if this issue still not done.. I will be happy to work on this.

[2022-03-25 09:28] oneandzeros opened #2001 "How to config a SSL certificate"
How do I config a SSL certificate to enable HTTPS request?

I have the domain and the http request is working on port 80.
I also have the ssl certificate already.

You can visit [p5js.net](http://p5js.net)

[2022-03-28 08:54] reejuBhattacharya opened #2003 "Version inconsistency"
#### Details about the bug:

- p5.js version: 1.4.0
- Web browser and version: 99.0.4844.82 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10
- Steps to reproduce this:

The CDN of p5.js in the `index.html` file of the web-editor refers to version `1.4.0` whereas as the latest released version of p5.js is `1.4.1`. This leads to certain latest features (such as FES features

[2022-03-28 22:44] lavi-lucindo opened #2005 "Site não está funcionando!"
Bom, eu abri o site p5 js web e me inscrevi como o meu curso pedia porém, quando eu cliquei sobre os numeros que estavam no script para mudá-los, o cursor começou a se mover por todos os numeros e palavras do script. Fazendo com que eu nao conseguisse clicar em um numero e excluir ele para colocar outro, ou em qualquer outra coisa que estivesse no script. Eu testei também em outros computadores pa

[2022-04-01 16:51] stungeye opened #2006 "WebGL Primitives with Alpha Affected by Dark/Light Theme"
Discovered with my students that the editor's theme (Dark vs Light) will change the colour of 3D primitives when the fill includes an alpha transparency. Is this the expected behaviour?

#### Details about the bug:

- p5.js version: v1.4.0 (via the p5.js Web Editor)
- Web browser and version: Firefox 98.0.2 / Chrome 100.0.4896.60
- Operating System: Windows 10
- Steps to reproduce this:
  - Open a

[2022-04-01 20:44] mkmori commented on #1971
Hi, @catarak : So in the meantime, "full"--unlike "present" or "preview"--doesn't process touch or other mobile events, right? (It's not just me, then...? 😅 )

[2022-04-01 22:18] mkmori commented on #2006
The current approach in 1.4.1 is to default the canvas (and other p5.Graphics) alpha attribute to false, to prevent show-thru. In this case, setAttributes("alpha", false); on the main canvas. (Also, 1.4.0 may be changed to 1.4.1 in the html file.)

Cf.: https://github.com/processing/p5.js/issues/5552

[2022-04-02 15:39] stungeye commented on #2006
Thanks @mkmori for the clarification. Both of the fixes you mention (setAttributes and p5js v1.4.1) worked for me. Closing this issue now.

[2022-04-02 15:39] #2006 closed, assigned to nobody

[2022-04-03 16:31] mkmori opened #2007 "Settings selections hard to see in "Light" Theme (Win10 Chrome & Chromium)"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?
Suggestion to improve usability of Settings menu in "light" theme.

#### Feature enhancement details:
In my Chrome & Chromium (Vivaldi) browsers esp. (Win10), the weight, color, and lack of other indicators make it difficult to see what settings are s

[2022-04-04 00:59] catarak opened #2010 "🌸✨Leadership Update✨🌸"
Hello dear p5.js community!

You've probably noticed that I have been a lot less active on here. When I started this project six years ago, I never could have imagined how big it would become. All of you have written over six million sketches on the p5.js editor! As you can imagine, the responsibility has also grown over the years and there is a lot of pressure to make sure the site is up.

I have

[2022-04-04 04:08] 3ru commented on #2007
I felt this too! I will create a PR soon!

[2022-04-05 14:40] ashley-towey commented on #1153
I've noticed this issue presenting itself again, and am unable to login.

[2022-04-05 15:20] JalokimDev commented on #1153
Bump, have the same issue right now. Wrong credentials on the first try, couldn't log in anymore, disabling cache/incognito mode didn't help.

[2022-04-05 15:22] kjhollen commented on #1153
I'm having trouble logging in, too, with an unlinked account (not through google or github). I'm also noticing that some links I have for specific sketches are not loading, after a long wait/loading screen it just goes to a new default sketch. FYI @catarak

[2022-04-05 15:36] bricedre opened #2012 "Can't log in like usual"
For no apparent reason, I can't get to log in to my account by using the typical login page : https://editor.p5js.org/login

Have my email and password correctly typed, nothing special here.
Cursor changes to red barred circle when I hover over the Log In button.
Clicking doesn't do anything at all.

GitHub & Google buttons works fine though.

[2022-04-05 15:47] Tntosion commented on #1153
same problem! It's been like this for about 30 minutes. Is it because maintenance is going to happen soon next week? I need to log in to submit an assignment! Please fix this ASAP lmao

[2022-04-05 15:56] catarak commented on #1153
Hey all,

I'm doing my best to assess the issue but quite honestly I've never encountered this specific issue before and I'm not sure what's happening. I'm doing my best to isolate the issue but I can't really give a timeline on when it will be fixed. I appreciate some grace, I'm a one person team trying to fix this as fast as possible.

[2022-04-05 16:11] BillBoese commented on #2012
I can't log in either, I had a session open I can still work in it but cannot save. I get the attached error.
![error](https://user-images.githubusercontent.com/72985447/161798436-494fccc6-0981-4e5d-820d-49c0b2aae64e.PNG)

[2022-04-05 16:18] catarak commented on #1153
I've isolated the issue to an error with the database. I'm not sure what caused it and I've filed a ticket with the database service support. Hopefully I will hear back soon.

[2022-04-05 16:28] catarak commented on #2012
Thanks for reporting! I'm aware of the issue and doing my best to track it down. I've isolated the issue to an error with the database and filed a ticket with the database service we're using. I will hopefully hear back soon.

[2022-04-05 16:49] Tntosion commented on #1153
Mine is working now! It automatically logged me in. Haven't tested out the login page as i'm too afraid to log out haha. Thanks for looking into this issues!

[2022-04-05 16:52] catarak commented on #1153
Yes I think it is fixed! I'm going to work with the database support engineer to figure out what happened, but essentially it seems like the database service got messed up. I think that the planned outage scheduled for this weekend will actually address this.

[2022-04-05 16:54] catarak commented on #2012
I think it is now fixed. Unfortunately an error with the database service itself! I think the planned outage I have scheduled this upcoming weekend will address this issue as well.

[2022-04-05 16:56] almchung commented on #1943
This project will be on hold until early this summer when the development direction for the FES becomes clearer. Thank you!

[2022-04-05 16:58] BillBoese commented on #2012
I am able to log in now, all appears to be working normally.  Thank you so much for taking care of this!!!

[2022-04-06 07:21] bricedre commented on #2012
Wow, that was a quick response :) Thank you so much for all your efforts, this tool is absolutely phenomenal !

[2022-04-06 07:21] #2012 closed, assigned to nobody

[2022-04-21 01:35] tredden330 opened #2016 "print() called within draw can cause a loss of work"
#### Details about the bug:

- p5.js version:
- Web browser and version: chrome
- Operating System: Windows
- Steps to reproduce this:
Calling print() within draw causes a print prompt to show up with no way to exit the loop without closing the browser tab, which means you lose your work if you haven't saved it recently. I think it would be nice if there was a quick pop-up warning that using print

[2022-04-21 18:15] eltonsampaio12 commented on #1909
Me and my team would like to take a look at this issue.

[2022-04-21 18:26] domingospanta commented on #1589
Me and my team would like to take a look at this issue.

[2022-04-25 15:21] ghost opened #2017 "Web Editor Shows Error on Use of Nullish coalescing operator"
#### Details about the bug:

- p5.js version: N/A; Error takes place regardless of use of library.
- Web browser and version: Chrome 100.0.4896.82
- Operating System: ChromeOS 100.0.4896.82
- Steps to reproduce this:
Input the following code:
[code]
This sets notNull to true following the logic of the Nullish coalescing operator: [Reference](https://developer.mozilla.org/en-US/docs/Web/JavaScript/

[2022-04-25 15:28] ghost commented on #2017
After better searching of the issues page, it seems this is the same underlying problem as #1540 and the p5js team is already aware of it.

[2022-04-25 15:28] #2017 closed, assigned to nobody

[2022-04-25 16:53] catarak opened #2019 "Update webpack from v4 to v5"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?
It fixes access by making sure the p5.js Editor doesn't go down and user data is protected :)

#### Feature enhancement details:

There have been a couple open pull requests about updating packages to the latest versions. In order to update these pack

[2022-04-26 10:38] Dainess commented on #3139
I'd like to point out as of April 2022 I fould the same problem as OP, when I call return false on mousePressed() it breaks the code in keyPressed()

[2022-04-26 13:57] CarsonKompon commented on #1987
Bumping in hopes that there is a reconsideration

[2022-04-26 13:57] CarsonKompon commented on #1987
Bumping in hopes that there is a reconsideration

[2022-04-27 19:35] #2019 closed, assigned to catarak

[2022-04-27 19:43] catarak opened #2021 "Remove React warnings"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

Improves stability of the application.

#### Feature enhancement details:

When running the p5.js Editor locally, React outputs to the console some deprecation warnings, due to updating the React version. I would like to fix these warnings in an atte

[2022-04-28 21:50] catarak opened #2023 "Migrate Webpack to use Asset Modules"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

Add stability to the p5.js Editor by keeping packages up to date

#### Feature enhancement details:

I just upgraded to Webpack v5, but I did not upgrade to [Asset Modules](https://webpack.js.org/guides/asset-modules/). `raw-loader`/`url-loader`/`fil

[2022-05-02 19:39] calebfoss commented on #2010
Thank you for all the work you've done to build and maintain this amazing project!

As a teacher, it is so amazing to introduce students to a tool that they can get started with so quickly without installing anything, can use to make small or big complex things, and can share their creations with the world so easily. And in creative work, it's such a wonderful tool for sketching. 6 million sketche

[2022-05-06 18:45] Gabrz opened #2024 "Feature Request: the option to publish a sketch version"
I would like to see an option to "publish" a sketch.

I've shared my sketch (on social media) using the HTML link. But I would like to continue working on the sketch.

It would be nice if the link would go to a "published" / working sketch, and I can keep on making changes without disrupting the shared/published sketch. And when I'm done editing I can publish it, and the shared sketch is updated t

[2022-05-09 16:15] ghost opened #2025 "Feature Request: Change New Sketch Contents"
When I make a new sketch, I must change the index.html and other attached files the same way each time: I typically import a specific (domFuncs.js) file with helpful functions that I use frequently, change the spreadsheet to a <style> tag in order to reduce total files and make navigation easier, and remove the p5.js libraries, since I often don't use them in an effort for universality.
It would b

[2022-05-09 22:19] AlexMunoz commented on #2023
Hello @catarak, could you please take a look at this PR https://github.com/processing/p5.js-web-editor/pull/2026

[2022-05-15 06:20] zturtledog opened #2027 "color icon next to hex code inside of object can be duplicated"
#### Details about the bug:

- p5.js version: 1.4
- Web browser and version: Google Chrome | 100.0.4896.133
- Operating System: Chromium
- Steps to reproduce this:
        type this:
[code]
        then the little icon will apear.
        put the mouse next to the icon
        then press delete, this will delete the quotation mark
        then press enter, the icon will duplicate

#### actual bug

[2022-05-29 18:06] cmjmousseau opened #2028 "All sketches have disappeared for user. Recovery possible?"
#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

I am a teacher using the p5.js online editor with my students. A student has "lost" his entire semester's sketches in his p5.js editor account. He says that his computer crashed and when he went back to the editor there were no longer any sketches. When I use a link to one his p

[2022-06-02 22:04] cproctor commented on #1337
Hi everyone, I've used and admired p5js for a while, but I'm new to active participation in this community. Thanks to @lm-n for the welcome.

Two grad students (one in education, one in CS) and I have started working on this issue this summer. It doesn't look like anyone's actively working on this, but it would be lovely to hear if someone is. We're just a week in, learning our way around the code

[2022-06-09 23:16] calebfoss commented on #2028
Something that's happened with my students in the past is that they've changed their username, which results in a change to their sketch links. So that would be something to check!

[2022-06-10 00:37] cmjmousseau commented on #2028
Thanks for that tip. I will definitely look into that possibility!

[2022-06-12 07:11] lifan0913 opened #2029 "Is there anyone ever setup p5.js-web-editor in production? Encount error, need help!"
Hi, I want to setup a p5.js-web-editor in production, it is on run `npm run start:prod`, but while a first request coming, the server panic.
Here is the error message after the first browser request.
`root@jiqutu:~/Downloads/p5.js-web-editor# npm run start:prod

!5.js Web Editor is running on port: 8000
p5.js Preview Server is running on port: 8002
(node:6349) DeprecationWarning: collection.ensure

[2022-06-13 01:26] joemckay5 opened #2030 "Color picker changing default output"
Hi all,
The color picker is great!
I figured out that you can change the default output by clicking the letters, but it is a little unintuitive.
Could there be an "output pulldown menu?" Or maybe just clicking on any of the letters cycles through all the options? Right now I have to click HEX to get it to output RGB, which feels backward.
Maybe it should also be under the help menu?

[2022-06-16 05:52] #2029 closed, assigned to nobody

[2022-06-16 05:54] lifan0913 commented on #2029
The problem is due to my .env file is transfered from windows machine, after install dos2unix and run 'dos2unix .env', My problem solved.

[2022-06-17 15:28] fabiopettinati opened #2031 "Syntax highlighting still not working for private fields (supported in ES2022)"
The editor doesn't highlight property fields correctly. Upon encountering any # symbol it displays the rest of the line in red color.

@josephh in discourse.processing.org identified the issue as being related to the use of CodeMirror in p5.web.editor. The issue in CodeMirror got fixed back in 2020 and perhaps the p5 editor is not using the mrs up-to-date version.

The code below will show the pro

[2022-06-21 06:20] liudonghua123 opened #2039 "GET https://cdn.jsdelivr.net/gh/processing/p5.accessibility@v0.1.1/dist/p5.accessibility.js net::ERR_ABORTED 404"
### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-23 15:30] limzykenneth commented on #2039
Hi @liudonghua123, is this a p5.js web editor specific problem? If so can you file this issue at the [web editor's repo](https://github.com/processing/p5.js-web-editor/issues) instead? Thanks!

[2022-06-23 19:34] gabirenaud opened #2033 "Boa tarde,gostaria de informar que o jogo do pong,qual estou programando no Javascript,está dando problema.Eu tenho certeza que programei tudo corretamente,por isso não sei por qual motivo isto está acontecendo.Minha raquete não se move quando eu aperto nas flechas UP e DOWN,o que pode estar acontecendo?"

[2022-06-24 00:25] #1986 closed, assigned to nobody

[2022-07-02 01:33] forestbeasts opened #2035 "Allow tab indentation"
It looks like there used to be indentation settings, but they [were removed](https://github.com/processing/p5.js-web-editor/issues/965).

There doesn't seem to be any purpose for that other than "it's in some style guide" and not many people changed it, and that "options are bad".

But I'd like to use tabs, and can't. Can we maybe add those settings back in? It's not like style guides should apply

[2022-07-03 09:52] SFUMisha commented on #91
Hello, has been a little bit since the last activity here. Just wondering if any functionality for privateing sketches has been released yet? or maybe an eta when it could be possible? Would really love this feature, thank you!

[2022-07-06 19:56] catarak opened #2036 "Update p5.js version to 1.4.1"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

Setting the default p5.js version to 1.4.1 lets folks easily experience all of the new bug fixes and new features.

[2022-07-06 20:32] #2036 closed, assigned to catarak

[2022-07-07 04:16] travelalpaca opened #2038 "All files in download zips are empty (have 0 bytes)"
#### Details about the bug:

- Web browser and version: various flavors of chromium and firefox (both mobile and desktop).
- Steps to reproduce this:
1. Download the project files from the browser.
2. This generates a zip archive
3. The zip archive contains the correct files containing the correct source code inside, however **all files within the zip are marked as a size of 0 bytes**
4. Some of m

[2022-07-13 05:30] 3ru opened #2040 "Inaccurate rendering during file upload"
Animation is not rendering properly when uploading multiple files of three or more.

#### Details about the bug:

- p5.js version: 1.4.0
- Web browser and version: Google Chrome 103.0.5060.114
- Operating System: Windows
- Steps to reproduce this:
1. uploading multiple files
2. only the top two upload completion animations work
(All files are uploaded successfully)

|Successfully uploaded|Only two

[2022-07-16 17:22] potatochipsnotincluded opened #2041 "Change text size based on if computer is desktop or laptop"
Hi! I think that it there should be a feature where depending on if you have a laptop or pc change the text size, I've tested this code snippet: `navigator.getBattery().then(function(battery) {
    if (battery.charging && battery.chargingTime === 0) {
        console.log("I'm a desktop")
    } else {
        console.log("I'm not a desktop")
    }
});` and it works! Maybe someone can add this in!

[2022-07-16 18:10] jonnytest1 commented on #99
y not just add typescript integration ?
(i'd recommend switching to the [monaco](https://microsoft.github.io/monaco-editor/index.html) editor for this )

[2022-07-17 11:43] 3ru commented on #2041
We can already change the font size in the settings, but in what situations do we need this feature?

[2022-07-17 15:07] potatochipsnotincluded commented on #2041
Well sometimes I need to work on a laptop but I don't want to have to change the font setting because I have to change it back when I'm on desktop, so maybe there could be a setting for default laptop text size and default desktop font size. But I realized if the laptop is charged to 100% the code snippet will say it's a desktop and, I don't know how to fix that, so maybe someone else can fix it?

[2022-07-18 23:53] lindapaiste opened #2042 "Refactoring Redux code: hooks, thunks, and redux-toolkit"
Most of the Redux code is this package was written years ago and has not been touched since.  In that time, Redux has come a long way!  The bad news is that this codebase goes against a lot of the [Redux Best Practices](https://redux.js.org/style-guide/).  The good news is that the newer ways of doing things are much easier and involve a lot less boilerplate.

Some things which can be improved/cha

[2022-07-19 16:19] KevinWorkman opened #2044 "reserved function "width" error message shows for valid code"
I'm using the latest version of the p5.js editor (p5.js version 1.4.1), and I have code like this:

[code]

When I run the sketch, the code works fine and I see a circle, but I also see this error message in the console:

[code]

#### Details about the bug:

- p5.js version: 1.4.1
- Web browser and version: Chrome 103.0.5060.114
- Operating System: Windows 10
- Steps to reproduce this: Run this sk

[2022-07-21 19:33] CaptainCredible commented on #2038
Can confirm this issue. Tested with chrome on macOS, and chrome, opera , Firefox and edge on win10 all produce zip files containing empty files

[2022-07-22 18:29] 3ru commented on #2044
This problem seems to have occurred since ver `1.4.1`. (It was not reproduced in `1.4.0`)
Hi @Qianqianye, This is not an editor issue and this should be moved to the [p5.js repo](https://github.com/processing/p5.js).

[2022-07-27 12:54] jht1900 commented on #2038
Confirmed same issue on MacOS in Safari and Chrome - downloaded zip file contains all zero length files

[2022-07-27 20:20] jht1493-gmail commented on #2038
What does it take to upgrade this to a bug? I'm pretty sure it was not in prior versions of editor. Pretty sure I was downloading ok all of 2021.

[2022-07-28 03:16] travelalpaca commented on #2038
I downloaded a project just fine that same day on July 6, 2022, then two hours later when I downloaded it again the zip archives were messed up, and now three weeks later, export archives are still showing 0 bytes size for all files.  So whatever went wrong happened specifically on July 6 -- hopefully that's helpful information to anyone with the ability to make a correction.

Looks like there was

[2022-07-30 03:30] stampyzfanz opened #2046 "Friendly error links have poor color contrast"
#### Details about the bug:

- Web browser and version: Firefox 102.0.1
- Operating System: Windows 10
- Steps to reproduce this:
https://editor.p5js.org/stampyzfanz/sketches/flp7cojOM
![image](https://user-images.githubusercontent.com/34364128/181870774-70b47ac6-b7f8-4527-903f-96a1686bacc2.png)
The problem is inline CSS that changes the colour of FES links without taking into account the theme th

[2022-08-02 02:48] quinton-ashley opened #2047 "Allow .mjs files in the p5.js editor"
I've got some great ideas for how modules can be used in the online editor. It'd be really nice to use top level await!

[2022-08-02 22:48] dwight9339 commented on #2038
Dove into the code a little bit this afternoon to see if I might be able to help. I think it might be an issue with the archiver package. I'll keep looking into it and report back.

[2022-08-03 21:52] dwight9339 commented on #2038
So I've got a fix for this working locally on my machine that I'm ready to push but, quick question, is it really necessary to include external libs in the zip? The currently deployed version goes and grabs any external scripts referenced in index.html but most of the time these are CDN hosted scripts anyway so, at least to me, it seems pretty superfluous to include them in the download.

[2022-08-03 21:57] jht1900 commented on #2038
Personally I would prefer the external scripts to get pulled from the CDN, but would not want to risk a change in behavior now. Fixing the zero length bug should be the first step and CDN extern script option in a separate pull request.

[2022-08-04 12:26] EmmanuelPil commented on #91
@SFMischa "Would really love this feature, thank you!" Same here!

[2022-08-06 19:19] lindapaiste commented on #2024
~~I'm thinking that what makes the most sense here is some action that would take the entire current sketch and copy it to a new sketch.  Call it "duplicate", "fork", "clone", "save as...", or whatever.~~

I didn't realize that there is already a "duplicate" option! 😝 So you can work on a duplicated copy while keeping the original intact.  What's missing is the ability to then go back and push cha

[2022-08-06 21:43] lindapaiste opened #2050 "`withLabel` warning re: calling `styled` inside a component"
The `withLabel` HOC calls `styled` from inside the returned `Icon` component:
https://github.com/processing/p5.js-web-editor/blob/a4a5742cd5e32c73aca9d42a72af134ef0461512/client/common/icons.jsx#L31-L33

This causes a warning in the console:

https://styled-components.com/docs/basics#define-styled-components-outside-of-the-render-method

[2022-08-07 20:26] lindapaiste opened #2053 "Increase font size button can concatenate `20` => `202` instead of adding"
The "Increase" and "Decrease" font size buttons can have strange behavior if they are clicked after typing in the input.

To reproduce, click on the input and type `20`.  Then, _without hitting Enter_, click the "Increase" button.  You should see this:
![image](https://user-images.githubusercontent.com/28965286/183309683-aad1bc88-541c-4605-9177-46966d1bdec1.png)

If the user hits Enter to submit t

[2022-08-09 00:09] DavidKozdra commented on #2001
when I changed the URL to https://p5js.net it redirected to a p5 editor.

Following your domain directly led to a missing page

[2022-08-09 00:18] DavidKozdra commented on #2016
I could not replicate this, I made several print calls and it limited me to 5000 outputs, it did not freeze or cause issues
what web extensions are you using did you have a lot of stuff running on the browser? I know this was a while ago, but any more details would help, otherwise this issue should be closed.
![image](https://user-images.githubusercontent.com/45106564/183536168-4299facf-f185-4836-

[2022-08-14 10:35] limzykenneth commented on #3139
This issue only happens in the web editor, please file this bug over [here](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks.

[2022-08-14 17:52] haschdl commented on #2038
@dwight9339 thanks for reporting the bug and providing a fix. @jht1900 would you be able to assist in getting #2048 approved and merged?  This is a quite important feature of the editor!

[2022-08-14 17:54] haschdl commented on #2033
@gabirenaud esse é local correto para solicitar ajuda: https://discourse.processing.org/

[2022-08-14 21:30] jht1493-gmail commented on #2038
I agree this is important feature! I'll ask around for tips on getting approval of fix.

[2022-08-15 17:52] kjhollen commented on #2042
thank you @lindapaiste! the editor is currently in maintenance mode as we transition to new leadership (see #2010). hope to have an update next month!

[2022-08-15 17:54] kjhollen commented on #2038
hi folks, thank you for your attention on this issue. the editor is currently in maintenance mode as we transition to new leadership (see #2010). hope to have an update next month!

[2022-08-15 17:57] kjhollen commented on #2033
thank you @haschdl! closing, as questions about using the editor or p5 should go on discourse as noted above.

[2022-08-15 17:57] #2033 closed, assigned to nobody

[2022-08-22 04:57] pierrep commented on #2038
I understand the editor is in maintenance mode, but this is a critical bug, which should be fixed in a 'maintenance' state. It's not new functionality, it's core existing infrastructure.

[2022-08-22 07:23] haschdl commented on #2038
I concur with @pierrep , this is a critical bug.

@kjhollen I see that Leadership Update #2010 is from April  - is p5.js updates effectively on hold since then?
PS: @kjhollen  tiny detail, this issue is marked with "label:bug" whereas most others are "label:**type**:bug" I wonder if this could affect triage and filters?    I myself got lost once until I noticed that.

[2022-08-22 07:33] haschdl commented on #1137
TL;DR: Could this issue be closed in favour of #2038

hi @tstefanich, I would like to ask if this issue is still relevant for you and others and if it could closed and superseded by #2038   Downloading a single sketch as a zip file is not working at all (all files end up as zero bytes)!

@ron-debajyoti  reported that everything is working so it looked like some intermittent problem.

[2022-08-22 17:09] quinton-ashley opened #2055 "Improve the console"
Make the p5.js console better by implementing a console.log that could log arrays accurately:
https://media.discordapp.net/attachments/837760254229610586/1011294141466038352/unknown.png

[2022-08-24 03:14] tstefanich commented on #1137
Hi thanks for checking back in!

I can't test unfortunately, the old links I was testing (which we had like 20+ links) don't seem to work anymore.
Here is one of them - http://alpha.editor.p5js.org/full/Bkg6zTkr7

Do you know if these projects are still available/recoverable?

[2022-08-24 03:59] ghost commented on #1137
This link fails 90%. Well anything over 100mb's has this issue on my end. Using firefox latest ver.
https://github.com/eried/portapack-mayhem/releases/download/v1.5.4/mayhem_v1.5.4_COPY_TO_SDCARD.zip

[2022-08-25 14:37] rruubboott opened #2056 "When a sketch is downloaded to a zip file bad/invalid CRCs generated for all files in zip"
When a sketch is downloaded as a zip file it sucessfully takes all content (sketch and P5JS supporting libraries) and compresses it into a zip file. However, CRCs are not generated or stored in the zip file. By default the CRC on each file in the zip is 00000000. This prevents extraction of files from the zip archive unless CRC checks are bypassed.

This is happening in multiple web rowsers and op

[2022-08-25 14:48] travelalpaca commented on #2038
Considering this feature was _broken_ while the editor was in maintenance mode, it would be a strange policy to say that the same feature must not be _unbroken_ while in maintenance mode.

[2022-08-25 15:53] hspencer commented on #2056
Hello. I'm having (I think) the same issue. All uncompressed files are 0 bytes.

[2022-08-26 14:34] cesarholive opened #2057 "Fail to download big sketch"
#### Details about the bug:

- p5.js version:  p5.js/1.4.1/
- Web browser and version: Google Chrome  Versiion  104.0.5112.79 (oficial) 64 bits
- Operating System: 5.15.60-1-MANJARO
- Steps to reproduce this: Click in file and download inside my sketch
  According to the image below, there is a network failure and the download freezes at 10.02mb, I have already tested it on other networks and comp

[2022-08-27 17:58] CaseyJNova commented on #1977
Any solution on this topic? Would also like to be able to adjust how the embed looks.

Or, is this easier to change if self-hosted?

[2022-08-29 01:02] burnedsap commented on #1977
I've been self hosting to get around the issue. Download the zip file and host it on Github Pages or Glitch.

[2022-08-29 18:56] CaseyJNova commented on #1977
Agree, self-hosted is the way to go. Took me a minute but was able to get it all figured out. I'll try and do a write up on it an link it here later. Thanks!

[2022-08-29 22:22] kjhollen commented on #2038
There have been a few scheduled maintenance items over the last few months that were planned in advance, based on developer availability. While I agree this feature is important, at this time I would only consider a critical issue something like the site being offline entirely, which would need immediate attention.

I have flagged this issue with a high priority label so that it can be fixed when

[2022-08-30 13:58] volt64bolt commented on #2038
are there any workarounds for this issue other than copy pasting all the code and files manually? or do we just need to wait for it to be fixed?

[2022-08-30 20:57] CaptainCredible commented on #2038
Workarounds:

On Mac os use Safari to download. That works.

On PC you can use peazip to extract the corrupted zip. It throws an wore
but still allowed you to extract it properly

On Tue, 30 Aug 2022 at 15:58, volt64bolt ***@***.***> wrote:

--
Daniel Lacey / Captain Credible
Artist, Musician, Maker
University Lecturer at AHO, The Oslo School of Architecture and Design
+4792464458 / www.captaincre

[2022-08-31 01:44] jht1493-gmail commented on #2038
Proposed workaround does NOT work for me using Safari.
Tested on Safari Version 15.6.1 (17613.3.9.1.16), macos 12.5.1

[2022-09-04 18:53] LuisBrime opened #2059 "Cannot save sketch on iOS browser"
#### Details about the bug:

- p5.js version: 1.4.1
- Web browser and version: 104.0.5112.99 (Official Build) stable (64-bit)
- Operating System: iOS 15.6.1
- Steps to reproduce this:
1. Login with user into the Editor.
2. Open any saved sketch.
3. Make any change and click File > Save
4. This error appears
![image](https://user-images.githubusercontent.com/23020655/188329044-c5d9abcf-befd-4794-a6

[2022-09-06 09:47] captainbrosset commented on #813
Having the editor work offline and, better yet, be a PWA (Progressive Web App) so it can be installed locally would be amazing.
I filed processing/p5.js/issues/5786 to propose the feature, and I'm happy to help work on it. In fact I'm planning to spend some time in September to hack on this idea.

[2022-09-06 12:18] captainbrosset opened #2060 "Turn the p5.js editor in a Progressive Web App (PWA) so it can be installed and used offline"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

PWAs can be installed on supporting operating systems (Android via Chromium-browsers, iOS using the "add to homescreen" feature, desktop OSs using Chromium-browsers, etc.).

Installing a PWA locally means it becomes just like a "native" app, making i

[2022-09-06 13:12] captainbrosset commented on #2060
Another advantage of PWAs is they allow to distribute apps to multiple devices from one codebase. So the desktop app would actually just be from the same codebase as the web editor. So repositories like this [deprecated one](https://github.com/processing/p5.js-editor) don't need to exist.

Worth noting too: PWAs can be distributed via app stores too, using [PWABuilder.com](https://pwabuilder.com).

[2022-09-11 14:59] tjvezina commented on #2038
I've been having this problem for months and was finally able to download a project successfully with Safari, as suggested by @CaptainCredible:

- macOS: 12.5.1
- Safari: 15.6.1

Oddly this is the same setup as @jht1493 but the resulting download worked for me - I don't know if this is a Safari thing, but the download wasn't even a .zip, it was just a folder with all the expected files and assets

[2022-09-11 20:26] jht1900 commented on #2038
Based on @tjvezina comments I am now able to see Safari workaround  success with Safari Preference "Open Save files after downloading" enabled.

[2022-09-14 16:18] stevensrmiller commented on #2038
Would like to add my support for this being a priority issue. Some of my students just submitted homework this way and were stunned to see their initial grades of "zero" for submitting empty files.

[2022-09-14 21:43] bmoren commented on #2038
Chiming in on this being a priority, students cannot turn in documentation of their work without this feature, it is critical for classroom use.

[2022-09-14 21:56] kjhollen commented on #2038
@stevensrmiller @bmoren I suggest allowing students to submit a URL for their sketches as their homework, for now. I understand other professors and teachers may prefer to have downloaded files for various reasons, but I use the URL only in my classes and it is a reasonable alternative.

Our new dev lead starts tomorrow and this will be a top priority for their first weeks. I expect there will be

[2022-09-14 22:03] bmoren commented on #2038
Hi Kate, thanks for the update. I really appreciate it!
I'm using links for now, and I'm happy to know its a priority. I like to have the sketches for archiving and documentation.
It's especially important for projection/installation works where you need to get rid of the editor bar at the top :)

[2022-09-16 18:59] #2010 closed, assigned to nobody

[2022-09-16 19:09] catarak opened #2061 "Welcome Rachel @raclim!"
Hello p5.js community,

Please join me in welcoming Rachel Lim (she/her) @raclim as the new p5.js Editor project lead! I am so excited that she will be stewarding this project with the support of myself and Processing Foundation, and look forward to everything she brings to this project. I actually taught Rachel p5.js back in 2018 using the p5.js Editor so this feels like it was meant to be 😸

It

[2022-09-16 19:16] catarak opened #2062 "Update p5.js version to v1.4.2"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

Making the p5.js Editor stable makes the p5.js Editor accessible!

#### Feature enhancement details:

Update the p5.js Editor so that the default version for new sketches, as well as the example sketches, is v1.4.2.

[2022-09-19 14:22] rorywalsh opened #2063 "Downloaded sketches 0 bytes in size.."
Downloading sketches from the p5js editor no longer seems to work. Each is 0 bytes in size.

#### Details about the bug:

- p5.js version: The one used by the online editor
- Web browser and version: Chrome
- Operating System: MacOS
- Steps to reproduce this:
   - Login to p5js editor
   - Create a simple sketch
   - Save and hit Download - all the files in the downloaded zip folder are 0

[2022-09-19 20:19] kjhollen commented on #2063
thanks for this bug report! we're tracking this in issue #2038, so I'm going to close this one to keep the discussion focused there.

[2022-09-19 20:19] #2063 closed, assigned to nobody

[2022-09-20 07:45] rorywalsh commented on #2063
Thanks @kjhollen I somehow managed to miss the numerous threads on this 🙈

[2022-09-26 12:53] olivierevrard opened #2064 "Download problem"
The sketch can be downloaded but all the files are empty. Zero octets.

[2022-09-26 14:31] yangshuzhan commented on #2064
I also have this issue.

[2022-09-27 21:33] bluelhf commented on #2064
Same issue here — The downloaded ZIP archive has all my files, but their lengths are zero.

EDIT: This issue seems to be a duplicate of #2038.

[2022-09-27 22:19] kjhollen commented on #2064
Hi folks, thanks for this report. We are tracking this issue in #2038, so I'm going to close this but you can follow updates there.

[2022-09-27 22:19] #2064 closed, assigned to nobody

[2022-09-28 13:19] bluelhf commented on #2038
PeaZip worked on Linux for me — after extracting, an error message is shown, but the Keep Files -button successfully extracts all files.

[2022-10-06 13:08] codeNerdKelly opened #2066 "What happened to presentation mode in p5.js?!"
Is there any way to disable the link in full-screen mode that takes viewers back to the source code?

[2022-10-13 01:54] dhowe opened #2067 "Downloaded files are blank (Critical)"
After logging in, saving a sketch, and then downloading, all files in the zip are blank.

If verified, this should qualify as a **critical** issue (for example, students cannot hand in assignments in the usual way)

#### Details about the bug:

- p5.js version: online editor
- Web browser and version: tested in Chrome v105.0.5195.125  and Firefox 105.0.1
- Operating System: OS X 11.6
- Steps to re

[2022-10-13 02:00] dhowe commented on #2067
duplicate of https://github.com/processing/p5.js-web-editor/issues/2038

I know everyone is busy but this REALLY needs to be fixed ASAP

[2022-10-13 02:13] dhowe commented on #2038
Unless I'm missing something, this makes impossible any kind of deadline for an assignment, as sketches can be continuously updated, while, for example, an instructor is going over solutions in class

[2022-10-13 04:02] kjhollen commented on #2067
Closing as duplicate.

[2022-10-13 04:02] #2067 closed, assigned to nobody

[2022-10-13 04:33] kjhollen commented on #2038
Yes, this is one of the "various reasons" I alluded to in the post you quoted. While it may not work for your teaching style, hopefully one of the other work-arounds suggested in this thread (using Safari if you have a Mac, or other zip tools for Windows and Linux) can work for you while the new project lead is learning the ropes. Please help create a welcoming environment for them. Thanks.

[2022-10-13 07:05] dhowe commented on #2038
Certainly not my intention to be less than welcoming to @raclim (or anyone else)... especially as this problem has existed since well before she came on board.

I know from experience how difficult it can be to manage open-source projects, but we also have a responsibility to our users when there is a critical bug like this. We should either (imho) address it quickly and/or let people know right a

[2022-10-13 15:53] kjhollen commented on #2038
@dhowe even updating the site with a banner would have taken resources we didn't really have over the summer, so I've been responding to this thread as a second best option. Earlier I discussed what would constitute a "critical" issue at this time, given our bandwidth over the last few months. Thanks for your offer to help—one of our challenges at the moment is that deployment is non-trivial, othe

[2022-10-14 13:07] stevensrmiller commented on #2038
Welcome to the new dev

Hadn't thought of @dhowe's point, but it's a good one. Will have my students copy-and-paste their submissions while this is pending.

[2022-10-16 16:51] billythemusical opened #2068 "Download from p5 web editor produces blank text files"
This is an issue with the p5 web editor. When I try the Download option from the p5 web editor, either some or all of the files are empty when unzipped.

Steps to reproduce this:
- Download a project from the p5 web editor.
- Unzip and open all of the files in a text editor like Atom.
- See that the files are indeed empty.

### p5.js version
1.4.1
### Web browser and version
Chrome 106.0.5249.119

[2022-10-17 12:34] alin256 commented on #753
A very much wanted feature for me as well.

Is there any progress?

[2022-10-18 16:15] madshobye commented on #2068
I can confirm - I came to report the same problem. Chrome Browser and Mac OSX. The zip file has volume - so it may be a problem with the zip file being encoded wrongly. It is also consistent when downloading old sketches, so my best ques is that the way the cloud ide compresses does not match the way Mac OSX (11.5.2) expects it to parse.

<img width="637" alt="Screenshot 2022-10-18 at 18 12 13" sr

[2022-10-18 16:21] kjhollen commented on #2068
Hi folks, thanks for your bug report. We're already tracking this in #2038, so I'm going to close this as a duplicate. Please see the other thread for possible workarounds, including archiving tools that can still parse the incorrectly zipped file.

[2022-10-18 16:21] #2068 closed, assigned to nobody

[2022-10-18 17:52] madshobye commented on #2038
It works from Safari but not Chrome on Mac 11.5.2.  This is a pretty serious problem for teaching and hand-ins. I made this guide to use for my students:

https://learn.hobye.dk/development/p5js/download-p5-project

(feel free to link, copy-paste, edit etc).

[2022-10-18 20:12] FMMazur commented on #2027
It's a bug related to the package `codemirror-colorpicker`, can be tested at [ColorPicker API](https://colorpicker.easylogic.studio/colorpicker/api.html#use-for-codemirror).

[2022-10-19 05:04] CaptainCredible commented on #2038
Don't forget you can use peaZip on windows to properly extract the corrupted zip files. Just click "keep files" when peaZip tells you the zip is corrupted

[2022-10-19 19:28] #2038 closed, assigned to raclim

[2022-10-20 14:11] raclim commented on #2056
We just merged and deployed @dwight9339's [pull request](https://github.com/processing/p5.js-web-editor/pull/2048), so hopefully this issue has been resolved. Please reopen this if it appears again, thanks! 🙂

[2022-10-20 14:11] #2056 closed, assigned to nobody

[2022-10-20 14:17] raclim commented on #2038
Thank you all so much for your patience during our transitional period, and for your understanding as I continue to become acquainted with the p5.js editor lead role. 🙂

We just merged and deployed @dwight9339's [pull request](https://github.com/processing/p5.js-web-editor/pull/2048), so hopefully this issue has been resolved. Please reopen this if it appears again, thanks!

[2022-10-20 14:30] tjvezina commented on #2038
Just tested on Mac in both Brave and Safari - clicking File > Download opens a new tab with a loading indicator for a few minutes, eventually giving a 502 error.

[2022-10-20 16:05] dhowe opened #2070 "Display editor and p5.js version numbers in 'about' menu"
Would be super useful in tracking issues to easily know what versions one is using...

[2022-10-20 16:18] jht1493-gmail commented on #2038
Tested OK for me on MacOS Chrome.
Chrome Version 106.0.5249.103 (Official Build) (arm64)
macOS 12.6
-jht

On Thu, Oct 20, 2022 at 10:30 AM Tyler Vezina ***@***.***>
wrote:

[2022-10-22 00:03] Qianqianye commented on #2061
Welcome, @raclim!
Just updated the web editor maintainer info in the p5.js [contributor_docs](https://github.com/processing/p5.js/blob/main/contributor_docs/README.md#where-our-code-lives)!

[2022-10-22 00:06] Qianqianye commented on #2062
We should update the p5.js version on web editor to v1.5.0 🎉

[2022-10-25 14:19] Andriy-Kulak opened #2071 "Download Feature not working for projects containing folders"
#### Details about the bug:

- p5.js version: 1.4.1
- Web browser and version:  Brave | 1.44.112 Chromium: 106.0.5249.119 (Official Build)
- Operating System: MacOs
- Steps to reproduce this:

When I go to file and download. it opens a new tab but doesn't download anything... Please assist asap! Thanks

[2022-10-25 14:31] kjhollen commented on #2071
Hmm, it appears to be working for me. How long did you wait with the blank tab open? I had to wait ~10 seconds before the download started and the tab was blank, then closed automatically when the download started.

[2022-10-25 23:48] romellogoodman opened #2072 "Missing the dropdown/ability to add Sketch Files"
One of my student's in a recent class was missing the dropdown the allowed them to add sketch files. I confirmed that they were logged into the editor but was wondering if there was a systems requirement or something else that is needed to access this? I believe they were running Chrome 105. Thanks!

A screenshot of the area I am referencing:

<img width="166" alt="Screenshot 2022-10-25 at 7 46 18

[2022-10-25 23:48] romellogoodman commented on #2072
Closing and going to reoppen following the bug template

[2022-10-25 23:48] #2072 closed, assigned to nobody

[2022-10-26 21:20] raclim commented on #2070
Agreed, I think it'd be a great addition! 🙂

[2022-10-26 21:33] raclim commented on #2066
Hi! I don't believe that there's currently a way to disable the links in full-screen mode (but I could be incorrect and am open to any suggestions 🙂). In which scenarios do you feel that disabling the links would be more helpful? I'd love to gain more context!

[2022-10-26 21:57] raclim commented on #1153
Hi everyone! This issue seems to be resolved, so I'm going to close it. Please feel free to reopen it or report a new one in the future if it comes up again, thanks! 🙂

[2022-10-26 21:57] #1153 closed

[2022-10-26 21:59] raclim commented on #1373
Hi everyone! It seems like this issue has been resolved, so I'm going to close it. Please feel free to reopen it or create a new one if it comes up again, thanks! 🙂

[2022-10-26 22:00] raclim commented on #1978
Hi! It seems like this issue has been resolved, so I'm going to close it. Please feel free to reopen it or create a new one if it comes up again, thanks! 🙂

[2022-10-26 22:00] #1978 closed, assigned to nobody

[2022-10-26 22:01] raclim commented on #2028
Hi! Unsure if this issue has exactly been resolved, but I'm planning to close it in a few days. Please let me know if there's anything here that needs further discussion or feel free reopen this issue in the future, thanks! 🙂

[2022-10-26 22:12] cmjmousseau commented on #2028
I was never able to figure out what happened to that student account. He seemed to be pretty adamant that he didn't change his username as @calebfoss had suggested. In any case, I've retired from teaching and that student has moved on.

Thanks for following up. You may as well close it.

[2022-10-26 22:21] raclim commented on #2028
😂 Seems to be a mystery. Thanks for getting back to this, I'll close this issue out!

[2022-10-26 22:21] #2028 closed, assigned to nobody

[2022-10-27 07:53] SableRaf commented on #2062
Working on it! I just need a moment to clean up and test locally.

[2022-10-28 03:59] pierrep commented on #2038
I've just tried this, and now the zip file downloads correctly, text files are fine, but any binary files are corrupted. They appear to be the right size, but you cannot open any of them.

Tested on latest Firefox and Chrome under Ubuntu Linux.

This is actually worse than before, as previously using peazip served as a workaround.

[2022-10-28 04:03] pierrep opened #2075 "Binary files in downloaded .zip are corrupted"
Any binary files included in the .zip file downloaded by selecting File->Download will be corrupt.
Text files are fine.

#### Details about the bug:

- p5.js version: 1.4.2
- Web browser and version: Firefox 105.0 (64-bit), Chrome 107.0.5304.87 (Official Build) (64-bit)
- Operating System: Linux
- Steps to reproduce this: Download a project with some binary files (sound/images/etc). The zip file d

[2022-10-28 13:05] jht1493-gmail commented on #2038
Seeing the same failure on macos using Chrome & Safari:
     download of sketched with images (jpg/png) yields image files that fail to open.

Major failure!

-john-henry

[2022-10-28 15:33] dwight9339 commented on #2075
That is a problem. @raclim, I'll look into this.

[2022-10-29 03:58] Brady-Edwards commented on #2046
Hi there, if someone isn't already working on this, I'd like to have a crack! This would also be my first open source contribution :).

[2022-10-29 14:03] tetunori commented on #1900
The other day, I found the item on Permission policy support for WebBluetooth in Chrome v104 release(roadmap) status below.
https://chromestatus.com/feature/6439287120723968

I think this function might enable p5.js Web Editor(has cross-origin iframes) to support Web Bluetooth function and some libraries using the technology such as p5.ble.js, p5.toio and so on.

Actually, OpenProcessing has just

[2022-10-30 09:39] stampyzfanz commented on #2046
I am not aware of anyone working on it and feel free to let me know if there's anything I can do to help.

Thanks for your interest :)

[2022-10-31 17:20] #2062 closed, assigned to raclim

[2022-11-01 12:03] Brady-Edwards commented on #2046
I've got a working fix, can a maintainer give me the green light to open a PR? Thanks.

[2022-11-04 00:38] garystil opened #2080 "Error message claiming size limit of 250MB reached"
- p5.js version: web editor
- Web browser and version: Safari Version 15.6.1
- Operating System: MacOSX 10.15.7

When I attempt to upload a file to a new or existing sketch, I receive the following response:

“Error: You cannot upload any more files. You have reached the total size limit of 250 MB. If you would like to upload more, please remove the ones you aren’t using anymore by in your [assets

[2022-11-04 22:47] kjhollen opened #2081 "Update codemirror to version 6"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to the p5.js Editor?

CodeMirror v6 has accessibility support! I'm not sure what else is required to upgrade and activate the accessibility features, but it seems this is built in to the library now.

#### Feature enhancement details:
According the current package.json fi

[2022-11-07 07:52] dhowe commented on #2038
confirmed -- this needs to be re-opened ASAP

@raclim, does pr #2077 address this ?

[2022-11-07 17:36] #2075 closed, assigned to nobody

[2022-11-08 20:59] catarak commented on #2081
I actually created a prototype that used CodeMirror 6 a year and a half ago (see the branch [feature/codemirror-6-prototype](https://github.com/processing/p5.js-web-editor/tree/feature/codemirror-6-prototype)). Probably a good starting point to get it to work with everything that was implemented in CM5!

[2022-11-09 16:38] Real-John-Cheung commented on #2075
Not sure if the fix (#2077) have been live yet or not but seems that now the binary files are still corrupted in the downloaded zip file

[2022-11-09 20:20] raclim commented on #2075
Hi all! Thanks @dwight9339 for looking into this! The [#2077 ](https://github.com/processing/p5.js-web-editor/pull/2077) fix has just been pushed live. Please feel free to reopen or create a new issue if it persists!

[2022-11-09 20:26] raclim commented on #2038
Yes I believe so! I just merged in PR https://github.com/processing/p5.js-web-editor/pull/2077 and pushed it live. Please feel free to create a new issue if this still persists and this issue hasn't been reopened yet, thanks!

[2022-11-09 20:33] raclim commented on #2046
Hi @Brady-Edwards, super excited to see your work! :) Please feel free to go through with the PR, or let me know if there's anything else you need beforehand!

[2022-11-09 20:43] raclim commented on #2059
Hi @LuisBrime! I tried to recreate the issue (using the versions p5.js 1.5.0 and Safari 16.1) following the outlined steps, and haven't been able to find any issues with saving yet. Has this issue still been persisting for you?

[2022-11-09 21:06] raclim commented on #2060
Agreed, having offline capabilities would be great!

[2022-11-09 21:20] raclim commented on #2047
Hi @quinton-ashley, would love to hear more about your ideas for implementing modules! Would you be able to expand a bit more on them? I'd love to get a clearer sense of what you're thinking of! For example, why or in which circumstances would you like to use top level await while working within the editor! Thanks!

[2022-11-09 21:44] quinton-ashley commented on #2047
old issue sorry, I realized those ideas I had were not so good haha 😂

[2022-11-09 22:32] quinton-ashley opened #2082 "p5js sketch viewer companion app for iPhone 📲"
My idea for the iPhone app is for it to just be a companion app for the web editor. Users could view their sketches, make changes on their computer, and then run the updated sketch on their phone. It'd be similar to MIT app inventor.

I had this idea cause I've been looking into getting p5.play working on my iPhone.

I noticed some problems when running my domino sketch on all iPhone web browsers

[2022-11-10 16:04] dhowe commented on #2038
can confirm this now works as expected - thanks @raclim !

[2022-11-10 16:36] raclim commented on #2038
Awesome, glad to hear it! 🙌

[2022-11-11 19:00] codeMGL opened #2083 "Some DOM elements stop working when you add some"
If there are many (like 10) DOM elements each one with an event assigned, some of them (such as sliders, select boxes...) stop interacting with the user (as when you click or drag them).
I have tried the same program on mobile and computer devices and I get no response from some of them.

[2022-11-12 04:35] Yasir761 commented on #2083
Can you assign this issue to me?

[2022-11-16 14:27] tjvezina commented on #2038
I still get the 502 error when trying to download, but not with all projects - the problem seems to be folders. If I find a p5 project that I'm able to successfully download, then add a folder to the project (even leaving it empty), and try to download again, I get a new tab which ends with a 502 error after exactly 60 seconds.

[2022-11-16 14:31] tjvezina commented on #2071
I think I'm seeing the same issue after the fix for #2038, which seems to be related to folders in a project - I'm able to download simple projects, but any that include a folder, even an empty one, fails to download and shows a 502 error after 60 seconds.

[2022-11-17 03:41] raclim commented on #2047
It's all good! I'll close this issue for now, but please feel free to reintroduce this if these ideas come back to you! :)

[2022-11-17 03:41] #2047 closed, assigned to nobody

[2022-11-17 03:48] #1948 closed, assigned to nobody

[2022-11-17 03:51] raclim commented on #2083
@Yasir761 just assigned this issue to you!

[2022-11-17 04:03] #1320 closed

[2022-11-17 09:25] Yasir761 commented on #2083
Hey! I'm not able to find the mentioned DOM element, can you please  help out.

[2022-11-17 18:52] raclim opened #2084 "Failing Test in Toolbar.unit.test.jsx"
#### Details about the bug:

When tests are run using the command "npm run test:ci", regardless of the branch the user is in or the changes that have been made, one test regarding the Toolbar.unit.test.jsx file will fail.

[2022-11-17 19:10] raclim opened #2085 "Consistent Translation Folders"
Moving the Brazilian Portuguese translations for the contributor docs to the translations folder for organization and consistency :)

[2022-11-17 19:28] raclim opened #2087 "✨ Add Yourself to the p5.js Contributors List! ✨"
Hi everyone!

If you are or have contributed to the p5.js Web Editor, please feel free to add yourself to the [p5.js Contributors list](https://github.com/processing/p5.js)! We recognize and welcome all types of contributions. 🙂

You can follow these [instructions to add yourself to the list](https://github.com/processing/p5.js/issues/2309), or you can post an issue or comment with the text: `@all

[2022-11-17 20:20] #2085 closed, assigned to raclim

[2022-11-19 13:59] MayankCodr opened #2088 "Describe Method is not working."
describe('pink square with red heart in the bottom right corner');
// This code is not working. It is throwing an error.
![p5 js_error](https://user-images.githubusercontent.com/96002289/202854282-b14a96c2-c108-4510-8b39-aabd6dface4c.jpg)

[2022-11-22 01:21] jasonjsnell commented on #1900
I agree, it does look like OpenProcessing is able to use WebBluetooth in its iframe successfully.

@catarak could a similar solution be implemented for the P5 editor?

I'm working on an EEG bluetooth template for ITP / IMA students who are new to code, and I'd love for it to work in the P5 editor rather than having them move over to VS Code.

[2022-11-22 18:48] aspiringDev22 opened #2089 "Auto refresh button and the default outline over the active elements."
#### Auto refresh button should be made a simple reload button, which also encourages removing the "Auto-refresh" text part.
#### When an element is in its active state (clicked), there is a default outline over that element which somehow decreases the UI experience.

[2022-11-22 20:44] kjhollen commented on #2088
thanks for this bug report @MayankCodr! to help us get a better understanding of the problem, could you also let us know which version of p5.js you're using in this sketch?

if you don't know where to find the version number, you can open the index.html file (from the left panel in your screenshot) and take a screenshot of what's there.

the describe() function is still relatively new, so it may n