[2018-04-03 00:58] #604 closed

[2018-04-03 00:58] #610 closed

[2018-04-03 01:01] catarak commented on #613
could this maybe be a bug with different versions of p5 rather than an issue with the editor?

[2018-04-04 17:28] migom6 commented on #613
@hanubot can you specify the codepen p5 library version.
I have used https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js in the codepen editor and **_it worked fine_**

Here's a screenshot of it
<img src="https://imgur.com/a/ZyQHJ" alt='screenshot'></img>

[2018-04-04 17:57] migom6 commented on #569
@catarak @shiffman
Does this **_/\<username>\/settings_** exists ? if not should this route be created ?

[2018-04-04 21:46] shiffman commented on #609
I'm happy to research / help think about this. Any suggestions from anyone as to where to start welcome!

[2018-04-05 22:08] catarak commented on #613
@hanubot since I can't recreate this i'm gonna close this issue, but feel free to reopen if this happens again.

[2018-04-05 22:08] #613 closed

[2018-04-05 22:10] catarak commented on #569
it does exist. i was thinking that this route should be moved to just `/settings` and the assets one should be moved to just `/assets` and then we can avoid this authorization issue all together.

[2018-04-06 03:51] aferriss opened #614 "Print dialog appears when calling print on undefined variables"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Calling print(x) with an undefined variable brings up the browser print dialog. I noticed that there was a similar issue over on https://github.com/processing/p5.js-web-editor/issues/474 but that seemed to be more focused on calling print outside of setup or draw. In

[2018-04-06 18:26] catarak commented on #614
thanks for submitting this! i want to try this in a different code editor to make sure this is not an issue with p5.js but with the editor.

[2018-04-06 18:39] catarak commented on #614
posted in processing/p5.js#2765

[2018-04-06 18:39] #614 closed

[2018-04-06 18:42] aferriss commented on #614
Thanks! I should have checked there first >_<

[2018-04-06 18:44] catarak commented on #614
no worries! it's not always easy to figure out an issue is with the editor or p5.js itself.

[2018-04-06 23:39] lmccart commented on #605
👍 may I go ahead and drop it there?

[2018-04-06 23:40] catarak commented on #605
go for it!

[2018-04-06 23:41] #605 closed

[2018-04-08 18:02] himanshuc3 opened #616 "Continuous Integration"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

I think it could be discussed, if needed or not!
Just to give a bit of importance and well documented history of the project, we could setup Continuous Integration!
Suggestions would be most welcomed.

[2018-04-08 19:03] pjohnston89 opened #617 "Tabs"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

- Web browser and version: Google Chrome Version 65.0.3325.181 (Official Build) (64-bit)
- Operating System: Windows 10 -- version 10.0.16299

#### New feature details:
Add ability to run multiple tabs, so that you can move functional code or blocks of code into a new tab and clear the clutter in

[2018-04-08 19:58] shiffman commented on #617
Hi @pjohnston89, thanks for the suggestion! Right now if you open the "file menu" in the editor you can add new files like `particle.js` or `extrastuff.js`, but this requires also adding references to these files in `index.html`. This is just like "tabs" in Processing, but rather than a tabs interface, there's the left file navigation.

There is the question as to when it's appropriate for the edi

[2018-04-08 21:04] pjohnston89 commented on #617
Wow I feel like a fool! Thanks for the response Dan! I did not even see the arrow to the left of sketch.js to open up the left file navigation on the left side! **Perhaps you should have it open by default and the user has to close it** OR **make that arrow more visible to users**. I too am using the dark theme as in your screen shots. The arrows need to have **more contrast**, especially the arro

[2018-04-09 11:35] birgere commented on #550
A lot of schools use iPad. We would love responsivnes for this screen size. But I recommend using media queries for width (not for device-width) (https://www.sitepoint.com/media-queries-width-vs-device-width ) and to use em as width unit.

[2018-04-09 16:45] himanshuc3 commented on #617
Also @shiffman I wanted to suggest if the designers could maybe polish the night/dark theme a bit more. It looks a little on the dull grey side.

[2018-04-09 22:39] catarak commented on #616
this is technically set up (you'll see the `.travis.yml` file in the repository). however, i don't have the code set up so that when new code is merged to master, it's deployed to the server/servers/etc. this is waiting on figuring out a new hosting situation.

[2018-04-09 22:44] catarak commented on #550
definitely agree about using media queries! i've never seen code that uses em for the width unit in media queries—what are the benefits of doing it that way?

[2018-04-09 22:46] catarak commented on #617
in the newer design the UI to open the sidebar is a little more clear—see #389

[2018-04-10 00:29] shiffman commented on #617
Love the new design so much! @pjohnston89 I think we can close this and revisit later after the new design is implemented? Let me know if you agree. Thanks again!

[2018-04-10 00:46] catarak commented on #613
it was probably a bug with the old version. could be related to https://github.com/processing/p5.js/issues/2104

[2018-04-10 08:25] himanshuc3 commented on #550
em as width unit for fonts, div widths?

[2018-04-10 08:28] himanshuc3 commented on #616
Gotcha.

[2018-04-10 08:29] birgere commented on #550
Percentages is a good relative unit för fonts and widths!

[2018-04-10 08:34] himanshuc3 commented on #550
So what do you exactly mean when you say that "Em units is a good way to go for media queries". How does it really have a benefit vs percentages?

[2018-04-10 09:40] birgere commented on #550
For media queries you have to use a unit to define the breakpoint for the query.
Percent is not a valid width for the actual media query. The width of the screen cannot be 50% of itself, It is always 100%.
But percentages is good for for many other purposes, such as width on divs or max-width on img.

[2018-04-10 09:43] himanshuc3 commented on #550
Isnt the breakpoint usually defined in terms of pixels.

On Tue, Apr 10, 2018, 3:10 PM Birger Eriksson <notifications@github.com>
wrote:

[2018-04-10 09:55] birgere commented on #550
As I said, it can be done width px, but there are good reasons to use em instead.

[2018-04-12 07:36] awarua commented on #507
Should this issue be closed following the merge of crhallberg's commit?

[2018-04-12 09:44] mrmaarten opened #618 "print(); can lead to browser printer dialog opening"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  chrome with online editor  alpha.editor.p5js.org
- Operating System: windows 10
- Steps to reproduce this:

It happens with the online editor alpha.editor.p5js.org
I cannot reproduce this from scratch but it has happened to me many times. I

[2018-04-12 12:38] scollovati commented on #595
Yeah, localisation would be a great feature.
When it'll be ready I can localise strings in italian language (it_IT) :)

[2018-04-13 02:24] himanshuc3 commented on #618
Maybe its because of incompatible version of p5.js.

[2018-04-13 08:51] mrmaarten commented on #618
Thanks for the suggestion.

I was using:

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.sound.min.js"></script>

seems the latest version..

[2018-04-13 16:08] montoyamoraga commented on #595
@lm-n hey! thankns! feel free to do it, they are the first post of this thread.
let me know if you see any mistake

[2018-04-13 17:26] catarak commented on #618
if you are using `print()` and the value you are passing to it is `undefined`, then it will open the print dialog. i'm going to close this, and if you have a specific example in which you try to `print()` a string/object/class etc. and it opens the print dialog, feel free to reopen this.

[2018-04-13 17:26] #618 closed

[2018-04-14 10:06] lm-n commented on #595
@montoyamoraga Here are some of my comments:

- "Reference: Reference" creo que deberíamos de traducir reference a "referencia o documentación"
- "Log in or Sign Up - Ingresar o registrarse" me parece que estás conjugando todas las otras acciones en la traducción a segunda persona "tú" y no "usted", si es así, entonces por consistencia, debería de decir: "Ingresa o regístrate"
- "General settings"

[2018-04-14 16:07] himanshuc3 commented on #597
Is this solved @Neilshweky @catarak

[2018-04-15 00:31] Neilshweky commented on #597
Hi! I'm sorry I haven't forgotten about this I just have so much work right now (as the semester is nearly over).... I definitely should be able to work on it this week though, I'll keep you posted! Thanks!

[2018-04-16 06:53] samdenty99 commented on #7
[`console-feed`](https://npmjs.com/package/console-feed) may be worth noting. It's handles the `console.log` message rendering.

![](https://user-images.githubusercontent.com/13242392/38513414-1bc32870-3c26-11e8-9a8f-0989d2142b1c.png)

[2018-04-17 15:56] himanshuc3 commented on #442
![screen shot 2018-04-17 at 9 20 36 pm](https://user-images.githubusercontent.com/19166045/38881286-3691e69a-4285-11e8-98e7-0f7f4d300b27.png)
1. I think, for now (Project Name) by (author) is probably the simplest way of indicating. If we could highlight it a bit more in the new UI that is to be implemented, that would help.
2. Also as @machinic said, either greying the whole menu section or not s

[2018-04-18 20:25] catarak commented on #597
no worries ✨

[2018-04-18 21:02] catarak commented on #7
cool, thanks for the tip! this looks great 🌈

[2018-04-19 20:40] shiffman commented on #7
oh, this is exciting to see!

[2018-04-20 21:41] pjohnston89 opened #620 "preload() hangs after altering .csv file"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
My program is getting hung at preload(), evident by the fact that my sketch only shows "Loading..." now. It was working one minute and then the next, it can't get past "Loading...". I added 2 lines into the 1st .csv file, following the same format (commas between eleme

[2018-04-22 11:40] migom6 commented on #597
what's the status?

[2018-04-22 17:27] Neilshweky commented on #597
Hey! I'm looking into other ways of fixing this issue!

[2018-05-02 20:26] #553 closed

[2018-05-06 14:36] shinytang6 opened #622 "Sample .env file needed"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:
It would be nicer if we have a sample .env file for users to modify :smile:

[2018-05-08 19:29] #622 closed

[2018-05-09 02:34] catarak opened #625 "Make webpack build time faster"
#### Nature of issue?

- [X] New feature request

#### New feature details:

I think there are two things that will make the webpack build faster:
- [ ] update webpack version to 4
- [ ] handle webpack linting differently. if you remove the linting the webpack build is much, much faster.

- [ ]

[2018-05-09 07:11] 1014493111 opened #626 "How to install p5 in Max computer？"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:

[2018-05-09 07:34] shinytang6 commented on #626
Do you mean installing p5.js or p5.js web editor>? lf you want to install p5.js web editor locally, just follow the README. For p5.js, [https://p5js.org/](https://p5js.org/) may help

[2018-05-09 15:26] cmorgantywls opened #627 "Page going blank upon hitting play"
#### Nature of issue?

- [! ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome
- Operating System: Mac OS Sierra
- Steps to reproduce this:
This has been happening across the board to about half of my students today. They have projects they've been working, that have been saved, and that have been running witho

[2018-05-09 16:03] datramt commented on #627
I am having this issue as of today as well.
I can reproduce it every time if I run console.log(); even if I'm not logging anything.

[2018-05-09 16:14] cmorgantywls commented on #627
Yeah, it doesn't seem to be affecting every student (it didn't happen at all in my account), but the ones that were having it said anytime they would change something it would send them to a completely blank page, and when they went back whatever they had changed would be deleted.

[2018-05-09 16:20] datramt commented on #627
I think this should be tagged as high priority if possible.
Debugging from chrome, this is the error I get when the page goes blank:
[code]

[2018-05-09 17:27] Pugio commented on #627
Same issue! All my students couldn't access their code today. Obviously there are no guarantees on alpha software, but just adding in my hope this can be fixed quickly. Thanks!

[2018-05-09 17:28] catarak commented on #627
thanks for submitting this! i'm going to dig and see if i can reproduce. hopefully i'll have a fix for this soon!

[2018-05-09 17:37] catarak commented on #627
figured out a fix for this & redeploying!

[2018-05-09 17:47] catarak commented on #627
i think this is fixed now so i'm gonna close this. feel free to reopen if this comes up again!

[2018-05-09 17:47] #627 closed

[2018-05-09 17:49] catarak commented on #626
this is the place to report bugs or feature ideas with the p5.js web editor. for help with p5.js, see https://p5js.org/get-started/, or https://forum.processing.org/two/categories/p5-js.

[2018-05-09 17:49] #626 closed

[2018-05-09 18:16] datramt commented on #627
AMAZING! There is no reason for any of us to expect you to fix a problem on a project that is in stage "alpha" in about two hours. Bravo and thank you @catarak We ought to know the risks relying on this editor, but I guess it's been so stable for at least the past 6 months that, for me, I've been using it as though it's already had its official public release. I know for a fact I am not alone eith

[2018-05-10 15:57] shinytang6 commented on #616
Since CI only checks lint problem now, l am thinking maybe we can check for lint errors before commiting code :thinking:

[2018-05-10 17:05] catarak commented on #616
yeah! it would be cool to have the CI do other stuff but i figured it would be a good starting point. at least now i don't have to manually lint PR's and tell folks to fix the linting errors.

[2018-05-10 18:45] aferriss opened #630 "Can't create or upload shader file types (.vert & .frag)"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:
I was trying to play with some of the new shader methods in p5 but it looks like the editor is restricted in the filetypes it's allowing to upload.

I was wondering if we could allow shader file types (at least .vert and .frag) so that shaders can be used in the

[2018-05-10 18:54] catarak commented on #630
There's no reason they are left out! I thought it would be better to whitelist file types as they come up rather than allow anything. As you pointed out, I think it's a really quick fix.

[2018-05-10 18:55] aferriss commented on #630
Awesome! Thank you :D

[2018-05-10 19:09] aferriss commented on #630
As a side note, I did manage to get [shaders working](http://alpha.editor.p5js.org/aferriss/sketches/ByaUIGzRM) just by saving them in .txt files. One extra enhancement I'd suggest if it's possible is to add GLSL syntax highlighting.

[2018-05-10 19:11] catarak commented on #630
i'm pretty sure CodeMirror already has GLSL syntax highlighting so it also should be relatively easy to add!

[2018-05-10 19:31] gdad-s-river opened #631 "(feature discussion): Adding a togglable grid overlay over/inside canvas element to give a sense of coordinates."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### New feature details:

### Adding a togglable grid overlay over/inside canvas element to give a sense of coordinates.

While doing [the introduction to visual arts using p5js on kadenze](https://www.kadenze.com/courses/introduction-to-programming-for-the-visual-arts-with-p5-js-vi), my high sc

[2018-05-10 19:42] catarak commented on #631
cool idea! could be useful and/or complicated with the p5.js transform functions (e.g. `translate()`, `scale()`). maybe this would make more sense as a p5.js addon library?

[2018-05-11 00:29] shinytang6 opened #632 "”Keyboard shortcuts” under “Help & Feedback” nav doesn't work"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

Click the "Keyboard shortcuts" submenu under "Help & Feedback"

[2018-05-11 04:55] gdad-s-river commented on #631
It would indeed! I'll give it a shot. Thanks! 💛

[2018-05-11 04:55] #631 closed

[2018-05-11 17:29] kuprin5 opened #633 "loopProtect error with for loop"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome 66.0.3359.139
- Operating System: MacOSX
- Steps to reproduce this:
When I start new simple project with for loop, sketch crush with error "Uncaught ReferenceError: loopProtect is not defined (sketch: line 7)". I try it on few compute

[2018-05-11 17:34] datramt commented on #633
you can fix this by putting:
```// noprotect ```
at the beginning of your code. You'll also want to make 'gray' a string

[2018-05-11 17:53] kuprin5 commented on #633
It's work. Thanks!

[2018-05-11 17:53] #633 closed

[2018-05-11 22:33] ajm2dr commented on #598
I can look into it!

[2018-05-12 00:07] #632 closed

[2018-05-14 20:16] jonathanprozzi commented on #633
I know this issue is closed, but our youth in our Creative Programming course also suddenly started experiencing this issue with for loops using var.

I had them switch from using var to let in the for loop, and there was no longer an issue. I thought it may have something to do with the scope of the loop, so I had them try using _let_ for the iterator variable.

[2018-05-14 20:20] catarak commented on #633
interesting! could you post the specific code? i recently changed how the loopProtect code gets injected into the code preview so it could have to do with that as well.

[2018-05-14 20:41] jonathanprozzi commented on #633
Ahh gotcha! We were wondering why some of our youth started experiencing that error with their code.

We had about 10 different youth experience it -- All were following the same code structure:

[code]

**results in the error: Uncaught ReferenceError: loopProtect is not defined (sketch: line 8)**

Switching _var_ to _let_ in the for loop worked in every case:

[code]

Thanks for the speedy respon

[2018-05-14 21:39] REAS opened #635 "Uncaught ReferenceError: loopProtect is not defined"
In the alpha editor, a for loop is generating the error "Uncaught ReferenceError: loopProtect is not defined". We confirmed this behavior on two machines, both OS X. I was able to test multiple examples, and examples with multiple loops were working (see, the "Iteration" on the p5.js site), but when that example was modified to have a single loop, the error returned. Here's an example to test:

[c

[2018-05-14 21:42] catarak commented on #635
this is also being reported in #633. will investigate!

[2018-05-15 16:13] Coach1 opened #636 "Array issue with loop"
I've been noticing that the loops I've been creating are no longer working in the p5js editor. I even opened up an old project that I had saved, and it's not working either. If you can please help me, that would be great! Thank you!
-->
![7 1 what is array issue with loop](https://user-images.githubusercontent.com/39306228/40069442-586b9ecc-5839-11e8-8a28-f7e7cf345199.PNG)

[2018-05-15 17:36] meiamsome commented on #636
See #635 and #633

[2018-05-15 19:10] catarak commented on #636
closing for redundancy of #635. but thanks for reporting this!

[2018-05-15 19:10] #636 closed

[2018-05-15 19:10] #635 closed

[2018-05-15 19:48] REAS commented on #635
Thank you @catarak. I confirm the `for` is working again.

[2018-05-16 03:22] epar opened #637 "username + pwd doesn't work, email + pwd does"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
- Web browser and version: Multiple
- Operating System: macOS
- Steps to reproduce this: When I try to login using username + pwd, I get "Invalid username or pwd" however, when I use my email address + pwd I do get logged in. I've checked triple checked my username and

[2018-05-16 17:49] catarak commented on #637
thanks for submitting this! i'll do some digging. could have to do with whitespace or something like that.

[2018-05-16 21:32] catarak opened #638 "Production Docker configuration"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [X] New feature request

#### New feature details:

Right now, the production deployment/setup is pretty ad hoc. I have a server with

- this repository
- mongodb
- nginx
- pm2
- let's encrypt

which is ssh into and pull/build/reload when i want to redeploy. it would be cool to automate this! i think the easiest way to d

[2018-05-17 17:29] epar commented on #637
@catarak just FYI: there are no white spaces in either my username or password. Also, I haven't encountered this problem with my other account. Lemme know if you need more info!

[2018-05-17 19:37] epar commented on #637
the username is _GenerativeDesignS18_ , I can also give you the pwd if that helps (email?)

[2018-05-20 00:34] awarua opened #640 "npm install errors - v10.1.0 compatibility problem?"
#### Nature of issue?

- [X ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Operating System: MacOSX 10.13.4
- node version: v10.1.0
- Steps to reproduce this:
[code]

When I follow the installation instructions above (from the README), the npm installation fails with the following error (this is an extract of a much longer output):

[code

[2018-05-20 00:54] awarua commented on #640
I kept adding modules to the command line until it finally installed. This is what I ended up using:
[code]

[2018-05-20 05:11] catarak commented on #640
i'm not sure what the issue is, but there seems to be a problem with `package-lock.json`. i ran into this and i was able to fix it by removing `package-lock.json` and then running `npm install` again. Also, I'm using node 8.11.1.

[2018-05-20 07:42] awarua commented on #640
A further update. Although the `npm install` command was able to complete above, when I tried to run the server, it had an error.

I tried downgrading to node v8.11.2 with `brew install node@8` and it worked. So it seems like this might be a compatibility problem with the latest version of node? I will update the title of the issue to reflect this.

[2018-05-20 17:52] catarak commented on #640
i think there's also a bigger question here, which is how to handle enforcing contributors to use a certain node version (maybe just using Docker?) or how to handle different versions of node?

[2018-05-21 16:08] shinytang6 commented on #640
I also encountered installation problems, maybe we should add `package-lock.json` to `.gitignore`?

[2018-05-22 03:16] JithinKS97 opened #641 "Including height and width of the sketch in the exported iframe tag."
- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details: Including the canvas width and height in the exported iframe tag. It would be very helpful if the exported tags contain within it the height and width params set equal to the canvas width and height.

[2018-05-24 16:31] StevenSeiden opened #643 "Cannot download sketch with large files"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Opera 52.0/Safari 11.1
- Operating System: MacOSX 10.13.4
- Steps to reproduce this:
When I attempt download on a sketch with a large amount of files, I get an error 504, "Gateway Time-out".  This happens with sketches such as [this one.](ht

[2018-05-24 20:43] catarak commented on #640
i think if `package-lock.json` is functioning properly it's supposed to be checked in. i ran into a really similar issue on a separate project i was woking on (unfortunately it's a private repo) and we fixed it by switching from npm to yarn. maybe that's the thing to do? i think there's some research to do.

[2018-05-24 22:32] catarak commented on #641
thanks for submitting this jithin! my opinion is that i don't think it makes sense to add this feature, but i'd like to open it up for discussion. some questions i have:

1. what if your sketch contains no canvases?
2. what if your sketch contains multiple canvases?
3. what if a user dynamically changes the width or height of their canvas?
4. what if they don't want their iframe to be the same wid

[2018-05-24 22:38] catarak commented on #643
thanks for submitting this! i'm able to reproduce. maybe this has to do with trying to create the zip file synchronously?

[2018-05-30 04:37] #569 closed

[2018-05-30 22:26] catarak commented on #630
@aferriss i just fixed and deploy this! test and let me know if it doesn't work as expected.

[2018-05-30 22:27] aferriss commented on #630
Amazing! Thank you :D

[2018-06-03 09:31] shinytang6 opened #644 "Incorrect duplicate console information"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

1. Open a sketch
2. Generate errors or write some console commands e.g `console.log("xxx")`
3. Log in to your account again and run the sketch

And after that each time you login in, the console information will double unless you refresh the page.

[2018-06-03 09:32] shinytang6 commented on #644
l will try to fix it in #639

[2018-06-04 12:09] awarua commented on #576
I was looking at it and didn't get very far, but for what it's worth, it looks like some of the relevant properties and functions might be `unsavedChanges`, `setUnsavedChanges()`, `warnIfUnsavedChanges()` and `unsavedChangesDotUrl`.

Hopefully, that saves someone else a little bit of time to find out what to search on.

[2018-06-04 20:10] aferriss opened #645 "Long Files added to sketches appear empty"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

When I upload a JSON file that's sufficiently long (I'm not sure what the limit is), the file will appear empty when I navigate to it via the sidebar. I can even go into the file and start writing more json and it doesn't interfere with the original invisible json. I'

[2018-06-04 21:28] catarak commented on #644
interesting bug, thanks for finding and documenting this!

[2018-06-04 21:48] catarak commented on #645
thanks for reporting this! this is basically a UI/UX bug. what's happening here is that the files are so big that they are being uploaded to S3, but the UX doesn't reflect that—it just appears that the files are empty. this is handled in the new design, but it would be nice to put something sooner so that it doesn't seem like a bug 😄

[2018-06-08 04:07] awarua opened #646 "README is misleading about details of example user"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome 65.0.3325.181
- Operating System: MacOS 10.13.4
- Steps to reproduce this:
 - The `README.md` file says that when the `npm run fetch-examples` command is run, a user called "p5" will be created. But actually, the user created depends

[2018-06-08 04:39] awarua commented on #646
After some further testing, I realised that there is a related issue - that the `fetch-examples` script seems to expect the user to have username "p5", even if something different is specified in the `.env` file.

When I create a user with a different username (e.g. "example") the `fetch-examples` script creates that user, but the examples don't seem to be added to it. When I log in as "example",

[2018-06-08 05:38] shinytang6 commented on #646
Hi @awarua! You can see what happened there in #556.

I don't know why the error occurs, maybe there are some previous methods in `server/examples.js` have not been corrected.

[2018-06-08 05:51] awarua commented on #646
I am still trying to understand what is happening here. From what I have been able to figure out by looking through the `fetch-examples.js` script, the example projects *are* being added to the example user specified in `.env`, but for some reason, they are not showing up when you click to view the examples in the editor.

Could it be that the `p5` username is hardcoded in other parts of the app r

[2018-06-08 06:37] shinytang6 commented on #646
I just provide some of my views for reference.
What's happening now is that if you log in with e.g. the `example` user, click on `Nav->example` and it will show `p5` user's sketches, but `p5` user may not exist, but if you click on `My account->sketches` or `Nav-> Open`, it will show the sample sketches downloaded through `npm run fetch-examples`, correct me if l am wrong :)

I think the current p

[2018-06-08 08:03] awarua commented on #646
Thanks for the comment @shinytang6. It's helpful for me to get your explanation of what is happening.

Correct me if I'm wrong, but my assumption here is that the user that is defined in the `.env` file seems mainly intended as a 'placeholder' user for attaching examples to (regardless of whether we call it "example" or "p5"). At least, the only place those config variables are used in the code is

[2018-06-08 10:09] awarua commented on #640
@catarak - while we figure out the best solution to guarantee the node version contributors are using, would it be worthwhile adding a note to the README to let people know that they need to be on node 8?

[2018-06-08 10:28] shinytang6 commented on #646
Never mind, l am also learning :smile:

That's true,  we need a 'placeholder' user to fetch the examples. That's why we use `EXAMPLE_USERNAME` here. It should have been designed as an unchangeable user(l mean keeping the examples pure). But generally, we develop locally with this username.

[2018-06-08 11:29] awarua commented on #576
I have been looking at this again. I believe that the piece of code that matters is [/client/modules/IDE/actions/project.js#L87](https://github.com/processing/p5.js-web-editor/blob/9958619fc4454104f55dc3f9a67726c8e4637150/client/modules/IDE/actions/project.js#L87)

[code]

I have stepped through the code in the debugger and when you are saving a project with a renamed file, it takes the first bran

[2018-06-08 11:59] awarua commented on #576
The screenshot below shows the problem with the comparison on L87 above. There are two properties that are present in `currentState.files` that are not in `response.data.files`, which are `isEditingName` and `isOptionsOpen`. These probably get set on the local object because of the user interactions around renaming, but they are really not relevant to the intent of the comparison of the files.

![

[2018-06-08 20:13] catarak commented on #640
sure! i don't know if `engines` in `package.json` actually does anything, but that could be updated too. on a separate branch, not merged to master but currently pushed to github called `production-docker`, i'm working on ironing out the details on a development and production Docker setup which also helps with this.

[2018-06-08 20:46] catarak commented on #646
i appreciate both of you digging into this! i feel like this issue needs a little context.

i originally made the decision to put the examples under a username called `p5` because i wanted to figure out the quickest way to add the example sketches to the web editor with the least number of changes. i figured in the future there would eventually be a way to add sketches that don't have an owner, or

[2018-06-09 18:01] chrisorban commented on #594
@catarak  @briangainer
Here is a little bit of progress. If you paste the code below into the setup function it will recognize the iOS device and map the WASD keys to LEFT_ARROW, UP_ARROW, DOWN_ARROW and RIGHT_ARROW.

    var iOS = /iPad/.test(navigator.userAgent) && !window.MSStream;

  if (iOS) {
   print("You seem to be using an iPad. Control the ship with WASD keys instead of the arrow keys.")

[2018-06-09 23:41] chrisorban commented on #594
@catarak  @briangainer   I did some more testing and realized that the above code doesn't work for the simple reason that keyPressed() doesn't work correctly for iPad keyboards. When you bring up this example with an iPad:
https://p5js.org/reference/#/p5/keyPressed
it will only detect the first time you press a key. This seems to cause the problem with keyIsDown()

Interestingly, keyTyped() seems

[2018-06-10 02:07] chrisorban commented on #594
@catarak @briangainer  More insight:
The iPad totally fails with the javascript keyup function, returning zero instead of the keyCode that you need. In other words the iPad fails at this example: http://help.dottoro.com/ljaffqqe.php

I hacked around on that example but I couldn't improve the behavior. Everything returns zero to the keyup function no matter what you do.

This stackoverflow post has

[2018-06-10 16:53] chrisorban commented on #594
@catarak Should we close this as an issue with p5.js-web-editor? It turns out to be a problem with p5.js itself. I've created an issue with p5.js here:
https://github.com/processing/p5.js/issues/3008

[2018-06-11 19:24] catarak commented on #594
Sure! I thought the issue here was that the arrow keys weren't working within the editor (i.e. when editing code) but if it's only in the sketches, it makes sense to close this issue.

[2018-06-11 19:40] chrisorban commented on #594
The arrow keys do move the cursor around, however they don't act like JavaScript arrow keys and using WASD instead doesn't work right (which is the main thing that needs to be fixed now).

Let's move this discussion to the p5.js GitHub. The problem is in keyboard.js, not in the web editor.

[2018-06-11 19:40] #594 closed

[2018-06-14 03:10] montoyamoraga commented on #595
@lm-n hola!
I added most of your comments to my original post,
I still think that Reference should be Reference
I know that someone knew might not understand it at first, but Reference
is the standard nomenclature, I rather keep it, what do you think?
The same with Lint, it's a standard and I rather be specific.
And I am still unsure about Theme, what do you think of "Modo de visualización"?

[2018-06-16 02:08] kylemcdonald opened #649 "Broken image in verification email"
<img width="620" alt="screen shot 2018-06-15 at 19 06 21" src="https://user-images.githubusercontent.com/157106/41494846-464728e8-70cf-11e8-990d-3c065b56b3d5.png">

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Browser, OS details: Google Chrome | 67.0.3396.87 (Official Build) (64-bit), OS | Mac OS X 10.13.5
- Steps to reproduce this: I signed up for a new account using my G

[2018-06-16 02:11] kylemcdonald opened #650 "Email verification fails"
<img width="575" alt="screen shot 2018-06-15 at 19 09 44" src="https://user-images.githubusercontent.com/157106/41494863-ae0b7b96-70cf-11e8-8ea1-16946b3fba0c.png">

#### Nature of issue?

- Found a bug

#### Details about the bug:

- Browser, OS details: Google Chrome | 67.0.3396.87 (Official Build) (64-bit), OS | Mac OS X 10.13.5
- Steps to reproduce this: I signed up for a new account using my G

[2018-06-16 09:48] awarua commented on #646
Hi @catarak, sorry for the delay in responding. I only get a chance to contribute on weekends :).

That background makes perfect sense. I have made a different pull request that removes `EXAMPLE_USERNAME` as a settable option from `.env`, I agree that this would remove the confusion (#651).

Regarding the `fetch-examples-gg` script. From what I can see of that it uses a different example user call

[2018-06-16 12:30] awarua commented on #576
I have created a pull request that fixes this problem by adding a custom comparison function rather than relying on the `isEqual` function from the lodash library. #652

[2018-06-18 13:58] shinytang6 commented on #650
And it seems that even though we do not verify the mail, users can also log in through the username

[2018-06-18 21:39] catarak commented on #646
@awarua thanks so much for your work on this! I just merged your PR, and yes, I think it makes sense to leave the Generative Design stuff in place until you can upload sketches to the editor via an API.

[2018-06-18 21:39] #646 closed

[2018-06-18 22:13] catarak commented on #650
thanks for submitting this! i think this got implemented and then never used and then broke 😄i want to fix this for the public release so i'm gonna put it in that milestone.

[2018-06-19 14:39] joeyklee commented on #646
Hi ya'll - I'm a little late to the party, but I had the feeling you were all on top of things. With the batch upload of all the Generative Design projects, part of the trick was writing a script to specifically traverse the structure of that repo. Once there is an API, then I'd be happy to use that :)

Many thanks!

[2018-06-19 21:51] chrisorban opened #654 "Automatically make sketch active after pressing play"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: All browsers (and specifically firefox and chrome
- Operating System: Linux, windows, mac, probably chromebooks

- Steps to reproduce this:

After you press play on the p5.js web editor, I find that you also need to click the mouse on the sk

[2018-06-19 22:08] catarak commented on #654
thanks for this suggestion! i think it is confusing, that a user must click on the sketch in order to interact with it. however, i think users could find this to be confusing/annoying behavior if it is the default or done without configuration. for example, imagine a scenario in which you're working on a sketch, iteratively, without auto-refresh enabled, typing in the left pane and refreshing on t

[2018-06-19 22:16] chrisorban commented on #654
A preference would solve the problem, but I would like to make sure that the preference gets saved when you save the code so that the next time you open it up you don't have to select it. This is important because I will be the one saving the code and some other user will be the one opening it up and running it.

The other option would be some kind of makeSketchActive(); command that you could add

[2018-06-19 22:17] chrisorban commented on #654
I'm a little surprised that there isn't some hack or clever piece of code that could be put into the setup function or in index.html that would make the sketch active after pressing play.

[2018-06-19 22:20] catarak commented on #654
sorry if i wasn't clear—i'm pretty sure it's possible to make the sketch active after pressing play. i'm saying that i don't think this is the right thing to do for _all_ use cases, and i'm wondering if the best thing to do would be to put this in sketch preference, or possibly something else. my concern about putting it in a sketch preference is that one goal is to have as few preferences as poss

[2018-06-19 22:22] chrisorban commented on #654
I don't really need a sketch preference. All I need is the magic words to make the sketch active after pressing play.

[2018-06-19 22:35] catarak commented on #654
i hear you! if you're cool with adding an extra line of code to your sketch, you can add
[code]
to the top, outside of `setup()`. `this` refers to the iframe.

[2018-06-19 22:44] chrisorban commented on #654
Perfect!

This is super helpful, by the way, for iPads because you need to touch the canvas to make it active unless you use this.focus()    Touching the canvas on an iPad sounds simple but it tends to highlight the whole canvas, turning it light blue. Using this.focus() is much better.

[2018-06-21 00:00] aferriss opened #655 "Student managed to make an account where user id was set to an e-mail address"
One of my students was having trouble with the editor experiencing some really odd behavior. Her sketches would stutter about once every 60 frames or so, and some sketches would play really awful screeching sounds even though no audio code was being used. I tried running her sketches when she was logged out, or copy pasted into a window where I was logged in and they worked without any hiccups.

I

[2018-06-21 23:52] catarak commented on #655
wow this is a crazy bug! maybe it's possible to set a username to an email address if you log in through google or github, and that should be handled differently?

[2018-06-22 19:23] aferriss commented on #655
Yea, I felt a little crazy even writing it up. The student used the institutions e-mail address though so it followed a pattern of first letter of first name + last name + @ + prefix.institution.edu

so for me that address would be aferriss@inside.artcenter.edu

[2018-06-26 03:55] aferriss opened #657 "Can't upload files from a cloned p5.js repo"
Hey so I found another weird one. I can't browse or upload files from the p5.js repo if it's been installed via git clone. If I just download by zip, I can browse no problem. I can also browse other (non p5.js) git repo's that I've cloned without issue.

When you click open on p5.js, the uploader tells you that it can't download a null file.
![screen shot 2018-06-25 at 8 27 09 pm](https://user-ima

[2018-06-26 16:46] catarak commented on #657
weird bug! it's been surprisingly finicky to handle different file types without just allowing anything. could have to do with mime types or something like that, will investigate.

[2018-06-28 00:45] awarua opened #659 "Cannot tab into file options menu"
#### Nature of issue?

- [X] Found a bug

#### Details about the bug:

- Web browser and version: Chrome v67

- Operating System: MacOSX 10.12.6
- Steps to reproduce this:

In the web interface, click the down arrow to open the file options menu

![image](https://user-images.githubusercontent.com/92529/42005965-75ccdb04-7aba-11e8-80fa-8026f2452e87.png)

Click tab to tab to the first menu item 'Ren

[2018-06-28 02:02] catarak commented on #659
thanks for reporting this!

[2018-06-28 23:32] gmaster350 opened #660 "fill( ) method causing script error in Alpha Editor."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Bug does not occur in locally hosted html pages.
Bug appears to occur only in the alpha editor.

- Web browser and version: Google Chrome 67.0.3396.99
- Operating System: Windows 10 64-bit
- Steps to reproduce this:  Use fill method anywhere.

script:

setup(){
    cr

[2018-06-28 23:39] catarak commented on #660
thanks for submitting this! I'm only seeing this error if I turn on the accessibility features, which means that this is an issue with [processing/p5.accessibility](https://github.com/processing/p5.accessibility). I looked in the issues for that repo and there's already an issue for this, processing/p5.accessibility#71. If you would like to turn this error off, go to Settings -> Accessibility -> A

[2018-06-28 23:39] #660 closed

[2018-07-01 08:14] awarua commented on #543
Hi, I have been looking at this today. Here are some WIP notes from my investigations:
* Follow the instructions in the README to set up local ssl proxy.
* Set preferences for the sketch are to serve via HTTPS (not sure if this is necessary?)
* Reproduced the example given by @piecesofuk locally.
* Reproduced the error reported in full mode. I did not get any problems in the normal editor view.

L

[2018-07-01 09:02] awarua commented on #543
The same problem also occurs in the 'embed' route, as shown in the following link to @piecesofuk's original example https://alpha.editor.p5js.org/embed/HkyBtEc8f

The routes for full and embed views are defined in `/server/routes/embed.routes.js`. Both just call `serveProject` from `/server/controllers/embed.controller.js`.

The actual base tag is generated in the following code in `/server/contro

[2018-07-01 10:46] awarua commented on #543
Where I got to is that perhaps this is a configuration issue with Express.js, which is the web framework that the web editor uses. There is a configuration option that lets you trust a proxy: [Express behind proxies](https://expressjs.com/en/guide/behind-proxies.html)

I set the following in `/server/server.js`:
    `app.set('trust proxy', true);`

And it works okay. The `base` tag is correctly se

[2018-07-04 12:39] maximorosales opened #662 "When Auto-refresh on and start typing a loop sentence Browser crashes and changes are lost"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
Chrome
- Operating System:
Windows 10
- Steps to reproduce this:

It could hapends with any loop statement.
As Auto-refresh is on it wll try to execute the code while typing.
Writing something like:
for(let i-0; i<10;){}
It makes browser to

[2018-07-05 18:38] catarak commented on #662
thanks for reporting this! i think this is an issue with the loop-protect code, for some reason it is not catching the infinite loop!

[2018-07-05 23:41] lm-n commented on #595
@montoyamoraga sounds good! Sorry for my late answer. I've been working on the accessibility stuff and forgot about this thread. I think it might be a good idea to come up with some community translation guidelines. And yup, totally agree with "Modo de visualización". Also a random thought, have you considered moving all translations to transifex https://www.transifex.com/ ? It works with github a

[2018-07-05 23:50] catarak commented on #595
just fyi i haven't had a chance to make any progress on this as i am focusing on a permanent/scalable hosting solution.

but transifex looks cool! do they have a lower price/free open source option?

[2018-07-06 00:45] lm-n commented on #595
Yup! It’s free for open source projects!

“We are proud and humbled to be hosting the largest Open Source translation community in the world. We offer Transifex for free to Open Source projects that have no funding, revenue, and/or commercialization model. If you have a question whether your organization qualifies for our Open Source program, please contact us.”

[2018-07-06 06:07] DeltaFlash commented on #650
Check your mail here https://sales.reply.io#1 in the "Email verification" section, frequent and possible reasons, these are minor failures in the mail server, but still check your mail is desirable

[2018-07-08 06:15] terabyte128 opened #663 "Feature request: API to create a sketch and send code for it"
- [X] New feature request

#### New feature details:

I am working on a project that helps transpile Processing Java code to p5.js. It would be awesome if there were a way to allow a user to click a button that redirects them to this site with their code already pasted into the editor. Perhaps making a request to a URL with the body as their project code could create a new project and redirect the

[2018-07-12 17:58] catarak commented on #650
cool, thanks!

[2018-07-12 18:10] catarak commented on #663
I think this is a great idea! In general I'm very supportive of ideas that integrate the web editor into other workflows.

This is somewhat related to #542, but definitely not the same.

[2018-07-13 01:16] willingc opened #664 "Feature enhancement: Improve Examples UI - Long list difficult for students to scroll"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

I've just finished two 2 hour workshops on interactive computing with middle school students where the workshop relied heavily on the existing Examples.

The alpha editor worked very well (great job folks! :tada:). The only stumbling point that some of the stude

[2018-07-14 00:20] catarak commented on #664
I agree! There's an existing design, not yet implemented, with a search bar at the top (see #231). If you have other UX/UI ideas let me know! We've also been throwing around collections (#43), which could also be implemented as tags.

In your workshop, were you asking students to find specific examples? In that case, I think the search bar at the top would be helpful. Or were you asking students t

[2018-07-15 18:56] willingc commented on #664
Hi @catarak,

The search bar would be a great addition especially if it shortens the list as you type characters.

I think this would also be nice, but I think in terms of priority that a search bar sooner vs. later would be lovely. If you have time for only one, I would lean toward the search bar.

I had them do both. Initially going to specific examples (IIRC some of the interactivity examples w

[2018-07-16 21:06] j6k4m8 opened #665 "Feature suggestion: List p5 version in editor UI"
#### Nature of issue?
- [x] New feature request

#### New feature details:
Would be very useful to list the p5 version somewhere (maybe Help→Version) so that it's easy to find and report. This editor's a great bug-reproducibility tool!

As is, I had to crawl through the iframe to find the appropriate p5 network request.

PS: Sorry about filing multiple issues today! I love p5 so so much :)

[2018-07-24 20:34] catarak commented on #664
thanks for these answers! very helpful. i think that the search bar would be a great self-contained issue to work on. just added help wanted/good first issue tags to it.

[2018-07-24 20:38] catarak commented on #665
good idea! i think that this may be covered by the library management design (#4). there's actually an easier way to check it: you can look at the `index.html` file, which you can open by opening the file sidebar by clicking the ">" by the sketch title.

[2018-07-24 21:42] j6k4m8 commented on #665
....I can't believe I didn't think of that.

On Tue, Jul 24, 2018 at 4:38 PM Cassie Tarakajian <notifications@github.com>
wrote:

[2018-07-26 01:14] willingc commented on #664
Excellent. FYI, just finished usage of the editor with 6 groups of high school students and it performed perfectly. You may be ready for beta :-)

[2018-08-06 17:08] aferriss opened #668 "Add .tsv files to allowed upload types"
Hey! I was wondering if we could add .tsv (tab separated values) files to the allowed upload types. I guess it's not that common a filetype but I just had one today and realized I couldn't use it. Any reason not to aside from just being cautious about what was allowed (like in https://github.com/processing/p5.js-web-editor/issues/630)

#### Nature of issue?

- [ ] Found a bug
- [X] Existing featur

[2018-08-09 23:21] lm-n opened #669 "Table output not working because of variable name change"
- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

@catarak table output is not working because of a change we made a while back. I'm creating a PR that fixes this issue.

[2018-08-17 13:09] TheWizardBear opened #671 "Forum button links to old forum"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

(Though this might count as a bug?)

#### Details:

Clicking on "Forum", after clicking on "about" in the "Help & Feedback" drop-down, still sends you to the [old forum ](https://forum.processing.org/two/) rather than the [new one](https://discourse.processing.org/).

[2018-08-20 16:03] catarak commented on #671
ooooh thank you! this is quick fix ✨

[2018-08-20 16:26] #671 closed

[2018-08-27 19:15] joemckay5 commented on #471
I'm having this bug issue too. It will let me set the color variable, and line 5 will print "200", but when I go to use the variable it barks at me, saying "Script error. (: line 0)"
var c;
function setup() {
  createCanvas(400, 400);
  c = color(200, 200, 200);
  print(red(c));
}

function draw() {
  fill(c);
  rect(200, 200, 10, 10);
}

This ONLY happens in Chrome. Firefox and Safari both handle

[2018-08-27 19:17] catarak commented on #471
@joemckay5 do you have any of the accessibility options/text output turned on?

[2018-08-27 20:18] MathuraMG commented on #471
@catarak - looks like this could be due to the accessibility options. We have this fixed in our latest version. But we are yet to update the version being used in the editor.

@lm-n

[2018-08-27 21:10] MathuraMG opened #672 "accessibility features udpate"
Some features need to be updated to support accessibility
* [Overlay buttons not labeled](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/App/components/Overlay.jsx#L76). Reads as 'unlabeled button' on a screen reader
* Autofocus on the accessible-output is currently not working.

@catarak - would it be okay if @lm-n or myself assigned this to us?

#### Nature of issue?

[2018-08-27 21:12] catarak commented on #672
yes, go for it!

[2018-08-28 04:15] joemckay5 commented on #471
@catarak - nope. Sorry, I forgot to mention that. I turned them on and off because I saw the other thread but the results were the same either way.

[2018-08-28 18:26] catarak commented on #471
hmmm, okay. running this on chrome (same one, Version 68.0.3440.106) works for me.

[2018-08-28 18:36] cmorgantywls commented on #471
If it helps, when this was happening to me, I would have students on the
exact same version of Chrome/Macs (they are all the same disk image from
the DOE, so they had to be the same) and it would work for one student and
not for the other. In my experience, it seemed tied to user name/accounts
somehow, as the same students would have the problem no matter what
computer they were using (and the stu

[2018-08-28 18:38] catarak commented on #471
interesting. that's good to know! maybe it has something to do with how the sketch itself is configured, or a version of p5.js that's running, or something like that.

[2018-08-28 18:41] cmorgantywls commented on #471
I could also run their programs through my account (I never had this
problem) if they copy/pasted everything to me without error.

On Tue, Aug 28, 2018 at 2:38 PM Cassie Tarakajian <notifications@github.com>
wrote:

--
Courtney Morgan
*Software Engineering & AP Computer Science*

*The Young Women's Leadership School of the Bronx*
*1865 Morris Ave.*
*Bronx, New York, 10453*
*718.732.2590*

[2018-08-29 18:43] #669 closed

[2018-08-29 19:06] #668 closed

[2018-08-29 19:08] catarak commented on #665
closing this, as i think it will be solved by #4.

[2018-08-30 19:57] chrisorban commented on #657
I'm not able to upload files to editor.p5js.org like I could with alpha.editor.p5js.org

When I try to load a file from my computer it says "Cannot Post /ChrisOrban/sketches/undefined" and in the web console it says https://editor.p5js.org/ChrisOrban/sketches/undefined   404 not found

So I posted the file to a web page and tried to download it that way. Here is the modified p5.js library I am try

[2018-08-30 19:58] catarak commented on #657
@chrisorban will look into this soon—thanks for reporting!

[2018-08-31 01:16] catarak commented on #657
@chrisorban I fixed the upload issue! let me know if it is working for you.

[2018-08-31 01:18] chrisorban commented on #657
@catarak  Working great now! Thanks!

[2018-08-31 16:44] JobLeonard commented on #103
Hey, just my two cents, having struggled *a lot* with trying to make an existing React App offline-first (spoiler: I failed, but I did manage to make the *state* persistent, and improve caching behavior a lot).

I think there's two separate but related pieces of functionality that one might want:

1. using a service worker to make the app offline-first, meaning you can open the website even if you

[2018-08-31 16:59] catarak commented on #103
@JobLeonard thank you for all of these extremely helpful resources!

[2018-08-31 17:19] JobLeonard commented on #103
No problem! Hope it will be useful! :)

Here is the link to the offline-plugin for WebPack: https://github.com/NekR/offline-plugin - we can safely assume that the problem was my own lack of understanding of WebPack, so I'm sure you'll have more success with it than me :)

Also, the `redux-offline` documentation links to this article, which explains quite a bit and has a lot more links to other res

[2018-08-31 18:21] slowizzm opened #673 "Unable to import folder of assets"
Unable to drag and drop in a folder of assets.

Google Chrome | 68.0.3440.106 (Official Build) (64-bit) (cohort: Stable)
Revision | 1c32c539ce0065a41cb79da7bfcd2c71af1afe62-refs/branch-heads/3440@{#794}
OS | Windows
JavaScript | V8 6.8.275.26

[2018-08-31 18:34] slowizzm opened #674 "preload() hangs on loadImage"
preload() hangs when trying to loadImage(), never loads.

Google Chrome | 68.0.3440.106 (Official Build) (64-bit) (cohort: Stable)
Revision | 1c32c539ce0065a41cb79da7bfcd2c71af1afe62-refs/branch-heads/3440@{#794}
OS | Windows

[2018-08-31 18:35] catarak commented on #673
yes this would be very useful to have!

[2018-08-31 18:36] catarak commented on #674
i'm not able to reproduce this! the follow sketch works for me: https://editor.p5js.org/cassie/sketches/SJlIk0WUPX

can you add a link to your sketch? thanks!

[2018-08-31 18:40] slowizzm commented on #674
Weird, it is working for me now as well, your sketch and mine.

No longer an issue.

thanks

[2018-08-31 21:08] mberndtgen commented on #674
Sorry for re-opening this, but I was able to reproduce this. In preload(), I'm loading 15 images into an array like so:
[code]
and draw wasn't able to show them. Only after modifying my code and 'forcing' them to display (like so:
[code]
- doing this for each picture, one by one, made me eventually display them as intended. After this procedure my original code worked as expected. Felt a bit like

[2018-08-31 21:25] mberndtgen commented on #674
It's here: https://editor.p5js.org/mberndtgen/sketches/B12RmDyvX

[2018-08-31 22:06] datramt commented on #674
I got the sketch to work by replacing all of the "var" declarations to "let"

[2018-08-31 22:15] mberndtgen commented on #674
Strange, huh? :-) This code worked without problems in the alpha version of the editor.

[2018-09-02 01:41] GiammaCarioca commented on #43
Hi, guys. I'm a beginner. I've been teaching myself JS and ReactJS for a few months now. They say the best way to learn it's to work on a real project. I'm wondering how could I help out with this one feature.

[2018-09-02 21:46] KevinWorkman opened #675 ""Leave site?" dialog shows even after I save my work"
When I close the editor, I get a dialog:

Leave site?
Changes you made may not be saved.

This makes sense if I'm closing the tab while I have unsaved changes, but this message also appears if I save my work before closing the tab.

This makes me feel paranoid and like my work hasn't been saved. Maybe we should only show the dialog when there's unsaved work?

- Web browser and version: Chrome 68
-

[2018-09-03 14:50] shiffman commented on #675
I came across this issue as well while live streaming. I think it is saving but just not registering that it is saved.

Here is a link to a spot in the video where it comes up:
https://youtu.be/wTDDsOZwdQY?t=4728

[2018-09-04 17:50] catarak commented on #674
@mberndtgen i was playing with your sketch and i couldn't figure out what was wrong because of all of the other stuff going on in that project (which is really cool btw!). would you mind making an example that only shows the thing that appears to not be working?

[2018-09-04 18:04] catarak commented on #43
Hi @GiammaCarioca! This issue is definitely one that's been coming up in conversation/asked as a feature a lot, but I think it needs to be broken up into smaller issues. Therefore, I don't think it would be a good first issue without a little more planning work. However, there are issues labeled "help wanted" or "good first issue" that would be great to start on!

[2018-09-04 18:06] catarak commented on #675
I have noticed this—I think it's related to #576 and how the files are compared. Someone started working on this in #658 but never got to finish it!

[2018-09-04 20:15] mberndtgen commented on #674
Yeah, sure! (And thanks! This is my homework for a course on Kadenze.) Here is the essence of what it takes (at least for me) to reproduce the error:
https://editor.p5js.org/mberndtgen/sketches/ByBKxP2vQ

It was even a bit stranger than expected: I've cloned this project from the original one (via File > Duplicate) and modified it. I've changed the png's in the images folder, too (but they still h

[2018-09-05 06:41] runemadsen opened #676 "Email verification seems to be broken"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

I have a bunch of students trying to sign up for the editor, and they are all getting "Something went wrong" when they go to the verification link. They can still log in, but the verification step is broken for most `@nyu.edu` addresses.

Screenshot:

<img width="1280

[2018-09-05 15:06] yanickrochon opened #677 "Console text font size"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Feature enhancement details:

Make the console text font size equal with the editor font size.

[2018-09-05 16:32] shinytang6 commented on #677
I can make the font size a little bigger, but l think the editor font size is too big..

[2018-09-05 16:34] yanickrochon commented on #677
Some people have visual impairment, and others may use this tool for teaching. Having the console font size as big as the text editor (and the text editor being unrestricted) would be a nice feature.

[2018-09-05 19:12] catarak commented on #676
Thanks for reporting this! I haven't been able to reproduce this yet, but I've been trying with my regular gmail account. I'll try with my NYU email and see if that does it.

[2018-09-05 19:12] catarak commented on #676
Also reported in #650.

[2018-09-05 19:26] catarak commented on #677
I had noticed this when making the [web editor tutorial video](https://www.youtube.com/watch?v=x1rJJRVTpAI). Agree that this would be really useful, and it would make sense for the font size to be the same as whatever the user had selected in their settings!

[2018-09-05 20:41] catarak commented on #676
UPDATE (ugh): just tried with my NYU email and it worked. This feels like one of those scenarios in which it's broken for everyone except for me.

[2018-09-05 20:53] catarak commented on #676
@runemadsen can you post at least one account that the verification isn't working on?

[2018-09-05 20:55] badcat commented on #676
@catarak I can :) the account is /BadCat
thank you.

[2018-09-06 23:56] slowizzm commented on #674
preload() loadImage() array is working for me ....

https://editor.p5js.org/slow_izzm/sketches/BJnX6QJ_X

[2018-09-07 00:22] vixo777 opened #678 "Loadpixels / updatepixels combo causes drawing to stop"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome Version 68.0.3440.106 (Official Build) (64-bit)
- Operating System: Windows 10
- Steps to reproduce this:

I have a sample here (https://editor.p5js.org/vixo777/sketches/H13tfrJOm) to test fading using loadPixels and updatePixels and

[2018-09-07 00:29] vixo777 commented on #678
Apologies. I believe this belongs in the p5 repo and not the editor.

[2018-09-07 00:29] #678 closed

[2018-09-07 05:35] Janglee123 commented on #677
I would like to work on this .  As a beginner anyone can provide  me  little help to solve this issue .

[2018-09-07 16:22] TheWizardBear opened #679 "File navigation UI bug"
**I found a bug** to do with the UI of folders and files in the file navigation section of the webpage.

- Select a folder or file (A) other than the folder or file you are about to use (B).

Do not select B (but you can select the large arrow to the left of it).
The smaller arrow to the right of B does not appear as the folder is not selected (A is selected instead).
- Right click B.

The pop-up

[2018-09-07 16:43] belgiancoder opened #680 "`windowHeight` is 30px too big using the editor"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

`windowHeight` doesn't match the height of the window and is off by about 30px.

- Web browser and version: Safari 12.0 (14606.1.36.1.9) & Chrome
- Operating System:  MacOSX
- Steps to reproduce this:
use `createCanvas(windowWidth, windowHeight);` in the editor, it is

[2018-09-07 16:48] Janglee123 commented on #677
Thnaks @shinytang6 , but I need some more help . is these any way to communicate ?

[2018-09-07 16:53] catarak commented on #674
@mberndtgen this is what I see:
<img width="631" alt="screen shot 2018-09-07 at 12 51 57 pm" src="https://user-images.githubusercontent.com/6063380/45232287-e156bb00-b29c-11e8-92e4-9525a9427c9f.png">
so I think for me it's... working? I'm feeling very confused about what exactly the issue you're seeing is. I am also using Chrome.

[2018-09-07 16:54] catarak commented on #678
@vixo777 no worries, and thanks for reporting!

[2018-09-07 17:16] catarak opened #681 "When changing a file name, sketch does not mark itself as unsaved"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Google Chrome | 68.0.3440.106 (Official Build) (64-bit)
- Operating System:  Mac OSX
- Steps to reproduce this:

As discussed in #658,
1. Open an existing sketch, or save a new sketch
2. Open the sidebar
3. Click on the "v" next to a file n

[2018-09-07 18:11] catarak commented on #469
this is now fixed thanks to #656

[2018-09-07 18:11] #469 closed

[2018-09-07 18:13] catarak commented on #679
thanks for reporting this! i am able to reproduce. i think the console/add file+folder windows overlapping should be broken out into a separate issue.

[2018-09-07 18:24] catarak opened #682 "Console pane overlaps in front of new file"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Google Chrome | 68.0.3440.106 (Official Build) (64-bit)
- Operating System:  MacOSX
- Steps to reproduce this:

As first reported in #679,
<img width="1151" alt="screen shot 2018-09-07 at 2 19 35 pm" src="https://user-images.githubuserconte

[2018-09-07 18:46] catarak commented on #680
i am able to reproduce! this is likely a bug with the CSS.

[2018-09-07 19:00] catarak commented on #677
@Janglee123 feel free to ask questions here, on the ticket! or, another way to get help is to make a [WIP] (work in progress) pull request, and then folks can comment directly on the code you've written so far.

[2018-09-07 19:51] #576 closed

[2018-09-07 19:56] catarak commented on #675
@KevinWorkman i just merged in a PR that will hopefully fix this (still building and deploying, will take ~10 min). let me know if you're still seeing this!

[2018-09-07 19:56] #665 closed

[2018-09-07 21:25] #682 closed, assigned to nobody

[2018-09-07 21:29] belgiancoder opened #684 "Can you run ANY javascript in the p5 web editor ?"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Safari 12.0
- Operating System: MacOS
- Steps to reproduce this:
I am a javascript beginner, but it seems to me that the p5 web editor should ban some javascript.
A script like [this](https://editor.p5js.org/belgiancoder/sketches/B1sIGweOm)

[2018-09-07 21:39] catarak commented on #684
this is a great question! i'm not sure where to come down on this.

my instinct is that there are cases in which this could be good and cases where it could be malicious. this is where #609 comes into play. i think if users could report malicious sketches, then we would have a policy for what constitutes deleting a sketch/banning a user/etc.

open to thoughts and ideas!

[2018-09-07 21:44] mberndtgen commented on #674
Oh weirdness! Now it's working on my side, too! Can't reproduce the error any longer. You better close this issue until this changes again. :-) Thanks a lot for your effort, though, I really appreciate!
(Adventure's almost finished, btw.)

[2018-09-07 21:45] belgiancoder commented on #684
The fact that you can hide stuff in the index file makes it scarier

[2018-09-07 21:52] catarak commented on #674
maybe it's a caching thing, or a network connection thing. i'll close this for now!

[2018-09-07 21:54] catarak commented on #684
the iframe that the sketch is running in is sandboxed, so it can't arbitrarily grab cookies or stuff like that. a user would have to enter sensitive information.

that being said, i feel like adding a terms of service/privacy policy is really important! i'm gonna work on that next week.

[2018-09-08 06:52] Janglee123 commented on #677
Thanks for reply @catarak , as shinytang6  said I can change font size by adding `BASE_FONT_SIZE` property but that is not enough for user inputted font size After searching in project files I got [Preferences.jsx](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/Preferences.jsx) file , which take user input and I edited it to look like [this screenshoot](ht

[2018-09-08 07:46] yanickrochon commented on #677
By the way, I have peeked at the source code and noticed that user preferences are passed as props to React components. Why? Wouldn't it be a better thing to have the preferences accessible directly from an imported module?

[2018-09-08 12:53] shiffman commented on #469
Woohoo! I am constantly demonstrating the beauty of console logging `p5.Vector` now! ❤️

[2018-09-08 16:05] bendman commented on #680
I've started looking into this one, and I think there are actually two issues here:

1. the `windowHeight` and `windowWidth` aren't reflecting the real window size, which adds scrollbars if you make a canvas that big

I'm not sure what's is causing this, but I think it's related to whitespace and line-height because making the canvas `display: block` fixes it.

2. even with scrollbars, the iframe

[2018-09-09 08:31] runemadsen opened #686 "Editor is down"
![screen shot 2018-09-09 at 4 31 00 pm](https://user-images.githubusercontent.com/192021/45262660-c24b5b00-b44d-11e8-97e0-58b62c8c811e.png)

[2018-09-09 15:36] slowizzm commented on #686
Same here, started around 9-10p CT ... and still having issues this morning.

[2018-09-09 17:58] Lordgoderic commented on #686
The guest account will load but I get the 502 error when trying to login via my google account, which was working yesterday.

[2018-09-09 18:04] shiffman commented on #686
Thanks all, we're aware of the issue and @catarak is looking into it! Stay tuned!

[2018-09-09 18:16] catarak commented on #686
Just fixed it, so sorry about this!

For documentation purposes, what happened was that a Kubernetes cronjob ran to update all of the p5.js examples (https://editor.p5js.org/p5/sketches), but it didn't run correctly and corrupted the database. Yay! I removed the cronjob so that won't happen again.

This is also, just, hilarious, since I decided to use Kubernetes to prevent stuff like this from hap

[2018-09-09 18:16] #686 closed

[2018-09-09 18:35] catarak commented on #686
Also, I will prioritize adding in some alerts, so I'll get an email as soon as there's an issue, and therefore will be able to fix it sooner. Thanks for the patience and understanding y'all!

[2018-09-10 07:17] runemadsen opened #687 "Student project crashes"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

I have a student sketch that crashes the page whenever loaded. I have tried on multiple computers, and it's the same problem everywhere. Not sure exactly what's going on, because it's hard to debug, but the error in Developer Tools is:

[code]

[2018-09-10 14:10] shinytang6 commented on #677
@Janglee123 You could pass the preference `fontSize` from the parent component IDEView.jsx to child component Console.jsx, then you could get the user inputted fontsize in Console.jsx,  simply like this: https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/pages/IDEView.jsx#L332.

[2018-09-10 14:14] shinytang6 commented on #687
Could you provide a link to the sketch?

[2018-09-10 16:59] catarak commented on #677
@yanickrochon i don't know what that means! do you have an example? for context, when i started working on this project, i didn't know react/redux at all, so i probably haven't put it together in the best/most optimal/etc. way. so i am very open to help and feedback!

[2018-09-10 17:00] catarak commented on #687
that sounds annoying! yes, please link to the sketch and i can see if i can narrow down the issue.

[2018-09-10 17:56] bendman opened #688 "Lint warnings: long template strings / import lists"
It's not a big deal, but I figured I'd report it. Should the config be changed to ignore strings, or just add line/section exceptions to the areas that throw warnings?

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Operating System: MacOSX 10.13.4
- ESLint: 4.9.0
- Steps to reproduce this: Checkout and install

[2018-09-10 18:54] catarak commented on #688
i think the warning should stay in place—it is pretty annoying to have super long lines of code and i do prefer them to be broken up. i think these should either be fixed, or, if it seems more annoying/unclear to break them up, then the comment to suppress the warnings should be added.

[2018-09-11 09:12] runemadsen commented on #687
WOOPS, sorry. Here we go:
https://editor.p5js.org/Ich_xiuai/sketches/SJg5toe6wX

[2018-09-11 19:24] Janglee123 opened #689 "Negative Font Size"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

- Web browser and version: Firefox 62.0 (64-bit)
- Operating System: Linux (Solus)
-  Steps to reproduce this:  Go to [website](https://editor.p5js.org) and decrees font size

#### Details about the bug:
Recently I found that editor font size can be negative

[2018-09-11 19:48] catarak commented on #609
References:
- [Glitch](https://glitch.com/legal)
- CodePen
  - [Privacy Policy](https://blog.codepen.io/legal/privacy/)
  - [Terms of Service](https://blog.codepen.io/legal/terms-of-service/)
  - [Code of Conduct](https://blog.codepen.io/legal/code-conduct/)
  - [Licensing](https://blog.codepen.io/legal/licensing/)
- OpenProcessing
  - [Community Guidelines](https://www.openprocessing.org/home/com

[2018-09-12 18:08] MrT3chnik opened #691 "Lag on the webpage"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Firefox 62.0
- Operating System:  Windows  10
- Steps to reproduce this: Use the web editor
 The editor freezes every few seconds and has to reload everytime i go into its tab.

#### Feature enhancement details:
Please make it faster, at th

[2018-09-12 18:41] MrT3chnik commented on #691
The issue was mainly present when typing, maybe the syntax checking slowed it down and just from switching tabs it reopened a blank page with a spinner and then reopened my project.On 12 Sep 2018 20:23, Cassie Tarakajian <notifications@github.com> wrote:Thanks for reporting this! Are these the steps to reproduce?
Open the web editor in Firefox, leave it open and running on a tab (is a sketch runni

[2018-09-12 18:46] catarak commented on #691
Huh, that's super weird! I've never seen that behavior. Is it for all sketches or just a specific one? Could you possibly take a video of it?

[2018-09-12 18:54] MrT3chnik commented on #691
I'm currently not at my computer, but I can do that tomorrow, so you can see my problem.On 12 Sep 2018 20:46, Cassie Tarakajian <notifications@github.com> wrote:Huh, that's super weird! I've never seen that behavior. Is it for all sketches or just a specific one? Could you possibly take a video of it?

—You are receiving this because you authored the thread.Reply to this email directly, view it on

[2018-09-12 19:31] kjhollen commented on #675
hey folks, I've been seeing this one in class this week. work is being saved as far as I can tell, but the unsaved indicator doesn't go away.

[2018-09-12 19:33] catarak commented on #675
i noticed this in class today too! i had been working on an unsaved sketch for a few minutes, and then saved it, and then it still said unsaved.

[2018-09-12 19:41] dansakamoto commented on #471
I think I'm having the same issue. With the following sample code:

var c;

function setup() {
  createCanvas(800,800);
  c = color(0,0,0);
}

function draw() {
 	fill(c);
	ellipse(400,400,100,100);
}

I get "Script error. (: line 0)" in Chrome (tried Version 58.0.3029.96 (64-bit) and Version 69.0.3497.92 (Official Build) (64-bit)), but it works in Firefox (62.0 (64-bit)).

I'm wondering if someth

[2018-09-12 20:49] catarak commented on #471
@dansakamoto do you have the accessibility features turned on? click on the cog icon -> accessibility -> accessible text-based canvas, are any of those checked? that's the only way i can reproduce this.

[2018-09-12 20:59] dansakamoto commented on #471
Dagnabbit. My bad. I didn't think I'd turned any of the accessibility features on, but it was Table-text. Thanks!

[2018-09-12 21:08] catarak commented on #471
@dansakamoto you actually found an undocumented bug over at processing/p5.accessibility#129, so yay!

[2018-09-12 21:33] catarak commented on #675
I just noticed a consistent way to reproduce this!
1. Login to an account or be logged in to an account
2. Open an existing sketch
3. Hit Command + S or Click Save from File -> Save
4. Sketch now appears unsaved

[2018-09-12 22:36] aparrish opened #692 "include a link to the sketch in editor from the default fullscreen url?"
Not sure how this relates to #208, but an issue I see a lot in class is that students will link to the full-screen version of their sketch in their blog posts, and then when they're presenting in-class and I ask to see their source code, there's no easy way for them to get back to the editor view.

A possible solution might be to include an inconspicuous link (say, a 50% transparent "Back" icon in

[2018-09-13 02:32] tonyweed opened #693 "Add File Dialog Cannot Be Closed"
#### Nature of issue?
There's no way to close the (Add File, Add Folder, Rename, Delete) prompt after creating a new file off of a subfolder.

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request
#### Details about the bug:

Web browser and version:
Google Chrome | 68.0.3440.106 (Official Build) (64-bit)
- Operating System: MacOS Latest
- Steps to reproduce this:
Open p5-

[2018-09-13 14:49] shiffman commented on #692
I have noticed this as well! I would be happy with the views being something like:

[code]

"embed" and "full" are identical, but embed is a url without the username? Alternatively, we could also have `https://editor.p5js.org/sketches/AaAaAaAaA` redirect to `https://editor.p5js.org/username/sketches/AaAaAaAaA`.

I like that the full view of the sketch is unadulterated, but I defer to @catarak as t

[2018-09-13 17:14] catarak commented on #693
thanks for reporting! does this seem related to #679? are you not able to close the "new file" window or the dropdown that appears under the folder?

[2018-09-13 17:30] catarak commented on #692
I noticed the same thing in class yesterday. Just to throw in another option:
1. `/<username>/sketches/<sketch_id>` is the edit view
2. `/<username>/full/<sketch_id>` is the full screen view, which also contains a little header with the username, the sketch name, and a link to the edit view
3. `<username>/embed/<sketch_id>` or `<username>/presentation/<sketch_id>` or `<username>/pres/<sketch_id>`

[2018-09-13 17:42] shiffman commented on #692
This sounds great to me too!

[2018-09-14 21:13] Lukalotr opened #694 "Throws Errors When it Finds Keywords in Regex"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
Parser hangs or gets confused when it finds some language keywords inside a literal regular expression.
- p5.js version: 0.7.1
- Web browser and version: Google Chrome | 68.0.3440.106 (Official Build) (64-bit)
- Operating System: MacOSX 10.12.6
- Steps to reproduce thi

[2018-09-16 01:53] slowizzm commented on #352
I would love to see mobile become a higher priority. I use the p5.js for iOS app all the time and would love to just be able to code straight in the web editor where we have access to p5 libraties and able to upload files.

[2018-09-16 22:35] catarak commented on #352
i hear that. I've never wanted to do any programming on my phone, so perhaps it is my own bias that has put it lower priority. since the release, a lot of folks have mentioned it. i've never used the iOS app, is it [this one](https://itunes.apple.com/us/app/p5*/id1080192373)?

it would be great to prioritize mobile stuff! I feel like a good first step would be a stripped-down version that works, a

[2018-09-17 00:28] slowizzm commented on #352
Yes, that is the correct app. As you can see it is pretty nice, but limited. I used it a bunch in college while I was waiting on classes to start, during down times, ect, as well then and now when I am away from my pc and/or macbook and either have an idea I want to prototype or just want to do some creative coding.

I have suggested it to my students because it was very helpful for me to practice

[2018-09-17 09:27] dhowe commented on #445
I wanted to second this request (even though it was mine to begin with)...

this is absolutely crucial for those of us making presentation slides (keynote, pofrom sketches...

[2018-09-17 14:14] Richard-Koeln opened #695 "Issues with connecting email accounts and OAuth accounts"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: FireFox Quantum 64bit as well as Chrome 68.0.3440.106 (Offizieller Build) (64-Bit) (cohort: Stable)
- Operating System: Windows 10
- Steps to reproduce this:
Login:
Password:

Whenn I changed the passwort via "forgot password" routine, I can

[2018-09-17 15:22] slowizzm opened #696 "createButton() not working."
createButton() seems to be ‘undefined’

https://editor.p5js.org/slow_izzm/sketches/Hk0_VX6uX

[2018-09-17 16:21] datramt commented on #696
This is a problem with the recent release of p5.js (v0.7.1), not the editor, although the editor recently updated to point to that recent version.
https://github.com/processing/p5.js/issues/3141
Currently the .mousePressed() listener isn't working.
Can you use .mouseClicked() for your project?

[2018-09-17 16:26] shiffman commented on #696
I've noticed this as well. As a temporary workaround, you can go into the `index.html` file and change the p5.js library to point to `0.7.2`:

[code]

Also, here is a sketch you can "duplicate" with the change made:

https://editor.p5js.org/codingtrain/sketches/SyvvHLa_X

@catarak I suppose we should move to `0.7.2` as the default?

[2018-09-17 16:49] catarak commented on #352
As a side note, if you want to use assets in your sketches without uploading them, you can use this tool called [CORS anywhere](https://cors-anywhere.herokuapp.com/). You can link to any asset that's already on the Internet, and it will do all of the CORS magic for you. It's a little slow but could be great on mobile. There's a world in which we could add a CORS anywhere server to the current depl

[2018-09-17 16:53] catarak commented on #445
i hear that! a workaround for now could be taking a screenshot of the code in a code editor, and then adding alt text to the image that is the code.

[2018-09-17 16:56] catarak commented on #695
Thanks for reporting! I have noticed some funkiness with the login sometimes, but have yet to determine the exact issue. Will investigate!

[2018-09-17 16:57] catarak commented on #696
today i will update the default p5 version to `0.7.2`. unfortunately i still have to do it manually—haven't figured out an easy way for it to not be manual!

[2018-09-17 17:03] slowizzm commented on #696
yes, mouseClicked() works,
also updating ‘index.html’ to 0.7.2 fixed createButton() issue.

thanks everyone.

[2018-09-17 18:53] #696 closed

[2018-09-18 15:04] Richard-Koeln commented on #695
I found out:
I have registered on editor.p5js.org with Email Adress/Passwort combination (nither Google nore Github Account.
By chance I used the same Email which I used for registration my account on Github.
Whenever I logged out from the editor it was not possible to log in again using the registered email / password combination.
So it seams that using an Email of an existing Github account for

[2018-09-18 16:14] catarak commented on #695
That is really helpful, thank you!

[2018-09-20 20:34] F4Tornado opened #698 "Auto-refresh bug"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug: When auto-refresh is enabled and I'm typing a for loop, the editor crashes.

- Web browser and version: Google Chrome | 69.0.3497.92 (Official Build) (64-bit) (cohort: Stable)
- Operating System: Windows 10

[2018-09-20 20:55] catarak commented on #698
thanks for reporting! there's a library included in this project to prevent infinite loops from crashing the editor, which should prevent this. however, i noticed that
[code]
is caught and stopped by the `loop-protect` code, but
[code]
is not caught and handled by the loop protect code.

[2018-09-20 21:18] catarak commented on #698
i was looking at the `loop-protect` library and it seems like the version that i made the fork from ([jsbin/loop-protect](https://github.com/jsbin/loop-protect)) has updated the project a lot, and i think it would make sense for this project to switch from the fork i made to the jsbin library. i also just tested the two for loops on jsbin, and it seems to catch the infinite loop for both of them,

[2018-09-21 22:10] catarak opened #699 "When changing theme, change Console icons' color with CSS"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

For all of the icons used by the Console (`/client/images/console-*.svg`), there are light and dark versions. Rather than include both of these, the color could be changed with CSS.

[2018-09-23 09:20] config2000 opened #700 "Settings -> Indentation amount not respected when entering new line"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Google Chrome v69.0.3497.92
- Operating System: MX Linux 17.1

- Steps to reproduce this:
Change settings -> indentation amount. Creating a new line in the code (created by pressing ENTER) does not appear to respect to the indentation amount

[2018-09-23 13:06] lmccart opened #701 "keyCode event doesn't work in Chorme browser when using p5.js web editor"
_From @Leiyufazhuangjia on September 22, 2018 5:25_

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform w

[2018-09-23 14:01] yonghuming opened #702 "Add QR code to Share Modal, to make it easy to open sketch on mobile"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### New feature details:
##### add page title
add page title and some discrib on page
![image](https://user-images.githubusercontent.com/435079/45928795-e9d91200-bf7b-11e8-8117-d2f273be7478.png)
this is not user friendly
##### add qr code when share sketch on mobile device
add qr code on right b

[2018-09-23 14:05] yonghuming commented on #702
![image](https://user-images.githubusercontent.com/435079/45928870-c367a680-bf7c-11e8-94f5-09da0cb610c6.png)
seems need to modify http version of full screen page

[2018-09-23 14:12] yonghuming commented on #701
you should use == operator not === operator

[2018-09-23 14:13] yonghuming commented on #701
just a synatx error not a bug, and btw, you have made up arrow move down down arrow move up

[2018-09-23 14:32] yonghuming opened #703 "key could not get focus afer click run button"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: chrome 68.0.3440.106
- Operating System:
- Steps to reproduce this:windows 10 64 bit
https://github.com/processing/p5.js-web-editor/issues/701
[code]
![image](https://user-images.githubusercontent.com/435079/45929166-6cfc6700-bf80-11e8-945f-

[2018-09-23 14:32] Leiyufazhuangjia commented on #701
Thanks so much,
After the canvas clicked, everything gana be right!

[2018-09-23 14:32] yonghuming commented on #701
![image](https://user-images.githubusercontent.com/435079/45929179-97e6bb00-bf80-11e8-8b3f-04f4ad6212f5.png)

[2018-09-23 14:35] yonghuming commented on #701
aha, you made me found the real bug

[2018-09-23 15:17] Felixpaulsen opened #704 "Order files alphabetically in sidebar and nested folders"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [X] New feature request

#### New feature details: I would love to be able to rearrange the files in the left file tree, so that I can keep my relevant .js files at the top and the html and css file at the bottom, by simply dragging them around.

[2018-09-23 23:46] dmfabritius commented on #689
Is anyone working on this? I can make the fix, and also fix the indentation amount from going negative.

[2018-09-23 23:57] dmfabritius commented on #689
For reference, here is my latest working version, which modifies Preferences.jsx

for the font size:
`              <button
                className="preference__minus-button"
                onClick={() => { if (this.props.fontSize > 8) this.props.setFontSize(this.props.fontSize - 2); }}
                aria-label="decrease font size"

`
and for the indent:
`              <button

[2018-09-24 16:34] catarak commented on #700
Thanks for reporting! I think this is actually pretty simple to fix—just an update to the CodeMirror configuration. Right now, the settings `indentWithTabs` and `tabSize` are set, but `indentUnit` is not set. Should be set like [this](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/Editor.jsx#L138) and updated when the prop changes like [this](https://githu

[2018-09-24 16:44] catarak commented on #702
Thanks for reporting! Is this actually three separate issues?
1. In full screen view, sketch title, favicon, etc. are missing from the website.
2. Add a QR code to "Share" modal for easier sharing.
3. Adding a base URL is causing a bug, though it's not clear to me from your report what the bug is. Can you let me know more?

[2018-09-24 16:46] catarak commented on #703
This is suggested as a feature enhancement in #654. Going to close this as it is a duplicate!

[2018-09-24 16:46] #703 closed

[2018-09-24 16:50] catarak commented on #704
I agree, this would be great. Also, another option—would it make sense for the files to be in alphabetical order? Right now the order is just the order in which the files/folders were added to the sketch. Open to whatever feels the most useful.

[2018-09-24 16:51] catarak commented on #704
For me, I think the thing that would be most useful would be the ability to move files in and out of folders.

[2018-09-25 23:06] catarak commented on #694
thanks for reporting this (somehow i missed this until now)!

this is definitely because of the `loop-protect` library, which parses the the JS to find loop statements (e.g. `while`, `for`) and adds code to prevent infinite loops. it doesn't create an AST but just uses regular expressions to find these statements. i just tried this code on jsbin (which uses the updated `loop-protect` library), so

[2018-09-25 23:34] Lukalotr commented on #694
Good to know, I was worried you wouldn’t ever see it 😄 Thanks alot!

[2018-09-28 08:09] LMSzor opened #707 "Sktech not working on Chrome 69.0.3497.100 (browser-related issue)"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome 69.0.3497.100
- Operating System: MacOS X
- Steps to reproduce this:
https://editor.p5js.org/Meares/sketches/Sy3fwtbYQ
The above sketch was working fine when I created it a few days back. Somehow it throws an error now. The console er

[2018-09-28 15:49] catarak commented on #707
@LMSzor do you have any of the accessibility features turned on? Click on the cog icon -> Accessibility Tab -> Accessible text-based canvas -> are any of the boxes checked? if so, try turning all of them off and try again.

This bug will be fixed in the next release of the p5.accessibility library!

[2018-09-28 20:32] LMSzor commented on #707
@catarak yeah, I actually had "table-text" checked in. Switching it off solved the problem. Thanks!

PS. With the "sound" option *on*, the script still works. Seems like only "X-text" options are making problems.

[2018-09-28 20:34] catarak commented on #707
cool, glad that fixed it. thanks for the info!

[2018-09-28 20:34] #707 closed

[2018-10-01 19:54] Vertmo commented on #699
I'll take this, if that's okay with everybody !
Should I delete the duplicate svg files afterwards ?

[2018-10-01 22:58] catarak commented on #699
@vertmo yes!

[2018-10-02 08:02] Vertmo commented on #699
Okay, I fiddled with it a bit this morning, and I found that the [console-feed](https://github.com/samdenty99/console-feed) component the console is based on does not seem to support something like this (you can only pass an image as an icon + since it's handled as a background image, so I maybe wrong, but I don't think it's possible without modifying the ConsoleFeed component (or maybe using a re

[2018-10-02 17:54] Vertmo commented on #649
I will try to fix this really quick (by reintroducing the logo at the correct url, which should fix the emails).

[2018-10-02 19:30] catarak commented on #649
@vertmo go for it!

[2018-10-02 21:27] shiffman opened #709 "accessibility issues: new file drag and drop contrast too low?"
In the "high contrast mode" on Mac OS (chrome browser) the instructions do not pass WCAG contrast tests:

![screen shot 2018-10-02 at 5 24 44 pm](https://user-images.githubusercontent.com/191758/46378047-69e03580-c668-11e8-8bd7-7dc045aeae9c.png)

[2018-10-02 21:35] shiffman commented on #709
Found another one! I think? The "errors" in the console:

![screen shot 2018-10-02 at 5 34 28 pm](https://user-images.githubusercontent.com/191758/46378415-816bee00-c669-11e8-8532-ddfe6b6af9db.png)

[2018-10-03 00:49] #677 closed

[2018-10-03 01:06] catarak commented on #709
thanks for reporting! i need to figure out what these colors should be.

[2018-10-03 06:51] Vertmo commented on #709
Moreover, in Dark mode, there doesn't seem to be anything written in the window (on Manjaro Linux, with Firefox):

![capture d ecran_2018-10-03_08-46-08](https://user-images.githubusercontent.com/24356589/46394318-15c96580-c6e9-11e8-88f9-d71dcf164d49.png)

After inspecting the element, it turns out the text is simply white (#fff). It should probably be #333, like in the light mode theme.

[2018-10-03 13:03] bhawesh96 commented on #689
This issue can be closed right?

[2018-10-03 14:52] Vertmo commented on #649
I think you should probably close this ^^

[2018-10-03 14:56] Vertmo commented on #692
I could work on this, if that's okay with everyone :) However, since I'm awful at design, if you have any directions regarding the header that should come with the full screen view, that would be really useful !

[2018-10-03 17:33] Rom194 commented on #709
And another one :
![capture d ecran_2018-10-03_19-32-03](https://user-images.githubusercontent.com/25200594/46428014-23133e00-c743-11e8-94ef-52735c62c485.png)
(On ArchLinux with Chrome Version 70.0.3538.35)

[2018-10-03 17:47] Janglee123 commented on #689
@bhawesh96 No , I just started working on it but if you want you can work on it

[2018-10-03 18:14] catarak commented on #681
@bhawesh96 i think that i agree—i think the behavior matches how a desktop code editor works, and i like that.

[2018-10-03 18:18] catarak commented on #649
@Vertmo thanks for the reminder! i guess the 'fixes #issuenumber' syntax only works if it's a commit message, not if it's in the title of the PR.

[2018-10-03 18:18] #649 closed

[2018-10-03 18:27] catarak commented on #709
thanks for reporting more issues!

[2018-10-03 18:33] Janglee123 commented on #709
and also on login page
![screenshot from 2018-10-04 00-01-53](https://user-images.githubusercontent.com/29702428/46431193-c88cd880-c768-11e8-90e2-e7b76e968008.png)

[2018-10-03 18:42] catarak opened #711 "Icon/text misaligned in console messages"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  69.0.3497.92 (Official Build) (64-bit)
- Operating System:  Mac OSX 10.13.4
- Steps to reproduce this:

<img width="710" alt="screen shot 2018-10-03 at 2 37 19 pm" src="https://user-images.githubusercontent.com/6063380/46431638-52fa1b80-c71

[2018-10-03 18:48] catarak opened #712 "Highlight matching brackets in code editor"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [X] New feature request

#### New feature details:
In the code editor, it would make it easier to debug code if when you have selected or have the cursor next to a bracket, it would highlight the matching one.

This is a feature built into CodeMirror. To add this feature, the steps are
1. Include the CodeMirror `edit/mat

[2018-10-03 20:48] #551 closed

[2018-10-03 20:51] catarak commented on #691
@MrT3chnik any updates on this?

[2018-10-03 21:32] catarak commented on #698
i started to work on this, following the instructions [here](https://github.com/jsbin/loop-protect#example-client-implementation), but keep getting the following error from Babel: `cannot read property 'registerPlugin' of undefined`. for some reason when i do `import Babel from '@babel/standalone';`, `Babel` is still undefined.

[2018-10-04 06:17] bhawesh96 commented on #689
@Janglee123 Alright, I'll do it.

[2018-10-04 06:30] bhawesh96 commented on #689
How should the behaviour be? Should the buttons be disabled upon reaching the extreme limits?
Need to handle the case when one enters a font size less than the minimum limit directly into the `<input>` field.

[2018-10-04 06:39] Janglee123 commented on #689
Can you make it disappeared at limits ? You can ask it to @catarak

[2018-10-04 06:41] Janglee123 commented on #712
@catarak I want to work on this

[2018-10-04 06:44] bhawesh96 commented on #712
https://codemirror.net/doc/manual.html#addon_matchbrackets

This might help.
@Janglee123

[2018-10-04 14:31] EthanHermsey opened #714 "Performance issue in web editor (frame freezing every second or so)"
Hello!

Since the editor stepped out of the alpha stage I have this weird performance issue.

With all sketches, even the most simple sketches, the editor kind of hangs and freezes every second of so. I only have this in the editor itself, when I open the same sketch 'fullscreen' (with the link in the share menu) it works fine.

I'm using chrome on a window 7 machine. I've attached a performance p

[2018-10-04 16:29] Rom194 opened #715 ""Cannot display JSHint error (invalid line 0)" on modification in editor"
There is the warning `Cannot display JSHint error (invalid line 0)` when we add or delete a char in the editor.

For more information on this error, there is a screenshot:
![capture d ecran_2018-10-04_18-26-15](https://user-images.githubusercontent.com/25200594/46488599-6a610380-c803-11e8-8751-aebea2301ac0.png)

[2018-10-04 17:36] #700 closed

[2018-10-04 17:37] catarak commented on #691
no worries, thanks for the update!

[2018-10-04 17:37] #691 closed

[2018-10-04 17:44] catarak commented on #689
@bhawesh96 i agree, i don't think making the buttons disappear is a nice UX! i think what should happen is that once a user has the minimum/maximum size selected, then clicking the -/+ buttons won't do anything. you could disable the buttons (only the - button for minimum value, only the + button for maximum value) too.

i also noticed that you can set the indentation amount to negative values too

[2018-10-04 17:59] bhawesh96 commented on #689
Disabling the buttons do not make the button _look_ disabled as `onHover` CSS remains. Hence, as a user, I might just keep clicking the button since I'm not being notified about the minimum / maximum value.

[2018-10-04 18:33] catarak commented on #714
thanks for reporting! the main difference between alpha vs the current release is in the hosting (i moved the app from an AWS EC2 instance to a Kubernetes cluster), so i don't think this would affect the performance in the browser.

i'm not super knowledgeable on making JS in the browser for performant tbh, so as much help as possible on that front would be great!

also, since this has come up a f

[2018-10-04 18:50] catarak commented on #715
thanks for reporting! i am able to reproduce. this would be related to displaying lint errors. not sure what's going on here!

[2018-10-04 18:51] catarak commented on #689
we could add a disabled style!

[2018-10-04 20:35] bhawesh96 opened #717 "Remove lint warnings"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Operating System: Linux 16.04
- Steps to reproduce this:
`npm run lint`

#### Work required:
Remove unused imports and variables.

[2018-10-04 21:54] catarak commented on #717
thanks for reporting! would be great to do this. i've gotten really good at ignoring them.

[2018-10-04 23:07] EthanHermsey commented on #714
You know what.. That does make a difference, in incognito mode the editor works fine.

I've tried disabling all my extensions, but that does not help. Is it the fact that they are installed?
I know the only thing I added recently is a developertools theme (accompanied by a chrome flag). I uninstalled that and referred the chrome flag, but that does not help.
What would you suggest? :s

Also, isn't

[2018-10-05 01:30] lmccart opened #719 "request status: 403 error when running old project with media"
A student in class noticed when she tried to run an [older project](https://editor.p5js.org/kay1997/sketches/ryNOISLie) that involved loading media and once ran correctly, this error came up:
[code]
Is there any fix for this? Or does she need to just re-upload all the media files?

Thanks!

[2018-10-05 03:02] cdncat commented on #717
I'll do this! :)

[2018-10-05 06:41] Leiyufazhuangjia opened #721 "Uncaught TypeError: this.class is not a function"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: 69.0.3497.100
- Operating System:
- Steps to reproduce this:Windows10
https://editor.p5js.org/leiyufazhuangjia/sketches/ry6z88Vcm
//I'm trying to change the 'class' attribute of some DOM element in sketch.js.
//when i mousePressed any p labe

[2018-10-05 19:07] slowizzm commented on #721
https://editor.p5js.org/slow_izzm/sketches/rkkXU4rc7

[2018-10-05 19:33] catarak commented on #719
I think this is a lingering error from when I moved all of the files uploaded to S3 to a new bucket, and the access permissions all changed. I will see if I can fix this!

[2018-10-05 19:35] #717 closed

[2018-10-05 19:55] catarak commented on #721
@Leiyufazhuangjia thanks for reporting! this is actually an error with your code. in the function `be_nature`, because it's defined in the global scope, `this` refers to `window`. There are two different ways to fix this:
1. Pass the `p` element to the function `be_nature()` as an argument.
2. When calling be_nature(), bind it to the scope of the `p` element, i.e. change  `p.mousePressed(be_nature

[2018-10-05 19:55] #721 closed

[2018-10-06 14:16] slowizzm opened #722 "Feature Request: Instructor mode (comments)"
I would like to see a type of "instructor mode" implemented someday, a way to give instructors access to leave comments in the editor similar to the way Google Docs does commenting, only viewable to the student and instructor.

[2018-10-07 12:38] shiffman commented on #721
I just looked at this and it's a bug in the p5.dom library! @Leiyufazhuangjia You should go ahead and file an issue here: https://github.com/processing/p5.js/issues

@catarak The dom library is actually supposed to bind the DOM element for you behind the scenes.

@Leiyufazhuangjia Two things that would be helpful for your bug report.

1. Your code actually works as of p5 version 0.6.1.

2. When po

[2018-10-07 14:07] Leiyufazhuangjia commented on #721
@shiffman  Thanks for reply! i'm totally new learning programming.I'll file the issue,.
Before the bug fixed, i think the bind function is a good alternative way to code in p5 web editor right?

[2018-10-08 16:57] catarak commented on #722
oooh, cool idea! i'm curious as to whether it makes sense to add a feature like this to the editor, or work on integration with existing tools. for example, working on #542 so that other services such as google classrooms can work well with the editor. still open and exploring this space!

[2018-10-08 16:59] catarak commented on #721
i didn't realize that the dom library is supposed to bind behind the scenes for you, and this is a bug in `p5.js`. for now, yes, `bind` is a good alternative, or using an earlier release of p5!

[2018-10-08 17:15] #712 closed

[2018-10-08 17:45] edhebert opened #723 "Fr"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

Hi!

I'm assembling a syllabus for Spring semester, for an introductory programming course. I'm hoping to direct students to the P5 editor for most of their work this year. I noticed, however, that the P5 "friendly error system" is disabled by default on the P5

[2018-10-08 17:51] catarak commented on #723
thanks for reporting this! this is covered in #417, and i can prioritize working on it.

[2018-10-08 23:57] Laphatize commented on #722
I think this would be a really cool feature, I can definitely see schools using this!

[2018-10-09 01:40] kylemcdonald opened #724 "Granting permissions"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

I noticed that when you sign up for the editor, it says that you are authorizing @catarak. I know who this is, but I'm not sure everyone does, and I can imagine it raising suspicion for some people. I would feel more comfortable giving permission if there was an official Processing or p5.js GitHub account ass

[2018-10-09 13:58] catarak commented on #724
thanks for reporting! this is a good call, and i bet i can move this application to the processing foundation github account..

[2018-10-09 14:04] shiffman commented on #724
Happy to help with this on the Processing Foundation side if I can!

[2018-10-10 15:31] TheV360 opened #725 "Exponentiation operator shown as error when used."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
When I try to use the [exponentiation operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Exponentiation_(**)), it says it's an error.

- Web browser and version: Firefox 62.0.3
- Operating System: Windows 10
- Ste

[2018-10-10 16:00] Janglee123 opened #726 "New Folder can be created without name"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Firefox 62.0.3 (64-bit)
- Operating System: Solus 3.9
- Steps to reproduce this:
1.Right-click on project folder
2.Select add folder
3.Click on Add Folder without typing name

[2018-10-10 19:07] catarak commented on #725
Thanks for reporting! This has to do with the JSHint configuration in the Editor component. Basically, JSHint doesn't currently support ES7, which includes the "**" operator, but this will be included in the [next release](https://github.com/jshint/jshint/pull/3060). I've been trying to find a way that it would show the error, but I can't figure that out.

[2018-10-10 19:11] catarak commented on #726
Thanks for reporting! This should be as simple as adding some form validation.

[2018-10-10 20:57] Vertmo commented on #542
Is the API being worked on right now ? That's seems like a bit of work, so it should probably be split in several parts; I'll start looking into it anyway ^^

[2018-10-10 21:40] #715 closed

[2018-10-10 21:44] catarak commented on #542
You're right, this is a huge issue! I think a good first step would be dividing this into smaller issues, figuring out all of the steps that would need to go into this. We can discuss on this issue!

[2018-10-10 21:48] catarak commented on #724
@shiffman i just sent a request to @processing to transfer the application.

[2018-10-10 22:12] vanevery opened #727 "Images load in Editor window but not in fullscreen view"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
When loading images added to the editor, they function in normal editor view but aren't loaded by Chrome in full screen view.  Things seem to work fine with one image but as soon as they are loaded in a loop, there is an issue.

Chrome gives this error:
Redirect from

[2018-10-10 22:13] shiffman commented on #724
Yay! I think someone approved already before I got to the request. . is it set now?

[2018-10-10 22:18] catarak commented on #724
it's no longer in my account so i assume so. i think i have to create a new github account to test this...

[2018-10-10 22:21] catarak commented on #724
just tested, it works!

[2018-10-10 22:21] #724 closed

[2018-10-10 22:29] catarak commented on #727
thanks for reporting! will look into this...

[2018-10-11 06:41] Vertmo commented on #542
Ok, so the first thing would be to allow registered users to add API keys via their user settings, and of course store them in the database.
Then we will need to define secure authentification for the API (maybe we should use an already existing library).
We could then define two endpoints :
* `/<username>/upload` to upload a single sketch
* `/<username>/batch-upload` to upload several
Of course,

[2018-10-11 11:35] Janglee123 commented on #681
@catarak  I want to work on this but can not find where to start, can you help me ?

[2018-10-11 16:52] ns23 commented on #726
Hello, can i work on this issue ?

[2018-10-11 17:33] catarak commented on #726
@ns23 yes!

[2018-10-11 18:06] ns23 commented on #726
Thank you. I will fork the repo and set up local environment first.

[2018-10-11 18:16] catarak commented on #681
Sure! If you look at the [input for a file in the sidebar](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/FileNode.jsx#L138), when a user blurs the input (i.e. clicks out of it or hits enter), it calls a function called [validateFileName()](https://github.com/processing/p5.js-web-editor/blob/master/client/modules/IDE/components/FileNode.jsx#L51), which dis

[2018-10-11 18:20] catarak commented on #726
@ns23 I recently updated the developer documentation and changed the instructions for setting up your local environment, so if you run into any issues or have any feedback, feel free to open an issue!

[2018-10-11 18:36] catarak commented on #542
The first part is covered in #541!

My starting point for figuring out what API endpoints should be is, surprisingly, [a fairly old Rails guide](https://guides.rubyonrails.org/routing.html). Therefore, I think the endpoint for uploading a new sketch should be POST `/<username/sketches`. Which is the same as what the editor currently uses. Maybe for multiple sketches, it could be the same endpoint,

[2018-10-11 19:03] ns23 commented on #726
Sure

[2018-10-11 20:45] catarak commented on #542
- Not sure if these reasons make sense, but this is what I was thinking about with respect to separating the front end and the API:
  - Code-cleanliness/organization. It would be kind of nice to have one app that just handles rendering the front end, and one that does data stuff. It seems like that is what "real web applications" do. Maybe it's not broken and doesn't need to be fixed.
  - Deployme

[2018-10-11 20:49] Vertmo commented on #542
* Well I know nothing at all about DevOps, so your guess is probably better than mine !
* I'll do a bit of research about all of that, and I'll come back to you as soon as I have a good idea of how we can do things.

Also ! (and this is kind of unrelated to the issue, but I don't know where to talk about this) I'll be hosting a Hacktoberfest event Saturday, so I'll try to send students this way (a

[2018-10-13 13:01] ns23 opened #729 "npm start gave fail to compile error."
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System: Ubuntu 18.04
- Steps to reproduce this:

After cloning the repo and making changes to the .env file, When I ran `npm start` code failed to compile and I got following error
![error](https://user-images.githubusercontent.

[2018-10-14 11:50] Vertmo commented on #541
So, if that was not clear from the other issue where this was references, I'm working on this !

[2018-10-15 22:21] molleindustria commented on #727
Great job with the web editor.

Unfortunately I have to report the same issue. Some sketches can't load external assets on fullscreen. I have issues reproducing it but it also seems like the links to some resources are being rewritten without the s in https

VM49:1 Mixed Content: The page at 'https://editor.p5js.org/full/BJkTOFMoQ' was loaded over HTTPS, but requested an insecure resource 'http://

[2018-10-16 02:49] ns23 commented on #729
I will check my  `.eslintric` file and will give an update

[2018-10-16 17:16] catarak commented on #727
just tested both of these sketches and it seems to be fixed. let me know otherwise!

[2018-10-16 17:16] #727 closed

[2018-10-17 18:27] catarak opened #733 "When embedding a sketch on a website using an iframe, the media does not load."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Chrome 69.0.3497.100
- Operating System:  Mac OSX 10.13.4
- Steps to reproduce this:

1. Create a sketch that loads images, video, etc.
2. Save it, copy the "Embed" URL/tag in the Share
3. Paste the embed code into another website, e.g. a b

[2018-10-17 19:41] #680 closed

[2018-10-18 00:32] slowizzm opened #734 "Updating assets"
- [x ] Existing feature enhancement

Instead of adding a `-#` to the end of a file that is being re-uploaded (or more specifically a file that has the same name as an existing file in the project), it would be nice if it would just overwrite that existing file.

[2018-10-18 17:59] catarak commented on #734
thanks for reporting! i think it would be confusing if it just overwrote the old asset. however, maybe this can function like in an operating system—the editor could show an alert, asking if the user wants to overwrite the file or keep both.

[2018-10-18 18:10] #692 closed

[2018-10-18 21:03] slowizzm commented on #734
Yes, I agree. An alert would be best to prevent user error.

[2018-10-19 19:31] #733 closed

[2018-10-19 21:54] Vertmo opened #735 "Mistake with #713"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
Hi ! It's me again. I unfortunately made a small CSS mistake during my work on #713, which causes a useless scroll bar to appear on the `/full/` page. I'll be correcting that quickly.

[2018-10-19 21:55] catarak commented on #735
thanks for finding this (and fixing this very soon)!

[2018-10-20 12:30] yonghuming opened #737 "bug in drawing arc"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: chrome latest
- Operating System: windows10
- Steps to reproduce this:

![image](https://user-images.githubusercontent.com/435079/47255616-b1f3ba80-d4a6-11e8-9e74-154dfcd32d8b.png)
i want to demostrate how the stop parameter of arc() functi

[2018-10-20 12:30] yonghuming commented on #737
https://editor.p5js.org/yonghuming/sketches/Syz26udsX

[2018-10-20 12:33] yonghuming commented on #737
but similar code in processing.py work well
![image](https://user-images.githubusercontent.com/435079/47255673-6ab9f980-d4a7-11e8-8f8a-ec552c6cb375.png)

[code]

[2018-10-20 12:46] yonghuming commented on #737
![image](https://user-images.githubusercontent.com/435079/47255836-24fe3080-d4a9-11e8-9883-03572ab01830.png)

[2018-10-21 15:33] nopivnick commented on #704
@catarak

I vote for alphabetical order, at least as the initial feature. it's easy enough to edit file names to force order and I assume alphabetical order is quicker to implement.

[2018-10-21 16:11] Felixpaulsen commented on #704
@nopivnick that would at least be a good temporary solution.

[2018-10-22 17:00] catarak commented on #704
I'm not even sure that alphabetical would be faster than a fixed, rearrangeable order. So really, I'm curious which is more desirable.

[2018-10-22 18:04] Felixpaulsen commented on #704
I think rearranging is more important than alphabetical. Just my opinion though.

[2018-10-22 18:59] #735 closed

[2018-10-22 19:17] catarak commented on #737
@yonghuming thanks for reporting! this repository is for reporting issues with the web editor, and not p5.js. it seems to me like you're reporting an error with p5.js, which would go [here](https://github.com/processing/p5.js/issues).

However, I took a look at your code, and I think there's an error. If you look at your calculation for x and y
[code]
Here, this assumes that the length of the hypo

[2018-10-22 19:17] #737 closed

[2018-10-22 19:41] #726 closed

[2018-10-22 21:33] catarak commented on #662
hopefully will be fixed by #698

[2018-10-22 22:01] catarak commented on #543
this has been fixed ✨

[2018-10-22 22:01] #543 closed

[2018-10-22 22:03] catarak commented on #729
closing since i can't recreate this!

[2018-10-22 22:03] #729 closed

[2018-10-22 22:05] catarak commented on #723
going to close this issue since it's a duplicate!

[2018-10-22 22:05] #723 closed

[2018-10-22 22:12] catarak commented on #640
i'm not able to reproduce error (just tried changing my node version and it was totally fine), so i'm going to close this ticket.

[2018-10-22 22:12] #640 closed

[2018-10-22 22:18] #275 closed

[2018-10-22 22:20] #310 closed

[2018-10-23 00:41] nopivnick commented on #704
custom ordering hands down.
On Mon, Oct 22, 2018 at 2:05 PM Felixpaulsen <notifications@github.com>
wrote:

--
Noah Pivnick
+1 (917) 579-0534

[2018-10-23 15:01] rchrdlln opened #738 ""Script error. (: line 0)" in Chrome"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:

Google Chrome | 67.0.3396.87 (Official Build) (64-bit)
-- | --
Revision | 878cd31214ac27a3996927cd5c9c138b10c9fc8d-refs/branch-heads/3396@{#771}
OS | Mac OS X
JavaScript | V8 6.7.288.46

- Steps to reproduce this:

Mayb

[2018-10-23 15:55] catarak commented on #738
thanks for reporting! i just tried copying and pasting your code and let it run for a bit, but i'm not able to reproduce. could you try creating a new sketch and doing the same thing? could you also try running the sketch in an incognito window, because maybe it's one of your Chrome extensions?

[2018-10-23 20:07] catarak opened #740 "if a plaintext file name appears multiple times in a sketch, it will not load properly"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:  Chrome
- Operating System:  OSX
- Steps to reproduce this:

Here's an example sketch that breaks it. It's not working because "flower.json" is in a comment above! https://editor.p5js.org/son/sketches/SkrSIphsQ

This is using a regex and may

[2018-10-23 20:07] #740 closed

[2018-10-24 05:13] dhowe opened #741 "BUG: Incorrect loop counting with specific line break"
Compare the two text outputs in the program below (which should be the same). The first is 6, the second 7, depending on whether there is a line break or not. This is incorrect, and does not happen with p5.js outside of the web-editor.

[code]

[2018-10-24 17:38] catarak commented on #741
thanks for reporting! i think this has to do with the use of the `loop-protect` library (see #698), which needs to be updated. there are hopefully other ways to structure your code to avoid this!

[2018-10-24 20:27] catarak opened #742 "Sign up form doesn't validate username uniqueness"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

I noticed that in the web editor logs, the node application has been crashing because of an attempt to create a new user with an existing username. In the sign up form, there should be validati

[2018-10-24 21:33] slowizzm commented on #674
This may need to be re-opened.

I have no issues with preload() in safari or firefox, but on Chrome 70 on macOS (High Sierra) preloads hangs on loadImage and never loads.

https://editor.p5js.org/slow_izzm/sketches/r1OcQ45om

[2018-10-24 23:12] catarak commented on #674
@slowizzm thanks! i'll try updating chrome and see if i can reproduce.

[2018-10-25 00:45] slowizzm commented on #674
thank you ... looks like you fixed it, it's working as expected now.

[2018-10-25 04:00] dhowe commented on #741
of course none of this code is properly-written, but it is still pretty inexplicable to a student as to why this happens, after we've discussed how lines break shouldn't matter

[2018-10-25 13:27] peterkvt80 opened #743 "print() breaks sketch"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### (duplicate of bug 618) If you have an empty print() statement inside draw(), then it puts up a print dialog. If you dismiss it, then it will just put up another dialog and you can't get back to your sketch.

It is a problem if you happen to type in print() first before filling in the parame

[2018-10-25 16:32] catarak commented on #743
thanks for reporting! in p5, if you use `print()` with no arguments, it opens the print dialog. this is because `print()` is a feature of all browsers—it's supposed to bring up the print dialog. if you put it in the draw loop with no arguments, the reason it keeps appearing is because the draw loop is running 60 times a second, and therefore launches the print dialog as soon as you closed it. i ca

[2018-10-25 16:32] #743 closed

[2018-10-25 17:53] catarak commented on #741
i hear that! i can add some priority to working on #698.

[2018-10-25 17:54] catarak commented on #698
switching this to high priority—seems like it's causing a lot of bugs and frustration.

[2018-10-25 17:55] MysteryBag opened #744 "Line of text causes chrome browser to go unresponsive"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

Hi I'm new to programming and I'm currently learning JavaScript with p5 and was messing with different 'while' and 'for' loop statements and I found a line of code that causes the chrome browser tab that the web editor is open to go unresponsive on windows 10 when it

[2018-10-25 18:09] catarak commented on #744
thanks for reporting! this line of code creates an infinite loop. the online editor contains a library to catch infinite loops and prevent the page from crashing, however, the library needs to be updated (see #698).

just fyi, there is an error here in how your code is structured. there are two things wrong here:
1. `mousePressed = true`: the `=` operator is for assignment, which means that this e

[2018-10-25 18:12] catarak commented on #674
i think there's sometimes an issue loading assets from S3, which comes up unpredictably.

[2018-10-25 18:45] MysteryBag commented on #744
Thanks for your detailed response and for explaining the difference between those two operator is used.

[2018-10-25 20:13] catarak commented on #478
because of user confusion, we decided to switch the editor to HTTPS only. this means that embedded p5.js sketches will only work in HTTPS.

[2018-10-25 20:13] #478 closed

[2018-10-25 20:18] catarak commented on #485
not relevant anymore since the whole site is https!

[2018-10-25 20:18] #485 closed

[2018-10-25 20:22] catarak commented on #638
i did this! i set up ci/cd using travis, docker, kubernetes, and mlab. any push to master automatically redeploys. it's awesome.

[2018-10-25 20:28] catarak commented on #481
going to close this as a duplicate of #480, still investigating though!

[2018-10-25 20:28] #481 closed

[2018-10-25 20:32] catarak commented on #562
i'm going to close this as a duplicate of #480, and outline some steps on that issue of possible fixes. removing whitespace!

[2018-10-25 20:33] #562 closed

[2018-10-25 20:48] catarak commented on #480
Some possible stuff to try:
- [ ] update database, and trim all whitespace from usernames and email addresses
- [ ] on sign up, don't allow any whitespace in username, email, or passwords
- [ ] trim whitespace on login, only at the end of username or email, not on passwords

[2018-10-25 20:52] catarak commented on #637
i'm going to close this as a duplicate under #480, but it is definitely a priority to fix this!

[2018-10-25 20:52] #637 closed

[2018-10-25 20:56] catarak commented on #676
this has not yet been fixed, but i'm going to mark this as a duplicate under #650.

[2018-10-25 20:56] #676 closed

[2018-10-25 21:06] catarak commented on #714
closing this, as it seems unclear where the issue is here. feel free to reopen if it comes up again or is a major blocker!

[2018-10-25 21:06] #714 closed

[2018-10-25 21:09] catarak commented on #744
i'm going to close this as a duplicate under #698. when that ticket is fixed, this one will be!

[2018-10-25 21:09] #744 closed

[2018-10-25 21:15] catarak commented on #694
i'm going to mark this as a duplicate and close it, for the sake of ticket organization, but this is not fixed yet, and will be fixed by #698.

[2018-10-25 21:15] #694 closed

[2018-10-25 21:21] catarak commented on #616
i have done this 🌈

[2018-10-25 21:21] #616 closed

[2018-10-25 21:23] #573 closed

[2018-10-25 21:29] catarak commented on #522
i think this could be expanded a bit:
- [ ] slugified sketch names should have a length limit
- [ ] if a user changes the name of the sketch, what should happen? should the slug change? should it not change? should it be like wordpress in which the user has to manually re-generate the slug?

[2018-10-25 21:32] catarak commented on #472
i'm going to merge this under #480 in an effort to clean up the tickets. fixing this is a high priority!

[2018-10-25 21:32] #472 closed

[2018-10-25 21:37] catarak commented on #455
just tested this, this has been fixed. `loop-protect` will be updated by #698 since the current version is causing issues.

[2018-10-25 21:37] #455 closed

[2018-10-25 21:45] catarak commented on #427
this has been fixed with the new console implementation!

[2018-10-25 21:45] #427 closed

[2018-10-25 21:57] catarak commented on #468
this has mostly been fixed, except for the file not found error. not sure why that's not getting to the console!

[2018-10-25 22:04] #516 closed

[2018-10-25 22:18] catarak commented on #702
the full screen issues have been fixed by #692. i'm going to turn this into a feature enhancement suggestion to add qr codes!

does anyone have any insight as to how much QR codes are used?

[2018-10-26 21:05] TheV360 opened #745 "Pressing end doesn't scroll all the way to the end of a line"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Firefox 63
- Operating System: Windows 10 1803
- Steps to reproduce this:
1. Make file with a very long line of code that doesn't fit on the screen.
[code]
2. On the long line of code, press End.
3. You'll see that while the cursor moved to

[2018-10-27 12:32] anaplian commented on #742
I'd like to take a look at this :slightly_smiling_face:

[2018-10-28 00:58] sepans commented on #502
I started working on adding unit tests before seeing this issue so apologies for not communicating it here beforehand.

Would love to know your feedback.

[2018-10-28 11:35] skavanker commented on #655
The sound bug happens to me to on this sketch.

https://editor.p5js.org/skavanker/sketches/BkEuvwzn7

I don't know why this would have anything to do with email address, but I did created an account with a google account and then it sets the user as the email.  then you can change username in settings.

The problem is only there when I'm logged in on, and both in Firefox and Chrome. It also persis

[2018-10-28 22:28] catarak commented on #655
super weird! can you try opening the JavaScript console and pasting any errors here?

[2018-10-29 16:48] catarak commented on #655
actually. before that, can you see if you have any of the accessibility features turned on? click on the cog icon -> accessibility -> make sure everything is unchecked.

[2018-10-29 17:03] skavanker commented on #655
Yes....sound was enabled in accessibility tab. That fixed my problem. Can't remember I turn it on but I must have. (any shortcuts to turn it on?) Anyway, thanks for the help.

[2018-10-29 17:09] catarak commented on #655
I don't think so, but it seems like lots of folks are accidentally turning them on.

[2018-10-29 19:31] digitalfrost opened #748 "Add FAQ link to Help & Feedback Drop-down"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

In the **Help & Feedback** drop-down an FAQ link should be added.

This should link to a documentation page describing common gotchas. For example, how to use external resources.

Such a link will be better for users and will also avoid "polluting" the p5.js doc

[2018-10-29 21:47] catarak commented on #748
I like this idea! I made a video that goes through how to do stuff like this in the web editor, and Dan Shiffman made some too, so at the very least we could link to those.

[2018-10-29 23:33] #742 closed

[2018-11-01 18:51] joeyklee opened #749 "Console.log in Project.js logs user data to console in client"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:
Need to remove the console log in the client project.js of the IDE to prevent logging to the console. I will submit a PR in a second :)

#### New feature detai

[2018-11-01 18:59] #749 closed

[2018-11-02 12:07] dhowe commented on #417
I really can't imagine why we not using the friendly error mechanism by default in the online editor (including p5.js rather than p5.min.js). This seems the place where it would be most useful of all (perhaps with an option to disable for the few advanced users still using the editor who happen to need higher performance)? Multiple times per week I see sketches like below fail silently for new use

[2018-11-04 05:43] joemckay5 opened #751 "Lost insertion point when clicking on curly brackets."
This is a trivial issue, but it's probably an easy fix too. When I click on a curly bracket the formatting shows the partner to that curly, which is awesome, but the insertion point goes away, so I lose where I "am".  That sounds a lot more existential than it really is, but it's still worth fixing I think.

[2018-11-04 16:17] kylemcdonald opened #752 "Multiple "Add File" creates multiple names for single file"
Found a bug, Chrome70.0.3538.77 on macOS

1. Go to [editor.p5js.org](editor.p5js.org)
2. Open the side bar
3. In the dropdown click "add file"
4. In the "Name" field type "file1.txt" and click "Add file" button
5. In the "Name" field type "file2.txt" and click "Add file" button
6. Close the "Add file" dialog
7. Click "file1.txt"
8. Type "hello, world" and save the file.
9. Click on "file2.txt"

Ex

[2018-11-05 09:53] kylemcdonald opened #753 "Git import/preview"
I have a new feature request :)

I just taught a workshop with the p5.js editor. Usually I teach this workshop in 6 hours but the editor made it possible for me to teach it in 3 hours, due to the quicker setup time. It makes a huge difference.

The big difficulty in preparation for me was in uploading all my content to the editor.

Here are the examples I wanted to upload: https://github.com/kylem

[2018-11-05 17:33] catarak commented on #751
thanks for reporting! i have noticed this as well. i spent some time trying to figure out how to fix this, by bringing the cursor to the front of the outline, but i couldn't figure it out. i think the solution here is just to change the styling, where the matching brackets get just an underline rather than a whole outline.

[2018-11-05 17:49] catarak commented on #752
thanks for reporting! i just tried doing this a few times and i wasn't able to reproduce. trying to think of what else could be at play here...
- is this a brand new sketch?
- are you logged in?

[2018-11-05 17:50] catarak commented on #645
yeah this is super confusing! i added this issue to the current milestone so it should be fixed relatively soon.

[2018-11-05 17:52] catarak commented on #375
i agree, this is confusing! i'd like to prioritize working on this, going to add it to the current milestone.

[2018-11-05 18:03] catarak commented on #753
i have also run into this issue wrt teaching! one approach to this problem i've been thinking about is API access, i.e. #541 and #542. however, this issue is making me think there's another approach, which would be tight github integration. i like this idea of seamlessly linking everything, though i have no idea how technically feasible that would be. another approach would be a simple way to uplo

[2018-11-05 19:40] joemckay5 commented on #751
Processing solves the problem by only putting a box around the curly bracket that the cursor is not next to (if that makes sense). So there is only one box. It seems to be fairly intuitive, but maybe that's just because I'm so used to the processing interface. Could that be possible in p5?

[2018-11-05 19:58] catarak commented on #751
the codemirror editor adds the same css class to the matching brackets, so i don't think there's a way to highlight only one of them.

[2018-11-06 02:29] Rozanova opened #754 "QR code for p5js"
#### New feature details:
I'd like to suggest a QR code for p5js so that we can easily test sketches on our phones that have accelerometers in them. Right now if i want to text a sketch I have to use TinyURL. It's not terrible but would be nice if a QR code was available

[2018-11-07 00:46] lmccart commented on #719
here's one more with the same problem: https://editor.p5js.org/Bella/sketches/BkDE56r7e

[2018-11-07 05:48] LakshSingla commented on #751
I would like to work on it, but I am unable to understand the issue at hand. What I inferred was that if you click on a curly bracket, the cursor moves to that curly instead of staying at its position which we need to fix. Am I correct ?

[2018-11-07 05:52] LakshSingla commented on #751
I would like to claim this issue. What I inferred was that sometimes, on clicking the curly bracket, hides the text insertion cursor (which needs a fix).

[2018-11-07 19:11] catarak commented on #751
@LakshSingla i don't think there's a way. i think for now a good approach would be to change the design!

[2018-11-07 20:07] #751 closed

[2018-11-07 21:34] catarak commented on #754
thanks for the suggestion! this has already been captured in #702, so i'm going to close this ticket, and change the priority on that ticket.

[2018-11-07 21:34] #754 closed

[2018-11-08 03:16] dhowe opened #758 "Feature request: Add file or folder from menu"
Not sure if this is addressed elsewhere, but I couldn't find it so here goes...

In my experience students have a very hard time finding the current add-file/add-folder interface which now requires 3 clicks, two of which are on unlabelled '>' arrows. I know a drag/drop UI is in the works, but is there a reason not to also add this as a menu option, either under File or Sketch?

[2018-11-08 13:28] LakshSingla commented on #734
@catarak @slowizzm What are the different ways in which one can add files ? Are there any other ways than clicking on the project name to reveal the add file/folder dropdown ?

[2018-11-08 13:53] LakshSingla commented on #734
@catarak I would like to work on this issue. Can you please help me with which functions needs refactoring. Also, the only method I know to add a file in the ide is to click on the new file or new folder dragdown, in the sidepane. Are there any other methods to achieve it?

[2018-11-08 14:02] slowizzm commented on #734
Yes, that is the only method I know of to upload files. I have also noticed that you can only upload 6 files at a time.

[2018-11-08 17:53] LakshSingla commented on #734
@catarak @slowizzm I found the redux action responsible for producing the unique filename. Is there any pre existing modal I can reuse for issuing the warning?

[2018-11-08 19:04] catarak commented on #758
I like that idea!

[2018-11-08 19:32] catarak commented on #734
yeah! i would use the component `client/modules/App/components/Overlay.jsx`. Maybe it would make sense for the overlay to have a few buttons which say "Keep Both", "Replace", "Cancel", and then the "X" would also cancel.

[2018-11-09 13:33] slowizzm commented on #702
@catarak Though I rarely use qr codes, I did add one to a flyer for my creative coding class I am teaching next semester that points to a full screen interactive mobile sketch. Beyond this use I don’t see any other reason for a qr code feature, but obviously when I want to generate one it would be nice to have the editor generate one for me.

[2018-11-09 17:08] catarak commented on #702
@slowizzm good to know!

[2018-11-09 17:57] kylemcdonald commented on #752
* it was a new sketch (the first thing that appears when i go to https://editor.p5js.org/
* i was logged in

i just tried to reproduce it and it isn't happening now. i made sure to do it a few times before writing the steps above (closing and reopening the site each time), so i know it was wrong before... but glad to see it's not happening now :)

[2018-11-09 17:57] #752 closed

[2018-11-11 12:54] bhawesh96 commented on #745
As far as I could figure out, it has to do something related to the `.CodeMirror-scroll` class in `_codemirror.scss` file.

[2018-11-11 15:09] shiffman opened #760 "userid is email when signed up with google"
This is likely a duplicate of #655 but I thought I would file separately since there are other bugs discussed in that issue. At creative coding fest, we noticed that if a user signs up with their google account, their username is their e-mail. This is fine for logging in, but it ends up in the path of their sketch which is a privacy concern.

[code]

Perhaps there is a way we can allow a user to s

[2018-11-11 15:16] shiffman opened #761 "console.log p5.Table p5.TableRow"
Also found at Creative Coding fest!

- Existing feature enhancement
- tested on chrome Version 67.0.3396.87 (Official Build) (64-bit), mac os X

See: https://editor.p5js.org/icm/sketches/HyK88pH6Q

[code]

The p5 web editor console prints a `p5.Table` and `p5.TableRow` object as follows:

![screen shot 2018-11-11 at 10 13 50 am](https://user-images.githubusercontent.com/191758/48314664-83936780-e5

[2018-11-12 05:29] francisli commented on #448
@sofian @catarak I've just updated my PR to make this static mode implementation an environment variable setting, for your consideration. If the environment variable is not defined or otherwise not set to 'true', then the editor will be in its original implementation. If STATIC_MODE_ENABLED=true is set in the environment, then the default sketch will be empty, and the handler for the code will be

[2018-11-12 07:32] dhowe commented on #417
How about just defaulting to the non-minified p5.js for now? Not sure, but I think it is [this line](https://github.com/processing/p5.js-web-editor/blob/f4ff0b1c34172bec71cc33c093d3620a92815760/client/modules/IDE/reducers/files.js#L16)

[2018-11-12 14:29] shiffman commented on #448
I'm really enjoying this discussion! This is such a tricky one that we have gone around and around on with p5.js since the beginning! One thought is that if we do decide to include support for a "static" mode that maybe we alter the code if the user selects "download" to wrap everything in `function setup() {}`? Could also even crazily provide a warning if the user does select all and copy? With P

[2018-11-12 17:07] lmccart commented on #417
@dhowe I think one concern was that this significantly slows things down performance-wise and might give a slow first impression of the library. but I may be misremembering.

[2018-11-12 22:11] catarak commented on #745
@bhawesh96 thanks for looking into that!

[2018-11-12 22:13] catarak commented on #760
thanks for reporting! yes, agreed, it would make sense for the username to not be an email address.

[2018-11-12 22:15] catarak commented on #761
i think this has to do with how the `console-feed` library serializes console messages. even though this library works really well, it's not well documented and @shinytang6 and i have definitely missed some obvious stuff like this. i actually think this is pretty easy to fix! will investigate...

[2018-11-12 22:35] catarak commented on #448
would it make sense for this to be a sketch preference? the way this is handled in other in browser text editors is a "template". or maybe, when a user is creating a new sketch, they could select the type of new sketch? i think using an environment variable is a solution that works, but in the case of editor.p5js.org, it would be propagated to all registered users.

[2018-11-13 02:19] francisli commented on #448
@catarak @shiffman so, the way this is implemented in the editor is exactly how you describe- I check if a ```function setup()``` has been defined in the main sketch.js file, and if not, I wrap all the code into the setup function JUST before it is injected into the preview. I can look in to doing this for download as well, but I'm wondering if maybe we're going too far into the weeds for this as

[2018-11-13 14:23] LakshSingla commented on #758
@catarak I have added the New File and New Folder option in the Navbar. Please review the changes

[2018-11-13 16:52] catarak commented on #448
@francisli i hear you! i'm just trying to figure out what would make sense for other folks in the same position as you. given that this feature is only turned on with an environment variable, i think it would be okay to merge in your PR for now, but to me it does not feel like a long term solution, though i'm not sure what that looks like.

[2018-11-13 21:46] catarak commented on #448
just an update, i'm having a hard time making a decision about this. i don't think that static mode should be turned on implicitly in the web editor, because p5.js is used in so many contexts outside of the web editor. whereas with processing, 99% of folks use the processing ide. my worry is teaching folks how to do something "the wrong way" and then having to unlearn it. maybe this is not as bad

[2018-11-14 06:39] lmccart opened #764 "P5 Web Editor won't preview any sketches"
_From @msgarnier on November 13, 2018 21:36_

#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were y

[2018-11-14 08:02] LakshSingla opened #765 "Allow adding nested files and folders in `Add File` and `Add Folder` modal"
#### Nature of issue?

- [ ] Found a bug
- [] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:

[2018-11-14 13:51] shiffman commented on #764
Tagging @mithru in case this a p5.accessibility bug?

[2018-11-14 17:42] NotACat commented on #764
Is this the same issue as #738?

[2018-11-14 18:02] msgarnier commented on #764
Not sure. In this case it won't run the sketch at all, the error shows up immediately, and it is the same for any sketch that user is trying to preview through the web editor. What's really puzzling about it is it is intermittent, and affecting different users at different times and locations. It was happening to me in a certain building yesterday, I went home and it wasn't happening, and is not h

[2018-11-14 19:32] catarak commented on #765
I think this is a great idea! I'm not sure how to handle the case if the folder name is not already present, though I just checked how Visual Studio Code handles this, and it automatically creates the folder(s) for you.

[2018-11-14 19:37] catarak commented on #764
@msgarnier make sure that the accessibility features are off, by clicking on the cog wheel icon, clicking on the tab "Accessibility" and unchecking the boxes under "Accessible text-based canvas". if you are still seeing it after doing that, let me know.

[2018-11-14 20:41] francisli commented on #448
My sense is that by the time someone is interested/capable of bringing their sketches outside the editor into their own hosted websites, they will have long progressed past static mode and understand and know about the setup() and draw() functions. Remember that you can't do any animation or interaction in static mode, so it really is only going to be for the earliest stages of learning.

[2018-11-15 19:37] #758 closed

[2018-11-15 20:56] catarak commented on #761
unfortunately my fixes cause the console to stop working in prod, even though it was working locally 😠

[2018-11-15 21:41] #761 closed

[2018-11-15 21:42] catarak commented on #761
turns out it was working but it was a caching error. woohoo!

[2018-11-17 04:29] LakshSingla commented on #765
@catarak I would like to start work on this issue. If anyone has claimed it, please lemme know, so that we are both not working on overlapping things.

[2018-11-19 03:11] runemadsen commented on #174
I am teaching a class on repetition this week, and the `//noprotect` warning was triggered in almost every example we did in class. On top of this, every student has `//noprotect` in their code when submitting homework.

Given that this is to prevent the users browser from triggering an endless loop and that it won't bog down your server, why isn't this set much, much higher? `500ms` seems very ag

[2018-11-19 21:54] fronofro commented on #618
This is still causing me some issues. Using `print()` with undefined values creates an infinite loop of print dialog boxes from the browser that you cannot stop if it is in the draw function.

If you saved your work prior to running it you can hit back on the browser and then re-open the file and change it before running. I accidentally typed `print()` and it was not an ideal experience. Maybe thi

[2018-11-19 22:45] catarak commented on #765
@LakshSingla as far as i know, no one is working on this!

[2018-11-19 23:02] catarak commented on #174
@runemadsen no reason in particular! the default for the `loop-protect` library is `100ms`, so i thought it made sense to keep it close to that number. Since the web editor assumes usage with p5, which can include lots of examples with long loops, i think it could be raised.

i think the downside of raising it is that it would be a longer delay for triggering the loop protection for cases when it

[2018-11-19 23:54] LakshSingla commented on #765
@catarak I have moved the discussion to the PR page. Please check it out for my concerns :)

[2018-11-20 00:03] kaidrumm opened #768 "Investigate accessible features accidentally being turned on"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Reproducible on Chrome and Firefox, I think it was happening on Safari as well.
- Operating System: MacOSX
- Steps to reproduce this:
One of my students is not able to use the p5js editor anymore, it seems to freeze every time he logs in. O

[2018-11-20 17:39] Vertmo opened #769 "Broken error messages"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Firefox 64.0
- Operating System: Manjaro Linux
- Steps to reproduce this:
It seems a recent commit has broken the error messages. When making an error in the sketch (for instance using an undeclared variable) no error message is shown in the

[2018-11-20 19:13] catarak commented on #768
Can you check if the accessibility features are turned on for that account? You can click on the Settings cog icon in the upper right, click on the "Accessibility" tab, and make sure that all of the checkboxes under "Accessible Text-Based Canvas" are all unchecked.

[2018-11-20 19:16] catarak commented on #769
The problem here is browser caching. I cleared the Cloudflare CDN caching, but this could be fixed in the long run by adding a chunkhash to the previewScripts.js output target in the webpack config.

[2018-11-20 19:18] Vertmo commented on #769
Are you sure about the caching thing ? Cause I just tested it with a browser I never even used the web editor with, and it's giving me the same error.

[2018-11-20 19:21] catarak commented on #769
Looking at #770, i think the caching could be related, but also what you changed as part of that PR is also contributing.

[2018-11-20 19:29] catarak commented on #769
yeah, makes sense! i made a massive change to the console since there was a bug in how the messages were getting serialized/deserialized, and tried to test it best i could.

[2018-11-20 23:15] #769 closed

[2018-11-20 23:53] catarak commented on #618
@fronofro i hear you, that's annoying! your request actually belongs in the p5.js repository itself, not the web editor repository, as `print()` is defined by p5.js.

[2018-11-21 13:48] bhawesh96 commented on #689
@catarak This issue can be closed.

[2018-11-22 02:12] slowizzm opened #771 "Encountering a"
- [ x] Found a bug

When I run this locally, everything works as expected.
One of my students ran into this problem and I have been able to reproduce it, only with his sketch. I wrote a version previously as an example and it runs fine, not sure why it's the case with his. I have even started from scratch as a new sketch and ended with the same result when I use his images. ...

Something is makin

[2018-11-23 01:51] slowizzm commented on #43
As an educator I would love to see this feature added in the near future. It would be nice to have a collection of lessons, student work, instructor examples, inspiration, my personal sketches, ect ...

By the looks of it, I'm just an echo ... just wanted to back this feature request.

[2018-11-25 23:36] carlaplotnicoff commented on #687
please I am a sttudent having the same issue! https://editor.p5js.org/carlaplotnicoff/sketches/SycQtp_pm

[2018-11-26 22:35] catarak commented on #689
@bhawesh96 thanks!

[2018-11-26 22:35] #689 closed

[2018-11-26 22:41] catarak commented on #771
i don't quite understand what the issue is here. i'm loading the sketch you linked, and it seems to load six different images, and when i hover over the image, it cycles through the images in a loop.

[2018-11-26 22:46] catarak commented on #43
@slowizzm it's useful to get feedback on issues that lots of folks want, so thanks!

[2018-11-26 23:01] catarak commented on #760
okay cool, thanks!

[2018-11-26 23:03] catarak commented on #687
@carlaplotnicoff thanks for the update! i see what the issue is and i think i know how to fix it.

[2018-11-27 00:01] slowizzm commented on #771
Yea, it acts as though it is working, but it's not, at least on my end, and I have tried from several different computers and browsers. Are you seeing the same image sequence in all three panels?

So, in the project folder I have images, and inside that folder I have 3 folders that each contain a different set of images. We should be seeing 3 different image sequences animating on the canvas. Curr

[2018-11-27 17:07] awaywiththespoons opened #772 "external libraries?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:
i am wondering about external libraries - it looks like this was once possible from this image:
https://scene.zeplin.io/project/55f7

[2018-11-27 17:16] catarak commented on #772
i wish this had already been implemented! it's a future feature, currently under #4.

[2018-11-27 17:16] #772 closed

[2018-11-27 19:19] catarak commented on #687
i think this has been fixed—let me know!

[2018-11-28 18:21] kleinesfilmroellchen opened #773 "Bug with template string code formatting"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:
After trying the text editor with a larger project I have written, I discovered the following: when using a template string of the form

```text(`Lives ${playerLives}\nStreak ${round(streak*10)/10}`, 0, 0); ```

(used to display game information in `draw()`) the code a

[2018-11-29 18:53] catarak commented on #773
thanks for reporting! it seems like this is something that codemirror supports, so maybe the version of codemirror needs to be updated. hopefully it's that and not something else.

[2018-11-29 18:54] catarak commented on #773
i made a custom syntax highlighting file for p5 (like, maybe two years ago), so maybe that needs to be merged with the newest javascript syntax highlighting file in codemirror

[2018-11-29 20:42] catarak commented on #448
hey y'all, i talked through this issue with @shiffman and @lmccart and i wanted to explain where we're at.

i feel strongly that it's a bad idea to implicitly transform the sketch to use static mode, because then, later on, a user has to learn that p5.js/javascript doesn't "normally" work like this. maybe this seems like a relatively easy thing to unlearn, but i think it's important that there is

[2018-11-29 20:47] francisli commented on #448
@catarak so the current implementation in the PR has it disabled by default- it can only be enabled with an environment variable. Is that acceptable for you to still merge in, or is the plan to decline it in favor of future explorations?

[2018-11-29 20:51] catarak commented on #448
i was just commenting on the PR—will answer there!

[2018-11-30 03:55] fronofro commented on #618
@catarak ok I will post it there

[2018-12-03 17:25] koji opened #775 "loadImage() Access-Control-Allow-Origin"
The first one got `Access-Control-Allow-Origin`, but the second one works.

[code]

[code]

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Chrome(the latest version)
- Operating System: MacOSX
- Steps to reproduce this:

#### Feature enhancement details:

#### New feature details:

[2018-12-06 23:03] catarak commented on #775
thanks for reporting this! the weird thing is that this only seems to happen the first time you run the sketch. when you re-run it, it works!

[2018-12-08 18:41] sarbu9 opened #776 "My sketch works except when offline using p5 library."
In this sketch I am using the camera on my computer. It worked properly in the web editor. I copied the code into a sketch file offline and I got an error.

Here is the code from my index file:

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"

[2018-12-09 00:22] prcoy opened #777 "Make console windows resize grab area larger."
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

Please make the grab area on top of the console window larger. It takes me two or three tries to get it and drag it upward. It seems to be only 1/2 pixel high. Two or three pixels would be great. Also, make it a contrasting color that would be more obvious.

[2018-12-11 19:53] catarak commented on #776
hi @sarbu9! do you mean using the web editor, not connected to the internet, or are you working on a sketch locally on your computer, using another text editor, e.g. sublime text or visual studio code?

[2018-12-11 19:54] catarak commented on #777
yes! i agree that this could be fixed.

[2018-12-11 21:37] catarak commented on #144
i think i actually have figured out a solution for this issue! the p5.js version could be an environment variable (storied in the Kubernetes secret) which gets set via a cron job which checks the version url, once a day probably. that sounds like i said a lot of buzzwords but it is a real solution.

[2018-12-12 07:44] affie888 opened #780 "Accessability"
#### Accessability for the Web Editor

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

- Web browser and version: Chrome 71.0.3578.80
- Operating System: MacOS Mojave version 10.14.1

#### I have partial vision (so I can see some) and have been coding for my Media 290 course at my university. I haven't gotten very familiar with coding yet, but I did want to explain

[2018-12-12 17:06] GaurangTandon commented on #777
I've worked on this and now the resize handle area looks like this:

![image](https://user-images.githubusercontent.com/6308683/49885816-36870780-fe5e-11e8-8cae-6abb596ae5d6.png)

As you can see there is a subtle additional grey shade over the existing grey console header, hovering over which reveals that it's meant to resize the panel (via cursor pointer).
By adding visible color and increasing t

[2018-12-12 18:13] catarak commented on #776
@sarbu9 the github issues for the p5.js web editor are for reporting bugs and suggesting features for the editor itself. this sounds like an issue with your code, and the best place to get help with that is the [processing forum](https://discourse.processing.org/). feel free to reopen this ticket if you think there's an issue with the web editor!

[2018-12-12 18:13] #776 closed

[2018-12-12 19:43] #777 closed

[2018-12-13 03:08] GaurangTandon commented on #777
Hey @catarak, I was wondering about this issue last night, and what do you think this fix instead? https://youtu.be/3YY85TImE-A

I still feel that the resizer could use some sort of visual indication as to what exactly its boundaries are, which would help the user in performing the resize. I myself spent first few seconds confused at where to exactly place the mouse. A black boundary, that reveals

[2018-12-13 04:18] GaurangTandon commented on #773
Hey @catarak, could you please tell which files need to be changed to fix this issue?  I'd love to help fix this issue. I looked all over the `client` directory and could not find the custom syntax highlighting file that you mention.

[2018-12-13 04:31] GaurangTandon commented on #709
Hello @catarak , I'd like to help fix this issue. Is anyone working on this already? Also, what is the minimum accessibility level you'd like to support, AA or AAA?

I plan to fix this by using darker shades of the same colors that were being used, so as to not alter the UI much, but if required, I'll change accordingly. I'll also post screenshots of my changes in my PR.

[2018-12-13 06:17] GaurangTandon commented on #568
@catarak Is anyone working on this issue? If not, then I'd like to take it up :) I plan to follow the advice given on [this post](https://superuser.com/questions/358855/what-characters-are-safe-in-cross-platform-file-names-for-linux-windows-and-os) for generating file names.

I plan to either:

1. generate file names based on the platform the user is using when they download the sketch (so same sk

[2018-12-13 19:45] catarak commented on #777
i like the experience, but i don't think the ui design fits with the overall design, because this same resize pattern would need to be added to all other resizable panes (the sidebar, the divider between the code and the preview). open to suggestion, but i'd like to see it thought out what it would look like in all of the resizers, and in all of the color themes.

[2018-12-13 19:50] catarak commented on #773
it's in `client/utils/p5-javascript.js`, which was forked from https://github.com/codemirror/CodeMirror/blob/master/mode/javascript/javascript.js, however that version is much newer. i would look at the last time `client/utils/p5-javascript.js` was updated, compare that to https://github.com/codemirror/CodeMirror/blob/master/mode/javascript/javascript.js as it was at that time, figure out what i c

[2018-12-13 19:54] catarak commented on #709
i don't think you'll have to change too many of the colors, and i would try to change as few as possible. the contrast theme was designed to pass the appropriate guideline, however, some color values haven't been set in the right way, and some newer colors got added that don't pass (e.g. in the console).

[2018-12-13 19:58] catarak commented on #568
i suggest the latter. i don't think it makes sense to change the sketch titles as they are in the editor, other than giving them a length limit; rather, i think the sketch titles should be escaped only when they are downloaded and translated to the name of a zip file, as this is the only time the sketch title affects this.

[2018-12-14 19:50] catarak commented on #568
The zip file is generated on the fly, so when a browser window requests that url, it generates the zip file. The entry point, server-side, is here: https://github.com/processing/p5.js-web-editor/blob/master/server/controllers/project.controller.js#L332

[2018-12-15 04:38] GaurangTandon opened #785 "npm audit finds 1084 vulnerabilities as many package.json dependencies are outdated"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

Running `npm start` gave 1084 vulnerabilities. So I ran `npm audit`, which gave a full report. The gist goes as:

    found 1084 vulnerabilities (839 low, 167 moderate, 74 high, 4 critical) in 26554 scanned packages

Now, I did fix some of them by running `npm audit fix`, however, I would like it

[2018-12-15 06:44] GaurangTandon commented on #568
So, the problem here is that the first part of the file name (before the timestamp) is generated using [`slugify`](https://www.npmjs.com/package/slugify), which is too restrictive in what it allows. I noticed that even Chinese characters, which are perfectly valid in both URLs ([example URL](https://www.key-shortcut.com/en/writing-systems/%E6%96%87%E5%AD%97-chinese-cjk/cjk-characters-1/)) and file

[2018-12-15 15:13] CranShawdy opened #789 "Sorting sketches"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### New feature details:

How about sorting sketches which are present in file/open/ via Sketch(name), Date created or Date updated values?

[2018-12-17 07:31] dhowe commented on #417
when new students don't even get basic error messages on mistakes, it is sort of beside the point whether performance is good or not, as they will quickly give up or move on to another tool

this seems absolutely critical from my (teaching) perspective...

[2018-12-17 14:05] nanaosakisan opened #790 "Save/refresh issue"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: Firefox Version 64.0 (and the lastest version of Chrome)
- Operating System: MacOs Sierra Version 10.12.6
- Steps to reproduce this: don't save/refresh code's modifications when I try to run the program.

[2018-12-17 17:30] catarak commented on #568
there are TWO issues here, not just one:
- [ ] sketch names need a maximum length
- [ ] file names need to work with Mac/WIndows/Linux/etc file systems.

[2018-12-17 17:59] catarak commented on #789
thanks for reporting, and great idea! i think this is covered in #390 but i think it also makes sense to break this out into its own ticket as you have done.

[2018-12-17 18:00] catarak commented on #417
i hear you @dhowe. i agree this should be added soon!

[2018-12-17 19:07] catarak commented on #790
thanks for reporting @nanaosakisan! can you be more specific about how to reproduce this bug? for example, by listing out a few steps? i don't understand what the bug is.

[2018-12-18 13:07] nanaosakisan commented on #790
I can't tell you step by step how to reproduce the bug. If I change my code (like add a variable named "test" for example), and save the change, when I want to run the program, an error notify appears and tells me that the variable "tes" doesn't exist. If I refresh the page, I can see that the variable I created before is named "tes", so not correctly.

If I don't save the change, the bug doesn't

[2018-12-18 15:05] LakshSingla commented on #390
@catarak I would like to work on #789 but I am unable to get to the above screens. https://editor.p5js.org/ seems to open a sketch for me automatically. Can you please guide which steps to take to reach to this screen?

[2018-12-18 15:19] shiffman commented on #790
I have noticed some odd behavior like this after the fix for #675 was published. I think this may be related? I meant to file this a few days ago, but I forgot. You can see the trouble I was having here:

https://youtu.be/pKyU92cza0Y?t=1978

I will investigate a bit more!

[2018-12-20 22:38] catarak commented on #568
1. I looked at some other online code editors for limit lengths:
    - CodePen: no length limit
    - glitch.com: 51 characters
    - jsfiddle: 256 characters
    - Codesandbox: no length limit

256 seems like it's a good starting point? maybe smaller than that makes sense?

2. I think this check should be done both client and server side—on the server this would be done in models/project.js, and

[2018-12-20 22:40] catarak commented on #390
Here are the rendered screens: https://scene.zeplin.io/project/55f746c54a02e1e50e0632c3

If you need exact measurements and colors, I can add you to the zeplin project!

[2018-12-20 22:51] catarak commented on #738
@ktheu thanks for the update! i'm still not able to reproduce. how long do you have to wait? are you able to open the developer tools and see any other errors?

[2018-12-21 03:14] GaurangTandon commented on #568
On an average use case, I think names would be like `Lab 25th January 2019 - Demonstrating recursive functions with colors` that's about 60-70 characters. Thus, at max, even 128 chars seems more than enough for most cases. However, before setting out to impose a limit, I would first want to make sure what percentage of existing sketches would be impacted by this length limiting, and minimize the d

[2018-12-21 06:58] ktheu commented on #738
@catarak error appears roughly after one second after moving the mouse. Yes there are other errors in the developer tool:

[code]

[2018-12-21 14:52] shiffman commented on #790
I encountered this bug again this morning. I still cannot determine what exactly is causing it and I don't see anything in the console output. But in case this is helpful,  here is the sketch:

https://editor.p5js.org/codingtrain/sketches/SJMl3u5xN

This is what  I am doing:

1. Editing lines 35 and 38 to switch `add()` to `push()`.
2. Manually saving with command-s.
3. Run sketch.
4. Error: `Unca

[2018-12-21 14:53] shiffman commented on #790
(Update I restarted browser and was able to save the change)

[2018-12-21 17:04] catarak commented on #568
let me do a query on the db...

[2018-12-21 17:30] catarak commented on #738
ahhhhh that is super helpful! this is related to an error with the [p5.accessibility library](https://github.com/processing/p5.accessibility). if you click on the cog settings icon in the upper right, then click on the tab "accessibility", are any of the boxes checked under "accessible text-based canvas"?

[2018-12-21 17:31] catarak commented on #790
thanks for the updates! i'm going to dig into this.

[2018-12-21 17:40] ktheu commented on #738
Yes, the plain-text and table-text boxes were checked (don't know why).The plain-text box check causes the error.
I will use the Editor with all boxes unchecked. This will work for me. Thanks.

[2018-12-21 17:43] catarak commented on #738
i think there's a keyboard shortcut that folks are incidentally pushing and turning on the accessibility options, since this has been coming up a lot. will investigate!

[2018-12-21 18:04] catarak commented on #790
i think what's happening here is inconsistency between what's in the editor, what's in the redux store, and what's on the server. when a sketch is saving, and then a user changes the editor, i think it's not getting into sync properly, and maybe the change i made is just exposing this.

[2018-12-22 09:57] GaurangTandon commented on #568
Perfect, I'll try and get the length limit of 256 added into the code!

[2018-12-23 16:45] LakshSingla commented on #390
@catarak Would this design be possible ? Considering that "Open" comes from `Overlay.jsx` whereas the `Sketches|Collections|Files` would have to be implemented in the `SketchList.jsx`

[2018-12-24 00:35] dlefur opened #794 "Using "My assets""
#### Nature of issue?

- New feature request

#### New feature details:

Hello, I don't find explanation about how to use "My assets". I did see all my imported files, but I don't know how to use them in other sketches, without duplicating.
Thanks.

[2018-12-25 20:18] chrisorban opened #795 "Unable to move scroll bar with the mouse"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: Firefox (Quantum 64.0) and Chrome (62.0)
- Operating System: Ubuntu Linux 16.04
- Steps to reproduce this bug:

With any sketch try to click and drag the scroll bar with the mouse. Here is a video demonstrating it with firefox:

https://drive.google.com/file/d/1stXsZCo4FmCeW-rLaerawsmBS87WhK1a/view?usp=sh

[2018-12-27 18:59] whoisc-whoisa opened #796 "Embedding a sketch which uses webcam to another website via iframe. [ml5js]"

[2018-12-27 19:04] #796 closed

[2018-12-27 19:06] ailgun opened #797 "Embedding a sketch which uses webcam to another website via iframe. [ml5js]"
Hello,

I'm trying to embed a sketch which utilises tensorflow.js and ml5js [after watching Daniel Shiffman's lovely tutorial!] but it seems it doesn't work cause it uses webcam.

Here is the sketch I'm trying to embed to another website via iframe. https://editor.p5js.org/ailgun/full/ry6qqlZ-4

I've followed the example here and it works on sketches that doesn't use webcam;
 http://cmuems.com/201

[2018-12-28 06:12] lishap opened #798 "Share>Fullscreen>Open vs fullscreen link, NO SOUND"
#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Chrome 71.0.3578.98
- Operating System: Mac OSX High Sierra 10.13.6 (17G65)
- Steps to reproduce this bug: Try to play in fullscreen.

My sketch will not play sound when I use the link to copy and paste into the browser address bar. However, if I click open from the share fullscreen menu or play the sketch

[2019-01-06 17:08] anuraghazra opened #799 "Custom CSS Scrollbars to make the UI more seamless"
- Existing feature enhancement
## New Scrollbars
![p5web](https://user-images.githubusercontent.com/35374649/50739221-18b18600-1203-11e9-97ef-8315e72fd309.png)

#### Feature enhancement details:
If those ugly scrollbars can be replaced with more Sleek looking (small) scrollbars then it will improve the UX and also those default scrollbars are HUGE in width which makes less room for other stuff.

i

[2019-01-07 09:12] GaurangTandon commented on #799
I can work on this issue. As far as I understand, resizing scrollbars or changing their colors is [supported](https://caniuse.com/#search=scrollbar) on all major desktop browsers (Firefox out of the box, all others with prefix `-webkit-`) except Edge.

Can a maintainer please describe exactly what color changes they would like, or should I submit an initial draft first?

[2019-01-07 09:18] GaurangTandon commented on #789
@catarak I can work on this issue. Can you please describe what files need to be edited? Also, do you have a UI in mind?

[2019-01-08 13:00] himanshuc3 opened #800 "Integrating prettier for uniform code formatting."
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- [x] New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-01-08 16:55] Lawlzer opened #801 "Line 0 error (iOS Only)"
#### Nature of issue?

- Found a bug and Existing feature enhancement

#### Details about the bug: Whenever I make an error in the code (bug, error, typo, **anything**), it gives me a weird error: """Script error.  (: line 0)""" and it only happens on iOS, never on Chrome/a computer, and persists after restarting, new program, anything, and has always been this way.

- Web browser and version:  Sa

[2019-01-08 22:42] catarak commented on #390
@LakshSingla sorry for the delay on this—got busy and sick over the holidays. i can add you do the zeplin project. do you have a zeplin username? if not, i can invite you via email—feel free to email me your email address!

[2019-01-08 22:50] catarak commented on #794
Hi @dlefur! As of right now, you can't move your assets across multiple sketches. This is a feature of the web editor that's not totally built out, to be able to manage your assets outside of a specific sketch. There are open issues about it, see #498, #393, #673, #168, #225.

[2019-01-08 22:50] catarak commented on #794
I'm going to close this as it's a duplicate of #225, but feel free to reopen if you think that's not right.

[2019-01-08 22:50] #794 closed

[2019-01-08 22:58] catarak commented on #795
thanks for reporting! the videos are really helpful. i do know what is causing this—i had messed with the UX for the pane resize dragger a couple of weeks ago, and didn't notice this bug as i always use two finger drag to scroll.

[2019-01-08 23:02] catarak commented on #797
thanks for reporting! is the website you are trying to embed the sketch on https as well?

[2019-01-09 00:06] catarak opened #802 "Add link to embed view (fullscreen, without header) to share modal"
#### Nature of issue?

- Existing feature enhancement

#### Feature enhancement details:

Currently, the Share Modal links to an edit view, fullscreen view, and an embed iframe element. This should also include a embed view, without a header, which is what the embed iframe renders.

[2019-01-09 00:34] catarak commented on #801
thanks for reporting! i'm also able to reproduce this on desktop safari. a lot of changes have been made recently to the console, so i assume it's related to those. will investigate!

[2019-01-09 04:31] anuraghazra commented on #799
@catarak I'm currently using latest chrome in windows.

[2019-01-10 19:57] catarak commented on #799
thanks @anuraghazra! i think this issue is way more relevant on windows/linux as on mac os the scrollbars are fairly minimal.

[2019-01-11 11:03] whyeverwhy commented on #797
Hey,

Heck, thanks very much! - how silly I missed the most crucial element! Fixed in like 5 mins :-)

[2019-01-11 18:05] chad187 commented on #276
I am getting that same error with https. I am running it with node 11.6 and express 4.16.4
here is my code
![f2](https://user-images.githubusercontent.com/8450028/51051291-3dea1f80-1588-11e9-9707-c6924b85b823.GIF)
![f3](https://user-images.githubusercontent.com/8450028/51051292-3dea1f80-1588-11e9-8dda-0d6ed7b6521b.GIF)
![f1](https://user-images.githubusercontent.com/8450028/51051294-3dea1f80-1588-

[2019-01-11 20:36] catarak commented on #276
@chad187 i think this is because you're not including the p5.sound library in your index.html. also, the issue you posted isn't related to the web editor, so i recommend posting it to https://github.com/processing/p5.js if you think there is an issue with p5, or to the [processing forum](https://discourse.processing.org) if you're having an issue with using the library.

[2019-01-11 20:37] catarak commented on #797
@whyeverwhy glad that fixed it! also are you the same person as @ailgun? just want to make sure this is totally cleared up.

[2019-01-12 08:44] whyeverwhy commented on #797
It was a friends account which I realised that was still logged on after I posted the issue - then I closed it. Sorry!

[2019-01-13 09:40] limzykenneth opened #803 "p5 Accesibility error halt execution"
#### Nature of issue?

- Found a bug

#### Details about the bug:
The code execution on the page halts because of an error thrown by p5-accessibility.js which doesn't seem to work on Safari.

- Web browser and version:  Safari 12.0.1
- Operating System:  macOS Mojave
- Steps to reproduce this bug:
Code to reproduce:
[code]
Error:
[code]

Because of #801 it only shows as `Script error. (: line 0)`

[2019-01-13 13:06] LakshSingla commented on #802
I am unable to understand 'embed view, without a header'. Should one include `iframe` to display the content ? If so, what does 'without a header' imply.

[2019-01-13 13:57] shiffman commented on #790
I taught a workshop and ran into this issue a few times with attendees. I unfortunately noticed that from time to time it also does not render the code in the editor but from the last save (I think). Very mysterious! I am able to reproduce it more consistently with auto-save on, I recorded a screen capture here:

https://youtu.be/rhtIYnHICCs

Note [at 46 seconds](https://youtu.be/rhtIYnHICCs?t=46)

[2019-01-13 18:54] LakshSingla commented on #390
@catarak Lemme create a layout for the modal, then I will move onto the styling part of it. I am doubtful of this design. (Refer to my comment above, quoted below)

[2019-01-13 19:18] LakshSingla commented on #760
@catarak I was finally able to setup Google OAuth for a local setup. Instead of using `email` as the value, we can use `displayName`(after formatting) as the user value. In case it is not present (generally in university emails where there is no point of hiding the email address), we can default to `email`.
This is a better alternative (and offers some protection) than naively showing private emai

[2019-01-14 17:24] jpgargoyle opened #804 "keyIsPressed has wrong value on fist try."
#### Nature of issue?

- Found a bug

#### Details about the bug:
I have a sketch where I do an action whenever I click a mouse button. I also check to see if there is a key pressed, to perform the opposite action.
The problem is that, the fist time I click the mouse, the **keyIsPressed** var always has **false**, even though I am pressing a key. All the other tries during that run work well, exce

[2019-01-15 16:50] LakshSingla commented on #773
@catarak It is not an issue of the version. I migrated it to the latest version in the CodeMirror repository. They also have many issues with template string formatting (judging from their Issues tracker). But that is not the problem here because their code does not reflect this issue.
The main issue with this code is usage of `p5function` . I am attaching a screenshot of the cases in which it pos

[2019-01-15 21:48] catarak commented on #803
thanks for reporting! i just took a look at the [documentation for createStereoPanner](https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/createStereoPanner) and it seems like it's not supported on Safari. i'm going to move this issue over to there, however, yes, this issue does point to the existing issue covered in #801.

[2019-01-15 21:51] catarak commented on #803
see https://github.com/processing/p5.accessibility/issues/144

[2019-01-15 21:51] #803 closed

[2019-01-15 21:56] catarak commented on #790
thanks @shiffman—hopefully i'll figure out how to reproduce this!

[2019-01-15 21:57] catarak commented on #390
@LakshSingla there is already a design, so there is no need to make one.

[2019-01-15 22:04] catarak commented on #804
@jpgargoyle thanks for reporting! i'm assuming you're running this in the web editor. i think this is related to #654. the first time you click the mouse, the iframe is getting focus, so it makes sense that `keyIsPressed` would be false, because that event wasn't executed in the context of the iframe.

[2019-01-15 22:05] catarak commented on #773
@LakshSingla thanks for digging into all of this!

[2019-01-15 22:21] daaain opened #806 "Web Editor welcome experience"
#### Nature of issue?

- New feature request

#### Feature enhancement details:

I found P5.js via a Mozilla blog post: https://blog.mozilla.org/blog/2019/01/03/moss-2018-year-in-review/

In which it's described as:

So I opened https://p5js.org/ and after reading the intro clicked on the link on the bottom to try the Web Editor.

What I was expecting is maybe some tutorial but definitely somethin

[2019-01-16 00:36] catarak commented on #806
@daaain i think this is a great idea! the web editor has mostly been used in conjunction with curricula/workshops/classes/etc. which has served this purpose. i made a [video](https://www.youtube.com/watch?v=x1rJJRVTpAI) that walks through the basic features, and i know @shiffman has made a few one-off shorter videos that show off features of the editor as well.

if you have ideas/reference please

[2019-01-16 00:40] hellonearthis opened #807 "Accessibility - contrast"
#### Nature of issue?
The gray on gray doesn't have enough contrast.
![screenshot_8](https://user-images.githubusercontent.com/121805/51219109-3796e180-1994-11e9-97c1-7397cd3894fa.jpg)

#### Feature enhancement details:
Let users define their own colour palettes for the editor

[2019-01-16 06:02] LakshSingla commented on #390
@catarak Sorry for the misunderstanding. By layout I meant basic React layout.

[2019-01-16 10:54] jpgargoyle commented on #804
Thank you @catarak .

I understood the explanation.
The this.focus(); at the beginning of the sketch solved the problem for me.
So, I am going to close this issue.

Thanks a lot.

[2019-01-16 10:54] #804 closed

[2019-01-16 13:41] LakshSingla commented on #806
I totally second this part. I also completely missed that arrow.

[2019-01-16 14:06] shiffman commented on #806
I agree with all of the thoughts above! A model for this might be the Processing "Getting Started" tool created by @jaewhyun as part of last year's Google Summer of Code. For more, you can read her medium post [Making the Processing Development Environment Better for Beginners](https://medium.com/processing-foundation/making-the-processing-development-environment-better-for-beginners-a43302952f18)

[2019-01-16 14:08] LakshSingla opened #808 "Cannot read property _id of null"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Saving the client side code causes `nodemon` to restart, but crashes due to a MongoDB error, which can be rectified. I have seen an open PR about this issue. It causes slow development cycles (especially in case of client side code where frequent iterations are required, and undermines the whole point of using `nodemon`. It would be

[2019-01-16 16:49] catarak commented on #808
it's crashing because you didn't run the script that fetches the p5 examples—please run `npm run fetch-examples` and see if that fixes it.

[2019-01-16 16:49] #808 closed

[2019-01-16 16:51] catarak commented on #390
@LakshSingla i would just ignore the Sketches | Collections | Files header for now, and make it just "Sketches", since the other features are not yet implemented.

also, my email address is in my github profile!

[2019-01-16 17:32] catarak commented on #800
this is already integrated in the editor, though perhaps a bit hidden! if you go to help -> keyboard shortcuts you'll see that the shortcut is shift + tab.

[2019-01-16 17:32] #800 closed

[2019-01-16 17:35] #802 closed

[2019-01-16 22:56] #785 closed

[2019-01-17 18:06] catarak commented on #806
i think the focus would be the online editor, though it would be impossible to leave the basics of p5.js out. the current landing page for explaining the basic concepts of p5.js is hello.p5js.org

[2019-01-18 01:00] hellonearthis commented on #806
I like the "Making the Processing Development Environment Better for Beginners" article.
The welcome to processing model would make a very good interactive guide.
_I also think the reference tool is also very nicely formatted._

The hello.p5 would  be cool as a p5 editor interactive video.
It would take less work to build than having something integrated into the p5 editor.

Having better tooltips

[2019-01-18 21:41] catarak commented on #806
@hellonearthis let me know if you run into issues, and it's okay if the PR(s) are small! one fixed tooltip is better than no fixed tooltips 😸

[2019-01-20 13:44] migom6 commented on #695
Is anyone currently working on this issue?

[2019-01-20 15:48] LeroySalih commented on #714
I've also hit this issue.  Very poor performance when running in Chrome, mac osx.  But for me, the difference is whether I'm logged in or not.

If I log out and run the following sketch by pasting the URL

https://editor.p5js.org/LeroySalih/sketches/HyjSeBiJN

The sketch runs perfectly.

If I then log in, and re-run the sketch,  performance drops dramatically.    This happens whether I'm in incogn

[2019-01-21 00:48] hellonearthis opened #811 "Docker image little problem."
#### I am using the docker development environment.  Which is really nice apart from nodemon not working and having to restart after changes, but that's ok really as I have a problem with loading svg and sound in the popup windows like preferences (no + - or sound) and add files/folders having no exit as the X didn't load.

- Found a bug

#### Details about the bug:

- Web browser and version: Chr

[2019-01-21 10:14] hellonearthis opened #813 "Service workers and PWAs"
I've just been trying to add a service worker to try and make a PWA in the P5js Editor.
https://editor.p5js.org/hellonearthisman@gmail.com/sketches/fwp_5jja3 has the code to setup the service worker.  I tried putting the code in the index.html and in the sketch setup.
I get this error (seen in console in present mode https://editor.p5js.org/hellonearthisman@gmail.com/present/fwp_5jja3 )

Any tips

[2019-01-21 16:39] ultrano opened #814 "save"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2019-01-22 19:49] LakshSingla commented on #390
@catarak I have mailed you my e-mail id ..

[2019-01-25 16:32] nucliweb opened #816 "Hello P5: Song example playing song with Right Button"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:
-- Chrome 71.0.3578.98
-- Firefox 64.0
-- Safari 12.0.2
- Operating System:  MacOSX Mojave 10.14.2
- Steps to reproduce this bug:
-- Open example **Hello P5: song**
-- Click with the right button
-- You can hear the sound and see the context menu
-- If you click out of context menu, the menu disappears bu

[2019-01-25 17:04] nucliweb commented on #813
Hi @hellonearthis

You define the sw.js file at the root of the site, but your file isn't in the root.

You need to add the **scope**
[code]

You can read about this in [ServiceWorkerContainer.register()](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerContainer/register)

[2019-01-25 19:13] catarak commented on #695
@migom6 nope! go ahead and work on it if you'd like.

[2019-01-25 19:14] catarak commented on #714
i'm thinking this maybe has to do with the accessibility features being turned on. it seems like a lot of folks are accidentally turning them on and seeing strange behavior.

[2019-01-25 19:18] catarak commented on #811
thanks for reporting! i don't have any experience developing on windows so i could use your help and patience. i'm wondering if this has to do with file system differences on mac/linux and windows...

[2019-01-25 20:09] catarak commented on #816
hi! thanks for reporting. the p5 examples are in [p5 website](https://github.com/processing/p5.js-website) repository. i'll move this ticket over there 🌈

[2019-01-25 20:11] catarak commented on #816
copied as https://github.com/processing/p5.js-website/issues/380

[2019-01-25 20:11] #816 closed

[2019-01-25 20:22] catarak commented on #811
i'm not sure about the SVGs not loading, but i think this is the issue for windows: https://stackoverflow.com/questions/39239686/nodemon-doesnt-restart-in-windows-docker-environment

can you try changing the `start` script in the `package.json` to add `-L` after `nodemon`, i.e. `cross-env BABEL_DISABLE_CACHE=1 NODE_ENV=development nodemon -L index.js`

[2019-01-25 20:43] #773 closed

[2019-01-25 20:44] catarak commented on #813
@hellonearthis do you mean add a service worker to a specific sketch, or to the entire web editor application?

[2019-01-25 20:58] catarak commented on #390
@LakshSingla just invited you!

[2019-01-26 04:59] hellonearthis commented on #813
Thanks @nucliweb I till try that out this afternoon,  I guess the scope of the png will also be addressed in the same fashion.

@catarak I was trying to a sketch into a PWA application but would love to see the entire web editor as a PWA but that would be difficult i think due to so many cloud resources being used.

[2019-01-26 19:40] siddharthshah3030 commented on #795
#818
tried to fix this by changing display properties of resizer
if you want further enhancement or other modification to this issue then tell me

[2019-01-26 19:40] siddharthshah3030 commented on #795
#818

[2019-01-27 18:08] LakshSingla commented on #390
@catarak Thanks!!
One question though: Which endpoint do I need to query to get the sketch's preview? (First column)

[2019-01-28 17:56] catarak commented on #390
@LakshSingla don't worry about the thumbnail! that's not implemented yet.

[2019-01-29 09:58] siddharthshah3030 commented on #745
@catarak
I would like to solve this issue but can't figure out how to approach
I tried modifying the file mentioned by @bhawesh96
and tried changes in CSS attributes
but it didn't seem to work for me
I'm using chrome (Manjaro Linux)

[2019-01-31 07:38] hellonearthis commented on #811
Will try that out,  I am guessing the when using the docker image on a Mac there are no graphic issues.
Been kind of busy to test this and to learn the finer details of docker, so won't get to try this out until next week.

[2019-02-01 20:11] LakshSingla commented on #390
@catarak Sorry for the delayed update. I am still working on the issue

[2019-02-03 22:28] maartenwijntjes opened #820 "P5 example "Typography: word" not working"
The example https://editor.p5js.org/p5/sketches/rJZlz4ly7_m gives this error message:

Seems weird because
1) The link works
2) The actual link in the code is to the asset folder, which also contains a font

[2019-02-04 19:54] LakshSingla commented on #725
This seems to be working now, although the CodeMirror shows a linting error. Should a separate issue be created for it ?

[2019-02-04 19:55] LakshSingla commented on #745
Can you tell some key areas where you have modified the code so that I can take a look at it ?

[2019-02-05 19:32] L05 commented on #790
I'm helping @REAS teach a class right now and we've had multiple students also encountering this issue (5+ within the past hour). It's happened to me as well; I'm having a hard time reproducing it consistently, but the behavior is very similar to what @shiffman has experienced in his screen captures. I'll update if I can find a reliable test case.

[2019-02-05 20:04] bengrosser commented on #790
I am seeing a version of this a lot over the last week.

The symptom for me is that in the middle of writing code (or possibly also when running code), the source code in my editor pane instantly reverts to an older version, wiping out whatever changes I made in the last X minutes.

If I had that latest code running in the preview pane when this happens—and I didn't have auto-refresh turned on—the

[2019-02-06 14:46] andytilia opened #821 "recover a possible lost file?"
I'm a teacher with students using the p5.js web editor. She lost a file from "My Sketches". We've done standard troubleshooting to get it back, with no luck.  I won't dismiss that it could be due to user error, so I don't want to send anyone on a wild goose chase -- just want to see if is this an issue already reported or any known recovery steps? Thanks in advance - Andy

[2019-02-06 16:34] limzykenneth commented on #820
From what I can tell it seems there's something wrong with the font, can you try another one see if that works?

[2019-02-06 16:36] jaytay579 commented on #821
I also have just encountered this error twice in a row. I saved a sketch and suddenly the code reverted to a previous version. I then added a lot more code to the sketch and things worked fine, but as soon as I introduced an error into the program, the code again reverted -- this time to the previous version of the code that had been lost in the prior reversion! So, there definitely seems to be a

[2019-02-06 17:27] anuraghazra commented on #790
@shiffman @catarak I think I figured out how to recreate the bug consistently here are the steps (maybe won't work on your pc) - Auto-refresh is off

***NOTE : i suspect that timing is really important in here, and i think this bug is causing differently on different Internet Speeds and throttles***

1. Create New Sketch
2. firstly Save (ctrl + s) wait for the `Project Saved` and `Autosave enabled

[2019-02-06 19:55] shiffman commented on #821
I think this may be related to #790? Thanks for your patience, I can imagine how frustrating this could be and hopefully we'll be able to sort out the bug, it may be a little while though... feel free to reach out anytime if I can help in any way.

[2019-02-09 13:22] meiamsome opened #822 "Leaking User secrets (Encrypted password and verification tokens) to the user"
#### Nature of issue?
- Found a bug
#### Details about the bug:
The PUT /api/account route leaks the user's encrypted password & validation tokens to the user. In particular, this means a user can verify an email address without owning the email address.

- Web browser and version: *
- Operating System:  *
- Steps to reproduce this bug:

Update your user account and check the response data.

[2019-02-09 14:15] meiamsome opened #824 "Prop Drilling vs. Redux"
#### Nature of issue?
- Question about the source code

Hello,
I was wondering why there is plenty of prop-drilling from the root-level components down, even when sub-components are connected to redux. For example IDE and Nav components are both connected, but IDE passes down a lot of the properties manually. This leads to very verbose code that can be hard to read in my opinion and means that I s

[2019-02-09 16:15] lobertrand opened #825 ""Add file" and "Add folder" don't work in side menu"
The "Add file" and "Add folder" options aren't working for me from the side menu.

#### Nature of issue?
- Found a bug

#### Details about the bug:

- Web browser and version: Google Chrome | 71.0.3578.98 (Build officiel) (64 bits) (cohort: Stable)
- Operating System: Windows 10
- Steps to reproduce this bug:
  - Click on the ">" right arrow to open the side menu
  - Click on the "v" down arrow an

[2019-02-10 11:33] Fupete commented on #753
A kudo from me also on a "git" repository sync feature! Your thread is from November I don't know if there is some updates however my 10 cents: I taught a uni/student workshop yesterday about P5 & Open Source and we shared with the students a vision in which this new incredible sketch editor could be in sync when needed via a classic add/commit/push/pull git workflow with a git repo somewhere (git

[2019-02-10 20:52] farhan787 commented on #825
Both "Add file" and "Add folder" are working fine from the side menu. I think you may have some other issues like internet connection or it may be a browser issue.

[2019-02-11 14:27] sanketsingh24 opened #826 "p5 version not updated"
#### Nature of issue?

- Found a bug

#### Details about the bug:
Probably the version on web editor is somehow still v0.7.2, while the current p5 version is v0.7.3.

- Web browser and version: chromium 71.0.3578.98  
- Operating System: Arch Linux (64-bit)
- Steps to reproduce this bug:
use `circle()` or `square()` (For some reason i was not able to log in)